.bg-white {
  background-color: $white;
}

.bg-light-purple {
  background-color: $light-purple;
}

.bg-light-gray {
  background-color: $light-gray !important;
}

.bg-night-black {
  background-color: $night-black;
}

.bg-purple {
  background-color: $purple;
}