.bg-white {
  background-color: $white;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-faded-gray {
  background-color: $faded-gray;
}

.bg-forest-green {
  background-color: $forest-green;
}

.bg-purple {
  background-color: $purple;
}