@mixin screen-xl {
	@media (max-width: $media-xl) {
		@content;
	}
}

@mixin screen-lg {
	@media (max-width: $media-lg) {
		@content;
	}
}

@mixin screen-md {
	@media (max-width: $media-md) {
		@content;
	}
}

@mixin screen-sm {
	@media (max-width: $media-sm) {
		@content;
	}
}

@mixin screen-xs {
	@media (max-width: $media-xs) {
		@content;
	}
}

html {
  scroll-behavior: smooth;
}

.navbar-toggler {
  outline: none !important;
}

.navigation-sticky {
  position: sticky;
  top: 0;
  z-index: 999 !important;
  background-color: white;
}

.display-none {
  display: none !important;
}

.btn-nav {
  font-family: 'Mulish', sans-serif !important;
  letter-spacing: 1px;
  padding: 8px 16px;
}

.nav-link {
  color: $sherpa-blue !important;
  font-family: 'Mulish', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;
  text-transform: lowercase;
  text-align: center;

  &::first-letter {
    text-transform: capitalize;
  }
  &:hover {
    opacity: 0.9;
    text-decoration: none;
    color: $bondi-blue !important;
  }

  &:focus {
    box-shadow: none;
  }
}

.text-decoration-red {
  text-decoration: underline;
  text-decoration-color: #EE5E5E;
}

.vertical-align-middle {
  vertical-align: middle !important;
}

.darken-effect:hover div {
  filter: brightness(95%);
  transition: all 0.5s ease;
}

.text-transform-none {
  text-transform: none !important;
}

.text-italic {
  font-style: italic !important;
}

.text-transform-capitalize {
  text-transform: capitalize !important;
}

.text-capitalize {
  text-transform: lowercase !important;

  &::first-letter {
    text-transform: capitalize !important;
  }
}

.pricing-info-icon {
  color: white;
  border: 1px solid #A6C4D5;
  border-radius: 50%;
  background-color: #A6C4D5;
}

.nav-margin {
  margin: 8px;

  @media (min-width: 990px) and (max-width: 1200px) { 
    margin: 8px 0px;  
  }

  @include screen-md {
    margin: 0px;
  }
}

.image-style {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.width-fit-content {
  width: fit-content !important;
}

.height-fit-content {
  height: fit-content !important;
}

.datacenter-image {
	width: 100%;
	height: 100%;
  object-fit: contain;
  max-width: 670px;
}

.img-hor {
  transform: scaleX(-1);
  filter: FlipH;
}

.border-none {
  border: none !important;
}

.border-light-grey {
  border: 1px solid #CDE2EE !important;
}

.content-center {
  display: flex;
  justify-content: center;
}

.section-divider {
  height: 4px;
  width: 60px;
  border-top: 4px solid $bondi-blue;
  margin-bottom: 16px;
}

.plan-custom-width {
  max-width: 50%;
  padding-left: 15px;
  padding-right: 15px;

  @include screen-sm {
    max-width: 96%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.plan-box-padding {
  padding: 35px;

  @include screen-sm {
    padding: 25px;
  }
}

.text-white {
  color: $white;
}

.text-wrap {
  text-wrap: wrap !important;
}

.text-air-force-blue {
  color: $air-force-blue !important;
}

.text-bondi-blue {
  color: $bondi-blue !important;
}

.text-ocean-blue {
  color: $ocean-blue !important;
}

.text-yellow {
  color: $yellow !important;
}

.text-light-red {
  color: $light-red !important;
}

.text-light-green {
  color: $light-green !important;
}

.text-sherpa-blue {
  color: $sherpa-blue !important;
}

.text-sun-yellow {
  color: $sun-yellow !important;
}

.text-cerulean {
  color: $cerulean !important;
}

.text-slate-gray {
  color: $slate-gray !important;
}

.text-dark-cyan {
  color: $dark-cyan !important;
}

.text-forest-green {
  color: $forest-green !important;
}

.text-faded-black {
  color: $faded-black !important;
}

.text-black {
  color: $black !important;
}

.text-soft-gray {
  color: $soft-gray !important;
}

.text-dust-gray {
  color: $dust-gray !important;
}

.text-underline {
  text-decoration: underline;
  font-family: 'Mulish', sans-serif;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-first-capitalize {
  text-transform: lowercase !important;

  &::first-letter {
    text-transform: capitalize !important;
  }
}

.text-lowercase {
  text-transform: lowercase !important;
}

.underline-none {
  text-decoration: none !important;
}

.outline-none {
  outline: none !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.overflow-visible {
  overflow: visible !important;
}

.container-ml-spacing {
  margin-left: 15% !important;

  @include screen-md {
    margin-left: 5% !important;
  }
}

.hide-scrollbar::-webkit-scrollbar {
      width: 0;  /* Remove scrollbar space */
      height: 0;
      background: transparent;  /* Optional: just make scrollbar invisible */
}

.overflow-x-scroll {
  overflow-x: scroll !important;
  scrollbar-width: none !important;
}

.fw-bold {
  font-weight: bold !important;
}

.fw-light {
  font-weight: 300 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.overflow-x-hidden {

  @include screen-md {
    overflow-x: hidden !important;
  }
}

.text-line-through {
  text-decoration: line-through;
}

.mt-large {
  margin-top: 110px;
  @include screen-md {
    margin-top: 50px;
  }
}

.mt-150 {
  margin-top: 150px !important;
  @include screen-md {
    margin-top: 60px !important;
  }
}

.mt-80 {
  margin-top: 80px !important;
  @include screen-md {
    margin-top: 20px !important;
  }
}

.mt-badge-iso {
  margin-top: 130px !important;
  @include screen-md {
    margin-top: 20px !important;
  }
}

.mt-200 {
  margin-top: 200px;
}

.mt-250 {
  margin-top: 250px;
}

.mt-400 {
  margin-top: 400px;
}

.mt-350 {
  margin-top: 350px;

  @include screen-md {
    margin-top: 250px;
  }
}

.overflow-wrap-break {
  overflow-wrap: break-word;
}

.overflow-wrap-break-mobile {
  @include screen-sm {
    overflow-wrap: break-word;
  }
}

.pb-300 {
  padding-bottom: 300px !important;
}

.pb-400 {
  padding-bottom: 400px !important;
}

.pb-200 {
  padding-bottom: 200px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mb-200 {
  margin-bottom: 200px !important;
}

.mb-negative-200 {
  margin-bottom: -200px !important;
}

.mb-negative-300 {
  margin-bottom: -300px !important;
}

.mb-negative-50 {
  margin-bottom: -50px !important;
}

.mt-sm-30 {
  @include screen-sm {
		margin-top: 30px !important;
	}
}

.mobile-center {
	@include screen-sm {
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	}
}

.mobile-centered {
	@include screen-sm {
    display: flex;
		flex-direction: column;
    align-items: center;
	}
}

.column-reverse-mobile {
	@include screen-sm {
		flex-direction: column-reverse;
	}
}

.fw-400 {
  font-weight: 400 !important;
}
 
.max-w100 {
  max-width: 100% !important;
}

.bg-light-gray {
  background: linear-gradient(180deg, rgba(249, 252, 255, 0) 30.44%, #F9FCFF 100%);
}

.bg-faded-gray {
  background-color: $faded-gray;
}

.bg-pale-cyan {
  background-color: $pale-cyan;
}

.bg-azure-light {
  background-color: $azure-light;
}

.bg-gradient-gray {
  background: linear-gradient(180deg, #FAFCFF 92.38%, #F3F7FB 104.08%);
}

.bg-gradient-gray2 {
  background: linear-gradient(1deg, #EEF3F9 -74.79%, #FFFFFF 92.88%);
}

.bg-gradient-gray3 {
  background: linear-gradient(180deg, #FFFFFF 25.99%, #F9FCFF 100%);
}

.bg-gradient-gray4 {
  background: linear-gradient(0deg, #FFF -12.63%, #F6FDFE 124.57%);
}

.bg-gradient-faded-gray {
  background: linear-gradient(1.58deg, #F4F9FF 1.71%, #FFFFFF 82.27%) !important;
}

.bg-gradient-cerulean {
  background: linear-gradient(180deg, #009CB7 37.58%, #0288A2 113.43%);
}

.bg-gradient-night {
  background: linear-gradient(180deg, #2E66BA -31.74%, #14448C 106.28%);
}

.bg-gradient-blue {
  background: linear-gradient(180deg, #F0F9FC 0%, #FAFDFF 100%);
}

.bg-gradient-dark-blue {
  background: linear-gradient(218.44deg, #245CB0 22.13%, #164995 123.07%);
}

.bg-gradient-dark-blue2 {
  background: linear-gradient(180.31deg, #EEF6FF 37.82%, #C3D5EF 110.97%);
}

.bg-gradient-blue2 {
  background: linear-gradient(1deg, #F5FDFF 24%, #FAFDFF 100%);
}

.bg-gradient-blue-new {
  background: linear-gradient(151.45deg, #F6FEFF 20.62%, #E9F4FF 81.27%);
}

.bg-gradient-blue-bottom2 {
  background: linear-gradient(1deg, rgba(214, 239, 243, 0.5) -4.05%, rgba(239, 249, 251, 0) 92.31%);
}

.bg-gradient-blue-bottom3 {
  background: linear-gradient(180deg, rgba(251, 253, 255, 0) 0%, #FBFDFF 100%);
}

.bg-gradient-blue3 {
  background: linear-gradient(240deg, #F5FDFF 0%, #E6FAFF 100%);
}

.bg-gradient-blue4 {
  background: linear-gradient(1deg, #FFFFFF 0%, #F7FEFF 100%);
}

.bg-gradient-blue-bottom {
  background: linear-gradient(180deg, #FFFFFF 0%, #F7FEFF 100%);
}

.bg-gradient-blue5 {
  background: linear-gradient(180deg, #F6FAFF 0%, #E4F1FF 100%);
}

.bg-gradient-blue6 {
  background: linear-gradient(180deg, #EBF4FF 100%, #CCE3FF 100%);
}

.bg-gradient-blue7 {
  background: linear-gradient(240deg, #F0F9FF 0%, #E1F1FF 100%);
}

.bg-gradient-blue8 {
  background: linear-gradient(180deg, #5B90E1 0%, #336ABE 100%);
}

.bg-gradient-blue-sky {
  background: linear-gradient(180deg, #FFFFFF 37.16%, #E5F3FF 152.41%) !important;
}

.bg-gradient-bondi-blue {
  background: linear-gradient(180deg, #009CB7 0%, #00859C 129.3%),
}

.bg-gradient-cool-white {
  background: linear-gradient(90deg, #FFFFFF 100%, #F1FDFF 100%);
}

.bg-gradient-cool-mint {
  background: linear-gradient(90deg, #ECFDFF 0%, #BDEEF4 100%);
}

.bg-gradient-cool-gray {
  background: linear-gradient(90deg, #E0F0FF 0%, #EFF8FF 100%);
}

.bg-gradient-cool-blue {
  background: linear-gradient(90deg, #DEF0FF 0%, #B6D9FA 100%);
}

.bg-gradient-faded-blue {
  background: linear-gradient(180deg, #7EC9D6 0%, #44B1C4 100%);
}

.bg-gradient-faded-blue2 {
  background: linear-gradient(180deg, #2CB3CA 0%, #0B95AD 100%);
}

.bg-azure-blue {
  background-color: $azure-blue;
}

.bg-paper-white {
  background-color: $paper-white;
}

.bg-primary-default {
  background-color: $primary-default;
}

.bg-secondary-default {
  background-color: $secondary-default;
}

.bg-secondary-dark {
  background-color: $secondary-dark;
}

.bg-cool-white {
  background-color: $cool-white;
}

.bg-clear-skies {
  background-color: $clear-skies;
}

.border-left-bondi-blue {
  position: relative;
}

.border-left-bondi-blue::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-left: 10px solid $bondi-blue;
}

.text-primary {
  color: $primary-default !important;
}

.text-align-start {
  text-align: start !important;
}

.text-align-end {
  text-align: end !important;
}

.text-secondary {
  color: $secondary-default !important;
}

.text-secondary-light {
  color: $secondary-light !important;
}

.text-secondary-default {
  color: $secondary-default !important;
}

.text-secondary-link {
  color: $secondary-link !important;
}

.text-secondary-dark {
  color: $secondary-dark !important;
}

.text-complementary-dark {
  color: $complementary-dark !important;
}

.border-primary {
  border: 1px solid $primary-default !important;;
}

.border-secondary {
  border: 1px solid $secondary-default !important;;
}

.bg-snow {
  background-color: $snow !important;
}

.bg-azure {
  background-color: $azure !important;
}

.bg-cerulean {
  background-color: $cerulean !important;
}

.bg-bondi-blue {
  background-color: $bondi-blue !important;
}

.bg-alice-blue {
  background-color: $alice-blue !important;
}

.bg-alice-blue2 {
  background-color: $alice-blue2 !important;
}

.bg-error-page {
  background-color: linear-gradient(180deg, #F9FCFF 0%, #F9FCFF 100%);
}

.bg-comparison {
  background-color: #F9FCFF;
}

.bg-recovery {
  background-color: #F5FDFF;
}

.bg-continuity {
  background-color: #F3FAFF;
}

.solutions-shadow-top {
  box-shadow: 1px 2px 9.7px 0px rgba(0, 90, 109, 0.25);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.solutions-shadow-bottom {
  box-shadow: 1px 2px 9.7px 0px rgba(0, 90, 109, 0.25);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.solutions-shadow-side {
  box-shadow: 1px 2px 9.7px 0px rgba(0, 90, 109, 0.25);
}

.questions-text {
  color: $bondi-blue;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.list-style-none {
  list-style-type: none;
}

.show-desktop {
  display: block;

  @include screen-md {
		display: none;
	}
}

.show-mobile {
  display: none;

  @include screen-md {
		display: block;
	}
}

.hide-solutions {
  display: block;

  @media (min-width:992px) and (max-width:1500px) {
		display: none;
	}
}

.show-solutions {
  display: none;

  @media (min-width:992px) and (max-width:1500px) {
		display: block;
	}
}

.mobile-wrap {
  display: flex;

  @include screen-md {
		flex-wrap: wrap;
	}
}

.mobile-column {
  @include screen-sm {
		flex-direction: column;
	}
}

.wrap-on-mobile {
  @include screen-sm {
		flex-wrap: wrap;
	}
}

.space-no-wrap {
  white-space: nowrap;
}

.milestones-width {
  width: 90% !important;

  @include screen-sm {
		width: 100% !important;
	}
}

.milestones-padding {
  @include screen-sm {
		padding-left: 15px !important;
    padding-right: 15px !important;
	}
}

.dropdown-styling {
  border-radius: 5px !important;
  box-shadow: 2px 2px 12px #DADFE8 !important;
}

.footer-dropdown {
  .custom-select {
    position: relative;
  }

  .custom-select-width {
    width: 200px;
    height: auto;
    padding: 0px;

    @media (min-width: 767px) and (max-width: 1000px) { 
      width: 170px; 
    }
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background-color: $bondi-blue;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 12px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: $bondi-blue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.user-select-none {
  user-select: none;
}

.banner-navigation {
  background-color: #6D9EDE;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  p {
    color: #fff;
    margin-bottom: 0;
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen-sm {
      flex-direction: column;
    }
  }
}

.banner-close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.banner-button {
  cursor: pointer;
  text-decoration: underline !important;
}

.border-top-right {
  border-top: 0.5px solid $slate-gray;
  border-right: 0.5px solid $slate-gray;

  @include screen-sm {
		border-right: none;
	}
}

.border-top-gray {
  border-top: 0.5px solid $slate-gray;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.column-pl-desktop {
  padding-left: 35px;

  @include screen-sm {
		padding-left: 15px;
	}
}

.column-pr-desktop {
  padding-right: 35px;

  @include screen-sm {
		padding-right: 15px;
	}
}

.mw-900 {
  max-width: 900px !important;
}

.mw-850 {
  max-width: 850px !important;
}

.mw-1000 {
  max-width: 1000px !important;
}

.mw-1100 {
  max-width: 1100px !important;
}

.mw-1300 {
  max-width: 1300px !important;
}

.mw-700 {
  max-width: 700px !important;
}

.mw-770 {
  max-width: 770px !important;
}

.mw-660 {
  max-width: 660px !important;
}

.mw-600 {
  max-width: 600px !important;
}

.mw-690 {
  max-width: 690px !important;
}

.mw-645 {
  max-width: 645px !important;
}

.mw-530 {
  max-width: 530px !important;
}

.mw-520 {
  max-width: 520px !important;
}

.mw-570 {
  max-width: 570px !important;
}

.mw-420 {
  max-width: 420px !important;
}

.mw-450 {
  max-width: 450px !important;
}

.mw-490 {
  max-width: 490px !important;
}

.mw-350 {
  max-width: 350px !important;
}

.mw-390 {
  max-width: 390px !important;
}

.mw-340 {
  max-width: 340px !important;
}

.mw-320 {
  max-width: 320px !important;
}

.mw-300 {
  max-width: 300px !important;
}

.mw-30 {
  max-width: 30px !important;
}

.mw-45 {
  max-width: 45px !important;
}

.mw-50 {
  max-width: 50px !important;
}

.mw-270 {
  max-width: 270px !important;
}

.mw-260 {
  max-width: 260px !important;
}

.mw-250 {
  max-width: 250px !important;
}

.w-270 {
  width: 270px !important;
}

.mw-25 {
  max-width: 25px !important;
}

.mw-35 {
  max-width: 35px !important;
}

.mw-40 {
  max-width: 40px !important;
}

.mw-55 {
  max-width: 55px !important;
}

.mh-50 {
  max-height: 50px !important;
}

.mh-70 {
  max-height: 70px !important;
}

.mh-35 {
  max-height: 35px !important;
}

.mh-150 {
  max-height: 150px !important;
}

.mh-300 {
  max-height: 300px !important;
}

.mh-200 {
  max-height: 200px !important;
}

.mh-400 {
  max-height: 400px !important;
}

.mw-260 {
  max-width: 260px !important;
}

.mw-90 {
  max-width: 90px !important;
}

.mw-70 {
  max-width: 70px !important;
}

.mw-160 {
  max-width: 160px !important;
}

.mw-110 {
  max-width: 110px !important;
}

.mw-200 {
  max-width: 200px !important;
}

.mw-800 {
  max-width: 800px !important;
}

.min-width-230 {
  min-width: 230px !important;
}

.min-width-300 {
  min-width: 300px !important;
}

.min-width-170 {
  min-width: 170px !important;
}

.min-width-100 {
  min-width: 100px !important;
}

.min-width-70 {
  min-width: 70px !important;
}

.min-h-300 {
  min-height: 300px !important;
}

.min-h-200 {
  min-height: 200px !important;
}

.min-h-150 {
  min-height: 150px !important;
}

.min-h-100 {
  min-height: 100px !important;
}

.min-h-240 {
  min-height: 240px !important;
}

.min-h-320 {
  min-height: 320px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.ml-desktop-features {
  margin-left: 90px;

  @include screen-sm {
    margin-left: 0 !important;
  }
}

.ml-sm-0 {
  @include screen-xs {
    margin-left: 0 !important;
  }
}

.mb-sm-50 {
  @include screen-sm {
    margin-bottom: 50px !important;
  }
}

.h-35 {
  height: 35px;
}

.h-12 {
  height: 12px;
}

.h-45 {
  height: 45px;
}

.h-65 {
  height: 65px;
}

.ml-negative-40 {
  margin-left: -40px !important;

  @include screen-sm {
    margin-left: 0 !important;
  }
}

.backups-logo-margin {
  margin-right: 40px;

  @include screen-sm {
    margin-right: 0px;
  }
}

.backups-nav-margin {
  margin-left: auto;

  @include screen-md {
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

.ml-negative-80 {
  margin-left: -80px !important;

  @include screen-md {
    margin-left: 0 !important;
  }
}

.pricing-box-shadow {
  border: 0.5px solid #95B1C1;
  border-radius: 0px;
  margin-top: 20px;
  overflow-x: scroll;
}

.backup-box-shadow {
  border-radius: 10px;
  border: 1px solid #C0CFE9;
  box-shadow: 0px 7px 20px 0px rgba(0, 54, 134, 0.05);
  overflow: hidden;
}

.container-box-shadow {
  box-shadow: 0px 14px 25px rgba(0, 90, 109, 0.1);
}

.light-box-shadow {
  box-shadow: 0px 7px 20px 0px #0036860D !important;
}

.nav-box-shadow {
  box-shadow: 0px 7px 20px rgba(0, 54, 134, 0.05);
}

.codebase-padding {
  padding-top: 400px;
  padding-bottom: 200px;

  @include screen-sm {
    padding-top: 700px;
    padding-bottom: 100px;
  }
}

.pt-100 {
  padding-top: 100px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-150 {
  padding-top: 150px !important;
}

.pt-400 {
  padding-top: 400px !important;
}

.min-h-110 {
  min-height: 110px;
}

.min-h-70 {
  min-height: 70px;
}

.min-h-auto {
  min-height: auto !important;
}

.padding-0 {
  padding: 0px !important;
}

.min-h-170 {
  min-height: 170px !important;
}

.min-h-140 {
  min-height: 140px !important;
}

.min-h-50 {
  min-height: 50px !important;
}

.min-h-700 {
  min-height: 701px !important;
}

.mh-sm-700 {
  min-height: 701px !important;

  @include screen-sm {
    min-height: auto !important;
  }
}

.min-h-600 {
  min-height: 600px !important;
}

.min-h-400 {
  min-height: 400px !important;
}

.h-400 {
  height: 400px !important;
}

.break-spaces {
  white-space: initial !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-50 {
  font-size: 50px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-35 {
  font-size: 35px !important;
}

.font-40 {
  font-size: 40px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-24 {
  font-size: 24px !important;
}

.how-bg-gradient {
  background: linear-gradient(180deg, #FFFFFF 0%, #F9FEFF 100%) !important;
  border: 0.5px solid #DCE5F2 !important;
  box-shadow: 0px 7px 20px rgba(0, 54, 134, 0.05) !important;
  border-radius: 10px !important;
}

.comparison-devider {
  width: 53px;
  height: 1px;
  background: #6782A3;
}

.link-yellow {
  a {
    color: $yellow !important;
  }
}

.link-blue {
  a {
    color: $bondi-blue !important;
  }
}

.backup-devider {
  border: 1px dashed $slate-gray;
  width: 100%;
}

.mt-negative-50 {
  margin-top: -50px;

  @include screen-sm {
    margin-top: 50px;
  }
}

.mt-negative-6 {
  margin-top: -6px;

  @include screen-sm {
    margin-top: 0px;
  }
}

.mt-negative-100 {
  margin-top: -100px;

  @include screen-sm {
    margin-top: 50px;
  }
}

.mt-negative-80 {
  margin-top: -80px;
}

.mt-negative-20 {
  margin-top: -20px;
}

.mt-negative-25 {
  margin-top: -25px;
}

.mb-negative-30 {
  margin-bottom: -30px;
}

.mt-negative-250 {
  margin-top: -250px;
}

.mt-negative-400 {
  margin-top: -400px;
}

.mt-negative-150 {
  margin-top: -150px;

  @include screen-sm {
    margin-top: 50px;
  }
}

.mt-negative-180 {
  margin-top: -180px;

  @include screen-sm {
    margin-top: -140px;
  }
}

.mt-negative-160 {
  margin-top: -160px;
}

.mt-negative-250 {
  margin-top: -250px;
}

.mt-negative-280 {
  margin-top: -280px;
}

.mt-negative-240 {
  margin-top: -240px;

  @include screen-sm {
    margin-top: -50px;
  }
}

.mt-negative-350 {
  margin-top: -350px;
}

.z-index-1 {
  z-index: 1;
}

.z-index-9 {
  z-index: 9;
}

.comparison-footer-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  font-family: 'Mulish', sans-serif;
  color: #818181;

  a {
    color: #00A0B6;
  }

}

.table-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  font-family: 'Mulish', sans-serif;
  color: $dark-cyan !important;
}

.table-border-right {
  border-right: 1px solid #dee2e6 !important;
}

.border-right-none {
  border-right: none !important;
}

.pricing-table-devider {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 15.95%, #E6F7FB 100%);
  opacity: 0.36;
  border-radius: 0px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  height: 200px;
  width: 100%;
}

.solutions-gradient-devider {
  background: linear-gradient(180deg, #F2FAFC 2.57%, #FFFFFF 90.44%);
  height: 200px;
  width: 100%;
  margin-top: 400px;

  @include screen-sm {
    margin-top: 200px;
  }
}

.solutions-screen-spacing {
  margin-top: -400px;

  @include screen-sm {
    margin-top: -300px;
  }
}

.table-subtext {
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  font-family: 'Mulish', sans-serif;
  color: $dark-cyan !important;
}

.table-position-relative {
  position: relative;
  margin-top: -150px;
  overflow-x: visible;

  @include screen-md {
    overflow-x: scroll;
  }
}

.line-height-40 {
  line-height: 40px !important;
}

.line-height-45 {
  line-height: 45px !important;
}

.line-height-60 {
  line-height: 60px !important;
}

.line-height-53 {
  line-height: 53px !important;
}

.line-height-38 {
  line-height: 38px !important;
}

.line-height-34 {
  line-height: 34px !important;
}

.line-height-20 {
  line-height: 20px !important;
}

.line-height-24 {
  line-height: 24px !important;
}

.line-height-28 {
  line-height: 28px !important;
}

.line-height-14 {
  line-height: 14px !important;
}

.line-height-18 {
  line-height: 18px !important;
}

.bottom-radius-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.border-radius-25 {
  border-radius: 25px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-0 {
  border-radius: 0px !important;
}

.article-section {
  background-color: $alice-blue;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0px 14px 25px rgba(0, 90, 109, 0.1);
}

.max-h-900 {
  max-height: 900px;
}

.navigation-border {
  border-bottom: 1px solid #AEC6D3;
}

.nav-top-negative {
  top: -48px !important;
  transition: all 0.5s ease;

  @include screen-md {
    top: 0px !important;
  }
}

.image-160 {
  width: 160px;
  height: 160px;
  object-fit: contain;
}

.object-fit-contain {
  object-fit: contain !important;
}

.max-h-600 {
  max-height: 600px;
}

.max-h-300 {
  max-height: 300px;
}

.max-h-100 {
  max-height: 100px;
}

.image-backup-features {
  width: 100%;
  max-width: 400px !important;
  height: fit-content !important;
  object-fit: contain !important;
}

.template-image {
  width: 150px !important;
  height: 190px !important;
  object-fit: contain;
}

.negative-right-100 {
  margin-right: -100px;

  @include screen-md {
    margin-right: 0px;
  }
}

.competitors {
  fieldset {
    max-width: 700px !important;
  }

  label {
    margin-top: 10px;
    max-width: 330px;
  }

  .section__modal-form input {
    max-width: 300px !important;
  }

  .section__modal-form select {
    max-width: 300px !important;
  }

  .section__modal-form textarea {
    max-width: 300px !important;
  }

  .section__modal-form textarea {
    background-color: #FAFAFA !important;
  }

  input.hs-button {
    max-width: 100% !important;
  }

  .submitted-message {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #6A8493 !important;
  }
}

.hs-form-booleancheckbox-display {
  display: flex;
}

.hs-form-booleancheckbox-display span {
  font-size: 13px;
}

input[name=consent] {
  width: 20px !important;
  height: 20px !important;
  margin-right: 5px;
}

.backups-step-icon {
  position: absolute;
  left: -86px;
  top: 4px;

  @include screen-lg {
    display: none;
  }
}

.backups-step-icon2 {
  position: absolute;
  left: -82px;
  top: 4px;

  @include screen-lg {
    display: none;
  }
}

#hubspot-messages-iframe-container {

  @media (min-width:767px) {
    max-width: 400px !important;
		max-height: 630px !important;
	}
}

