//-------------------------------------//
// COLORS

// colors: base font
$light-grey: #d8d8d8;
$font-base: #18173a;
$font-dark: #1c1c3d;
$dark-grey: #191e2f;
$grey-2: #8f9096;
$grey-3: #a3a5ac;
$grey-4: #818181;

// colors: brand
$color-light-blue: #53a9e6;

// colors: border
$border-color: #a3a5ac;

// color: background
$grey-bg: #f0f5f8;

//-------------------------------------//
// MEDIA QUERIES

$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 480px;

.btn-blue {
  &:hover {
    color: #fff;
    background-color: darken($color-light-blue, 15%);
    border-color: darken($color-light-blue, 15%);
    transition: .3s;
  }
}
.btn-outline {
  &:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: $color-light-blue !important;
    border: 1px solid $color-light-blue;
    cursor: pointer;
    transition: .3s;
  }
}