//-------------------------------------//
// COLORS

// colors: base font
$light-grey: #d8d8d8;
$font-base: #004E82;
$font-dark: #1c1c3d;
$dark-grey: #191e2f;
$grey-2: #8f9096;
$grey-3: #a3a5ac;
$grey-4: #818181;
$white: #ffffff;
$alice-blue: #F7FBFD;

$dark-cerulean: #004E82;

// colors: brand
$color-light-blue: #5183BB;

// colors: border
$border-color: #a3a5ac;

// color: background
$grey-bg: #f0f5f8;

//-------------------------------------//
// MEDIA QUERIES

$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 480px;

.btn-blue {
  padding: 0 30px;

  &:hover {
    color: #fff;
    background-color: darken($color-light-blue, 15%);
    border-color: darken($color-light-blue, 15%);
    transition: .3s;
  }
}

.btn-green {
  padding: 0 30px;
  background: linear-gradient(180deg, #B0E7C6 0%, #5DD1B3 100%);
  box-shadow: 0px 2px 24px rgba(83, 169, 230, 0.19);

  &:hover {
    color: #fff;
    background: linear-gradient(180deg, #5DD1B3 0%, #B0E7C6 100%);
    transition: .3s;
  }
}

.btn-white {
  padding: 0 30px;
  background: $white;
  color: $font-base;

  &:hover {
    color: $white;
    background: transparent;
    transition: .3s;
    border: 1px solid $white;
  }
}

.btn-small {
  padding: 0 30px;
  height: 37px;
  min-width: 129px;
  color: #fff;
  background-color: darken($color-light-blue, 5%);
  border-color: darken($color-light-blue, 5%);
  transition: .3s;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  &:hover {
    color: $color-light-blue;
    background-color: transparent;
    border: 1px solid $color-light-blue;
    transition: .3s;
  }
}

.btn-medium {
  padding: 0 30px;
  height: 37px;
  min-width: 200px;
  color: #fff;
  background-color: darken($color-light-blue, 5%);
  border-color: darken($color-light-blue, 5%);
  transition: .3s;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;

  &:hover {
    color: $color-light-blue;
    background-color: transparent;
    border: 1px solid $color-light-blue;
    transition: .3s;
  }
}

.btn-outline {
  padding: 0 30px;
  color: $color-light-blue !important;
  border: 1px solid #5183BB;
  height: 50px;

  &:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: $color-light-blue !important;
    border: 1px solid $color-light-blue;
    cursor: pointer;
    transition: .3s;
  }
}