// Screen size
$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 480px;

// Colors
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6B717B !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$dust-gray: #292E31 !default;
$soft-gray: #818181 !default;
$softer-gray: #E8E8E8 !default;
$light-gray: #F4F6FC !default;
$faded-gray: #B0BAC9 !default;
$night-black: #333333 !default;
$light-purple: #DFE4EE !default;
$purple: #7450C8 !default;
$blue-link: #3a73b8 !default;