.book-demo {

  .header {

    &__content {
      background-color: $white;
    }

    &__title {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 200;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: -1px;
      color: $sherpa-blue;
      margin-top: 100px;
    }
  
    &__subtitle {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 28px;
      color: $complementary-dull;
      max-width: 754px;
    }

    &__devider {
      width: 100%;
      height: 0.5px;
      background-color: $complementary-dull;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }

  .contact {
    &__info {
      position: relative;
      margin-top: -220px !important;
      margin-bottom: -50px  !important;
    }

    &__box {
      width: 100%;
      min-height: 332px;
      padding: 40px;
      border-radius: 10px;
      background: $bondi-blue;
      box-shadow: 0px 7px 20px rgba(0, 54, 134, 0.05);

      @include screen-sm {
        padding: 40px 15px;
      }

      &-title {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        color: $white;
      }

      &-subtitle {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $white;
      }

      &-text {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #48748C;
        margin-bottom: 0px;
        margin-top: 5px;
      }

      &-content {
        display: flex;
        flex-wrap: wrap;

        @include screen-md {
          justify-content: center;
          align-items: center;
        }
      }

      &-btn {
        width: 240px;
        min-height: 140px;
        box-shadow: 0px 7px 20px rgba(0, 54, 134, 0.05);
        border-radius: 10px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        margin-top: 15px;
        background-color: $white;
        z-index: 9;

        &:hover {
          transition: all .3s;
          cursor: pointer;
          text-decoration: none;
          box-shadow: 0px 7px 20px rgba(0, 54, 134, 0.10) !important;
        }
      }
    }

    &__box-white {
      width: 100%;
      min-height: 330px;
      padding: 40px;
      border-radius: 10px;
      background: linear-gradient(270deg, #F9FCFF 10.38%, #F3F6FC 92.14%);
      border: 1px solid #DCE5F2;
      box-shadow: 0px 7px 20px rgba(0, 54, 134, 0.05);
      position: relative;

      @include screen-lg {
        padding: 40px 15px;
        min-height: 550px;
      }

      &-title {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        color: $bondi-blue;
      }

      &-subtitle {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #48748C;
      }

      &-text {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #48748C;
        margin-bottom: 0px;
        margin-top: 5px;
      }

      &-content {
        display: flex;
        flex-wrap: wrap;

        @include screen-md {
          justify-content: center;
          align-items: center;
        }
      }

      &-image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 50%;
      }

      &-btn {
        width: 210px;
        min-height: 140px;
        box-shadow: 0px 7px 20px rgba(0, 54, 134, 0.05);
        border-radius: 10px;
        border: 1px solid #F3F6FC;
        box-shadow: 0px 7px 20px 0px #0036860D;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        margin-top: 15px;
        background-color: $white;
        z-index: 9;
        flex-direction: column;

        &:hover {
          transition: all .3s;
          cursor: pointer;
          text-decoration: none;
          box-shadow: 0px 7px 20px rgba(0, 54, 134, 0.10) !important;
        }
      }
    }
  }

  .questions {
    &__bg {
      background: $alice-blue;
      padding-top: 150px;
      padding-bottom: 150px;
    }

    &__bg2 {
      background: linear-gradient(180deg, #F8FBFF -9.77%, rgba(248, 251, 255, 0) 42.6%);
      padding-top: 150px;
      padding-bottom: 50px;

      @include screen-sm {
        padding-bottom: 0px;
      }
    }

    &__title {
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 200;
      font-size: 45px;
      line-height: 55px;
      color: $sherpa-blue;
    }

    &__image {
      max-width: 400px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__box {
      width: 100%;
      min-height: 500px;
      padding: 50px;
      border-radius: 10px;

      @include screen-sm {
        padding: 15px;
      }

      &-title {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 25px;
      }

      &-subtitle {
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        color: #003543;
        max-width: 480px;
        margin-bottom: 20px;
      }
    }
  }
}