.confirmation {
  .header {
  
    &__title {
      font-size: 55px !important;
      font-family: 'Muli', sans-serif;
      color: $sherpa-blue;
      font-weight: 700;
      letter-spacing: -0.42px;
      text-align: center;
    }
  
    &__subtitle {
      color: $air-force-blue;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 32px;
      font-family: 'Muli', sans-serif;
      max-width: 702px;
      text-align: center;
    }
  
    &__content {
      background-size: 100%;
      margin-top: 85px;
    }
  
    &__bg {
      min-height: 350px !important;
      background: url('../images/features-page/features-header.webp');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .discount {
    &__container {
      min-height: 800px !important;
      background: url('../images/resources-page/saas-escrow-bg.webp');
      background-repeat: no-repeat;
      background-position: top; 
      background-size: cover !important;
      padding-top: 140px;
      padding-bottom: 60px;
      @include screen-md {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }

    &__title {
      font-size: 55px !important;
      font-family: 'Muli', sans-serif;
      color: $white;
      font-weight: bold;
      line-height: 66px;
      letter-spacing: -1px;
      max-width: 535px;

      @include screen-sm {
        font-size: 38px !important;
        font-weight: 600;
        line-height: 42px;
      }
    }
  
    &__subtitle {
      color: $white;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      font-family: 'Muli', sans-serif;
      max-width: 560px;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-width: 400px;
      max-height: 350px;
    }

    &__form {
      width: 100%;
      min-height: 500px;
      max-width: 450px;
      padding: 40px;
      background: $white;
      box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.11);
      border-radius: 20px;

      @include screen-sm {
        padding: 40px 15px;
      }

      &-title {
        color: $sherpa-blue;
        font-size: 28px;
        font-weight: 600;
        line-height: 30px;
        font-family: 'Muli', sans-serif;
        text-align: center;
      }

      label {
        font-size: 16px !important;
        font-family: 'Muli', sans-serif;
        color: $air-force-blue;
        font-weight: normal;
        letter-spacing: 0px;
      }

      input {
        width: 100% !important;
        background-color: $white;
        margin-bottom: 15px;
        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        font-weight: 400;
        background-clip: padding-box;
        border: 1px solid rgba(206,212,218, 0.5);
        border-radius: 0.25rem;
        outline: none;
        &:focus {
          box-shadow: none;
        }
      }

      label.hs-error-msg {
        color: red;
      }

      .inputs-list {
        list-style-type: none;
        padding-left: 0px;
      }

      textarea {
        width: 100% !important;
        background-color: $white;
        margin-bottom: 15px;
        display: block;
        width: 100%;
        height: 221px;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        font-weight: 400;
        background-clip: padding-box;
        border: 1px solid rgba(206,212,218, 0.5);
        border-radius: 0.25rem;
        outline: none;
        &:focus {
          box-shadow: none;
        }
      }

      fieldset {
        max-width: 100% !important;
      }

      .hs-form-booleancheckbox-display {
        display: flex;

        .hs-input {
          width: auto;
        }

        span {
          margin-left: 10px !important;
          margin-top: 7px;
          color: $soft-gray;
          font-size: 16px;
          font-weight: normal;
          letter-spacing: 0px;
          font-family: 'Muli', sans-serif;

          a {
            color: $bondi-blue;
          }
        }
      }

      .hs-button.primary.large {
        @include button-variant($bondi-blue, $bondi-blue, $active-background: darken($light-gray, 7.5%), $active-border: darken($light-gray, 10%));
        color: $white !important;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $bondi-blue;
        border-radius: 25px;
        height: 50px;
        width: 200px !important;
        font-weight: bold;
        font-family: 'Muli', sans-serif;
        font-size: 16px;
        margin-top: 40px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        &:hover {
          transition: all .3s;
          cursor: pointer;
        }
      }

      input::placeholder {
        color: #BDBDBD !important;
        font-family: 'Muli', sans-serif;
        font-size: 16px !important;
      }
    }
  }

  .reads {
    &__title {
      font-size: 44px !important;
      font-family: 'Muli', sans-serif;
      color: $sherpa-blue;
      font-weight: normal;
      letter-spacing: -0.42px;
      text-align: center;
    }
  
    &__subtitle {
      color: $sherpa-blue;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 32px;
      font-family: 'Muli', sans-serif;
      text-align: center;
      max-width: 736px;
    }

    &__bg1 {
      background: url('../images/confirmation/how_i_save.svg');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
      border-radius: 6px;
      height: 260px;
      width: 328px;
      margin-top: 30px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      box-shadow: 2px 4px 10px #E8ECF2;
    }

    &__bg2 {
      background: url('../images/confirmation/software_verification.svg');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
      border-radius: 6px;
      height: 260px;
      width: 328px;
      margin-top: 30px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      box-shadow: 2px 4px 10px #E8ECF2;
    }

    &__bg3 {
      background: url('../images/confirmation/best_practices.svg');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
      border-radius: 6px;
      height: 260px;
      width: 328px;
      margin-top: 30px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      box-shadow: 2px 4px 10px #E8ECF2;
    }

    &__content {
      background-color: $white;
      min-height: 80px;
      height: fit-content;
      width: 100%;
      padding-left: 24px;
      padding-top: 16px;
    }

    &__text {
      color: $sherpa-blue;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 24px;
      font-family: 'Muli', sans-serif;
      max-width: 270px;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}