.confirmation {
  .header {
  
    &__title {
      font-size: 55px !important;
      font-family: 'Muli', sans-serif;
      color: $sherpa-blue;
      font-weight: 700;
      letter-spacing: -0.42px;
      text-align: center;
    }
  
    &__subtitle {
      color: $air-force-blue;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 32px;
      font-family: 'Muli', sans-serif;
      max-width: 702px;
      text-align: center;
    }
  
    &__content {
      background-size: 100%;
      margin-top: 85px;
    }
  
    &__bg {
      min-height: 350px !important;
      background: url('../images/features-page/features-header.png');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .reads {
    &__title {
      font-size: 44px !important;
      font-family: 'Muli', sans-serif;
      color: $sherpa-blue;
      font-weight: normal;
      letter-spacing: -0.42px;
      text-align: center;
    }
  
    &__subtitle {
      color: $sherpa-blue;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 32px;
      font-family: 'Muli', sans-serif;
      text-align: center;
      max-width: 736px;
    }

    &__bg1 {
      background: url('../images/confirmation/how_i_save.svg');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
      border-radius: 6px;
      height: 260px;
      width: 328px;
      margin-top: 30px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      box-shadow: 2px 4px 10px #E8ECF2;
    }

    &__bg2 {
      background: url('../images/confirmation/software_verification.svg');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
      border-radius: 6px;
      height: 260px;
      width: 328px;
      margin-top: 30px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      box-shadow: 2px 4px 10px #E8ECF2;
    }

    &__bg3 {
      background: url('../images/confirmation/best_practices.svg');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
      border-radius: 6px;
      height: 260px;
      width: 328px;
      margin-top: 30px;
      overflow: hidden;
      display: flex;
      align-items: flex-end;
      box-shadow: 2px 4px 10px #E8ECF2;
    }

    &__content {
      background-color: $white;
      min-height: 80px;
      height: fit-content;
      width: 100%;
      padding-left: 24px;
      padding-top: 16px;
    }

    &__text {
      color: $sherpa-blue;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 24px;
      font-family: 'Muli', sans-serif;
      max-width: 270px;
      &:hover {
        text-decoration: none !important;
      }
    }
  }
}