.confirm {
  &__box {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    width: 331px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 15px;
  }

  &__title {
    font-size: 18px !important;
    font-family: 'Roboto', sans-serif !important;
    color: $purple;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
  }

  &__subtitle {
    color: $dust-gray;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 28px;
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
    min-height: 170px;
    max-width: 278px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include screen-md {
      justify-content: center;
    }
  }

  &__icon {
    height: 30px;
  }

  &__submit {
    height: 150px;
  }

  &__submit-title {
    font-size: 22px !important;
    font-family: 'Roboto', sans-serif !important;
    color: $purple;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
  }

  &__submit-subtitle {
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif !important;
    color: $dust-gray;
    font-weight: normal;
    max-width: 280px;
    text-align: center;
  }

  &__submit-text {
    font-size: 14px !important;
    font-family: 'Roboto', sans-serif !important;
    color: $purple;
    font-weight: bold;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }
}