.tns-outer {
  display: flex;
  flex-direction: column-reverse;
  z-index: 4;
  width: 100%;
}
.slide-active {
  color: #53a9e6;

  img {
    display: block !important;
    z-index: 99;
  }
}

.gif {
  max-width: 560px;
}


.tns-ovh,
.tns-inner {
  height: 555px;
  background: $grey-bg;
  border-radius: 6px;

  // @media (max-width: 1199px) {
  //   width: 85%;
  // }
}

video {
  max-width: 600px;
  @include screen-sm {
    width: 100%;
  }
}

.wrapper {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 10px;

  @include screen-md {
    display: none;
  }
}

.line {
  position: absolute;
  left: 49%;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #eeeff1;
  z-index: 1;
}

.wordwrapper {
  text-align: center;
  height: 12px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -35px;
  z-index: 2;
}

.word {
  font-size: 18px;
  font-weight: 500;
  background: #fff;
  padding: 20px 0;
}

.tns-slide-active {
  height: 555px;
}

.tns-nav {
  margin: 30px auto 0;
  // pointer-events: none;

  button {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: none;
    margin: 5px;
    outline: none;
  }
}

.tns-nav-active {
  background: #53a9e6;
}

.customer {
  &-provider {
    @include screen-sm {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &__slide {
      @include screen-md {
        display: none !important;
      }
    }

    &__mobile {
      display: none;

      @include screen-md {
        display: block;
      }
    }

    &__nav {
      min-width: 220px;
      font-size: 18px;
      font-weight: 600;
      color: #191e2f;
      z-index: 99;
      background: #fff;

      &-text {
        max-width: 349px;
      }

      &-img {
        max-width: 518px;
      }

      &-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-around;

        img {
          max-height: 420px;
          max-width: 518px;
        }
      }

      &-text {
        max-width: 349px;
        position: relative;
        left: 40px;
        font-size: 18px;
        line-height: 26px;

        p {
          &:first-child {
            font-size: 18px;
            font-weight: 600;
            color: #191e2f;
            margin-bottom: 20px;
          }
        }
      }

      p {
        margin-bottom: 30px;
        cursor: pointer;
      }

      img {
        display: none;
        position: relative;
        right: -15px;
      }
    }

    &__title {
      margin-top: 60px;
      text-align: center;
      margin-bottom: 120px;
      font-size: 44px;
      font-weight: 600;
      color: $font-dark;
      line-height: 58px;
      max-width: 770px;
      margin-left: auto;
      margin-right: auto;

      @include screen-sm {
        margin-top: 0;
        font-size: 30px;
        letter-spacing: -0.29px;
        line-height: 32px;
      }
    }

    &__subtitle {
      margin-top: 60px;
      margin-bottom: 30px;
      font-size: 42px;
      font-weight: 700;
      color: $font-dark;
      line-height: 58px;
      margin-bottom: 70px;
      margin-top: 120px;

      @include screen-sm {
        margin-top: 0;
        font-size: 30px;
        letter-spacing: -0.29px;
        line-height: 32px;
        text-align: center;
      }
    }

    &__text {
      font-size: 18px;
      color: $grey-3;
      line-height: 28px;
      max-width: 700px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;

      @include screen-sm {
        font-weight: 300;
      }
    }

    a {
      text-align: center;
      display: block;

      @include screen-sm {
        button {
          width: 100%;
          margin-bottom: 120px;
        }
      }
    }

    &__col {
      margin-top: 40px;
      margin-bottom: 40px;

      @include screen-sm {
        text-align: center;
      }

      &-title {
        font-size: 18px;
        font-weight: 600;
        color: $font-dark;
        margin-top: 30px;
        margin-bottom: 20px;
      }

      &-text {
        max-width: 339px;
        color: $grey-3;
        font-size: 16px;
        line-height: 26px;

        @include screen-sm {
          max-width: 100%;
          font-weight: 300;
        }
      }
    }
  }

  &-apps {
    background: $grey-bg;

    &__action {
      @include screen-md {
        flex-wrap: wrap;
        flex-direction: column;

        div:first-child {
          margin-bottom: 60px;
        }
      }
    }

    .second-slideshow {
      margin-left: -120px;
      margin-right: 120px;
    }

    &__or {
      display: flex;
      align-self: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 500;

      &:after {
        display: inline-block;
        border-left: 1px solid #ccc;
        margin: 0 10px;
        height: 125px;
      }
    }

    &__see {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;

      p {
        max-width: 380px;
        font-size: 18px;
        color: #a5a7ae;
        margin-bottom: 30px;
        text-align: center;

        &:first-child {
          font-size: 24px;
          font-weight: 600;
          color: #191e2f;
          margin-bottom: 26px;
        }
      }
    }

    .tech-slideshow {
      height: 300px;
      max-width: 100%;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
    }
    .tech-slideshow > div {
      height: 200px;
      width: 5500px;
      position: absolute;
      top: 0;
      left: 0;
      transform: translate3d(0, 0, 0);
    }
    .slideshow-brands {
      animation: moveSlideshow 50s linear infinite;
    }
    @keyframes moveSlideshow {
      100% { 
        transform: translateX(-66.6666%);
      }
    }

    @include screen-sm {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &__row {
      align-items: center;

      @include screen-sm {
        flex-direction: column-reverse;
      }

      &.-reverse {
        @media (max-width: 991px) {
          flex-direction: column;
        }
      }
    }

    &__col {
      width: 50%;
      max-width: 50%;
      min-width: 50%;

      @include screen-md {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
      }

      &-title {
        font-size: 42px;
        font-weight: 700;
        line-height: 58px;
        color: $font-dark;
        margin-bottom: 30px;
        max-width: 500px;

        @include screen-sm {
          margin-top: 0;
          font-size: 30px;
          letter-spacing: -0.29px;
          line-height: 32px;
          text-align: center;
        }
      }

      &-text {
        font-size: 18px;
        line-height: 28px;
        color: $grey-3;
        max-width: 500px;

        @include screen-sm {
          text-align: center;
          max-width: 100%;
          font-weight: 300;
        }
      }

      img {
        width: 100%;

        @include screen-sm {
          width: 100%;
        }
      }
    }
  }
}

#drift-widget-container {
  display: none !important;
}

#drift-frame-chat {
	display: none !important;
}

#drift-frame-controller {
	display: none !important;
}