.carousel-cell {
  opacity: 0.5;
  width: 591px;

  &.is-selected {
    opacity: 1;
  }
}

.index {
  &-header {
    background: $grey-bg;
    height: 100vh;
    max-height: 800px;
    min-height: 660px;
    overflow: hidden;
    padding-top: 40px;

    @include screen-sm {
      height: auto;
    }

    &__book {
      @media (max-width: 991px) {
        display: none;
      }
    }

    @include screen-sm {
      padding-top: 0 !important;
    }

    &__container {
      @include screen-sm {
        background: #fff;
        padding: 10px 4px;
      }

      &-nav {
        padding-left: 0;
        padding-right: 0;

        @include screen-md {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    &__logo {
      // width: 80%;
      max-height: 50px;

      @include screen-sm {
        width: 67px;
      }
    }

    &__login {
      display: flex;
      align-items: center;

      &:hover {
        background: transparent !important;
      }

      a {
        color: #1f8ddb !important;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;

        &:hover {
          color: #0E3755 !important;
          transition: .3s;
        }

        @media (max-width: 991px) {
          width: 100%;
          text-align: center;
        }
      }
    }

    &__dropdown {
      display: flex;
      align-items: center;
      margin-left: 2rem;

      @media (max-width: 991px) {
        display: none;
      }

      &-icon {
        font-size: 12px;
      }
    }

    &__content {
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
      min-height: 650px !important;
      display: flex;
      align-items: center;
      z-index: 9 !important;

      &.-is-homepage {
        flex-wrap: nowrap;
        background-color: $white;
        height: 650px;
        background: url('/images/homepage/header-corner2x.webp'), url('/images/homepage/header-screen2x.webp');
        background-repeat: no-repeat;
        background-size: 207px 120px, 630px 630px !important;
        background-position: bottom left 0px, bottom right 0px;

        @media (max-width: 1260px) {
          background-size: 207px 120px, 500px 500px !important;
        }

        @include screen-md {
          min-height: 400px !important;
          background: none;
        }
      }

      &.-is-product {
        flex-wrap: nowrap;
        background: url('/images/product-catalog/product-catalog-header-screen.svg'), url('../images/product-catalog/background-solutions-pages.png');
        margin-top: -100px;
        background-size: 530px 360px, 100vw 660px !important;
        background-position: right 190px, bottom;
        background-repeat: no-repeat;

        @include screen-md {
          background: url('../images/product-catalog/background-solutions-pages.png');
          background-size: 100vw 760px !important;
          background-position: bottom;
        }
        
      }

      &.-is-customer {
        flex-wrap: nowrap;
        background: url('/images/customer-service/customer-service-header-screen.svg'), url('../images/product-catalog/background-solutions-pages.png');
        margin-top: -100px;
        background-size: 530px 360px, 100vw 660px !important;
        background-position: right 190px, bottom;
        background-repeat: no-repeat;

        @include screen-md {
          background: url('../images/product-catalog/background-solutions-pages.png');
          background-size: 100vw 760px !important;
          background-position: bottom;
        }
      }

      &.-is-marketing {
        flex-wrap: nowrap;
        background: url('/images/marketing/marketing-header-screen.svg'), url('../images/product-catalog/background-solutions-pages.png');
        margin-top: -100px;
        background-size: 530px 360px, 100vw 660px !important;
        background-position: right 190px, bottom;
        background-repeat: no-repeat;

        @include screen-md {
          background: url('../images/product-catalog/background-solutions-pages.png');
          background-size: 100vw 760px !important;
          background-position: bottom;
        }
      }

      &-input-group {
        max-width: 440px;
      }

      &-info {
        max-width: 552px;

        @media (max-width: 995px) {
          margin-left: auto;
          margin-right: auto;
        }

        @include screen-sm {
          margin-left: auto;
          margin-right: auto;
        }

        .input-group {
          box-shadow: 0px 20px 34px 0px rgba(39, 38, 71, 0.05);
          border-radius: 25px;

          @include screen-sm {
            display: flex;
            flex-direction: column;
          }
        }
      }

      &-title {
        font-size: 55px;
        line-height: 60px;
        font-weight: bold;
        color: $font-base;
        letter-spacing: -0.5px;
        font-family: 'Ubuntu', sans-serif;
        max-width: 558px;

        @media (max-width: 1150px) {
          font-size: 45px;
          line-height: 50px;
          max-width: 440px;
        }

        @include screen-sm {
          text-align: center;
          margin-top: 0px;
          font-size: 30px;
          line-height: 32px;
        }
      }

      &-text {
        font-size: 18px;
        line-height: 28px;
        margin-top: 25px;
        color: #376B97;
        font-weight: bold;
        margin-bottom: 20px;

        @media (max-width: 1150px) {
          max-width: 440px;
        }

        @include screen-sm {
          margin-top: 40px;
          text-align: center;
          margin-bottom: 40px;
        }
      }

      &-img {
        @media (max-width: 1199px) {
          margin-left: auto;
          margin-right: auto;
        }

        @include screen-sm {
          display: none;
        }
      }

      &-input {
        min-height: 50px;
        border-radius: 25px;
        margin-right: -17px;
        padding-left: 23px;
        padding-right: 23px;
        outline: none;
        border: none;

        @include screen-sm {
          width: 100% !important;
          border-radius: 25px !important;
          margin-bottom: 15px !important;
        }

        &:focus {
          box-shadow: none;
        }
      }

      &-btn {
        z-index: 9;

        a {
          color: inherit;

          &:hover {
            text-decoration: none;
            color: #fff;
          }
        }

        @include screen-sm {
          width: 100%;
        }
      }
    }

    .nav-item {
      border-radius: 3px;
      margin-left: 2rem;
      white-space: nowrap !important;

      @include screen-lg {
        margin-left: 0;
      }

      &:hover {
        background: rgba(216, 216, 216, 0.15);
      }
    }

    .nav-link {
      font-size: 14px;
      font-weight: bold;
      line-height: 22px;
      color: $font-base !important;
      letter-spacing: normal;
      border-radius: 3px;
      padding-bottom: 10px;
      white-space: nowrap !important;

      @include screen-md {
        font-weight: 400;
      }
    }

    li {
      position: relative;
      transition-duration: 0.5s;
      list-style-type: none;

      &:hover,
      &:focus-within {
        background: rgba(216, 216, 216, 0.15);
        cursor: pointer;

        a {
          outline: none;
        }
      }
    }

    .dropdown {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all 0.5s ease;
      margin-top: 1rem;
      left: 0;
      display: none;
      top: 20px;
      padding: 0;

      &-content {
        border-radius: 5px;
        background: #fff;
        min-width: 169px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        z-index: 9999;
        box-shadow: 0px 4px 15px rgba(151, 180, 224, 0.25);


        li {
          padding-left: 20px;
          font-size: 12px;
          line-height: 24px;
          font-weight: 400;
          color: $font-base;
          cursor: pointer;
          padding-top: 10px;
          padding-bottom: 10px;

          a {
            color: $font-base;
            font-weight: 400;

            &:hover {
              text-decoration: none;
              color: $color-light-blue;
              font-weight: bold;
            }
          }
        }
      }
    }

    ul li:hover>ul,
    ul li:focus-within>ul,
    ul li ul:hover,
    ul li ul:focus {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    ul li ul li {
      clear: both;
      width: 100%;
    }
  }

  &-custom {
    &__bg {
      background-position: bottom !important; 
      background-size: 100vw 800px !important;
      padding-top: 220px;
      padding-bottom: 100px;
      background: url('../images/homepage/waves-blue2x.webp');
      margin-top: -100px;
      background-repeat: no-repeat;

      @media (max-width: 991px) {
        background: url('../images/homepage/waves-blue.svg');
        min-height: 680px;
        background-size: cover !important;
      }
    }

    &__title {
      font-weight: bold;
      font-size: 42px;
      line-height: 48px;
      color: $white;
      font-family: 'Ubuntu', sans-serif;
      max-width: 488px;
    }

    &__subtitle {
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: $white;
      max-width: 561px;
    }
  }

  &-experienced {
    &__title {
      font-weight: bold;
      font-size: 42px;
      line-height: 48px;
      color: $font-base;
      letter-spacing: -0.5px;
      font-family: 'Ubuntu', sans-serif;
      max-width: 490px;
    }

    &__subtitle {
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #354C6D;
      max-width: 522px;
    }
  }

  &-learn {
    &__bg {
      background-repeat: no-repeat;
      background-position: bottom bottom !important; 
      background-size: cover !important;
      min-height: 574px !important;
      padding-top: 50px;
      background: url('../images/homepage/background-guide-blue.webp');
    }

    &__bg2 {
      background-repeat: no-repeat;
      background-position: bottom bottom !important; 
      background-size: cover !important;
      min-height: 574px !important;
      padding: 100px 0;
      background: url('../images/translators/works-image2x.webp');
    }

    &__bg3 {
      background-repeat: no-repeat;
      background-position: bottom bottom !important; 
      background-size: cover !important;
      height: auto !important;
      min-height: 410px;
      width: 100%;
      padding-top: 100px;
      background: url('../images/translators/translation-bg.svg');

      @media (max-width: 1200px) {
        background: none;
        padding-top: 0;
        min-height: auto;
      }
    }

    &__works-line {
      width: 73%;
      @include screen-md {
        display: none;
      }
    }

    &__image {

      width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 450px;
    }

    &__title {
      font-weight: bold;
      font-size: 42px;
      line-height: 48px;
      color: $white;
      font-family: 'Ubuntu', sans-serif;
      max-width: 539px;
      letter-spacing: -0.5px;
    }

    &__subtitle {
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: $white;
      max-width: 539px;
    }

    &__text {
      font-weight: bold;
      font-size: 18px;
      line-height: 20px;
      color: $white;
      max-width: 539px;
    }
  }

  &-scale {
    &__section {
      background-color: $white;
      padding: 150px 0;
    }

    &__title {
      font-weight: bold;
      font-size: 42px;
      line-height: 48px;
      color: $font-base;
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: -0.5px;
      max-width: 542px;
    }

    &__subtitle {
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #354C6D;
      max-width: 655px;
    }

    &__box {
      min-height: 300px;
      max-width: 360px;
      background: #FFFFFF;
      box-shadow: 0px 9px 30px rgba(151, 180, 224, 0.25);
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 15px;
    }

    &__box2 {
      min-height: 300px;
      max-width: 360px;
      background: #5183BB;
      box-shadow: 0px 9px 30px rgba(151, 180, 224, 0.25);
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__box-title {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: $font-base;
      font-family: 'Ubuntu', sans-serif;
    }

    &__box-subtitle {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: #354C6D;
      max-width: 320px;
      text-align: center;

      a {
        color: #35A1F0;
        font-weight: bold;
      }
    }

    &__box2-title {
      font-weight: bold;
      font-size: 22px;
      line-height: 26px;
      color: $white;
      font-family: 'Ubuntu', sans-serif;
      max-width: 253px;
      text-align: center;
    }

    &__box2-subtitle {
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      color: $white;
      max-width: 320px;
      text-align: center;
    }
  }

  &-action {
    &__bg {
      background-repeat: no-repeat;
      background-position: bottom bottom !important; 
      background-size: cover !important;
      min-height: 350px !important;
      padding-top: 50px;
      background: url('../images/homepage/background-demo2x.webp');
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-weight: bold;
      font-size: 42px;
      line-height: 48px;
      color: $white;
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: -0.5px;
    }

    &__subtitle {
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: $white;
    }
  }

  &-integrations {
    &__title {
      font-weight: bold;
      font-size: 42px;
      line-height: 48px;
      color: $font-base;
      font-family: 'Ubuntu', sans-serif;
      letter-spacing: -0.5px;
    }

    &__subtitle {
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #354C6D;
    }

    &__text {
      font-weight: bold;
      font-size: 65px;
      line-height: 52px;
      color: #5183BB;
      font-family: 'Ubuntu', sans-serif;
    }

    &__subtext {
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: #5183BB;
    }

    &__logos {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &__gradient {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-top: -200px;
    }
  }

  &-solution {
    &__box {
      min-height: 440px;
      padding: 50px;
      background: #F7FBFD;
      border-radius: 25px;
      max-width: 550px;
    }

    &__title {
      font-weight: bold;
      font-size: 30px;
      line-height: 30px;
      color: $font-base;
      font-family: 'Ubuntu', sans-serif;
    }

    &__subtitle {
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #354C6D;
      max-width: 403px;
    }

    &__image {
      max-height: 180px;
      max-width: 250px;
    }
  }

  &-partners {
    @include screen-sm {
      padding-top: 60px;
      padding-bottom: 0;
    }

    .dot {
      flex: 1;
      border-radius: 0 !important;
      margin: 0 !important;
      transition: .3s;
      height: 4px !important;
      background: #e6ebf1 !important;
      opacity: 1 !important;

      &.is-selected {
        background: #53a9e6 !important;
        opacity: 1 !important;
      }
    }

    .carousel-cell {
      &.is-selected {
        img {
          box-shadow: 0px 4px 60px 0px rgba(32, 31, 28, 0.11);
        }
      }
    }

    .flickity-page-dots {
      height: 4px;
      position: static;
      margin-top: 50px;
      padding: 0 15px;
    }

    .flickity-viewport {
      height: 528px !important;

      @include screen-sm {
        height: 375px !important;
      }
    }

    .flickity-slider {
      top: 50px;
    }

    &__imgs {
      background: rgb(255, 255, 255);
      border-radius: 10px;
      border: 1px solid rgba(50, 50, 93, 0.11);
      height: 425px;
      margin: 0 30px;
      min-width: 100%;

      @include screen-sm {
        height: 280px;
        margin: 0 15px;
      }

      &-container {
        margin-right: 60px;
      }
    }

    .carousel-cell {
      margin-left: 30px;
      margin-right: 30px;
    }

    &__subtitle {
      font-size: 18px;
      font-weight: normal;
      color: #376B97;
      text-align: center;
      line-height: 22px;
      margin-bottom: 61px;

      @include screen-sm {
        font-size: 16px;
        margin-bottom: 30px;
        line-height: 20px;
      }
    }

    &__logos {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-container {
        border-radius: 30px;
        box-shadow: 0px 2px 30px 0px rgba(107, 124, 147, 0.1);
        min-height: 94px;
        align-items: center;
      }
    }

    &__title {
      font-size: 42px;
      text-align: center;
      margin-top: 120px;
      line-height: 52px;
      font-weight: bold;
      margin-bottom: 104px;
      color: $font-base;
      letter-spacing: -0.5px;
      font-family: 'Ubuntu', sans-serif;

      @include screen-sm {
        font-size: 30px;
        line-height: 32px;
        margin-bottom: 40px;
      }
    }

    &__info {
      margin-top: -100px;
      margin-bottom: 100px;
    }

    &__subtitle2 {
      font-size: 20px;
      font-weight: bold;
      color: $font-base;
      text-align: center;
      line-height: 28px;
      max-width: 300px;
    }

    &__title-bg {
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
      min-height: 360px !important;
      padding-top: 20px;
      background: url('../images/translators/waves-light.webp');
      margin-top: 100px;
    }

    &__tabs {
      max-width: 447px;

      @media (max-width: 1199px) {
        margin-left: auto;
        margin-right: auto;
      }

      @include screen-md {
        margin-left: auto;
        margin-right: auto;
      }

      &-index {
        font-size: 16px;
        color: $color-light-blue;
        font-weight: 700;
        margin-right: 30px;
        padding-top: 17px;
      }

      &-title {
        font-size: 18px;
        font-weight: 500;
        color: $dark-grey;
        padding-top: 17px;
        cursor: pointer;
        user-select: none;
        margin-bottom: 0;

        &.-is-selected {
          color: $color-light-blue;
          cursor: default;
        }
      }

      &-border {
        height: 2px;
        background: $border-color;
        width: 100%;
        opacity: 0.36;

        &.-selected {
          background: $color-light-blue;
          opacity: 100;
        }
      }

      &-text {
        font-size: 16px;
        color: $grey-2;
        line-height: 26px;
        overflow: hidden;
        font-weight: 300;
        height: 0;
        opacity: 0;
        transition: height 0ms 400ms, opacity 400ms 0ms;
        user-select: none;

        &.-is-visible {
          height: auto;
          opacity: 1;
          transition: height 0ms 0ms, opacity 600ms 0ms;
          padding-top: 16px;
        }
      }

      &-img {
        @media (max-width: 1199px) {
          margin-left: auto;
          margin-right: auto;
          margin-top: 60px;
        }

        @include screen-sm {
          display: none;
        }
      }
    }

    // &__row {
    //   margin-top: 80px;
    //   flex-wrap: wrap;

    //   @include screen-sm {
    //     margin-top: 90px;
    //   }
    // }

    &__col {
      width: 323px;
      min-width: 323px;
      margin-bottom: 20px;

      @include screen-sm {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 60px;
      }

      &-container {
        @media (max-width: 991px) {
          justify-content: center;
          flex-direction: column;
          text-align: center;
          align-items: center;
          margin-left: auto;
          margin-right: auto;

          img {
            display: block;
            margin-left: auto;
            margin-right: auto !important;
          }

          .index-partners__col-link {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      &-title {
        margin: 20px 0 15px;
        color: $dark-grey;
        font-size: 18px;
        font-weight: 500;
      }

      &-text {
        font-size: 16px;
        line-height: 26px;
        color: $grey-3;

      }

      &-link {
        font-size: 16px;
        color: #1f8ddb;
        display: flex;
        align-items: center;
        font-weight: 500;

        @include screen-sm {
          text-align: center;
          display: block;
        }

        &:hover {
          color: #0E3755 !important;
          transition: .3s;
        }

        svg {
          font-size: 12px;
          margin-left: 4px;
        }
      }
    }
  }

  &-customers {
    background: $grey-bg;

    @include screen-sm {
      padding-top: 60px;
      padding-bottom: 0;
    }

    &__title {
      text-align: center;
      font-size: 44px;
      font-weight: 700;
      max-width: 570px;
      margin: 0 auto;

      @include screen-sm {
        font-size: 30px;
        line-height: 32px;
      }
    }

    &__text {
      font-size: 18px;
      color: $grey-3;
      max-width: 665px;
      margin: 23px auto 120px;
      text-align: center;

      @include screen-sm {
        margin-top: 30px;
        margin-bottom: 90px;
      }
    }

    &__row {
      display: flex;

      @include screen-md {
        flex-direction: column-reverse;
      }

      &.-reverse {
        @include screen-md {
          flex-direction: column;
        }
      }

      img {
        width: 100%;
      }

      &-title {
        font-size: 24px;
        font-weight: 700;
        color: $font-dark;
        margin-top: 54px;
        margin-bottom: 30px;

        @include screen-sm {
          margin-top: 0;
        }
      }

      &-text {
        font-size: 16px;
        line-height: 26px;
        color: $grey-3;
      }
    }

    &__col {
      width: 100%;

      &-content {
        max-width: 342px;
        margin-left: auto;
        margin-right: auto;

        @include screen-sm {
          margin: 0;
          max-width: 100%;
        }
      }
    }
  }

  &-translators {
    display: flex;
    align-items: center;

    img {
      width: 50%;
    }

    @include screen-sm {
      padding-top: 60px;
      flex-direction: column;
      padding-bottom: 60px;

      img {
        width: 100%;
        margin-top: 60px;
      }
    }

    &__title {
      font-size: 44px;
      line-height: 58px;
      font-weight: 700;
      color: $font-dark;
      margin-bottom: 26px;

      @include screen-sm {
        font-size: 30px;
        text-align: center;
        line-height: 32px;
        margin-bottom: 30px;
      }
    }

    &__btns {
      @include screen-sm {
        flex-direction: column;

        .btn-initial {
          width: 100%;
          margin-bottom: 16px;
        }
      }
    }

    &__text {
      font-size: 18px;
      line-height: 28px;
      color: $grey-3;
      max-width: 553px;
      margin-bottom: 41px;

      @include screen-sm {
        text-align: center;
        font-weight: 400;
      }
    }
  }

  &-enterprise {
    background: $grey-bg;

    @include screen-sm {
      padding-top: 60px;
      padding-bottom: 30px;
    }

    &__title {
      font-size: 44px;
      line-height: 58px;
      text-align: center;
      margin-bottom: 16px;
      font-weight: 700;
      max-width: 703px;

      @include screen-sm {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 32px;
      }
    }

    &__text {
      font-size: 18px;
      line-height: 28px;
      max-width: 665px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      color: $grey-3;
      margin-bottom: 120px;

      @include screen-sm {
        margin-bottom: 60px;
      }
    }

    &__row {
      @include screen-sm {
        flex-direction: column;
      }
    }

    &__col {
      width: 350px;
      border-radius: 5px;
      border: 1px solid rgb(215, 215, 215);
      min-height: 309px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 29px 20px;
      text-align: center;
      cursor: default;
      transition: all 0.5s ease;

      &:hover {
        border: 1px solid rgb(83, 169, 230);
        box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow .5s ease-in-out;
        transform: scale(1.01);
        background: #fff;
      }

      @include screen-sm {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
      }

      &.-is-active {
        border: 1px solid rgb(83, 169, 230);
        box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.1);
        transition: box-shadow .5s ease-in-out;
        transform: scale(1.01);
        background: #fff;
      }

      &-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
        color: $dark-grey;
        margin: 30px 0;
      }

      &-text {
        font-size: 16px;
        color: $grey-3;

        a {
          color: #1f8ddb;
          font-weight: 500;

          &:hover {
            color: #0E3755 !important;
            transition: .3s;
          }
        }
      }
    }
  }

  &-pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 50%;
      margin-right: 16px;
    }

    @include screen-md {
      flex-direction: column-reverse;
      padding-top: 60px;
      padding-bottom: 60px;

      img {
        width: 100%;
        margin-top: 60px;
        margin-right: 0;
      }
    }

    &__title {
      font-size: 44px;
      color: $font-dark;
      font-weight: 700;
      margin-bottom: 26px;

      @include screen-md {
        text-align: center;
      }

      @include screen-sm {
        text-align: center;
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 32px;
      }
    }

    &__text {
      font-size: 18px;
      line-height: 28px;
      color: $grey-3;
      margin-bottom: 20px;

      @include screen-md {
        text-align: center;
        margin-bottom: 60px;
      }
    }

    &__free {
      font-size: 16px;
      font-weight: 700;
      color: $font-dark;
      margin-bottom: 30px;

      @include screen-md {
        text-align: center;
      }
    }

    &__col {
      width: 539px;

      @include screen-md {
        width: 100%;
      }
    }

    .input-group {
      box-shadow: 0px 6px 34px 0px rgba(39, 38, 71, 0.15);
      border-radius: 25px;
      max-width: 416px;

      @include screen-md {
        margin-left: auto;
        margin-right: auto;
      }

      @include screen-sm {
        background: #ffffff;
        box-shadow: none;
      }

      input {
        border: 1px solid rgba(122, 129, 144, 0.17);

        @include screen-sm {
          width: 100% !important;
          margin-right: 0;
        }
      }
    }

    .input-group-append {
      @include screen-sm {
        width: 100%;
      }
    }
  }

  &-solutions {
    background: $grey-bg;

    @include screen-md {
      padding-top: 60px;
      padding-bottom: 0;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include screen-md {
        flex-direction: column;
        padding: 0;
      }
    }

    &__bespoke {
      max-width: 540px;

      @include screen-md {
        margin-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;
      }

      &-title {
        font-size: 44px;
        font-weight: 700;
        color: $font-dark;
        margin-bottom: 26px;

        @media (max-width: 991px) {
          text-align: center;
        }

        @include screen-sm {
          font-size: 30px;
          line-height: 32px;
          margin-bottom: 30px;
          text-align: center;
        }
      }

      &-text {
        font-size: 18px;
        line-height: 28px;
        color: $grey-3;
        margin-bottom: 40px;

        @media (max-width: 991px) {
          text-align: center;
        }

        @include screen-sm {
          text-align: center;
        }
      }

      &-btns {
        @media (max-width: 991px) {
         display: flex;
         justify-content: center;
        }

        @include screen-sm {
          flex-direction: column;

          a {
            &:first-child {
              margin-right: 0 !important;
              margin-bottom: 15px;
            }
          }

          button {
            width: 100%;
          }
        }
      }
    }

    &__col {
      background: #fff;
      border-radius: 5px 10px 10px;
      min-height: 375px;
      padding-bottom: 30px;
      max-width: 455px;
      padding-left: 43px;
      padding-right: 43px;

      @include screen-md {
        margin-bottom: 20px;
      }

      @include screen-sm {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0;
        margin-bottom: 0;
      }

      &-title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 85px;
        line-height: 48px;
        color: $dark-grey;

        @include screen-sm {
          margin-top: 60px;
          font-size: 30px;
          line-height: 32px;
          text-align: center;
        }
      }

      &-text {
        font-size: 32px;
        color: $dark-grey;
        margin-bottom: 52px;

        @include screen-sm {
          font-size: 21px;
          margin-bottom: 40px;
          text-align: center;
        }
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;

    @include screen-sm {
      flex-wrap: wrap;
      margin-bottom: 0;

      div {
        &:first-child {
          width: 100%;
        }

        width: 50%;
        text-align: center;
        margin-bottom: 60px;
      }
    }

    &__easy {
      font-size: 13px;
      color: $grey-4;
      line-height: 26px;
      margin-top: 6px;
      margin-bottom: 2px;
    }

    &__cat {
      font-size: 16px;
      color: $dark-cerulean;
      font-weight: bold;
      margin-bottom: 12px;
    }

    &__link {
      font-size: 16px;
      color: $dark-cerulean !important;
      margin-bottom: 12px;
      font-weight: 400;

      &:hover {
        opacity: 0.6;
        transition: .3s;
      }
    }

    &__text {
      font-size: 13px;
      font-weight: 400;
      color: $dark-cerulean;

      a {
        color: $dark-cerulean !important;

        &:hover {
          opacity: 0.6 !important;
          transition: .3s;
        }
      }

      @include screen-sm {
        padding: 20px;
      }
    }

    &__social {
      .nav-link {
        
        &:hover {
          opacity: 0.6;
          transition: .3s;
        }
      }
      
      @include screen-sm {
        justify-content: center;
      }
    }
  }
}

.col-img,
.col-content {
  position: relative;
  left: 40px;

  @include screen-sm {
    position: static;
  }
}

footer {
  &.-is-gray {
    background: $grey-bg;

    @include screen-md {
      padding-top: 60px;
      padding: 60px 20px 0;
    }
  }
  
  overflow: hidden;

  @include screen-sm {
    padding-top: 30px;
  }

}

.-is-mobile {
  display: none;

  @media (max-width: 991px) {
    display: block;
  }
}

.navbar-nav {

  @media (max-width: 1050px) {
    margin-left: 0 !important;
  }

  @media (max-width: 991px) {
    text-align: center;
  }
}

#drift-widget-container {
  display: none !important;
}

#drift-frame-chat {
	display: none !important;
}

#drift-frame-controller {
	display: none !important;
}
