.integrations {
  // Pagination Container
  .cont{
    width: 100%;
  }
  .container2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    ul.list {
      display: flex;
      flex-wrap: wrap;
      max-width: 1000px;
      width: 100%;
      list-style-type: none;
    }

    li {
      margin: 5px;
    }
  }

  ul.pagination{
    
    padding-top: 40px;
    display: flex;
    justify-content: center;
    
    &,
    *{
      user-select: none;
    }
    
    a{
      display:inline-block;
      padding:0 10px;
      cursor:pointer;
      &.disabled{
        opacity:.3;
        pointer-events: none;
      cursor:not-allowed;
      }
      &.current{
        background:#f3f3f3;
      }
    }

    a.page  {
      box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
      height: 36px;
      width: 36px;
      display: inline-flex;
      background: white;
      color: $night-black;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 5px;
      position: relative;
    }
    a.page:active {
      top: 1px;
      background: red;
    }
    a.page:focus {
      background: $soft-gray;
    }

    li.active {
      background-color: $white !important;
      a.page {
        background: #f3f3f3;
      }
    }
  }
// End pagination
  .service {
    &__input {
      border-radius: 4px;
      box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
      height: 49px;
      max-width: 764px;
      margin-right: auto;
      margin-left: auto;
      width: 100% !important;
      @include screen-md {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
      }
    }

    &__input-container {
      width: 100%;
      max-width: 1000px;
    }

    &__box {
      min-height: 367px;
      max-width: 302px;
      min-width: 302px;
      background: rgb(255, 255, 255);
      border-radius: 4px;
      box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
      padding: 15px;
      text-decoration: none;
      border: 1px solid transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        border: 1px solid $purple;
      }
      @include screen-lg {
        max-width: 100%;
        min-width: 100%;
      }
    }

    &__image {
      img {
        height: 80px;
        width: 80px;
        object-fit: contain;
      }
    }

    &__image-logo {
      margin-top: 20px;

      img {
        height: 80px;
        width: 80px;
        object-fit: contain;
      }
    }

    &__image-box {
      background: $white;
      border-radius: 10px;
      box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.08);
      height: 103px;
      width: 254px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -50px;
      @include screen-lg {
        width: 180px;
      }
      @include screen-sm {
        width: 254px;
      }

      img {
        height: 80px;
        width: 80px;
        object-fit: contain;
      }
    }

    &__image-box2 {
      background: $white;
      border-radius: 10px;
      box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.08);
      height: 180px;
      width: 387px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -80px;
      @include screen-sm {
        width: 100%;
        margin-top: -30px;
      }
    }

    &__image-box3 {
      background: $white;
      border-radius: 10px;
      box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.08);
      height: 317px;
      width: 387px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: -40px;
      @include screen-sm {
        width: 100%;
        margin-bottom: 20px;
      }
    }

    &__title {
      font-size: 18px !important;
      font-family: 'Roboto', sans-serif !important;
      color: $night-black;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0px;
      margin-top: 20px;
      text-align: center;
    }
  
    &__subtitle {
      color: $dust-gray;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 28px;
      text-align: center;
      max-width: 254px;
      font-family: 'Roboto', sans-serif !important;
    }

    &__name {
      font-size: 18px !important;
      font-family: 'Roboto', sans-serif !important;
      color: $night-black;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0px;
      margin-top: 20px;
      text-align: center;
    }
  }

  .sidebar {
    &__title {
      color: $purple;
      font-family: 'Roboto', sans-serif !important;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.16px;
    }

    &__container {
      max-width: 310px;
      box-shadow: 0px 10px 20px 0px rgba(46, 91, 255, 0.07);
      border-radius: 1px;
      max-height: 780px !important;
      overflow: hidden;
      overflow-y: scroll;
    }

    &__container2 {
      max-width: 310px;
      border-radius: 4px;
      border: 1px solid rgb(223, 228, 238);
      margin-top: 212px;
      max-height: 780px !important;
      overflow: hidden;
      overflow-y: scroll;
      @include screen-sm {
        margin-top: 60px;
      }
    }
  }

  .active {
    color: $purple !important;
    background-color: $light-gray !important;
  }
}