.integrations {
  .header {
  
    &__title {
      font-size: 44px !important;
      font-family: 'Muli', sans-serif;
      color: $white;
      font-weight: normal;
      letter-spacing: -0.42px;
      text-align: center;
    }
  
    &__subtitle {
      color: $white;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 32px;
      font-family: 'Muli', sans-serif;
      max-width: 736px;
      text-align: center;
    }
  
    &__content {
      background-size: 100%;
      margin-top: 85px;
    }
  
    &__bg {
      min-height: 457px !important;
      background: url('../images/features/Slogan@3x.png');
      background-repeat: no-repeat;
      background-position: center; 
      background-size: cover !important;
    }
  }

  // Pagination Container
  .cont{
    width: 100%;
  }
  .container2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;

    ul.list {
      display: flex;
      flex-wrap: wrap;
      max-width: 1000px;
      list-style-type: none;
    }

    li {
      margin: 5px;
    }
  }

  ul.pagination{
    
    padding-top: 40px;
    display: flex;
    justify-content: center;
    
    &,
    *{
      user-select: none;
    }
    
    a{
      display:inline-block;
      padding:0 10px;
      cursor:pointer;
      &.disabled{
        opacity:.3;
        pointer-events: none;
      cursor:not-allowed;
      }
      &.current{
        background:#f3f3f3;
      }
    }
    a.page  {
      box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
      height: 36px;
      width: 36px;
      display: inline-flex;
      background: white;
      color: $night-black;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      margin: 5px;
      position: relative;
    }
    a.page:active {
      top: 1px;
      background: red;
    }
    a.page:focus {
      background: $soft-gray;
    }

    li.active {
      background-color: $light-gray !important;
      a.page {
        background: #f3f3f3;
      }
    }
  }
// End pagination
  .service {

    &__input {
      box-shadow: none !important;
      height: 49px;
      width: 498px;
      @include screen-md {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
      }
    }

    &__input-form {
      border: 1px solid transparent;
      border-bottom: 1px solid $soft-gray;
      border-radius: 0px;
      background-color: $light-gray;
      &:focus {
        border-bottom: 1px solid $sky-blue !important;
      }
    }

    &__box {
      min-height: 367px;
      max-width: 302px;
      min-width: 302px;
      background: rgb(255, 255, 255);
      border-radius: 4px;
      box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.1);
      padding: 15px;
      margin: 15px;
      text-decoration: none;
      border: 1px solid transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        border: 1px solid $purple;
      }
      // @include screen-lg {
      //   max-width: 100%;
      //   min-width: 100%;
      // }
    }

    &__image {
      height: 85px;
    }

    &__search {
      border: none;
      box-shadow: none;
      height: 48px;
      margin-left: -110px;
      z-index: 999;
      background-color: $light-gray;

    }

    &__image-box {
      background: $white;
      border-radius: 10px;
      box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.08);
      height: 103px;
      width: 254px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -50px;
      @include screen-lg {
        width: 180px;
      }
      @include screen-sm {
        width: 254px;
      }

      img {
        height: 80px;
        width: 80px;
        object-fit: contain;
      }
    }

    &__image-box2 {
      background: $white;
      border-radius: 10px;
      box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.08);
      height: 180px;
      width: 387px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: -80px;
    }

    &__title {
      font-size: 18px !important;
      font-family: 'Roboto', sans-serif !important;
      color: $night-black;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0px;
      margin-top: 20px;
      text-align: center;
    }
  
    &__subtitle {
      color: $dust-gray;
      font-size: 14px;
      font-weight: normal;
      letter-spacing: 0px;
      line-height: 28px;
      text-align: center;
      max-width: 254px;
      font-family: 'Roboto', sans-serif !important;
    }

    &__name {
      font-size: 18px !important;
      font-family: 'Roboto', sans-serif !important;
      color: $night-black;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0px;
      margin-top: 20px;
      text-align: center;
    }
  }

  .sidebar {
    &__title {
      color: $night-black;
      font-family: 'Muli', sans-serif;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: -0.16px;
      line-height: 28px;
    }

    &__container {
      max-width: 310px;
      min-height: 580px;
      box-shadow: 0px 10px 20px 0px rgba(46, 91, 255, 0.07);
      border-radius: 1px;
    }
  }

  .active {
    color: $dark-green !important;
    background-color: $light-gray !important;
  }

}