.section-large {
	padding-top: 145px;
	padding-bottom: 145px;
	@include screen-md {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.section-medium {
	padding-top: 101px;
	padding-bottom: 100px;
	@include screen-md {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/logos/menu.svg");
}

.navbar-light .navbar-toggler {
  border-color: $white !important;
}

.navbar {
  // box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.06);

  .dropdown-toggle::after {
    display: none !important;
  }

  a.dropdown-item {
    color: $sherpa-blue !important;
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 22px;

    &:hover {
      background-color: $bondi-blue !important;
      transition: background-color .3s ease-in-out;
      color: $white !important;
      cursor: pointer;
    }
  }

  .dropdown-menu {
    box-shadow: 2px 2px 12px #DADFE8;
    border: none;
  }
}

.header {
  overflow: hidden;
  
	&__logo {
    width: 180px;
    height: 55px;
  }

  &__logo-backups {
    width: 270px;
    height: 58px;
  }

  &__logo-text {
    margin: 10px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    font-size: 18px;
    color: $bondi-blue;
    letter-spacing: 0px;
    span {
      color: $night-black;
    }
  }

  &__logo-subtext {
    color: $white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    text-align: center;
    line-height: 18px;
    height: 50px;
    font-family: 'Mulish', sans-serif;
  }

  &__content {
    background-size: 100%;
    margin-top: 90px;
  }

  &__image {
    min-height: 650px !important;
    background: url('../images/landing/background-fill.webp');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover !important;
    padding-top: 140px;
    @include screen-md {
      padding-top: 50px;
    }
  }

  &__title {
    font-size: 55px !important;
    line-height: 65px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
    max-width: 531px;
    @include screen-sm {
      text-align: center;
    }
  }

  &__subtitle {
    color: $air-force-blue;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 32px;
    max-width: 443px;
    font-family: 'Mulish', sans-serif;
    @include screen-sm {
      text-align: center;
    }
  }

  &__subtext {
    color: $white;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    max-width: 443px;
    text-align: center;
    margin-top: -100px;
    font-family: 'Mulish', sans-serif;
    @include screen-md {
      margin-top: -140px;
    }
  }

  &__logos {
    width: 40px;
    height: 40px;
    margin: 12px;
    @include screen-md {
      margin-left: 22px;
      margin-right: 22px;
    }
  }
}

.protect {

  &__image1 {
    max-height: 469px;
    max-width: 376px;
    margin-top: -170px;
    @include screen-lg {
      margin-top: 0px;
    }
    @include screen-sm {
      max-height: 360px;
      max-width: 290px;
    }
  }

  &__image2 {
    max-height: 244px;
    max-width: 365px;
    margin-left: -190px;
    margin-top: 200px;
    margin-bottom: 50px;
    @include screen-lg {
      margin-left: -270px;
      margin-top: 400px;
    }
    @include screen-sm {
      max-height: 188px;
      max-width: 280px;
      margin-top: 300px;
      margin-left: -210px;
    }
  }

  &__background {
    min-height: 950px !important;
    background: url('../images/landing/protect-software-bg.webp');
    background-repeat: no-repeat;
    background-position: top; 
    background-size: cover !important;
    padding-top: 200px;
    padding-bottom: 400px;
    margin-top: 100px;
    @include screen-md {
      padding-top: 100px;
    }
  }

  &__title {
    font-size: 42px !important;
    line-height: 53px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
    max-width: 460px;
    text-align: right;
  }

  &__subtitle {
    color: $air-force-blue;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 32px;
    max-width: 473px;
    font-family: 'Mulish', sans-serif;
    text-align: right;
  }

  &__subtext {
    color: $air-force-blue;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    text-align: center;
  }

  &__divider {
    height: 4px;
    width: 60px;
    border-top: 4px solid $bondi-blue;
    margin-bottom: 16px;
  }

  &__logos {
    width: 120px;
    max-height: 51px;
    margin-top: 20px;
    object-fit: contain;
  }
}

.works {

  &__title {
    font-size: 42px !important;
    line-height: 53px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
    text-align: center;
  }

  &__custom-padding {
    padding-left: 96px;

    @include screen-sm {
      padding-left: 0;
    }
  }

  &__icon {
    width: 20px;
    margin-left: 15px;
    object-fit: contain;
  }

  &__config {
    padding: 0;
    margin-top: 44px;
    margin-right: 44px;
    display: flex;
    border-bottom: 1px dashed #6782A3;
    border-left: 1px dashed #6782A3;
    border-bottom-left-radius: 30px;
    min-height: 350px;

    @include screen-lg {
      border: none;
      padding: 0 0 10px 0;
      margin-right: 0px;
      min-height: auto;
    }
  }

  &__config2 {
    padding: 80px 40px 0 0;
    margin-left: 53px;
    margin-top: -1px;
    border-top: 1px dashed #6782A3;
    border-right: 1px dashed #6782A3;
    border-bottom: 1px dashed #6782A3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 490px;

    @include screen-lg {
      border: none;
      padding: 10px 0 60px 0;
      margin-left: 0px;
      min-height: auto;
      margin-top: 70px;
    }
  }

  &__config3 {
    padding: 0;
    margin-top: 80px;
    display: flex;

    @include screen-md {
      margin-top: 0px;
    }

    @include screen-lg {
      padding: 0 0 10px 0;
    }

    @include screen-sm {
      margin-top: 50px;
    }
  }

  &__config4 {
    padding: 80px 0 0 0;
    margin-top: -1px;
    margin-left: -2px;
    margin-right: 40px;
    display: flex;
    border-bottom: 1px dashed #6782A3;
    border-top: 1px dashed #6782A3;
    border-left: 1px dashed #6782A3;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    min-height: 400px;

    @include screen-lg {
      // margin-top: -126px;
      margin-left: 1px;
      border: none;
    }

    @include screen-md {
      border: none;
      padding: 80px 0 40px 0;
      margin-right: 0px;
      min-height: auto;
    }

    @include screen-sm {
      padding-top: 0px;
    }
  }

  &__config5 {
    padding: 80px 0;
    margin-top: -1px;
    margin-left: 8px;
    margin-right: 40px;
    display: flex;
    border-bottom: 1px dashed #6782A3;
    border-top: 1px dashed #6782A3;
    border-left: 1px dashed #6782A3;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;

    @include screen-lg {
      border: none;
      padding: 80px 0 40px 0;
      margin-right: 0px;
    }
  }

  &__config6 {
    padding: 80px 0 0 0;
    margin-top: -1px;
    margin-left: -5px;
    margin-right: 40px;
    display: flex;
    border-bottom: 1px dashed #6782A3;
    border-top: 1px dashed #6782A3;
    border-left: 1px dashed #6782A3;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    min-height: 450px;

    @include screen-lg {
      margin-top: -87px;
      margin-left: -2px;
      border: none;
      margin-top: 0px;
    }

    @include screen-md {
      border: none;
      padding: 80px 0 40px 0;
      margin-right: 0px;
      min-height: auto;
      margin-top: 0px;
    }
  }

  &__config7 {
    padding: 80px 0 0 0;
    margin-left: 39px;
    margin-top: -1px;
    border-top: 1px dashed #6782A3;
    border-right: 1px dashed #6782A3;
    border-bottom: 1px dashed #6782A3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 450px;

    @include screen-lg {
      margin-left: 39px;
      border: none;
    }

    @include screen-md {
      border: none;
      padding: 10px 0 60px 0;
      margin-left: 0px;
      min-height: auto;
    }
  }

  &__config8 {
    padding: 80px 50px 0 0;
    margin-top: -1px;
    margin-left: 52px;
    display: flex;
    border-top: 1px dashed #6782A3;
    border-right: 1px dashed #6782A3;
    border-top-right-radius: 30px;

    @include screen-lg {
      margin-left: 46px;
      border: none;
    }

    @include screen-md {
      border: none;
      padding: 20px 0 60px 0;
      margin-left: 0px;
      min-height: auto;
    }
  }

  &__border-small {
    border-right: 1px dashed #6782A3;
    border-top: 1px dashed #6782A3;
    height: 90px;
    width: 30px;
    position: absolute;
    top: -0.5px;
    right: 13px;
    border-top-right-radius: 30px;
    @include screen-lg {
      border: none;
    }
  }

  &__content {
    padding: 0 0 82px 0;
    margin-top: 80px;
    margin-right: 42px;
    display: flex;
    border-bottom: 1px dashed #6782A3;
    border-left: 1px dashed #6782A3;
    border-bottom-left-radius: 30px;

    @include screen-lg {
      border: none;
      padding: 0 0 10px 0;
    }
  }

  &__content2 {
    padding: 80px 0 0 0;
    margin-left: 37px;
    margin-top: -1px;
    border-top: 1px dashed #6782A3;
    border-right: 1px dashed #6782A3;
    border-bottom: 1px dashed #6782A3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 330px;

    @include screen-lg {
      border: none;
      padding: 10px 0 60px 0;
      min-height: auto;
      margin-top: 70px;
    }

    @include screen-sm {
      margin-top: 0px;
    }
  }

  &__content3 {
    padding: 0;
    margin-top: 80px;
    display: flex;

    @include screen-md {
      padding: 0 0 10px 0;
      margin-top: 50px;
    }

    @include screen-sm {
      margin-top: 50px;
    }
  }

  &__content4 {
    padding: 80px 0 0 0;
    margin-top: -1px;
    margin-left: 8px;
    margin-right: 40px;
    display: flex;
    border-bottom: 1px dashed #6782A3;
    border-top: 1px dashed #6782A3;
    border-left: 1px dashed #6782A3;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    min-height: 350px;

    @include screen-lg {
      border: none;
      padding: 80px 0 0 0;
      min-height: auto;
      margin-left: 0px;
    }

    @include screen-sm {
      margin-bottom: 20px;
    }
  }

  &__content5 {
    padding: 80px 50px 0 0;
    margin-top: -1px;
    margin-left: 40px;
    display: flex;
    border-top: 1px dashed #6782A3;
    border-right: 1px dashed #6782A3;
    border-top-right-radius: 30px;

    @include screen-lg {
      border: none;
      padding: 20px 0 60px 0;
      margin-left: 0;
      margin-top: 60px;
    }

    @include screen-sm {
      margin-top: 0px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 370px;
  }

  &__image2 {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 260px;
  }

  &__number {
    width: 74px;
    height: 40px;
    border-radius: 20px;
    background-color: $bondi-blue;
    font-family: 'Mulish', sans-serif;
    color: $white;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen-sm {
      margin-left: 15px;
    }
  }

  &__step {
    height: 40px;
    border-radius: 20px;
    min-width: 110px;
    background: #DDFAFF !important;
    color: #009CB7 !important;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen-sm {
      margin-left: 15px;
    }
  }

  &__step-white {
    height: 40px;
    border-radius: 20px;
    min-width: 110px;
    background: none !important;
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen-sm {
      margin-left: 15px;
    }
  }

  &__step2 {
    height: 40px;
    border-radius: 20px;
    min-width: 110px;
    background: $bondi-blue !important;
    color: $white !important;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen-sm {
      margin-left: 15px;
    }
  }

  &__number-bg {
    margin-left: -35px;
    margin-right: 15px;
    background-color: $white;
    height: 120px;
    margin-top: -35px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen-md {
      margin-left: 0;
    }
  }

  &__number-bg2 {
    margin-left: -66px;
    margin-right: 15px;
    background-color: $white;
    height: 120px;
    margin-top: -36px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen-md {
      margin-left: 0;
    }
  }

  &__number-bg-step {
    margin-left: -50px;
    margin-right: 15px;
    background-color: none !important;
    height: 120px;
    margin-top: -44px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen-md {
      margin-left: 0;
    }
  }

  &__number-bg-step2 {
    margin-left: -85px;
    margin-right: 15px;
    background-color: none !important;
    height: 120px;
    margin-top: -36px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include screen-md {
      margin-left: 0;
    }
  }

  &__number-bg-step3 {
    margin-left: -85px;
    margin-right: 15px;
    background-color: none !important;
    height: 320px;
    margin-top: -25px;
    padding-top: 30px;

    @include screen-md {
      margin-left: 0;
    }

    @include screen-sm {
      height: 120px;
    }
  }

  &__number-bg3 {
    margin-left: -66px;
    margin-right: 15px;
    background-color: $white;
    height: 320px;
    margin-top: -25px;
    padding-top: 30px;

    @include screen-md {
      margin-left: 0;
    }

    @include screen-sm {
      height: 200px;
    }
  }

  &__text {
    font-size: 30px !important;
    line-height: 38px;
    font-family: 'Mulish', sans-serif;
    color: $cerulean;
    font-weight: 200;
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  &__subtext {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Mulish', sans-serif;
    max-width: 345px;
  }

  &__subtext2 {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    font-family: 'Mulish', sans-serif;
    max-width: 400px;
  }

  &__info-text {
    color: $cerulean;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    font-family: 'Mulish', sans-serif;
    text-align: center;
  }

}

.how-works {
  &__main-title {
    color: $dark-cyan;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 53px;
    text-align: center;
    max-width: 853px;
  }

  &__text {
    font-size: 30px !important;
    line-height: 38px;
    font-family: 'Mulish', sans-serif;
    color: $dark-cyan;
    font-weight: 600;
    text-transform: lowercase;

    &::first-letter {
      text-transform: capitalize;
    }

    @include screen-xs {
      font-size: 22px !important;
      line-height: 28px;
    }
  }

  &__subtext2 {
    color: $dark-cyan;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    font-family: 'Mulish', sans-serif;
    max-width: 450px;
  }

  &__active-icon {
    margin-top: -35px;
    margin-right: 30px;

    @include screen-sm {
      margin-top: 100px;
    }
  }
}

.deposit-assets {
  &__main-title {
    color: $dark-cyan;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 53px;
    text-align: center;
  }

  &__title {
    color: $dark-cyan;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 40px;
  }

  &__subtitle {
    color: $dark-cyan;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    max-width: 800px;
  }

  &__text {
    color: $dark-cyan;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    max-width: 560px;
  }

  &__devider {
    width: 100%;
    border: 1px dashed #6A8493;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &__dotted-line {
    border-left: 1px dashed #6A8493;
    height: 100%;
    position: absolute;
    left: 13px;
    top: 30px;
  }

  &__dotted-line2 {
    border-left: 1px dashed $white;
    height: 100%;
    position: absolute;
    left: 20px;
    top: 30px;
  }

}

.escrow {

  &__image-box {
    margin-top: -30px;
    max-width: 513px;
    min-width: 513px;
    margin-right: 0px;
    margin-left: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    @include screen-sm {
      margin-top: 0px;
      overflow: hidden;
      min-width: 100%;
    }
  }

  &__image {
    margin-left: -150px;
    min-width: 300px;
    max-height: 712px;
    @include screen-md {
      min-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-left: 0px;
    }
    @include screen-sm {
      min-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-left: 30px;
    }
  }

  &__content {
    margin-left: auto;
    @include screen-lg {
      margin-left: 0px;
    }
  }

  &__content-bg {
    min-height: 750px !important;
    background: url('../images/landing/escrow-role-bg.webp');
    background-repeat: no-repeat;
    background-position: top; 
    background-size: cover !important;
    padding-top: 200px;
    padding-bottom: 300px;
    margin-top: 100px;
    @include screen-md {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &__title {
    font-size: 44px !important;
    font-family: 'Mulish', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    max-width: 413px;
    text-align: start;
  }

  &__subtitle {
    color: $night-black;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    max-width: 338px;
    font-family: 'Mulish', sans-serif;
    text-align: start;
  }

  &__subtext {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    text-align: start;
    max-width: 353px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-right: 38px;
  }
}

.escrow2 {

  &__image {
    width: 766px;
    height: 547px;
    object-fit: contain;
    margin-left: -100px;
    @include screen-lg {
      margin-left: 15px;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    margin-left: auto;
    @include screen-lg {
      margin-left: 0px;
    }
  }

  &__title {
    font-size: 42px !important;
    line-height: 53px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
    text-align: center;
  }

  &__subtitle {
    color: $night-black;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    text-align: end;
  }

  &__subtext {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    text-align: end;
    max-width: 351px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 20px;
  }
}

.escrow3 {

  &__title {
    font-size: 45px !important;
    line-height: 55px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
    max-width: 465px;
  }

  &__subtitle {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 30px;
    max-width: 438px;
    font-family: 'Mulish', sans-serif;
  }

  &__link {
    color: $bondi-blue;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    max-width: 200px;
    text-decoration: underline !important;
    &:hover {
      opacity: 0.8;
      color: $bondi-blue;
      cursor: pointer;
    }
  }

  &__box1 {
    border-radius: 8px;
    border: 1px solid rgba(51, 51, 51, 0.08);
    box-shadow: 3px 3px 10px 0px rgba(51, 51, 51, 0.1);
    min-height: 125px;
    width: 208px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
  }

  &__box2 {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 4px 24px 0px rgba(37, 38, 94, 0.1);
    height: 391px;
    max-width: 326px;
    min-width: 260px;
    padding: 32px;
    border-top: 6px solid $bondi-blue;
    pointer-events: none;
  }
  
  &__icon {
    width: 50px;
    height: 50px;
  }

  &__number {
    font-size: 48px;
    line-height: 48px;
    font-weight: 200;
    letter-spacing: -0.6px;
    font-family: 'Rubik', sans-serif;
  }

  &__subtext {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 22px;
    font-family: 'Rubik', sans-serif;
  }

  &__text {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 22px;
    font-family: 'Mulish', sans-serif;
  }
}

.verification {

  &__container {
    background: $alice-blue;
    border-radius: 25px;
    min-height: 960px !important;
    max-width: 1320px;
    width: 100%;
    padding: 100px 80px 100px;
    box-shadow: 0px 14px 25px rgba(0, 90, 109, 0.1);
    @include screen-lg {
      width: 90%;
      padding: 50px 15px 50px;
    }
  }

  &__title {
    font-size: 42px !important;
    line-height: 53px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
    text-align: right;
  }

  &__add-on {
    font-size: 20px !important;
    line-height: 25px;
    font-family: 'Mulish', sans-serif;
    color: #F7FBFF;
    font-weight: 700;
    letter-spacing: -0.42px;
    text-align: center;
    height: 45px;
    min-width: 120px;
    width: fit-content;
    background: #65A2FD;
    border-radius: 10px;
    padding: 10px 20px;
  }

  &__subtitle {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    max-width: 552px;
    font-family: 'Mulish', sans-serif;
    text-align: right;
  }

  &__title4 {
    font-size: 42px !important;
    line-height: 53px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
  }

  &__subtitle4 {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    max-width: 552px;
    font-family: 'Mulish', sans-serif;
  }

  &__title3 {
    font-size: 44px !important;
    font-family: 'Mulish', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    max-width: 535px;
    text-align: end;
    margin-left: auto;
  }

  &__subtitle3 {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    text-align: end;
    max-width: 535px;
  }

  &__title2 {
    font-size: 14px !important;
    font-family: 'Mulish', sans-serif;
    color: $cerulean;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
  }

  &__text {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    font-family: 'Mulish', sans-serif;
    max-width: 295px;
    min-height: 80px;

    @include screen-md {
      min-height: auto;
    }
  }

  &__text2 {
    color: $sherpa-blue;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
  }

  &__image {
    width: 100%;
    height: fit-content;
    object-fit: contain
  }

  &__devider {
    border-bottom: 1px solid $air-force-blue;
    padding-bottom: 80px;
    margin-bottom: 80px;
  }

  &__link {
    color: $bondi-blue;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    &:hover {
      color: $bondi-blue;
      text-decoration: none;
      opacity: 0.8;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;

    @include screen-md {
      margin-top: 50px;
    }
  }

  &__guide {
    margin-top: -65px;
    margin-bottom: 100px;
  }

  // &__guide-bg {
  //   position: relative;
  //   z-index: 0;
  //   margin-top: -70px;

  //   @include screen-sm {
  //     margin-top: 50px;
  //   }
  // }
}

.guide {

  &__bg {
    background: url('../images/homepage/guide-bg.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover !important;
    border-radius: 16px;
  }

  &__bg-security {
    background: url('../images/homepage/security-background.webp');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover !important;
    padding: 50px 0px;
  }

  &__content {
    min-height: 317px !important;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include screen-md {
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__content2 {
    min-height: 500px !important;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include screen-md {
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__title {
    font-size: 28px !important;
    font-family: 'Mulish', sans-serif;
    color: $white;
    font-weight: bold;
    letter-spacing: -0.2px;
    max-width: 547px;
    line-height: 34px;
  }

  &__subtitle {
    color: $snow;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 24px;
    font-family: 'Mulish', sans-serif;
    max-width: 410px;
  }

  &__title2 {
    font-size: 42px !important;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.2px;
    max-width: 547px;
    line-height: 42px;
  }

  &__subtitle2 {
    color: $sherpa-blue;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    font-family: 'Mulish', sans-serif;
    max-width: 570px;
  }

  &__image {
    height: 291px;
    width: 206px;
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.21);
    margin-bottom: -100px;
    margin-top: 20px;
    @include screen-md {
      margin-top: 50px;
    }
  }

  &__image2 {
    max-width: 420px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    @include screen-md {
      margin-top: 50px;
      max-width: 300px;
    }
  }

  &__image3 {
    max-width: 250px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    @include screen-md {
      margin-top: 50px;
      max-width: 300px;
    }
  }
}

.integration {

  &__title {
    font-size: 42px !important;
    line-height: 53px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__subtitle {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 24px;
    font-family: 'Mulish', sans-serif;
    max-width: 852px;
    text-align: center;
  }

  &__subtext {
    color: $air-force-blue;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0px;
    line-height: 28px;
    font-family: 'Mulish', sans-serif;
    text-align: center;

    a {
      color: $bondi-blue;
    }
  }
}

.people {

  &__section-container {
    max-width: 1320px;
    // min-height: 690px;
    border-radius: 25px;
    background-color: $alice-blue;
    box-shadow: 0px 14px 25px rgba(0, 90, 109, 0.1);
    padding: 90px 0;
  }

  &__guide-spacing {
    padding: 100px 0 150px;
  }

  &__title {
    font-size: 42px !important;
    line-height: 53px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__subtitle {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    max-width: 974px;
    text-align: center;
  }

  &__section {
    width: 80px;
    height: 80px;
    margin-bottom: 30px;
  }

  &__section-col {
    max-width: 370px;
    min-height: 320px;
    background: $white;
    box-shadow: 2px 9px 20px #EEF1F6;
    border-radius: 20px;
    padding: 25px;
    margin-top: 30px;
  }

  &__section-col2 {
    max-width: 370px;
    min-height: 280px;
    background: $white;
    box-shadow: 2px 9px 20px #EEF1F6;
    border-radius: 20px;
    padding: 25px;
    margin-top: 30px;
  }

  &__section-col3 {
    max-width: 370px;
    width: 100%;
    min-height: 400px;
    background: $white;
    box-shadow: 0px 14px 25px rgba(0, 90, 109, 0.1);
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__section-title {
    color: $sherpa-blue;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    max-width: 311px;
    margin-bottom: 10px;
  }

  &__section-subtitle {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Mulish', sans-serif;
    max-width: 295px;
  }

  &__section-subtitle2 {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    font-family: 'Mulish', sans-serif;
    max-width: 330px;
  }

  &__section-text {
    color: $sherpa-blue;
    font-size: 16px;
    font-weight: 200;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    text-align: center;

    a {
      color: $bondi-blue;
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__section-image {
    width: 30px;
    height: 30px;
    margin-bottom: 16px;
  }
}

.automated {

  &__container {
    max-width: 1320px;
    min-height: 690px;
    border-radius: 25px;
    background-color: $alice-blue;
    padding: 90px 0;
    box-shadow: 0px 14px 25px rgba(0, 90, 109, 0.1);
  }

  &__title {
    font-size: 42px !important;
    line-height: 53px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
  }

  &__subtitle {
    color: $complementary-dull;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 32px;
    max-width: 540px;
    font-family: 'Mulish', sans-serif;
  }

  &__subtext {
    color: $sherpa-blue;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 22px;
    font-family: 'Mulish', sans-serif;
  }

  &__text {
    color: $sherpa-blue;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    text-align: right;
  }

  &__image {
    width: 100%;
    height: fit-content;
    object-fit: contain
  }
}

.clients {

  &__image {
    width: 184px;
    height: 100%;
    object-fit: cover;
    @include screen-md {
      width: 100%;
      height: 200px;
    }
  }

  &__content-bg {
    min-height: 850px !important;
    background: linear-gradient(167.51deg, #4781D9 6.57%, #245CB0 98.55%);
    padding-top: 200px;
    padding-bottom: 200px;
    @include screen-md {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &__content-bg2 {
    min-height: 750px !important;
    background: linear-gradient(180deg, #F2F9FF 0%, #F7FBFF 100%);
    padding-top: 150px;
    padding-bottom: 150px;
    @include screen-md {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &__content-bg3 {
    min-height: 850px !important;
    background: linear-gradient(167.51deg, #255DB1 6.57%, #224983 98.55%);
    padding-top: 200px;
    padding-bottom: 200px;
    @include screen-md {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  &__section-image {
    // width: 80px;
    height: 80px;
    margin: 30px 0;
    object-fit: contain;
  }

  &__section-image2 {
    width: 130px;
    height:130px;
    margin: 30px 30px 0px 0px;

    @include screen-sm {
      margin: 10px;
    }
  }

  &__section-title {
    color: $complementary-dark;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    text-align: center;
  }

  &__section-subtitle {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    font-family: 'Mulish', sans-serif;
    max-width: 303px;
  }

  &__section-title2 {
    color: $sherpa-blue;
    font-size: 16px;
    line-height: 32px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
  }

  &__section-subtitle2 {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: normal;
    line-height: 27px;
    font-weight: 400;
    font-family: 'Mulish', sans-serif;
    max-width: 303px;
  }

  &__content-image {
    height: 70px;
    margin: 30px 0;
    object-fit: contain;
  }

  &__content-title {
    color: $white;
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
  }

  &__content-subtitle {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Mulish', sans-serif;
    max-width: 360px;
  }

  &__content-line {
    width: 100%;
    border: 1px dashed #F3F6FC;
    margin-right: -30px;

    @include screen-md {
      display: none;
    }
  }

  &__content-line2 {
    width: 100%;
    border: 1px dashed #6A8493;
    margin-right: -30px;

    @include screen-md {
      display: none;
    }
  }

  &__bg-left {
    position: absolute;
    bottom: 0px;
    left: 0;
    max-width: 700px;

    @include screen-md {
      max-width: 40%;
    }
  }

  &__bg-right {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 500px;

    @include screen-md {
      max-width: 30%;
    }
  }

  &__bg-left2 {
    position: absolute;
    bottom: 0px;
    left: 0;
    max-width: 500px;
    object-fit: contain;

    @include screen-md {
      max-width: 30%;
    }
  }

  &__bg-right2 {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 350px;
    object-fit: contain;

    @include screen-md {
      max-width: 20%;
    }
  }

  &__bg-right3 {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 350px;
    object-fit: contain;
    transform: rotate(180deg);

    @include screen-md {
      max-width: 40%;
    }
  }

  &__title {
    font-size: 42px !important;
    line-height: 53px;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    font-weight: 200;
    letter-spacing: -0.42px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__subtitle {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    text-align: center;
  }

  &__box-title {
    color: $bondi-blue;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
  }

  &__item-box {
    max-width: 370px;
    min-height: 410px;
    background: $white;
    box-shadow: 0px 14px 25px rgba(0, 90, 109, 0.1);
    border-radius: 20px;
    padding: 25px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-box2 {
    max-width: 570px;
    min-height: 310px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F5FAFF 100%);
    box-shadow: 0px 8px 20px rgba(0, 90, 109, 0.1);
    border-radius: 20px;
    padding: 25px;
    margin-top: 30px;
    display: flex;

    @include screen-sm {
      flex-direction: column;
    }
  }

  &__box-subtitle {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    max-width: 660px;
  }

  &__info-text {
    color: $cerulean;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Mulish', sans-serif;
    text-align: center;
  }

  &__integrations-image {
    width: 100%;
    height: fit-content;
    object-fit: contain;
    max-width: 900px;
  }

  &__box {
    background: $white;
    border-radius: 5px;
    box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.06);
    height: 200px;
    max-width: 950px;
    display: flex;
    margin-top: 30px;
    @include screen-md {
      height: auto;
      flex-direction: column;
    }
  }
}

.security {

  &__container {
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 10px 34px 0px rgba(210, 210, 210, 0.5);
    min-height: 643px !important;
    width: 1257px;
    padding: 80px;
    @include screen-lg {
      width: 90%;
      padding: 20px;
    }
  }

  &__title {
    font-size: 44px !important;
    font-family: 'Mulish', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    text-align: center;
  }

  &__title2 {
    font-size: 14px !important;
    font-family: 'Mulish', sans-serif;
    color: $night-black;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
  }

  &__text {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    max-width: 295px;
    min-height: 160px;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}

.mentions {

  &__title {
    font-size: 44px !important;
    font-weight: 200;
    font-family: 'Mulish', sans-serif;
    color: $sherpa-blue;
    letter-spacing: -0.42px;
  }

  &__subtitle {
    color: $air-force-blue;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Mulish', sans-serif;
    max-width: 280px;
  }

  &__text {
    color: $sherpa-blue;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 28px;
    font-family: 'Mulish', sans-serif;
    min-height: 150px;
  }

  &__top-left {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 160px;
    object-fit: contain;

    @include screen-sm {
      max-width: 30%;
    }
  }

  &__bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 170px;
    object-fit: contain;

    @include screen-sm {
      max-width: 30%;
    }
  }

  &__box {
    background: $white;
    border-radius: 20px;
    box-shadow: 2px 9px 20px #EEF1F6;
    min-height: 340px;
    max-width: 370px;
    padding: 25px;
    margin-top: 60px;
    @include screen-md {
      margin-top: 50px;
    }

  }

  &__box-second {
    background: $white;
    border-radius: 20px;
    box-shadow: 2px 9px 20px #EEF1F6;
    min-height: 360px;
    max-width: 370px;
    padding: 32px;
    margin-top: 60px;
    @include screen-md {
      margin-top: -20px;
    }
  }

  &__box-negative {
    background: $white;
    border-radius: 20px;
    box-shadow: 2px 9px 20px #EEF1F6;
    min-height: 300px;
    max-width: 370px;
    padding: 32px;
    margin-top: 35px;
    margin-bottom: -150px;
    @include screen-md {
      margin-bottom: -40px;
    }
  }

  &__icon {
    height: 22px;
    width: 28px;
  }

  &__logo {
    height: 55px;
    max-width: 170px;
    margin-top: 15px;
    width: 100%;
    object-fit: contain;
  }

  &__link {
    font-weight: bold;
    font-size: 18px !important;
    line-height: 30px;
    text-decoration: underline;
    color: $bondi-blue;
    text-transform: lowercase !important;
    font-family: 'Mulish', sans-serif;

    &:hover {
      color: $cerulean;
    }

    &::first-letter {
      text-transform: capitalize;
    }
  }
}

.demo {
  &__bg {
    min-height: 540px !important;
    background: url('../images/landing/book-demo-bg.webp');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover !important;
    padding-top: 90px;
    padding-bottom: 40px;
  }

  &__title {
    font-size: 60px !important;
    font-family: 'Mulish', sans-serif;
    color: #003543;
    font-weight: 200;
    letter-spacing: -1px;
    line-height: 70px;
  }

  &__subtitle {
    color: #48748C;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0px;
    line-height: 28px;
    font-family: 'Mulish', sans-serif;
    max-width: 582px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 20px;
    max-width: 430px;
  }
}

.software {
  overflow: hidden;

  &__title {
    font-size: 44px !important;
    font-family: 'Mulish', sans-serif;
    color: $white;
    font-weight: 200;
    letter-spacing: -0.42px;
    max-width: 434px;
  }

  &__subtitle {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 24px;
    font-family: 'Mulish', sans-serif;
    max-width: 504px;
  }

  &__content {
    background-size: 100%;
  }

  &__bg {
    min-height: 440px !important;
    background: url('../images/homepage/guide-background2.webp');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover !important;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 470px;
  }
}

.footer {

  &__text {
    font-size: 16px !important;
    font-family: 'Mulish', sans-serif;
    color: $dark-cyan;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 32px;
    text-transform: lowercase;

    a {
      color: $dark-cyan;
    }

    &::first-letter {
      text-transform: capitalize !important;
    }

    @include screen-sm {
      margin-top: 30px !important;
    }
  }

  &__text2 {
    font-size: 16px !important;
    font-family: 'Mulish', sans-serif;
    color: $air-force-blue;
    font-weight: 200;
    letter-spacing: 0px;
    line-height: 32px;

    a {
      color: $bondi-blue;
    }
  }

  &__subtitle {
    font-size: 16px !important;
    font-family: 'Mulish', sans-serif;
    color: $bondi-blue;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 20px;
    max-width: 206px;
  }

  &__devider {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 0.5px solid $air-force-blue;
    padding-top: 20px;
  }

  &__subtext {
    font-size: 14px !important;
    font-family: 'Mulish', sans-serif;
    color: $slate-gray;
    letter-spacing: 0px;
    line-height: 18px;
    margin-bottom: 12px;
    &:hover {
      color: $bondi-blue;
      opacity: 0.9;
      text-decoration: none;
    }
  }
}

.vertical-tabs {
  ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
  }
  
  .tabs-title {
    display: none !important;
  }

  .resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
  }

  .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
  }

  h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
  }

  .resp-tab-content {
    display: none;
    padding: 15px;
  }

  .resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
    
    h3 {
      color: $bondi-blue !important;
    }
    p {
      opacity: 1 !important;
      height: auto !important;
    }
  }

  .resp-tab-active {
    border-bottom: none;
    background-color: $light-gray !important;
  }

  .resp-content-active, .resp-accordion-active {
    display: block;
  }

  .resp-tab-content {
    border: none;
  }

  h2.resp-accordion {
    font-size: 13px;
    margin: 0px;
    padding: 10px 15px;
  }

  h2.resp-tab-active {
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
  }

  h2.resp-tab-title:last-child {
    background: blue;
  }

  /*-----------Vertical tabs-----------*/
  .resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 40%;
  }

  .resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
  }

  .resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: transparent;
    border: none;
    float: left;
    width: 58%;
    min-height: 250px;
    border-radius: 0px;
    clear: none;
  }

  .resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
  }

  .resp-vtabs li.resp-tab-active { 
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
    margin-bottom: 4px !important;
  }

  .resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
  }

  h2.resp-tab-active span.resp-arrow {
    border: none;
  }

  .resp-tab-item {
    text-align: right;
    background-color: $light-gray !important;

    p {
      transition: opacity 0.4s ease-out;
      opacity: 0;
      height: 0;
    }
  }

  /*-----------Accordion styles-----------*/
  h2.resp-tab-active {
    background: transparent;/* !important;*/
  }

  .resp-easy-accordion h2.resp-accordion {
    display: block;
  }

  .resp-easy-accordion .resp-tab-content {
    border: none;
  }

  .resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid transparent;/* !important;*/
  }

  .resp-jfit {
    width: 100%;
    margin: 0px;
  }

  .resp-tab-content-active {
    display: block;
  }

  h2.resp-accordion:first-child {
    border: none !important;
  }

  /*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
  @media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
      display: none;
    }

    .tabs-title {
      display: block !important;
    }

    h2.resp-accordion {
      display: block;
      background-color: $light-gray !important;
    }

    .resp-vtabs .resp-tab-content {
      border: 1px solid transparent !important;
    }

    .resp-vtabs .resp-tabs-container {
      border: none;
      float: none;
      width: 100%;
      min-height: 100px;
      clear: none;
    }

    .resp-accordion-closed {
      display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
      border-bottom: 1px solid transparent !important;
    }
  }
}