.section-large {
	padding-top: 145px;
	padding-bottom: 145px;
	@include screen-md {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.section-medium {
	padding-top: 100px;
	padding-bottom: 100px;
	@include screen-md {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

.navbar {
  box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.06);
}

.header {
  overflow: hidden;
  
	&__logo {
    width: 154px;
    height: 44px;
  }

  &__logo-text {
    margin: 10px;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
    font-size: 18px;
    color: $forest-green;
    letter-spacing: 0px;
    span {
      color: $night-black;
    }
  }

  &__logo-subtext {
    color: $white;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    text-align: center;
    line-height: 18px;
    height: 50px;
    font-family: 'Muli', sans-serif;
  }

  &__content {
    background-size: 100%;
    margin-top: 90px;
  }

  &__image {
    min-height: 700px !important;
    background: url('../images/header-image@3x.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover !important;
    padding-top: 140px;
    padding-bottom: 140px;
    @include screen-md {
      padding-bottom: 220px;
    }
  }

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $white;
    font-weight: bold;
    letter-spacing: -0.42px;
    max-width: 423px;
    @include screen-sm {
      text-align: center;
    }
  }

  &__subtitle {
    color: $white;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    max-width: 443px;
    font-family: 'Muli', sans-serif;
    @include screen-sm {
      text-align: center;
    }
  }

  &__subtext {
    color: $white;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    max-width: 443px;
    text-align: center;
    margin-top: -100px;
    font-family: 'Muli', sans-serif;
    @include screen-md {
      margin-top: -140px;
    }
  }

  &__logos {
    width: 40px;
    height: 40px;
    margin: 12px;
    @include screen-md {
      margin-left: 22px;
      margin-right: 22px;
    }
  }
}

.protect {

  &__image1 {
    max-height: 469px;
    max-width: 376px;
    margin-top: -170px;
    @include screen-lg {
      margin-top: 0px;
    }
    @include screen-sm {
      max-height: 360px;
      max-width: 290px;
    }
  }

  &__image2 {
    max-height: 244px;
    max-width: 365px;
    margin-left: -190px;
    margin-top: 200px;
    margin-bottom: 50px;
    @include screen-lg {
      margin-left: -270px;
      margin-top: 400px;
    }
    @include screen-sm {
      max-height: 188px;
      max-width: 280px;
      margin-top: 300px;
      margin-left: -210px;
    }
  }

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    max-width: 541px;
    text-align: right;
  }

  &__subtitle {
    color: $night-black;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    max-width: 500px;
    font-family: 'Muli', sans-serif;
    text-align: right;
  }

  &__subtext {
    color: $night-black;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    text-align: center;
  }

  &__divider {
    height: 4px;
    width: 60px;
    border-top: 4px solid $forest-green;
    margin-bottom: 16px;
  }

  &__logos {
    max-width: 120px;
    min-width: 120px;
    max-height: 51px;
    margin-top: 20px;
  }
}

.escrow {

  &__image-box {
    margin-top: -30px;
    max-width: 513px;
    min-width: 513px;
    margin-right: 0px;
    margin-left: auto;
    padding-top: 150px;
    padding-bottom: 150px;
    @include screen-sm {
      margin-top: 0px;
      overflow: hidden;
      min-width: 100%;
    }
  }

  &__image {
    margin-left: -150px;
    min-width: 300px;
    max-height: 712px;
    @include screen-md {
      min-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-left: 0px;
    }
    @include screen-sm {
      min-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-left: 30px;
    }
  }

  &__content {
    margin-left: auto;
    @include screen-lg {
      margin-left: 0px;
    }
  }

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    max-width: 413px;
    text-align: start;
  }

  &__subtitle {
    color: $night-black;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    max-width: 338px;
    font-family: 'Muli', sans-serif;
    text-align: start;
  }

  &__subtext {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    text-align: start;
    max-width: 353px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    margin-right: 38px;
  }
}

.escrow2 {

  &__image {
    width: 766px;
    height: 547px;
    object-fit: contain;
    margin-left: -100px;
    @include screen-lg {
      margin-left: 15px;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    margin-left: auto;
    @include screen-lg {
      margin-left: 0px;
    }
  }

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    max-width: 413px;
    text-align: end;
    margin-left: auto;
  }

  &__subtitle {
    color: $night-black;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    text-align: end;
  }

  &__subtext {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    text-align: end;
    max-width: 351px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 20px;
  }
}

.escrow3 {

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    max-width: 465px;
  }

  &__subtitle {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    max-width: 438px;
  }

  &__link {
    color: $night-black;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    max-width: 438px;
    text-decoration: underline;
    &:hover {
      color: $night-black;
      opacity: 0.8;
    }
  }

  &__box1 {
    border-radius: 8px;
    border: 1px solid rgba(51, 51, 51, 0.08);
    box-shadow: 3px 3px 10px 0px rgba(51, 51, 51, 0.1);
    min-height: 125px;
    width: 208px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 32px;
  }

  &__box2 {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 4px 24px 0px rgba(37, 38, 94, 0.1);
    height: 391px;
    max-width: 326px;
    min-width: 260px;
    padding: 32px;
    border-top: 6px solid $forest-green;
    pointer-events: none;
  }
  
  &__icon {
    width: 50px;
    height: 50px;
  }

  &__number {
    font-size: 48px;
    line-height: 48px;
    font-weight: 300;
    letter-spacing: -0.6px;
    font-family: 'Rubik', sans-serif;
  }

  &__subtext {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 22px;
    font-family: 'Rubik', sans-serif;
  }

  &__text {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 22px;
    font-family: 'Muli', sans-serif;
  }
}

.verification {

  &__container {
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 10px 34px 0px rgba(210, 210, 210, 0.5);
    min-height: 913px !important;
    width: 1257px;
    padding: 80px;
    @include screen-lg {
      width: 90%;
      padding: 20px;
    }
  }

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    max-width: 413px;
    text-align: end;
    margin-left: auto;
  }

  &__subtitle {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    text-align: end;
    max-width: 438px;
  }

  &__title2 {
    font-size: 14px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
  }

  &__text {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    max-width: 295px;
    min-height: 160px;
  }

  &__link {
    color: $forest-green;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    &:hover {
      color: $forest-green;
      text-decoration: none;
      opacity: 0.8;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}

.guide {

  &__bg {
    background: url('../images/guide-bg@3x.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover !important;
    border-radius: 16px;
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.21);
  }

  &__content {
    min-height: 317px !important;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include screen-md {
      padding-left: 20px;
      padding-right: 20px;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__title {
    font-size: 28px !important;
    font-family: 'Muli', sans-serif;
    color: $white;
    font-weight: bold;
    letter-spacing: -0.2px;
    max-width: 547px;
    line-height: 34px;
  }

  &__subtitle {
    color: $white;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 28px;
    font-family: 'Muli', sans-serif;
    max-width: 410px;
  }

  &__image {
    height: 291px;
    width: 206px;
    box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.21);
    margin-bottom: -100px;
    margin-top: 20px;
    @include screen-md {
      margin-top: 50px;
    }
  }

  &__image2 {
    max-width: 450px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    @include screen-md {
      margin-top: 50px;
      max-width: 300px;
    }
  }
}

.integration {

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    text-align: center;
  }

  &__subtitle {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    max-width: 852px;
    text-align: center;
  }

  &__subtext {
    color: $black;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 28px;
    font-family: 'Muli', sans-serif;
    max-width: 379px;
    text-align: center;
  }
}

.clients {

  &__image {
    width: 184px;
    height: 100%;
    object-fit: cover;
    @include screen-md {
      width: 100%;
      height: 200px;
    }
  }

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    text-align: center;
  }

  &__subtitle {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    text-align: center;
  }

  &__box-title {
    color: $forest-green;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
  }

  &__box-subtitle {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    max-width: 660px;
  }

  &__box {
    background: $white;
    border-radius: 5px;
    box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.06);
    height: 200px;
    max-width: 950px;
    display: flex;
    margin-top: 30px;
    @include screen-md {
      height: auto;
      flex-direction: column;
    }
  }
}

.security {

  &__container {
    background: $white;
    border-radius: 10px;
    box-shadow: 0px 10px 34px 0px rgba(210, 210, 210, 0.5);
    min-height: 643px !important;
    width: 1257px;
    padding: 80px;
    @include screen-lg {
      width: 90%;
      padding: 20px;
    }
  }

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    text-align: center;
  }

  &__title2 {
    font-size: 14px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 32px;
  }

  &__text {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    max-width: 295px;
    min-height: 160px;
  }

  &__icon {
    width: 32px;
    height: 32px;
  }
}

.mentions {

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    font-weight: normal;
    letter-spacing: -0.42px;
    text-align: end;
  }

  &__subtitle {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    max-width: 367px;
    text-align: end;
    margin-bottom: 100px;
  }

  &__text {
    color: $night-black;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
  }

  &__box {
    background: $white;
    border-radius: 0px;
    box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.06);
    min-height: 270px;
    max-width: 343px;
    padding: 32px;
    margin-top: 80px;
    @include screen-md {
      margin-top: 50px;
    }
  }

  &__box-second {
    background: $white;
    border-radius: 0px;
    box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.06);
    min-height: 270px;
    max-width: 343px;
    padding: 32px;
    margin-top: 140px;
    @include screen-md {
      margin-top: 50px;
    }
  }

  &__box-negative {
    background: $white;
    border-radius: 0px;
    box-shadow: 2px 4px 16px 0px rgba(51, 51, 51, 0.06);
    min-height: 270px;
    max-width: 343px;
    padding: 32px;
    margin-top: 140px;
    margin-bottom: -100px;
    @include screen-md {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  &__icon {
    height: 22px;
    width: 28px;
  }

  &__logo {
    height: 55px;
    max-width: 170px;
  }
}

.software {
  overflow: hidden;

  &__title {
    font-size: 44px !important;
    font-family: 'Muli', sans-serif;
    color: $white;
    font-weight: normal;
    letter-spacing: -0.42px;
    max-width: 434px;
  }

  &__subtitle {
    color: $white;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 32px;
    font-family: 'Muli', sans-serif;
    max-width: 504px;
  }

  &__content {
    background-size: 100%;
  }

  &__bg {
    min-height: 440px !important;
    background: url('../images/Slogan@3x.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover !important;
    padding-top: 70px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: -100px;
    margin-top: 60px;
  }
}

.footer {

  &__text {
    font-size: 16px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    letter-spacing: 0px;
    line-height: 32px;

    a {
      color: $night-black;
    }
  }

  &__subtext {
    font-size: 14px !important;
    font-family: 'Muli', sans-serif;
    color: $night-black;
    letter-spacing: 0px;
    line-height: 18px;
    margin-bottom: 12px;
    &:hover {
      color: $night-black;
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.vertical-tabs {
  ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
  }
  
  .tabs-title {
    display: none !important;
  }

  .resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0 4px 0 0;
    list-style: none;
    cursor: pointer;
  }

  .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
  }

  h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
  }

  .resp-tab-content {
    display: none;
    padding: 15px;
  }

  .resp-tab-active {
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
    
    h3 {
      color: $forest-green !important;
    }
    p {
      opacity: 1 !important;
      height: auto !important;
    }
  }

  .resp-tab-active {
    border-bottom: none;
    background-color: $light-gray !important;
  }

  .resp-content-active, .resp-accordion-active {
    display: block;
  }

  .resp-tab-content {
    border: none;
  }

  h2.resp-accordion {
    font-size: 13px;
    margin: 0px;
    padding: 10px 15px;
  }

  h2.resp-tab-active {
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
  }

  h2.resp-tab-title:last-child {
    background: blue;
  }

  /*-----------Vertical tabs-----------*/
  .resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 40%;
  }

  .resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0 0 4px;
    cursor: pointer;
    float: none;
  }

  .resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: transparent;
    border: none;
    float: left;
    width: 58%;
    min-height: 250px;
    border-radius: 0px;
    clear: none;
  }

  .resp-vtabs .resp-tab-content {
    border: none;
    word-wrap: break-word;
  }

  .resp-vtabs li.resp-tab-active { 
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
    margin-bottom: 4px !important;
  }

  .resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
  }

  h2.resp-tab-active span.resp-arrow {
    border: none;
  }

  .resp-tab-item {
    text-align: right;
    background-color: $light-gray !important;

    p {
      transition: opacity 0.4s ease-out;
      opacity: 0;
      height: 0;
    }
  }

  /*-----------Accordion styles-----------*/
  h2.resp-tab-active {
    background: transparent;/* !important;*/
  }

  .resp-easy-accordion h2.resp-accordion {
    display: block;
  }

  .resp-easy-accordion .resp-tab-content {
    border: none;
  }

  .resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid transparent;/* !important;*/
  }

  .resp-jfit {
    width: 100%;
    margin: 0px;
  }

  .resp-tab-content-active {
    display: block;
  }

  h2.resp-accordion:first-child {
    border: none !important;
  }

  /*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
  @media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
      display: none;
    }

    .tabs-title {
      display: block !important;
    }

    h2.resp-accordion {
      display: block;
      background-color: $light-gray !important;
    }

    .resp-vtabs .resp-tab-content {
      border: 1px solid transparent !important;
    }

    .resp-vtabs .resp-tabs-container {
      border: none;
      float: none;
      width: 100%;
      min-height: 100px;
      clear: none;
    }

    .resp-accordion-closed {
      display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
      border-bottom: 1px solid transparent !important;
    }
  }
}