.solutions {
  .header {
    overflow: hidden;
  
    &__title {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: -1px;
      color: $dark-cyan;
      max-width: 551px;

      @include screen-md {
        font-size: 50px !important;
        line-height: 55px;
      }

      @include screen-xs {
        font-size: 30px !important;
        line-height: 32px;
      }
    }

    &__subtitle {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      color: $dark-cyan;
    }

    &__add-on {
      background: #DDEAFC;
      box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.25);
      border-radius: 100px;
      width: fit-content;
      padding: 10px 16px;
      color: #245CB0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      margin-left: 20px;
      font-family: 'Mulish', sans-serif;
    }

    &__add-on2 {
      background: #DDEAFC;
      box-shadow: 0px 1px 4px rgba(255, 255, 255, 0.25);
      border-radius: 100px;
      width: fit-content;
      padding: 10px 16px;
      color: #245CB0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
      font-family: 'Mulish', sans-serif;
      height: 42px;
      width: fit-content;
      line-height: 23px;
      margin-top: 20px;
    }

    &__bg-new {
      min-height: 700px !important;
      background: linear-gradient(1.58deg, #F8FBFF 1.71%, #FFFFFF 82.27%);
      padding-top: 150px !important;
      padding-bottom: 180px !important;
      position: relative;
    }

    &__bg-integrations {
      min-height: 600px !important;
      background: linear-gradient(1.58deg, #F8FBFF 1.71%, #FFFFFF 82.27%);
      padding-top: 150px !important;
      padding-bottom: 100px !important;
      position: relative;
    }

    &__bg-software-escrow {
      min-height: 700px !important;
      background: linear-gradient(180deg, #FFFFFF 22.17%, #EBFAFC 129.81%);
      padding-top: 150px !important;
      padding-bottom: 180px !important;
      position: relative;
      border-radius: 0 0 60% 40% / 0 0 40% 15%;
    }

    &__bg-top-left {
      position: absolute;
      top: 0;
      left: 0;
      height: 180px;
    }

    &__bg-top-left2 {
      position: absolute;
      top: 25px;
      left: 0;
      width: 180px;
      max-width: 30%;
      object-fit: contain;

      @include screen-md {
        top: 0px;
      }
    }

    &__bg-bottom-right {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 120px;
      max-width: 15%;
      object-fit: contain;
    }

    &__bg-bottom-shape {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 620px;
      max-width: 40%;
      object-fit: contain;
    }

    &__bg-left-shape {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 155px;
      max-width: 10%;
      object-fit: contain;
    }

    &__bg-right-shape2 {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 552px;
      max-width: 35%;
      object-fit: contain;
    }

    &__bg-right-shape {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 412px;
      max-width: 25%;
      object-fit: contain;
    }

    &__info {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: $bondi-blue;
    }

    &__left-shape {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 132px;
      height: 233px;
      background: linear-gradient(187.4deg, rgba(65, 123, 210, 0.1) -78.56%, rgba(255, 255, 255, 0) 161.22%);
      border-radius: 0px 106px 0px 0px;
    }

    &__right-shape {
      position: absolute;
      top: 0;
      right: 0;
      height: 129px;
      width: 287px;
      background: linear-gradient(187.4deg, rgba(65, 123, 210, 0.1) -78.56%, rgba(255, 255, 255, 0) 161.22%);
      border-radius: 0px 0px 0px 106px;
    }
  }

  .escrow-works {
    &__bg {
      min-height: 800px !important;
      background: #009CB7;
      padding-top: 100px !important;
      padding-bottom: 150px !important;
      position: relative;
    }

    &__bg-shape {
      width: 50%;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(0, 136, 159, 0) 5.99%, #00889F 57.85%);
      opacity: 0.5;
      border-radius: 0px 0px 0px 255px;

      @include screen-sm {
        max-height: 400px;
        width: 100%;
      }
    }

    &__title {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 50px;
      line-height: 53px;
      color: $white;
      max-width: 493px;
      margin-top: 100px;
    }

    &__subtitle {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 28px;
      color: $white;
      max-width: 447px;
    }

    &__image {
      width: 100%;
      object-fit: contain;
      max-width: 560px;
      padding: 50px;

      @include screen-sm {
        max-width: 100%;
      }
    }
  }

  .select-level {
    &__main-title {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 50px;
      line-height: 53px;
      text-align: center;
      color: $dark-cyan;
    }

    &__main-subtitle {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: $dark-cyan;
      max-width: 714px;
    }

    &__title {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 40px;
      text-align: center;
      color: $dark-cyan;
    }

    &__subtitle {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      max-width: 406px;
      color: $dark-cyan;
      margin-top: 20px;
      margin-bottom: 26px;
    }

    &__col {
      width: 100%;
      min-height: 1000px;
      background: #FFFFFF;
      border: 0.5px solid #DCE5F2;
      box-shadow: 0px 7px 20px rgba(0, 54, 134, 0.05);
      border-radius: 10px;
      margin-bottom: 30px;
    }

    &__bg {
      background: linear-gradient(180deg, #FFFFFF 6.56%, #EBFAFC 119.9%);
      height: 230px;
      border-radius: 0 0 50% 50%;
    }

    &__bg2 {
      background: linear-gradient(180deg, #FFFFFF 6.56%, #EFF6FF 119.9%);
      height: 230px;
      border-radius: 0 0 50% 50%;
    }

    &__image {
      margin-top: -50px;
      width: 195px;
      height: 125px;
      object-fit: contain;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    &__content {
      padding: 40px;
    }

    &__badge-recovery {
      min-width: 250px;
      width: fit-content;
      padding: 0 15px;
      height: 55px;
      background: #45B4C8;
      border-radius: 0px 0px 10px 10px;
      text-align: center;
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
    }

    &__badge-continuity {
      min-width: 250px;
      width: fit-content;
      padding: 0 15px;
      height: 55px;
      background: #417BD2;;
      border-radius: 0px 0px 10px 10px;
      text-align: center;
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
    }

    &__text {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 32px;
      color: $dark-cyan;
    }

    &__subtext {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $slate-gray;
      max-width: 450px;
    }

    &__devider {
      border: 1px dashed #6A8493;
      margin-top: 20px;
      margin-bottom: 40px;
    }

    &__price {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $dark-cyan;

      span {
        font-family: 'Mulish', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        line-height: 53px;
        color: $dark-cyan;
      }
    }
  }

  .more-about {
    &__main-title {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 35px;
      line-height: 40px;
      text-align: center;
      color: $dark-cyan;
    }

    &__background {
      background: linear-gradient(180deg, #46BFD4 0%, #009CB7 100%);
      min-height: 495px;
      border-radius: 0 0 90% 90%;
      padding: 60px 0;
      position: relative;
      overflow: hidden;

      @include screen-sm {
        border-radius: 0 0 10% 10%;
      }
    }

    &__bottom-shape {
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 600px;
      height: auto;
      max-width: 40%;
      object-fit: contain;

      @include screen-md {
        display: none;
      }
    }

    &__shape {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 95px;
      height: 219px;
    }

    &__title {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 32px;
      color: $dark-cyan;

      @include screen-xs {
        font-size: 22px !important;
        line-height: 28px;
      }
    }

    &__subtitle {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      max-width: 354px;
      color: $slate-gray;
    }

    &__icon {
      width: 100px;
      height: 100px;
      position: relative;
    }

    &__link {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: $bondi-blue;
    }

    &__col {
      width: 100%;
      max-width: 600px;
      min-height: 260px;
      padding: 30px 40px;
      position: relative;
      background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FF 100%);
      border: 0.5px solid #DCE5F2;
      box-shadow: 0px 7px 20px rgba(0, 54, 134, 0.05);
      border-radius: 10px;
      margin-top: 30px;
    }
  }

  .features {
    &__title {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 50px;
      line-height: 53px;
      color: $dark-cyan;
    }

    &__container {
      max-width: 1000px;
      padding: 0 15px;
    }

    &__text {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: $dark-cyan;
    }

    &__icon {
      width: 65px;
      height: 65px;
    }

    &__subtext {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: $slate-gray;
      max-width: 420px;
    }

    &__link {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      color: $bondi-blue;
    }
  }

  .compare {
    &__bg-gray {
      min-height: 1000px;
      background: linear-gradient(180deg, #F0F9FC 0%, #FAFDFF 100%);
      padding-top: 150px;
      padding-bottom: 200px;
    }

    &__title {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 50px;
      line-height: 53px;
      color: $dark-cyan;
      max-width: 520px;
    }

    &__subtitle {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 40px;
      color: $dark-cyan;
      max-width: 420px;
    }

    &__screen-img {
      max-width: 420px !important;
      width: 100%;

      @include screen-sm {
        max-width: 90%;
        padding-bottom: 30px;
      }
    }

    &__text {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      color: $dark-cyan;
      max-width: 520px;
    }

    &__subtext {
      font-family: 'Mulish', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      color: $slate-gray;
      max-width: 520px;
    }

    &__shape-left {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      max-width: 50%;
      object-fit: contain;

      @include screen-sm {
        max-width: 50%;
      }
    }

    &__shape-right {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 245px;
      width: 137px;

      @include screen-sm {
        width: 15%;
        height: auto;
      }
    }
  }
}