---
layout: default
---

<body>
  <div class="confirmation bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg">
        <div class="container">
          <h2 class="header__title mx-auto">Thank you!</h2>
          <p class="header__subtitle my-4 mx-auto">Thank you for registering for the "Introduction to Software Escrow: A Guide".<br> The download link has been sent to your e-mail address.</p>
        </div>
      </div>
    </div>
    <!-- First Section -->
    {% include check-blog.html %}
    <!-- Second Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>
