---
layout: default
---

<body>
  <div class="bg-white">
    <div class="container-fluid px-0">
      <!-- Navigation -->
      {% include navigation.html %}
      <!-- Header -->
      <div class="header__content">
        <div class="header__image">
          <div class="container">
            <div class="row">
              <div class="col-md-5 col-sm-12">
                <h2 class="header__title">Source code escrow for developers</h2>
                <p class="header__subtitle mt-5">An all-in-one solution for software developers and publishers to provide source code escrow as part of service level and license agreements.</p>
                <div class="d-flex flex-wrap align-items-center my-5 mobile-center">
                  <a class="button btn-white-lg mr-4" href="pricing.html">
                    GET STARTED
                  </a>
                  <a class="button btn-learn-more" href="features.html">
                    Learn more
                  </a>
                </div>
              </div>
              <div class="col-md-7 col-sm-12 d-flex flex-column align-items-center">
                <img class="image-style" src="images/macbook@3x.png"/>
                <div class="w-100">
                  <p class="header__subtext mx-auto">Some of our fully automated integrations:</p>
                  <div class="d-flex flex-wrap align-items-center justify-content-around">
                    <div class="d-flex flex-column align-items-center mx-2">
                      <img class="header__logos" src="images/logos/GitHub-Mark-Light.svg"/>
                      <p class="header__logo-subtext mx-auto">GitHub</p>
                    </div>
                    <div class="d-flex flex-column align-items-center mx-2">
                      <img class="header__logos" src="images/logos/gitlab-icon.svg"/>
                      <p class="header__logo-subtext mx-auto">GitLab</p>
                    </div>
                    <div class="d-flex flex-column align-items-center mx-2">
                      <img class="header__logos" src="images/logos/Git-Icon-White.svg"/>
                      <p class="header__logo-subtext mx-auto">Git</p>
                    </div>
                    <div class="d-flex flex-column align-items-center mx-2">
                      <img class="header__logos" src="images/logos/visual-studio.svg"/>
                      <p class="header__logo-subtext mx-auto">Visual<br>Studio</p>
                    </div>
                    <div class="d-flex flex-column align-items-center mx-2">
                      <img class="header__logos" src="images/logos/Bitbucket.svg"/>
                      <p class="header__logo-subtext mx-auto">Bitbucket</p>
                    </div>
                    <div class="d-flex flex-column align-items-center mx-2">
                      <img class="header__logos" src="images/logos/Shape-icon.svg"/>
                      <p class="header__logo-subtext mx-auto">Azure</p>
                    </div>  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- First Section -->
      <div class="container section-medium pb-0">
        <div class="row column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <div class="d-flex">
              <img class="protect__image1 img-hor" src="images/image-team.svg"/>
              <img class="protect__image2 img-hor" src="images/team-member.svg"/>
            </div>
          </div>
          <div class="col-md-7 col-sm-12">
            <div class="protect__divider ml-auto mb-3"></div>
            <h2 class="protect__title ml-auto">Protect your software and databases</h2>
            <p class="protect__subtitle ml-auto mt-3">Software escrow is an easy and affordable way to ensure the continuity of your clients’ mission-critical systems, prevent downtime, and secure vital data and information from loss or theft.</p>
            <a class="button btn-primary-lg ml-auto my-4" href="pricing.html">
              GET STARTED
            </a>
          </div>
        </div>
      </div>
      <div class="container section-medium">
        <p class="protect__subtext">Trusted partner of these great brands from around the world…</p>
        <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
          <img class="protect__logos" src="images/logos/Pepsico_large.svg"/>
          <img class="protect__logos" src="images/logos/general-electric.svg"/>
          <img class="protect__logos" src="images/logos/mercedes-benz.svg"/>
          <img class="protect__logos" src="images/logos/nestle.svg"/>
        </div>
        <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
          <img class="protect__logos" src="images/logos/Airbus.svg"/>
          <img class="protect__logos" src="images/logos/the-economist.svg"/>
          <img class="protect__logos" src="images/logos/JetBlue.svg"/>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-light-gray section-medium">
      <div class="container">
        <div class="section-divider my-3 mx-auto"></div>
        <h2 class="clients__title mx-auto">Who is Codekeeper for?</h2>
        <p class="clients__subtitle mt-4 mx-auto">Our clients range from single developers all the way up to big software publishers from around the globe.</p>
        <div class="d-flex flex-column align-items-center">
          <div class="mt-4">
            <div class="clients__box">
              <img class="clients__image" src="images/developer.svg"/>
              <div class="p-3">
                <p class="clients__box-title">SOFTWARE DEVELOPERS</p>
                <p class="clients__box-subtitle">Software escrow gives you leverage in agreement negotiations, adds credibility to your business, creates a sense of trust and partnership, protects your intellectual property rights, and helps you avoid courts and litigation.</p>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="clients__box">
              <img class="clients__image" src="images/associates.svg"/>
              <div class="p-3">
                <p class="clients__box-title">BUSINESSES AND ENTERPRISES</p>
                <p class="clients__box-subtitle">Software escrow protects you in case your software vendor goes out of business or discontinues the maintenance of mission-critical applications. It facilitates larger risk management processes and helps you meet legal requirements.</p>
              </div>
            </div>
          </div>
          <div class="mt-4">
            <div class="clients__box">
              <img class="clients__image" src="images/advisors.svg"/>
              <div class="p-3">
                <p class="clients__box-title">LEGAL ADVISORS</p>
                <p class="clients__box-subtitle">We support you in setting up source code and software escrow for your clients. Offer the full solution without compromise.</p>
              </div>
            </div>
          </div>
        </div>
        
        <p class="clients__subtitle mt-5 mx-auto">Have needs that we haven’t mentioned here? <a class="text-underline" href="contact.html">Contact us</a>.</p>
      </div>
    </div>
    <!-- Third Section -->
    <div class="container-fluid px-0 bg-light-gray overflow-hidden">
      <div class="row">
        <div class="col-md-6 col-sm-12 section-large d-flex justify-content-center">
          <div class="escrow__content px-3">
            <div class="protect__divider mb-3"></div>
            <h2 class="escrow__title">Why People Choose Codekeeper</h2>
            <div class="d-flex mt-5">
              <img class="escrow__icon" src="images/icons/usd-circle.svg"/>
              <div>
                <p class="escrow__subtitle">INDUSTRY LEADING PRICING - NO LAWYER FEES</p>
                <p class="escrow__subtext">Thanks to our powerful automation technology and unique operational model, we are able to offer you superior service for the best price on the market. <a class="text-underline" href="pricing.html">Get a plan for as low as $59/mo.</a></p>
              </div>
            </div>
            <div class="d-flex mt-5">
              <img class="escrow__icon" src="images/icons/circle-checked.svg"/>
              <div>
                <p class="escrow__subtitle">EASE OF USE</p>
                <p class="escrow__subtext">Forget manual deposits. Codekeeper is fully automated and integrated with modern development workflows on SCM-platforms like Github, Bitbucket, Gitlab, and others.</p>
              </div>
            </div>
            <div class="d-flex mt-5">
              <img class="escrow__icon" src="images/icons/line-chart.svg"/>
              <div>
                <p class="escrow__subtitle">SALES FACILITATION</p>
                <p class="escrow__subtext">Eliminate risk for your clients by offering source code escrow as part of service level and license agreements, and find out firsthand why it’s called ‘the great sales enabler’.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 pr-0">
          <div class="escrow__image-box bg-faded-gray">
            <img class="escrow__image" src="images/Escrow-info.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth Section -->
    <div id="container" class="vertical-tabs bg-light-gray">
      <!--Vertical Tab-->
      <div class="container section-large">
        <div class="tabs-title">
          <div class="section-divider ml-auto mb-3"></div>
          <h2 class="escrow2__title mb-5">How it works</h2>
        </div>
        <div id="parentVerticalTab" class="d-flex">
          <div class="resp-tabs-container hor_1">
            <div>
              <img class="image-style" src="images/Escrow-agreement.svg"/>
            </div>
            <div>
              <img class="image-style" src="images/deposit-material.svg"/>
            </div>
            <div>
              <img class="image-style" src="images/escrow-active.svg"/>
            </div>
            <div>
              <img class="image-style" src="images/management.svg"/>
            </div>
          </div>
          <ul class="resp-tabs-list hor_1">
            <div class="section-divider ml-auto mb-3"></div>
            <h2 class="escrow2__title">How it works</h2>
            <li>
              <h3 class="escrow2__subtitle ml-auto mt-4">SET-UP<img class="escrow2__icon" src="images/icons/file-checked.svg"/></h3>
              <p class="escrow2__subtext ml-auto mt-3">Setting up an escrow is easy and intuitive but, if needed, our concierge is always ready to provide assistance.</p>
            </li>
            <li>
              <h3 class="escrow2__subtitle ml-auto">DEPOSIT<img class="escrow2__icon" src="images/icons/money-withdraw.svg"/></h3>
              <p class="escrow2__subtext ml-auto mt-3">The deposit materials in your escrow are end-to-end encrypted and fully automated. Your code is secure, and you're always in compliance.</p>
            </li>
            <li>
              <h3 class="escrow2__subtitle ml-auto">ACTIVATION<img class="escrow2__icon" src="images/icons/circle-checked.svg"/></h3>
              <p class="escrow2__subtext ml-auto mt-3">Your new source code escrow is successfully activated. You can edit the details and manage other escrows as a depositor or beneficiary.</p>
            </li>
            <li>
              <h3 class="escrow2__subtitle ml-auto">MANAGEMENT<img class="escrow2__icon" src="images/icons/monitor-screen.svg"/></h3>
              <p class="escrow2__subtext ml-auto mt-3">Easily add your licensees as beneficiaries of the deposited source code and keep them up to date. As a licensor, you can also add suppliers and initiate new escrows in just a few clicks. Confirmations are automated, so there's no more paperwork.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    <div class="bg-light-gray">
      <div class="container section-large">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="escrow__content px-3">
              <div class="section-divider my-3"></div>
              <h2 class="escrow3__title">Escrow agreement included</h2>
              <p class="escrow3__subtitle mt-4">A legally sound escrow agreement comes with each Codekeeper account. Together we customize it to fit your situation. No lawyer required!</p>
              <div class="d-flex flex-wrap align-items-center mt-5">
                <a class="button btn-primary-lg mr-4 my-4" href="pricing.html">
                  GET STARTED
                </a>
                <a class="button escrow3__link" href="sample-agreement.html">
                  View a sample agreement
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="d-flex flex-wrap">
              <div>
                <div class="escrow3__box1 bg-white d-flex mt-5">
                  <img class="escrow3__icon" src="images/icons/circle-file.svg"/>
                  <div class="ml-2">
                    <h2 class="escrow3__number text-faded-black mb-0">4</h2>
                    <p class="escrow3__subtext text-dust-gray">Pending change</p>
                  </div>
                </div>
                <div class="escrow3__box1 bg-forest-green d-flex ml-5 my-5">
                  <img class="escrow3__icon" src="images/icons/circle-file-white.svg"/>
                  <div class="ml-2">
                    <h2 class="escrow3__number text-white mb-0">14</h2>
                    <p class="escrow3__subtext text-white">Active escrows</p>
                  </div>
                </div>
              </div>
              <div class="escrow3__box2 bg-forest-green ml-4 avoid-clicks">
                <p class="escrow3__text text-soft-gray mb-0">Escrow role</p>
                <p class="escrow3__text text-black">Depositor</p>
                <p class="escrow3__text text-soft-gray mb-0">Depositor</p>
                <p class="escrow3__text text-black">Nexity Industry</p>
                <p class="escrow3__text text-soft-gray mb-0">Beneficiary</p>
                <p class="escrow3__text text-black">BestValue Corporation</p>
                <p class="escrow3__text text-soft-gray mb-0">Status</p>
                <p class="escrow3__text text-black">Last backup: 23:59 CET -  <br> 04/04/2020</p>
                <a class="button btn-primary-sm my-4">
                  View
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Sixth Section -->
    <div class="bg-light-gray py-5">
      <div class="verification__container mx-auto">
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="images/cards.svg"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="section-divider mt-5 mb-3 ml-auto"></div>
            <h2 class="verification__title">Verification Services</h2>
            <p class="verification__subtitle ml-auto mt-3">Need to provide additional assurance about the contents of the deposited code? We can validate the completeness, accuracy, and usability of materials deposited into escrow. </p>
            <a class="button btn-primary-lg ml-auto my-4" href="verification.html">
              LEARN MORE
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="verification__icon" src="images/icons/file-alt-icon.svg"/>
            <p class="verification__title2 mt-5">RELEASE TRIGGERS</p>
            <div class="section-divider my-3"></div>
            <p class="verification__text">Specify for each beneficiary which source code repositories they should receive and under which conditions they should be released. Manage complex agreements with ease.</p>
            <a class="verification__link" href="features.html">LEARN MORE <i class="fas fa-arrow-right ml-2"></i></a>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="verification__icon" src="images/icons/user-exclamation.svg"/>
            <p class="verification__title2 mt-5">CONCIERGE SUPPORT</p>
            <div class="section-divider my-3"></div>
            <p class="verification__text">We offer full support for each step in the process. If you need help, just get in touch through the support section in your app or <a class="underline-none" href="contact.html">send us a message.</a></p>
            <a class="verification__link" href="features.html">LEARN MORE <i class="fas fa-arrow-right ml-2"></i></a>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="verification__icon" src="images/icons/bill-icon.svg"/>
            <p class="verification__title2 mt-5">NO LAWYER FEES</p>
            <div class="section-divider my-3"></div>
            <p class="verification__text">No need to hire a lawyer to start from scratch. We provide you with best practices and support, which is all part of your account.</p>
            <a class="verification__link" href="features.html">LEARN MORE <i class="fas fa-arrow-right ml-2"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Seventh Section -->
    <div class="bg-light-gray py-5">
      <div class="container">
        <div class="guide__bg">
          <div class="guide__content">
            <div>
              <h2 class="guide__title">Getting Started with Source Code Escrow</h2>
              <p class="guide__subtitle mt-3">Read our guide to learn how source code escrow can help you minimize risk and ensure your mission-critical systems remain unaffected through any circumstance.</p>
              <a class="button btn-white-xl mt-4" href="start-guide.html">
                DOWNLOAD FREE GUIDE
              </a>
            </div>
            <img class="guide__image2" src="images/resources/Introduction.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Eight Section -->
    <div class="bg-light-gray section-medium">
      <div class="container">
        <div class="section-divider my-3 mx-auto"></div>
        <h2 class="integration__title mx-auto">Integrations</h2>
        <p class="integration__subtitle mt-5 mx-auto">Codekeeper integrates directly with developer workflows on Github and other popular SCM-platforms and CI/CD tools. Source code deposits into the escrow are encrypted and fully automated. You are always in compliance!</p>
        <p class="integration__subtext mt-4 mx-auto">Don’t see your favourite platform or tool listed? <a class="text-underline" href="contact.html">Contact us!</a></p>
        <a class="button btn-secondary-lg mx-auto my-4" href="integrations.html">
          SEE INTEGRATIONS
        </a>
        <img class="image-style" src="images/integrations-bg.svg"/>
      </div>
    </div>
    <!-- Ninth Section -->
    {% include security.html %}
    <div class="container section-medium">
      <p class="protect__subtext">Trusted partner of these great brands from around the world…</p>
      <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
        <img class="protect__logos" src="images/logos/axxiome.svg"/>
        <img class="protect__logos" src="images/logos/intuit.svg"/>
        <img class="protect__logos" src="images/logos/Bayer.svg"/>
        <img class="protect__logos" src="images/logos/slate-digital.svg"/>
      </div>
      <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
        <img class="protect__logos" src="images/logos/colorado.svg"/>
        <img class="protect__logos" src="images/logos/zynga.svg"/>
        <img class="protect__logos" src="images/logos/gorenje.svg"/>
      </div>
    </div>
    <!-- Tenth Section -->
    <div class="bg-light-gray overflow-hidden">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="mentions__box">
              <img class="mentions__icon" src="images/icons/quotes.svg"/>
              <p class="mentions__text mt-4">Excellent service. This is easily the best way to handle it for both yourself and the client.</p>
              <img class="mentions__logo" src="images/logos/product-hunt.svg"/>
            </div>
            <div class="mentions__box ml-4">
              <img class="mentions__icon" src="images/icons/quotes.svg"/>
              <p class="mentions__text mt-4">Source code escrow is a great service, and one that ALL developers who do client contract work should look into.</p>
              <img class="mentions__logo" src="images/logos/hacker-news.svg"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="mentions__box-second mb-4">
              <img class="mentions__icon" src="images/icons/quotes.svg"/>
              <p class="mentions__text mt-4">Codekeeper is a new service for creating escrow agreements for code, specifying the legal circumstances where source code can be accessed.</p>
              <img class="mentions__logo" src="images/logos/fast-company.svg"/>
            </div>
            <div class="mentions__box-negative">
              <img class="mentions__icon" src="images/icons/quotes.svg"/>
              <p class="mentions__text mt-4">Compared to traditional escrow providers Codekeeper is a breath of much needed fresh air.</p>
              <img class="mentions__logo" src="images/logos/product-hunt.svg"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 pt-5">
            <div class="section-divider mt-large mb-3 ml-auto"></div>
            <h2 class="mentions__title">As seen on…</h2>
            <p class="mentions__subtitle mt-4">A few of the mentions we’ve received on the web.</p>
            <a class="button btn-primary-lg ml-auto mb-5" href="pricing.html">
              GET STARTED
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Eleventh Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
  <script src="js/easyResponsiveTabs.js"></script>
  <!--Plug-in Initialisation-->
	<script type="text/javascript">
    $(document).ready(function() {
        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
  </script>
</body>