---
layout: default
---

<body>
  <div class="resources bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg">
        <div class="container">
          <h2 class="header__title mx-auto mt-5">Information Escrow</h2>
          <p class="header__subtitle mx-auto mt-5">Learn more about what information escrow is, how it’s used, and how it might benefit your company.</p>
          <a class="button btn-white-lg mt-4 mx-auto" href="pricing.html">
            GET STARTED
          </a>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white info__bg">
    </div>
    <div class="container">
      <div class="info__box">
        <div>
          <p class="info__title">What is information escrow?</p>
          <p class="info__subtitle mx-auto mt-4">Information escrow allows companies to transmit sensitive information to a trusted intermediary, an escrow agent, who only forwards the information under prespecified conditions. This type of escrow prevents the risk of valuable private information from being disclosed to unauthorized parties. <br><br>
          Specifically, in the business context, information escrow service assists companies with securing sensitive documents, which can only be released under certain predefined conditions. The escrow agent attests to the ownership, content, and creation date of the escrowed materials. </p>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-light-gray section-medium">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="section-divider mt-5"></div>
            <h3 class="info__cases-title">Common use cases</h3>
            <p class="info__cases-subtitle">Information escrow is most commonly used when part of the product development process is outsourced to a third-party designer; or when a transaction is taking place, and a trusted third party is required to store the documents until certain milestones are met. It is also frequently used to hold intellectual property and other sensitive and confidential information that can be stored physically, electronically, or in the cloud.<br><br>
            Some examples include:</p>
            <div class="d-flex flex-wrap">
              <div class="mr-lg-4">
                <div class="info__benefits-content mt-3">
                  <p class="info__bull">&bull; </p>
                  <p class="info__cases-subtitle mt-1 mb-0">Product designs</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Passwords</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Engineering or manufacturing designs</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Industrial specifications</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Prototypes</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Chemical formulas</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Encryption keys</p>
                </div>
              </div>
              <div>
                <div class="info__benefits-content mt-3">
                  <p class="info__bull">&bull; </p>
                  <p class="info__cases-subtitle mt-1 mb-0">Branding campaigns</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Advertising campaigns</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Title deeds</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Trademark assignment</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Music</p>
                </div>
                <div class="info__benefits-content">
                  <p class="info__bull">&bull; </p>
                  <p class="info__benefits-subtitle mt-1 mb-0">Song lyrics</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style mb-5" src="images/guide/common-use-cases.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="bg-white section-medium px-2">
      <p class="info__title2">How does Codekeeper help?</p>
      <p class="info__subtitle mx-auto mt-4">As the escrow agent, Codekeeper’s role is to receive, store, and protect escrow deposits within a secure facility accessible only to authorized persons with a valid reason. It is also required to implement extensive security safeguards that ensure the integrity of data transmission into escrow, allow for content encryption, and validate authenticity.<br><br>
      Codekeeper fits directly into modern development and source code management workflows, which means deposits can be automated while removing the unnecessary burden of making manual deposits and increasing security. Once the deposit is made, Codekeeper also validates the format and completeness of the data file set of each registry escrow deposit.<br><br>
      Our modular pricing structure responds to the needs of the marketplace with four simple, straightforward plans with no hidden fees. You can get a plan for as low as $59 per month, with a start-up fee of only $199. This includes unlimited continuous deposits, beneficiary confirmations, and more. Even a free escrow agreement is included, which means you save additional dollars on lawyer fees. </p>
      <a class="button btn-primary-lg mt-4 mx-auto" href="pricing.html">
        SEE OUR PRICING
      </a>
    </div>
    <!-- Fourth Section -->
    <div class="bg-light-gray section-medium px-2">
      <div class="container">
        <h3 class="info__reading-title mx-auto">Further reading</h3>
        <p class="info__reading-subtitle mx-auto mt-4">Check out this guide on the <a class="underline-none" href="https://blog.codekeeper.co">Codekeeper blog</a> for everything you need to know to get started with source code escrow. Learn more about what a software or source code escrow is, how it’s used, and how it might benefit your company.</p>
        <div class="row my-5">
          <div class="col-md-7 col-sm-12 px-0">
            <img class="info__reading-image" src="images/guide/further-reading.svg"/>
          </div>
          <div class="col-md-5 col-sm-12 bg-white p-4">
            <a class="info__reading-text mx-auto" href="https://blog.codekeeper.co/software-escrow-101">The Ultimate Guide to Software Escrow: Everything You Need to Know to Get Started</a>
          </div>
        </div>
        <a class="button btn-primary-lg mt-4 mx-auto" href="https://blog.codekeeper.co">
          SEE ALL ARTICLES
        </a>
      </div>
    </div>
    <!-- Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>
