---
layout: default
lang: en
---

<body>
  <div class="service bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg section-medium">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <h2 class="header__title"><span class="integration-title"></span> Integration</h2>
              <p class="header__subtitle mt-4">Codekeeper integrates directly with developer workflows on Github and other popular SCM-platforms. Source code deposits into the escrow are encrypted and fully automated. No coding required!</p>
              <a class="button btn-white-lg mt-4">
                CONNECT
              </a>
            </div>
            <div class="col-md-5 col-sm-12">
              <div class="header__image-box2 mx-auto">
                <img class="header__image2 integration-logo" src=""/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-light-gray section-medium">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="images/integrations/about-image.svg"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="section-divider mb-3 mt-5 ml-auto"></div>
            <h2 class="how__title ml-auto">About <span class="integration-title"></span></h2>
            <p class="how__subtitle mt-4 ml-auto"><span class="integration-title"></span> is a popular development tool that many companies use to handle their source code management and deployments.  </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-light-gray section-medium">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="section-divider mb-3 mt-5"></div>
            <h2 class="about__title">How <span class="integration-title"></span> works with Codekeeper</h2>
            <p class="about__subtitle mt-4">Codekeeper connects to <span class="integration-title"></span> via <span class="integration-type"></span>, which means you can easily deposit your source code and keep it in sync. </p>
            <a class="button btn-secondary-lg my-5" href="integrations.html">
              SEE INTEGRATIONS
            </a>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="images/integrations/how-image.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    {% include book-demo.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    function getUrlParameter(name) {
      name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
      var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
      var results = regex.exec(location.search);
      return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
    };
    $('.integration-title').text(getUrlParameter('title'));
    $('.integration-purpose').text(getUrlParameter('purpose'));
    $('.integration-type').text(getUrlParameter('type'));
    $('.integration-logo').attr('src', getUrlParameter('image'));
  </script>
</body>