---
layout: default
---

<body>
  <div class="start-guide bg-white overflow-hidden">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="secure__content">
      <div class="secure__bg">
        <div class="container">
          <div class="secure__box">
            <div class="row">
              <div class="col-md-7 col-sm-12 sample__box">
                <div class="mt-4">
                  <h2 class="secure__title mt-3 mb-5">Guide to Secure Software Development</h2>
                  <!--[if lte IE 8]>
                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                  <![endif]-->
                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                  <script>
                    hbspt.forms.create({
                    portalId: "5365877",
                    formId: "f19aa7af-cccf-435a-9011-74aecddaba15"
                  });
                  </script>
                </div>
              </div>
              <div class="col-md-5 col-sm-12 sample__box">
                <img class="secure__image" src="images/guide/secure-guide.svg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="section-medium">
      <div class="container mt-5">
        <div class="section-divider my-3 mx-auto"></div>
        <h2 class="discover__title mx-auto mb-5">In this guide you will find</h2>
        <p class="discover__subtitle mx-auto mb-5">Access our guide and discover about the solution for software developers and publishers to provide their clients with source code escrow.</p>
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="discover__icon" src="images/features/icons/terms.svg"/>
            <p class="discover__title2 mt-5">RELEASE TERMS</p>
            <div class="section-divider my-3"></div>
            <p class="discover__text">Specify for each beneficiary which source code repositories they should receive and under which conditions they should be released. Manage complex agreements with ease.</p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="discover__icon" src="images/features/icons/support.svg"/>
            <p class="discover__title2 mt-5">CONCIERGE SUPPORT</p>
            <div class="section-divider my-3"></div>
            <p class="discover__text">We offer complete, high-touch support with each step in the process. If you need help, just get in touch through the support section in your app or <a class="underline-none" href="contact.html">send us a message.</a>  </p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="discover__icon" src="images/features/icons/bill.svg"/>
            <p class="discover__title2 mt-5">NO LAWYER FEES</p>
            <div class="section-divider my-3"></div>
            <p class="discover__text">We automated the legal process so there's no waiting on local lawyers no matter in which country your supplier is located. </p>
          </div>
        </div>
        <a class="button btn-primary-xl mt-5 mx-auto" href="start-guide.html">
          DOWNLOAD FREE GUIDE
        </a>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-white py-5">
      <div class="container">
        <div class="schedule__box">
          <div class="row">
            <div class="col-md-7 col-sm-12 mt-4">
              <h2 class="schedule__title mt-4">Schedule a Demo</h2>
              <p class="schedule__subtitle mt-4">Discover how software developers and publishers provide their clients with Software Escrow.</p>
              <a class="button btn-primary-xl mt-5 mb-4">
                SCHEDULE A DEMO
              </a>
            </div>
            <div class="col-md-5 col-sm-12 mt-4">
              <img class="image-style" src="images/guide/schedule.svg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>