---
layout: default
---

<body>
  <div class="resources bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg">
        <div class="container">
          <h2 class="header__title mx-auto mt-5">Software and Source Code Escrow</h2>
          <p class="header__subtitle mx-auto mt-5">Learn more about what software or source code escrow is, how it’s used, and how it might benefit your company.</p>
          <a class="button btn-white-lg mt-4 mx-auto" href="pricing.html">
            GET STARTED
          </a>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white info__bg">
    </div>
    <div class="container">
      <div class="info__box">
        <div>
          <p class="info__title">What is a source code or software escrow?</p>
          <p class="info__subtitle mx-auto mt-4">Source code or software escrow is an agreement set up between a software developer or vendor (aka “Depositor” or “Licensor”), their client who is purchasing the software license (aka “Beneficiary” or “Licensee”), and a trusted, neutral third party such as Codekeeper (“Escrow Agent”). In particular, source code escrow puts a contractual obligation on the depositor to store—with a trusted escrow agent—all source code, data, build instructions, third-party tools, and any other materials that would enable the beneficiary to update or maintain the software.<br><br>
          Using source code escrow, the beneficiary is protecting themself from unexpected events, such as their software developer discontinuing maintenance and support of the software, running out of business, or breaching their contract in any other way. If any of these (or other) predetermined events occur (each, a “Release Condition”), the escrowed materials (i.e., source code, credentials, instructions, etc.) are then made available (released) to the beneficiary so they can ensure their operations go on uninterrupted.</p>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-light-gray section-medium px-2">
      <p class="info__title2">Source code escrow and software escrow—what’s the difference?</p>
      <p class="info__subtitle mx-auto mt-4">“Software escrow” and “source code escrow” are terms that are used interchangeably, and they essentially mean the same thing. This is the most common type of escrow and is designed to store not only source code, but also build instructions and any other important documentation that would allow a licensee to update and maintain a mission-critical software application.<br><br>
      Though software and source code escrow is most commonly used for traditional on-site software licenses, they can also be used for development agreements, software acquisition agreements, and any other transactions involving software.</p>
    </div>
    <!-- Third Section -->
    <div class="bg-white section-medium px-2">
      <p class="info__title2">What materials are deposited in source code and software escrow?</p>
      <p class="info__subtitle mx-auto mt-4">Deposit materials vary on a case-to-case basis, but the following items are a good place to start when determining what you want deposited to ensure your software escrow deposit is complete:</p>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">A general description of the items that are being deposited (e.g., the size of the deposit; function of the software; integrations, utilities or third-party tools used to create the deposit; etc.)</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">Source code (common file types include .java, .c, .cpp, etc.)</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">Any applications necessary to compile and build executable code, objects, libraries... (e.g., the names of all required applications, version numbers, vendor names, and contact information)</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">Build instructions and design documentation (source code architecture, overall design of the source code, and interactions among modules)</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">Encryption information (e.g., required passwords, crypto keys, and software applications required to access the deposit)</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">Key developers’ contact information (emails, phone numbers, and any other relevant contact information)</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">Samples of any data or databases required to run the software</p>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="bg-light-gray section-large">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="section-divider mt-5"></div>
            <h3 class="info__benefits-title">Benefits for software vendors</h3>
            <div class="info__benefits-content mt-4">
              <p class="info__bull">&bull; </p>
              <p class="info__benefits-subtitle mt-1">Offering source code escrow provided by a trustworthy escrow agent gives you leverage in agreement negotiations. It’s for this reason that software escrow is often referred to as “the great sales enabler”.</p>
            </div>
            <div class="info__benefits-content mt-2">
              <p class="info__bull">&bull; </p>
              <p class="info__benefits-subtitle mt-1">If your business is a newcomer in the market, source code escrow helps you establish credibility among your clients and prospects while positioning yourself on par with bigger, established competitors.</p>
            </div>
            <div class="info__benefits-content mt-2">
              <p class="info__bull">&bull; </p>
              <p class="info__benefits-subtitle mt-1">You establish confidence with your licensees by addressing their concerns upfront.</p>
            </div>
            <div class="info__benefits-content mt-2">
              <p class="info__bull">&bull; </p>
              <p class="info__benefits-subtitle mt-1">You increase security by safely storing source code and software materials in a single, consolidated location with a trusted third-party rather than across multiple places for various beneficiaries and licensees.</p>
            </div>
            <div class="info__benefits-content mt-2">
              <p class="info__bull">&bull; </p>
              <p class="info__benefits-subtitle mt-1">Software escrow helps you protect your intellectual property rights and avoid courts and litigation.</p>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style mb-5" src="images/guide/benefits-vendors.svg"/>
          </div>
        </div>
        <div class="row mt-5 column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style mb-5" src="images/guide/benefits-licensees.svg"/>
          </div>
          <div class="col-md-7 col-sm-12 d-flex justify-content-end">
            <div>
              <div class="section-divider mt-5"></div>
              <h3 class="info__benefits-title">Benefits for licensees</h3>
              <div class="info__benefits-content mt-4">
                <p class="info__bull">&bull; </p>
                <p class="info__benefits-subtitle mt-1">Source code escrow protects you from unpredictable events, such as your code supplier going out of business or discontinuing maintenance and support of a mission-critical software application.</p>
              </div>
              <div class="info__benefits-content mt-2">
                <p class="info__bull">&bull; </p>
                <p class="info__benefits-subtitle mt-1">You receive the ability and documented legal right to maintain and update essential parts of the software product.</p>
              </div>
              <div class="info__benefits-content mt-2">
                <p class="info__bull">&bull; </p>
                <p class="info__benefits-subtitle mt-1">You reduce the chance of interruption or damage to your business and ensure business continuity.</p>
              </div>
              <div class="info__benefits-content mt-2">
                <p class="info__bull">&bull; </p>
                <p class="info__benefits-subtitle mt-1">You can mitigate your own concerns regarding the software vendor’s capabilities as part of a larger risk management process, which may include meeting legal requirements by demonstrating due care and due diligence.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    <div class="bg-white section-medium px-2">
      <p class="info__title2">How does Codekeeper help?</p>
      <p class="info__subtitle mx-auto mt-4">With the help of powerful automation technology, Codekeeper seamlessly integrates with developer workflows on SCM-platforms like Github, Bitbucket, Gitlab, and others, allowing it to sweep for updates to the source code and other documentation on a frequent basis. This continuous update of deposit materials not only removes the unnecessary burden of making manual deposits, but it also ensures that your materials are always up-to-date and accessible — while simultaneously helping you streamline your workflow and save time.<br><br>
      Our clients get a higher level of service and uninterrupted access to the entirety of deposit materials for a considerably lower price than with traditional escrow agents. You can get a plan for as low as $59 per month, with a start-up fee of only $199. This includes unlimited continuous deposits, beneficiary confirmations, and more. Even a free escrow agreement is included, which means you save additional dollars on lawyer fees. </p>
      <a class="button btn-primary-lg mt-4 mx-auto" href="pricing.html">
        SEE OUR PRICING
      </a>
    </div>
    <!-- Sixth Section -->
    <div class="bg-light-gray section-medium px-2">
      <div class="container">
        <h3 class="info__reading-title mx-auto">Further reading</h3>
        <p class="info__reading-subtitle mx-auto mt-4">Check out this guide on the <a class="underline-none" href="https://blog.codekeeper.co">Codekeeper blog</a> for everything you need to know to get started with source code escrow. Learn more about what a software or source code escrow is, how it’s used, and how it might benefit your company.</p>
        <div class="row my-5">
          <div class="col-md-7 col-sm-12 px-0">
            <img class="info__reading-image" src="images/guide/further-reading.svg"/>
          </div>
          <div class="col-md-5 col-sm-12 bg-white px-0">
            <p class="info__reading-text mx-auto">The Ultimate Guide to Software Escrow: Everything You Need to Know to Get Started</p>
          </div>
        </div>
        <a class="button btn-primary-lg mt-4 mx-auto" href="https://blog.codekeeper.co">
          SEE ALL ARTICLES
        </a>
      </div>
    </div>
    <!-- Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>
