---
layout: default
---

<body>
  <div class="start-guide bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg">
        <div class="container py-5">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h2 class="header__title mb-5 mt-5">Getting Started with Source Code Escrow</h2>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                portalId: "5365877",
                formId: "3e496ecf-ed6c-439f-97d2-fc4a5950f6d8"
              });
              </script>
            </div>
            <div class="col-md-6 col-sm-12 py-4">
              <img class="image-style" src="images/resources/Introduction.svg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white section-medium">
      <div class="container">
        <div class="section-divider my-3 mx-auto"></div>
        <h2 class="discover__title mx-auto mb-5">What you will find in this guide</h2>
        <p class="discover__subtitle mx-auto mb-5">Access our guide and discover how Codekeeper helps you protect your source code and databases with software escrow.</p>
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="discover__icon" src="images/features/icons/terms.svg"/>
            <p class="discover__title2 mt-5">BENEFITS OF SOFTWARE ESCROW</p>
            <div class="section-divider my-3"></div>
            <p class="discover__text">Learn about what software is, when it is used, and the benefits it offers to both developers and their clients.</p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="discover__icon" src="images/features/icons/support.svg"/>
            <p class="discover__title2 mt-5">EXPLANATIONS OF AGREEMENT TERMS</p>
            <div class="section-divider my-3"></div>
            <p class="discover__text">Explanations of the different aspects of an escrow agreement to take into account when setting up escrow.</p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="discover__icon" src="images/features/icons/bill.svg"/>
            <p class="discover__title2 mt-5">PROCESS OVERVIEW</p>
            <div class="section-divider my-3"></div>
            <p class="discover__text">A flow-chart illustrating the steps in the process of getting a source code escrow set up, including explanations of each step. </p>
          </div>
        </div>
        <a class="button btn-primary-xl mt-5 mx-auto" href="start-guide.html">
          DOWNLOAD FREE GUIDE
        </a>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-white py-5">
      <div class="container">
        <div class="schedule__box">
          <div class="row">
            <div class="col-md-7 col-sm-12 mt-4">
              <h2 class="schedule__title mt-4">See Codekeeper in action</h2>
              <p class="schedule__subtitle mt-4">Discover how Codekeeper helps software developers and publishers meet their clients’ software escrow needs as part of service level and license agreements.</p>
              <a data-toggle="modal" data-target="#meetingModal" class="button btn-primary-xl mt-5 mb-4 outline-none">
                SCHEDULE A DEMO
              </a>

              <div class="modal fade meeting-modal" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                  <div class="modal-content bg-transparent border-0">
                    <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/danny70?embed=true"></div>
                    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 mt-4">
              <img class="image-style" src="images/guide/schedule.svg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>