---
layout: default
---

<body>
  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="resources">
      <div class="header__content overflow-hidden">
        <div class="header__bg p-0 d-flex align-items-center justify-content-center flex-column">
          <div class="container">
            <h2 class="header__title mx-auto">Verification Services</h2>
            <p class="header__subtitle mx-auto mt-5">Learn what software escrow verification is,<br>
              why it matters, and how your company might benefit from it.</p>
            <a class="button btn-white-lg mt-4 mx-auto" href="pricing.html">
              GET STARTED
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="container pricing">
      <div class="verify__details-box">
        <div>
          <p class="verify__details-title">About software escrow verification</p>
          <p class="verify__details-subtitle mx-auto mt-4">Though software developers deposit source code and other materials into escrow with best intentions, mistakes do happen. This is where technical verification of deposit materials comes into play.<br><br>
          Escrow materials can sometimes contain files or data that are corrupted, incomplete, password-protected, difficult to use, or even contain viruses. Documentation could be missing, passwords could be improperly documented, third-party dependencies not outlined or included, and the list goes on.<br><br>
          Verification is used to validate the completeness, accuracy, and usability of materials deposited into escrow. It’s the only way of being certain that, in case of a release event, the beneficiary will be able to effectively use their developer’s source code in-house or transition to a new supplier effortlessly. </p>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-light-gray section-medium px-2 resources">
      <p class="info__title2">Codekeeper verification solutions</p>
      <p class="info__subtitle mx-auto mt-4">The level of verification that’s right for you depends on your budget, risk tolerance, and degree of customization of the software. At Codekeeper, we offer four levels of verification to ensure that all parties to the escrow agreement get the level of protection they need.<br><br>
      We are also able to add other verification services outside of our standard offering and execute bespoke solutions for our enterprise clients upon request. Simply <a href="contact.html" class="text-underline">send us your requirements</a>, and we will design a verification process that’s right for you.</p>
    </div>
    <!-- Third Section -->
    <div class="pricing">
      <div class="verify__container mx-auto">
        <div class="row">
          <div class="col-md-3 col-sm-12 mt-4 verify__column">
            <img src="images/icons/verification-micro.svg"/>
            <h2 class="verify__title mt-4">VERIFICATION MICRO</h2>
            <p class="verify__amount"><span>$</span> 199</p>
            <p class="verify__period">per report</p>
            <div class="verify__text-content">
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Escrow content inspection</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Development activity review on the source code.</p>
              </div>
            </div>
            <a class="button btn-primary-lg mt-4 mb-5 mx-auto" href="https://codekeeperbilling.chargebee.com/hosted_pages/plans/developer-plan?addons[id][0]=verification-micro&addons[quantity][0]=1">
              GET STARTED
            </a>
          </div>
          <div class="col-md-3 col-sm-12 mt-4 verify__column">
            <img src="images/icons/verification-basic.svg"/>
            <h2 class="verify__title mt-4">VERIFICATION BASIC</h2>
            <p class="verify__amount"><span>$</span> 499</p>
            <p class="verify__period">per report</p>
            <div class="verify__text-content">
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Code inspection: source code</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Code inspection: configuration materials</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Code inspection: other supporting material</p>
              </div>
            </div>
            <a class="button btn-primary-lg mt-4 mb-5 mx-auto" href="https://codekeeperbilling.chargebee.com/hosted_pages/plans/developer-plan?addons[id][0]=verification-basic&addons[quantity][0]=1">
              GET STARTED
            </a>
          </div>
          <div class="col-md-3 col-sm-12 mt-4 verify__column">
            <img src="images/icons/verification-advanced.svg"/>
            <h2 class="verify__title mt-4">VERIFICATION ADVANCED</h2>
            <p class="verify__amount"><span>$</span> 2,495</p>
            <p class="verify__period">per report</p>
            <div class="verify__text-content">
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Code inspection: source code</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Code inspection: configuration materials</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Code inspection: other supporting material</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Software installation</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Achieve running operational version of the software</p>
              </div>
            </div>
            <a class="button btn-primary-lg mt-4 mb-5 mx-auto" href="https://codekeeperbilling.chargebee.com/hosted_pages/plans/developer-plan?addons[id][0]=verification-advanced&addons[quantity][0]=1">
              GET STARTED
            </a>
          </div>
          <div class="col-md-3 col-sm-12 mt-4 verify__column">
            <img src="images/icons/verification-complete.svg"/>
            <h2 class="verify__title mt-4">VERIFICATION COMPLETE</h2>
            <p class="verify__amount"><span>$</span> 3,995</p>
            <p class="verify__period">per report</p>
            <div class="verify__text-content">
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Code inspection: source code</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Code inspection: configuration materials</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Code inspection: other supporting material</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Software installation</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Achieve running operational version of the software</p>
              </div>
              <div class="d-flex mt-2">
                <i class="fas fa-check text-forest-green mr-2 mt-1"></i>
                <p class="verify__text">Testing of up to 20 key features</p>
              </div>
            </div>
            <a class="button btn-primary-lg mt-4 mb-5 mx-auto" href="https://codekeeperbilling.chargebee.com/hosted_pages/plans/developer-plan?addons[id][0]=verification-complete&addons[quantity][0]=1 ">
              GET STARTED
            </a>
          </div>
        </div>
        <div class="verify__devider mx-auto mt-2"></div>
        <p class="section__text mt-4 mb-2 text-center">Need a custom verification process?</p>
        <p class="text-center"><a href="contact.html" class="text-underline">Contact us</a></p>
      </div>
      <div class="container">
        <div class="row my-5">
          <div class="col-md-7 col-sm-12">
            <div class="section-divider mt-5 mb-3"></div>
            <h2 class="verify__main-text2">Verification Micro</h2>
            <p class="verify__main-subtext2 mt-3">Our micro verification option includes an escrow content inspection report, including source code and any other data. This option also includes a review of development activity on the source code, and it’s a good starting point for companies that are simply looking to ensure that materials deposited in escrow are complete and up-to-date.  </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="images/verify-micro.svg"/>
          </div>
        </div>
        <div class="row my-5 column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="images/verify-basic.svg"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <div class="section-divider mt-5 mb-3 ml-auto"></div>
            <h2 class="verify__main-text">Verification Basic</h2>
            <p class="verify__main-subtext ml-auto mt-3">Our basic verification option gives you a thorough code inspection, including source code, configuration materials, and other supporting documentation. This option is great for companies that want to validate the completeness and accuracy of escrowed materials to ensure they have everything they need to update the software application, without assistance from the licensor. </p>
          </div>
        </div>
        <div class="row my-5">
          <div class="col-md-7 col-sm-12">
            <div class="section-divider mt-5 mb-3"></div>
            <h2 class="verify__main-text2">Verification Advanced</h2>
            <p class="verify__main-subtext2 mt-3">Our advanced verification option includes all the features of basic verification, in addition to installing your software application and running an operational version of the software. Companies for which it is imperative to ensure continuity in case of a release event often pick this option to validate not only the completeness and accuracy of materials deposited in escrow but also that the application runs as expected.  </p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="images/verify-advanced.svg"/>
          </div>
        </div>
        <div class="row my-5 column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="images/verify-complete.svg"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <div class="section-divider mt-5 mb-3 ml-auto"></div>
            <h2 class="verify__main-text">Verification Complete</h2>
            <p class="verify__main-subtext ml-auto mt-3">Finally, our complete verification option includes all advanced verification features, plus testing up to 20 key features of your software. A feature can be anything contained in the source code; some examples of what this means include: the application sends an email confirmation, it has a working email signup process, the user is able to upload a file, and so on.<br><br>
            Though the goal here is not to conduct a full acceptance test of the software, this option is great for companies that want to minimize the chance of disruption to or delay in business operations by detecting any potential issues with critical features preemptively. It ensures that the beneficiary will be able to effectively use the application immediately and avoid any ramifications of losing access to mission-critical software for any amount of time. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="bg-light-gray section-large pricing">
      <h2 class="offer__main-title">See Codekeeper in action</h2>
      <p class="offer__main-subtitle mt-3 mx-auto">Discover the features that make Codekeeper the leading software escrow solution both in terms of price and technology, and learn what it can do for your organization.</p>
      <a class="button btn-primary-lg mt-4 mx-auto" href="pricing.html">
        SEE OUR PRICING
      </a>
    </div>
    <!-- Fifth Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

</body>
