<!DOCTYPE html>
<div class="intro-guide__container mt-0 pt-150 min-h-600">
  <img class="intro-guide__shape-left" src="/images/landing/experts-small-shape.webp" alt="Decorative Small Background Shape" loading="lazy"/>
  <img class="intro-guide__shape-right" src="/images/landing/experts-large-shape.webp" alt="Decorative Large Background Shape" loading="lazy"/>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <img class="image-style" src="/images/landing/our-experts.webp" alt="Codekeeper Expert Providing 1-on-1 Demo" loading="lazy"/>
      </div>
      <div class="col-md-7 col-sm-12">
        <p class="intro-guide__main-title mt-4">Book a 1-on-1 Demo</p>
        <p class="intro-guide__main-subtitle text-slate-gray">Book a demo with one of our experts who will be more than happy to show you around our platform and answer any questions you might have.</p>
        <a class="button btn-cerulean3 my-4" href="book-a-codekeeper-backups-demo.html">
          Book a Demo
        </a>
      </div>
    </div>
  </div>
</div>