<!DOCTYPE html>
<nav class="navbar fixed-top navbar-fixed-top navbar-expand-lg navbar-light p-0 bg-white d-flex flex-column">
  <div class="container-fluid p-3 nav-box-shadow">
    <a class="navbar-brand d-flex align-items-center backups-logo-margin" href="backups.html"><img class="header__logo-backups" src="/images/backup/ck-backups-logo.svg" alt="Codekeeper Backups Logo"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav align-items-center w-100">
        <li class="nav-item">
          <a class="nav-link nav-margin text-transform-none" href="backups-how-it-works.html">How it Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-margin space-no-wrap" href="backups-pricing.html">Pricing</a>
        </li>
        <a class="button btn-secondary-large nav-margin font-16 backups-nav-margin" href="book-a-codekeeper-backups-demo.html">
          Book a Demo
        </a>
        <a class="button btn-cerulean2 nav-margin font-16 min-width-170 mx-2" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="backups">
          Get Started
        </a>
      </ul>
    </div>
  </div>
</nav>