<!DOCTYPE html>
<div class="resources">
  <div class="container">
    <p class="people-choose__main-subtitle2 mx-auto my-4 pb-5 mt-5">Trusted partner of these great brands from around the world!</p>
    <img class="image-style" src="/images/landing/companies.webp" alt="Illustration: Trusted Brands" loading="lazy"/>
  </div>

  <div class="container">
    <p class="people-choose__main-title text-bondi-blue text-center mt-5">Elevate Your Compliance Strategy!</p>
    <p class="best-price__text2 mt-4 text-bondi-blue text-center font-22">Try Codekeeper Backups today</p>
  </div>
  <div class="people-choose__bg min-h-300"></div>
  <div class="content-center mt-negative-250">
    <img class="mw-530 mx-auto image-style m-3" src="/images/backup/start-protecting.webp" alt="Illustration: Start Protecting Your Data" loading="lazy"/>
  </div>
  <div class="container mb-200">
    <p class="software-escrow__title mb-1 fw-light text-center mt-5">Unlimited Repository Backup</p>
    <p class="best-price__text2 mt-4 text-dark-cyan text-center font-18"><span>$59</span><br>/ month / user</p>
    <a class="button btn-cerulean3 mx-auto px-5 mt-4" href="javascript:void(0)" data-cb-type="checkout" data-cb-item-0="backups">
      Get Started
    </a>
    <p class="software-escrow__text mt-4 text-center font-14"><i class="fa fa-check-circle text-light-green mr-2"></i>Best price guaranteed</p>
    <p class="software-escrow__text text-center font-14"><i class="fa fa-check-circle text-light-green mr-2"></i>No hidden costs</p>
  </div>
</div>