<!DOCTYPE html>
<div class="backups">
  <div class="backups__footer-bg">
    <div class="container">
      <div class="backups__footer-content">
        
        <div class="d-flex align-items-center mobile-centered">
          <a href="backups.html"><img class="backups__footer-logo" alt="Codekeeper backups logo" src="/images/backup/ck-backups-logo.svg" loading="lazy"/></a>
          <a class="backups__footer-link mx-2" href="backups-how-it-works.html">How it Works</a>
          <a class="backups__footer-link mx-2" href="backups-pricing.html">Pricing</a>
        </div>
        <div class="d-flex align-items-center mobile-centered">
          <a class="backups__footer-link" href="https://legal.codekeeper.co/page?page=TermsConditions">Terms of Service</a>
          <span class="backups__footer-bullet">&#8226;</span>
          <a class="backups__footer-link" href="https://legal.codekeeper.co/page?page=PrivacyPolicy">Privacy Policy.</a>
        </div>
      </div>
      <p class="backups__footer-text mt-3">Codekeeper, Inc. - All rights reserved <script>document.write( new Date().getFullYear() );</script>.</p>
    </div>
  </div>
</div>