<!DOCTYPE html>
<div class="datacenters__bg">
  <div class="container d-flex flex-column align-items-center">
    <p class="scenario__title mx-auto mw-100 pb-3">{{ site.data[page.lang]['source_code_escrow']['securely_stored'] }}</p>
    <p class="protect__subtext text-dark-cyan">{{ site.data[page.lang]['features']['we_operate_within'] }}:</p>
    <img class="datacenter-image pb-5" src="/images/logos/datacenter-certifications.webp" alt="Datacenter Certifications Image" loading="lazy"/>
  </div>
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-4 col-sm-12">
        <img class="mt-5" src="/images/source-code-escrow/icons/data-security.svg" alt="Data Security Icon" loading="lazy"/>
        <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['data_security'] }}</p>
        <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['our_data'] }}</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img class="mt-5" src="/images/source-code-escrow/icons/encryption.svg" alt="Encryption Icon" loading="lazy"/>
        <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['end_to_end'] }}</p>
        <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['data_is_secured'] }}</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img class="mt-5" src="/images/source-code-escrow/icons/audit.svg" alt="Audit Icon" loading="lazy"/>
        <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['deposit_audit'] }}</p>
        <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['review_the'] }}</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 col-sm-12">
        <img class="mt-5" src="/images/source-code-escrow/icons/upload-folder.svg" alt="Upload Folder Icon" loading="lazy"/>
        <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['secure_upload'] }}</p>
        <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_you_prefer'] }}</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img class="mt-5" src="/images/source-code-escrow/icons/gdpr.svg" alt="GDPR Icon" loading="lazy"/>
        <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['gdpr_compliance'] }}</p>
        <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_your_deposits'] }}</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <img class="mt-5" src="/images/source-code-escrow/icons/hipaa.svg" alt="HIPAA Icon" loading="lazy"/>
        <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['hipaa_compliance'] }}</p>
        <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_your'] }}</p>
      </div>
    </div>
  </div>
</div>