<!DOCTYPE html>
<div class="section-medium px-3 features my-5">
  <div class="explore__section-container mx-auto">
    <div class="container">
      <h2 class="discover__title">{{ site.data[page.lang]['resources']['explore_the_codekeeper'] }}</h2>
      <p class="discover__subtitle mx-auto mt-4">{{ site.data[page.lang]['resources']['visit_our_blog'] }}</p>
      <div class="row mt-4">
        <div class="col-md-3 col-sm-12 content-center mt-4">
          <a class="explore__box" href="https://blog.codekeeper.co/the-ultimate-guide-to-software-and-source-code-escrow-chapter-1" target="_blank">
            <img class="explore__box-image" src="/images/resources-page/blog-ultimate-guide.webp" alt="Image Ultimate Guide"/>
            <p class="explore__box-text">The Ultimate Guide to Software and Source Code Escrow </p>
          </a>
        </div>
        <div class="col-md-3 col-sm-12 content-center mt-4">
          <a class="explore__box" href="https://blog.codekeeper.co/6-tips-for-securing-your-development-outsourcing" target="_blank">
            <img class="explore__box-image" src="/images/resources-page/blog-6-tips.webp" alt="Image 6 Tips"/>
            <p class="explore__box-text">6 Tips for securing your development outsourcing</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-12 content-center mt-4">
          <a class="explore__box" href="https://blog.codekeeper.co/software-verification-what-is" target="_blank">
            <img class="explore__box-image" src="/images/resources-page/blog-software-verification.webp" alt="Image Software Verification"/>
            <p class="explore__box-text">Software Verification: What is it?</p>
          </a>
        </div>
        <div class="col-md-3 col-sm-12 content-center mt-4">
          <a class="explore__box" href="https://blog.codekeeper.co/how-i-saved-50000-on-outsourcing" target="_blank">
            <img class="explore__box-image" src="/images/resources-page/blog-save-outsourcing.webp" alt="Image Save Outsourcing"/>
            <p class="explore__box-text">How I Saved $50,000 on Outsourcing </p>
          </a>
        </div>
      </div>
      <a class="button btn-cerulean my-5 mx-auto" href="https://blog.codekeeper.co" target="_blank">
        {{ site.data[page.lang]['resources']['see_all_articles'] }} 
      </a>
    </div>
  </div>
</div>