<!DOCTYPE html>
<div class="software__content overflow-hidden">
  <div class="demo__bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2 class="demo__title mt-5">{{ site.data[page.lang]['book_demo']['book_a_demo'] }}</h2>
          <p class="demo__subtitle mt-4">{{ site.data[page.lang]['book_demo']['schedule_a_session'] }} </p>
          <a class="button btn-bondi-blue my-5 book-a-demo-href" href="book-a-demo.html">
            {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
          </a>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="demo__image" src="/images/landing/book-demo-image.webp" alt="Illustration: Book a Demo" loading="lazy"/>
        </div>
      </div>
    </div>
  </div>
</div>