<!DOCTYPE html>
<div class="feedbacks">
  <div class="container py-5">
    <div class="team__box">
      <div class="row">
        <div class="col-md-8 col-sm-12 mt-3">
          <p class="team__title mt-3 mx-auto px-2">{{ site.data[page.lang]['includes']['build_team']['10_ways_to_use'] }}</p>
          <p class="team__subtitle m-2 mx-auto px-2">{{ site.data[page.lang]['includes']['build_team']['read_our_guide'] }}</p>
          <a class="button btn-primary-lg my-4 mx-auto" href="guide-build-team.html">
            {{ site.data[page.lang]['includes']['build_team']['access_free_guide'] }}
          </a>
        </div>
        <div class="col-md-4 col-sm-12 team__box-right">
          <img class="team__image" alt="Image: Survey" src="images/Feedback-types/Happy-team.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>