<!DOCTYPE html>
<div class="features">
  <div class="container py-5">
    <div class="survey__box">
      <div class="row">
        <div class="col-md-8 col-sm-12 mt-5">
          <p class="survey__title mt-3 mx-auto px-2">{{ site.data[page.lang]['includes']['build_team']['10_ways_to_use'] }}</p>
          <p class="survey__subtitle m-2 mx-auto px-2">{{ site.data[page.lang]['includes']['build_team']['read_our_guide'] }}</p>
          <a class="button btn-primary-lg mx-auto mt-3 mb-5" href="5-star-survey-guide.html">
            {{ site.data[page.lang]['includes']['build_team']['download_free_guide'] }}
          </a>
        </div>
        <div class="col-md-4 col-sm-12 survey__box-right">
          <img class="survey__image" alt="Image: Survey" src="images/Feedback-types/5-star-survey-how.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>