<!DOCTYPE html>
<div class="bg-light-gray section-medium">
  <div class="container">
    <h2 class="reads__title">Good reads</h2>
    <p class="reads__subtitle my-4 mx-auto">In the meanwhile, get to know our blog and learn more about escrow.<br> Check out this great content: </p>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <a href="https://blog.codekeeper.co/how-i-saved-55000-on-outsourcing">
          <div class="reads__bg1 mx-auto">
            <div class="reads__content">
              <p class="reads__text">
                How I Saved $50,000 on Outsourcing
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a href="https://blog.codekeeper.co/software-verification-what-is-it">
          <div class="reads__bg2 mx-auto">
            <div class="reads__content">
              <p class="reads__text">
                Software Verification: What Is It?
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a href="https://blog.codekeeper.co/best-practices-for-software-escrow-in-licensing-agreements">
          <div class="reads__bg3 mx-auto">
            <div class="reads__content">
              <p class="reads__text">
                Best Practices for Software Escrow in Licensing Agreements
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <a class="button btn-secondary-lg my-5 mx-auto" href="https://blog.codekeeper.co" target="_blank">
      CHECK OUR BLOG
    </a>
  </div>
</div>