<!DOCTYPE html>
<div class="bg-white section-medium">
  <div class="container">
    <h2 class="reads__title">{{ site.data[page.lang]['includes']['check_blog']['good_reads'] }}</h2>
    <p class="reads__subtitle my-4 mx-auto">{{ site.data[page.lang]['includes']['check_blog']['in_the_meanwhile'] }}: </p>
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <a href="https://blog.codekeeper.co/how-i-saved-55000-on-outsourcing">
          <div class="reads__bg1 mx-auto">
            <div class="reads__content">
              <p class="reads__text">
                {{ site.data[page.lang]['includes']['check_blog']['how_i_saved'] }}
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a href="https://blog.codekeeper.co/software-verification-what-is-it">
          <div class="reads__bg2 mx-auto">
            <div class="reads__content">
              <p class="reads__text">
                {{ site.data[page.lang]['includes']['check_blog']['software_verification'] }}: {{ site.data[page.lang]['includes']['check_blog']['what_is_it'] }}?
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-md-12">
        <a href="https://blog.codekeeper.co/best-practices-for-software-escrow-in-licensing-agreements">
          <div class="reads__bg3 mx-auto">
            <div class="reads__content">
              <p class="reads__text">
                {{ site.data[page.lang]['includes']['check_blog']['best_practices'] }}
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <a class="button btn-secondary-lg my-5 mx-auto" href="https://blog.codekeeper.co" target="_blank">
      {{ site.data[page.lang]['includes']['check_blog']['check_our_blog'] }}
    </a>
  </div>
</div>