<!DOCTYPE html>
<div class="resources">
  <div class="position-relative">
    <div class="container resources ">
      <p class="people-choose__main-title text-dark-cyan fw-light pt-2 overflow-wrap-break-mobile mw-645 mx-auto">{{ site.data[page.lang]['solutions']['lets_start_with'] }}</p>
      <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['index']['use_our_free'] }}</p>
      <div class="content-center mt-4">
        <img class="software-escrow__image mw-530" src="/images/landing/disaster-recovery-planning.webp" alt="Illustration: Disaster Recovery Planning for Guaranteed Continuity" loading="lazy"/>
      </div>
    </div>
    
    <div class="container pt-50">
      <div class="row column-reverse-mobile mt-5">
        <div class="col-md-5 col-sm-12">
          <img class="software-escrow__image mb-5" src="/images/landing/disaster-recovery-free-toolkit.webp" alt="Illustration: Disaster Recovery Planning Toolkit" loading="lazy"/>
        </div>
        <div class="col-md-7 col-sm-12">
          <p class="software-escrow__title mb-1 overflow-wrap-break-mobile mw-530 font-40 line-height-45">{{ site.data[page.lang]['solutions']['disaster_recovery_free'] }}</p>
          <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['register_for_free'] }}</p>
          <div class="software-escrow__devider"></div>
          <p class="software-escrow__text mt-3"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['information_assets_list'] }}</p>
          <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['internal_and_external'] }}</p>
          <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['risk_register'] }}</p>
          <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['risk_mitigation'] }}</p>
          <div class="d-flex flex-wrap mt-4">
            <a class="button btn-cerulean3 mr-4 mb-3" data-toggle="modal" data-target="#exampleModal20">
              {{ site.data[page.lang]['index']['start_planning'] }}
            </a>
            <div>
              <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
              <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="people-choose__bg">
    <div class="container section-medium mt-5">
      <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['index']['trusted_partner_of'] }}</p>
      <img class="image-style mt-4" src="/images/landing/companies.webp" alt="Illustration representing companies that benefit from the service" loading="lazy"/>
    </div>
  </div>
    
  <div class="intro-guide__container2 min-h-600">
    <img class="intro-guide__shape-left" src="/images/landing/experts-small-shape.webp" alt="Decorative Small Shape" loading="lazy"/>
    <img class="intro-guide__shape-right" src="/images/landing/experts-large-shape.webp" alt="Decorative Large Shape" loading="lazy"/>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <img class="image-style" src="/images/landing/our-experts.webp" alt="Illustration: Our Expert" loading="lazy"/>
        </div>
        <div class="col-md-7 col-sm-12">
          <p class="intro-guide__main-title mt-4">{{ site.data[page.lang]['index']['a_session_with'] }}</p>
          <p class="intro-guide__main-subtitle">{{ site.data[page.lang]['index']['schedule_a_session'] }}</p>
          <a class="button btn-cerulean3 book-a-demo-href my-4" href="book-a-demo.html">
            {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal20" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content section__modal mx-auto">
        <div class="modal-body p-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="m-0">
            <div class="section__modal-form p-0 ">
              <p class="section__modal-title mt-3">{{ site.data[page.lang]['index']['start_planning'] }}</p>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <img class="section__modal-image mb-5" src="/images/landing/disaster-recovery-dashboard-toolkit.webp" alt="Illustration: Disaster Recovery Planning Toolkit" loading="lazy"/>
                </div>
                <div class="col-md-6 col-sm-12 pt-3">
                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                  <script>
                    hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "2b243a37-2e7a-40e8-a13d-1c7a27e1551b"
                    });
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>