<!DOCTYPE html>
<div class="row mt-5">
  <div class="col-md-6 col-sm-12">
    <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/time-consuming.svg" alt="Time Consuming Icon"/>{{ site.data[page.lang]['source_code_escrow']['time_consuming'] }}</p>
    <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/complex-deposit.svg" alt="Complex Deposit Icon"/>{{ site.data[page.lang]['source_code_escrow']['complex_deposit'] }}</p>
    <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/spending-hours.svg" alt="Spending Hours Icon"/>{{ site.data[page.lang]['source_code_escrow']['developers_spending'] }}</p>
  </div>
  <div class="col-md-6 col-sm-12">
    <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/outdated-deposit.svg" alt="Outdated Deposit Icon"/>{{ site.data[page.lang]['source_code_escrow']['outdated_and'] }}</p>
    <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/missing-repositories.svg" alt="Missing Repositories Icon"/>{{ site.data[page.lang]['source_code_escrow']['missing'] }}</p>
    <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/unsupported-source.svg" alt="Unsupported Source Icon"/>{{ site.data[page.lang]['source_code_escrow']['unsupported_source'] }}</p>
  </div>
</div>