<!DOCTYPE html>
<div class="resources">
  <div class="applications__logos mt-4 justify-content-center">
    
    <div class="applications__logo mx-0">
      <img class="applications__logo-image3 p-2" src="/images/homepage/logos/github-large.svg" alt="Github Logo"/>
      <p class="applications__logo-text">GitHub</p>
    </div>
    <div class="applications__logo mx-0">
      <img class="applications__logo-image3 p-2" src="/images/homepage/logos/bitbucket-large.svg" alt="Bitbucket Logo"/>
      <p class="applications__logo-text">Bitbucket</p>
    </div>
    <div class="applications__logo mx-0">
      <img class="applications__logo-image3 p-1" src="/images/homepage/logos/gitlab-large.svg" alt="Gitlab Logo"/>
      <p class="applications__logo-text">GitLab</p>
    </div>
    <div class="applications__logo mx-0">
      <img class="applications__logo-image3 p-1" src="/images/homepage/logos/google-cloud-large.svg" alt="Google Cloud Logo"/>
      <p class="applications__logo-text">Google<br> Cloud</p>
    </div>
    <div class="applications__logo mx-0">
      <img class="applications__logo-image3 p-1" src="/images/homepage/logos/azure-large.svg" alt="Microsoft Azure Logo"/>
      <p class="applications__logo-text">Microsoft Azure</p>
    </div>
    <div class="applications__logo mx-0">
      <img class="applications__logo-image3 p-2" src="/images/homepage/logos/aws-large.svg" alt="Amazon Web Services Logo"/>
      <p class="applications__logo-text">Amazon<br> Web<br> Services</p>
    </div>
  </div>
</div>