<!DOCTYPE html>
<div class="index-learn__bg">
  <div class="row pt-5 mx-0">
    <div class="col-12 col-lg-7 d-flex align-items-center justify-content-center flex-column">
      <div>
        <p class="index-learn__title">{{ site.data[page.lang]['download_guide']['learn_how'] }}</p>
        <p class="index-learn__subtitle">{{ site.data[page.lang]['download_guide']['break_into'] }}:</p>
        <div class="d-flex align-items-center mt-4">
          <img class="mr-2" src="/images//homepage/check-icon.svg" />
          <p class="index-learn__text mb-0">{{ site.data[page.lang]['download_guide']['what_is'] }}</p>
        </div>
        <div class="d-flex align-items-center mt-3">
          <img class="mr-2" src="/images//homepage/check-icon.svg" />
          <p class="index-learn__text mb-0">{{ site.data[page.lang]['download_guide']['why_what'] }}</p>
        </div>
        <div class="d-flex align-items-center mt-3">
          <img class="mr-2" src="/images//homepage/check-icon.svg" />
          <p class="index-learn__text mb-0">{{ site.data[page.lang]['download_guide']['how_to_get'] }}</p>
        </div>
        <p class="index-learn__subtitle mt-3">{{ site.data[page.lang]['download_guide']['and_many_more'] }}</p>
        <a data-toggle="modal" data-target="#exampleModal">
          <button class="btn-initial btn-white index-header__content-btn mb-5">{{ site.data[page.lang]['download_guide']['download_guide'] }}</button>
        </a>
      </div>
    </div>
    <div class="col-12 col-lg-5 d-flex justify-content-end px-0 my-4 english-guide">
      <img class="index-learn__image" src="/images//homepage/beginner-guide.webp" alt="Beginners Guide Image" />
    </div>
    <div class="col-12 col-lg-5 d-flex justify-content-end px-0 my-4 french-guide">
      <img class="index-learn__image" src="/images//homepage/beginner-guide-fr.webp" alt="Beginners Guide Image"/>
    </div>
    <div class="col-12 col-lg-5 d-flex justify-content-end px-0 my-4 italian-guide">
      <img class="index-learn__image" src="/images//homepage/beginner-guide-it.webp" alt="Beginners Guide Image"/>
    </div>
    <div class="col-12 col-lg-5 d-flex justify-content-end px-0 my-4 german-guide">
      <img class="index-learn__image" src="/images//homepage/beginner-guide-de.webp" alt="Beginners Guide Image"/>
    </div>
    <div class="col-12 col-lg-5 d-flex justify-content-end px-0 my-4 dutch-guide">
      <img class="index-learn__image" src="/images//homepage/beginner-guide-nl.webp" alt="Beginners Guide Image"/>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content section__modal mx-auto">
        <div class="modal-body p-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="m-0">
            <div class="section__modal-image-content p-0 pt-5">
              <p class="section__modal-title mt-3">{{ site.data[page.lang]['download_guide']['download_this_ebook'] }}</p>
            </div>
            <div class="section__modal-form p-0" id="englishForm">
              <img class="section__modal-image" src="/images/homepage/guide-image.webp" alt="Beginners Guide Image"/>
              <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                region: "na1",
                portalId: "5626357",
                formId: "5cc9a226-b022-4f87-948a-2226653fa942"
              });
              </script>
              <!-- <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['download_guide']['ebook_available_only'] }}</p> -->
            </div>
            <div class="section__modal-form p-0" id="frenchForm">
              <img class="section__modal-image" src="/images/homepage/guide-image-fr.webp" alt="Beginners Guide Image"/>
              <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                region: "na1",
                portalId: "5626357",
                formId: "303c6bc0-1169-43b5-8b60-e3fb6900d782"
              });
              </script>
            </div>
            <div class="section__modal-form p-0" id="germanForm">
              <img class="section__modal-image" src="/images/homepage/guide-image-de.webp" alt="Beginners Guide Image"/>
              <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                region: "na1",
                portalId: "5626357",
                formId: "830752bf-b483-41a0-81fd-5ab7e9135e5c"
              });
              </script>
            </div>
            <div class="section__modal-form p-0" id="italianForm">
              <img class="section__modal-image" src="/images/homepage/guide-image-it.webp" alt="Beginners Guide Image"/>
              <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                region: "na1",
                portalId: "5626357",
                formId: "1942cf83-0b33-47aa-81bc-2ad9c2c996cf"
              });
              </script>
            </div>
            <div class="section__modal-form p-0" id="dutchForm">
              <img class="section__modal-image" src="/images/homepage/guide-image-nl.webp" alt="Beginners Guide Image"/>
              <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                region: "na1",
                portalId: "5626357",
                formId: "e11edf41-3ac5-4d97-934c-c2e3a2b97b65"
              });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>