<!DOCTYPE html>
<div class="container mt-5 homepage">
  <div class="insights__content">
    <div class="insights__content-text mr-3">
      <p class="insights__title mt-3">{{ site.data[page.lang]['includes']['fb_insights']['let_them_know'] }}</p>
      <p class="insights__subtitle mt-3">{{ site.data[page.lang]['includes']['fb_insights']['creating_positive_change'] }} </p>
      <a class="button btn-secondary mt-4" href="https://app.feedbacklabs.com/signup">
        {{ site.data[page.lang]['includes']['fb_insights']['get_started_free'] }}
      </a>
      <div class="d-flex flex-wrap align-items-center">
        <div class="d-flex align-items-center mr-4 my-3">
          <img class="" alt="Icon Check" src="/images/Homepage/icon-check.svg"/>
          <p class="text-fade-gray mb-0 ml-1">{{ site.data[page.lang]['index']['14_day_free'] }}</p>
        </div>
        <div class="d-flex align-items-center my-3">
          <img class="" alt="Icon Check" src="/images/Homepage/icon-check.svg"/>
          <p class="text-fade-gray mb-0 ml-1">{{ site.data[page.lang]['index']['cancel_anytime'] }}</p>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <img class="insights__image" alt="Image: Guide" src="/images/Homepage/you-listening.svg"/>
    </div>
  </div>
</div>