<!DOCTYPE html>
<div class="homepage">
  <div class="container section-medium">
    <div class="guide__box">
      <div class="guide__top-bar"></div>
      <div class="row px-3 guide__content">
        <div class="col-md-7 col-sm-12 d-flex flex-column align-items-center">
          <h2 class="guide__title">{{ site.data[page.lang]['includes']['feedback_guide']['guide_to_customer'] }}</h2>
          <p class="guide__subtitle pt-4">{{ site.data[page.lang]['includes']['feedback_guide']['access_our_guide'] }}</p>
          <a class="button btn-primary mx-auto my-4" href="guide-customer-fb.html">
            {{ site.data[page.lang]['includes']['feedback_guide']['download_free_guide'] }}
          </a>
        </div>
        <div class="col-md-5 col-sm-12 d-flex justify-content-center">
          <img class="guide__image mx-3" alt="Image: Guide" src="/images/Homepage/Guide.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>
