<!DOCTYPE html>
<div class="container py-4">
  <div class="row py-4">
    <div class="col-md-3 col-sm-12">
      <div class="d-flex align-items-center my-2">
        <a href="index.html"><img class="footer__logo" alt="Logo: Feedbacklabs" src="/images/Homepage/Logo.svg"/> </a>
        <!-- <div>
          <li class="footer__link">
            <a class="footer__link dropdown-toggle" href="#" id="langDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              English
            </a>
            <div class="dropdown-menu" aria-labelledby="langDropdown">
              <a class="dropdown-item" href="/index.html">English</a>
              <a class="dropdown-item" href="/nl/index.html">Dutch</a>
            </div>
          </li>
        </div> -->
      </div>
    </div>
    <div class="col-md-9 col-sm-12 footer__links my-3">
      <a class="footer__link m-3" href="features.html">{{ site.data[page.lang]['includes']['footer']['features'] }} </a>
      <a class="footer__link m-3" href="how-it-works.html">{{ site.data[page.lang]['includes']['footer']['how_it_works'] }}</a>
      <a class="footer__link m-3" href="pricing.html">{{ site.data[page.lang]['includes']['footer']['pricing'] }}</a>
      <a class="footer__link m-3" href="resources.html">{{ site.data[page.lang]['includes']['footer']['resources'] }}</a>
      <a class="footer__link m-3" href="contact.html">{{ site.data[page.lang]['includes']['footer']['contact'] }}</a>
    </div>
  </div>
  <div class="footer__border mx-auto"></div>
  <p class="footer__text mx-auto text-center my-4">© 2020 FeedbackLabs. {{ site.data[page.lang]['includes']['footer']['all_rights_reserved'] }} <a href="https://legal.feedbacklabs.com/page?page=TermsConditions">{{ site.data[page.lang]['includes']['footer']['terms_and_conditions'] }}</a> {{ site.data[page.lang]['includes']['footer']['apply'] }}. {{ site.data[page.lang]['includes']['footer']['see_our'] }} <a href="https://legal.feedbacklabs.com/page?page=PrivacyPolicy">{{ site.data[page.lang]['includes']['footer']['privacy_policy'] }}.</a></p>
</div>
