<!DOCTYPE html>
<div class="container">
  <div class="d-flex index-footer">
    <div class="d-flex flex-column footer-dropdown">
      <a href="index.html"><img src="/images/brand.svg" alt="Tolq Logo" /></a>
      <p class="index-footer__easy my-3">{{ site.data[page.lang]['footer']['scalable_e_commerce'] }}</p>
      <div class="custom-select mt-2" style="width:235px; height: auto; padding: 0px; border-radius: 12px;">
        <select>
          <option value="0">{{ site.data[page.lang]['footer']['select_language'] }}</option>
            <option value="1" id="english">{{ site.data[page.lang]['footer']['english'] }}</option>
            <option value="2" id="dutch">{{ site.data[page.lang]['footer']['dutch'] }}</option>
            <option value="3" id="german">{{ site.data[page.lang]['footer']['german'] }}</option>
            <option value="4" id="italian">{{ site.data[page.lang]['footer']['italian'] }}</option>
            <option value="5" id="french">{{ site.data[page.lang]['footer']['french'] }}</option>
        </select>
      </div>
    </div>
    <div class="d-flex flex-column pr-2 pl-4">
      <p class="index-footer__cat">{{ site.data[page.lang]['footer']['company'] }}</p>
      <a class="index-footer__link" href="translators.html">{{ site.data[page.lang]['footer']['translators'] }}</a>
      <a class="index-footer__link" href="contact.html">{{ site.data[page.lang]['footer']['contact'] }}</a>
    </div>
    <div class="d-flex flex-column px-2">
      <p class="index-footer__cat">{{ site.data[page.lang]['footer']['solutions'] }}</p>
      <a class="index-footer__link" href="product-catalog.html">{{ site.data[page.lang]['footer']['product_catalog'] }}</a>
      <a class="index-footer__link" href="customer-service.html">{{ site.data[page.lang]['footer']['customer_service'] }}</a>
      <a class="index-footer__link" href="marketing.html">{{ site.data[page.lang]['footer']['marketing'] }}</a>
      <a class="index-footer__link" href="corporate-translation.html">{{ site.data[page.lang]['footer']['corporate_translation'] }}</a>
    </div>
    <div class="d-flex flex-column px-2">
      <p class="index-footer__cat">{{ site.data[page.lang]['footer']['product'] }}</p>
      <a class="index-footer__link" href="features.html">{{ site.data[page.lang]['footer']['how_it_works'] }}</a>
      <a class="index-footer__link" href="https://docs.tolq.com/docs">{{ site.data[page.lang]['footer']['api_docs'] }}</a>
    </div>
    <div class="d-flex flex-column px-2">
      <p class="index-footer__cat">{{ site.data[page.lang]['footer']['social_media'] }}</p>
      <div class="d-flex w-100 index-footer__social">

        <a class="nav-link mr-2" href="https://www.facebook.com/tolqcom">
          <img src="/images/fb.svg" alt="" />
        </a>
        <a class="nav-link" href="https://twitter.com/tolqcom">
          <img src="/images/tw.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center smaller-fontsize copyright mb-5 index-footer__text pb-4">
    ©<script>document.write( new Date().getFullYear() );</script> Tolq.com BV, {{ site.data[page.lang]['footer']['all_rights'] }} - <a href="https://legal.tolq.com/page?page=TermsConditions">{{ site.data[page.lang]['footer']['terms'] }}</a> - <a href="https://legal.tolq.com/page?page=PrivacyPolicy">{{ site.data[page.lang]['footer']['privacy'] }}</a>
  </div>
</div>