<!DOCTYPE html>
<div class="container py-4">
  <div class="row py-4">
    <div class="col-md-3 col-sm-12">
      <div class="d-flex align-items-center my-2">
        <a href="index.html"><img class="footer__logo" alt="Logo: Feedbacklabs" src="/images/Homepage/Logo.svg"/> </a>
        <div>
          <!-- <img class="footer__logo-team mt-3" alt="Logo: Startupz" src="/images/Homepage/Startupz-created.svg"/> -->
          <!-- <li class="footer__link mt-3">
            <a class="footer__link dropdown-toggle" href="#" id="langDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              English
            </a>
            <div class="dropdown-menu" aria-labelledby="langDropdown">
              <a class="dropdown-item" href="/index.html">English</a>
              <a class="dropdown-item" href="/fr/index.html">French</a>
            </div>
          </li> -->
        </div>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 footer__links my-3">
      <a class="footer__link m-3" href="features.html">{{ site.data[page.lang]['includes']['footer']['features'] }} </a>
      <a class="footer__link m-3" href="how-it-works.html">{{ site.data[page.lang]['includes']['footer']['how_it_works'] }}</a>
      <a class="footer__link m-3" href="pricing.html">{{ site.data[page.lang]['includes']['footer']['pricing'] }}</a>
      <a class="footer__link m-3" href="contact.html">{{ site.data[page.lang]['includes']['footer']['contact'] }}</a>
    </div>
  </div>
  <div class="footer__border mx-auto"></div>
  <p class="footer__text mx-auto text-center my-4">{{ site.data[page.lang]['includes']['footer']['feedbacklabs'] }}. <a href="">{{ site.data[page.lang]['includes']['footer']['terms_and_conditions'] }}</a>. <a href="">{{ site.data[page.lang]['includes']['footer']['privacy_policy'] }}</a></p>
</div>
