<!DOCTYPE html>
<div class="software__content overflow-hidden">
  <div class="software__bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2 class="software__title">Get Started with Software Escrow</h2>
          <p class="software__subtitle mt-4">Codekeeper is the easy and affordable solution for software developers and publishers to save time and money and increase sales. Set up your first escrow today to protect your code and data. </p>
          <a class="button btn-white-lg my-5" href="pricing.html">
            GET STARTED
          </a>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="software__image" src="images/iPad2.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>