<!DOCTYPE html>
<div class="homepage">
  <div class="provide__box">
    <div class="row">
      <div class="col-md-8 col-sm-12 d-flex justify-content-center mt-5">
        <div class="p-3">
          <h2 class="provide__title mt-4">{{ site.data[page.lang]['includes']['get_answers']['answers_smarter'] }} </h2>
          <p class="provide__subtitle mt-4">{{ site.data[page.lang]['includes']['get_answers']['get_insights'] }} </p>
          <a class="button btn-white my-4" href="https://app.feedbacklabs.com/signup">
            {{ site.data[page.lang]['includes']['get_answers']['start_getting_answers'] }} 
          </a>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 provide__box-right">
        <img class="provide__image p-2" alt="Image: Answers image" src="/images/Homepage/Answers-image.svg"/>
      </div>
    </div>
  </div>
</div>
