<!DOCTYPE html>
<div class="resources">
  <div class="container-fluid px-0">
    <div class="intro__bg">
      <div class="intro__col-green">
        <div class="intro__col-green-spacing">
          <img class="intro__image" src="/images/landing/intro-guide.webp"/>
          <p class="intro__add-on text-uppercase">{{ site.data[page.lang]['resources']['ebook'] }} </p>
          <h2 class="intro__title">{{ site.data[page.lang]['includes']['escrow_introduction']['introduction_to_software'] }}: {{ site.data[page.lang]['includes']['escrow_introduction']['a_guide'] }}</h2>
          <p class="intro__subtitle mt-3">{{ site.data[page.lang]['includes']['escrow_introduction']['learn_how'] }}</p>
          <div class="d-flex flex-wrap align-items-center my-4">
            <a class="button btn-white my-4 mr-4" data-toggle="modal" data-target="#exampleModal22">
              {{ site.data[page.lang]['includes']['intro']['download_guide'] }}
            </a>
            <a class="button intro__link mw-100 resources-href" href="resources.html">
              {{ site.data[page.lang]['includes']['intro']['more_free'] }}
            </a>
          </div>
        </div>
      </div>
      <div class="intro__col">
        <div class="intro__col-spacing">
          <img class="intro__image mt-3 pb-3" src="/images/landing/get-started.webp"/>
          <h2 class="intro__title2 mt-4">{{ site.data[page.lang]['includes']['intro']['protect_your'] }}</h2>
          <p class="intro__subtitle2 mt-3">{{ site.data[page.lang]['includes']['intro']['software_escrow'] }}</p>
          <div class="d-flex flex-wrap align-items-center my-4">
            <a class="button btn-bondi-blue my-4 mr-4 pricing-href" href="pricing.html">
              {{ site.data[page.lang]['includes']['intro']['get_started'] }}
            </a>
            <a class="button intro__link2 mw-100 book-a-demo-href" href="book-a-demo.html">
              {{ site.data[page.lang]['includes']['intro']['book_a_demo'] }}
            </a>
          </div>
        </div>
      </div>
      <!-- <div class="container">
        <div class="guide__content2 d-flex align-items-center justify-content-between">
          <img class="guide__image2 my-4" src="/images/resources-page/guide-introduction.webp"/>
          <div>
            <p class="verification__add-on text-uppercase mt-4">{{ site.data[page.lang]['resources']['ebook'] }} </p>
            <h2 class="guide__title2">{{ site.data[page.lang]['includes']['escrow_introduction']['introduction_to_software'] }}: {{ site.data[page.lang]['includes']['escrow_introduction']['a_guide'] }}</h2>
            <p class="guide__subtitle2 mt-3">{{ site.data[page.lang]['includes']['escrow_introduction']['learn_how'] }}</p>
            <a class="button btn-cerulean mt-4" data-toggle="modal" data-target="#exampleModal22">
              {{ site.data[page.lang]['includes']['escrow_introduction']['download_free_guide'] }}
            </a>
          </div>
          
        </div>
      </div> -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal22" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content section__modal mx-auto">
          <div class="modal-body p-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="m-0">
              <div class="section__modal-image-content p-0 pt-5">
                <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
              </div>
              <div class="section__modal-form p-0 ">
                <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp"/>

                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                  portalId: "5365877",
                  formId: "31e6f358-0537-4c45-aa72-b9cc697f4a71"
                });
                </script>
                <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
              </div>
              <!-- <div class="section__modal-form p-0 spanish-guide">
                <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp"/>

                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                  region: "na1",
                  portalId: "5365877",
                  formId: "179065e1-f3f9-46f4-81ec-efab51308dd7"
                });
                </script>
                <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
              </div> -->
              <!-- <div class="section__modal-form p-0 german-guide">
                <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp"/>

                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                  region: "na1",
                  portalId: "5365877",
                  formId: "047ec24f-67b1-43a8-a6b3-02f533758e95"
                });
                </script>
                <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
              </div> -->
              <!-- <div class="section__modal-form p-0 dutch-guide">
                <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp"/>
 
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                  region: "na1",
                  portalId: "5365877",
                  formId: "22833ac7-23a5-4725-95ea-71d25737ca21"
                });
                </script>
                <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>