<!DOCTYPE html>
<nav class="navbar fixed-top navbar-fixed-top navbar-expand-lg navbar-light p-0 bg-white d-flex flex-column">
  <div class="container-fluid p-3 nav-box-shadow">
    <a class="navbar-brand d-flex align-items-center mr-0" href="index.html"><img class="header__logo" src="/images/logos/Logo-codekeeper.svg"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto align-items-center">
        <!-- <li class="nav-item">
          <a class="nav-link nav-margin features-href" href="features.html">{{ site.data[page.lang]['navigation']['features'] }}</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link nav-margin solutions-href text-transform-none" href="solutions.html">{{ site.data[page.lang]['navigation']['solutions'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-margin software-escrow-href text-transform-capitalize" href="software-escrow.html">{{ site.data[page.lang]['footer']['software_escrow'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-margin saas-escrow-href text-transform-capitalize" href="saas-escrow.html">{{ site.data[page.lang]['footer']['saas_escrow'] }}</a>
        </li>

        <div class="dropdown show-desktop">
          <button class="btn bg-white dropdown-toggle nav-link" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ site.data[page.lang]['footer']['add_ons'] }} <img class="ml-1" src="/images/integrations/icon-down.svg"/>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
            <a class="dropdown-item py-2 automated-verification-href" href="software-verification-report-automated.html">{{ site.data[page.lang]['navigation']['automated_verification'] }}</a>
            <a class="dropdown-item py-2 manual-verification-href" href="software-verification-report-manual.html">{{ site.data[page.lang]['navigation']['manual_verification'] }}</a>
          </div>
        </div> 

        <li class="nav-item show-mobile">
          <a class="nav-link nav-margin resources-href" href="resources.html">{{ site.data[page.lang]['navigation']['resources'] }}</a>
        </li>
        <li class="nav-item show-mobile">
          <a class="nav-link nav-margin" href="https://blog.codekeeper.co">{{ site.data[page.lang]['navigation']['blog'] }}</a>
        </li>
        <div class="dropdown show-desktop">
          <button class="btn bg-white dropdown-toggle nav-link" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ site.data[page.lang]['navigation']['resources'] }} <img class="ml-1" src="/images/integrations/icon-down.svg"/>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item py-2 integrations-href" href="integrations.html">{{ site.data[page.lang]['footer']['integrations'] }}</a>
            <a class="dropdown-item py-2 escrow-agreement-href" href="escrow-agreement.html">{{ site.data[page.lang]['navigation']['escrow_agreements'] }}</a>
            <a class="dropdown-item py-2 resources-href" href="resources.html">{{ site.data[page.lang]['navigation']['guides_case'] }}</a>
            <a class="dropdown-item py-2 how-it-works-href" href="how-it-works.html">{{ site.data[page.lang]['footer']['how_it_works'] }}</a>
            <a class="dropdown-item py-2" href="technical-assessment.html">{{ site.data[page.lang]['navigation']['technical_assessment'] }}</a>
            <a class="dropdown-item py-2" href="risk-assessment.html">{{ site.data[page.lang]['navigation']['risk_assessment'] }}</a>
            <a class="dropdown-item py-2" href="https://blog.codekeeper.co">{{ site.data[page.lang]['navigation']['blog'] }}</a>
          </div>
        </div> 

        <div class="dropdown show-desktop">
          <button class="btn bg-white dropdown-toggle nav-link" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ site.data[page.lang]['navigation']['about_us'] }} <img class="ml-1" src="/images/integrations/icon-down.svg"/>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
            <a class="dropdown-item py-2 about-us-href" href="about-us.html">{{ site.data[page.lang]['navigation']['our_story'] }}</a>
            <a class="dropdown-item py-2 contact-href" href="contact.html">{{ site.data[page.lang]['footer']['contact'] }}</a>
          </div>
        </div> 

        <li class="nav-item">
          <a class="nav-link nav-margin pricing-href" href="pricing.html">{{ site.data[page.lang]['navigation']['pricing'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-margin space-no-wrap" href="https://app.codekeeper.co/">{{ site.data[page.lang]['navigation']['login'] }}</a>
        </li>
        <a class="button btn-secondary-large nav-margin book-a-demo-href" href="book-a-demo.html">
          {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
        </a>
      </ul>
    </div>
  </div>
</nav>
