<!DOCTYPE html>
<nav
  class="new-navigation navbar fixed-top navbar-fixed-top navbar-expand-lg navbar-light p-0 bg-white d-flex flex-column"
>
  <div class="container-fluid p-3 nav-box-shadow">
    <a class="navbar-brand d-flex align-items-center mr-0" href="index.html">
      <img
        class="header__logo"
        src="/images/logos/Logo-codekeeper.svg"
        alt="Codekeeper Logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-50 align-items-center">
        <div class="dropdown show-desktop">
          <button
            class="btn bg-white dropdown-toggle custom-dropdown-btn"
            type="button"
            id="dropdownMenuButton5"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <!-- {{ site.data[page.lang]['navigation']['solutions'] }} -->
            Disaster Recovery Solutions
            <img
              class="ml-1"
              src="/images/integrations/icon-down.svg"
              alt="Down Icon"
            />
          </button>
          <span class="line"></span>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
            {% include recovery-menu.html %}
          </div>
        </div>
        <li class="nav-item ml-50 show-desktop">
          <a class="custom-dropdown-btn pricing-href" href="pricing.html">
            Pricing
          </a>
        </li>
        <div class="dropdown ml-50 show-desktop">
          <button
            class="btn bg-white dropdown-toggle custom-dropdown-btn"
            type="button"
            id="dropdownMenuButton5"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <!-- {{ site.data[page.lang]['navigation']['solutions'] }} -->
            Resources
            <img
              class="ml-1"
              src="/images/integrations/icon-down.svg"
              alt="Down Icon"
            />
          </button>
          <span class="line"></span>
          <div class="resources">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
              {% include resources-menu.html %}
            </div>
          </div>
        </div>
        <li class="nav-item show-mobile">
          <a
            class="nav-link nav-margin automated-verification-href"
            href="software-verification-report-automated.html"
          >
            {{ site.data[page.lang]['navigation']['automated_verification'] }}
          </a>
          <a
            class="nav-link nav-margin manual-verification-href"
            href="software-verification-report-manual.html"
          >
            {{ site.data[page.lang]['navigation']['manual_verification'] }}
          </a>
          <a
            class="nav-link nav-margin integrations-href"
            href="integrations.html"
          >
            {{ site.data[page.lang]['footer']['integrations'] }}
          </a>
          <a
            class="nav-link nav-margin escrow-agreement-href"
            href="escrow-agreement.html"
          >
            {{ site.data[page.lang]['navigation']['escrow_agreements'] }}
          </a>
          <a
            class="nav-link nav-margin video-guides-href"
            href="video-guides.html"
            >{{ site.data[page.lang]['video_guides']['video_guides'] }}
          </a>
          <a class="nav-link nav-margin resources-href" href="resources.html">
            {{ site.data[page.lang]['navigation']['guides_case'] }}
          </a>
          <a
            class="nav-link nav-margin how-it-works-href"
            href="how-it-works.html"
          >
            {{ site.data[page.lang]['footer']['how_it_works'] }}
          </a>
          <a class="nav-link nav-margin" href="technical-assessment.html">
            {{ site.data[page.lang]['navigation']['technical_assessment'] }}
          </a>
          <a class="nav-link nav-margin" href="risk-assessment.html">
            {{ site.data[page.lang]['navigation']['risk_assessment'] }}
          </a>
          <a class="nav-link nav-margin" href="https://blog.codekeeper.co">
            {{ site.data[page.lang]['navigation']['blog'] }}
          </a>
          <a class="nav-link nav-margin about-us-href" href="about-us.html">
            {{ site.data[page.lang]['navigation']['our_story'] }}
          </a>
          <a class="nav-link nav-margin contact-href" href="contact.html">
            {{ site.data[page.lang]['footer']['contact'] }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
