<!DOCTYPE html>
<nav class="navbar fixed-top navbar-fixed-top navbar-expand-lg navbar-light p-0 bg-white d-flex flex-column">
  <div class="container-fluid p-3 nav-box-shadow">
    <a class="navbar-brand d-flex align-items-center mr-0" href="index.html"><img class="header__logo" src="/images/logos/Logo-codekeeper.svg"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link nav-margin features-href" href="features.html">{{ site.data[page.lang]['navigation']['features'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-margin pricing-href" href="pricing.html">{{ site.data[page.lang]['navigation']['pricing'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-margin escrow-agreement-href" href="escrow-agreement.html">{{ site.data[page.lang]['navigation']['escrow_agreements'] }}</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link nav-margin integrations-href" href="integrations.html">{{ site.data[page.lang]['navigation']['integrations'] }}</a>
        </li> -->
        <li class="nav-item show-mobile">
          <a class="nav-link nav-margin saas-escrow-href" href="saas-escrow.html">{{ site.data[page.lang]['navigation']['saas_escrow'] }}</a>
        </li>
        <li class="nav-item show-mobile">
          <a class="nav-link nav-margin verification-href" href="verification.html">{{ site.data[page.lang]['navigation']['verification'] }}</a>
        </li>
        <li class="nav-item show-mobile">
          <a class="nav-link nav-margin resources-href" href="resources.html">{{ site.data[page.lang]['navigation']['all_resources'] }}</a>
        </li>
        <li class="nav-item show-mobile">
          <a class="nav-link nav-margin" href="https://blog.codekeeper.co">{{ site.data[page.lang]['navigation']['blog'] }}</a>
        </li>
        <!-- <div class="dropdown show-desktop">
          <button class="btn bg-white dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ site.data[page.lang]['navigation']['add_ons'] }} <img class="ml-1" src="/images/integrations/icon-down.svg"/>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item py-2 saas-escrow-href" href="saas-escrow.html">{{ site.data[page.lang]['navigation']['saas_escrow'] }}</a>
            <a class="dropdown-item py-2 verification-href" href="verification.html">{{ site.data[page.lang]['navigation']['verification'] }}</a>
          </div>
        </div> -->
        <div class="dropdown show-desktop">
          <button class="btn bg-white dropdown-toggle nav-link" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ site.data[page.lang]['navigation']['resources'] }} <img class="ml-1" src="/images/integrations/icon-down.svg"/>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item py-2 resources-href" href="resources.html">{{ site.data[page.lang]['navigation']['all_resources'] }}</a>
            <a class="dropdown-item py-2" href="https://blog.codekeeper.co">{{ site.data[page.lang]['navigation']['blog'] }}</a>
          </div>
        </div> 
        
        <li class="nav-item">
          <a class="nav-link nav-margin about-us-href" href="about-us.html">{{ site.data[page.lang]['navigation']['about_us'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-margin contact-href" href="contact.html">{{ site.data[page.lang]['navigation']['contact'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-margin space-no-wrap" href="https://app.codekeeper.co/">{{ site.data[page.lang]['navigation']['login'] }}</a>
        </li>
        <a class="button btn-secondary-large nav-margin book-a-demo-href" href="book-a-demo.html">
          {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
        </a>
      </ul>
    </div>
  </div>
</nav>
