<!DOCTYPE html>
<nav class="navbar fixed-top navbar-fixed-top navbar-expand-lg navbar-light py-3 bg-white">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="index.html"><img class="header__logo" src="/images/codekeeper-logo.svg"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link m-1 features-href" href="features.html">{{ site.data[page.lang]['navigation']['features'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 how-it-works-href" href="how-does-software-escrow-work.html">{{ site.data[page.lang]['navigation']['how_it_works'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 data-escrow-href" href="data-escrow-solutions.html">{{ site.data[page.lang]['navigation']['data_escrow'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 saas-escrow-href" href="saas-escrow-services.html">{{ site.data[page.lang]['navigation']['saas_escrow'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 security-href" href="source-code-escrow-security.html">{{ site.data[page.lang]['navigation']['security'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link m-1 pricing-href" href="how-much-does-software-escrow-cost.html">{{ site.data[page.lang]['navigation']['pricing'] }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>