<!DOCTYPE html>
<div class="features">
  <div class="container py-5">
    <div class="survey__box">
      <div class="row">
        <div class="col-md-8 col-sm-12 mt-5">
          <p class="survey__title mt-3 mx-auto px-2">{{ site.data[page.lang]['includes']['nps_survey']['net_promoter_score'] }}<sup>SM</sup>: <br>{{ site.data[page.lang]['includes']['nps_survey']['a_beginners_guide'] }} </p>
          <p class="survey__subtitle m-2 mx-auto px-2">{{ site.data[page.lang]['includes']['nps_survey']['download_our_guide'] }}</p>
          <a class="button btn-primary-lg mx-auto mt-3 mb-5" href="nps-beginners-guide.html">
            {{ site.data[page.lang]['includes']['nps_survey']['download_free_guide'] }}
          </a>
        </div>
        <div class="col-md-4 col-sm-12 survey__box-right">
          <img class="survey__image" alt="Image: Survey" src="images/Feedback-types/beginner-guide-to-nps.svg"/>
        </div>
      </div>
    </div>
  </div>
</div>