<!DOCTYPE html>
<div class="container my-5">
  <div class="row pt-5 column-reverse-mobile2">
    <div class="col-12 col-lg-6 mt-2">
      <img src="/images//homepage/service-levels.svg" class="my-4 image-style" />
    </div>
    <div class="col-12 col-lg-6 mt-5">
      <p class="index-experienced__title mt-5">{{ site.data[page.lang]['homepage']['get_our_full'] }}</p>
      <p class="index-experienced__subtitle mt-4">{{ site.data[page.lang]['homepage']['we_believe_in'] }}</p>
      <a class="mt-4 mb-5" data-toggle="modal" data-target="#exampleModal2">
        <button class="btn-initial btn-small">{{ site.data[page.lang]['homepage']['download'] }}</button>
      </a>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content section__modal mx-auto">
        <div class="modal-body p-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="m-0">
            <div class="section__modal-image-content p-0 pt-5">
              <!-- <p class="section__modal-title mt-3">{{ site.data[page.lang]['download_guide']['download_this_ebook'] }}</p> -->
            </div>
            <div class="section__modal-form p-0">
              <img class="section__modal-image" src="/images/homepage/service-levels.svg"/>
              <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                region: "na1",
                portalId: "5626357",
                formId: "c80300ad-e74c-445e-b128-0b911739f514"
              });
              </script>
              <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['download_guide']['available_only'] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>