<!DOCTYPE html>
<div class="container my-5">
  <div class="row pt-5 column-reverse-mobile2">
    <div class="col-12 col-lg-6 mt-2">
      <img src="/images//homepage/pricing-image.svg" class="my-4 image-style" />
    </div>
    <div class="col-12 col-lg-6 mt-5">
      <p class="index-experienced__title">{{ site.data[page.lang]['homepage']['get_our_full'] }}</p>
      <p class="index-experienced__subtitle mt-4">{{ site.data[page.lang]['homepage']['we_believe_in'] }}</p>
      <a href="translators.html" class="mt-4 mb-5">
        <button class="btn-initial btn-small">{{ site.data[page.lang]['homepage']['download'] }}</button>
      </a>
    </div>
  </div>
</div>