<!DOCTYPE html>
<div class="your-protection__bg mb-200">
  <img class="your-protection__shape-left" src="/images/software-escrow/protection-left.webp" alt="Left Side Protection Illustration" loading="lazy"/>
  <img class="your-protection__shape-right" src="/images/software-escrow/protection-right.webp" alt="Right Side Protection Illustratione" loading="lazy"/>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <p class="header__info text-secondary-light"><img class="mr-2 mb-1" src="/images/software-escrow/icons/ready-for-continuity.svg" alt="Ready for Continuity Icon" loading="lazy"/>{{ site.data[page.lang]['software_escrow']['ready_for_continuity'] }}</p>
        <p class="your-protection__title my-4">{{ site.data[page.lang]['software_escrow']['take_your_protection'] }}</p>
        <p class="your-protection__subtitle">{{ site.data[page.lang]['software_escrow']['includes_all'] }}:</p>
        <div class="d-flex flex-wrap">
          <p class="your-protection__subtitle fw-bold mr-3"><img class="mr-2 mb-1" src="/images/software-escrow/icons/protect-hosting.svg" alt="Hosting Protection Icon" loading="lazy"/>{{ site.data[page.lang]['software_escrow']['protected_hosting'] }}</p>
          <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/immediate.svg" alt="Immediate Recovery Icon" loading="lazy"/>{{ site.data[page.lang]['software_escrow']['immediate_recovery'] }}</p>
        </div>
        <div class="d-flex justify-content-start align-items-center solutions flex-wrap">
          <p class="select-level__price mr-4">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span class="saas-escrow-monthly">{{ site.data.pricing.prices.saas_escrow_monthly.USD }}</span>/{{ site.data[page.lang]['solutions']['month'] }}</p>
          <a class="button btn-cerulean3 saas-escrow-href" href="saas-escrow.html">{{ site.data[page.lang]['software_escrow']['more_about_saas'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-5 col-sm-12 content-center">
        <img class="your-protection__image mt-5" src="/images/software-escrow/protection-image.webp" alt="Protection Illustration Background" loading="lazy"/>
      </div>
    </div>
  </div>
</div>