<!DOCTYPE html>
<div class="your-protection__bg2 mb-200 mt-3">
  <img class="your-protection__shape-left" src="/images/software-escrow/protection-left2.webp" alt="Left Background Illustratione" loading="lazy"/>
  <img class="your-protection__shape-right" src="/images/software-escrow/protection-right2.webp" alt="Right Background Illustration" loading="lazy"/>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <p class="header__info"><img class="mr-2 mb-1" src="/images/software-escrow/icons/recovery-icon.svg" alt="Recovery Icon" loading="lazy"/>{{ site.data[page.lang]['saas_escrow']['ready_for_recovery'] }}</p>
        <p class="your-protection__title my-4">{{ site.data[page.lang]['source_code_escrow']['software_escrow_securely'] }}</p>
        <div class="py-3">
          <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/protect-critical.svg" alt="Critical Data Protection Icon" loading="lazy"/>{{ site.data[page.lang]['saas_escrow']['protect_critical'] }}</p>
          <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/escrow-management.svg" alt="Escrow Management Icon" loading="lazy"/>{{ site.data[page.lang]['saas_escrow']['easy_escrow'] }}</p>
          <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/quick-recovery.svg" alt="Quick Data Recovery Icon" loading="lazy"/>{{ site.data[page.lang]['saas_escrow']['quick_recovery'] }}</p>
        </div>
        <div class="d-flex justify-content-start align-items-center solutions flex-wrap">
          <p class="select-level__price mr-4">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span class="software-escrow-single-monthly">{{ site.data.pricing.prices.software_escrow_single_monthly.USD }}</span>/{{ site.data[page.lang]['solutions']['month'] }}</p>
          <a class="button btn-cerulean3 software-escrow-href" href="software-escrow.html">{{ site.data[page.lang]['saas_escrow']['more_about'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="col-md-5 col-sm-12 content-center">
        <img class="your-protection__image mt-5" src="/images/software-escrow/protect-image.webp" alt="Protection Background Illustratione" loading="lazy"/>
      </div>
    </div>
  </div>
</div>