<div class="recovery-menu">
  <div class="header-wrapper">
    <a class="card-item header-card disaster-recovery-planner-href" href="disaster-recovery-planner.html">
      <img
        class="mr-3"
        src="/images/navigation/disaster-planner-icon.svg"
        alt="Disaster Planner Icon"
      />
      <p class="card-paragraph">{{ site.data[page.lang]['navigation_include']['disaster_recovery_planner'] }}</p>
      <span class="text-bondi-blue d-flex align-items-center ml-3">
        {{ site.data[page.lang]['navigation_include']['free'] }}
        <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
      </span>
    </a>
  </div>
  <div class="content-wrapper">
    <a class="card-title solutions-href ml-4" href="solutions.html">{{ site.data[page.lang]['navigation_include']['disaster_recovery_solutions_overview'] }}<i class="fa fa-xs fa-chevron-right ml-2" aria-hidden="true"></i></a>
    <div class="card-wrapper">
      <!--  TODO Update hrefs and translations-->
      <a class="card-item d-flex software-backup-href" href="software-backup.html">
        <div class="d-flex flex-column w-90">
          <div class="d-flex flex-row align-items-center">
            <img
              class="mr-3 icon-nav"
              src="/images/navigation/software-backup-icon.svg"
              alt="Disaster Planner Icon"
            />
            <p class="card-paragraph">{{ site.data[page.lang]['navigation_include']['software_backup'] }}</p>
          </div>
          <div class="card-info">
            {{ site.data[page.lang]['navigation_include']['securely_store_the_source'] }}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-end w-10">
          <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
        </div>
      </a>
      <!--  TODO Update hrefs and translations-->
      <a class="card-item d-flex software-escrow-href" href="software-escrow.html">
        <div class="d-flex flex-column w-90">
          <div class="d-flex flex-row align-items-center">
            <img
              class="mr-3 icon-nav"
              src="/images/software-escrow/icons/software-escrow-icon.svg"
              alt="Disaster Planner Icon"
            />
            <p class="card-paragraph">{{ site.data[page.lang]['navigation_include']['software_escrow'] }}</p>
          </div>
          <div class="card-info">
            {{ site.data[page.lang]['navigation_include']['securely_store_your_software'] }}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-end w-10">
          <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
        </div>
      </a>
      <!--  TODO Update hrefs and translations-->
      <a class="card-item d-flex saas-escrow-href" href="saas-escrow.html">
        <div class="d-flex flex-column w-90">
          <div class="d-flex flex-row align-items-center">
            <img
              class="mr-3 icon-nav"
              src="/images/navigation/saas-escrow-icon.svg"
              alt="Disaster Planner Icon"
            />
            <p class="card-paragraph">{{ site.data[page.lang]['navigation_include']['saas_escrow'] }}</p>
          </div>
          <div class="card-info">
            {{ site.data[page.lang]['navigation_include']['next_level_protection'] }}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-end w-10">
          <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
        </div>
      </a>
      <!--  TODO Update hrefs and translations-->
      <a class="card-item d-flex software-custodian-hred" href="software-custodian.html">
        <div class="d-flex flex-column w-90">
          <div class="d-flex flex-row align-items-center">
            <img
              class="mr-3 icon-nav"
              src="/images/navigation/software-custodian-icon.svg"
              alt="Disaster Planner Icon"
            />
            <p class="card-paragraph">{{ site.data[page.lang]['navigation_include']['software_custodian'] }}</p>
          </div>
          <div class="card-info">
            {{ site.data[page.lang]['navigation_include']['full_life_cycle'] }}
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-end w-10">
          <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
        </div>
      </a>
    </div>
  </div>
  <div class="buttons-wrapper">
    <a class="btn btn-white btn-new-nav pricing-href" href="pricing.html">
      {{ site.data[page.lang]['navigation_include']['compare_solutions_pricing'] }}
      <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
    </a>
    <a class="btn btn-white btn-new-nav verification-href" href="verification.html">
      {{ site.data[page.lang]['navigation_include']['verification_solutions'] }}
      <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
    </a>
  </div>
</div>
