<div class="resources-menu">
  <a class="resource-card integrations-href" href="integrations.html">
    <div class="text-and-icon d-flex align-items-center">
      <img
        class="mr-3"
        src="/images/navigation/integrations-icon.svg"
        alt="Disaster Planner Icon"
      />
      <div class="resources-text">{{ site.data[page.lang]['footer']['integrations'] }}</div>
    </div>
    <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
  </a>
  <a class="resource-card video-guides-href" href="video-guides.html">
    <div class="text-and-icon d-flex align-items-center">
      <img
        class="mr-3"
        src="/images/navigation/video-guide-icon.svg"
        alt="Disaster Planner Icon"
      />
      <div class="resources-text">{{ site.data[page.lang]['video_guides']['video_guides'] }}</div>
    </div>
    <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
  </a>
  <a class="resource-card how-it-works-href" href="how-it-works.html">
    <div class="text-and-icon d-flex align-items-center">
      <img
        class="mr-3"
        src="/images/navigation/how-it-works-icon.svg"
        alt="Disaster Planner Icon"
      />
      <div class="resources-text">{{ site.data[page.lang]['footer']['how_it_works'] }}</div>
    </div>
    <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
  </a>
  <a class="resource-card" href="risk-assessment.html">
    <div class="text-and-icon d-flex align-items-center">
      <img
        class="mr-3"
        src="/images/navigation/risk-assess-icon.svg"
        alt="Disaster Planner Icon"
      />
      <div class="resources-text">{{ site.data[page.lang]['navigation']['risk_assessment'] }}</div>
    </div>
    <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
  </a>
  <a class="resource-card escrow-agreement-href" href="escrow-agreement.html">
    <div class="text-and-icon d-flex align-items-center">
      <img
        class="mr-3"
        src="/images/navigation/escrow-agreements-icon.svg"
        alt="Disaster Planner Icon"
      />
      <div class="resources-text">{{ site.data[page.lang]['navigation']['escrow_agreements'] }}</div>
    </div>
    <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
  </a>
  <a class="resource-card resources-href" href="resources.html">
    <div class="text-and-icon d-flex align-items-center">
      <img
        class="mr-3"
        src="/images/navigation/guides-icon.svg"
        alt="Disaster Planner Icon"
      />
      <div class="resources-text">{{ site.data[page.lang]['navigation']['guides_case'] }}</div>
    </div>
    <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
  </a>
  <a class="resource-card" href="technical-assessment.html">
    <div class="text-and-icon d-flex align-items-center">
      <img
        class="mr-3"
        src="/images/navigation/tech-assess-icon.svg"
        alt="Disaster Planner Icon"
      />
      <div class="resources-text">{{ site.data[page.lang]['navigation']['technical_assessment'] }}</div>
    </div>
    <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
  </a>
  <a class="resource-card" href="https://blog.codekeeper.co">
    <div class="text-and-icon d-flex align-items-center">
      <img
        class="mr-3"
        src="/images/navigation/blog-icon.svg"
        alt="Disaster Planner Icon"
      />
      <div class="resources-text">{{ site.data[page.lang]['navigation']['blog'] }}</div>
    </div>
    <i class="fa fa-chevron-right text-white ml-2 text-bondi-blue"></i>
  </a>
</div>
