<!DOCTYPE html>
<div class="bg-light-gray py-5">
  <div class="container">
    <div class="guide__bg">
      <div class="guide__content">
        <div>
          <h2 class="guide__title mt-4">{{ site.data[page.lang]['includes']['sample_escrow']['sample_software'] }}</h2>
          <p class="guide__subtitle mt-3">{{ site.data[page.lang]['includes']['sample_escrow']['discover_more'] }}</p>
          <a class="button btn-white-xl mt-4" href="sample-agreement.html">
            {{ site.data[page.lang]['includes']['sample_escrow']['download_free_guide'] }}
          </a>
        </div>
        <img class="guide__image2" src="/images/resources/sample-agreement.svg"/>
      </div>
    </div>
  </div>
</div>