<!DOCTYPE html>
<div class="resources">
  <div class="container-fluid px-0">
    <div class="guide__bg-security">
      <div class="container">
        <div class="guide__content2 d-flex align-items-center justify-content-between">
          <img class="guide__image2 my-4" src="/images/resources-page/guide-sample.webp"/>
          <div>
            <p class="verification__add-on text-uppercase">{{ site.data[page.lang]['resources']['ebook'] }} </p>
            <h2 class="guide__title2">{{ site.data[page.lang]['includes']['sample_escrow']['sample_software'] }}</h2>
            <p class="guide__subtitle2 mt-3">{{ site.data[page.lang]['includes']['sample_escrow']['discover_more'] }}</p>
            <a class="button btn-cerulean mt-4" data-toggle="modal" data-target="#exampleModal4">
              {{ site.data[page.lang]['includes']['sample_escrow']['download_free_guide'] }}
            </a>
          </div>
          
        </div>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content section__modal mx-auto">
            <div class="modal-body p-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="m-0">
                <div class="section__modal-image-content p-0 pt-5">
                  <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                </div>
                <div class="section__modal-form p-0">
                  <img class="section__modal-image" src="/images/resources-page/guide-sample.webp"/>
                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                  <script>
                    hbspt.forms.create({
                    portalId: "5365877",
                    formId: "bce2ad68-43f6-4f71-842a-aa44edaf6489"
                  });
                  </script>
                  <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                </div>
                <!-- <div class="section__modal-form p-0 spanish-guide">
                  <img class="section__modal-image" src="/images/resources-page/guide-sample.webp"/>
                  
                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                  <script>
                    hbspt.forms.create({
                    region: "na1",
                    portalId: "5365877",
                    formId: "7ed62b5f-41d8-4968-8bfb-b3e88334cc7e"
                  });
                  </script>
                  <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                </div> -->
                <!-- <div class="section__modal-form p-0 german-guide">
                  <img class="section__modal-image" src="/images/resources-page/guide-sample.webp"/>

                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                  <script>
                    hbspt.forms.create({
                    region: "na1",
                    portalId: "5365877",
                    formId: "39f6f598-5b94-49dc-9589-944cf52d5ddb"
                  });
                  </script>
                  <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                </div> -->
                <!-- <div class="section__modal-form p-0 dutch-guide">
                  <img class="section__modal-image" src="/images/resources-page/guide-sample.webp"/>

                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                  <script>
                    hbspt.forms.create({
                    region: "na1",
                    portalId: "5365877",
                    formId: "5e1f4742-22b5-4e75-9f72-419e20ff3b2d"
                  });
                  </script>
                  <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>