<!DOCTYPE html>
<div class="bg-light-gray section-medium">
  <div class="security__container mx-auto">
    <div class="section-divider mt-4 mb-3 mx-auto"></div>
    <h2 class="security__title mx-auto mb-5">{{ site.data[page.lang]['includes']['security']['security'] }}</h2>
    <div class="row">
      <div class="col-md-4 col-sm-12 mt-4">
        <img class="security__icon" src="/images/icons/lock-access.svg"/>
        <p class="security__title2 mt-5">{{ site.data[page.lang]['includes']['security']['data_security'] }}</p>
        <div class="section-divider my-3"></div>
        <p class="security__text">{{ site.data[page.lang]['includes']['security']['our_data_centers'] }} </p>
      </div>
      <div class="col-md-4 col-sm-12 mt-4">
        <img class="security__icon" src="/images/icons/processor.svg"/>
        <p class="security__title2 mt-5">{{ site.data[page.lang]['includes']['security']['end_to_end'] }}</p>
        <div class="section-divider my-3"></div>
        <p class="security__text">{{ site.data[page.lang]['includes']['security']['data_is_secured'] }} </p>
      </div>
      <div class="col-md-4 col-sm-12 mt-4">
        <img class="security__icon" src="/images/icons/folder-upload.svg"/>
        <p class="security__title2 mt-5">{{ site.data[page.lang]['includes']['security']['secure_upload'] }}</p>
        <div class="section-divider my-3"></div>
        <p class="security__text">{{ site.data[page.lang]['includes']['security']['if_you_prefer'] }}</p>
      </div>
    </div>
    <a class="button btn-secondary-lg mx-auto mb-4" href="security.html">
      {{ site.data[page.lang]['includes']['security']['learn_more'] }}
    </a>
  </div>
</div>