<!DOCTYPE html>
<div class="pt-5 px-3">
  <div class="people__section-container mx-auto position-relative">
    <div class="container">
      <h2 class="people__title">{{ site.data[page.lang]['includes']['security']['security'] }}</h2>
      <div class="row">
        <div class="col-md-4 col-sm-12 content-center">
          <div class="people__section-col2">
            <img class="people__section-image mt-3" src="/images/homepage/data-security.svg" alt="Data Security Image"/>
            <p class="people__section-title">{{ site.data[page.lang]['includes']['security']['data_security'] }}</p>
            <p class="people__section-subtitle">{{ site.data[page.lang]['includes']['security']['our_data_centers'] }}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 content-center">
          <div class="people__section-col2">
            <img class="people__section-image mt-3" src="/images/homepage/encryption.svg" alt="Encryption Image"/>
            <p class="people__section-title">{{ site.data[page.lang]['includes']['security']['end_to_end'] }}</p>
            <p class="people__section-subtitle">{{ site.data[page.lang]['includes']['security']['data_is_secured'] }}</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 content-center">
          <div class="people__section-col2">
            <img class="people__section-image mt-3" src="/images/homepage/secure-upload.svg" alt="Secure Upload Image"/>
            <p class="people__section-title">{{ site.data[page.lang]['includes']['security']['secure_upload'] }}</p>
            <p class="people__section-subtitle">{{ site.data[page.lang]['includes']['security']['if_you_prefer'] }}</p>
          </div>
        </div>
      </div>
      <a class="button btn-cerulean2 mx-auto my-5 security-href" href="security.html">
        {{ site.data[page.lang]['includes']['security']['learn_more'] }}
      </a>
    </div>
  </div>
</div>