<!DOCTYPE html>
<div class="bg-light-gray section-medium">
  <div class="security__container mx-auto">
    <div class="section-divider mt-3 mb-3 mx-auto"></div>
    <h2 class="security__title mx-auto mb-5">Security</h2>
    <div class="row">
      <div class="col-md-4 col-sm-12 mt-4">
        <img class="security__icon" src="images/icons/lock-access.svg"/>
        <p class="security__title2 mt-5">ISO27001 DATA SECURITY</p>
        <div class="section-divider my-3"></div>
        <p class="security__text">Our data centers adhere to the highest security standards and security policies. Security is always our first priority. </p>
      </div>
      <div class="col-md-4 col-sm-12 mt-4">
        <img class="security__icon" src="images/icons/processor.svg"/>
        <p class="security__title2 mt-5">END-TO-END ENCRYPTION</p>
        <div class="section-divider my-3"></div>
        <p class="security__text">Data is secured at all times, both in transit and at rest with AES256/512 encryption.   </p>
      </div>
      <div class="col-md-4 col-sm-12 mt-4">
        <img class="security__icon" src="images/icons/folder-upload.svg"/>
        <p class="security__title2 mt-5">SECURE UPLOAD FOLDER</p>
        <div class="section-divider my-3"></div>
        <p class="security__text">If you prefer manual upload, our upload folder system also provides you with a secure way to deposit your source code.</p>
      </div>
    </div>
    <a class="button btn-secondary-lg mx-auto" href="security.html">
      LEARN MORE
    </a>
  </div>
</div>