<!DOCTYPE html>
<div class="tech-slideshow">
  <div class="slideshow-brands">
    <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
      <img class="protect__logos" src="/images/logos/axxiome.svg" alt="Axxiome Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/intuit.svg" alt="Intuit Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/Bayer.svg" alt="Bayer Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/slate-digital.svg" alt="Slate Digital Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/colorado.svg" alt="Colorado Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/zynga.svg" alt="Zynga Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/gorenje.svg" alt="Gorenje Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/axxiome.svg" alt="Axxiome Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/intuit.svg" alt="Intuit Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/Bayer.svg" alt="Bayer Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/slate-digital.svg" alt="Slate Digital Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/colorado.svg" alt="Colorado Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/zynga.svg" alt="Zynga Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/gorenje.svg" alt="Gorenje Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/axxiome.svg" alt="Axxiome Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/intuit.svg" alt="Intuit Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/Bayer.svg" alt="Bayer Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/slate-digital.svg" alt="Slate Digital Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/colorado.svg" alt="Colorado Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/zynga.svg" alt="Zynga Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/gorenje.svg" alt="Gorenje Logo" loading="lazy"/>
    </div>
    <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
      <img class="protect__logos" src="/images/logos/Pepsico_large.svg" alt="Pepsico Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/general-electric.svg" alt="General Electric Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/mercedes-benz.svg" alt="Mercedes Benz Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/nestle.svg" alt="Nestle Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/Airbus.svg" alt="Airbus Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/the-economist.svg" alt="The Economist Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/Pepsico_large.svg" alt="Pepsico Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/general-electric.svg" alt="General Electric Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/mercedes-benz.svg" alt="Mercedes Benz Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/nestle.svg" alt="Nestle Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/Airbus.svg" alt="Airbus Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/the-economist.svg" alt="The Economist Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/Pepsico_large.svg" alt="Pepsico Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/general-electric.svg" alt="General Electric Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/mercedes-benz.svg" alt="Mercedes Benz Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/nestle.svg" alt="Nestle Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/Airbus.svg" alt="Airbus Logo" loading="lazy"/>
      <img class="protect__logos" src="/images/logos/the-economist.svg" alt="The Economist Logo" loading="lazy"/>
    </div>
  </div>
</div>