<!DOCTYPE html>
<div class="tech-slideshow">
  <div class="slideshow-brands">
    <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
      <img class="protect__logos" src="/images/logos/axxiome.svg" alt="Axxiome Logo" />
      <img class="protect__logos" src="/images/logos/intuit.svg" alt="Intuit Logo" />
      <img class="protect__logos" src="/images/logos/Bayer.svg" alt="Bayer Logo" />
      <img class="protect__logos" src="/images/logos/slate-digital.svg" alt="Slate Digital Logo" />
      <img class="protect__logos" src="/images/logos/colorado.svg" alt="Colorado Logo" />
      <img class="protect__logos" src="/images/logos/zynga.svg" alt="Zynga Logo"/>
      <img class="protect__logos" src="/images/logos/gorenje.svg" alt="Gorenje Logo"/>
      <img class="protect__logos" src="/images/logos/axxiome.svg" alt="Axxiome Logo"/>
      <img class="protect__logos" src="/images/logos/intuit.svg" alt="Intuit Logo"/>
      <img class="protect__logos" src="/images/logos/Bayer.svg" alt="Bayer Logo"/>
      <img class="protect__logos" src="/images/logos/slate-digital.svg" alt="Slate Digital Logo"/>
      <img class="protect__logos" src="/images/logos/colorado.svg" alt="Colorado Logo"/>
      <img class="protect__logos" src="/images/logos/zynga.svg" alt="Zynga Logo"/>
      <img class="protect__logos" src="/images/logos/gorenje.svg" alt="Gorenje Logo"/>
      <img class="protect__logos" src="/images/logos/axxiome.svg" alt="Axxiome Logo"/>
      <img class="protect__logos" src="/images/logos/intuit.svg" alt="Intuit Logo"/>
      <img class="protect__logos" src="/images/logos/Bayer.svg" alt="Bayer Logo"/>
      <img class="protect__logos" src="/images/logos/slate-digital.svg" alt="Slate Digital Logo"/>
      <img class="protect__logos" src="/images/logos/colorado.svg" alt="Colorado Logo"/>
      <img class="protect__logos" src="/images/logos/zynga.svg" alt="Zynga Logo"/>
      <img class="protect__logos" src="/images/logos/gorenje.svg" alt="Gorenje Logo"/>
    </div>
    <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
      <img class="protect__logos" src="/images/logos/Pepsico_large.svg" alt="Pepsico Logo"/>
      <img class="protect__logos" src="/images/logos/general-electric.svg" alt="General Electric Logo"/>
      <img class="protect__logos" src="/images/logos/mercedes-benz.svg" alt="Mercedes Benz Logo"/>
      <img class="protect__logos" src="/images/logos/nestle.svg" alt="Nestle Logo"/>
      <img class="protect__logos" src="/images/logos/Airbus.svg" alt="Airbus Logo"/>
      <img class="protect__logos" src="/images/logos/the-economist.svg" alt="The Economist Logo"/>
      <img class="protect__logos" src="/images/logos/Pepsico_large.svg" alt="Pepsico Logo"/>
      <img class="protect__logos" src="/images/logos/general-electric.svg" alt="General Electric Logo"/>
      <img class="protect__logos" src="/images/logos/mercedes-benz.svg" alt="Mercedes Benz Logo"/>
      <img class="protect__logos" src="/images/logos/nestle.svg" alt="Nestle Logo"/>
      <img class="protect__logos" src="/images/logos/Airbus.svg" alt="Airbus Logo"/>
      <img class="protect__logos" src="/images/logos/the-economist.svg" alt="The Economist Logo"/>
      <img class="protect__logos" src="/images/logos/Pepsico_large.svg" alt="Pepsico Logo"/>
      <img class="protect__logos" src="/images/logos/general-electric.svg" alt="General Electric Logo"/>
      <img class="protect__logos" src="/images/logos/mercedes-benz.svg" alt="Mercedes Benz Logo"/>
      <img class="protect__logos" src="/images/logos/nestle.svg" alt="Nestle Logo"/>
      <img class="protect__logos" src="/images/logos/Airbus.svg" alt="Airbus Logo"/>
      <img class="protect__logos" src="/images/logos/the-economist.svg" alt="The Economist Logo"/>
    </div>
  </div>
</div>