<!DOCTYPE html>
<div class="tech-slideshow">
  <div class="slideshow-brands">
    <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/ebay.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/amazon.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/gumroad.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/hubspot.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/w.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/logo-o.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-1.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/salesforce.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/magento.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/shopify.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-31.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zendesk.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zapier.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-3.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/doors.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-o.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-x.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/kajabi.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/woo.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/mail.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-p.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/sap.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/office-2.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-camera.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/ebay.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/amazon.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/gumroad.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/hubspot.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/w.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/logo-o.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-1.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/salesforce.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/magento.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/shopify.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-31.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zendesk.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zapier.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-3.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/doors.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-o.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-x.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/kajabi.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/woo.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/mail.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-p.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/sap.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/office-2.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-camera.svg" />
    </div>
    <div class="second-slideshow">
      <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-x.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/kajabi.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/woo.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/mail.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-p.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/sap.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/office-2.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-camera.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/ebay.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/amazon.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/gumroad.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/hubspot.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/w.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/logo-o.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-1.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/salesforce.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/magento.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/shopify.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-31.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zendesk.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zapier.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-3.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/doors.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-o.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-x.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/kajabi.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/woo.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/mail.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-p.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/sap.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/office-2.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-camera.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/ebay.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/amazon.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/gumroad.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/hubspot.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/w.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/logo-o.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-1.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/salesforce.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/magento.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/shopify.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-31.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zendesk.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zapier.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-3.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/doors.svg" />
        <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-o.svg" />
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-o.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-x.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/kajabi.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/woo.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/mail.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-p.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/sap.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/office-2.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-camera.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/ebay.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/amazon.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/gumroad.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/hubspot.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/w.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/logo-o.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-1.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/salesforce.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/magento.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/shopify.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-31.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zendesk.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zapier.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-3.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/doors.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-o.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-x.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/kajabi.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/woo.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/mail.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/file-p.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/sap.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/office-2.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-camera.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/ebay.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/amazon.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/gumroad.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/hubspot.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/w.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/logo-o.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-1.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/salesforce.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/magento.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/shopify.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-31.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zendesk.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/zapier.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/google-3.svg" />
      <img class="protect__logos logo-box-shadow" src="/images/product-catalog/logos/doors.svg" />
      
    </div>
  </div>
</div>