<!DOCTYPE html>
<div class="plan__table-container mx-auto">
  <p class="scenario__title text-center mw-100 pb-5">Solution Comparison</p>
  <div class="pricing-box-shadow border-none">
    <table class="table mb-0">
      <thead>
        <tr>
          <th scope="col" class="deposit-assets__title border-none break-spaces fw-light">Feature comparison</th>
          <th scope="col"
          class="plan__table-subtitle border-none text-center break-spaces"><img class="mw-40" src="/images/landing/icons/software-backup-shield.svg" alt="Software Backup Shield Icon" /><br><span>Software Backup</span></th>
          <th scope="col"
          class="plan__table-subtitle border-none text-center break-spaces"><img class="mw-40" src="/images/landing/icons/software-escrow-shield.svg" alt="Software Escrow Shield Icon" /><br><span>Software Escrow</span></th>
          <th scope="col"
          class="plan__table-subtitle border-none text-center break-spaces"><img class="mw-40" src="/images/landing/icons/saas-escrow-shield.svg" alt="SaaS Escrow Shield Icon" /><br><span>SaaS Escrow</span></th>
          <th scope="col"
          class="plan__table-subtitle border-none text-center break-spaces"><img class="mw-40" src="/images/landing/icons/data-custodian-shield.svg" alt="Data Custodian Shield Icon" /><br><span>Data Custodian</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="table-border-right" scope="row">
            <p class="plan__table-text my-1">Securely handle and store IP (source code, data, etc.)</p>
          </th>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
        </tr>

        <tr>
          <th class="table-border-right" scope="row">
            <p class="plan__table-text my-1">Solid escrow agreement</p>
          </th>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
        </tr>
        <tr>
          <th class="table-border-right" scope="row">
            <p class="plan__table-text my-1">Legal process when release is triggered</p>
          </th>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
        </tr>
        <tr>
          <th class="table-border-right" scope="row">
            <p class="plan__table-text my-1">Automated and up-to-date deposits</p>
          </th>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
        </tr>
        <tr>
          <th class="table-border-right" scope="row">
            <p class="plan__table-text my-1">Integrated with developer workflows (no coding required)</p>
          </th>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
        </tr>
        <tr>
          <th class="table-border-right" scope="row">
            <p class="plan__table-text my-1">Ready for Recovery</p>
          </th>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center bg-cool-white"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
          <td class="plan__table-text text-center"><img class="" src="/images/disaster-recovery/icons/circle-check-icon.svg" alt="Circle Check Icon" /></td>
        </tr>
        <tr>
          <th class="table-border-right" scope="row">
            <p class="plan__table-text my-1">Protect Hosting Environment(s)</p>
          </th>
          <td class="plan__table-text text-center bg-cool-white"></td>
          <td class="plan__table-text text-center"></td>
          <td class="plan__table-text text-center bg-cool-white"></td>
          <td class="plan__table-text text-center"></td>
        </tr>
        <tr>
          <th class="table-border-right" scope="row">
            <p class="plan__table-text my-1">Include 3rd Party Sub-Services</p>
          </th>
          <td class="plan__table-text text-center bg-cool-white"></td>
          <td class="plan__table-text text-center"></td>
          <td class="plan__table-text text-center bg-cool-white"></td>
          <td class="plan__table-text text-center"></td>
        </tr>
        <tr>
          <th class="table-border-right" scope="row">
            <p class="plan__table-text my-1">Ready for Continuity</p>
          </th>
          <td class="plan__table-text text-center bg-cool-white"></td>
          <td class="plan__table-text text-center"></td>
          <td class="plan__table-text text-center bg-cool-white"></td>
          <td class="plan__table-text text-center"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="deposit-assets__text font-18 fw-400 mw-100 text-slate-gray my-5 font-italic">Do you have needs that are not listed above? contact our <a class="text-bondi-blue fw-bold text-underline book-a-demo-href" href="book-a-demo.html">Customer Service</a> to get custom solutions.</p>
</div>