<!DOCTYPE html>
<section class="customer-provider overflow-hidden pb-0">
  
  <div class="d-flex align-items-center customer-provider__slide container-box-shadow">
    <div class="customer-provider__nav">
      <h2 class="customer-provider__title2">{{ site.data[page.lang]['product_catalog']['improve_your'] }}</h2>
      <p class="first slide-active d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['human_ai'] }} <img src="/images/product-catalog/arrow-market.svg" alt="" />
      </p>
      <p class="second d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['translation_memory'] }} <img src="/images/product-catalog/arrow-market.svg" alt="" /></p>
      <p class="third d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['glossary'] }} <img src="/images/product-catalog/arrow-market.svg" alt="" /></p>
      <p class="fourth d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['tone_of_voice'] }} <img src="/images/product-catalog/arrow-market.svg" alt="" /></p>
      <p class="fifth d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['mixed_proficiencies'] }} <img src="/images/product-catalog/arrow-market.svg" alt="" /></p>
      <p class="sixth d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['quick_turnaround'] }} <img src="/images/product-catalog/arrow-market.svg" alt="" /></p>
      <p class="seventh d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['quality_check'] }} <img src="/images/product-catalog/arrow-market.svg" alt="" /></p>
    </div>

    <div class="my-slider">
      <div>
        <div class="d-flex customer-provider__nav-content">
          <div class="customer-provider__nav-text">
            <p>{{ site.data[page.lang]['product_catalog']['human_ai'] }}</p>
            <p>{{ site.data[page.lang]['product_catalog']['tolqs_human_powered'] }}</p>
          </div>
          <img class="w-100" src="/images/product-catalog/image-1.webp" alt="Human AI Image" />
        </div>
      </div>

      <div>
        <div class="d-flex customer-provider__nav-content">
          <div class="customer-provider__nav-text">
            <p>{{ site.data[page.lang]['product_catalog']['translation_memory'] }}</p>
            <p>{{ site.data[page.lang]['product_catalog']['the_more_translations'] }}</p>
          </div>
          <img class="w-100" src="/images/product-catalog/image-2.webp" alt="Translation Memory Image" />
        </div>
      </div>

      <div>
        <div class="d-flex customer-provider__nav-content">
          <div class="customer-provider__nav-text">
            <p>{{ site.data[page.lang]['product_catalog']['glossary'] }}</p>
            <p>{{ site.data[page.lang]['product_catalog']['instruct_your'] }}</p>
          </div>
          <img class="w-100" src="/images/product-catalog/image-3.webp" alt="Glossary Image" />
        </div>
      </div>

      <div>
        <div class="d-flex customer-provider__nav-content">
          <div class="customer-provider__nav-text">
            <p>{{ site.data[page.lang]['product_catalog']['tone_of_voice'] }}</p>
            <p>{{ site.data[page.lang]['product_catalog']['let_your_brand'] }}</p>
          </div>
          <img class="w-100" src="/images/product-catalog/image-4.webp" alt="Tone of Voice Image" />
        </div>
      </div>

      <div>
        <div class="d-flex customer-provider__nav-content">
          <div class="customer-provider__nav-text">
            <p>{{ site.data[page.lang]['product_catalog']['mixed_proficiencies'] }}</p>
            <p>{{ site.data[page.lang]['product_catalog']['want_to_save'] }}</p>
          </div>
          <img class="w-100" src="/images/product-catalog/image-5.webp" alt="Mixed Proficiencies Image" />
        </div>
      </div>

      <div>
        <div class="d-flex customer-provider__nav-content">
          <div class="customer-provider__nav-text">
            <p>{{ site.data[page.lang]['product_catalog']['quick_turnaround_times'] }}</p>
            <p>{{ site.data[page.lang]['product_catalog']['tolq_offers_fast'] }}</p>
          </div>
          <img class="w-100" src="/images/product-catalog/image-6.webp" alt="Quick Turnaround Image" />
        </div>
      </div>

      <div>
        <div class="d-flex customer-provider__nav-content">
          <div class="customer-provider__nav-text">
            <p>{{ site.data[page.lang]['product_catalog']['quality_check'] }}</p>
            <p>{{ site.data[page.lang]['product_catalog']['translators_are'] }}</p>
          </div>
          <img class="w-100" src="/images/product-catalog/image-7.webp" alt="Quality Check Image" />
        </div>
      </div>
    </div>
  </div>

  <div class="customer-provider__mobile">
    <div class="row customer-apps__row -reverse">
      <div class="col-lg customer-apps__col">
        <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['human_ai'] }}</h3>
        <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['tolqs_human_powered'] }}</p>
      </div>

      <div class="col-lg customer-apps__col">
        <img class="image-style-mobile" src="/images/product-catalog/image-1.webp" alt="Human AI Image" />
      </div>
    </div>

    <div class="row customer-apps__row -reverse">
      <div class="col-lg customer-apps__col mt-4">
        <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['translation_memory'] }}</h3>
        <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['the_more_translations'] }}</p>
      </div>

      <div class="col-lg customer-apps__col">
        <img class="image-style-mobile" src="/images/product-catalog/image-2.webp" alt="Translation Memory Image" />
      </div>
    </div>

    <div class="row customer-apps__row -reverse">
      <div class="col-lg customer-apps__col mt-4">
        <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['glossary'] }}</h3>
        <p class="customer-apps__col-text darker-grey mb-5">{{ site.data[page.lang]['product_catalog']['instruct_your'] }}</p>
      </div>

      <div class="col-lg customer-apps__col mb-5">
        <img class="image-style-mobile" src="/images/product-catalog/image-3.webp" alt="Glossary Image" />
      </div>
    </div>

    <div class="row customer-apps__row -reverse">
      <div class="col-lg customer-apps__col">
        <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['tone_of_voice'] }}</h3>
        <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['let_your_brand'] }}</p>
      </div>

      <div class="col-lg customer-apps__col mb-5">
        <img class="image-style-mobile" src="/images/product-catalog/image-4.webp" alt="Tone of Voice Image" />
      </div>
    </div>

    <div class="row customer-apps__row -reverse">
      <div class="col-lg customer-apps__col">
        <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['mixed_proficiencies'] }}</h3>
        <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['want_to_save'] }}</p>
      </div>

      <div class="col-lg customer-apps__col">
        <img class="image-style-mobile" src="/images/product-catalog/image-5.webp" alt="Mixed Proficiencies Image" />
      </div>
    </div>

    <div class="row customer-apps__row -reverse">
      <div class="col-lg customer-apps__col mt-4">
        <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['quick_turnaround_times'] }}</h3>
        <p class="customer-apps__col-text darker-grey mb-5">{{ site.data[page.lang]['product_catalog']['tolq_offers_fast'] }}</p>
      </div>

      <div class="col-lg customer-apps__col">
        <img class="image-style-mobile" src="/images/product-catalog/image-6.webp" alt="Quick Turnaround Image" />
      </div>
    </div>

    <div class="row customer-apps__row -reverse">
      <div class="col-lg customer-apps__col mt-5">
        <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['quality_check'] }}</h3>
        <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['translators_are'] }}</p>
      </div>

      <div class="col-lg customer-apps__col">
        <img class="image-style-mobile" src="/images/product-catalog/image-7.webp" alt="Quality Check Image" />
      </div>
    </div>
  </div>
</section>