.btn-blue {
  padding: 0 20px; }
  .btn-blue:hover {
    color: #fff;
    background-color: #365d8a;
    border-color: #365d8a;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.btn-green {
  padding: 0 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#B0E7C6), to(#5DD1B3));
  background: -webkit-linear-gradient(top, #B0E7C6 0%, #5DD1B3 100%);
  background: -o-linear-gradient(top, #B0E7C6 0%, #5DD1B3 100%);
  background: linear-gradient(180deg, #B0E7C6 0%, #5DD1B3 100%);
  -webkit-box-shadow: 0px 2px 24px rgba(83, 169, 230, 0.19);
  box-shadow: 0px 2px 24px rgba(83, 169, 230, 0.19); }
  .btn-green:hover {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#5DD1B3), to(#B0E7C6));
    background: -webkit-linear-gradient(top, #5DD1B3 0%, #B0E7C6 100%);
    background: -o-linear-gradient(top, #5DD1B3 0%, #B0E7C6 100%);
    background: linear-gradient(180deg, #5DD1B3 0%, #B0E7C6 100%);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.btn-white {
  padding: 0 20px;
  background: #ffffff;
  color: #004E82; }
  .btn-white:hover {
    color: #ffffff;
    background: transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 1px solid #ffffff; }

.btn-small {
  padding: 0 20px;
  height: 37px;
  min-width: 129px;
  color: #fff;
  background-color: #365d8a;
  border-color: #365d8a;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px; }
  .btn-small:hover {
    color: #5183BB;
    background-color: transparent;
    border: 1px solid #5183BB;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.btn-outline {
  padding: 0 20px;
  color: #5183BB !important; }
  .btn-outline:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #5183BB !important;
    border: 1px solid #5183BB;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
