<body>
  <div class="registration bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container-fluid sign-up__content">
      <div class="row">
        <div class="col-md-6 col-sm-12 bg-light-gray sign-up__box">
          <img class="sign-up__image" src="/images/registration/404-error.svg"/>
        </div>
        <div class="col-md-6 col-sm-12 bg-white sign-up__box">
          <div class="mt-3">
            <h2 class="sign-up__title">{{ site.data[page.lang]['error']['error'] }}</h2>
            <p class="sign-up__subtitle">{{ site.data[page.lang]['error']['page_not_found'] }}</p>
            <p class="sign-up__subtitle">{{ site.data[page.lang]['error']['please_check'] }}</p>
            <a class="button btn-primary-lg mx-auto my-4 underline-none" href="index.html">
              {{ site.data[page.lang]['error']['home_page'] }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>