<body>
  <div class="registration bg-error-page">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container-fluid sign-up__content">
      <div class="mt-3">
        <img class="sign-up__image mx-auto" src="/images/registration/error-image.svg"/>
        <p class="sign-up__title">{{ site.data[page.lang]['error']['page_not_found'] }}</p>
        <p class="sign-up__subtitle">{{ site.data[page.lang]['error']['please_check'] }}</p>
        <a class="button btn-bondi-blue mx-auto my-4 underline-none" href="index.html">
          {{ site.data[page.lang]['error']['home_page'] }}
        </a>
      </div>
    </div>
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>