<body>
  <div class="guide-customer">
    <div class="bg-white">
      <!-- Navigation -->
      <div class="nav-fixed-mobile">
        <div class="container">
          {% include navigation.html %}
        </div>
      </div>
      <!-- Header -->
      <div class="header__container">
        <h2 class="header__title">{{ site.data[page.lang]['guide_5_star']['5_star_surveys'] }}:<br> {{ site.data[page.lang]['guide_5_star']['a_how_to'] }}</h2>
      </div>
      <div class="header__content container">
        <div class="row pb-5">
          <div class="col-md-8 col-sm-12 mt-2">
            <p class="header__subtitle mt-5">{{ site.data[page.lang]['guide_5_star']['this_practical_guide'] }}</p>
            <p class="header__subtitle mt-5">{{ site.data[page.lang]['guide_5_star']['understand_the_value'] }}
              </p>
          </div>
          <div class="col-md-4 col-sm-12 d-flex justify-content-center align-items-center">
            <img class="image-style mx-auto" alt="Image: Guide 5 Star Survey" src="images/Feedback-types/5-star-survey-how.svg"/>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-5">
          <div class="header__form-box">
            <p class="header__form-title">{{ site.data[page.lang]['guide_5_star']['ready_to_start'] }}</p>
            <div class="header__form">
              <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                portalId: "7622707",
                formId: "6cfafa78-1cc1-4b81-b49c-b6b4ad627780"
              });
              </script>
            </div>
          </div>
        </div>
      </div>
      <!-- First Section -->
      <div class="container section-medium">
        <h2 class="content__title mt-5">{{ site.data[page.lang]['guide_5_star']['discover_more'] }}</h2>
        <p class="content__subtitle mt-4 mx-auto">{{ site.data[page.lang]['guide_5_star']['learn_how_to'] }}</p>
        <div class="feedbacks pt-5">
          <div class="row column-reverse-mobile my-5">
            <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-start align-items-center">
              <img class="resources__image my-4" alt="Image: Getting started" src="images/Feedback-types/getting-started-with-customer.svg"/>
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="resources__text mt-4">{{ site.data[page.lang]['resources']['ebook'] }}</p>
              <h2 class="resources__title">{{ site.data[page.lang]['resources']['getting_started_with'] }}</h2>
              <p class="resources__subtext mt-4">{{ site.data[page.lang]['resources']['this_introductory'] }} </p>            
              <a class="button btn-secondary-outline my-4" href="customer-feedback-intro-guide.html">
                {{ site.data[page.lang]['resources']['get_free_guide'] }}
              </a>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-md-6 col-sm-12">
              <p class="resources__text mt-4">{{ site.data[page.lang]['resources']['ebook'] }}</p>
              <h2 class="resources__title">{{ site.data[page.lang]['resources']['net_promoter_score'] }}<sup>SM</sup>: <br>{{ site.data[page.lang]['resources']['a_beginners_guide'] }}</h2>
              <p class="resources__subtext mt-4">{{ site.data[page.lang]['resources']['download_this_beginners_guide'] }} </p>
              <a class="button btn-secondary-outline my-4" href="nps-beginners-guide.html">
                {{ site.data[page.lang]['resources']['get_free_guide'] }}
              </a>
            </div>
            <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
              <img class="resources__image my-4 ml-auto" alt="Image: Beginner guide to nps" src="images/Feedback-types/beginner-guide-to-nps.svg"/>
            </div>
          </div>
          <div>
            <a class="button btn-secondary mt-5 mx-auto" href="resources.html">
              {{ site.data[page.lang]['guide_5_star']['see_all'] }}
            </a>
          </div>
        </div>
      </div>
      <!-- Second Section -->
      {% include get-answers.html %}
      <!-- Footer -->
      {% include footer.html %}
    </div>
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>

</html>