<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target; var elem = document.head; elem.appendChild(script);
  </script>
  <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx'
        alt='ClickCease' /></a>
  </noscript>
  <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="about__header-bg">
      <div class="container">
        <p class="about__header-title">{{ site.data[page.lang]['about_us']['we_bring_escrow'] }} </p>
        <p class="about__header-subtitle mt-250">{{ site.data[page.lang]['about_us']['our_founding'] }}</p>
        <p class="about__header-text text-italic">{{ site.data[page.lang]['about_us']['it_made_no_sense'] }}</p>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-white section-large">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <img class="image-style mw-420 pb-4" src="/images/about-page/global-presence.webp"
              alt="Illustration of Global Presence" loading="lazy" />
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="about__details-text">{{ site.data[page.lang]['about_us']['global_presence'] }}</p>
            <p class="about__details-subtext">{{ site.data[page.lang]['about_us']['over_the_past'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-alice-blue2 section-medium">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12 d-flex align-items-center">
            <p class="about__details-title">{{ site.data[page.lang]['about_us']['we_are_the'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style mw-420 mt-3" src="/images/about-page/synk-feature.webp"
              alt="Illustration of Automatic Deposit Sync Feature" loading="lazy" />
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="about__milestones-bg overflow-hidden">
      <div class="container d-flex flex-column align-items-center">
        <div class="d-flex flex-wrap justify-content-between w-100 align-items-center">
          <p class="about__milestones-title">{{ site.data[page.lang]['about_us']['milestones_and'] }}</p>
          <div class="d-flex align-items-center">
            <p class="about__milestones-subtitle">{{ site.data[page.lang]['about_us']['in_the_future'] }}</p>
            <p class="about__milestones-title font-30"><i class="fa fa-chevron-right text-white ml-3"></i></p>
          </div>
        </div>

        <div class="row mt-5 w-100">
          <div class="col-lg-5 col-md-12 px-0 milestones-padding">
            <div class="row">
              <div class="col-md-4 col-sm-12 px-0">
                <p class="about__milestones-text">2014</p>
                <div class="d-flex align-items-center">
                  <div class="about__milestones-circle"></div>
                  <div class="about__milestones-line"></div>
                </div>
                <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['founded_by'] }}<br><br>{{
                  site.data[page.lang]['about_us']['launched_codekeeper'] }} V1</p>
              </div>
              <div class="col-md-4 col-sm-12 px-0">
                <p class="about__milestones-text">2018</p>
                <div class="d-flex align-items-center">
                  <div class="about__milestones-circle"></div>
                  <div class="about__milestones-line"></div>
                </div>
                <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['the_first'] }}</p>
              </div>
              <div class="col-md-4 col-sm-12 px-0">
                <p class="about__milestones-text">2019</p>
                <div class="d-flex align-items-center milestones-width">
                  <div class="about__milestones-circle"></div>
                  <div class="about__milestones-line"></div>
                </div>
                <p class="about__milestones-subtext mt-4 milestones-width pr-4">{{ site.data[page.lang]['about_us']['launched_codekeeper'] }}
                  V2</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-12 px-0 milestones-padding">
            <div class="row">
              <div class="col-md-4 col-sm-12 px-0">
                <p class="about__milestones-text">2020</p>
                <div class="d-flex align-items-center">
                  <div class="about__milestones-circle"></div>
                  <div class="about__milestones-line"></div>
                </div>
                <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['launched_saas'] }}</p>
              </div>
              <div class="col-md-4 col-sm-12 px-0">
                <p class="about__milestones-text">2021</p>
                <div class="d-flex align-items-center">
                  <div class="about__milestones-circle"></div>
                  <div class="about__milestones-line"></div>
                </div>
                <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['launched_codekeeper'] }}
                  V3</p>
              </div>
              <div class="col-md-4 col-sm-12 px-0">
                <p class="about__milestones-text">2023</p>
                <div class="d-flex align-items-center">
                  <div class="about__milestones-circle"></div>
                  <div class="about__milestones-line"></div>
                </div>
                <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['launched_codekeeper'] }}
                  V4</p>
                <img class="about__milestones-screen" src="/images/about-page/launch-screen.webp"
                  alt="Codekeeper V4 Launch Screen" loading="lazy" />
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 px-0">
            <div class="d-flex">
              <p class="about__milestones-text">2024</p>
              <p class="about__milestones-subtitle2 position-absolute">{{ site.data[page.lang]['about_us']['operating_as'] }}
              </p>
            </div>
            <div class="d-flex align-items-center">
              <div class="about__milestones-circle2"></div>
              <div class="about__milestones-line2"></div>
            </div>
            <p class="about__milestones-subtext mt-3">{{ site.data[page.lang]['about_us']['additional_solutions'] }}</p>
            <p class="plan__text-tooltip text-dark-cyan mt-3"><img class="mr-2"
                src="/images/software-escrow/icons/disaster-recovery-planner-icon.svg"
                alt="Disaster Recovery Planner Icon" loading="lazy" /><span class="fw-500 text-white font-14 space-no-wrap position-absolute mt-1">Disaster Recovery Planner</span> </p>
            <p class="plan__text-tooltip text-dark-cyan mt-3"><img class="mr-2"
                src="/images/software-escrow/icons/software-backup-icon.svg" alt="Software Backup Icon"
                loading="lazy" /><span class="fw-500 text-white font-14 space-no-wrap position-absolute mt-1">Software Backup</span> </p>
            <p class="plan__text-tooltip text-dark-cyan mt-3"><img class="mr-2"
                src="/images/software-escrow/icons/software-escrow-icon.svg" alt="Software Escrow Icon"
                loading="lazy" /><span class="fw-500 text-white font-14 space-no-wrap position-absolute mt-1">Software Escrow</span> </p>
            <p class="plan__text-tooltip text-dark-cyan mt-3"><img class="mr-2"
                src="/images/software-escrow/icons/saas-escrow-icon.svg" alt="SaaS Escrow Icon" loading="lazy" /><span
                class="fw-500 text-white font-14 space-no-wrap position-absolute mt-1">SaaS Escrow</span> </p>
            <p class="plan__text-tooltip text-dark-cyan mt-3"><img class="mr-2 mw-30"
                src="/images/software-escrow/icons/software-custodian-icon.svg" alt="Software Custodian Icon" loading="lazy" /><span
                class="fw-500 text-white font-14 space-no-wrap position-absolute mt-1">Software Custodian</span> </p>
          </div>

        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-white section-medium">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <p class="about__details-text font-50 fw-light mw-600 line-height-53 mt-5">{{ site.data[page.lang]['about_us_page']['globaly_recognized'] }}</p>
            <p class="about__details-subtext font-20 line-height-28 text-slate-gray">{{ site.data[page.lang]['about_us_page']['we_are'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style mw-420 mh-300" src="/images/about-page/certificates-illustration.webp" alt="Certificates Illustration" loading="lazy"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-alice-blue2 section-large">
      <div class="container">
        <p class="about__details-text">{{ site.data[page.lang]['about_us_page']['datacenter_certifications'] }}</p>
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12">
            <div class="d-flex align-items-center">
              <img class="mr-3" src="/images/about-page/iso-9001.svg"
              alt="ISO27001 and Datacenter Certifications" loading="lazy" />
              <div>
                <p class="about__details-subtext font-24 text-dark-cyan">ISO 9001</p>
                <p class="about__details-subtext font-18 text-slate-gray">{{ site.data[page.lang]['about_us_page']['global_quality_standard'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <img class="mr-3" src="/images/about-page/iso-27001.svg"
              alt="ISO27001 and Datacenter Certifications" loading="lazy" />
              <div>
                <p class="about__details-subtext font-24 text-dark-cyan">ISO 27001</p>
                <p class="about__details-subtext font-18 text-slate-gray">{{ site.data[page.lang]['about_us_page']['security_management'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <img class="mr-3" src="/images/about-page/iso-27017.svg"
              alt="ISO27001 and Datacenter Certifications" loading="lazy" />
              <div>
                <p class="about__details-subtext font-24 text-dark-cyan">ISO 27017</p>
                <p class="about__details-subtext font-18 text-slate-gray">{{ site.data[page.lang]['about_us_page']['cloud_specific'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <img class="mr-3" src="/images/about-page/iso-27018.svg"
              alt="ISO27001 and Datacenter Certifications" loading="lazy" />
              <div>
                <p class="about__details-subtext font-24 text-dark-cyan">ISO 27018</p>
                <p class="about__details-subtext font-18 text-slate-gray">{{ site.data[page.lang]['about_us_page']['personal_data'] }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="d-flex align-items-center">
              <img class="mr-3" src="/images/about-page/cloud-security.svg"
              alt="ISO27001 and Datacenter Certifications" loading="lazy" />
              <div>
                <p class="about__details-subtext font-24 text-dark-cyan">{{ site.data[page.lang]['about_us_page']['cloud_security'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <img class="mr-3" src="/images/about-page/payment-card.svg"
              alt="ISO27001 and Datacenter Certifications" loading="lazy" />
              <div>
                <p class="about__details-subtext font-24 text-dark-cyan">{{ site.data[page.lang]['about_us_page']['level_one'] }}</p>
                <p class="about__details-subtext font-18 text-slate-gray">{{ site.data[page.lang]['about_us_page']['payment_card'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <img class="mr-3" src="/images/about-page/audit-control.svg"
              alt="ISO27001 and Datacenter Certifications" loading="lazy" />
              <div>
                <p class="about__details-subtext font-24 text-dark-cyan">SOC 1, 2, 3</p>
                <p class="about__details-subtext font-18 text-slate-gray">{{ site.data[page.lang]['about_us_page']['audit_control'] }}</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <!-- Section -->
    <div class="bg-gradient-night section-large">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <img class="image-style mw-420 py-4" src="/images/about-page/global-organization.webp"
              alt="Global Organization Locations Image" loading="lazy" />
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="about__details-text text-white mw-530">{{ site.data[page.lang]['about_us']['we_are'] }} </p>
            <p class="about__global-text mb-1 mt-4">Europe MEA</p>
            <p class="about__global-subtext">World Trade Center - The Hague, Prinses Margrietplantsoen 33,<br> 2595 AM
              The Hague, The Netherlands</p>
            <p class="about__global-text mb-1 mt-4">North America</p>
            <p class="about__global-subtext">548 Market St. PMB 63050 San Francisco, <br>California 94104-5401, United
              States of America</p>
            <div class="about__global-devider mt-4"></div>
            <p class="about__global-text mb-1 mt-4">{{ site.data[page.lang]['about_us']['for_release'] }}</p>
            <p class="about__global-subtext"><i class="fa fa-envelope text-white mr-2"></i><a
                href="mailto: contact@codekeeper.co" class="text-yellow">contact@codekeeper.co</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="about__hiring-bg mb-200">
      <div class="container d-flex flex-column align-items-center">
        <p class="about__details-text text-white text-center">{{ site.data[page.lang]['about_us']['join_our_team'] }}</p>
        <p class="about__global-subtext mw-800 text-center mt-3">{{ site.data[page.lang]['about_us']['we_build_our'] }}</p>
        <a class="button btn-yellow my-4" href="https://startupz.applytojob.com/apply">
          {{ site.data[page.lang]['about_us']['view_open'] }}
        </a>
      </div>
    </div>
    <!-- Section -->
    <div class="resources">
      <div class="container">
        <img class="image-style" src="/images/landing/companies.webp" alt="Illustration: Trusted Partner Companies" loading="lazy"/>
      </div>
    
      <div class="container content-center">
        <p class="people-choose__main-title mw-800 text-bondi-blue">{{ site.data[page.lang]['index']['these_companies'] }}</p>
      </div>
      <div class="people-choose__bg">
        <div class="container">
          <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['about_us']['software_escrow_secures'] }}</p>
          <a class="button btn-cerulean3 pricing-href mx-auto px-5 mt-5" href="pricing.html">
            {{ site.data[page.lang]['includes']['intro']['get_started'] }}
          </a>
          <p class="software-escrow__text mt-4 text-center"><i class="fa fa-check-circle text-light-green mr-2"></i>{{ site.data[page.lang]['index']['best_price'] }}</p>
          <p class="software-escrow__text text-center"><i class="fa fa-check-circle text-light-green mr-2"></i>{{ site.data[page.lang]['index']['no_hidden_costs'] }}</p>
        </div>
      </div>
    
    
      <div class="mt-150 position-relative">
        <div class="container">
          <div class="intro-guide__bg">
            <img class="intro-guide__image" src="/images/landing/shape-intro.webp" alt="Illustration: Shape Intro" loading="lazy"/>
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <p class="intro-guide__title">{{ site.data[page.lang]['includes']['escrow_introduction']['introduction_to_software'] }}: {{ site.data[page.lang]['includes']['escrow_introduction']['a_guide'] }}</p>
                <div class="d-flex align-items-center">
                  <p class="intro-guide__badge">{{ site.data[page.lang]['index']['e_book'] }}</p>
                  <p class="intro-guide__text">{{ site.data[page.lang]['index']['12_pages'] }}</p>
                </div>
                <p class="intro-guide__subtitle">{{ site.data[page.lang]['includes']['escrow_introduction']['learn_how'] }}</p>
                <a class="button btn-secondary-large mt-4" data-toggle="modal" data-target="#exampleModal33">
                  {{ site.data[page.lang]['includes']['intro']['download_guide'] }}
                </a>
              </div>
              <div class="col-md-5 col-sm-12">
                <img class="intro-guide__illustration mt-4" src="/images/landing/intro-guide-image.webp" alt="Illustration: Introduction to Software Escrow Guide" loading="lazy"/>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="exampleModal33" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-form p-0 ">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp" alt="Illustration: Introduction to Software Escrow Guide" loading="lazy"/>
                        <p class="section__modal-subtext mt-0">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                      </div>
                      <div class="col-md-6 col-sm-12 pt-3">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                          hbspt.forms.create({
                          portalId: "5365877",
                          formId: "31e6f358-0537-4c45-aa72-b9cc697f4a71"
                        });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <div class="intro-guide__container">
        <img class="intro-guide__shape-left" src="/images/landing/experts-small-shape.webp" alt="Decorative Small Shape" loading="lazy"/>
        <img class="intro-guide__shape-right" src="/images/landing/experts-large-shape.webp" alt="Decorative Large Shape" loading="lazy"/>
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-12">
              <img class="image-style" src="/images/landing/our-experts.webp" alt="Illustration: Our Expert" loading="lazy"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="intro-guide__main-title mt-4">{{ site.data[page.lang]['index']['a_session_with'] }}</p>
              <p class="intro-guide__main-subtitle">{{ site.data[page.lang]['index']['schedule_a_session'] }}</p>
              <a class="button btn-cerulean3 book-a-demo-href my-4" href="book-a-demo.html">
                {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}

  <script src="/js/faqDropdown.js"></script>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>