<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="about__header-bg">
      <div class="container">
        <p class="about__header-title">{{ site.data[page.lang]['about_us']['we_bring_escrow'] }} </p>
        <p class="about__header-subtitle mt-350">{{ site.data[page.lang]['about_us']['our_founding'] }}</p>
        <p class="about__header-text">{{ site.data[page.lang]['about_us']['it_made_no_sense'] }}</p>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-white section-large">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <img class="image-style mw-420 pb-4" src="/images/about-page/global-presence.webp" alt="Global Presence Image"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="about__details-text">{{ site.data[page.lang]['about_us']['global_presence'] }}</p>
            <p class="about__details-subtext">{{ site.data[page.lang]['about_us']['over_the_past'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-alice-blue2 section-medium">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12 d-flex align-items-center">
            <p class="about__details-title">{{ site.data[page.lang]['about_us']['we_are_the'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style mw-420 mt-3" src="/images/about-page/automatic-deposit.webp" alt="Automatic Deposit Image"/>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Section -->
    <div class="about__milestones-bg overflow-hidden">
      <div class="container d-flex flex-column align-items-center">
        <div class="d-flex flex-wrap justify-content-between w-100 align-items-center">
          <p class="about__milestones-title">{{ site.data[page.lang]['about_us']['milestones_and'] }}</p>
          <div class="d-flex align-items-center">
            <p class="about__milestones-subtitle">{{ site.data[page.lang]['about_us']['in_the_future'] }}</p>
            <p class="about__milestones-title font-30"><i class="fa fa-chevron-right text-white ml-3"></i></p>
          </div>
        </div>
        <div class="row mt-5 w-100">
          <div class="col-md-2 col-sm-12 px-0">
            <p class="about__milestones-text">2014</p>
            <div class="d-flex align-items-center">
              <div class="about__milestones-circle"></div>
              <div class="about__milestones-line"></div>
            </div>
            <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['founded_by'] }}<br><br>{{ site.data[page.lang]['about_us']['launched_codekeeper'] }} V1</p>
          </div>
          <div class="col-md-2 col-sm-12 px-0">
            <p class="about__milestones-text">2018</p>
            <div class="d-flex align-items-center">
              <div class="about__milestones-circle"></div>
              <div class="about__milestones-line"></div>
            </div>
            <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['the_first'] }}</p>
          </div>
          <div class="col-md-2 col-sm-12 px-0">
            <p class="about__milestones-text">2019</p>
            <div class="d-flex align-items-center">
              <div class="about__milestones-circle"></div>
              <div class="about__milestones-line"></div>
            </div>
            <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['launched_codekeeper'] }} V2</p>
          </div>
          <div class="col-md-2 col-sm-12 px-0">
            <p class="about__milestones-text">2020</p>
            <div class="d-flex align-items-center">
              <div class="about__milestones-circle"></div>
              <div class="about__milestones-line"></div>
            </div>
            <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['launched_saas'] }}</p>
          </div>
          <div class="col-md-2 col-sm-12 px-0">
            <p class="about__milestones-text">2021</p>
            <div class="d-flex align-items-center">
              <div class="about__milestones-circle"></div>
              <div class="about__milestones-line"></div>
            </div>
            <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['launched_codekeeper'] }} V3</p>
          </div>
          <div class="col-md-2 col-sm-12 px-0">
            <p class="about__milestones-text">2023</p>
            <div class="d-flex align-items-center">
              <div class="about__milestones-circle"></div>
              <div class="about__milestones-line2"></div>
            </div>
            <p class="about__milestones-subtext mt-4">{{ site.data[page.lang]['about_us']['launched_codekeeper'] }} V4</p>
            <img class="about__milestones-screen" src="/images/about-page/launch-screen.webp"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-alice-blue2 section-large">
      <div class="container d-flex flex-column align-items-center">
        <p class="about__details-text text-center">{{ site.data[page.lang]['about_us']['our_certifications'] }}</p>
        <p class="about__details-subtext text-center mw-100 mt-2">{{ site.data[page.lang]['about_us']['we_operate_compliant'] }}:</p>
        <img class="image-style mw-800 mt-3 mx-auto" src="/images/about-page/our-certification.webp" alt="Our Certifications Image"/>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-gradient-night section-large">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <img class="image-style mw-420 py-4" src="/images/about-page/global-organization.webp" alt="Global Organization Image"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="about__details-text text-white mw-530">{{ site.data[page.lang]['about_us']['we_are'] }} </p>
            <p class="about__global-text mb-1 mt-4">Europe MEA</p>
            <p class="about__global-subtext">World Trade Center - The Hague, Prinses Margrietplantsoen 33,<br> 2595 AM The Hague, The Netherlands</p>
            <p class="about__global-text mb-1 mt-4">North America</p>
            <p class="about__global-subtext">548 Market St. PMB 63050 San Francisco, <br>California 94104-5401, United States of America</p>
            <!-- <p class="about__global-text mb-1 mt-4">Asia Pacific</p>
            <p class="about__global-subtext">548 Market St. PMB 63050 San Francisco, <br>California 94104-5401, United States of America</p> -->
            <div class="about__global-devider mt-4"></div>
            <p class="about__global-text mb-1 mt-4">{{ site.data[page.lang]['about_us']['for_release'] }}</p>
            <p class="about__global-subtext"><i class="fa fa-envelope text-white mr-2"></i><a href = "mailto: contact@codekeeper.co" class="text-yellow">contact@codekeeper.co</a></p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="about__hiring-bg mb-200">
      <div class="container d-flex flex-column align-items-center">
        <p class="about__details-text text-white text-center">{{ site.data[page.lang]['about_us']['join_our_team'] }}</p>
        <p class="about__global-subtext mw-800 text-center mt-3">{{ site.data[page.lang]['about_us']['we_build_our'] }}</p>
        <a class="button btn-yellow my-4" href="https://codekeeper.applytojob.com/apply/">
          {{ site.data[page.lang]['about_us']['view_open'] }}
        </a>
      </div>
    </div>    
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    $( document ).ready(function() {
      $('.open-chat').click(function(){

        window.HubSpotConversations.widget.open();
      });
    });
  </script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

  <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/5365877.js"></script> -->
  <!-- End of HubSpot Embed Code -->
</body>