<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg pb-5">
        <div class="container">
          <h1 class="about__main-title mt-4">{{ site.data[page.lang]['about_us']['security_is'] }}</h1>
          <p class="about__main-subtitle my-4">{{ site.data[page.lang]['about_us']['our_founding'] }}: </p>
          <p class="about__main-text my-4">{{ site.data[page.lang]['about_us']['it_made'] }} </p>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="about__office-bg">
      <div class="container">
        <p class="about__office-title">{{ site.data[page.lang]['about_us']['our_locations'] }} </p>
        <p class="about__office-subtitle">{{ site.data[page.lang]['about_us']['we_have_offices'] }}</p>
        <img class="about__office-top" src="/images/about-page/office-top.webp"/>
        <img class="about__office-bottom" src="/images/about-page/office-bottom.webp"/>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-alice-blue">
      <div class="container section-large security">
        <div class="row pb-5">
          <div class="col-md-6 col-sm-12">
            <h2 class="infrastructure__title text-primary mt-5">{{ site.data[page.lang]['security']['certifications'] }}</h2>
            <p class="infrastructure__subtitle text-complementary-dark mt-4">{{ site.data[page.lang]['security']['we_operate_compliant'] }}:</p>
            <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['cloud_security'] }}</p>
            <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['global_quality'] }}</p>
            <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['security_management'] }}</p>
            <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['cloud_specific'] }}</p>
            <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['personal_data'] }}</p>
            <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['payment_card'] }}</p>
            <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['audit_controls'] }}</p>
            <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['security_availability'] }}</p>
            <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['general_controls'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="/images/about-page/certifications.webp"/>
          </div>
        </div>
      </div>
    </div>

    <div class="history__container">
      <img class="history__top" src="/images/about-page/history-top.webp"/>
      <img class="history__bottom" src="/images/about-page/history-bottom.webp"/>
      <p class="history__title">{{ site.data[page.lang]['about_us']['our_history'] }}</p>
      <p class="history__subtitle">2014</p>
      <p class="history__text">{{ site.data[page.lang]['about_us']['founded_by'] }}</p>
      <!-- <p class="history__subtext mx-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->

      <div class="container history__desktop">
        <div class="history__dot-top">
          <div class="history__dash2 mx-auto"></div>
          <img class="history__dot2" src="/images/about-page/circle-top.svg"/>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="history__box">
              <div class="history__box-content">
                <p class="history__box-title">{{ site.data[page.lang]['about_us']['codekeeper_v1'] }}</p>
              </div>
              <div class="history__box-side">
                <img class="history__box-image" src="/images/about-page/image-1.webp"/>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 d-flex flex-column align-items-center">
            <div class="history__left-line"></div>
            <div class="history__dash mx-auto"></div>
            <img class="history__dot" src="/images/about-page/circle.svg"/>
          </div>
          <div class="col-md-5 col-sm-12">
            <p class="history__box-date">{{ site.data[page.lang]['about_us']['november_2014'] }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <p class="history__box-date text-right">{{ site.data[page.lang]['about_us']['february_2018'] }}</p>
          </div>
          <div class="col-md-2 col-sm-12 d-flex flex-column align-items-center">
            <div class="history__right-line"></div>
            <div class="history__dash mx-auto"></div>
            <img class="history__dot" src="/images/about-page/circle.svg"/>
          </div>
          <div class="col-md-5 col-sm-12 position-relative">
            <div class="history__box">
              <div class="history__box-side">
                <img class="history__box-image2" src="/images/about-page/image-2.webp"/>
              </div>
              <div class="history__box-content">
                <p class="history__box-title">{{ site.data[page.lang]['about_us']['automatic_deposit'] }}</p>
              </div>
            </div>
            <div class="history__badge">
              {{ site.data[page.lang]['about_us']['first_in'] }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="history__box">
              <div class="history__box-content">
                <p class="history__box-title">{{ site.data[page.lang]['about_us']['codekeeper_v2'] }}</p>
              </div>
              <div class="history__box-side">
                <img class="history__box-image3" src="/images/about-page/image-3.webp"/>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 d-flex flex-column align-items-center">
            <div class="history__left-line"></div>
            <div class="history__dash mx-auto"></div>
            <img class="history__dot" src="/images/about-page/circle.svg"/>
          </div>
          <div class="col-md-5 col-sm-12">
            <p class="history__box-date">{{ site.data[page.lang]['about_us']['march_2019'] }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <p class="history__box-date text-right">{{ site.data[page.lang]['about_us']['april_2020'] }}</p>
          </div>
          <div class="col-md-2 col-sm-12 d-flex flex-column align-items-center">
            <div class="history__right-line"></div>
            <div class="history__dash mx-auto"></div>
            <img class="history__dot" src="/images/about-page/circle.svg"/>
          </div>
          <div class="col-md-5 col-sm-12">
            <div class="history__box">
              <div class="history__box-side">
                <img class="history__box-image4" src="/images/about-page/image-4.webp"/>
              </div>
              <div class="history__box-content">
                <p class="history__box-title">{{ site.data[page.lang]['about_us']['saas_solution'] }}</p>
                <a class="button btn-primary-small what-is-saas-escrow-href" href="what-is-saas-escrow.html">
                  {{ site.data[page.lang]['about_us']['explore_saas'] }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="position-relative">
              <div class="history__box">
                <div class="history__box-content">
                  <p class="history__box-title">{{ site.data[page.lang]['about_us']['codekeeper_v3'] }}</p>
                </div>
                <div class="history__box-side">
                  <img class="history__box-image" src="/images/about-page/image-8.webp"/>
                </div>
              </div>
              <img class="history__box-chat" src="/images/about-page/icon-chat.webp"/>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 d-flex flex-column align-items-center">
            <div class="history__left-line"></div>
            <div class="history__dash mx-auto"></div>
            <img class="history__dot" src="/images/about-page/circle.svg"/>
          </div>
          <div class="col-md-5 col-sm-12">
            <p class="history__box-date">{{ site.data[page.lang]['about_us']['august_2021'] }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <p class="history__box-date text-right">{{ site.data[page.lang]['about_us']['november_2021'] }}</p>
          </div>
          <div class="col-md-2 col-sm-12 d-flex flex-column align-items-center">
            <div class="history__right-line"></div>
            <div class="history__dash mx-auto h-400"></div>
            <img class="history__dot" src="/images/about-page/circle.svg"/>
          </div>
          <div class="col-md-5 col-sm-12">
            <div class="history__box h-400">
              <div class="history__box-side d-flex flex-column h-400">
                <img class="history__box-image8" src="/images/about-page/techex-logo.svg"/>
                <img class="history__box-image6" src="/images/about-page/image-6.webp"/>
              </div>
              <div class="history__box-content">
                <p class="history__box-title">{{ site.data[page.lang]['about_us']['back_to'] }} </p>
                <img class="history__box-image7" src="/images/about-page/image-7.webp"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <div class="history__box">
              <div class="history__box-content">
                <p class="history__box-title">{{ site.data[page.lang]['about_us']['codekeeper_new'] }}</p>
              </div>
              <div class="history__box-side">
                <img class="history__box-image5" src="/images/about-page/image-5.webp"/>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 d-flex flex-column align-items-center">
            <div class="history__left-line"></div>
            <div class="history__dash mx-auto"></div>
            <img class="history__dot" src="/images/about-page/circle.svg"/>
          </div>
          <div class="col-md-5 col-sm-12">
            <p class="history__box-date">{{ site.data[page.lang]['about_us']['coming_soon'] }}</p>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <img class="history__box-arrows" src="/images/about-page/arrows-bottom.svg"/>
        </div>
        <div class="history__future">
          <p class="history__subtitle">{{ site.data[page.lang]['about_us']['the_future'] }}</p>
          <p class="history__subtext mx-auto mw-530">{{ site.data[page.lang]['about_us']['codekeeper_will'] }}</p>
        </div>
      </div>

      <div class="container history__mobile">

        <p class="history__box-date">{{ site.data[page.lang]['about_us']['november_2014'] }}</p>
        <div class="history__box">
          <div class="history__box-content">
            <p class="history__box-title">{{ site.data[page.lang]['about_us']['codekeeper_v1'] }}</p>
          </div>
          <div class="history__box-side">
            <img class="history__box-image" src="/images/about-page/image-1.webp"/>
          </div>
        </div>

        <p class="history__box-date text-right">{{ site.data[page.lang]['about_us']['february_2018'] }}</p>
        <div class="position-relative">
          <div class="history__box">
            <div class="history__box-side">
              <img class="history__box-image2" src="/images/about-page/image-2.webp"/>
            </div>
            <div class="history__box-content">
              <p class="history__box-title">{{ site.data[page.lang]['about_us']['automatic_deposit'] }}</p>
            </div>
          </div>
          <div class="history__badge">
            {{ site.data[page.lang]['about_us']['first_in'] }}
          </div>
        </div>

        <p class="history__box-date">{{ site.data[page.lang]['about_us']['march_2019'] }}</p>
        <div class="history__box">
          <div class="history__box-content">
            <p class="history__box-title">{{ site.data[page.lang]['about_us']['codekeeper_v2'] }}</p>
          </div>
          <div class="history__box-side">
            <img class="history__box-image3" src="/images/about-page/image-3.webp"/>
          </div>
        </div>

        <p class="history__box-date text-right">{{ site.data[page.lang]['about_us']['april_2020'] }}</p>
        <div class="history__box">
          <div class="history__box-side">
            <img class="history__box-image4" src="/images/about-page/image-4.webp"/>
          </div>
          <div class="history__box-content">
            <p class="history__box-title">{{ site.data[page.lang]['about_us']['saas_solution'] }}</p>
            <a class="button btn-primary-small what-is-saas-escrow-href" href="what-is-saas-escrow.html">
              {{ site.data[page.lang]['about_us']['explore_saas'] }}
            </a>
          </div>
        </div>

        <p class="history__box-date">{{ site.data[page.lang]['about_us']['august_2021'] }}</p>
        <div class="position-relative">
          <div class="history__box">
            <div class="history__box-content">
              <p class="history__box-title">{{ site.data[page.lang]['about_us']['codekeeper_v3'] }}</p>
            </div>
            <div class="history__box-side">
              <img class="history__box-image" src="/images/about-page/image-8.webp"/>
            </div>
          </div>
          <img class="history__box-chat" src="/images/about-page/icon-chat.webp"/>
        </div>

        <p class="history__box-date text-right">{{ site.data[page.lang]['about_us']['november_2021'] }}</p>
        <div class="history__box h-400">
          <div class="history__box-side d-flex flex-column h-400">
            <img class="history__box-image8" src="/images/about-page/techex-logo.svg"/>
            <img class="history__box-image6" src="/images/about-page/image-6.webp"/>
          </div>
          <div class="history__box-content">
            <p class="history__box-title">{{ site.data[page.lang]['about_us']['back_to'] }} </p>
            <img class="history__box-image7" src="/images/about-page/image-7.webp"/>
          </div>
        </div>

        <p class="history__box-date">{{ site.data[page.lang]['about_us']['coming_soon'] }}</p>
        <div class="history__box">
          <div class="history__box-content">
            <p class="history__box-title">{{ site.data[page.lang]['about_us']['codekeeper_new'] }}</p>
          </div>
          <div class="history__box-side">
            <img class="history__box-image5" src="/images/about-page/image-5.webp"/>
          </div>
        </div>

        <div class="history__future">
          <p class="history__subtitle">{{ site.data[page.lang]['about_us']['the_future'] }}</p>
          <p class="history__subtext mx-auto mw-530">{{ site.data[page.lang]['about_us']['codekeeper_will'] }}</p>
        </div>
      </div>


    </div>
    
    <!-- Section -->
    {% include book-demo.html %}
    <!-- Section -->
    {% include intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    $( document ).ready(function() {
      $('.open-chat').click(function(){

        window.HubSpotConversations.widget.open();
      });
    });
  </script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

  <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/5365877.js"></script> -->
  <!-- End of HubSpot Embed Code -->
</body>