<!DOCTYPE html>
<html lang="en">

<head>
  <!--Required meta tags-->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <title>Backups - How it Works</title>
  <meta name="robots" content="noindex">
  <link href="./images/OS.png" rel="icon" sizes="16x16" type="image/png" />
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="./css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</head>

<body>
  <div class="bg-white">
    <div class="container-fluid resources px-0">
      <!-- Navigation -->
      <nav class="navbar fixed-top navbar-fixed-top navbar-expand-lg navbar-light p-0 bg-white d-flex flex-column">
        <div class="container-fluid p-3 nav-box-shadow">
          <a class="navbar-brand d-flex align-items-center mr-0" href="backups.html"><img class="header__logo-backups" src="/images/backup/ck-backups-logo.svg"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ml-auto align-items-center">
              <li class="nav-item">
                <a class="nav-link nav-margin" href="backups.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-margin" href="backups-how-it-works.html">How it Works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-margin space-no-wrap" href="backups-pricing.html">Pricing</a>
              </li>
              <a class="button btn-cerulean3 nav-margin" href="pricing.html">
                Get Started
              </a>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Header -->
      <div class="header__bg-backups">
        <img class="header__circles-right" src="/images/backup/circles-right.webp" alt="Background Image"/>
        <div class="container section-medium">
          <div class="row column-reverse-mobile">
            <div class="col-md-5 col-sm-12">
              <img class="image-style my-3" src="/images/backup/intuitive-configuration.webp" alt="Background Image"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <h1 class="header__title2 mt-3">Experience the simplicity and power of Codekeeper Backups. </h1>
              <p class="header__subtitle2 my-4 font-18">Sign up today and protect your codebase with confidence.</p>
              <a class="button btn-cerulean3 mb-5 px-4" href="pricing.html">
                Start your 30-day free trial
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid resources">
        <div class="beneficiary__container mx-auto mt-negative-80 position-relative how-bg-gradient mb-negative-50 z-index-1">
          <div class="container py-5">
            <p class="how-works__main-title text-bondi-blue mw-800 text-align-start">Learn More About the Codekeeper Backups Process.</p>
            <p class="how-works__subtext2 mt-4 mw-900 font-22 mb-5">Codekeeper Backups is designed to provide you with a seamless, automated backup solution for your software source code repositories across all major developer platforms. Here's a detailed look at our process:</p>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="works__config mobile-centered">
                  <div class="works__number-bg-step">
                    <div class="works__step">Step 1</div>
                  </div>
                  <div>
                    <p class="how-works__text mt-1">Sign Up and Connect Your Repositories</p>
                    <p class="how-works__subtext2"><strong class="text-bondi-blue">1.1 Create Your Codekeeper Backups Account.</strong><br>
                      To get started, sign up for a Codekeeper Backups account by providing your email address and creating a password. After activating your account, log in to access the user dashboard.</p>
                    <p class="how-works__subtext2 pb-4"><strong class="text-bondi-blue">1.2 Link Your Developer Platform Accounts.</strong><br>
                      Codekeeper Backups integrates with GitHub, GitLab, Bitbucket, and Azure DevOps. To connect your repositories, navigate to the "Integrations" tab on your dashboard and select the platform you want to link. Follow the on-screen instructions to authorize Codekeeper Backups to access your repositories.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 pr-5 content-center">
                <img class="works__image2 mt-5 ml-negative-80" src="/images/backup/sign-up.webp"/>
              </div>
            </div>
            <div class="row column-reverse-mobile">
              <div class="col-md-6 col-sm-12">
                <div class="works__config2 mh-sm-700 content-center">
                  <img class="works__image2 ml-negative-80 mt-5" src="/images/backup/configure.webp"/>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="works__config3 mobile-centered">
                  <div class="works__number-bg-step2">
                    <div class="works__step">Step 2</div>
                  </div>
                  <div>
                    <p class="how-works__text mt-1">Configure Your Backup Preferences</p>
                    <p class="how-works__subtext2"><strong class="text-bondi-blue">2.1 Choose Backup Frequency.</strong><br>
                      By default, Codekeeper Backups performs daily backups for all connected repositories. However, you can customize the backup frequency to better suit your needs. Options include hourly, daily, weekly, or monthly backups.</p>
                    <p class="how-works__subtext2"><strong class="text-bondi-blue">2.2 Set Custom Schedules.</strong><br>
                      If you need more control over your backup schedule, you can create custom schedules for specific repositories. This feature is perfect for mission-critical projects that require frequent backups.</p>
                      <p class="how-works__subtext2"><strong class="text-bondi-blue">2.3 Specify Repositories to Protect.</strong><br>
                        Codekeeper Backups allows you to back up all your repositories or select specific ones to protect. Use the repository management tool on your dashboard to customize your backup preferences.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="works__config4 mobile-centered">
                  <div class="works__number-bg-step">
                    <div class="works__step">Step 3</div>
                  </div>
                  <div>
                    <p class="how-works__text mt-1">Monitor and Manage Your Backups</p>
                    <p class="how-works__subtext2"><strong class="text-bondi-blue">3.1 Access Your Backup Dashboard.</strong><br>
                      The Codekeeper Backups dashboard provides an overview of your backup status, including the number of repositories being backed up, last backup date, and any issues that may have arisen during the backup process.</p>
                    <p class="how-works__subtext2"><strong class="text-bondi-blue">3.2 Manage Repository Settings.</strong><br>
                      Easily manage your repository settings from the dashboard, including adjusting backup frequency, custom schedules, and selecting or deselecting repositories for backup.</p>
                    <p class="how-works__subtext2 pb-4"><strong class="text-bondi-blue">3.3 Recover Lost Code.</strong><br>
                      If you ever need to recover lost code, Codekeeper Backups makes it simple. Browse your backed-up repositories, find the desired commit or version, and restore the code with just a few clicks.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 content-center">
                <img class="works__image2 ml-negative-80 mt-80" src="/images/backup/monitor.webp"/>
              </div>
            </div>
            
            <div class="d-flex flex-column align-items-center">
              <img class="how-works__active-icon" src="/images/how-it-works/icons/active-escrow.svg"/>
              <p class="how-works__subtext2 text-center mt-4"><a class="text-bondi-blue contact-href" href="contact.html">Contact us</a> if you need more assistance.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-gradient-cerulean section-large position-relative pb-300">
        <img class="people-choose__circle-image" src="/images/backup/circles-right.webp"/>
        <div class="container">
          <p class="best-price__title2 mt-4 mw-1000">Start protecting your code today with our simple, affordable pricing plan.</p>
          <div class="row mt-5">
            <div class="col-md-7 col-sm-12">
              <p class="best-price__text font-24">Codekeeper Pro Unlimited</p>
              <p class="best-price__text2 mt-4"><span>$99</span>/ month / user</p>
              <a class="button btn-yellow pricing-href my-4 font-18" href="pricing.html">
                Start your 30-day free trial
              </a>
              <p class="best-price__text font-24">Our plan includes:</p>
              <p class="software-escrow__text mt-4 text-white font-18"><i class="fa fa-check text-light-green mr-2"></i>Best price guaranteed</p>
              <p class="software-escrow__text text-white font-18"><i class="fa fa-check text-light-green mr-2"></i>Unlimited data storage</p>
              <p class="software-escrow__text text-white font-18"><i class="fa fa-check text-light-green mr-2"></i>Automated backup process</p>
              <p class="software-escrow__text text-white font-18 pb-2"><i class="fa fa-check text-light-green mr-2"></i>Integrations with GitHub, GitLab, Bitbucket, and Azure DevOps</p>
              <a class="header__link my-3 font-18 text-yellow mt-5 ml-4" href="integrations.html">And many more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-5 col-sm-12 content-center">
              <img class="image-style mw-420 my-4" src="/images/backup/backup-repository.webp" alt="Repository Backup Image"/>
            </div>
          </div>
        </div>
      </div>
      <div class="container backups position-relative content-center">
        <div class="backups__subscribe-box">
          <div class="row">
            <div class="col-md-4 col-sm-12 content-center">
              <img class="image-style mw-200" src="/images/backup/subscribe.webp" alt="Subscribe Image"/>
            </div>
            <div class="col-md-8 col-sm-12">
              <p class="backups__subscribe-title">Stay Ahead with Codekeeper</p>
              <p class="backups__subscribe-subtitle">Subscribe to our newsletter for exclusive updates, expert tips, and special offers to help you safeguard your code. Enter your email address to get started:</p>
              <div class="mt-3 contact">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                <script>
                  hbspt.forms.create({
                    region: "na1",
                    portalId: "5365877",
                    formId: "1ab0003a-0ba2-40f3-9747-e2c5f62e4f9d"
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="backups bg-gradient-dark-blue position-relative codebase-padding">
        <div class="container d-flex flex-column align-items-center">
          <p class="backups__subscribe-title text-white text-center font-35">Future-Proof Your Codebase with Codekeeper Backups</p>
          <img class="image-style mw-420" src="/images/backup/codebase.webp"/>
          <p class="best-price__text2 mt-1 mw-700 text-center">Automate and centralize backups for all your software repositories from GitHub, GitLab, Bitbucket, and Azure DevOps.</p>
          <a class="button btn-yellow pricing-href mt-4" href="pricing.html">
            Get Started
          </a>
          <p class="best-price__text2 mt-2 font-16"> Risk-Free 30-Day Trial</p>
        </div>
        <img class="backups__circles-left" src="/images/backup/circles-right.webp"/>
        <img class="backups__circles-right" src="/images/backup/circles-right.webp"/>
      </div>

      <div class="software-escrow">
        <div class="datacenters__bg">
          <div class="container d-flex flex-column align-items-center">
            <p class="scenario__title mx-auto mw-100 pb-3">Compliance-Ready Source Code Backups</p>
            <p class="protect__subtext text-dark-cyan mw-900 mx-auto text-center">Align with ISO 27001 and other key compliance frameworks effortlesslyIn today's fast-paced digital world, safeguarding your source code is crucial not only for operational efficiency but also for meeting the stringent requirements of compliance frameworks like ISO 27001, SOC 2, and GDPR.</p>
            <img class="datacenter-image pb-5" src="/images/logos/datacenter-certifications.webp"/>
            <p class="protect__subtext text-bondi-blue text-center font-24">Codekeeper Backups helps you maintain and demonstrate compliance with ease:</p>
          </div>
          <div class="container">
            <div class="row mt-3">
              <div class="col-md-4 col-sm-12 d-flex align-items-center flex-column">
                <img class="mt-5 mx-auto mw-40" src="/images/backup/data-protection.svg"/>
                <p class="datacenters__title mt-4 text-center">Robust Data Protection</p>
                <p class="datacenters__subtitle text-center">Our advanced encryption and security measures protect your code from unauthorized access and data breaches, ensuring you meet the data protection requirements of various compliance frameworks.</p>
              </div>
              <div class="col-md-4 col-sm-12 d-flex align-items-center flex-column">
                <img class="mt-5 mx-auto mw-40" src="/images/backup/data-retention.svg"/>
                <p class="datacenters__title mt-4 text-center">Audit-Ready Data Retention</p>
                <p class="datacenters__subtitle text-center">With customizable backup schedules and version history tracking, Codekeeper Backups makes it simple to maintain and access historical data, satisfying data retention and audit requirements.</p>
              </div>
              <div class="col-md-4 col-sm-12 d-flex align-items-center flex-column">
                <img class="mt-5 mx-auto mw-40" src="/images/backup/data-recovery.svg"/>
                <p class="datacenters__title mt-4 text-center">Secure Data Recovery</p>
                <p class="datacenters__subtitle text-center">Quickly and securely recover lost code without compromising data integrity, fulfilling the disaster recovery and business continuity requirements outlined by compliance frameworks. Trust Codekeeper Backups to help you stay compliant and safeguard your most valuable digital assets.</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="resources">
        <div class="container">
          <p class="people-choose__main-subtitle2 mx-auto my-4 pb-5 mt-150">Trusted partner of these great brands from around the world!</p>
          <img class="image-style" src="/images/landing/companies.webp"/>
        </div>
      
        <div class="container">
          <p class="people-choose__main-title text-bondi-blue text-center mt-5">Elevate Your Compliance Strategy!</p>
          <p class="best-price__text2 mt-4 text-bondi-blue text-center font-22">Try Codekeeper Backups Free for 30 Days</p>
        </div>
        <div class="people-choose__bg min-h-300"></div>
        <div class="content-center mt-negative-250">
          <img class="mw-530 mx-auto image-style m-3" src="/images/backup/backup-repository.webp"/>
        </div>
        <div class="container mb-200">
          <p class="software-escrow__title mb-1 fw-light text-center mt-5">Unlimited Repository Backup</p>
          <p class="best-price__text2 mt-4 text-bondi-blue text-center font-18"><span>$99</span><br>/ month / user</p>
          <a class="button btn-cerulean3 pricing-href mx-auto px-5 mt-4" href="pricing.html">
            Get Started
          </a>
          <p class="software-escrow__text mt-4 text-center font-14"><i class="fa fa-check-circle text-light-green mr-2"></i>Best price guaranteed</p>
          <p class="software-escrow__text text-center font-14"><i class="fa fa-check-circle text-light-green mr-2"></i>No hidden costs</p>
        </div>
      </div>
      
    </div>
    
    <!-- Footer -->
    <div class="eu-react">
      <div class="container-fluid eu-footer">
        <div>
          <a href="https://codekeeper.co/"><img class="mw-230 mb-3" alt="Codekeeper logo" src="/images/eu-react/logo-ck-white.svg"/></a>
          <p class="eu-footer__text">Codekeeper, Inc. - All rights reserved <script>document.write( new Date().getFullYear() );</script>.</p>
        </div>
        <div class="d-flex align-items-center">
          <a class="eu-footer__link font-15" href="https://legal.codekeeper.co/page?page=TermsConditions">Terms of Service</a>
          <span class="mx-2 eu-footer__bullet font-15">&#8226;</span>
          <a class="eu-footer__link font-15" href="https://legal.codekeeper.co/page?page=PrivacyPolicy">Privacy Policy.</a>
        </div>
      </div>
    </div>
  </div>
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/backups-how-it-works.html')) {
    document.title = "Codekeeper Backups How it Works Page"
    document.getElementsByTagName('meta')["description"].content = "noindex";
  }
  </script>
  <!--jQuery first then Bootstrap JS.-->
  <script type="text/javascript" src="./js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>