<!DOCTYPE html>
<html lang="en">

<head>
  <!--Required meta tags-->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <title>Backups - Homepage</title>
  <meta name="robots" content="noindex">
  <link href="./images/OS.png" rel="icon" sizes="16x16" type="image/png" />
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="./css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
  <script
    src="https://js.chargebee.com/v2/chargebee.js"
    data-cb-site="codekeeperbilling"
    data-cb-ga-enabled="true" >
  </script>
</head>

<body>
  
  <div class="bg-white">
    <div class="container-fluid resources px-0">
      <!-- Navigation -->
      <nav class="navbar fixed-top navbar-fixed-top navbar-expand-lg navbar-light p-0 bg-white d-flex flex-column">
        <div class="container-fluid p-3 nav-box-shadow">
          <a class="navbar-brand d-flex align-items-center backups-logo-margin" href="backups.html"><img class="header__logo-backups" src="/images/backup/ck-backups-logo.svg"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav align-items-center w-100">
              <li class="nav-item">
                <a class="nav-link nav-margin text-transform-none" href="backups-how-it-works.html">How it Works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-margin space-no-wrap" href="backups-pricing.html">Pricing</a>
              </li>
              <a class="button btn-secondary-large nav-margin font-16 backups-nav-margin" href="backups-demo.html">
                Book a Demo
              </a>
              <a class="button btn-cerulean2 nav-margin font-16 min-width-170 mx-2" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="backups">
                Get Started
              </a>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Header -->

      <div class="header__bg-backups">
        <img class="header__circles-left" src="/images/backup/circles-left.webp" alt="Background Image"/>
        <img class="header__circles-right" src="/images/backup/circles-right.webp" alt="Background Image"/>
        <div class="container section-medium">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h1 class="header__title2 mt-4 text-white">GitHub, Bitbucket & 
                Azure DevOps backup 
                made easy.</h1>
              <p class="header__subtitle2 mt-4 text-white">Effortless, automated backups for all your software source code repositories across major developer platforms.</p>
              
              <div class="d-flex flex-wrap">
                <div class="mr-3">
                  <img class="mt-3" src="/images/backup/icons/unlimited-repositories-blue.svg"/>
                  <p class="header__subtext text-white mt-1">Unlimited<br> repositories </p>
                </div>
                <div class="mr-3">
                  <img class="mt-3" src="/images/backup/icons/unlimited-data-storage-blue.svg"/>
                  <p class="header__subtext text-white mt-1">Unlimited<br> data storage </p>
                </div>
                <div class="mr-3">
                  <img class="mt-3" src="/images/backup/icons/automated-backup-blue.svg"/>
                  <p class="header__subtext text-white mt-1">Automated<br> backup process </p>
                </div>
                <div class="mr-3">
                  <img class="mt-3" src="/images/backup/icons/customizable-backup-blue.svg"/>
                  <p class="header__subtext text-white mt-1">Customizable<br> backup schedules </p>
                </div>
              </div>

              <div class="d-flex flex-wrap align-items-center my-5">
                <a class="button btn-yellow mr-3 px-4" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="backups">
                  Get Started
                </a>
                <a class="header__link my-3 font-16 text-white" href="backups-demo.html">or Book a Demo <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>

            </div>
            <div class="col-md-6 col-sm-12">
              <img class="image-style" src="/images/backup/backups-header-illustration.webp" alt="Background Image"/>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid section-medium pricing">
        <p class="protect__subtext text-slate-gray fw-light">Trusted partner of these great brands from around the world!</p>
        <div class="tech-slideshow">
          <div class="slideshow-brands">
            <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
              <img class="protect__logos" src="/images/logos/axxiome.svg"/>
              <img class="protect__logos" src="/images/logos/intuit.svg"/>
              <img class="protect__logos" src="/images/logos/Bayer.svg"/>
              <img class="protect__logos" src="/images/logos/slate-digital.svg"/>
              <img class="protect__logos" src="/images/logos/colorado.svg"/>
              <img class="protect__logos" src="/images/logos/zynga.svg"/>
              <img class="protect__logos" src="/images/logos/gorenje.svg"/>
              <img class="protect__logos" src="/images/logos/axxiome.svg"/>
              <img class="protect__logos" src="/images/logos/intuit.svg"/>
              <img class="protect__logos" src="/images/logos/Bayer.svg"/>
              <img class="protect__logos" src="/images/logos/slate-digital.svg"/>
              <img class="protect__logos" src="/images/logos/colorado.svg"/>
              <img class="protect__logos" src="/images/logos/zynga.svg"/>
              <img class="protect__logos" src="/images/logos/gorenje.svg"/>
              <img class="protect__logos" src="/images/logos/axxiome.svg"/>
              <img class="protect__logos" src="/images/logos/intuit.svg"/>
              <img class="protect__logos" src="/images/logos/Bayer.svg"/>
              <img class="protect__logos" src="/images/logos/slate-digital.svg"/>
              <img class="protect__logos" src="/images/logos/colorado.svg"/>
              <img class="protect__logos" src="/images/logos/zynga.svg"/>
              <img class="protect__logos" src="/images/logos/gorenje.svg"/>
            </div>
            <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
              <img class="protect__logos" src="/images/logos/Pepsico_large.svg"/>
              <img class="protect__logos" src="/images/logos/general-electric.svg"/>
              <img class="protect__logos" src="/images/logos/mercedes-benz.svg"/>
              <img class="protect__logos" src="/images/logos/nestle.svg"/>
              <img class="protect__logos" src="/images/logos/Airbus.svg"/>
              <img class="protect__logos" src="/images/logos/the-economist.svg"/>
              <img class="protect__logos" src="/images/logos/Pepsico_large.svg"/>
              <img class="protect__logos" src="/images/logos/general-electric.svg"/>
              <img class="protect__logos" src="/images/logos/mercedes-benz.svg"/>
              <img class="protect__logos" src="/images/logos/nestle.svg"/>
              <img class="protect__logos" src="/images/logos/Airbus.svg"/>
              <img class="protect__logos" src="/images/logos/the-economist.svg"/>
              <img class="protect__logos" src="/images/logos/Pepsico_large.svg"/>
              <img class="protect__logos" src="/images/logos/general-electric.svg"/>
              <img class="protect__logos" src="/images/logos/mercedes-benz.svg"/>
              <img class="protect__logos" src="/images/logos/nestle.svg"/>
              <img class="protect__logos" src="/images/logos/Airbus.svg"/>
              <img class="protect__logos" src="/images/logos/the-economist.svg"/>
            </div>
          </div>
        </div>
      </div>

      <div class="bg-gradient-gray2 pt-4 pb-100">
        <div class="container">
          <p class="people-choose__main-title pt-4 mw-700 mx-auto">Are your source code and SaaS data securely backed up?</p>
          <p class="software-escrow__subtitle text-center mw-100 font-18 mw-900 mx-auto mt-4">Managing source code backups can be challenging without the right tools, exposing your valuable code to
            a various of risks. Here's how Codekeeper Backups can assist in mitigating these challenges:</p>
        </div>
        <div class="container mt-150">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title my-4 text-slate-gray">Outdated Backups</p>
              <div class="d-flex align-items-start">
                <img class="mr-3 mt-1" src="/images/backup/icons/x-mark.svg" alt="X mark Icon"/>
                <p class="software-escrow__subtitle mw-530">Manually managing backups can result in outdated or missing backups when they're needed the most.</p>
              </div>
              <div class="d-flex align-items-start">
                <img class="mr-3 mt-1" src="/images/backup/icons/check-mark.svg" alt="Check mark Icon"/>
                <p class="software-escrow__subtitle mw-530"><strong>Codekeeper Backups automates the process, ensuring your backups are always up-to-date and ready for recovery.</strong></p>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <img class="image-style mw-420" src="/images/backup/outdated-backups.webp" alt="Outdated backups Image"/>
            </div>
          </div>
        </div>
        <div class="container pt-5">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-5 col-sm-12">
              <img class="image-style mw-420" src="/images/backup/inconsistent-backup.webp" alt="Inconsintent backups Image"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title my-4 text-slate-gray">Inconsistent Backup Schedules</p>
              <div class="d-flex align-items-start">
                <img class="mr-3 mt-1" src="/images/backup/icons/x-mark.svg" alt="X mark Icon"/>
                <p class="software-escrow__subtitle mw-530">Balancing multiple repositories on various platforms can result in irregular backup routines.</p>
              </div>
              <div class="d-flex align-items-start">
                <img class="mr-3 mt-1" src="/images/backup/icons/check-mark.svg" alt="Check mark Icon"/>
                <p class="software-escrow__subtitle mw-530"><strong>Codekeeper Backups centralizes and streamlines the backup process, allowing you to manage all your repositories in one place.</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="container pt-5">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title my-4 text-slate-gray">Limited Backup Storage</p>
              <div class="d-flex align-items-start">
                <img class="mr-3 mt-1" src="/images/backup/icons/x-mark.svg" alt="X mark Icon"/>
                <p class="software-escrow__subtitle mw-530">Scarcity of storage space can undermine your backup strategy, compelling you to sacrifice data retention.</p>
              </div>
              <div class="d-flex align-items-start">
                <img class="mr-3 mt-1" src="/images/backup/icons/check-mark.svg" alt="Check mark Icon"/>
                <p class="software-escrow__subtitle mw-530"><strong>Codekeeper Backups offers unlimited data storage, empowering you to safeguard all your projects without worrying about storage capacity.</strong></p>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <img class="image-style mw-420" src="/images/backup/limited-backup.webp" alt="Limited backups Image"/>
            </div>
          </div>
        </div>
        <div class="container pt-5">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-5 col-sm-12">
              <img class="image-style mw-420" src="/images/backup/complex-recovery.webp" alt="Complex recovery Image"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title my-4 text-slate-gray">Complex Recovery Process</p>
              <div class="d-flex align-items-start">
                <img class="mr-3 mt-1" src="/images/backup/icons/x-mark.svg" alt="X mark Icon"/>
                <p class="software-escrow__subtitle mw-530">Recovering lost code can be time-consuming and complicated without the right solution.</p>
              </div>
              <div class="d-flex align-items-start">
                <img class="mr-3 mt-1" src="/images/backup/icons/check-mark.svg" alt="Check mark Icon"/>
                <p class="software-escrow__subtitle mw-530"><strong>Codekeeper Backups streamlines the recovery process, allowing you to effortlessly navigate through your backed-up repositories and restore code in just a few simple clicks.</strong></p>
              </div>
            </div>
          </div>
        </div>
        <div class="container pt-5">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title my-4 text-slate-gray">Inadequate Security Measures</p>
              <div class="d-flex align-items-start">
                <img class="mr-3 mt-1" src="/images/backup/icons/x-mark.svg" alt="X mark Icon"/>
                <p class="software-escrow__subtitle mw-530">Storing backups without robust security measures may expose your code to unauthorized access or theft.</p>
              </div>
              <div class="d-flex align-items-start">
                <img class="mr-3 mt-1" src="/images/backup/icons/check-mark.svg" alt="Check mark Icon"/>
                <p class="software-escrow__subtitle mw-530"><strong>Codekeeper Backups leverages cutting-edge encryption and stringent security protocols to ensure your code remains safe and secure.</strong></p>
              </div>
            </div>
            <div class="col-md-5 col-sm-12">
              <img class="image-style mw-420" src="/images/backup/inadequate-security.webp" alt="Inadequate security Image"/>
            </div>
          </div>
          <p class="software-escrow__title mt-150 fw-light text-center">Don't let your codebase be held back by subpar backup practices. <br>Secure your source code with Codekeeper Backups.</p>
          <div class="d-flex flex-wrap align-items-center my-4 flex-column">
            <a class="button btn-cerulean2" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="backups">
              Get Started
            </a>
            <a class="header__link my-3 font-16" href="backups-demo.html">or book a demo <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <div class="bg-gradient-dark-blue section-large position-relative">
        <img class="backups__circles-left2" src="/images/backup/circles-right.webp"/>
        <img class="backups__circles-right2" src="/images/backup/circles-right.webp"/>
        <div class="container">
          <p class="software-escrow__title fw-light text-center text-white">Future-Proof Your Codebase with Codekeeper Backups</p>
          <p class="software-escrow__subtitle text-center text-white mw-100">Automate and centralize backups for all your software repositories from major developer platforms.</p>
          <div class="row my-5">
            <div class="col-md-3 col-sm-12">
              <div class="people-choose__box2">
                <img class="mw-70 mt-3 w-100 h-65" src="/images/backup/icons/github.svg" alt="GitHub Image"/>
                <p class="people-choose__name mt-3 font-22">GitHub backup</p>
                <p class="people-choose__subtext text-center font-14 mt-2">Backup and restore your GitHub repositories, projects, pull requests and more.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="people-choose__box2">
                <img class="mw-70 mt-3 w-100 h-65" src="/images/backup/icons/gitlab.svg" alt="GitLab Image"/>
                <p class="people-choose__name mt-3 font-22">GitLab backup</p>
                <p class="people-choose__subtext text-center font-14 mt-2">Backup and restore your GitLab repositories, merge requests, keys and more.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="people-choose__box2">
                <img class="mw-70 mt-3 w-100 h-65" src="/images/backup/icons/bitbucket.svg"" alt="Bitbucket Image"/>
                <p class="people-choose__name mt-3 font-22">Bitbucket backup</p>
                <p class="people-choose__subtext text-center font-14 mt-2">Backup and restore your Bitbucket repositories, pull requests, pipelines and more.</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="people-choose__box2">
                <img class="mw-70 mt-3 w-100 h-65" src="/images/backup/icons/azure.svg" alt="Azure DevOps Image"/>
                <p class="people-choose__name mt-3 font-22 text-center">Azure DevOps backup</p>
                <p class="people-choose__subtext text-center font-14 mt-2">Backup and restore your Azure Devops repositories, work items, wikis and more.</p>
              </div>
            </div>
          </div>
          <div class="content-center">
            <a class="header__link my-3 font-16 text-yellow text-center mx-auto" href="backups-how-it-works.html">Learn more about the process <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>


      <div class="container mt-150">
        <p class="people-choose__main-title pt-5">Why backup with Codekeeper Backups?</p>
        <div class="row column-reverse-mobile mt-150">
          <div class="col-md-5 col-sm-12">
            <img class="software-escrow__image" src="/images/backup/ease-of-use.webp" alt="Ease of Use Image"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="software-escrow__title mt-5 text-bondi-blue">Ease of Use</p>
            <p class="software-escrow__subtitle mw-420">Set up Codekeeper Backups in minutes and automate your code repository backups with just a few clicks.</p>
          </div>
        </div>
      </div>
      <div class="container pt-5">
        <div class="row mt-5">
          <div class="col-md-7 col-sm-12">
            <p class="software-escrow__title mt-5 ml-auto text-align-end text-bondi-blue">Automated Backup Process</p>
            <p class="software-escrow__subtitle ml-auto text-align-end mw-420">Sleep easy knowing your code is safe with our automatic daily backups, version history tracking, and easy recovery options.</p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="software-escrow__image" src="/images/backup/automated-daily.webp" alt="Automated Backup Image"/>
          </div>
        </div>
      </div>
      <div class="container pt-5">
        <div class="row column-reverse-mobile mt-5">
          <div class="col-md-5 col-sm-12">
            <img class="software-escrow__image" src="/images/backup/major-platforms.webp" alt="Major Platforms Image"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="software-escrow__title mt-5 text-bondi-blue">Integrations with All Major Platforms</p>
            <p class="software-escrow__subtitle">Codekeeper Backups works seamlessly with GitHub, GitLab, Bitbucket, and Azure DevOps. Consolidate backups from all your repositories in one secure location.</p>
          </div>
        </div>
      </div>
      <div class="container pt-5">
        <div class="row mt-5">
          <div class="col-md-7 col-sm-12">
            <p class="software-escrow__title mt-5 ml-auto text-align-end text-bondi-blue">Enterprise-Grade Security</p>
            <p class="software-escrow__subtitle ml-auto text-align-end mw-420">We use cutting-edge encryption and security measures to keep your code safe from hackers and unauthorized access.</p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="software-escrow__image" src="/images/backup/enterprise.webp" alt="Enterprise-Grade Security Image"/>
          </div>
        </div>
      </div>
      <div class="container pt-5 pb-200">
        <div class="row column-reverse-mobile mt-5">
          <div class="col-md-5 col-sm-12">
            <img class="software-escrow__image" src="/images/backup/unlimited.webp" alt="Unlimited Repositories Image"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="software-escrow__title mt-5 text-bondi-blue">Unlimited Repositories & Data Storage</p>
            <p class="software-escrow__subtitle">No matter how big or small your projects are, Codekeeper Backups scales to meet your needs with unlimited repositories and data storage.</p>
          </div>
        </div>
      </div>

      <div class="bg-gradient-cerulean section-large position-relative pb-300">
        <img class="header__circles-right" src="/images/backup/circles-right.webp"/>
        <div class="container">
          <p class="best-price__title2 mt-4 mw-1000">Start protecting your code today with our simple, affordable pricing plan.</p>
          <div class="row mt-5">
            <div class="col-md-7 col-sm-12">
              <p class="best-price__text font-24">Codekeeper Pro Unlimited</p>
              <p class="best-price__text2 mt-4"><span>$99</span>/ month / user</p>
              <a class="button btn-yellow my-4 font-18" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="backups">
                Get Started
              </a>
              <p class="best-price__text font-24">Our plan includes:</p>
              <p class="software-escrow__text mt-4 text-white font-18"><i class="fa fa-check text-light-green mr-2"></i>Unlimited repositories</p>
              <p class="software-escrow__text text-white font-18"><i class="fa fa-check text-light-green mr-2"></i>Unlimited data storage</p>
              <p class="software-escrow__text text-white font-18"><i class="fa fa-check text-light-green mr-2"></i>Automated backup process</p>
              <p class="software-escrow__text text-white font-18 pb-3"><i class="fa fa-check text-light-green mr-2"></i>Integrations with GitHub, GitLab, Bitbucket, and Azure DevOps</p>
              <a class="header__link my-3 font-18 text-yellow mt-5 ml-4" href="backups-pricing.html">Explore pricing <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-5 col-sm-12 content-center">
              <img class="image-style mw-420 my-4" src="/images/backup/start-protecting.webp" alt="Repository Backup Image"/>
            </div>
          </div>
        </div>
      </div>

      <div class="backups container">
        <div class="backups__subscribe-box position-relative">
          <div class="row">
            <div class="col-md-5 col-sm-12 content-center">
              <img class="image-style mw-300" src="/images/landing/our-experts.webp" alt="Our Experts Image"/>
            </div>
            <div class="col-md-7 col-sm-12 py-5">
              <p class="backups__subscribe-title">Book a 1-on-1 Demo</p>
              <p class="backups__subscribe-subtitle mw-490">Book a demo with one of our experts who will be more than happy to show you around our platform and answer any questions you might have.</p>
              <a class="button btn-cerulean3 my-4" href="backups-demo.html">
                Book a Demo
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gradient-gray3 pb-200 mb-100">
        <div class="container">
          <p class="backups__subscribe-title text-bondi-blue font-24">How it works</p>
          <p class="deposit-assets__main-title pb-5 text-align-start font-35 mw-800">Safeguard your source code in three simple steps with Codekeeper Backups.</p>
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="d-flex align-items-start mt-3 position-relative">
                <img class="mr-3" src="/images/how-it-works/icons/one.svg"/>
                <div class="mt-negative-6">
                  <p class="software-escrow__title mb-1 fw-400 font-24">Sign Up and Connect Your Repositories</p>
                  <p class="software-escrow__subtitle">Create your Codekeeper Backups account and effortlessly link your GitHub, GitLab, Bitbucket, or Azure DevOps repositories.</p>
                </div>
                <div class="deposit-assets__dotted-line"></div>
              </div>
              <div class="d-flex align-items-start mt-3 position-relative">
                <img class="mr-3" src="/images/how-it-works/icons/two.svg"/>
                <div class="mt-negative-6">
                  <p class="software-escrow__title mb-1 fw-400 font-24">Configure Your Backup Preferences</p>
                  <p class="software-escrow__subtitle">Choose your backup frequency, set custom schedules, and specify which repositories you want to protect.</p>
                </div>
                <div class="deposit-assets__dotted-line"></div>
              </div>
              <div class="d-flex align-items-start mt-3 position-relative mb-4">
                <img class="mr-3" src="/images/how-it-works/icons/three.svg"/>
                <div class="mt-negative-6">
                  <p class="software-escrow__title mb-1 fw-400 font-24">Monitor and Manage Your Backups</p>
                  <p class="software-escrow__subtitle">Access your dashboard to monitor backup status, manage repository settings, and recover lost code easily.</p>
                </div>
              </div>
              <a class="header__link my-5 font-16" href="backups-how-it-works.html">Learn More About the Process <i class="fa fa-angle-right" aria-hidden="true"></i></a>

            </div>
            <div class="col-md-5 col-sm-12">
              <img class="w-100 mw-530 mt-5" src="/images/backup/intuitive-configuration.webp"/>
            </div>
          </div>
        </div>
      </div>

      <div class="resources section-medium">      
        <div class="container content-center flex-column align-items-center">
          <p class="people-choose__main-title mw-800 text-bondi-blue font-35 line-height-40 pt-0">Join thousands of developers who trust Codekeeper Backups to protect their valuable codebases.</p>
        </div>
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="people-choose__box"> 
                <div class="d-flex align-items-center flex-column">
                  <img class="mw-110" src="/images/backup/sarah.webp" alt="Sarah Image"/>
                  <p class="people-choose__text text-center mt-4">Codekeeper Backups has been a game-changer for our team. It's incredibly easy to use and provides us peace of mind knowing our code is secure.</p>
                  <p class="people-choose__name">Sarah M.</p>
                  <p class="people-choose__subtext">Lead Developer at Adherent Tech</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people-choose__box">
                <div class="d-flex align-items-center flex-column">
                  <img class="mw-110" src="/images/backup/james.webp" alt="James Image"/>
                  <p class="people-choose__text text-center mt-4">With Codekeeper Backups, I never have to worry about losing my code again. 
                    The integration with all major platforms makes it a no-brainer for any developer.</p>
                  <p class="people-choose__name">James K.</p>
                  <p class="people-choose__subtext">Freelance Software Engineer</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people-choose__box">
                <div class="d-flex align-items-center flex-column">
                  <img class="mw-110" src="/images/backup/manoj.webp" alt="Manoj Image"/>
                  <p class="people-choose__text text-center mt-4">Codekeeper Backups has been a game-changer for our team. It's incredibly easy to use and provides us peace of mind knowing our code is secure.</p>
                  <p class="people-choose__name">Manoj P.</p>
                  <p class="people-choose__subtext">CTO at Code Central</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="resources">
        <div class="container">
          <p class="people-choose__main-subtitle2 mx-auto my-4 pb-5 mt-150">Trusted partner of these great brands from around the world!</p>
          <img class="image-style" src="/images/landing/companies.webp"/>
        </div>
      
        <div class="container">
          <p class="people-choose__main-title text-bondi-blue text-center mt-5">Elevate Your Compliance Strategy!</p>
          <p class="best-price__text2 mt-4 text-bondi-blue text-center font-22">Try Codekeeper Backups today</p>
        </div>
        <div class="people-choose__bg min-h-300"></div>
        <div class="content-center mt-negative-250">
          <img class="mw-530 mx-auto image-style m-3" src="/images/backup/backup-repository.webp"/>
        </div>
        <div class="container mb-200">
          <p class="software-escrow__title mb-1 fw-light text-center mt-5">Unlimited Repository Backup</p>
          <p class="best-price__text2 mt-4 text-dark-cyan text-center font-18"><span>$99</span><br>/ month / user</p>
          <a class="button btn-cerulean3 mx-auto px-5 mt-4" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="backups">
            Get Started
          </a>
          <p class="software-escrow__text mt-4 text-center font-14"><i class="fa fa-check-circle text-light-green mr-2"></i>Best price guaranteed</p>
          <p class="software-escrow__text text-center font-14"><i class="fa fa-check-circle text-light-green mr-2"></i>No hidden costs</p>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="backups">
      <div class="backups__footer-bg">
        <div class="container">
          <div class="backups__footer-content">
            
            <div class="d-flex align-items-center mobile-centered">
              <a href="backups.html"><img class="backups__footer-logo" alt="Codekeeper backups logo" src="/images/backup/ck-backups-logo.svg"/></a>
              <a class="backups__footer-link mx-2" href="backups-how-it-works.html">How it Works</a>
              <a class="backups__footer-link mx-2" href="backups-pricing.html">Pricing</a>
            </div>
            <div class="d-flex align-items-center mobile-centered">
              <a class="backups__footer-link" href="https://legal.codekeeper.co/page?page=TermsConditions">Terms of Service</a>
              <span class="backups__footer-bullet">&#8226;</span>
              <a class="backups__footer-link" href="https://legal.codekeeper.co/page?page=PrivacyPolicy">Privacy Policy.</a>
            </div>
          </div>
          <p class="backups__footer-text mt-3">Codekeeper, Inc. - All rights reserved <script>document.write( new Date().getFullYear() );</script>.</p>
        </div>
      </div>
    </div>
  </div>

  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/backups.html')) {
    document.title = "Codekeeper Backups Homepage"
    document.getElementsByTagName('meta')["description"].content = "noindex";
  }
  </script>
  <!--jQuery first then Bootstrap JS.-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>