<!DOCTYPE html>
<html lang="en">

<head>
  <!--Required meta tags-->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <title>Backups - Book a Demo</title>
  <meta name="robots" content="noindex">
  <link href="./images/OS.png" rel="icon" sizes="16x16" type="image/png" />
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="./css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>

  <script
    src="https://js.chargebee.com/v2/chargebee.js"
    data-cb-site="codekeeperbilling"
    data-cb-ga-enabled="true" >
  </script>

</head>

<body>
  
  <div class="bg-white">
    <div class="container-fluid px-0">
      <!-- Navigation -->
      <nav class="navbar fixed-top navbar-fixed-top navbar-expand-lg navbar-light p-0 bg-white d-flex flex-column">
        <div class="container-fluid p-3 nav-box-shadow">
          <a class="navbar-brand d-flex align-items-center backups-logo-margin" href="backups.html"><img class="header__logo-backups" src="/images/backup/ck-backups-logo.svg"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav align-items-center w-100">
              <li class="nav-item">
                <a class="nav-link nav-margin text-transform-none" href="backups-how-it-works.html">How it Works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-margin space-no-wrap" href="backups-pricing.html">Pricing</a>
              </li>

              <a class="button btn-cerulean2 nav-margin font-16 backups-nav-margin " href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="backups">
                Get Started
              </a>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Header -->

      <div class="book-demo">
        <!-- Header -->
        <div class="header__content overflow-hidden">
          <div class="container">
            <h1 class="header__title">{{ site.data[page.lang]['book_demo']['book_a_demo'] }}</h1>
            <p class="header__subtitle mt-4">{{ site.data[page.lang]['book_demo']['schedule_a_session'] }}</p>
            <div class="header__devider"></div>

            <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/connor-jackson/book-a-demo-backups?embed=true"></div>
          </div>
        </div>
        <!-- First Section -->
        <div class="questions__bg overflow-hidden">
          <div class="container">
            <div class="d-flex justify-content-between flex-wrap my-4">
              <p class="questions__title mw-530">{{ site.data[page.lang]['book_demo']['things_we'] }}</p>
              <img class="questions__image" src="/images/landing/demo-call.webp"/>
            </div>
            <div class="row mt-5">
              <div class="col-md-6 col-sm-12 mt-4">
                <p class="questions__box-title text-primary">{{ site.data[page.lang]['book_demo']['for_software_developers'] }}</p>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg"/>
                  <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_we_securely'] }}</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg"/>
                  <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_you_can_integrate'] }}</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg"/>
                  <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_you_can_use'] }}</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg"/>
                  <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_we_protect'] }}</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg"/>
                  <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_we_even'] }}</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 mt-4">
                <p class="questions__box-title text-secondary">{{ site.data[page.lang]['book_demo']['for_software_clients'] }}</p>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg"/>
                  <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_an_escrow'] }}</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg"/>
                  <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['which_steps'] }}</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg"/>
                  <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_we_can_help'] }}</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg"/>
                  <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_you_can_make'] }}</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg"/>
                  <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_costs_are'] }}</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
    
        <!-- Section -->
        <div class="bg-white overflow-hidden">
          <div class="container">
            <div class="section-medium pricing">
              <p class="questions__title mt-5">{{ site.data[page.lang]['book_demo']['frequently_asked'] }}</p>
              <ul class="faq mt-5 pl-0">
                <li class="q d-flex align-items-center justify-content-between bg-white">
                  <p class="section__subtitle mt-3">{{ site.data[page.lang]['book_demo']['am_i_committing'] }}</p>
                  <img src="/images/integrations/icon-down.svg"/>
                </li>
                <li class="a section__text bg-white">{{ site.data[page.lang]['book_demo']['joining_our'] }}</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3">{{ site.data[page.lang]['book_demo']['can_i_have'] }} </p>
                  <img src="/images/integrations/icon-down.svg"/>
                </li>
                <li class="a section__text bg-white">{{ site.data[page.lang]['book_demo']['yes_we_often'] }}</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3">{{ site.data[page.lang]['book_demo']['what_are_the'] }}</p>
                  <img src="/images/integrations/icon-down.svg"/>
                </li>
                <li class="a section__text bg-white">{{ site.data[page.lang]['book_demo']['by_default_our'] }}</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3">{{ site.data[page.lang]['book_demo']['do_i_need'] }}</p>
                  <img src="/images/integrations/icon-down.svg"/>
                </li>
                <li class="a section__text bg-white">{{ site.data[page.lang]['book_demo']['you_can'] }} </li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3">{{ site.data[page.lang]['book_demo']['can_we_discuss'] }}</p>
                  <img src="/images/integrations/icon-down.svg"/>
                </li>
                <li class="a section__text bg-white">{{ site.data[page.lang]['book_demo']['we_are_happy'] }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="resources">
        <div class="container">
          <p class="people-choose__main-subtitle2 mx-auto my-4 pb-5 mt-5">Trusted partner of these great brands from around the world!</p>
          <img class="image-style" src="/images/landing/companies.webp"/>
        </div>
      
        <div class="container">
          <p class="people-choose__main-title text-bondi-blue text-center mt-5">Elevate Your Compliance Strategy!</p>
          <p class="best-price__text2 mt-4 text-bondi-blue text-center font-22">Try Codekeeper Backups today</p>
        </div>
        <div class="people-choose__bg min-h-300"></div>
        <div class="content-center mt-negative-250">
          <img class="mw-530 mx-auto image-style m-3" src="/images/backup/backup-repository.webp"/>
        </div>
        <div class="container mb-200">
          <p class="software-escrow__title mb-1 fw-light text-center mt-5">Unlimited Repository Backup</p>
          <p class="best-price__text2 mt-4 text-dark-cyan text-center font-18"><span>$99</span><br>/ month / user</p>
          <a class="button btn-cerulean3 mx-auto px-5 mt-4" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="backups">
            Get Started
          </a>
          <p class="software-escrow__text mt-4 text-center font-14"><i class="fa fa-check-circle text-light-green mr-2"></i>Best price guaranteed</p>
          <p class="software-escrow__text text-center font-14"><i class="fa fa-check-circle text-light-green mr-2"></i>No hidden costs</p>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="backups">
      <div class="backups__footer-bg">
        <div class="container">
          <div class="backups__footer-content">
            
            <div class="d-flex align-items-center mobile-centered">
              <a href="backups.html"><img class="backups__footer-logo" alt="Codekeeper backups logo" src="/images/backup/ck-backups-logo.svg"/></a>
              <a class="backups__footer-link mx-2" href="backups-how-it-works.html">How it Works</a>
              <a class="backups__footer-link mx-2" href="backups-pricing.html">Pricing</a>
            </div>
            <div class="d-flex align-items-center mobile-centered">
              <a class="backups__footer-link" href="https://legal.codekeeper.co/page?page=TermsConditions">Terms of Service</a>
              <span class="backups__footer-bullet">&#8226;</span>
              <a class="backups__footer-link" href="https://legal.codekeeper.co/page?page=PrivacyPolicy">Privacy Policy.</a>
            </div>
          </div>
          <p class="backups__footer-text mt-3">Codekeeper, Inc. - All rights reserved <script>document.write( new Date().getFullYear() );</script>.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/backups.html')) {
    document.title = "Codekeeper Backups Homepage"
    document.getElementsByTagName('meta')["description"].content = "noindex";
  }
  </script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

</body>

</html>