<!DOCTYPE html>
<html lang="en">

<head>
  <!--Required meta tags-->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <title>EU React</title>
  <meta name="robots" content="noindex">
  <link href="./images/OS.png" rel="icon" sizes="16x16" type="image/png" />
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="./css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</head>

<body>
  <div class="bg-white">
    <div class="container-fluid resources px-0">
      <!-- Navigation -->
      {% include navigation.html %}
      <!-- Header -->
      <div class="header__bg-landing">
        <img class="header__bg-left" src="/images/landing/illustration-top.webp" alt="Background Image"/>
        <img class="header__bg-right" src="/images/landing/illustration-bottom.webp" alt="Background Image"/>
        <div class="container section-medium">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h1 class="header__title2 mt-4">Source Code Backup Made Easy</h1>
              <p class="header__subtitle2 my-4">Automated backup for your source code repositories from Github, Bitbucket, Gitlab, Azure DevOps and other source code management platforms.</p>
              <a class="button btn-cerulean3 mr-4 mb-4 px-5" href="pricing.html">
                Get Started
              </a>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="image-style" src="/images/backup/backup-header-image.webp" alt="Background Image"/>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid section-medium pricing">
        <p class="protect__subtext text-slate-gray fw-light">Trusted partner of these great brands from around the world!</p>
        <div class="tech-slideshow">
          <div class="slideshow-brands">
            <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
              <img class="protect__logos" src="/images/logos/axxiome.svg"/>
              <img class="protect__logos" src="/images/logos/intuit.svg"/>
              <img class="protect__logos" src="/images/logos/Bayer.svg"/>
              <img class="protect__logos" src="/images/logos/slate-digital.svg"/>
              <img class="protect__logos" src="/images/logos/colorado.svg"/>
              <img class="protect__logos" src="/images/logos/zynga.svg"/>
              <img class="protect__logos" src="/images/logos/gorenje.svg"/>
              <img class="protect__logos" src="/images/logos/axxiome.svg"/>
              <img class="protect__logos" src="/images/logos/intuit.svg"/>
              <img class="protect__logos" src="/images/logos/Bayer.svg"/>
              <img class="protect__logos" src="/images/logos/slate-digital.svg"/>
              <img class="protect__logos" src="/images/logos/colorado.svg"/>
              <img class="protect__logos" src="/images/logos/zynga.svg"/>
              <img class="protect__logos" src="/images/logos/gorenje.svg"/>
              <img class="protect__logos" src="/images/logos/axxiome.svg"/>
              <img class="protect__logos" src="/images/logos/intuit.svg"/>
              <img class="protect__logos" src="/images/logos/Bayer.svg"/>
              <img class="protect__logos" src="/images/logos/slate-digital.svg"/>
              <img class="protect__logos" src="/images/logos/colorado.svg"/>
              <img class="protect__logos" src="/images/logos/zynga.svg"/>
              <img class="protect__logos" src="/images/logos/gorenje.svg"/>
            </div>
            <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
              <img class="protect__logos" src="/images/logos/Pepsico_large.svg"/>
              <img class="protect__logos" src="/images/logos/general-electric.svg"/>
              <img class="protect__logos" src="/images/logos/mercedes-benz.svg"/>
              <img class="protect__logos" src="/images/logos/nestle.svg"/>
              <img class="protect__logos" src="/images/logos/Airbus.svg"/>
              <img class="protect__logos" src="/images/logos/the-economist.svg"/>
              <img class="protect__logos" src="/images/logos/Pepsico_large.svg"/>
              <img class="protect__logos" src="/images/logos/general-electric.svg"/>
              <img class="protect__logos" src="/images/logos/mercedes-benz.svg"/>
              <img class="protect__logos" src="/images/logos/nestle.svg"/>
              <img class="protect__logos" src="/images/logos/Airbus.svg"/>
              <img class="protect__logos" src="/images/logos/the-economist.svg"/>
              <img class="protect__logos" src="/images/logos/Pepsico_large.svg"/>
              <img class="protect__logos" src="/images/logos/general-electric.svg"/>
              <img class="protect__logos" src="/images/logos/mercedes-benz.svg"/>
              <img class="protect__logos" src="/images/logos/nestle.svg"/>
              <img class="protect__logos" src="/images/logos/Airbus.svg"/>
              <img class="protect__logos" src="/images/logos/the-economist.svg"/>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container pt-100 pb-5 software-escrow">
        <h2 class="mentions__title mt-5 text-center">Does repository backup have<br> to be this hard?</h2>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12">
            <div class="easy__box content-center flex-column mt-4">
              <img class="mh-150 mx-auto image-style mt-4" src="/images/backup/outdated-procedures.webp"/>
              <p class="easy__title text-center">Outdated Procedures</p>
              <p class="easy__subtitle text-center mw-260 mx-auto">Outdated backup procedures leading to loss of up-to-date data stored in escrow.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box content-center flex-column mt-4">
              <img class="mh-150 mx-auto image-style mt-4" src="/images/backup/risk-of-downtime.webp"/>
              <p class="easy__title text-center">Risk of Downtime</p>
              <p class="easy__subtitle text-center mw-260 mx-auto">Causing business-critical software to become inaccessible.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box content-center flex-column mt-4">
              <img class="mh-150 mx-auto image-style mt-4" src="/images/backup/risk-of-attack.webp"/>
              <p class="easy__title text-center">Risk of Attack</p>
              <p class="easy__subtitle text-center mw-260 mx-auto">Attackers wiping source code from repositories and replacing it with ransomware.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="software-escrow__bg-gray3"></div>
      <div class="container">
        <p class="people-choose__main-title pt-4">Make it easy with Codekeeper</p>
        <p class="people-choose__main-subtitle mx-auto mw-530">The ultimate solution for automated backup of your source code repositories</p>
        <a class="button btn-cerulean3 mr-4 mb-4 px-5 mx-auto" href="pricing.html">
          Get Started
        </a>
      </div>
      <div class="container mt-150">
        <div class="row column-reverse-mobile mt-5">
          <div class="col-md-5 col-sm-12">
            <img class="software-escrow__image" src="/images/backup/automated-daily.webp" alt="Automated daily backups Image"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="software-escrow__title mt-5">Automated daily backups</p>
            <p class="software-escrow__subtitle">We automatically sync your repositories to our centralized platform, so you can rest easy knowing your data is always safe.</p>
          </div>
        </div>
      </div>
      <div class="container pt-5">
        <div class="row mt-5">
          <div class="col-md-7 col-sm-12">
            <p class="software-escrow__title mt-5 ml-auto text-align-end">Various backup storages</p>
            <p class="software-escrow__subtitle ml-auto text-align-end">We offer multiple backup storages, so you can choose the solution that best suits your needs.</p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="software-escrow__image" src="/images/backup/various-backup.webp" alt="Various backup storages"/>
          </div>
        </div>
      </div>
      <div class="container pt-5">
        <div class="row column-reverse-mobile mt-5">
          <div class="col-md-5 col-sm-12">
            <img class="software-escrow__image" src="/images/backup/one-click-backups.webp" alt="One-click manual backups Image"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="software-escrow__title mt-5">One-click manual backups</p>
            <p class="software-escrow__subtitle">Prefer manual backups? Our platform allows for a simple one-click manual backup solution.</p>
          </div>
        </div>
      </div>
      <div class="people-choose__bg">
        <div class="container pt-5 pb-200">
          <div class="row my-5">
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title mt-5 ml-auto text-align-end">GitHub restore and Disaster Recovery</p>
              <p class="software-escrow__subtitle ml-auto text-align-end">We can help you get up and running again in no time in the event of the unthinkable happening.</p>
            </div>
            <div class="col-md-5 col-sm-12">
              <img class="software-escrow__image" src="/images/backup/github-restore.webp" alt="Disaster Recovery Image"/>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-negative-80">
        <div class="best-price__bg">
          <img class="best-price__small-shape" src="/images/landing/small-shape.webp" alt="Small Shape Image"/>
          <img class="best-price__medium-shape" src="/images/landing/medium-shape.webp" alt="Medium Shape Image"/>
          <img class="best-price__large-shape" src="/images/landing/large-shape.webp" alt="Large Shape Image"/>
          <div class="row mt-5">
            <div class="col-md-7 col-sm-12 content-center">
              <div>
                <p class="best-price__title2 mt-4">Unlimited<br> Repository Backup</p>
                <p class="best-price__text">for only</p>
                <p class="best-price__text2 mt-4"><span>$49</span>/ month / user</p>
                <a class="button btn-yellow pricing-href my-4" href="pricing.html">
                  Get Started
                </a>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 content-center">
              <img class="best-price__image mb-3" src="/images/backup/unlimited-repository.webp" alt="Unlimited Repository Backup Image"/>
            </div>
          </div>
        </div>
      </div>
      <div class="software-escrow section-large">
        <p class="we-support__title mx-auto">Backup for every platform</p>
        <div class="resources">
          <div class="applications__logos mt-5">
            <div class="applications__logo mx-3">
              <img class="applications__logo-image" src="/images/homepage/logos/bitbucket.svg"/>
              <p class="applications__logo-text">Bitbucket</p>
            </div>
            <div class="applications__logo mx-3">
              <img class="applications__logo-image" src="/images/homepage/logos/github.svg"/>
              <p class="applications__logo-text">GitHub</p>
            </div>
            <div class="applications__logo mx-3">
              <img class="applications__logo-image" src="/images/homepage/logos/gitlab-large.svg"/>
              <p class="applications__logo-text">GitLab</p>
            </div>
            <div class="applications__logo mx-3">
              <img class="applications__logo-image" src="/images/homepage/logos/git.svg"/>
              <p class="applications__logo-text">Git</p>
            </div>
            <div class="applications__logo mx-3">
              <img class="applications__logo-image" src="/images/homepage/logos/google-cloud-large.svg"/>
              <p class="applications__logo-text">Google Cloud</p>
            </div>
            <div class="applications__logo mx-3">
              <img class="applications__logo-image" src="/images/homepage/logos/azure-large.svg"/>
              <p class="applications__logo-text">Microsoft Azure</p>
            </div>
            <div class="applications__logo mx-3">
              <img class="applications__logo-image" src="/images/homepage/logos/amazon2.svg"/>
              <p class="applications__logo-text">Amazon Web Services</p>
            </div>
          </div>
        </div>
        <p class="software-escrow__subtitle text-center mx-auto"><a href="contact.html" class="ontact-href text-bondi-blue">Contact us</a> if your preferred platform is not listed yet. </p>
      </div>
      <div class="container-fluid mb-200">
        <div class="beneficiary__container mx-auto bg-alice-blue">
          <div class="container">
            <p class="software-escrow__subtitle text-bondi-blue">How it works</p>
            <p class="deposit-assets__main-title pb-5 text-align-start">Effortless, intuitive configuration</p>
            <div class="row">
              <div class="col-md-5 col-sm-12">
                <div class="d-flex align-items-start mt-3 position-relative">
                  <img class="mr-3" src="/images/how-it-works/icons/one.svg"/>
                  <div class="mt-negative-6">
                    <p class="software-escrow__title mb-1 fw-400">Select & connect platform</p>
                    <p class="software-escrow__subtitle">Sign into your account and select your preferred platform to run backups from.</p>
                  </div>
                  <div class="deposit-assets__dotted-line"></div>
                </div>
                <div class="d-flex align-items-start mt-3 position-relative">
                  <img class="mr-3" src="/images/how-it-works/icons/two.svg"/>
                  <div class="mt-negative-6">
                    <p class="software-escrow__title mb-1 fw-400">Start backup</p>
                    <p class="software-escrow__subtitle">The next step is as easy as a simple click to start your backup.</p>
                  </div>
                  <div class="deposit-assets__dotted-line"></div>
                </div>
                <div class="d-flex align-items-start mt-3 position-relative">
                  <img class="mr-3" src="/images/how-it-works/icons/three.svg"/>
                  <div class="mt-negative-6">
                    <p class="software-escrow__title mb-1 fw-400">Backup complete!</p>
                    <p class="software-escrow__subtitle">And there you have it! Now you're covered with automated backups of all your repositories.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-sm-12">
                <img class="w-100 mw-530 mt-5" src="/images/backup/intuitive-configuration.webp"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="resources">
        <div class="container">
          <p class="people-choose__main-subtitle2 mx-auto my-4 pb-5">Trusted partner of these great brands from around the world!</p>
          <img class="image-style" src="/images/landing/companies.webp"/>
        </div>
      
        <div class="container content-center">
          <p class="people-choose__main-title mw-800 text-bondi-blue mt-5">Backup your repository today!</p>
        </div>
        <div class="people-choose__bg min-h-300"></div>
        <div class="content-center mt-negative-250">
          <img class="mw-530 mx-auto image-style m-3" src="/images/backup/backup-repository.webp"/>
        </div>
        <div class="container mb-200">
          <p class="software-escrow__title mb-1 fw-light text-center mt-5">Unlimited Repository Backup</p>
          <p class="best-price__text2 mt-4 text-bondi-blue text-center"><span>$49</span><br>/ month / user</p>
          <a class="button btn-cerulean3 pricing-href mx-auto px-5 mt-4" href="pricing.html">
            Get Started
          </a>
          <p class="software-escrow__text mt-4 text-center"><i class="fa fa-check-circle text-light-green mr-2"></i>Best price guaranteed</p>
          <p class="software-escrow__text text-center"><i class="fa fa-check-circle text-light-green mr-2"></i>No hidden costs</p>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/backup.html')) {
    document.title = "Codekeeper backup page"
    document.getElementsByTagName('meta')["description"].content = "noindex";
  }
  </script>
  <!--jQuery first then Bootstrap JS.-->
  <script type="text/javascript" src="./js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>