<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="book-demo bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="container">
        <h1 class="header__title">{{ site.data[page.lang]['book_demo']['book_a_demo'] }}</h1>
        <p class="header__subtitle mt-4">{{ site.data[page.lang]['book_demo']['schedule_a_session'] }}</p>
        <div class="header__devider"></div>
        <!-- <div class="my-4">
          <a data-toggle="modal" data-target="#meetingModal" class="button btn-cerulean outline-none underline-none">
            {{ site.data[page.lang]['how_it_works']['schedule_a_demo'] }} 
          </a>
        </div> -->
        <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/connor-jackson/demo-meeting?embed=true"></div>
      </div>
    </div>
    <!-- First Section -->
    <div class="questions__bg overflow-hidden">
      <div class="container">
        <div class="d-flex justify-content-between flex-wrap my-4">
          <p class="questions__title mw-530">{{ site.data[page.lang]['book_demo']['things_we'] }}</p>
          <img class="questions__image" src="/images/landing/demo-call.webp"/>
        </div>
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12 mt-4">
            <p class="questions__box-title text-primary">{{ site.data[page.lang]['book_demo']['for_software_developers'] }}</p>
            <div class="d-flex align-items-start">
              <img class="mr-2 mt-1" src="/images/landing/check-primary.svg"/>
              <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_we_securely'] }}</p>
            </div>
            <div class="d-flex align-items-start">
              <img class="mr-2 mt-1" src="/images/landing/check-primary.svg"/>
              <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_you_can_integrate'] }}</p>
            </div>
            <div class="d-flex align-items-start">
              <img class="mr-2 mt-1" src="/images/landing/check-primary.svg"/>
              <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_you_can_use'] }}</p>
            </div>
            <div class="d-flex align-items-start">
              <img class="mr-2 mt-1" src="/images/landing/check-primary.svg"/>
              <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_we_protect'] }}</p>
            </div>
            <div class="d-flex align-items-start">
              <img class="mr-2 mt-1" src="/images/landing/check-primary.svg"/>
              <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_we_even'] }}</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mt-4">
            <p class="questions__box-title text-secondary">{{ site.data[page.lang]['book_demo']['for_software_clients'] }}</p>
            <div class="d-flex align-items-start">
              <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg"/>
              <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_an_escrow'] }}</p>
            </div>
            <div class="d-flex align-items-start">
              <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg"/>
              <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['which_steps'] }}</p>
            </div>
            <div class="d-flex align-items-start">
              <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg"/>
              <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_we_can_help'] }}</p>
            </div>
            <div class="d-flex align-items-start">
              <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg"/>
              <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_you_can_make'] }}</p>
            </div>
            <div class="d-flex align-items-start">
              <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg"/>
              <p class="questions__box-subtitle">{{ site.data[page.lang]['book_demo']['how_costs_are'] }}</p>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- Section -->
    <div class="bg-white overflow-hidden">
      <div class="container">
        <div class="section-medium pricing">
          <p class="questions__title mt-5">{{ site.data[page.lang]['book_demo']['frequently_asked'] }}</p>
          <ul class="faq mt-5 pl-0">
            <li class="q d-flex align-items-center justify-content-between bg-white">
              <p class="section__subtitle mt-3">{{ site.data[page.lang]['book_demo']['am_i_committing'] }}</p>
              <img src="/images/integrations/icon-down.svg"/>
            </li>
            <li class="a section__text bg-white">{{ site.data[page.lang]['book_demo']['joining_our'] }}</li>
            <li class="q d-flex align-items-center justify-content-between q-border bg-white">
              <p class="section__subtitle mt-3">{{ site.data[page.lang]['book_demo']['can_i_have'] }} </p>
              <img src="/images/integrations/icon-down.svg"/>
            </li>
            <li class="a section__text bg-white">{{ site.data[page.lang]['book_demo']['yes_we_often'] }}</li>
            <li class="q d-flex align-items-center justify-content-between q-border bg-white">
              <p class="section__subtitle mt-3">{{ site.data[page.lang]['book_demo']['what_are_the'] }}</p>
              <img src="/images/integrations/icon-down.svg"/>
            </li>
            <li class="a section__text bg-white">{{ site.data[page.lang]['book_demo']['by_default_our'] }}</li>
            <li class="q d-flex align-items-center justify-content-between q-border bg-white">
              <p class="section__subtitle mt-3">{{ site.data[page.lang]['book_demo']['do_i_need'] }}</p>
              <img src="/images/integrations/icon-down.svg"/>
            </li>
            <li class="a section__text bg-white">{{ site.data[page.lang]['book_demo']['you_can'] }} </li>
            <li class="q d-flex align-items-center justify-content-between q-border bg-white">
              <p class="section__subtitle mt-3">{{ site.data[page.lang]['book_demo']['can_we_discuss'] }}</p>
              <img src="/images/integrations/icon-down.svg"/>
            </li>
            <li class="a section__text bg-white">{{ site.data[page.lang]['book_demo']['we_are_happy'] }}</li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>