<!DOCTYPE html>
<html lang="en">

<head>
  <!--Required meta tags-->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <title>Backups - Book a Demo</title>
  <meta name="robots" content="noindex">
  <link href="./images/OS.png" rel="icon" sizes="16x16" type="image/png" />
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="./css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>

  <script
    src="https://js.chargebee.com/v2/chargebee.js"
    data-cb-site="codekeeperbilling"
    data-cb-ga-enabled="true" >
  </script>

</head>

<body>
  
  <div class="bg-white">
    <div class="container-fluid px-0">
      <!-- Backups Navigation -->
      {% include backups-navigation.html %}
      <!-- Header -->
      <div class="book-demo">
        <!-- Header -->
        <div class="header__content overflow-hidden">
          <div class="container">
            <h1 class="header__title">Book a Demo</h1>
            <p class="header__subtitle mt-4">Schedule a session with one of our advisors to get a personalized demo and discuss your situation. Bring all your legal, technical and other questions!</p>
            <div class="header__devider"></div>
            <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/codekeeper/introduction-call?embed=true"></div>
          </div>
        </div>
        <!-- First Section -->
        <div class="questions__bg overflow-hidden">
          <div class="container">
            <div class="d-flex justify-content-between flex-wrap my-4">
              <p class="questions__title mw-530">Things we typically cover during a demo call</p>
              <img class="questions__image" src="/images/landing/demo-call.webp" alt="Demo Call Image" loading="lazy"/>
            </div>
            <div class="row mt-5">
              <div class="col-md-6 col-sm-12 mt-4">
                <p class="questions__box-title text-primary">For Software Developers</p>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg" alt="Check Icon" loading="lazy"/>
                  <p class="questions__box-subtitle">How we securely handle and store your IP and data</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg" alt="Check Icon" loading="lazy"/>
                  <p class="questions__box-subtitle">How you can integrate directly from your developer tools (like Github, Azure, etc.)</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg" alt="Check Icon" loading="lazy"/>
                  <p class="questions__box-subtitle">How you can use escrow to eliminate sales friction with your leads</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg" alt="Check Icon" loading="lazy"/>
                  <p class="questions__box-subtitle">How we protect your interests with a solid escrow agreement</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg" alt="Check Icon" loading="lazy"/>
                  <p class="questions__box-subtitle">How we even protect your interests when a release event is triggered</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 mt-4">
                <p class="questions__box-title text-secondary">For Software Clients</p>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg" alt="Check Icon" loading="lazy"/>
                  <p class="questions__box-subtitle">How an escrow works so that you can protect your operation from risk</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg" alt="Check Icon" loading="lazy"/>
                  <p class="questions__box-subtitle">Which steps there are in the escrow process and options to limit downtime</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg" alt="Check Icon" loading="lazy"/>
                  <p class="questions__box-subtitle">How we can help you when a release triggers to recover quickly</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg" alt="Check Icon" loading="lazy"/>
                  <p class="questions__box-subtitle">How you can make sure the software developers store the correct version</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg" alt="Check Icon" loading="lazy"/>
                  <p class="questions__box-subtitle">How costs are minimised due to our automation options</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
    
        <!-- Section -->
        <div class="bg-white overflow-hidden">
          <div class="container">
            <div class="section-medium pricing">
              <p class="questions__title mt-5">Frequently asked questions</p>
              <ul class="faq mt-5 pl-0">
                <li class="q d-flex align-items-center justify-content-between bg-white">
                  <p class="section__subtitle mt-3 text-dark-cyan">Am I committing to anything when booking a demo?</p>
                  <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
                </li>
                <li class="a section__text bg-white">Joining our demo meeting has no commitment or costs of any kind connected to it. We welcome the opportunity to discuss the ins and outs of software escrow with you.</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3 text-dark-cyan">Can I have my client join the call?</p>
                  <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
                </li>
                <li class="a section__text bg-white">Yes, we often have group calls to make sure every party to the escrow is on the same page</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3 text-dark-cyan">What are the technical requirements to view the demo?</p>
                  <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
                </li>
                <li class="a section__text bg-white">By default our meeting tool is Google Meet, which works right inside your browser (no downloads needed). But if the security practices on your network don't allow for this we can also use Zoom, Teams or another tool that you prefer. Good old telephone also is no problem.</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3 text-dark-cyan">Do I need to book a demo call if I'm ready to setup the escrow?</p>
                  <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
                </li>
                <li class="a section__text bg-white">You can of course also move ahead by registering here. The whole process is risk-free because we offer a money-back guarantee if we cannot configure the escrow for you.</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3 text-dark-cyan">Can we discuss the escrow agreement?</p>
                  <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
                </li>
                <li class="a section__text bg-white">We are happy to take any questions you may have. If you'd like to suggest specific legal clauses, then we can handle these during the onboarding (post-signup) process, to make sure we handle this efficiently.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Backups Brands -->
      {% include backups-brands.html %}
    </div>
    <!-- Footer -->
    {% include backups-footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/book-a-codekeeper-backups-demo.html')) {
    document.title = "Codekeeper Backups Book a Demo Page"
    document.getElementsByTagName('meta')["description"].content = "noindex";
  }
  </script>

  <script src="/js/faqDropdown.js"></script>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>

</html>