<!DOCTYPE html>
<html lang="en">

<head>
  <!--Required meta tags-->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <title>Backups - Book a Demo</title>
  <meta name="robots" content="noindex">
  <link href="./images/OS.png" rel="icon" sizes="16x16" type="image/png" />
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="./css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>

  <script
    src="https://js.chargebee.com/v2/chargebee.js"
    data-cb-site="codekeeperbilling"
    data-cb-ga-enabled="true" >
  </script>

</head>

<body>
  
  <div class="bg-white">
    <div class="container-fluid px-0">
      <!-- Navigation -->
      <nav class="navbar fixed-top navbar-fixed-top navbar-expand-lg navbar-light p-0 bg-white d-flex flex-column">
        <div class="container-fluid p-3 nav-box-shadow">
          <a class="navbar-brand d-flex align-items-center backups-logo-margin" href="backups.html"><img class="header__logo-backups" src="/images/backup/ck-backups-logo.svg" alt="Codekeeper Backups Logo"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav align-items-center w-100">
              <li class="nav-item">
                <a class="nav-link nav-margin text-transform-none" href="backups-how-it-works.html">How it Works</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-margin space-no-wrap" href="backups-pricing.html">Pricing</a>
              </li>

              <a class="button btn-cerulean2 nav-margin font-16 backups-nav-margin " href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="backups">
                Get Started
              </a>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Header -->

      <div class="book-demo">
        <!-- Header -->
        <div class="header__content overflow-hidden">
          <div class="container">
            <h1 class="header__title">Book a Demo</h1>
            <p class="header__subtitle mt-4">Schedule a session with one of our advisors to get a personalized demo and discuss your situation. Bring all your legal, technical and other questions!</p>
            <div class="header__devider"></div>

            <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/connor-jackson/book-a-demo-backups?embed=true"></div>
          </div>
        </div>
        <!-- First Section -->
        <div class="questions__bg overflow-hidden">
          <div class="container">
            <div class="d-flex justify-content-between flex-wrap my-4">
              <p class="questions__title mw-530">Things we typically cover during a demo call</p>
              <img class="questions__image" src="/images/landing/demo-call.webp" alt="Demo Call Image"/>
            </div>
            <div class="row mt-5">
              <div class="col-md-6 col-sm-12 mt-4">
                <p class="questions__box-title text-primary">For Software Developers</p>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg" alt="Check Icon"/>
                  <p class="questions__box-subtitle">How we securely handle and store your IP and data</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg" alt="Check Icon"/>
                  <p class="questions__box-subtitle">How you can integrate directly from your developer tools (like Github, Azure, etc.)</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg" alt="Check Icon"/>
                  <p class="questions__box-subtitle">How you can use escrow to eliminate sales friction with your leads</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg" alt="Check Icon"/>
                  <p class="questions__box-subtitle">How we protect your interests with a solid escrow agreement</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-primary.svg" alt="Check Icon"/>
                  <p class="questions__box-subtitle">How we even protect your interests when a release event is triggered</p>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 mt-4">
                <p class="questions__box-title text-secondary">For Software Clients</p>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg" alt="Check Icon"/>
                  <p class="questions__box-subtitle">How an escrow works so that you can protect your operation from risk</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg" alt="Check Icon"/>
                  <p class="questions__box-subtitle">Which steps there are in the escrow process and options to limit downtime</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg" alt="Check Icon"/>
                  <p class="questions__box-subtitle">How we can help you when a release triggers to recover quickly</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg" alt="Check Icon"/>
                  <p class="questions__box-subtitle">How you can make sure the software developers store the correct version</p>
                </div>
                <div class="d-flex align-items-start">
                  <img class="mr-2 mt-1" src="/images/landing/check-secondary.svg" alt="Check Icon"/>
                  <p class="questions__box-subtitle">How costs are minimised due to our automation options</p>
                </div>
              </div>
            </div>
            
          </div>
        </div>
    
        <!-- Section -->
        <div class="bg-white overflow-hidden">
          <div class="container">
            <div class="section-medium pricing">
              <p class="questions__title mt-5">Frequently asked questions</p>
              <ul class="faq mt-5 pl-0">
                <li class="q d-flex align-items-center justify-content-between bg-white">
                  <p class="section__subtitle mt-3 text-dark-cyan">Am I committing to anything when booking a demo?</p>
                  <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
                </li>
                <li class="a section__text bg-white">Joining our demo meeting has no commitment or costs of any kind connected to it. We welcome the opportunity to discuss the ins and outs of software escrow with you.</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3 text-dark-cyan">Can I have my client join the call?</p>
                  <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
                </li>
                <li class="a section__text bg-white">Yes, we often have group calls to make sure every party to the escrow is on the same page</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3 text-dark-cyan">What are the technical requirements to view the demo?</p>
                  <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
                </li>
                <li class="a section__text bg-white">By default our meeting tool is Google Meet, which works right inside your browser (no downloads needed). But if the security practices on your network don't allow for this we can also use Zoom, Teams or another tool that you prefer. Good old telephone also is no problem.</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3 text-dark-cyan">Do I need to book a demo call if I'm ready to setup the escrow?</p>
                  <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
                </li>
                <li class="a section__text bg-white">You can of course also move ahead by registering here. The whole process is risk-free because we offer a money-back guarantee if we cannot configure the escrow for you.</li>
                <li class="q d-flex align-items-center justify-content-between q-border bg-white">
                  <p class="section__subtitle mt-3 text-dark-cyan">Can we discuss the escrow agreement?</p>
                  <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
                </li>
                <li class="a section__text bg-white">We are happy to take any questions you may have. If you'd like to suggest specific legal clauses, then we can handle these during the onboarding (post-signup) process, to make sure we handle this efficiently.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="resources">
        <div class="container">
          <p class="people-choose__main-subtitle2 mx-auto my-4 pb-5 mt-5">Trusted partner of these great brands from around the world!</p>
          <img class="image-style" src="/images/landing/companies.webp" alt="Companies Image"/>
        </div>
      
        <div class="container">
          <p class="people-choose__main-title text-bondi-blue text-center mt-5">Elevate Your Compliance Strategy!</p>
          <p class="best-price__text2 mt-4 text-bondi-blue text-center font-22">Try Codekeeper Backups today</p>
        </div>
        <div class="people-choose__bg min-h-300"></div>
        <div class="content-center mt-negative-250">
          <img class="mw-530 mx-auto image-style m-3" src="/images/backup/start-protecting.webp" alt="Start Protecting Image"/>
        </div>
        <div class="container mb-200">
          <p class="software-escrow__title mb-1 fw-light text-center mt-5">Unlimited Repository Backup</p>
          <p class="best-price__text2 mt-4 text-dark-cyan text-center font-18"><span>$59</span><br>/ month / user</p>
          <a class="button btn-cerulean3 mx-auto px-5 mt-4" href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="backups">
            Get Started
          </a>
          <p class="software-escrow__text mt-4 text-center font-14"><i class="fa fa-check-circle text-light-green mr-2"></i>Best price guaranteed</p>
          <p class="software-escrow__text text-center font-14"><i class="fa fa-check-circle text-light-green mr-2"></i>No hidden costs</p>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div class="backups">
      <div class="backups__footer-bg">
        <div class="container">
          <div class="backups__footer-content">
            
            <div class="d-flex align-items-center mobile-centered">
              <a href="backups.html"><img class="backups__footer-logo" alt="Codekeeper backups logo" src="/images/backup/ck-backups-logo.svg"/></a>
              <a class="backups__footer-link mx-2" href="backups-how-it-works.html">How it Works</a>
              <a class="backups__footer-link mx-2" href="backups-pricing.html">Pricing</a>
            </div>
            <div class="d-flex align-items-center mobile-centered">
              <a class="backups__footer-link" href="https://legal.codekeeper.co/page?page=TermsConditions">Terms of Service</a>
              <span class="backups__footer-bullet">&#8226;</span>
              <a class="backups__footer-link" href="https://legal.codekeeper.co/page?page=PrivacyPolicy">Privacy Policy.</a>
            </div>
          </div>
          <p class="backups__footer-text mt-3">Codekeeper, Inc. - All rights reserved <script>document.write( new Date().getFullYear() );</script>.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/backups.html')) {
    document.title = "Codekeeper Backups Homepage"
    document.getElementsByTagName('meta')["description"].content = "noindex";
  }
  </script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>


</body>

</html>