<body>
  <div class="contact">
    <!-- Header -->
    <div class="bg-light-gray">
      <div class="container">
        {% include navigation.html %}
        <div class="row py-4">
          <div class="col-md-7 col-sm-12 checklist__form">
            <h2 class="checklist__title mt-4">{{ site.data[page.lang]['checklist']['startup_launch'] }}</h2>
            <p class="checklist__subtitle mt-2">{{ site.data[page.lang]['checklist']['fill_your_contact'] }}</p>
            <div>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                portalId: "6250848",
                formId: "7620ef1b-8fd2-4b8f-90a7-618805c115f5"
              });
              </script>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 mt-5 d-flex justify-content-center">
            <img class="checklist__image" alt="Checklist Image" src="images/checklist/checklist-image.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white section-medium privacy">
      <div class="container">
        <div class="text-center">
          <h2 class="header__title mx-auto">{{ site.data[page.lang]['checklist']['in_this_guide'] }}:</h2>
          <div class="row mt-5">
            <div class="col-md-4 col-sm-12 mt-5">
              <img class="requirements__icon mx-auto" alt="Privacy laws" src="images/checklist/file-edit-alt.svg"/>
              <p class="requirements__text mt-4">{{ site.data[page.lang]['checklist']['what_is_gdpr'] }}</p>
              <p class="requirements__subtext mx-auto">{{ site.data[page.lang]['checklist']['privacy_regulations'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
              <img class="requirements__icon mx-auto" alt="Checklist" src="images/checklist/file-edit-alt.svg"/>
              <p class="requirements__text mt-4">{{ site.data[page.lang]['checklist']['checklist'] }}</p>
              <p class="requirements__subtext mx-auto">{{ site.data[page.lang]['checklist']['complete_a_checklist'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
              <img class="requirements__icon mx-auto" alt="Fines and Penalties" src="images/checklist/desktop.svg"/>
              <p class="requirements__text mt-4">{{ site.data[page.lang]['checklist']['fines_and_penalties'] }}</p>
              <p class="requirements__subtext mx-auto">{{ site.data[page.lang]['checklist']['understand_what'] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-light-gray py-5 landing">
      <div class="container">
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12 mt-5 pr-5">
            <img class="image-style" alt="Image: Legalsite Status" src="images/landing/Image-Status-2.svg"/>
          </div>
          <div class="col-md-6 col-sm-12 mt-5">
            <h2 class="privacy__title mt-4">{{ site.data[page.lang]['checklist']['about_legalsite'] }} </h2>
            <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['checklist']['legalsite_is'] }} </p>
            <div class="d-flex flex-wrap mobile-center">
              <a class="button btn-purple-lg mt-3 mr-3" href="https://app.legalsite.co/signup">
                {{ site.data[page.lang]['checklist']['get_started'] }}
              </a>
              <a class="button btn-secondary-lg mt-3 mr-3" href="legal-pages.html">
                {{ site.data[page.lang]['checklist']['learn_more'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>