<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container section-large">
      <p class="header__title mw-100 my-5">
        Codekeeper - How to Configure a Software Escrow Agreement
      </p>
      <iframe class="video-player" src="https://www.youtube.com/embed/YnR0iKcnwUU?si=0oQzVbijNOfD2bWt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <div class="header__description-box mt-5">
        <p class="header__description-text">
          Learn how to configure a software escrow agreement with ease on Codekeeper. Follow four simple steps to set up roles, agreement types, and details for both the depositor and beneficiary. Save time and ensure a smooth escrow process. Book a free demo and discover more about software escrow.
        </p>
      </div>
      <div class="d-flex mt-5">
        <p class="header__timestamp">00:01</p>
        <p class="header__timestamp-text">Hi. Welcome to Codekeeper. In this video, we'll learn how to configure a new software escrow agreement. Let's get started.  </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">00:10</p>
        <p class="header__timestamp-text">After you sign up, you will see this dashboard when logging into your account. We'll start by clicking the create new escrow button, and the escrow configuration window will open. </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">00:21</p>
        <p class="header__timestamp-text">The setup is done following these four steps on the sidebar, and we'll go through each one by one, starting with the basics.  </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">00:29</p>
        <p class="header__timestamp-text">First, you will configure the escrow role. Select whether you are the one who will deposit assets, or will receive source code repositories. </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">00:38</p>
        <p class="header__timestamp-text">In this case, I am the depositor. After specifying the role, you will select the type of agreement. Let's select tripartite, meaning the agreement will be signed by the depositor, Codekeeper as the escrow agent, and the beneficiary. Then click save and next. </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">00:57</p>
        <p class="header__timestamp-text">After the basics, we are going to fill in all required details for both depositor and beneficiary, starting with my organization and signatory details. </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">01:06</p>
        <p class="header__timestamp-text"> We'll need at least one representative for the entire escrow configuration process. On the beneficiary side, we hit this invite checkbox to invite the beneficiary to access the escrow information once the agreement is generated. Save and next. </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">01:23</p>
        <p class="header__timestamp-text">This is the deposit step, where you can configure the deposit notifications for the beneficiary. In this process, we'll leave it as default. </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">01:32</p>
        <p class="header__timestamp-text">Next and final step: within the agreement settings, we will configure the legal context, asset types, release conditions, liability and other agreement-related settings. </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">01:44</p>
        <p class="header__timestamp-text">In this example, we will go for a license- and development agreement. As deposit type, we select source code. Then, for release conditions, we select bankruptcy here. </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">01:56</p>
        <p class="header__timestamp-text">After all the details are set and entered correctly, we save them and get to see this pop-up message. Confirm by selecting “Generate agreement”. </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">02:06</p>
        <p class="header__timestamp-text">The escrow agreement has now been sent to Codekeeper for processing, and will be shared soon. When the agreement is ready for review and approval, you and the beneficiary will receive an email.  </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">02:19</p>
        <p class="header__timestamp-text">Visit our website to find out more about software escrow and book your free demo today. </p>
      </div>
      <div class="d-flex mt-4">
        <p class="header__timestamp">02:25</p>
        <p class="header__timestamp-text">Thanks for watching.</p>
      </div>
    </div>
    
  </div>
  {% include snippets.html %}
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/codekeeper-how-to-configure-a-software-escrow-agreement.html')) {
    document.title = "Codekeeper - How to Configure a Software Escrow Agreement"
    document.getElementsByTagName('meta')["description"].content = "Learn how to configure a software escrow agreement with ease on Codekeeper. Follow four simple steps to set up roles, agreement types, and details for both the depositor and beneficiary. Save time and ensure a smooth escrow process. Book a free demo and discover more about software escrow.";
  }
  </script>
  <!-- Snippets -->
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>