<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container section-large">
      <iframe class="video-player" src="https://www.youtube.com/embed/bo5nKXqAwuk?si=qpAFBEbNBxrwwaSp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="header__video-title mt-4">
        All New Online Platform
      </p>
      <p class="header__description-text mt-3 pb-4">
        Exciting news! Introducing our new Codekeeper software escrow platform - modern, user-friendly, and packed with features. Trusted by global brands, we offer top-tier software escrow services at unbeatable prices. Schedule a demo with our experts to enhance your software security.
      </p>
      <div class="row">
        <div class="col-md-7 col-sm-12 faq">
          <div class="header__timestamp-border mt-5">
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:01</p>
              <p class="header__timestamp-text">Hi! I am Jonathan from Codekeeper and I am very pleased to announce the launch of our new Codekeeper software escrow platform. </p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:08</p>
              <p class="header__timestamp-text">We continually invest our resources into staying ahead of market trends and developing innovative solutions to suit our clients needs. </p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:17</p>
              <p class="header__timestamp-text">Over the last few months our technical team of highly skilled software developers and testers has been working tirelessly to design the all-new Codekeeper platform. And it's finally here! </p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:28</p>
              <p class="header__timestamp-text">The new Codekeeper platform offers the most modern, easy-to-navigate user experience available on the market today. </p>
            </div>
            
            
            <div class="" id="questions">
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:37</p>
                <p class="header__timestamp-text">With a fresh new look and simple user interface, it also offers in-app escrow agreement configuration, easy repository integration for developers, insights into the frequency of deposits for beneficiaries, and more. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:52</p>
                <p class="header__timestamp-text">We've grown to include some of the biggest brands in the world on our client list over the last decade. We strive to keep evolving to offer you the best in software escrow services at the best prices guaranteed. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:05</p>
                <p class="header__timestamp-text">Whether you need business continuity or recovery, we've got you covered. Head on over to codekeeper.co to find out more about the solutions we offer, or to set up a demo call with one of our experts. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:19</p>
                <p class="header__timestamp-text">Thanks for watching.</p>
              </div>
            </div>
            <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border content-center" id="openQuestions">
              <span class="text-dark-cyan" id='show'>Show Transcript +</span>
              <span class="text-dark-cyan" id='hide'>Hide Transcript -</span>
            </p>
          </div>
          <div class="header__description-box mt-5 d-flex align-items-center justify-content-between flex-wrap">
            <p class="header__description-text my-3">
              Learn more about Codekeeper
            </p>
            <a class="button btn-cerulean3 how-it-works-href" href="how-it-works.html">
              Learn more
            </a>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <a class="d-flex mt-5 underline-none" href="/an-introduction-to-codekeeper-software-escrow-solutions.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/jf9P1GXFWdo?si=MFVktG84kH8keD_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">An Introduction to Codekeeper - Software Escrow Solutions</p>
          </a>
          <!-- <a class="d-flex mt-5 underline-none" href="/codekeeper-all-new-online-platform.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/bo5nKXqAwuk?si=qpAFBEbNBxrwwaSp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">Codekeeper - All New Online Platform</p>
          </a> -->
          <a class="d-flex mt-5 underline-none" href="/https://www.youtube.com/embed/YnR0iKcnwUU?si=0oQzVbijNOfD2bWt">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/jf9P1GXFWdo?si=MFVktG84kH8keD_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">How to Configure a Software Escrow Agreement</p>
          </a>
          <a class="d-flex mt-5 underline-none" href="/codekeeper-how-to-deposit-your-assets-into-escrow.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/w1GlVo_Gv2U?si=VcncuEPTZ94sw8zP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">How to Deposit Your Assets Into Escrow (Automated)</p>
          </a>
          <a class="d-flex mt-5 underline-none" href="/codekeeper-what-is-a-software-escrow-agreement.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/U3j7Nuh12oU?si=RrZIGTbmUlUkPjTX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">What is a Software Escrow Agreement</p>
          </a>
          <a class="d-flex mt-5 underline-none" href="/codekeeper-what-is-software-escrow.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/mcj37dtxrYU?si=BYnoAEGUpMkt3P6s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">What is Software Escrow</p>
          </a>
        </div>
      </div>
      
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  
  {% include snippets.html %}
  <script>
    $('#questions').hide();
    $('#hide').hide();

    $(".openLines").click(function(){      
        if ($('#hide').is(":visible")) {
          $('#hide').hide();
          $('#show').show();
        }
        else {
          $('#show').hide();
          $('#hide').show();
        }
        $('#questions').toggle(300);
        //  $("div").toggle(300);
    });
  </script>
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/codekeeper-all-new-online-platform.html')) {
    document.title = "Codekeeper - All New Online Platform"
    document.getElementsByTagName('meta')["description"].content = "Exciting news! Introducing our new Codekeeper software escrow platform—modern, user-friendly, and packed with features. Trusted by global brands, we offer top-tier software escrow services at unbeatable prices. Schedule a demo with our experts to enhance your software security.";
  }
  </script>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>