<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="start-guide bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="conduct__header-content">
      <img class="conduct__header-small-shape" src="/images/code-conduct/shape-gray-small.webp" alt="Small Background Shape"/>
      <img class="conduct__header-large-shape" src="/images/code-conduct/shape-gray-large.webp" alt="Large Background Shape"/>
      <div class="container section-large">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p class="conduct__header-title mt-5">Codekeeper Code of Business Conduct</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="image-style mw-420 mt-5 py-5" src="/images/code-conduct/conduct-header-image.webp" alt="Code of Conduct Image"/>
          </div>
        </div>
      </div>
    </div>
    <div class="conduct__bg-gradient">
      <div class="section-large container">
        <p class="conduct__info-title">The Codekeeper Code</p>
        <p class="conduct__info-subtext">At Codekeeper, we firmly believe in conducting business ethically and responsibly. We expect all officers, employees, and contractors (referred to as team members) to embrace the ethical and legal principles described in this Code, and integrate them into their daily activities. We promote the highest standards of integrity throughout our business operations and ensure full compliance with all applicable laws and regulations.<br><br>By adhering to the Code, we collectively strive to maintain a culture of trust, transparency, and accountability.</p>
        <p class="conduct__info-text mt-5">Respecting Human Rights: Upholding Dignity and Equality</p>
        <p class="conduct__info-subtext">We firmly believe in the value of respecting human rights in all aspects of our business operations. We recognize the fundamental importance of avoiding any infringement on the rights of others and are committed to addressing any adverse human rights impacts we may be involved in. We expect that this commitment to upholding human rights extends to our team members, partners, vendors, and customers.</p>
        <p class="conduct__info-text mt-5">Fair Dealing: Acting with Integrity and Ethical Standards</p>
        <p class="conduct__info-subtext">We deeply value our commitment to legal compliance and ethical conduct. We strictly adhere to all applicable laws, rules, governmental regulations, and industry standards. We strive to not only meet these standards but exceed them where possible. Each team member plays an essential role in this commitment and is expected to uphold these standards in all aspects of their work.<br><br>

          We strictly prohibit any form of unfair business practices, including but not limited to misrepresentation, manipulation, concealment of material information, and misuse of privileged information to gain an unfair advantage. Our team members are expected to act honestly, and transparently in all their interactions, both internal and external.<br><br>
          
          In line with our steadfast commitment to integrity, Codekeeper has a zero-tolerance policy regarding the acceptance of bribes or improper payments, whether directly or indirectly, from any customer, vendor, or any other person/entity. Engaging in such behavior for personal gain or commercial advantage constitutes a breach of trust and will be met with appropriate disciplinary action.</p>
      </div>
    </div>

    <div class="bg-white">
      <div class="section-large container pb-5">
        <p class="conduct__info-title mw-700">Codekeeper’s Relationship with Partners, Competitors, and Vendors</p>
        <p class="conduct__info-subtext">At Codekeeper, we recognize that our relationships with partners, competitors, and vendors significantly contribute to our success and influence our reputation in the industry. We expect all team members to engage in fair and ethical practices when interacting with current and potential customers, competitors, vendors, contractors, and subcontractors. We believe in doing business ethically and expect our partners, competitors, and vendors to do the same. Through these commitments, we aim to create a mutually beneficial business environment and uphold our company's reputation for ethical business practices.</p>
        <p class="conduct__info-text mt-5">Codekeeper’s Commitment to Fair Competition</p>
        <p class="conduct__info-subtext">We believe in competing fairly and ethically. All team members are expected to uphold the principles of fair competition in all of their activities on behalf of Codekeeper. We will never engage in unethical or illegal practices such as price-fixing, bid-rigging, market allocation, or any other activity that might constitute an anti-competitive practice.</p>
        <div class="d-flex mt-5">
          <img class="mr-3 mt-2 h-12" src="/images/code-conduct/circle.svg" alt="Circle Icon"/>
          <div>
            <p class="conduct__info-text2">Relationship with Competitors</p>
            <p class="conduct__info-subtext">Our relationship with our competitors is based on respect and professionalism. We believe in healthy competition and we respect the rights of our competitors to compete fairly in the marketplace.<br><br>
              Any competitive information about other companies must be collected ethically and legally. Misrepresentation, espionage, or other unethical practices in gathering competitive information is strictly prohibited.</p>
          </div>
        </div>
        <div class="d-flex mt-5">
          <img class="mr-3 mt-2 h-12" src="/images/code-conduct/circle.svg" alt="Circle Icon"/>
          <div>
            <p class="conduct__info-text2">Adherence to Competition Laws</p>
            <p class="conduct__info-subtext">We are committed to full compliance with all applicable competition laws, rules, and regulations in all countries where we conduct business. Every team member is expected to understand and comply with the competition laws relevant to their job responsibilities.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="conduct__bg-gradient pb-200 position-relative">
      <img class="conduct__office-image" src="/images/code-conduct/office-group-image.webp" alt="Office Image"/>
      <div class="container">
        <p class="conduct__info-text mt-5">Codekeeper’s Vendors</p>
        <p class="conduct__info-subtext">We expect all our vendors to conduct their business in an ethical and fair manner. This includes the prohibition of practices such as bribery, corruption, and any form of unfair competition. Vendors are expected to provide quality products and services on their merits, ensuring that all business transactions are transparent and conducted with integrity.</p>
        <div class="d-flex mt-5">
          <img class="mr-3 mt-2 h-12" src="/images/code-conduct/circle.svg" alt="Circle Icon"/>
          <div>
            <p class="conduct__info-text2">Compliance with Laws and Regulations</p>
            <p class="conduct__info-subtext">All vendors must fully comply with the laws, rules, and regulations of the countries where they operate. This includes but is not limited to, laws and regulations related to labor, human rights, environmental protection, and anti-corruption. Any violation of applicable laws and regulations is unacceptable and may lead to the termination of our business relationship.</p>
          </div>
        </div>
        <div class="d-flex mt-5">
          <img class="mr-3 mt-2 h-12" src="/images/code-conduct/circle.svg" alt="Circle Icon"/>
          <div>
            <p class="conduct__info-text2">Security Standards</p>
            <p class="conduct__info-subtext mw-570">We expect our vendors to comply with all relevant security standards, ensuring the confidentiality, integrity, and availability of information. Vendors should have robust security systems in place to protect both their own and our company's sensitive information. They are also expected to report any security breaches that could potentially affect Codekeeper immediately upon discovery.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="conduct__bg-gradient">
      <div class="section-large container">
        <p class="conduct__info-title mw-700">Protecting Intellectual Property Rights: Preserving Innovation and Confidentiality</p>
        <p class="conduct__info-subtext mt-4">At Codekeeper, we prioritize the security of our systems and protecting personal information. We firmly believe that every team member plays a critical role in safeguarding the information of all individuals we interact with - clients, vendors, and team members alike.<br><br>

          To achieve this, we implement appropriate physical and electronic security procedures to ensure confidentiality and prevent unauthorized access, destruction, use, modification, and disclosure of confidential, proprietary, and personal information. Additionally, we ensure that any transfer of technology or knowledge is carried out with utmost care and attention to preserving the intellectual property rights of all parties involved.<br><br>
          
          In addition to these security measures, we expect all team members to adhere strictly to applicable privacy and information security laws, along with other relevant regulatory requirements. This commitment extends to all stages of information handling - collection, storage, processing, transmission, and sharing of personal information.<br><br>
          
          By adhering to these laws and requirements, Codekeeper not only meets its legal and regulatory obligations but also actively upholds the privacy of those we engage with, reinforcing our commitment to integrity, trust, and security.</p>

          <div class="d-flex flex-wrap mt-5">
            <img class="mr-4 mw-200" src="/images/code-conduct/first-property.webp" alt="Building Image"/>
            <img class="mr-4 mw-200" src="/images/code-conduct/second-property.webp" alt="Building Image"/>
            <img class="mr-4 mw-200" src="/images/code-conduct/third-property.webp" alt="Building Image"/>
          </div>
       
      </div>
      
    </div>

    <div class="bg-whute section-large position-relative">
      <img class="conduct__office-image" src="/images/code-conduct/screen-group-image.webp" alt="Screen Image"/>
      <div class="container pb-100">
        <p class="conduct__info-title">Reporting Violations</p>
        <p class="conduct__info-subtext mt-4">We believe the Codekeeper Business Code of Conduct demonstrates our commitment to creating a culture of accountability and transparency. It provides the framework for our actions and decisions, and describes the values and standards we uphold at Codekeeper. Each team member plays a crucial role in adhering to and promoting these principles. </p>
        <p class="conduct__info-subtext mt-4 mw-700">However, we understand that issues may arise, and we encourage openness and transparency in these instances. If you suspect or witness a violation of this Code, please report it immediately. We are committed to investigating and addressing any reported issues promptly and fairly.<br><br>

          You may report any violation by contacting:<br> <a href="mailto: contact@codekeeper.co" class="fw-bold text-dark-cyan">contact@codekeeper.co</a></p>
      </div>
    </div>
    
    
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    $( document ).ready(function() {
      $('.open-chat').click(function(){

        window.HubSpotConversations.widget.open();
      });
    });
  </script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

  <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/5365877.js"></script> -->
  <!-- End of HubSpot Embed Code -->
</body>