<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container section-large">
      <iframe class="video-player" src="https://www.youtube.com/embed/YnR0iKcnwUU?si=0oQzVbijNOfD2bWt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="header__subtitle mt-5 mw-100 text-align-start">
        hi welcome to codekeeper in this video
        we'll learn how to configure a new
        software escrow agreement let's get
        started
        after you sign up you will see this
        dashboard when logging into your account
        we'll start by clicking the create new
        escrow button and the escrow
        configuration window will open
        the setup is done following these four
        steps on the sidebar and we'll go
        through each one by one starting with
        the basics
        first you will configure the escrow role
        select whether you are the one who will
        deposit assets or will receive source
        code repositories in this case I am the
        depositor
        after specifying the role you will
        select the type of agreement let's
        select tripertite meaning the agreement
        will be signed by the depositor codekeeper as the escrow agent and the
        beneficiary
        then click save and next
        after the basics we are going to fill in
        all required details for both depositor
        and beneficiary starting with my
        organization and signatory details we'll
        need at least one representative for the
        entire escrow configuration process on
        the beneficiary side we hit this invite
        checkbox to invite the beneficiary to
        access the escrow information once the
        agreement is generated
        save and next
        this is the deposit step where you can
        configure the deposit notifications for
        the beneficiary in this process we'll
        leave it as default
        next and final step
        within the agreement settings we will
        configure the legal context asset types
        release conditions liability and other
        agreement related settings
        in this example we will go for a license
        and development agreement
        as deposit type we select source code
        then for release conditions we select
        bankruptcy here
        after all the details are set and
        entered correctly we save them and get
        to see this pop-up message
        confirm by selecting generate agreement
        the escrow agreement has now been sent
        to codekeeper for processing and will
        be shared soon
        when the agreement is ready for review
        and approval you and the beneficiary
        will receive an email
        visit our website to find out more about
        software escrow and book your free demo
        today
        thanks for watching
      </p>
    </div>
    
  </div>
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/codekeeper-how-to-configure-a-software-escrow-agreement.html')) {
    document.title = "Codekeeper - How to Configure a Software Escrow Agreement"
    document.getElementsByTagName('meta')["description"].content = "Learn how to configure a software escrow agreement with ease on Codekeeper. Follow four simple steps to set up roles, agreement types, and details for both the depositor and beneficiary. Save time and ensure a smooth escrow process. Visit our website for a free demo and discover more about software escrow.";
  }
  </script>
  <!-- Snippets -->
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>