<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container section-large">
      <iframe class="video-player" src="https://www.youtube.com/embed/w1GlVo_Gv2U?si=VcncuEPTZ94sw8zP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="header__subtitle mt-5 mw-100 text-align-start">
        hi welcome back
        in this video we'll learn how to deposit
        your assets to software escrow using
        automated integration method let's get
        started
        in order to set up automated deposits we
        first have to activate your working
        Integrations by selecting the
        Integrations menu on the sidebar
        in this case we'll activate GitHub
        integration so you can link your
        repositories to our platform
        start by clicking the activate button
        then we'll have this pop-up message to
        connect directly to GitHub by signing in
        and granting codekeeper access to your
        Repository
        after the integration is successfully
        connected you'll see this pop-up
        confirmation message meaning your GitHub
        repositories are ready for the deposit
        process you also can confirm that it's
        activated in the active Integrations
        section
        now let's make a deposit into the
        existing escrow
        navigate to the deposits menu on the
        sidebar and you'll see all of your
        deposited Assets in the escrow
        to add a new deposit click the make
        deposit button
        then select your existing signed or
        active escrow
        for the deposit method drop down select
        oauth deposit next select your active
        integration
        in this case we are connected to GitHub
        now select the repository you want to
        deposit for this escrow
        then click confirm deposit
        and there you go your repository is now
        added to the escrow continuously updated
        and fully encrypted
        you can repeat this process if you'd
        like to deposit all your repositories
        into the escrow
        visit our website to find out more about
        software escrow and book your free demo
        today
        thanks for watching
      </p>
    </div>
    
  </div>
  <!-- Snippets -->
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/codekeeper-how-to-deposit-your-assets-into-escrow.html')) {
    document.title = "Codekeeper - How to Deposit Your Assets Into Escrow (Automated)"
    document.getElementsByTagName('meta')["description"].content = "Learn how to automate software escrow deposits effortlessly with Codekeeper. Activate integrations like GitHub to link your repositories, then make deposits with a few clicks. Your assets will be continuously updated and fully encrypted, ensuring seamless escrow management. Discover more about software escrow on our website and book your free demo today.";
  }
  </script>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>