<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target; var elem = document.head; elem.appendChild(script);
  </script>
  <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx'
        alt='ClickCease' /></a>
  </noscript>
  <!--  Clickcease.com tracking-->

  <div class="bg-white solutions">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-new">
        <img class="header__bg-top-left" src="/images/solutions/top-left.webp" alt="Left Background Image" />
        <img class="header__bg-bottom-right" src="/images/solutions/bottom-right.webp" alt="Right Background Image" />
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <h1 class="header__title text-align-start mt-4">{{ site.data[page.lang]['competitors']['compare_codekeeper']
                }}</h1>
              <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['competitors']['learn_how'] }}</p>
              <div class="d-flex flex-wrap resources mt-5">
                <a class="button btn-cerulean3 comparison-href mr-4 mb-4" data-toggle="modal"
                  data-target="#exampleModal5">
                  {{ site.data[page.lang]['competitors']['get_our'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{
                    site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 content-center">
              <img class="image-style mw-420 mt-4" src="/images/compare-page/compare-header.webp" alt="Compare Header Image" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-white section-large position-relative">
      <img class="compare__shape-left" src="/images/compare-page/gray-shape-left.webp" alt="Background Shape Left" />
      <img class="compare__shape-right" src="/images/compare-page/gray-shape-right.webp" alt="Background Shape Right" />
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p class="compare__subtitle">{{ site.data[page.lang]['competitors']['what_to_consider'] }}</p>
            <img class="compare__screen-img my-4" src="/images/compare-page/dashboard-screen.webp" alt="Dashboard Screen Image" />
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="compare__text">{{ site.data[page.lang]['competitors']['is_the_solution'] }}</p>
            <p class="compare__subtext">{{ site.data[page.lang]['competitors']['whether_you_are'] }}</p>
            <p class="compare__text">{{ site.data[page.lang]['competitors']['are_deposits'] }}</p>
            <p class="compare__subtext">{{ site.data[page.lang]['competitors']['to_make_sure'] }}</p>
            <p class="compare__text">{{ site.data[page.lang]['competitors']['is_the_legal'] }}</p>
            <p class="compare__subtext">{{ site.data[page.lang]['competitors']['each_situation'] }}</p>
            <p class="compare__text">{{ site.data[page.lang]['competitors']['are_there_integrations'] }}</p>
            <p class="compare__subtext">{{ site.data[page.lang]['competitors']['ease_of_use'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="compare__bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <p class="compare__title">{{ site.data[page.lang]['competitors']['learn_how_codekeeper'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="image-style mw-350 mt-2 ml-auto" src="/images/compare-page/other-providers.webp"
              alt="Other Providers Image" />
          </div>
        </div>
      </div>
      <div class="integrations container-fluid">
        <div class="col-12">
          <div class="cont">
            <div class="container2 mx-auto mt-2">
              <div class="row d-flex flex-wrap mobile-center w-100" id="myUL">
                <div id="test-list" class="w-100">
                  <div class="mw-100 mx-auto d-flex flex-column align-items-center mt-5">
                    <ul class="list section-medium pt-5">
                      {% for comparison in site.comparison %}
                      <li class="competitor-name" data-competitor="{{ comparison.integration_name }}"><a
                          class="service__box2 page-link mt-3 mx-auto px-4 href="" data-name="{{ comparison.integration_name }}">
                          <span class=" type d-none">{{ comparison.integration_type }}</span>
                          <div class="d-flex align-items-center justify-content-between w-100">
                            <span class="service__title2 name text-align-start">Codekeeper <br><span>vs.</span> {{
                              comparison.integration_name }}</span>
                            <img class="ml-2" src="/images/compare-page/arrow-right-default.svg"
                              alt="Arrow Right Icon" />
                          </div>

                          <p class="d-none">{{ comparison.integration_type }}</p>
                        </a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="resources">
      <div class="best-price__bg mb-100 border-radius-0">
        <div class="container resources section-medium">
          <img class="best-price__large-shape2" src="/images/compare-page/shape-large-right.webp"
            alt="Large Shape Image" />
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <p class="best-price__title2">{{ site.data[page.lang]['competitors']['upgrade_to'] }}</p>
              <div class="d-flex flex-wrap resources mt-5">
                <a class="button btn-white comparison-href mr-4 mb-4" data-toggle="modal" data-target="#exampleModal5">
                  {{ site.data[page.lang]['competitors']['get_our'] }}
                </a>
                <div>
                  <p class="header__text text-white">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href text-yellow" href="pricing.html">{{
                    site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 content-center">
              <img class="best-price__image mw-420" src="/images/integration-page/leading-features.webp"
                alt="Best Price Image" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="resources">
      <div class="container section-large pt-4 mb-5">
        <h2 class="mentions__title mt-5 text-center text-bondi-blue">{{
          site.data[page.lang]['competitors']['dont_just_take'] }}</h2>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="mentions__box">
              <img class="mentions__icon" src="/images/homepage/quotes.svg" alt="Quotes Icon"/>
              <p class="mentions__text mt-4">{{ site.data[page.lang]['index']['excellent_service'] }}</p>
              <img class="mentions__logo" src="/images/logos/product-hunt.svg" alt="Product Hunt Image"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="mentions__box">
              <img class="mentions__icon" src="/images/homepage/quotes.svg" alt="Quotes Icon"/>
              <p class="mentions__text mt-4">{{ site.data[page.lang]['index']['codekeeper_is_a_new'] }}</p>
              <img class="mentions__logo" src="/images/logos/fast-company.svg" alt="Fast Company Image"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="mentions__box">
              <img class="mentions__icon" src="/images/homepage/quotes.svg" alt="Quotes Icon"/>
              <p class="mentions__text mt-4">{{ site.data[page.lang]['index']['source_code_escrow_is'] }}</p>
              <img class="mentions__logo" src="/images/logos/hacker-news.svg" alt="Hacker News Image"/>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="resources competitors">
      <!-- Modal -->
      <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content section__modal mx-auto">
            <div class="modal-body p-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="m-0">
                <div class="section__modal-form p-0 min-h-600 content-center flex-column align-items-center">
                  <p class="section__modal-title mt-5 mw-700">{{ site.data[page.lang]['competitors']['get_your_offer_to'] }}
                  </p>
                  <div class="english-guide">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                        region: "na1",
                        portalId: "5365877",
                        formId: "18745139-007b-43c6-9fa9-d10f197fa4cb"
                      });
                    </script>
                  </div>
                  <div class="spanish-guide">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                        region: "na1",
                        portalId: "5365877",
                        formId: "d1a4d42a-0887-4ae0-8084-a2212428e53f"
                      });
                    </script>
                  </div>
                  <div class="german-guide">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                        region: "na1",
                        portalId: "5365877",
                        formId: "0a27abd2-e524-4ffe-a675-184f40852f57"
                      });
                    </script>
                  </div>
                  <div class="dutch-guide">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                        region: "na1",
                        portalId: "5365877",
                        formId: "4b6929a6-232c-46a3-bbd1-9d947f996cfc"
                      });
                    </script>
                  </div>
                  <div class="romanian-guide">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                        region: "na1",
                        portalId: "5365877",
                        formId: "f1cb2e9c-4f59-4d9d-9a99-3ee0fe0c20d1"
                      });
                    </script>
                  </div>
                  <div class="french-guide">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                        region: "na1",
                        portalId: "5365877",
                        formId: "ab0b357c-1996-4460-b7f6-c3e67eb44a9e"
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}

  <script>
    $('.page-link').each(function () {
      var serviceUrl = $(this).attr('data-name').toLowerCase();

      if (serviceUrl.match(/^[a-z\.]+ [a-z]+/i)) {

        $(this).attr('href', 'comparison/' + serviceUrl.split(' ').join("_") + '.html');
      }
      else {
        $(this).attr('href', 'comparison/' + serviceUrl + '.html');
      }
    });
  </script>

  <script src="/js/geolocationCompetitors.js"></script>
  <script src="/js/guideTranslation.js"></script>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>