<body>
  <div class="registration bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container-fluid sign-up__content">
      <div class="row">
        <div class="col-md-6 col-sm-12 bg-light-gray sign-up__box">
          <img class="sign-up__image" src="/images/registration/screen-image.svg"/>
          <div class="py-5">
            <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
              <img class="sign-up__logos" src="/images/registration/logos/Pepsico.svg"/>
              <img class="sign-up__logos" src="/images/registration/logos/general-electric.svg"/>
              <img class="sign-up__logos" src="/images/registration/logos/Daimler.svg"/>
              <img class="sign-up__logos" src="/images/registration/logos/nestle.svg"/>
            </div>
            <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
              <img class="sign-up__logos" src="/images/registration/logos/Bayer_Logo.svg"/>
              <img class="sign-up__logos" src="/images/registration/logos/JetBlue.svg"/>
              <img class="sign-up__logos" src="/images/registration/logos/Airbus.svg"/>
              <img class="sign-up__logos" src="/images/registration/logos/Snapchat.svg"/>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 bg-white sign-up__box">
          <div class="my-5">
            <h1 class="sign-up__title">{{ site.data[page.lang]['confirm-message']['thank_you'] }}</h1>
            <p class="sign-up__subtitle">{{ site.data[page.lang]['confirm-message']['you_have_successfully'] }}</p>
            <a class="button btn-primary-lg mx-auto mt-4 underline-none" href="https://app.codekeeper.co/">
              {{ site.data[page.lang]['confirm-message']['login'] }}
            </a>
            <div class="confirm-message__box mt-5">
              <div class="pl-3">
                <p class="confirm-message__text">{{ site.data[page.lang]['confirm-message']['have_any_questions'] }}</p>
                <a class="button btn-secondary-lg my-4" href="contact.html">
                  {{ site.data[page.lang]['confirm-message']['contact_us'] }}
                </a>
              </div>
              <img class="confirm-message__icon" src="/images/registration/comments.svg"/>
            </div>
            <div class="confirm-message__box mt-4">
              <div class="pl-3">
                <p class="confirm-message__text">{{ site.data[page.lang]['confirm-message']['discover_our_guides'] }}</p>
                <a class="button btn-secondary-lg my-4" href="features.html">
                  {{ site.data[page.lang]['confirm-message']['learn_more'] }}
                </a>
              </div>
              <img class="confirm-message__icon" src="/images/registration/learn-more.svg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>