<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="confirmation bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg">
        <div class="container">
          <h1 class="header__title mx-auto">{{ site.data[page.lang]['confirmation_introduction']['thank_you'] }}</h1>
          <p class="header__subtitle my-4 mx-auto">{{ site.data[page.lang]['confirmation_introduction']['thank_you_for_registering'] }}: {{ site.data[page.lang]['confirmation_introduction']['a_guide'] }}</p>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="resources mt-negative-180">
      {% include blog-articles.html %}
    </div>
    <!-- Second Section -->
    {% include intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>