<body>
  <div class="confirm">
    <div class="bg-white customer">
      <!-- Navigation -->
      <div class="nav-fixed-mobile">
        <div class="container">
          {% include navigation.html %}
        </div>
      </div>
      <!-- Header -->
      <div class="header__container">
        <div class="mt-3">
          <h2 class="header__title mb-4">{{ site.data[page.lang]['confirm_5_star']['your_guide_is'] }}</h2>
        </div>
      </div>
      <div class="container section-small">
        <p class="header__subtitle mt-5 mx-auto">{{ site.data[page.lang]['confirm_5_star']['thank_you_for'] }}<br> <span>{{ site.data[page.lang]['confirm_5_star']['5_star_survey'] }}: {{ site.data[page.lang]['confirm_5_star']['a_how_to_guide'] }}</span></p>
        <p class="header__subtitle mt-4 mx-auto">{{ site.data[page.lang]['confirm_5_star']['we_sent_it'] }}</p>
        <p class="header__subtitle mt-4 mx-auto">{{ site.data[page.lang]['confirm_5_star']['if_you_dont'] }} <a href="contact.html">{{ site.data[page.lang]['confirm_5_star']['contact_us'] }}</a> {{ site.data[page.lang]['confirm_5_star']['if_you'] }}</p>
      </div>
      <!-- First Section -->
      <div class="container section-medium guide-customer">
        <h2 class="content__title mt-5">{{ site.data[page.lang]['confirm_5_star']['discover_more'] }}</h2>
        <p class="content__subtitle mt-4 mx-auto">{{ site.data[page.lang]['confirm_5_star']['learn_how_to'] }}</p>
        <div class="feedbacks pt-5">
          <div class="row column-reverse-mobile my-5">
            <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-start align-items-center">
              <img class="resources__image my-4" alt="Image: Getting started" src="/images/Feedback-types/getting-started-with-customer.svg"/>
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="resources__text mt-4">{{ site.data[page.lang]['resources']['ebook'] }}</p>
              <h2 class="resources__title">{{ site.data[page.lang]['resources']['getting_started_with'] }}</h2>
              <p class="resources__subtext mt-4">{{ site.data[page.lang]['resources']['this_introductory'] }} </p>            
              <a class="button btn-secondary-outline my-4" href="customer-feedback-intro-guide.html">
                {{ site.data[page.lang]['resources']['get_free_guide'] }}
              </a>
            </div>
          </div>
          <div class="row my-5">
            <div class="col-md-6 col-sm-12">
              <p class="resources__text mt-4">{{ site.data[page.lang]['resources']['ebook'] }}</p>
              <h2 class="resources__title">{{ site.data[page.lang]['resources']['a_beginners_guide_to'] }}</h2>
              <p class="resources__subtext mt-4">{{ site.data[page.lang]['resources']['download_this_beginners_guide'] }} </p>
              <a class="button btn-secondary-outline my-4" href="nps-beginners-guide.html">
                {{ site.data[page.lang]['resources']['get_free_guide'] }}
              </a>
            </div>
            <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
              <img class="resources__image my-4 ml-auto" alt="Image: Beginner guide to nps" src="/images/Feedback-types/beginner-guide-to-nps.svg"/>
            </div>
          </div>
          <div>
            <a class="button btn-secondary mt-5 mx-auto" href="resources.html">
              {{ site.data[page.lang]['confirm_5_star']['see_all'] }}
            </a>
          </div>
        </div>
      </div>
      <!-- Second Section -->
      {% include get-answers.html %}
      <!-- Footer -->
      {% include footer.html %}
    </div>
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>

</html>