<body>
  <div class="contact">
    <div class="bg-white">
      <!-- Navigation -->
      <div class="container">
        {% include navigation.html %}
      </div>
      <!-- Header -->
      <div class="header__container">
        <div class="mt-3">
          <h2 class="header__title mb-4">{{ site.data[page.lang]['contact_nps_survey']['contact_us'] }}</h2>
        </div>
      </div>
      <!-- First Section -->
      <div class="container">
        <div class="content py-5">
          <h2 class="header__subtitle mb-4">{{ site.data[page.lang]['contact']['we_love_to'] }}</h2>
          <p class="header__text mx-auto mt-4">{{ site.data[page.lang]['contact']['get_in_touch_and'] }}</p>
        </div>
        <div class="row my-5 pb-5">
          <div class="col-md-6 col-sm-12">
            <div class="content__box">
              <p class="content__box-title mx-auto mt-3 mb-0">{{ site.data[page.lang]['contact']['get_in_touch'] }}</p>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                portalId: "7622707",
                formId: "ceac6b16-3258-49d2-8967-dcbabd0b5229"
              });
              </script>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="content__box d-flex justify-content-center align-items-center">
              <div>
                <p class="content__box-title mx-auto mb-0">{{ site.data[page.lang]['contact']['contact_info'] }}</p>
                <div class="content__box-devider mx-auto my-4"></div>
                <div class="d-flex justify-content-center align-items-center">
                  <img class="content__box-icon" alt="Icon email" src="/images/How-it-works/email.svg"/>
                  <a class="content__link ml-3" href="mailto:contact@feedbacklabs.com">contact@feedbacklabs.com</a>
                </div>
                <div class="d-flex justify-content-center mt-4">
                  <img class="content__box-icon mt-1" alt="Icon email" src="/images/How-it-works/location.svg"/>
                  <p class="content__text ml-3">
                    {{ site.data[page.lang]['contact']['world_trade_center'] }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="start__content my-5 mx-auto">
          <p class="start__text">{{ site.data[page.lang]['contact']['start_your_free'] }}</p>
          <a class="button btn-primary-lg my-4" href="https://app.feedbacklabs.com/signup">
            {{ site.data[page.lang]['contact']['start_free_trial'] }}
          </a>
        </div>
      </div>
      <!-- Footer -->
      {% include footer.html %}
    </div>
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>

</html>