<body>
  <div class="contact">
    <!-- Header -->
    <div class="bg-light-gray">
      <div class="container">
        {% include navigation.html %}
        <div class="header__content">
          <h2 class="header__title text-center mw-100">{{ site.data[page.lang]['contact_enterprise']['deliver_privacy'] }}</h2>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white enterprise py-5">
      <div class="container">
        <div class="section__container mx-auto">
          <p class="header__subtitle text-center mt-3" id="leave-message">{{ site.data[page.lang]['contact_enterprise']['once_we_receive'] }}</p>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "6250848",
            formId: "d9c1916d-2dd6-4c95-a296-85a025d4a0b7"
          });
          </script>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>