<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg">
        <div class="container">
          <div class="header__container mx-auto">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <h1 class="header__title mt-4">{{ site.data[page.lang]['contact']['contact_us'] }}</h1>
                <p class="header__subtitle my-4">{{ site.data[page.lang]['contact']['leave_us_a_message'] }}</p>
              </div>
              <div class="col-md-5 col-sm-12">
                <div class="mt-2">
                  <img class="image-style" src="/images/contact/contact-image.svg"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="pb-5">
      <div class="container">
        <div class="section__container-bg mx-auto">
          <div class="section__container mx-auto english-guide">

            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              portalId: "5365877",
              formId: "6100599c-f628-4cd4-aff0-87041faa8c31"
            });
            </script>
          </div>
          <div class="section__container mx-auto spanish-guide">

            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "741b3c09-a748-4125-8ad8-d3b1e5159c75"
            });
            </script>
          </div>
          <div class="section__container mx-auto german-guide">

            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "62cc80d6-d0e7-4d52-9a5f-123b1945bb0f"
            });
            </script>
          </div>
          <div class="section__container mx-auto dutch-guide">

            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "f02aa733-21df-4858-9dd0-aa65c93edef3"
            });
            </script>
          </div>

          <div class="section__container mx-auto romanian-guide">

            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "28ee4649-d12d-4e97-b966-bc897365540e"
            });
            </script>
          </div>

        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-white section-medium">
      <div class="container">
        <p class="info__main-title mt-2">{{ site.data[page.lang]['contact']['our_offices'] }}</p>
        <p class="info__main-subtitle mt-2 mx-auto">{{ site.data[page.lang]['contact']['our_team_is'] }}</p>
        <div class="info__container mx-auto">
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12 d-flex justify-content-center">
              <div>
                <img class="info__image" src="/images/contact/office-us.webp"/>
                <p class="info__title mt-4"><img class="mr-2" src="/images/contact/location.svg"/>{{ site.data[page.lang]['contact']['us_office'] }}</p>
                <p class="info__subtitle">
                  548 Market St<br>
                  PMB 63050 San Francisco,<br>
                  California 94104-5401<br>
                  The United States
                </p>
                <div class="info__devider"></div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 d-flex justify-content-center">
              <div>
                <img class="info__image" src="/images/contact/office-nl.webp"/>
                <p class="info__title mt-4"><img class="mr-2" src="/images/contact/location.svg"/>{{ site.data[page.lang]['contact']['netherlands_office'] }}</p>
                <p class="info__subtitle">
                  World Trade Center - The Hague<br>
                  Prinses Margrietplantsoen 33<br>
                  2595 AM The Hague<br>
                  The Netherlands
                </p>
                <div class="info__devider"></div>
              </div>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
              <div>
                <p class="info__title mt-2"><img class="mr-2" src="/images/contact/email.svg"/>{{ site.data[page.lang]['contact']['sales_inquiries'] }}</p>
                <p class="info__subtitle">
                  {{ site.data[page.lang]['contact']['please_use_our'] }} <a class="text-underline" href="mailto:contact@codekeeper.co">{{ site.data[page.lang]['contact']['email_us_here'] }}</a>
                </p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div>
                <p class="info__title mt-2"><img class="mr-2" src="/images/contact/request.svg"/>{{ site.data[page.lang]['contact']['release_request'] }}</p>
                <p class="info__subtitle">
                  {{ site.data[page.lang]['contact']['if_you_cannot'] }} <a class="text-underline" href="mailto:release@codekeeper.co">{{ site.data[page.lang]['contact']['email_us_here'] }}</a> {{ site.data[page.lang]['contact']['monitored'] }}.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="pt-5 px-3 position-relative">
      <div class="about__container mx-auto">
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <h2 class="about__title">{{ site.data[page.lang]['contact']['about_us'] }}</h2>
          </div>
          <div class="col-md-9 col-sm-12">
            <p class="about__text">{{ site.data[page.lang]['contact']['codekeeper_was_founded'] }}</p>
            <p class="about__text">{{ site.data[page.lang]['contact']['after_our_soft'] }}</p>
          </div>
        </div>
        <div class="about__devider"></div>
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <p class="about__subtitle">{{ site.data[page.lang]['contact']['pricing_philosophy'] }}</p>
            <p class="about__text2">{{ site.data[page.lang]['contact']['software_escrow'] }}: {{ site.data[page.lang]['contact']['you_need_it'] }}</p>
            <p class="about__text2">{{ site.data[page.lang]['contact']['we_keep'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12">
            <p class="about__subtitle">{{ site.data[page.lang]['contact']['expert_security'] }}</p>
            <p class="about__text3">{{ site.data[page.lang]['contact']['data_security_runs'] }} <a class="text-underline security-href" href="security.html">{{ site.data[page.lang]['contact']['our_security'] }}</a></p>
            <p class="about__subtitle mt-4">{{ site.data[page.lang]['contact']['global_company'] }}</p>
            <p class="about__text3">{{ site.data[page.lang]['contact']['we_have_offices'] }}</p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="mt-negative-50">
      {% include security-guide.html %}
    </div>
    <!-- Fourth Section -->
    {% include intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>