<body>
  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 d-flex justify-content-center">
              <div>
                <h1 class="header__title mt-5">{{ site.data[page.lang]['contact']['contact_us'] }}</h1>
                <p class="header__subtitle my-4">{{ site.data[page.lang]['contact']['leave_us_a_message'] }}</p>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="mt-4">
                <img class="image-style" src="/images/contact/contact-us.svg"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white py-5">
      <div class="container">
        <div class="section__container mx-auto mt-5">
          <!--[if lte IE 8]>
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
          <![endif]-->
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "5365877",
            formId: "6100599c-f628-4cd4-aff0-87041faa8c31"
          });
          </script>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-white section-medium">
      <div class="container">
        <p class="info__main-title mt-2">{{ site.data[page.lang]['contact']['our_offices'] }}</p>
        <p class="info__main-subtitle mt-2 mx-auto">{{ site.data[page.lang]['contact']['our_team_is'] }}</p>
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
            <div>
              <img class="info__image" src="/images/contact/office-us.svg"/>
              <p class="info__title mt-2">{{ site.data[page.lang]['contact']['us_office'] }}</p>
              <p class="info__subtitle">
                548 Market St<br>
                PMB 63050<br>
                San Francisco, California 94104-5401<br>
                The United States
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center">
            <div>
              <img class="info__image" src="/images/contact/office-nl.svg"/>
              <p class="info__title mt-2">{{ site.data[page.lang]['contact']['netherlands_office'] }}</p>
              <p class="info__subtitle">
                World Trade Center - The Hague<br>
                Prinses Margrietplantsoen 33<br>
                2595 AM The Hague<br>
                The Netherlands
              </p>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12">
            <p class="info__title">{{ site.data[page.lang]['contact']['email'] }}</p>
            <a class="info__subtitle text-underline" href="mailto:contact@codekeeper.co">{{ site.data[page.lang]['contact']['contact_us'] }}</a>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="info__title">{{ site.data[page.lang]['contact']['release_request'] }}</p>
            <p class="info__subtitle" href="">{{ site.data[page.lang]['contact']['if_you_can'] }} <a class="text-underline" href="mailto:release@codekeeper.co">{{ site.data[page.lang]['contact']['send_us_a_email'] }}</a><br/> {{ site.data[page.lang]['contact']['monitored'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="info__title">{{ site.data[page.lang]['contact']['sales_inquiries'] }}</p>
            <p class="info__subtitle" href="">{{ site.data[page.lang]['contact']['please_use_our'] }} <a class="text-underline" href="mailto:contact@codekeeper.co">{{ site.data[page.lang]['contact']['send_email'] }}</a>.</p>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="bg-white py-5">
      <div class="sample__box mx-auto px-0">
        <div class="sample__bg-top"></div>
        <div class="row sample__content">
          <div class="col-md-7 col-sm-12">
            <p class="sample__title">{{ site.data[page.lang]['contact']['sample_software_escrow'] }}</p>
            <p class="sample__subtitle">{{ site.data[page.lang]['contact']['click_bellow'] }}</p>
            <a class="button btn-primary-lg mb-5 mt-4 underline-none" href="sample-agreement.html">
              {{ site.data[page.lang]['contact']['access_sample'] }}
            </a>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/resources/sample-agreement.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="bg-white section-medium">
      <div class="container">
        <h2 class="about__title">{{ site.data[page.lang]['contact']['about_us'] }}</h2>
        <div class="row mt-4">
          <div class="col-md-6 col-sm-12">
            <p class="about__text mt-4">{{ site.data[page.lang]['contact']['codekeeper_was_founded'] }}</p>
            <p class="about__text mt-4">{{ site.data[page.lang]['contact']['after_our_soft'] }}</p>
            <p class="about__subtitle mt-4">{{ site.data[page.lang]['contact']['expert_security'] }}</p>
            <p class="about__text">{{ site.data[page.lang]['contact']['data_security_runs'] }} <a class="text-underline" href="security.html">{{ site.data[page.lang]['contact']['our_security'] }}</a></p>
            <p class="about__subtitle mt-4">{{ site.data[page.lang]['contact']['global_company'] }}</p>
            <p class="about__text">{{ site.data[page.lang]['contact']['we_have_offices'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="about__subtitle mt-4">{{ site.data[page.lang]['contact']['pricing_philosophy'] }}</p>
            <p class="about__text">{{ site.data[page.lang]['contact']['software_escrow'] }}: {{ site.data[page.lang]['contact']['you_need_it'] }}</p>
            <p class="about__text">{{ site.data[page.lang]['contact']['we_keep'] }}</p>
            <a class="text-underline" href="pricing.html">{{ site.data[page.lang]['contact']['learn_more_about'] }}</a>
            <div class="about__box mt-4">
              <p class="about__subtitle">{{ site.data[page.lang]['contact']['want_to_work'] }}</p>
              <p class="about__text">{{ site.data[page.lang]['contact']['we_are_looking'] }} <a class="text-underline" href="contact.html">{{ site.data[page.lang]['contact']['get_in_touch'] }}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>