<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white contact-custom">
    <!-- Navigation -->
    {% include navigation.html %}

    <!-- First Section -->
    <div class="bg-white py-5">
      <div class="container pt-5">
        <div class="section__custom section__assessment2 mx-auto mt-5 english-guide">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "5365877",
            formId: "a98c66fd-c762-449d-8f19-14ab6c14a53d"
          });
          </script>
        </div>
        <div class="section__custom mx-auto mt-5 spanish-guide">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "df4a8d3a-5957-4dd4-950c-c3e83e12c6a2"
            });
          </script>
        </div>
        <div class="section__custom mx-auto mt-5 german-guide">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "54311d6d-1e17-4fc3-bf41-be2e8357167b"
            });
          </script>
        </div>
        <div class="section__custom mx-auto mt-5 dutch-guide">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "b5343968-0133-48b7-8c1b-cc90c27e06c3"
            });
          </script>
        </div>
        <div class="section__custom mx-auto mt-5 romanian-guide">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "7a1f582f-7ae5-46e1-9bb8-b5b616d27a2a"
            });
          </script>
        </div>
        <div class="section__custom mx-auto mt-5 french-guide">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "9e44fb91-7ca6-4a5e-a2f1-e3665d92183d"
            });
          </script>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    {% include intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}

  <script src="/js/guideTranslation.js"></script>
</body>