<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-source-code">
        <img class="header__source-shape" src="/images/source-code-escrow/header-shape.webp" alt="Background Image"/>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <p class="header__info">{{ site.data[page.lang]['source_code_escrow']['software_escrow_assets'] }}</p>
              <h1 class="header__title text-align-start mt-4">{{ site.data[page.lang]['source_code_escrow']['credentials_escrow'] }}</h1>
              <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['credentials_escrow']['many_applications'] }}</p>
              <div class="d-flex flex-wrap resources mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>            
            </div>
            <div class="col-md-4 col-sm-12 content-center flex-column">
              <img class="image-style mw-530 mt-4" src="/images/escrow-assets/credentials-escrow.webp" alt="Credentials Escrow Image"/>   
            </div>
          </div>
          <div class="resources">
            <p class="header__subtext mt-4">{{ site.data[page.lang]['source_code_escrow']['supported_platforms'] }} </p>
            <div class="applications__logos mt-4 justify-content-start">
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/1Password.svg"/>
                <p class="applications__logo-text">1Password</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Nord Pass.svg"/>
                <p class="applications__logo-text">Nord Pass</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Keeper.svg"/>
                <p class="applications__logo-text">Keeper</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/LastPass.svg"/>
                <p class="applications__logo-text">LastPass</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Dashlane.svg"/>
                <p class="applications__logo-text">Dashlane</p>
              </div>
              <a class="easy__link integrations-href mb-5 pb-3 ml-4" href="integrations.html">{{ site.data[page.lang]['source_code_escrow']['and_many_more'] }} <i class="fa fa-xs fa-caret-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-large bg-white">
      <div class="container">
        <p class="depositing__title pb-3 text-center mb-4">{{ site.data[page.lang]['source_code_escrow']['does_depositing_credentials'] }}</p>
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12">
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/time-consuming.svg"/>{{ site.data[page.lang]['source_code_escrow']['time_consuming'] }}</p>
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/complex-deposit.svg"/>{{ site.data[page.lang]['source_code_escrow']['complex_deposit'] }}</p>
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/spending-hours.svg"/>{{ site.data[page.lang]['source_code_escrow']['developers_spending'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/outdated-deposit.svg"/>{{ site.data[page.lang]['source_code_escrow']['outdated_and'] }}</p>
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/missing-repositories.svg"/>{{ site.data[page.lang]['source_code_escrow']['missing'] }}</p>
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/unsupported-source.svg"/>{{ site.data[page.lang]['source_code_escrow']['unsupported_source'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="depositing__bg"></div>

    <div class="depositing__margin container">
      <p class="header__info text-center">{{ site.data[page.lang]['source_code_escrow']['why_people'] }}</p>
      <p class="information__main-title">{{ site.data[page.lang]['source_code_escrow']['credentials_escrow'] }}</p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center mt-4" src="/images/source-code-escrow/developers-love.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">{{ site.data[page.lang]['source_code_escrow']['developers_love'] }}</p>
          <p class="information__subtitle">{{ site.data[page.lang]['credentials_escrow']['fully_automated'] }}</p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile pt-5">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end">{{ site.data[page.lang]['source_code_escrow']['easy_deposit'] }}</p>
          <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['credentials_escrow']['our_user_friendly'] }}</p>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image mt-4" src="/images/source-code-escrow/easy-deposit.webp"/>
        </div>
      </div>
      <div class="row mt-5 pt-5">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center mt-4" src="/images/source-code-escrow/integrations-library.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">{{ site.data[page.lang]['source_code_escrow']['integrations_library'] }}</p>
          <p class="information__subtitle">{{ site.data[page.lang]['source_code_escrow']['recent_version'] }} </p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile pt-5">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end">{{ site.data[page.lang]['source_code_escrow']['many_add_ons'] }}</p>
          <p class="information__subtitle text-align-end ml-auto mb-0">{{ site.data[page.lang]['source_code_escrow']['need_local'] }}</p>
          <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['source_code_escrow']['have_us'] }} <a href="software-verification-report-automated.html" class="text-bondi-blue text-underline automated-verification-href fw-bold">{{ site.data[page.lang]['source_code_escrow']['verify_and'] }}</a> {{ site.data[page.lang]['source_code_escrow']['the_deposits'] }}</p>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image mt-4" src="/images/source-code-escrow/many-add-ons.webp"/>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="setting-up__container mx-auto pb-300">
        <div class="container">
          <p class="setting-up__title mt-5 text-center">{{ site.data[page.lang]['source_code_escrow']['how_it_works'] }}</p>
          <p class="setting-up__subtitle text-center mx-auto mw-800 mb-5">{{ site.data[page.lang]['credentials_escrow']['setting_up_credentials'] }}</p>
          <div class="row pt-5">
            <div class="col-md-5 col-sm-12">
              <img class="image-style pr-5" src="/images/source-code-escrow/integrate-platform.webp"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="setting-up__title-small mt-4">{{ site.data[page.lang]['source_code_escrow']['integrate_the_platform'] }}</p>
              <p class="setting-up__subtitle">{{ site.data[page.lang]['source_code_escrow']['we_support_most'] }} <a class="text-bondi-blue integrations-href fw-bold" href="integrations.html">{{ site.data[page.lang]['source_code_escrow']['see_all_integrations'] }}</a></p>
              <div class="resources">
                <div class="applications__logos mt-4 justify-content-start">
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/1Password.svg"/>
                    <p class="applications__logo-text">1Password</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Nord Pass.svg"/>
                    <p class="applications__logo-text">Nord Pass</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Keeper.svg"/>
                    <p class="applications__logo-text">Keeper</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/LastPass.svg"/>
                    <p class="applications__logo-text">LastPass</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Dashlane.svg"/>
                    <p class="applications__logo-text">Dashlane</p>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center pb-4">
                <img class="mr-3 mw-35" src="/images/source-code-escrow/icons/info.svg"/>
                <!-- <i class="fa fa-info-circle mr-3" aria-hidden="true"></i> -->
                <p class="setting-up__text mb-0">{{ site.data[page.lang]['source_code_escrow']['for_non'] }} <a class="text-bondi-blue contact-href fw-bold" href="contact.html">{{ site.data[page.lang]['source_code_escrow']['contact_us'] }}.</a></p>
              </div>
              <a class="easy__link solutions-href" href="solutions.html">{{ site.data[page.lang]['source_code_escrow']['more_details'] }} <i class="fa fa-xs fa-caret-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="setting-up__devider mx-auto my-5"></div>
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <p class="setting-up__title-small mt-4">{{ site.data[page.lang]['source_code_escrow']['or_go_manual'] }}</p>
              <p class="setting-up__subtitle">{{ site.data[page.lang]['credentials_escrow']['our_manual'] }}</p>
            </div>
            <div class="col-md-5 col-sm-12">
              <img class="image-style" src="/images/source-code-escrow/go-manual.webp"/>
            </div>
          </div>
          <div class="setting-up__devider mx-auto my-5"></div>
          <div class="row">
            <div class="col-md-5 col-sm-12 content-center">
              <img class="image-style mw-260" src="/images/source-code-escrow/contact-us.webp"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="setting-up__title-small mt-4">{{ site.data[page.lang]['source_code_escrow']['not_covering_your'] }}</p>
              <p class="setting-up__subtitle">{{ site.data[page.lang]['source_code_escrow']['our_team_will'] }}</p>
              <a class="button btn-secondary-large contact-href" href="contact.html">
                {{ site.data[page.lang]['pricing']['contact_us'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container resources">
      <div class="best-price__bg">
        <img class="best-price__small-shape" src="/images/landing/small-shape.webp" alt="Small Shape Image"/>
        <img class="best-price__medium-shape" src="/images/landing/medium-shape.webp" alt="Medium Shape Image"/>
        <img class="best-price__large-shape" src="/images/landing/large-shape.webp" alt="Large Shape Image"/>
        <div class="row mt-3">
          <div class="col-md-5 col-sm-12 content-center">
            <img class="best-price__image mb-3" src="/images/landing/best-price.webp" alt="Best Price Image"/>
          </div>
          <div class="col-md-7 col-sm-12"> 
            <p class="best-price__title">{{ site.data[page.lang]['third_party_escrow']['industry_leading'] }}</p>
            <p class="best-price__text">{{ site.data[page.lang]['credentials_escrow']['you_dont_need'] }}</p>
            <a class="button btn-yellow pricing-href my-4" href="pricing.html">
              {{ site.data[page.lang]['index']['explore_our_pricing'] }}
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="datacenters__bg">
      <div class="container d-flex flex-column align-items-center">
        <p class="scenario__title mx-auto mw-100 pb-3">{{ site.data[page.lang]['source_code_escrow']['securely_stored'] }}</p>
        <p class="protect__subtext text-dark-cyan">{{ site.data[page.lang]['features']['we_operate_within'] }}:</p>
        <img class="datacenter-image pb-5" src="/images/logos/datacenter-certifications.webp"/>
      </div>
      <div class="container">
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/data-security.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['data_security'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['our_data'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/encryption.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['end_to_end'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['data_is_secured'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/audit.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['deposit_audit'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['review_the'] }}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/upload-folder.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['secure_upload'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_you_prefer'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/gdpr.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['gdpr_compliance'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['credentials_escrow']['if_your_deposits_contain_gdpr'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/hipaa.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['hipaa_compliance'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['credentials_escrow']['if_your_deposits_contain_hipaa'] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-large pricing">
      <h4 class="section__title text-align-start">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_credentials']['what_is_credentials'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_credentials']['credentials_escrow_is'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_credentials']['why_do_i'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_credentials']['businesses_use'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_credentials']['how_does_credentials'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_credentials']['to_use_credentials'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_credentials']['what_are_the_benefits'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_credentials']['security'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_credentials']['what_types_of'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_credentials']['a_credentials_escrow'] }}.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_credentials']['how_much_does'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_credentials']['credentials_escrow_pricing'] }} <a href="pricing.html" class="text-underline pricing-href ">{{ site.data[page.lang]['faq_pricing']['here'] }}</a>.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['what_are_the_supported'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq']['we_support_over'] }} <a href="integrations.html" class="text-underline integrations-href ">{{ site.data[page.lang]['faq_contact']['here'] }}</a>.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_credentials']['how_do_i_get'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_credentials']['to_get_started_with'] }} <a href="book-a-demo.html" class="text-underline book-a-demo-href ">{{ site.data[page.lang]['faq']['book_a_demo'] }}</a> {{ site.data[page.lang]['faq']['with_one_of'] }} <a href="pricing.html" class="text-underline pricing-href ">{{ site.data[page.lang]['faq_pricing']['here'] }}</a>.</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['what_happens_to_my'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['codekeeper_has'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['how_secure_are_the'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['we_operate_within'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_credentials']['can_i_transfer'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['absolutely_we_are_here'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['does_codekeeper_have'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['no_to_ensure_complete'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_credentials']['what_are_some'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_credentials']['examples_of_credentials'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['what_happens_in_the'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_data']['once_the_release'] }}</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-5">{{ site.data[page.lang]['faq']['if_you_have_any'] }} <a href="mailto: contact@codekeeper.co" class="text-underline">contact@codekeeper.co</a></p>
    </div>

    <div class="easy__bg">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <p class="header__info mt-2">{{ site.data[page.lang]['software_escrow']['easy_automated'] }}</p>
            <p class="easy__main-title">{{ site.data[page.lang]['source_code_escrow']['other_critical'] }}</p>
            <p class="easy__main-subtitle">{{ site.data[page.lang]['source_code_escrow']['automated_deposits_of'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/data-source.svg"/>
              <p class="easy__title">{{ site.data[page.lang]['source_code_escrow']['source_code_escrow'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['make_sure'] }}</p>
              <a class="easy__link source-code-escrow-href" href="source-code-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/data.svg"/>
              <p class="easy__title">{{ site.data[page.lang]['software_escrow']['data'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['most_applications'] }}</p>
              <a class="easy__link data-escrow-href" href="data-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/documents.svg"/>
              <p class="easy__title">{{ site.data[page.lang]['software_escrow']['documents'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['deposit_all_kinds'] }}</p>
              <a class="easy__link document-escrow-href" href="document-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/technology.svg"/>
              <p class="easy__title">{{ site.data[page.lang]['software_escrow']['technology_designs'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['use_the_escrows'] }}</p>
              <a class="easy__link technology-designs-escrow-href" href="technology-designs-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="your-protection__bg2 mb-200 mt-3">
      <img class="your-protection__shape-left" src="/images/software-escrow/protection-left2.webp" alt="Background Image"/>
      <img class="your-protection__shape-right" src="/images/software-escrow/protection-right2.webp" alt="Background Image"/>
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <p class="header__info"><img class="mr-2 mb-1" src="/images/software-escrow/icons/recovery-icon.svg"/>{{ site.data[page.lang]['saas_escrow']['ready_for_recovery'] }}</p>
            <p class="your-protection__title my-4">{{ site.data[page.lang]['source_code_escrow']['software_escrow_securely'] }}</p>
            <div class="py-3">
              <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/protect-critical.svg"/>{{ site.data[page.lang]['saas_escrow']['protect_critical'] }}</p>
              <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/escrow-management.svg"/>{{ site.data[page.lang]['saas_escrow']['easy_escrow'] }}</p>
              <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/quick-recovery.svg"/>{{ site.data[page.lang]['saas_escrow']['quick_recovery'] }}</p>
            </div>
            <div class="d-flex justify-content-start align-items-center solutions flex-wrap">
              <p class="select-level__price mr-4">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span class="software-escrow-monthly">$89</span>/{{ site.data[page.lang]['solutions']['month'] }}</p>
              <a class="button btn-cerulean3 software-escrow-href" href="software-escrow.html">{{ site.data[page.lang]['saas_escrow']['more_about'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 content-center">
            <img class="your-protection__image mt-5" src="/images/software-escrow/protect-image.webp" alt="Background Image"/>
          </div>
        </div>

      </div>
    </div>

    <!-- Section -->
    <div class="resources">
      <div class="container">
        <img class="image-style" src="/images/landing/companies.webp"/>
      </div>
    
      <div class="container content-center">
        <p class="people-choose__main-title mw-800 text-bondi-blue">{{ site.data[page.lang]['index']['these_companies'] }}</p>
      </div>
      <div class="people-choose__bg">
        <div class="container">
          <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['credentials_escrow']['credentials_escrow'] }}</p>
          <a class="button btn-cerulean3 pricing-href mx-auto px-5 mt-5" href="pricing.html">
            {{ site.data[page.lang]['includes']['intro']['get_started'] }}
          </a>
          <p class="software-escrow__text mt-4 text-center"><i class="fa fa-check-circle text-light-green mr-2"></i>{{ site.data[page.lang]['index']['best_price'] }}</p>
          <p class="software-escrow__text text-center"><i class="fa fa-check-circle text-light-green mr-2"></i>{{ site.data[page.lang]['index']['no_hidden_costs'] }}</p>
        </div>
      </div>
    
    
      <div class="mt-150 position-relative">
        <div class="container">
          <div class="intro-guide__bg">
            <img class="intro-guide__image" src="/images/landing/shape-intro.webp" alt="Shape Intro Image"/>
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <p class="intro-guide__title">{{ site.data[page.lang]['includes']['escrow_introduction']['introduction_to_software'] }}: {{ site.data[page.lang]['includes']['escrow_introduction']['a_guide'] }}</p>
                <div class="d-flex align-items-center">
                  <p class="intro-guide__badge">{{ site.data[page.lang]['index']['e_book'] }}</p>
                  <p class="intro-guide__text">{{ site.data[page.lang]['index']['12_pages'] }}</p>
                </div>
                <p class="intro-guide__subtitle">{{ site.data[page.lang]['includes']['escrow_introduction']['learn_how'] }}</p>
                <a class="button btn-secondary-large mt-4" data-toggle="modal" data-target="#exampleModal33">
                  {{ site.data[page.lang]['includes']['intro']['download_guide'] }}
                </a>
              </div>
              <div class="col-md-5 col-sm-12">
                <img class="intro-guide__illustration mt-4" src="/images/landing/intro-guide-image.webp" alt="Intro Guide Image"/>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="exampleModal33" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-form p-0 ">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp"/>
                        <p class="section__modal-subtext mt-0">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                      </div>
                      <div class="col-md-6 col-sm-12 pt-3">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                          hbspt.forms.create({
                          portalId: "5365877",
                          formId: "31e6f358-0537-4c45-aa72-b9cc697f4a71"
                        });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <div class="intro-guide__container">
        <img class="intro-guide__shape-left" src="/images/landing/experts-small-shape.webp" alt="Background Image"/>
        <img class="intro-guide__shape-right" src="/images/landing/experts-large-shape.webp" alt="Background Image"/>
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-12">
              <img class="image-style" src="/images/landing/our-experts.webp" alt="Our Expert Image"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="intro-guide__main-title mt-4">{{ site.data[page.lang]['index']['a_session_with'] }}</p>
              <p class="intro-guide__main-subtitle">{{ site.data[page.lang]['index']['schedule_a_session'] }}</p>
              <a class="button btn-cerulean3 book-a-demo-href my-4" href="book-a-demo.html">
                {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $('#questions').hide();
    $('#hide').hide();

    $(".openLines").click(function(){      
        if ($('#hide').is(":visible")) {
          $('#hide').hide();
          $('#show').show();
        }
        else {
          $('#show').hide();
          $('#hide').show();
        }
        $('#questions').toggle(300);
        //  $("div").toggle(300);
    });
  </script>

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    $( document ).ready(function() {
      $.ajax('https://ipapi.co/json')
      .then(
        function success(response) {
          if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
            $('.software-escrow-monthly').text('€89');
            $('.saas-escrow-monthly').text('€199');
          }
          else if (response.currency === 'GBP') {
            
            $('.software-escrow-monthly').text('£79');
            $('.saas-escrow-monthly').text('£149');
          }
          else if (response.currency === 'INR') {
            $('.software-escrow-monthly').text('₹6,995');
            $('.saas-escrow-monthly').text('₹12,500');
          }
          else if (response.currency === 'AUD') {
            $('.software-escrow-monthly').text('A$109');
            $('.saas-escrow-monthly').text('A$250');
          }

          else if (response.currency === 'SGD') {
            $('.software-escrow-monthly').text('$109');
            $('.saas-escrow-monthly').text('$249');
          }

          else if (response.currency === 'ZAR') {
            $('.software-escrow-monthly').text('R1,395');
            $('.saas-escrow-monthly').text('R2,799');
          }

          else if (response.currency === 'CHF') {
            $('.software-escrow-monthly').text('CHF89');
            $('.saas-escrow-monthly').text('CHF219');
          }

          else if (response.currency === 'CAD') {
            $('.software-escrow-monthly').text('CAD119');
            $('.saas-escrow-monthly').text('CAD299');
          }
        },
        function fail(data, status) {
            console.log('Request failed.  Returned status of',
                        status);
        }
      )
      .catch((e) => console.log(e))
    });
  </script>

  <script>
    $( document ).ready(function() {
      $('.open-chat').click(function(){

        window.HubSpotConversations.widget.open();
      });
    });
  </script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

  <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/5365877.js"></script> -->
  <!-- End of HubSpot Embed Code -->
</body>