<!DOCTYPE html>
<html lang="en">

<head>
	<!--Required meta tags-->
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
	<title>Onboarding Support Feedback</title>
	<meta name="robots" content="noindex">
	<link href="./images/OS.png" rel="icon" sizes="16x16" type="image/png" />
	<!--Bootstrap CSS-->
	<link rel="stylesheet" href="./css/main.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap"
		rel="stylesheet">
	<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
	<script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="codekeeperbilling" data-cb-ga-enabled="true">
	</script>
</head>

<body>
	<!--  Clickcease.com tracking-->
	<script type='text/javascript'>var script = document.createElement('script');
		script.async = true; script.type = 'text/javascript';
		var target = 'https://www.clickcease.com/monitor/stat.js';
		script.src = target; var elem = document.head; elem.appendChild(script);
	</script>
	<noscript>
		<a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx'
				alt='ClickCease' /></a>
	</noscript>
	<!--  Clickcease.com tracking-->

	<div class="contact bg-white">
		<!-- Navigation -->
		{% include navigation.html %}
		<!-- Header -->
		<div class="resources">
			<div class="header__bg-landing">
				<img class="header__bg-logo-shape" src="/images/landing/logo-bg-shape.webp" alt="CK Logo Background" />
				<div class="container section-medium">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<p class="header__subtitle2 mt-5 font-16 text-bondi-blue">&mdash; &nbsp; W E L C O M E</p>
							<h1 class="header__title2 mt-3">Onboarding Support Feedback</h1>
							<p class="header__subtitle2 font-20 text-slate-gray mt-4 mw-500">Your feedback is crucial in
								helping us provide exceptional service. Please take a moment to rate your experience
								with our onboarding support.</p>
						</div>
						<div class="col-md-6 col-sm-12 content-center">
							<img class="image-style mh-400 mt-5" src="/images/landing/dashboard-image.webp"
								alt="Illustration of a software dashboard" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bg-white section-medium pt-5 mb-5">
			<div class="container">
				<div class="contact">
					<div class="mw-700 mx-auto section__assessment mt-5">
						<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
						<script>
							hbspt.forms.create({
								region: "na1",
								portalId: "5365877",
								formId: "7b22a3a4-ce66-4a94-b464-fbd89d05a3b9"
							});
						</script>
					</div>
				</div>
			</div>
		</div>

		<!-- Section -->
		<div class="resources">
			<div class="intro-guide__container mt-0 pt-150 min-h-600">
				<img class="intro-guide__shape-left" src="/images/landing/experts-small-shape.webp" alt="Small Background Shape"
					loading="lazy" />
				<img class="intro-guide__shape-right" src="/images/landing/experts-large-shape.webp"
					alt="Large Background Shape" loading="lazy" />
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-12">
							<img class="image-style" src="/images/landing/our-experts.webp"
								alt="Illustration of our expert providing a demo" loading="lazy" />
						</div>
						<div class="col-md-7 col-sm-12">
							<p class="intro-guide__main-title mt-4">A session with our expert</p>
							<p class="intro-guide__main-subtitle text-slate-gray">Schedule a session with one of our advisors to get a personalized demo and discuss your situation. Bring all your legal, technical and other questions!</p>
							<a class="button btn-cerulean3 my-4" href="book-a-demo.html">
								Book a Demo
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
		{% include footer.html %}
	</div>
	<!-- Snippets -->
	{% include snippets.html %}
	<script>
		var pathname = location.pathname;

		if (pathname.includes('/customer-onboarding-feedback.html')) {
			document.title = "Onboarding Support Feedback"
			document.getElementsByTagName('meta')["description"].content = "noindex";
		}
	</script>
</body>