<body>
  <header class="index-header h-100 pb-0 bg-white">
    {% include navigation.html %}

    <div class="index-header__content -is-customer mb-5">
      <div class="container"> 
        <div class="index-header__content-info mw-100">
          <h1 class="customer__header-title">{{ site.data[page.lang]['customer_service']['customer_service_solution'] }} </h1>
          <p class="customer__header-subtitle">{{ site.data[page.lang]['customer_service']['provide_native'] }}</p>
          <p class="customer__header-text">{{ site.data[page.lang]['customer_service']['deliver_cost'] }}</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container mt-5">
    <div class="row py-5 column-reverse-mobile">
      <div class="col-12 col-md-6">
        <img class="image-style" src="/images/customer-service/support-team.svg" alt="" />
      </div>
      <div class="col-12 col-md-6">
        <p class="features__section-subtitle mw-506">{{ site.data[page.lang]['customer_service']['make_your_support'] }}</p>
        <p class="features__section-subtext mw-506 mb-4">{{ site.data[page.lang]['customer_service']['reduce_your'] }}</p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 col-md-6">
        <p class="features__section-subtitle mw-506">{{ site.data[page.lang]['customer_service']['respond_to_customers'] }}</p>
        <p class="features__section-subtext mw-506 mb-4">{{ site.data[page.lang]['customer_service']['respond_to_your'] }}</p>
      </div>
      <div class="col-12 col-md-6">
        <img class="image-style" src="/images/customer-service/customers.svg" alt="" />
      </div>
    </div>
    <div class="row py-5 column-reverse-mobile">
      <div class="col-12 col-md-6">
        <img class="image-style" src="/images/customer-service/integrate.svg" alt="" />
      </div>
      <div class="col-12 col-md-6">
        <p class="features__section-subtitle mw-506">{{ site.data[page.lang]['customer_service']['integrate_with'] }}</p>
        <p class="features__section-subtext mw-506 mb-4">{{ site.data[page.lang]['customer_service']['to_keep_your'] }}</p>
      </div>
    </div>
    <div class="row py-5">
      <div class="col-12 col-md-6">
        <p class="features__section-subtitle mw-506">{{ site.data[page.lang]['customer_service']['localize_your'] }}</p>
        <p class="features__section-subtext mw-506 mb-4">{{ site.data[page.lang]['customer_service']['make_your_faq'] }}</p>
      </div>
      <div class="col-12 col-md-6">
        <img class="image-style" src="/images/customer-service/localize.svg" alt="" />
      </div>
    </div>
  </div>

  {% include time-to-market.html %}

  <section class="customer-apps bg-white">
    <div class="">
      <h2 class="customer-provider__title mt-0 mb-3 container">{{ site.data[page.lang]['product_catalog']['integrate_with_your'] }}</h2>
      <p class="features-header__content-text mb-4 darker-grey container">{{ site.data[page.lang]['product_catalog']['make_your'] }}</p>
      <div class="d-flex align-items-center justify-content-center">
        <div class="d-flex mt-2 mb-4 flex-wrap">
          <div class="d-flex flex-column align-items-center mx-3">
            <p class="index-integrations__text">3000+</p>
            <p class="index-integrations__subtext">{{ site.data[page.lang]['homepage']['smb_integrations'] }}</p>
          </div>
          <div class="d-flex flex-column align-items-center mx-3">
            <p class="index-integrations__text">150+</p>
            <p class="index-integrations__subtext">{{ site.data[page.lang]['homepage']['enterprise_integrations'] }}</p>
          </div>
        </div>
      </div>
      <!-- Integrations slideshow -->
      {% include slideshow.html %}
    </div>
  </section>

  <!-- Download Guide -->
  {% include download-guide.html %}
  <div class="bg-white">
    <section class="container">
      <h2 class="features__section-title text-center pb-5">{{ site.data[page.lang]['product_catalog']['explore_other'] }}</h2>
      <div class="row">
        <div class="col-12 col-lg-6 mt-4">
          <div class="index-solution__box mx-auto">
            <p class="index-solution__title">{{ site.data[page.lang]['homepage']['product_catalog'] }}</p>
            <p class="index-solution__subtitle">{{ site.data[page.lang]['homepage']['boost_your_sales'] }}</p>
            <div class="d-flex justify-content-between flex-wrap">
              <a href="product-catalog.html" class="d-flex justify-content-center mt-3">
                <button class="btn-initial btn-small">{{ site.data[page.lang]['homepage']['learn_more'] }}</button>
              </a>
              <img src="/images//homepage/catalog-solution.svg" class="index-solution__image mt-3" />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mt-4">
          <div class="index-solution__box mx-auto">
            <p class="index-solution__title">{{ site.data[page.lang]['homepage']['marketing_solutions'] }}</p>
            <p class="index-solution__subtitle">{{ site.data[page.lang]['homepage']['quickly_and_easy'] }}</p>
            <div class="d-flex justify-content-between flex-wrap">
              <a href="marketing.html" class="d-flex justify-content-center mt-3">
                <button class="btn-initial btn-small">{{ site.data[page.lang]['homepage']['learn_more'] }}</button>
              </a>
              <img src="/images//homepage/marketing-solution.svg" class="index-solution__image mt-3" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Book a Demo -->
  {% include book-a-demo.html %}

  <!-- Footer -->
  <footer class="alice-blue-bg">
    {% include footer.html %}
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  {% include snippets.html %}
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script>
  $(document).ready(function () {
    $('.index-partners__tabs-title').on('click', function () {
      $('.index-partners__tabs-title').removeClass('-is-selected');
      $('.index-partners__tabs-text').removeClass('-is-visible');
      $('.index-partners__tabs-border').removeClass('-selected');

      if ($(this).hasClass('-is-selected') && $(this).siblings().hasClass('-is-visible') && $(this).parent()
        .parent().next().hasClass('-selected')) {
        return;
      }
      $(this).addClass('-is-selected');
      $(this).siblings().addClass('-is-visible');
      $(this).parent().parent().next().addClass('-selected')
    });

    $('.index-enterprise__col').mouseover(function (e) {
      $('.index-enterprise__col').removeClass('-is-active')
      if ($(this).hasClass('-is-active')) {
        return;
      }
      $(this).addClass('-is-active');
    });

    $('.translators-financial__col').mouseover(function (e) {
      $('.translators-financial__col').removeClass('-is-active')
      if ($(this).hasClass('-is-active')) {
        return;
      }
      $(this).addClass('-is-active');
    });
  });
</script>
<script>
  var slider = tns({
    container: '.my-slider',
    items: 1,
    controls: false,
    mode: 'gallery',
    speed: 0,
  });

  var info = slider.getInfo(),
    indexPrev = info.indexCached,
    indexCurrent = info.index;



    $('.first').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(0);
      $(this).addClass('slide-active');
    },
});

$('.second').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(1);
      $(this).addClass('slide-active');
    },
});

$('.third').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(2);
      $(this).addClass('slide-active');
    },
});

$('.fourth').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(3);
      $(this).addClass('slide-active');
    },
});

$('.fifth').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(4);
      $(this).addClass('slide-active');
    },
});

$('.sixth').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(5);
      $(this).addClass('slide-active');
    },
});

$('.seventh').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(6);
      $(this).addClass('slide-active');
    },
});

$('.eight').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(7);
      $(this).addClass('slide-active');
    },
});

$("button[data-nav='0']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(0);
      $('.first').addClass('slide-active');
});

$("button[data-nav='1']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(1);
      $('.second').addClass('slide-active');
});
$("button[data-nav='2']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(2);
      $('.third').addClass('slide-active');
});
$("button[data-nav='3']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(3);
      $('.fourth').addClass('slide-active');
});
$("button[data-nav='4']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(4);
      $('.fifth').addClass('slide-active');
});
$("button[data-nav='5']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(5);
      $('.sixth').addClass('slide-active');
});
$("button[data-nav='6']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(6);
      $('.seventh').addClass('slide-active');
});
</script>

<script>
  var video = document.getElementById('video12'), fraction = 0.6;
  var video1 = document.getElementById('video1');

  function checkScroll() {
    var x = video.offsetLeft, y = video.offsetTop, w = video.offsetWidth, h = video.offsetHeight, r = x + w, //right
    b = y + h, //bottom
    visibleX, visibleY, visible;

    visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
    visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));

    visible = visibleX * visibleY / (w * h);

    const player = document.getElementById('lottie1'),
        lottie = player.getLottie();


      if (visible > fraction) {
          lottie.loop = true;
          lottie.play();
      } else {
          lottie.stop();
      }
  }

  checkScroll();
  window.addEventListener('scroll', checkScroll, false);
  window.addEventListener('resize', checkScroll, false);
</script>

<script>
  var video14 = document.getElementById('video14'), fraction = 0.6;
  var video3 = document.getElementById('video3');

  function checkScroll() {
    var x = video14.offsetLeft, y = video14.offsetTop, w = video14.offsetWidth, h = video14.offsetHeight, r = x + w, //right
    b = y + h, //bottom
    visibleX, visibleY, visible;

    visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
    visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));

    visible = visibleX * visibleY / (w * h);

    const player = document.getElementById('lottie3'),
        lottie = player.getLottie();


      if (visible > fraction) {
          lottie.loop = true;
          lottie.play();
      } else {
          lottie.stop();
      }
  }

  checkScroll();
  window.addEventListener('scroll', checkScroll, false);
  window.addEventListener('resize', checkScroll, false);
</script>

<script>
  var video13 = document.getElementById('video13'), fraction = 0.6;
  var video5 = document.getElementById('video5');

  function checkScroll() {
    var x = video13.offsetLeft, y = video13.offsetTop, w = video13.offsetWidth, h = video13.offsetHeight, r = x + w, //right
    b = y + h, //bottom
    visibleX, visibleY, visible;

    visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
    visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));

    visible = visibleX * visibleY / (w * h);

    const player = document.getElementById('lottie5'),
        lottie = player.getLottie();


      if (visible > fraction) {
          lottie.loop = true;
          lottie.play();
      } else {
          lottie.stop();
      }
  }

  checkScroll();
  window.addEventListener('scroll', checkScroll, false);
  window.addEventListener('resize', checkScroll, false);
</script>

<script>
  var video15 = document.getElementById('video15'), fraction = 0.6;
  var video4 = document.getElementById('video4');

  function checkScroll() {
    var x = video15.offsetLeft, y = video15.offsetTop, w = video15.offsetWidth, h = video15.offsetHeight, r = x + w, //right
    b = y + h, //bottom
    visibleX, visibleY, visible;

    visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
    visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));

    visible = visibleX * visibleY / (w * h);

    const player = document.getElementById('lottie4'),
        lottie = player.getLottie();


      if (visible > fraction) {
          lottie.loop = true;
          lottie.play();
      } else {
          lottie.stop();
      }
  }

  checkScroll();
  window.addEventListener('scroll', checkScroll, false);
  window.addEventListener('resize', checkScroll, false);
</script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5626357.js"></script>
<!-- End of HubSpot Embed Code -->
</html>