<body>
  <div class="landing">
    <!-- Header -->
    <div class="bg-white">
      <div class="container">
        {% include navigation.html %}
      </div>
    </div>
    <div class="bg-white section-medium pt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p class="privacy__subtitle">{{ site.data[page.lang]['dataprocessor_invite']['data_processor_invitation'] }}</p>
            <h2 class="privacy__title mt-4">{{ site.data[page.lang]['dataprocessor_invite']['receive_track'] }}</h2>
            <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['dataprocessor_invite']['we_help_agile'] }}</p>
              <div class="d-flex flex-wrap mobile-center">
                <a class="button btn-purple-lg mt-3 mr-md-3" href="https://app.legalsite.co/signup">
                  {{ site.data[page.lang]['dataprocessor_invite']['accept_invitation'] }}
                </a>
                <a class="button btn-gray-lg mt-3" href="privacy-operations.html">
                  {{ site.data[page.lang]['dataprocessor_invite']['learn_more'] }}
                </a>
              </div>
              <p class="header__btn-text mt-1 mb-5">{{ site.data[page.lang]['dataprocessor_invite']['no_credit_card'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12 mt-5">
            <img class="data__header-image ml-5" alt="Image: Data Access Request" src="images/processors/data-access-request.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-light-gray section-large">
      <div class="container">
        <div class="text-center">
          <h2 class="header__title mx-auto">{{ site.data[page.lang]['dataprocessor_invite']['full_compliance'] }}</h2>
          <div class="row mt-5">
            <div class="col-md-4 col-sm-12 mt-5">
              <img class="third__icon mx-auto" alt="Icon: Inbox" src="images/features/Icon-1.svg"/>
              <p class="third__icon-title text-bold mt-4">{{ site.data[page.lang]['dataprocessor_invite']['central_dashboard'] }}</p>
              <p class="third__icon-subtitle mx-auto">{{ site.data[page.lang]['dataprocessor_invite']['use_a_central'] }} </p>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
              <img class="third__icon mx-auto" alt="Icon: Integrate Easily" src="images/features/Icon-2.svg"/>
              <p class="third__icon-title text-bold mt-4">{{ site.data[page.lang]['dataprocessor_invite']['easy_intagration'] }}</p>
              <p class="third__icon-subtitle mx-auto">{{ site.data[page.lang]['dataprocessor_invite']['automate_your'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
              <img class="third__icon mx-auto" alt="Icon: Coding" src="images/features/Logs.svg"/>
              <p class="third__icon-title text-bold mt-4">{{ site.data[page.lang]['dataprocessor_invite']['dsar_logs'] }}</p>
              <p class="third__icon-subtitle mx-auto">{{ site.data[page.lang]['dataprocessor_invite']['demonstrate_compliance'] }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="bg-white section-medium">
      <div class="container">
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <img class="image-style" alt="Image: Steps" src="images/processors/Image-Steps.svg"/>
          </div>
          <div class="col-md-6 col-sm-12 mt-3">
            <div class="privacy__content">
              <h2 class="privacy__title mt-4">{{ site.data[page.lang]['dataprocessor_invite']['solve_data_subject'] }}</h2>
              <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['dataprocessor_invite']['centralize_and_take'] }} </p>
              <a class="button btn-gray-lg my-4 mobile-center" href="https://app.legalsite.co/signup">
                {{ site.data[page.lang]['dataprocessor_invite']['get_started'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="bg-white section-medium">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h2 class="privacy__title mt-4">{{ site.data[page.lang]['dataprocessor_invite']['integrate_legalsite'] }}</h2>
            <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['dataprocessor_invite']['get_relevant'] }}</p>
            <a class="button btn-gray-lg my-4 mobile-center" href="integrations.html">
              {{ site.data[page.lang]['dataprocessor_invite']['see_integrations'] }}
            </a>
          </div>
          <div class="col-md-6 col-sm-12 mt-4">
            <img class="image-style" alt="Image: Integration" src="images/landing/Image-Integration-2.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    <div class="bg-white section-medium">
      <div class="container">
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <img class="image-style" alt="Image: Steps" src="images/features/ISO-image.svg"/>
          </div>
          <div class="col-md-6 col-sm-12 mt-3">
            <div class="privacy__content">
              <h2 class="privacy__title mt-4">{{ site.data[page.lang]['dataprocessor_invite']['put_security'] }}</h2>
              <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['dataprocessor_invite']['secure_sistem'] }} </p>
              <a class="button btn-gray-lg my-4 mobile-center" href="https://app.legalsite.co/signup">
                {{ site.data[page.lang]['dataprocessor_invite']['get_started'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    $('.not-clickable').click(function(event) {
      event.preventDefault();
    });

    $('#section1').click(function() {
      $('.works__section').removeClass('-is-active');
      $('.works__image').removeClass('-show');
      $('#img1').addClass('-show');
      $(this).addClass('-is-active');
    });
    $('#section2').click(function() {
      $('.works__section').removeClass('-is-active');
      $('.works__image').removeClass('-show');
      $('#img2').addClass('-show');
      $(this).addClass('-is-active');
    });
    $('#section3').click(function() {
      $('.works__section').removeClass('-is-active');
      $('.works__image').removeClass('-show');
      $('#img3').addClass('-show');
      $(this).addClass('-is-active');
    });
  </script>
</body>