<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="resources bg-alice-blue">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg2 pb-4">
        <div class="container">
          <h1 class="header__title mx-auto text-cerulean mt-5">{{ site.data[page.lang]['depositing_features']['depositing_features'] }}</h1>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['depositing_features']['whether_you_use'] }}</p>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    <div class="container-fluid pt-5">
      <div class="depositing__container mx-auto">
        <div class="depositing__row">
          <div class="depositing__col mt-4">
            <img class="depositing__image" src="/images/homepage/source-code-escrow.svg" alt="Source Code Escrow Image"/>
            <p class="depositing__col-title mt-4">{{ site.data[page.lang]['depositing_features']['source_code_repositories'] }}</p>
            <p class="depositing__col-subtitle mt-4">{{ site.data[page.lang]['depositing_features']['source_code_escrow'] }}</p>
            <p class="depositing__col-text mt-5 mb-2"><img class="mr-2" src="/images/homepage/check-icon-small.svg" alt="Check Icon"/>{{ site.data[page.lang]['depositing_features']['automated_and_up'] }}</p>
            <p class="depositing__col-text mt-3 mb-2"><img class="mr-2" src="/images/homepage/check-icon-small.svg" alt="Check Icon"/>{{ site.data[page.lang]['depositing_features']['integrated_with_developer'] }}</p>
            <p class="depositing__col-text mt-3 mb-2"><img class="mr-2" src="/images/homepage/check-icon-small.svg" alt="Check Icon"/>{{ site.data[page.lang]['depositing_features']['no_coding_required'] }}</p>
            <p class="depositing__col-subtext mt-5">{{ site.data[page.lang]['depositing_features']['our_source_code'] }}: </p>
            <div class="resources">
              <div class="applications__logos justify-content-start mt-2">
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/bitbucket.svg" alt="Bitbucket Logo"/>
                  <p class="applications__logo-text">Bitbucket</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/github.svg" alt="Github Logo"/>
                  <p class="applications__logo-text">GitHub</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/gitlab-large.svg" alt="Gitlab Logo"/>
                  <p class="applications__logo-text">GitLab</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/git.svg" alt="Git Logo"/>
                  <p class="applications__logo-text">Git</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/visual-studio.svg" alt="Visual Studio Logo"/>
                  <p class="applications__logo-text">Visual Studio</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/google-cloud-large.svg" alt="Google Cloud Logo"/>
                  <p class="applications__logo-text">Google Cloud</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/azure-large.svg" alt="Microsoft Azure Logo"/>
                  <p class="applications__logo-text">Microsoft Azure</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/amazon2.svg" alt="Amazon Web Services Logo"/>
                  <p class="applications__logo-text">Amazon Web Services</p>
                </div>
              </div>
            </div>
            <a class="button btn-cerulean what-is-source-code-escrow-href" href="what-is-source-code-escrow.html">
              {{ site.data[page.lang]['index']['get_started'] }}
            </a>
          </div>
          <div class="depositing__col mt-4">
            <img class="depositing__image" src="/images/homepage/data-escrow.svg" alt="Data Escrow Image"/>
            <p class="depositing__col-title mt-4">{{ site.data[page.lang]['depositing_features']['data_escrow'] }}</p>
            <p class="depositing__col-subtitle mt-4">{{ site.data[page.lang]['depositing_features']['data_escrow_is_a'] }}</p>
            <p class="depositing__col-text mt-5 mb-2"><img class="mr-2" src="/images/homepage/check-icon-small.svg" alt="Check Icon"/>{{ site.data[page.lang]['depositing_features']['have_access'] }} </p>
            <p class="depositing__col-text mt-3 mb-5 pb-3"><img class="mr-2" src="/images/homepage/check-icon-small.svg" alt="Check Icon"/>{{ site.data[page.lang]['depositing_features']['data_deposits'] }}</p>
            <p class="depositing__col-subtext mt-5">{{ site.data[page.lang]['depositing_features']['our_data_source'] }}: </p>
            <div class="resources">
              <div class="applications__logos justify-content-start mt-2">
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/amazon-s3.svg" alt="Amazon S3 Logo"/>
                  <p class="applications__logo-text">Amazon S3</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/google-cloud-large.svg" alt="Google Cloud Logo"/>
                  <p class="applications__logo-text">Google Cloud</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image2" src="/images/homepage/logos/azure-large.svg" alt="Azure Logo"/>
                  <p class="applications__logo-text">Microsoft Azure</p>
                </div>
              </div>
            </div>
            <a class="button btn-cerulean mt-4 what-is-data-escrow-href" href="what-is-data-escrow.html">
              {{ site.data[page.lang]['index']['get_started'] }}
            </a>
          </div>
        </div>

        <div class="depositing__col2 mt-4 position-relative">
          <div class="d-flex align-items-center">
            <img class="depositing__image" src="/images/homepage/information-escrow.svg" alt="Information Escrow Image"/>
            <p class="depositing__col-title ml-3 mb-0">{{ site.data[page.lang]['depositing_features']['information_escrow'] }}</p>
          </div>
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <p class="depositing__col-subtitle2 mt-4">{{ site.data[page.lang]['depositing_features']['information_escrow_is'] }} </p>
              <p class="depositing__col-text mt-5 mb-5 pb-3"><img class="mr-2" src="/images/homepage/check-icon-small.svg" alt="Check Icon"/>{{ site.data[page.lang]['depositing_features']['information_deposits'] }}</p>
              <a class="button btn-cerulean mt-4 what-is-information-escrow-href" href="what-is-information-escrow.html">
                {{ site.data[page.lang]['index']['get_started'] }}
              </a>
            </div>
            <div class="col-md-3 col-sm-12">
              <img class="image-style my-4" src="/images/resources-page/information-laptop.svg" alt="Information Laptop Image"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second Section -->
    <div class="discover__content-bg2 mt-negative-50">
      <div class="container">
        <h3 class="discover__title text-white">{{ site.data[page.lang]['depositing_features']['learn_more_about'] }}</h3>
        <p class="discover__subtitle mt-4 mx-auto text-white">{{ site.data[page.lang]['depositing_features']['check_out_our'] }} </p>
        <div class="discover__content mx-auto mt-5">
          <div class="row">
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="discover__box what-is-source-code-escrow-href" href="what-is-source-code-escrow.html">
                <img class="discover__box-image" src="/images/resources-page/icon-source-code.svg" alt="Source Code Icon"/>
                <p class="discover__box-text">{{ site.data[page.lang]['resources']['source_code_escrow'] }} </p>
              </a>
            </div>
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="discover__box what-is-data-escrow-href" href="what-is-data-escrow.html">
                <img class="discover__box-image" src="/images/resources-page/icon-data-escrow.svg" alt="Data Escrow Icon"/>
                <p class="discover__box-text">{{ site.data[page.lang]['resources']['data_escrow'] }} </p>
              </a>
            </div>
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="discover__box what-is-saas-escrow-href" href="what-is-saas-escrow.html">
                <img class="discover__box-image" src="/images/resources-page/icon-saas-escrow.svg" alt="SaaS Escrow Icon"/>
                <p class="discover__box-text">{{ site.data[page.lang]['resources']['saas_escrow'] }} </p>
              </a>
            </div>
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="discover__box what-is-information-escrow-href" href="what-is-information-escrow.html">
                <img class="discover__box-image" src="/images/resources-page/icon-information-escrow.svg" alt="Information Escrow Icon"/>
                <p class="discover__box-text">{{ site.data[page.lang]['resources']['information_escrow'] }} </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="px-3 features position-relative mt-negative-50">
      <div class="explore__section-container2 mx-auto">
        <div class="container">
          <h2 class="discover__title">{{ site.data[page.lang]['data_escrow']['how_does'] }}</h2>
          <p class="discover__subtitle2 mx-auto mt-4">{{ site.data[page.lang]['data_escrow']['as_a_trusted'] }}</p>
        </div>
      </div>
    </div>
    <!-- Guide Section -->
    <div class="mt-negative-50">
      {% include sample-escrow.html %}
    </div>
    <!-- Section -->
    {% include intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $( document ).ready(function() {
      $.ajax('https://ipapi.co/json')
      .then(
        function success(response) {
          if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
            $('.setup-fee').text('€249');
            $('#developer-monthly').text('€79');
          }
          else if (response.currency === 'GBP') {
            $('.setup-fee').text('£199');
            $('#developer-monthly').text('£59');
          }
          else if (response.currency === 'INR') {
            $('.setup-fee').text('₹15,000');
            $('#developer-monthly').text('₹5,000');
          }
          else if (response.currency === 'AUD') {
            $('.setup-fee').text('A$299');
            $('#developer-monthly').text('A$99');
          }
          else if (response.currency === 'SGD') {
            $('.setup-fee').text('$299');
            $('#developer-monthly').text('$99');
          }
          else if (response.currency === 'ZAR') {
            $('.setup-fee').text('R3,499');
            $('#developer-monthly').text('R1,099');
          }
          else if (response.currency === 'CHF') {
            $('.setup-fee').text('CHF275');
            $('#developer-monthly').text('CHF89');
          }
          else if (response.currency === 'CAD') {
            $('.setup-fee').text('CAD299');
            $('#developer-monthly').text('CAD119');
          }
        },
        function fail(data, status) {
            console.log('Request failed.  Returned status of',
                        status);
        }
      )
      .catch((e) => console.log(e))
    });
  </script>
</body>