<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target; var elem = document.head; elem.appendChild(script);
  </script>
  <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx'
        alt='ClickCease' /></a>
  </noscript>
  <!--  Clickcease.com tracking-->

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-disaster-recovery">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="d-flex align-items-center">
                <img class="mr-2 mb-1" src="/images/disaster-recovery/icons/disaster-recovery-shield-icon.svg" alt="Disaster Recovery Planner Icon" />
                <p class="header__info text-dark-cyan font-35 mb-2 line-height-38">{{ site.data[page.lang]['disaster_recovery']['disaster_recovery_planner'] }}</p>
              </div>
              
              <h1 class="header__title text-align-start mt-4">{{ site.data[page.lang]['disaster_recovery']['take_control_of'] }} </h1>
              <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['disaster_recovery']['one_central_place'] }}</p>
              <div class="d-flex flex-wrap resources mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link compare-solutions-href" href="compare-solutions.html">{{
                    site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 content-center flex-column">
              <img class="image-style mw-530 mt-4" src="/images/disaster-recovery/disaster-recovery-header.webp"
                alt="Disaster Recovery Header Illustration" />              
            </div>
          </div>
        </div>
      </div>
      <div class="header__bg-disaster-recovery-line"></div>
    </div>

    <div class="container-fluid section-medium pricing">
      <p class="protect__subtext text-slate-gray fw-light">{{ site.data[page.lang]['disaster_recovery']['trusted_partner_of'] }}</p>
      <!-- Slideshow Brands -->
      {% include slideshow-brands.html %}
    </div>

    <div class="container section-large pt-5">
      <p class="scenario__title mx-auto pb-5 mw-770">{{ site.data[page.lang]['disaster_recovery']['do_you_know'] }}</p>
      <p class="scenario__subtext mx-auto mt-2 font-18 fw-400">{{ site.data[page.lang]['disaster_recovery']['understanding_your_digital'] }}</p>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12 mb-sm-50">
          <img class="mx-auto d-block my-2" src="/images/disaster-recovery/icons/asset-awareness.svg"
            alt="Asset Awareness Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto font-24">{{ site.data[page.lang]['disaster_recovery']['asset_awareness'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['disaster_recovery']['can_you_list'] }}</p>
        </div>
        <div class="col-md-4 col-sm-12 mb-sm-50">
          <img class="mx-auto d-block my-2" src="/images/disaster-recovery/icons/risk-assessment.svg"
            alt="Risk Assessment Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto font-24">{{ site.data[page.lang]['disaster_recovery']['risk_assessment'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['disaster_recovery']['are_you_aware'] }}</p>
        </div>
        <div class="col-md-4 col-sm-12 mb-sm-50">
          <img class="mx-auto d-block my-2" src="/images/disaster-recovery/icons/preparedness.svg"
            alt="Preparedness Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto font-24">{{ site.data[page.lang]['disaster_recovery']['preparedness'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['disaster_recovery']['do_you_have_a'] }}</p>
        </div>
      </div>
    </div>

    <div class="depositing__bg2 section-medium">
      
      <div class="section-medium container pt-5">
        <p class="risks__title text-center">{{ site.data[page.lang]['disaster_recovery']['disaster_recovery_planner'] }}</p>
        <p class="risks__subtitle text-center mw-100 mb-100">{{ site.data[page.lang]['disaster_recovery']['specifically_designed_for'] }}:</p>
        <div class="row mt-5">
          <div class="col-md-5 col-sm-12">
            <img class="information__image content-center" src="/images/disaster-recovery/identity-and-catalog.webp"
              alt="Identify and Catalog Illustration" loading="lazy" />
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="information__title text-bondi-blue">{{ site.data[page.lang]['disaster_recovery']['identity_and_catalog'] }}</p>
            <p class="information__subtitle">{{ site.data[page.lang]['disaster_recovery']['efficiently_list'] }}</p>
          </div>
        </div>
        <div class="row mt-5 column-reverse-mobile">
          <div class="col-md-7 col-sm-12">
            <p class="information__title text-align-end text-bondi-blue">{{ site.data[page.lang]['disaster_recovery']['assess_importance'] }}</p>
            <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['disaster_recovery']['assign_levels_of'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12 content-center">
            <img class="information__image" src="/images/disaster-recovery/importance-and-risk.webp"
              alt="Assess Importance and Risk Illustration" loading="lazy" />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-5 col-sm-12">
            <img class="information__image content-center" src="/images/disaster-recovery/plan-proactively.webp"
              alt="Plan Proactively Illustration" loading="lazy" />
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="information__title text-bondi-blue">{{ site.data[page.lang]['disaster_recovery']['plan_proactively'] }}</p>
            <p class="information__subtitle">{{ site.data[page.lang]['disaster_recovery']['choose_effective_methods'] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-large pt-3 resources">
      <div class="container">
        <p class="deposit-assets__subtitle text-bondi-blue mt-5 font-24">{{ site.data[page.lang]['footer']['how_it_works'] }}</p>
        <p class="deposit-assets__title mw-570">{{ site.data[page.lang]['disaster_recovery']['take_control_of_your'] }}:</p>
        
        <div class="row">
          <div class="col-md-6 col-sm-12">
            
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3" src="/images/integration-page/integration-circle.svg" alt="Circle Icon" loading="lazy"/>
              <div>
                <p class="deposit-assets__subtitle text-bondi-blue fw-bold mb-2">{{ site.data[page.lang]['how_it_works']['step_1'] }}</p>
                <p class="deposit-assets__text mw-520 font-24 fw-light">{{ site.data[page.lang]['disaster_recovery']['register_for_your_free'] }}</p>
              </div>
              <div class="deposit-assets__dotted-line"></div>
            </div>
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3" src="/images/integration-page/integration-circle.svg" alt="Circle Icon" loading="lazy"/>
              <div>
                <p class="deposit-assets__subtitle text-bondi-blue fw-bold mb-2">{{ site.data[page.lang]['how_it_works']['step_2'] }}</p>
                <p class="deposit-assets__text mw-520 font-24 fw-light">{{ site.data[page.lang]['disaster_recovery']['conduct_a_comprehensive'] }}</p>
              </div>
              <div class="deposit-assets__dotted-line"></div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3" src="/images/integration-page/integration-circle.svg" alt="Circle Icon" loading="lazy"/>
              <div>
                <p class="deposit-assets__subtitle text-bondi-blue fw-bold mb-2">{{ site.data[page.lang]['how_it_works']['step_3'] }}</p>
                <p class="deposit-assets__text mb-5 mw-520 font-24 fw-light">{{ site.data[page.lang]['disaster_recovery']['implement_proactive_risk'] }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 software-escrow">
            <img class="w-100 mw-420" src="/images/disaster-recovery/digital-asset-risks.webp" alt="Digitsal Asset Risks Illustration" loading="lazy"/>
          </div>
        </div>
        <div class="d-flex flex-wrap mt-5">
          <a class="button btn-cerulean compare-solutions-href mr-4 mb-4" href="compare-solutions.html">
            {{ site.data[page.lang]['source_code_escrow']['get_started'] }}
          </a>
          <p class="deposit-assets__text font-18 fw-400 mw-100 text-slate-gray mb-0 mt-2 link-blue">{{ site.data[page.lang]['index']['we_are_around'] }}</p>
        </div>
       
      </div>
    </div>

    <div class="container resources">
      <div class="best-price__bg3 my-5 section-medium">
        <img class="best-price__shape-top-right2" src="/images/disaster-recovery/top-right-shape.webp" alt="Gray decorative shape positioned at the top right corner" loading="lazy">
        <img class="best-price__shape-bottom-left2" src="/images/disaster-recovery/bottom-left-shape.webp" alt="Gray decorative shape positioned at the bottom left corner" loading="lazy">
        <p class="deposit-assets__title">{{ site.data[page.lang]['disaster_recovery']['don_risk_being'] }}</p>
        <p class="deposit-assets__subtitle mb-sm-50 mw-100">{{ site.data[page.lang]['disaster_recovery']['failing_to_prepare_by'] }}:</p>

        <div class="row my-4">
          <div class="col-md-3 col-sm-12 mb-sm-50">
            <img class="my-2" src="/images/disaster-recovery/icons/data-loss.svg"
            alt="Data Loss Icon" loading="lazy" />
            <p class="deposit-assets__subtitle font-22 fw-600 mb-1">{{ site.data[page.lang]['disaster_recovery']['data_loss'] }} </p>
            <p class="deposit-assets__subtitle font-14 text-slate-gray line-height-20">{{ site.data[page.lang]['disaster_recovery']['irreversible_damage'] }} </p>
          </div>
          <div class="col-md-3 col-sm-12 mb-sm-50">
            <img class="my-2" src="/images/disaster-recovery/icons/financial-setbacks.svg"
            alt="Financial Setbacks Icon" loading="lazy" />
            <p class="deposit-assets__subtitle font-22 fw-600 mb-1">{{ site.data[page.lang]['disaster_recovery']['financial_setbacks'] }} </p>
            <p class="deposit-assets__subtitle font-14 text-slate-gray line-height-20">{{ site.data[page.lang]['disaster_recovery']['overspending_on_the'] }} </p>
          </div>
          <div class="col-md-3 col-sm-12 mb-sm-50">
            <img class="my-2" src="/images/disaster-recovery/icons/liabilities.svg"
            alt="Liabilities Icon" loading="lazy" />
            <p class="deposit-assets__subtitle font-22 fw-600 mb-1">{{ site.data[page.lang]['disaster_recovery']['liabilities'] }} </p>
            <p class="deposit-assets__subtitle font-14 text-slate-gray line-height-20">{{ site.data[page.lang]['disaster_recovery']['costly_disruptions'] }} </p>
          </div>
          <div class="col-md-3 col-sm-12 mb-sm-50">
            <img class="my-2" src="/images/disaster-recovery/icons/reputational-harm.svg"
            alt="Reputational Harm Icon" loading="lazy" />
            <p class="deposit-assets__subtitle font-22 fw-600 mb-1">{{ site.data[page.lang]['disaster_recovery']['reputational_harm'] }} </p>
            <p class="deposit-assets__subtitle font-14 text-slate-gray line-height-20">{{ site.data[page.lang]['disaster_recovery']['loss_of_client_trust'] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="resources">
      <div class="people-choose__bg min-h-600">
        <p class="people-choose__main-title text-dark-cyan fw-light">{{ site.data[page.lang]['disaster_recovery']['strategic_digital_asset'] }}</p>
        <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['disaster_recovery']['embrace_the_future'] }}:</p>
      </div>
      <div class="pricing container mt-negative-280">
        <div class="row mt-4">
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column">
              <img class="my-2" src="/images/disaster-recovery/icons/assets-are-secure.svg" alt="Assets Are Secure Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24">{{ site.data[page.lang]['disaster_recovery']['your_assets_are'] }}</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 text-slate-gray">{{ site.data[page.lang]['disaster_recovery']['each_digital_asset'] }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column">
              <img class="my-2" src="/images/disaster-recovery/icons/operations-are-uninterrupted.svg" alt="Operations Are Uninterrupted Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24">{{ site.data[page.lang]['disaster_recovery']['your_operations_are'] }}</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 text-slate-gray">{{ site.data[page.lang]['disaster_recovery']['continuous_business_flow'] }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column">
              <img class="my-2" src="/images/disaster-recovery/icons/reputation-is-enhanced.svg" alt="Reputation Is Enhanced Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24">{{ site.data[page.lang]['disaster_recovery']['your_reputation_is'] }}</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 text-slate-gray">{{ site.data[page.lang]['disaster_recovery']['clients_trust_your'] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="container section-large pricing pb-0">
      <h4 class="section__title text-align-start">{{ site.data[page.lang]['pricing']['frequently_asked'] }}
      </h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">What is the Disaster Recovery Planner by Codekeeper?</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">The Disaster Recovery Planner by Codekeeper is a comprehensive tool designed for risk management of your digital assets. It provides one central place to manage digital assets, vendors, risk assessments, and plan mitigating actions, helping you take control of your risk strategy effectively.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">How can the Disaster Recovery Planner help my business?</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">Our Disaster Recovery Planner helps you identify and catalog your digital assets, assess their importance and risk levels, and choose effective mitigation strategies to protect your operations. It's specifically designed to ensure your assets are secure, and your operations are uninterrupted.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">Who should use the Disaster Recovery Planner?</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">Any organization that relies on digital assets for their core business operations should use the Disaster Recovery Planner. It's particularly crucial for companies looking to safeguard against data loss, financial setbacks, and reputational harm due to unforeseen disasters.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">Can I list all my digital assets and their locations with this tool?
          </p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">Yes, the Disaster Recovery Planner allows you to efficiently list and categorize all your digital assets along with their locations, ensuring comprehensive visibility and control over your digital landscape.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">Does the Disaster Recovery Planner assess the risks my assets face?</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">Absolutely. The planner enables you to conduct a comprehensive risk assessment for each asset, assigning levels of importance and identifying the best strategies to mitigate these risks effectively.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">How does this tool aid in proactive disaster recovery planning?</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">By allowing you to plan proactively, the Disaster Recovery Planner helps you select and implement the most effective risk mitigation strategies, powered by Codekeeper’s expertise. This ensures your business can maintain continuous flow, even during crises.</li>

        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">Is the Disaster Recovery Planner difficult to implement?</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">Not at all. You can register for your free account and start conducting a comprehensive assessment of your digital assets right away. Our tool is user-friendly and designed to facilitate easy implementation of proactive risk mitigation strategies.</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">What are the potential consequences of not using a disaster recovery planner?
            </p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
          </li>
          <li class="a section__text">Failing to prepare can lead to data loss, irreversible damage to your operations, financial setbacks, costly disruptions, liabilities, and reputational harm, including loss of client trust and business credibility.</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">How can I get started with Codekeeper’s Disaster Recovery Planner?
            </p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
          </li>
          <li class="a section__text">Getting started is simple. Register for your free account, and you can immediately begin assessing your digital assets and implementing risk mitigation strategies. For tailored advice, book a call with our advisor to discuss your specific situation.</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">Can the Disaster Recovery Planner integrate with other Codekeeper solutions?
            </p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
          </li>
          <li class="a section__text">Yes, the Disaster Recovery Planner can be complemented with other Codekeeper solutions like Software Backup and Software Escrow to provide a comprehensive protection strategy for all your digital assets, ensuring they are securely stored and ready for quick recovery in any situation.</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-5 text-center">{{ site.data[page.lang]['pricing']['have_not_found'] }} <a class="text-bondi-blue contact-href fw-bold text-transform-none text-underline" href="contact.html">{{ site.data[page.lang]['pricing']['contact_us'] }}</a> </p>
    </div>
    
    <!-- Section -->
    <div class="resources section-large">
      <div class="position-relative">
        <div class="container resources ">
          <p class="people-choose__main-title text-dark-cyan fw-light pt-2 overflow-wrap-break-mobile">{{ site.data[page.lang]['disaster_recovery']['take_the_first'] }}: <br>{{ site.data[page.lang]['disaster_recovery']['secure_your_digital'] }}</p>
          <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['disaster_recovery']['your_journey_to'] }}</p>
          <div class="content-center mt-5">
            <img class="software-escrow__image mw-530" src="/images/landing/disaster-recovery-planning.webp" alt="Illustration: Disaster Recovery Planning for Guaranteed Continuity" loading="lazy"/>
          </div>
        </div>
        <div class="container pt-50">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-5 col-sm-12">
              <img class="software-escrow__image mb-5" src="/images/disaster-recovery/disaster-recovery-screen.webp" alt="Illustration: Disaster Recovery Planning Toolkit" loading="lazy"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title mb-1 overflow-wrap-break-mobile mw-420">{{ site.data[page.lang]['solutions']['disaster_recovery_free'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['register_for_free'] }}</p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-3"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['information_assets_list'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['internal_and_external'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['risk_register'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['risk_mitigation'] }}</p>
              <div class="d-flex flex-wrap mt-4 mb-sm-50">
                <a class="button btn-cerulean3 disaster-recovery-planner-href mr-4 mb-3" href="disaster-recovery-planner.html">
                  {{ site.data[page.lang]['disaster_recovery']['start_planning_disaster'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link compare-solutions-href" href="compare-solutions.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="resources">
      <div class="container-fluid px-0">
        <div class="intro__bg">
          <div class="intro__col-green bg-gradient-blue2">
            <div class="intro__col-green-spacing">
              <img class="my-1" src="/images/disaster-recovery/icons/software-backups-shield-icon.svg" alt="Software Backup Shield Icon" loading="lazy"/>
              <h2 class="intro__title2 mt-2">{{ site.data[page.lang]['disaster_recovery']['set_up_your'] }}</h2>
              <p class="intro__subtitle2 mt-3">{{ site.data[page.lang]['disaster_recovery']['securely_store_the_source'] }}</p>
              <div class="solutions">
                <p class="select-level__price mr-4">{{ site.data[page.lang]['software_backup']['from'] }}<br><span
                    class="software-backup-monthly fw-700 font-40">{{ site.data.pricing.prices.software_backup_monthly.USD }}</span> {{
                  site.data[page.lang]['index']['per_month'] }}</p>
                <a class="button btn-cerulean software-backup-href px-5" href="software-backup.html">
                  {{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="intro__col bg-gradient-blue3">
            <div class="intro__col-spacing">
              <img class="my-1" src="/images/disaster-recovery/icons/software-escrow-shield-icon.svg" alt="Software Escrow Shield Icon" loading="lazy"/>
              <h2 class="intro__title2 mt-2">{{ site.data[page.lang]['disaster_recovery']['take_your_protection'] }}</h2>
              <p class="intro__subtitle2 mt-3">{{ site.data[page.lang]['disaster_recovery']['securely_store_your_software'] }}</p>
              <div class="solutions">
                <p class="select-level__price mr-4">{{ site.data[page.lang]['software_backup']['from'] }}<br><span
                    class="software-escrow-single-monthly fw-700 font-40">{{ site.data.pricing.prices.software_escrow_single_monthly.USD }}</span> {{
                  site.data[page.lang]['software_backup']['per_application'] }}</p>
                <a class="button btn-cerulean software-escrow-href px-5" href="software-escrow.html">
                  {{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Section -->
    {% include demo-intro-simple.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
  <script src="/js/faqDropdown.js"></script>
  <script src="/js/monthlyEscrowPricing.js"></script>
  <script src="/js/geolocationPricing.js"></script>
  <script src="/js/pricingCheckout.js"></script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
  <script>
    // Check if the page has not been reloaded
    if (!localStorage.getItem('pageReloaded')) {
      var yamlData = {{ site.data.pricing.prices | jsonify
    }};
    localStorage.setItem('prices', JSON.stringify(yamlData));

    // Set a flag in localStorage to indicate that the page has been reloaded
    localStorage.setItem('pageReloaded', 'true');

    // Reload the page
    window.location.reload();
    } 
  </script>
</body>