<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target; var elem = document.head; elem.appendChild(script);
  </script>
  <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx'
        alt='ClickCease' /></a>
  </noscript>
  <!--  Clickcease.com tracking-->

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-software-escrow">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <p class="header__info"><img class="mr-2 mb-1" src="/images/software-escrow/icons/ready-for-recovery.svg"
                  alt="Ready for Recovery Icon" />Disaster Recovery Planner
              </p>
              <h1 class="header__title text-align-start mt-4">Take control of your risk strategy for your digital assets </h1>
              <p class="header__subtitle text-align-start mt-4">One central place to manage your digital assets, vendors, risk assessments and plan mitigating actions.</p>
              <div class="d-flex flex-wrap resources mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{
                    site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 content-center flex-column">
              <img class="image-style mw-530 mt-4" src="/images/software-escrow/hero-software-escrow.webp"
                alt="Software Escrow Storage and Recovery Illustration" />              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid section-medium pricing">
      <p class="protect__subtext text-slate-gray fw-light">{{ site.data[page.lang]['index']['trusted_partner_of'] }}</p>
      <!-- Slideshow Brands -->
      {% include slideshow-brands.html %}
    </div>

    <div class="container section-large">
      <p class="scenario__title mx-auto pb-5">{{ site.data[page.lang]['software_escrow']['how_prepared'] }}</p>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-1.svg"
            alt="Supplier Bankruptcy Scenario Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto">{{ site.data[page.lang]['software_escrow']['scenario_1'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['software_escrow']['your_supplier'] }}</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-2.svg"
            alt="Ransomware Attack Scenario Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto">{{ site.data[page.lang]['software_escrow']['scenario_2'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['software_escrow']['you_go_into'] }}</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-3.svg"
            alt="Developer Hostage Scenario Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto">{{ site.data[page.lang]['software_escrow']['scenario_3'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['software_escrow']['your_developer'] }}</p>
        </div>
      </div>
      <p class="scenario__subtext mx-auto">{{ site.data[page.lang]['software_escrow']['these_are_just'] }}</p>
    </div>

    <div class="section-large risks__bg">
      <div class="container">
        <p class="risks__title">{{ site.data[page.lang]['software_escrow']['risks_you_can'] }}</p>
        <p class="risks__subtitle">{{ site.data[page.lang]['software_escrow']['modern_business'] }}</p>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12">
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/counter-party.svg"
                alt="Counter Party Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['counter_party'] }}
            </p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/bankruptcy.svg"
                alt="Bankruptcy Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['bankruptcy'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/stolen-data.svg"
                alt="Stolen Data Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['stolen_data'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/lawsuits.svg"
                alt="Lawsuits Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['lawsuits'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/unplanned-downtime.svg"
                alt="Uplanned Downtime Icon" loading="lazy" />{{
              site.data[page.lang]['software_escrow']['unplanned_downtime'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/catastrophic-events.svg"
                alt="Catastrophic Events Icon" loading="lazy" />{{
              site.data[page.lang]['software_escrow']['catastrophic_events'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/backup-recovery.svg"
                alt="Backup Recovery Icon" loading="lazy" />{{
              site.data[page.lang]['software_escrow']['backup_recovery'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/misrepresentation.svg"
                alt="Misrepresentation Icon" loading="lazy" />{{
              site.data[page.lang]['software_escrow']['misrepresentation'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/hacking.svg" alt="Hacking Icon"
                loading="lazy" />{{ site.data[page.lang]['software_escrow']['hacking'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/ransomware.svg"
                alt="Ransomware Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['ransomware'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/sabotage.svg"
                alt="Sabotage Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['sabotage'] }}</p>
            <p class="risks__text">{{ site.data[page.lang]['software_escrow']['and_many'] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="risks__box">
        <img class="risks__box-shape" src="/images/software-escrow/protect-shape.webp"
          alt="Abstract protective shape in the background" loading="lazy" />
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <p class="risks__box-text">{{ site.data[page.lang]['software_escrow']['its_time_to'] }}</p>
            <div class="d-flex flex-wrap mt-4">
              <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
              </a>
              <div>
                <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                <a class="header__link pricing-href" href="pricing.html">{{
                  site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right"
                    aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="risks__box-image" src="/images/software-escrow/protect-image.webp"
              alt="Software escrow protection illustration" loading="lazy" />
          </div>
        </div>
      </div>
    </div>

    <div class="section-large container">
      <p class="header__info text-center"><img class="mr-2 mb-1"
          src="/images/software-escrow/icons/ready-for-recovery.svg" alt="Ready for Recovery Icon" loading="lazy" />{{
        site.data[page.lang]['software_escrow']['ready_for_recovery'] }}</p>
      <p class="information__main-title">{{ site.data[page.lang]['software_escrow']['software_escrow'] }}</p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center" src="/images/software-escrow/manage-escrows.webp"
            alt="Dashboard interface for managing escrows" loading="lazy" />
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">{{ site.data[page.lang]['software_escrow']['manage_escrows'] }}</p>
          <p class="information__subtitle">{{ site.data[page.lang]['software_escrow']['the_central_dashboard'] }}</p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end">{{
            site.data[page.lang]['software_escrow']['designed_for_recovery'] }}</p>
          <p class="information__subtitle text-align-end ml-auto">{{
            site.data[page.lang]['software_escrow']['the_recovery_solution'] }}</p>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image" src="/images/software-escrow/designed-for-recovery.webp"
            alt="Recovery Solution Illustration" loading="lazy" />
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center" src="/images/software-escrow/integrated-with.webp"
            alt="Integration with developer workflows illustration" loading="lazy" />
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">{{ site.data[page.lang]['software_escrow']['integrated_with'] }}</p>
          <p class="information__subtitle">{{ site.data[page.lang]['software_escrow']['recent_version'] }} </p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end mt-5">{{
            site.data[page.lang]['software_escrow']['most_affordable'] }}</p>
          <p class="information__subtitle text-align-end ml-auto">{{
            site.data[page.lang]['software_escrow']['the_recovery_solution'] }}</p>
          <div class="d-flex justify-content-end align-items-center solutions">
            <p class="select-level__price mr-4">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span
                class="software-escrow-monthly">{{ site.data.pricing.prices.software_escrow_monthly.USD }}</span>/{{
              site.data[page.lang]['solutions']['month'] }}</p>
            <a class="button btn-cerulean3 pricing-href" href="pricing.html">{{
              site.data[page.lang]['software_escrow']['view_our_pricing'] }}</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image" src="/images/software-escrow/most-affordable.webp"
            alt="Affordable Pricing Illustration" loading="lazy" />
        </div>
      </div>
    </div>


    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
  <script src="/js/faqDropdown.js"></script>
  <script src="/js/monthlyEscrowPricing.js"></script>
  <script src="/js/geolocationPricing.js"></script>
  <script src="/js/pricingCheckout.js"></script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
  <script>
    // Check if the page has not been reloaded
    if (!localStorage.getItem('pageReloaded')) {
      var yamlData = {{ site.data.pricing.prices | jsonify
    }};
    localStorage.setItem('prices', JSON.stringify(yamlData));

    // Set a flag in localStorage to indicate that the page has been reloaded
    localStorage.setItem('pageReloaded', 'true');

    // Reload the page
    window.location.reload();
    } 
  </script>
</body>