<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

    <!-- Leadinfo tracking code -->
<script>
  (function(l,e,a,d,i,n,f,o){if(!l[i]){l.GlobalLeadinfoNamespace=l.GlobalLeadinfoNamespace||[];
  l.GlobalLeadinfoNamespace.push(i);l[i]=function(){(l[i].q=l[i].q||[]).push(arguments)};l[i].t=l[i].t||n;
  l[i].q=l[i].q||[];o=e.createElement(a);f=e.getElementsByTagName(a)[0];o.async=1;o.src=d;f.parentNode.insertBefore(o,f);}
  }(window,document,"script","https://cdn.leadinfo.net/ping.js","leadinfo","LI-615C0E87ED394"));
  </script>
  <div class="confirmation bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="discount__container">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h1 class="discount__title mt-5">{{ site.data[page.lang]['discount']['claim_your_code'] }}</h1>
            <p class="discount__subtitle mt-4">{{ site.data[page.lang]['discount']['thank_you_for'] }}</p>
            <img class="discount__image mt-4" src="/images/homepage/discount-illustration.webp"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="discount__form mt-5 mx-auto">
              <p class="discount__form-title mb-4">{{ site.data[page.lang]['discount']['fill_the_form'] }}</p>
              <!--[if lte IE 8]>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
              <![endif]-->
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                region: "na1",
                portalId: "5365877",
                formId: "710ca086-e182-4df7-8773-732038a548f3"
              });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>