<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="resources">
      <div class="header__content overflow-hidden">
        <div class="header__bg2">
          <div class="container">
            <div class="guide__content">
              <div>
                <h2 class="guide__title text-cerulean mt-4">{{ site.data[page.lang]['escrow_agreement']['get_your_customised'] }}</h2>
                <p class="guide__subtitle text-air-force-blue mt-3">{{ site.data[page.lang]['escrow_agreement']['our_legal_team'] }}</p>
                <a class="button btn-bondi-blue width-fit-content mt-4" href="create-custom-software-escrow-agreement.html">
                  {{ site.data[page.lang]['escrow_agreement']['get_custom_escrow'] }}
                </a>
              </div>
              <img class="guide__image3 my-5" src="/images/resources-page/anatomy-icon.svg"/>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white pb-5 user-select-none">
        <div class="container">
          <h3 class="info__title pb-5">{{ site.data[page.lang]['escrow_agreement']['source_code_escrow'] }} </h3>
          <p class="info__benefits-subtitle mt-5">{{ site.data[page.lang]['escrow_agreement']['the_undersigned'] }}: </p>
          <p class="info__benefits-subtitle mt-4">1. {{ site.data[page.lang]['escrow_agreement']['customer_having'] }} </p>
          <p class="info__benefits-subtitle mt-4">2. {{ site.data[page.lang]['escrow_agreement']['codekeeper_depending'] }}</p>
          <p class="info__benefits-subtitle mt-4">{{ site.data[page.lang]['escrow_agreement']['whereas'] }}: </p>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">I) </p>
            <div>
              <p class="info__cases-subtitle2 mt-1 mb-1"> {{ site.data[page.lang]['escrow_agreement']['client_has_direct'] }}</p>
              <p class="info__cases-subtitle2 mt-2 mb-1"> {{ site.data[page.lang]['escrow_agreement']['client_has_agreed'] }} </p>
              <p class="info__cases-subtitle2 mt-2 mb-1"> {{ site.data[page.lang]['escrow_agreement']['client_will_assign'] }} </p>
            </div>
            
          </div>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">II) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['the_source_code_of'] }}</p>
          </div>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">III) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['the_source_code_of_the'] }}</p>
          </div>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">IV) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['client_acknowledges'] }}</p>
          </div>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">V) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['client_agrees_to'] }}</p>
          </div>
          <p class="info__benefits-subtitle mt-5">{{ site.data[page.lang]['escrow_agreement']['hereby_agree'] }}: </p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_1_definition'] }}</h3>
          <p class="info__benefits-subtitle mt-4">{{ site.data[page.lang]['escrow_agreement']['the_following_expressions'] }}: </p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['escrow_agreement_this'] }} </p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['beneficiary_in_the_form'] }} </p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['client_supplier'] }}</p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['continuity_purposes'] }} </p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['escrow_confirmation'] }} </p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['license_agreement'] }}</p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['maintenance_obligations'] }}</p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['material'] }}</p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['medium'] }} </p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['product'] }}</p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['source_code'] }}</p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['technical_documentation'] }}</p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['release_event'] }}</p>
          <p class="info__benefits-subtitle mt-3">{{ site.data[page.lang]['escrow_agreement']['release_validation'] }}</p>

          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_2_deposit'] }}</h3>
          <p class="info__benefits-subtitle mt-4">2.1 {{ site.data[page.lang]['escrow_agreement']['client_shall_provide'] }} </p>
          <p class="info__benefits-subtitle mt-4">2.2 {{ site.data[page.lang]['escrow_agreement']['client_shall_undertake'] }} </p>
          <p class="info__benefits-subtitle mt-4">2.3 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_will'] }} </p>
          <p class="info__benefits-subtitle mt-4">2.4 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_shall'] }}</p>
          <p class="info__benefits-subtitle mt-4">2.5 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_shall_make'] }} </p>
          <p class="info__benefits-subtitle mt-4">2.6 {{ site.data[page.lang]['escrow_agreement']['the_access_to'] }} </p>
          <p class="info__benefits-subtitle mt-4"> 2.7 {{ site.data[page.lang]['escrow_agreement']['client_hereby'] }}: </p>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">I) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['connect_to_the'] }}</p>
          </div>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">II) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['make_backups_of'] }}</p>
          </div>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">III) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['load_the_material'] }}</p>
          </div>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">IV) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['release_the_material'] }}</p>
          </div>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_3_verification'] }}</h3>
          <p class="info__benefits-subtitle mt-4">3.1 {{ site.data[page.lang]['escrow_agreement']['no_verification_of'] }}  </p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_4_backup'] }}</h3>
          <p class="info__benefits-subtitle mt-4">4.1 {{ site.data[page.lang]['escrow_agreement']['client_shall_throughout'] }} </p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_5_obligations'] }}</h3>
          <p class="info__benefits-subtitle mt-4">5.1 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_shall_hold'] }}</p>
          <p class="info__benefits-subtitle mt-4">5.2 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_shall_throughout'] }} </p>
          <p class="info__benefits-subtitle mt-4">5.3 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_shall_not'] }}</p>
          <p class="info__benefits-subtitle mt-4">5.4 {{ site.data[page.lang]['escrow_agreement']['if_despite_the_security'] }} </p>
          <p class="info__benefits-subtitle mt-4">5.5 {{ site.data[page.lang]['escrow_agreement']['on_termination'] }} </p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_6_confidentiality'] }}</h3>
          <p class="info__benefits-subtitle mt-4">6.1 {{ site.data[page.lang]['escrow_agreement']['if_and_as_far'] }}:</p>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">I) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['the_material_on_deposit'] }}</p>
          </div>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">II) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['information_disclosed'] }}</p>
          </div>
          <p class="info__benefits-subtitle mt-4">6.2 {{ site.data[page.lang]['escrow_agreement']['on_termination_of_this'] }}</p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_7_release'] }}</h3>
          <p class="info__benefits-subtitle mt-4">7.1 {{ site.data[page.lang]['escrow_agreement']['these_release_terms'] }}:</p>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">I) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['client_applies_for'] }} </p>
          </div>
          <div class="info__benefits-content mt-3 mw-100">
            <p class="info__cases-subtitle3 mt-1 mb-0">II) </p>
            <p class="info__cases-subtitle2 mt-1 mb-0">{{ site.data[page.lang]['escrow_agreement']['client_is_declared_insolvent'] }}</p>
          </div>
          <p class="info__benefits-subtitle mt-2">{{ site.data[page.lang]['escrow_agreement']['except_as_provided'] }} </p>
          <p class="info__benefits-subtitle mt-4">7.2 {{ site.data[page.lang]['escrow_agreement']['if_in_the_opinion'] }} </p>
          <p class="info__benefits-subtitle mt-4">7.3 {{ site.data[page.lang]['escrow_agreement']['upon_receipt'] }} </p>
          <p class="info__benefits-subtitle mt-4">7.4 {{ site.data[page.lang]['escrow_agreement']['if_within_the_term'] }} </p>
          <p class="info__benefits-subtitle mt-4">7.5 {{ site.data[page.lang]['escrow_agreement']['if_client_suffers_bankruptcy'] }} </p>
          <p class="info__benefits-subtitle mt-4">7.6 {{ site.data[page.lang]['escrow_agreement']['in_the_event_that'] }} </p>
          <p class="info__benefits-subtitle mt-4">7.7 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_shall_only'] }} </p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_8_warranties'] }}</h3>
          <p class="info__benefits-subtitle mt-4">8.1 {{ site.data[page.lang]['escrow_agreement']['client_warrants_and'] }}</p>
          <p class="info__benefits-subtitle mt-4">8.2 {{ site.data[page.lang]['escrow_agreement']['client_warrants_that'] }} </p>
          <p class="info__benefits-subtitle mt-4">8.3 {{ site.data[page.lang]['escrow_agreement']['client_warrants_to'] }}</p>
          <p class="info__benefits-subtitle mt-4">8.4 {{ site.data[page.lang]['escrow_agreement']['beneficiary_warrants'] }} </p>
          <p class="info__benefits-subtitle mt-4">8.5 {{ site.data[page.lang]['escrow_agreement']['due_to_the_license'] }}</p>
          <p class="info__benefits-subtitle mt-4">8.6 {{ site.data[page.lang]['escrow_agreement']['if_beneficiary_enters'] }}</p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_9_liability'] }}</h3>
          <p class="info__benefits-subtitle mt-4">9.1 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_will_not'] }}</p>
          <p class="info__benefits-subtitle mt-4">9.2 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_shall_not'] }} </p>
          <p class="info__benefits-subtitle mt-4">9.3 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_shall_be'] }}</p>
          <p class="info__benefits-subtitle mt-4">9.4 {{ site.data[page.lang]['escrow_agreement']['client_or_in_the'] }}</p>
          <p class="info__benefits-subtitle mt-4">9.5 {{ site.data[page.lang]['escrow_agreement']['client_agrees_the'] }} </p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_10_terms'] }}</h3>
          <p class="info__benefits-subtitle mt-4">10.1 {{ site.data[page.lang]['escrow_agreement']['the_agreement_shall'] }}</p>
          <p class="info__benefits-subtitle mt-4">10.2 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_may'] }} </p>
          <p class="info__benefits-subtitle mt-4">10.3 {{ site.data[page.lang]['escrow_agreement']['client_having_deposited'] }} </p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_11_payment'] }}</h3>
          <p class="info__benefits-subtitle mt-4">11.1 {{ site.data[page.lang]['escrow_agreement']['for_the_services'] }}</p>
          <p class="info__benefits-subtitle mt-4">11.2 {{ site.data[page.lang]['escrow_agreement']['the_initial_fee'] }} </p>
          <p class="info__benefits-subtitle mt-4">11.3 {{ site.data[page.lang]['escrow_agreement']['escrow_agent_is'] }} </p>
          <p class="info__benefits-subtitle mt-4">11.4 {{ site.data[page.lang]['escrow_agreement']['payment_of_invoices'] }} </p>
          <p class="info__benefits-subtitle mt-4">11.5 {{ site.data[page.lang]['escrow_agreement']['in_the_event_client'] }} </p>
          <p class="info__benefits-subtitle mt-4">11.6 {{ site.data[page.lang]['escrow_agreement']['in_the_event_of'] }} </p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_12_assignment'] }}</h3>
          <p class="info__benefits-subtitle mt-4">12.1 {{ site.data[page.lang]['escrow_agreement']['client_undertakes'] }}</p>
          <p class="info__benefits-subtitle mt-4">12.2 {{ site.data[page.lang]['escrow_agreement']['in_such_a_case'] }}</p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_13_miscellaneous'] }}</h3>
          <p class="info__benefits-subtitle mt-4">13.1 {{ site.data[page.lang]['escrow_agreement']['in_all_cases'] }} </p>
          <p class="info__benefits-subtitle mt-4">13.2 {{ site.data[page.lang]['escrow_agreement']['where_the_word'] }}</p>
          <p class="info__benefits-subtitle mt-4">13.3 {{ site.data[page.lang]['escrow_agreement']['depending_on_client'] }}</p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_14_client'] }} </h3>
          <p class="info__benefits-subtitle mt-4">14.1 {{ site.data[page.lang]['escrow_agreement']['client_contact_and'] }}</p>
          <p class="info__benefits-subtitle mt-4">14.2 {{ site.data[page.lang]['escrow_agreement']['client_certifies'] }} </p>
          <h3 class="info__data-title mt-5">{{ site.data[page.lang]['escrow_agreement']['article_15_beneficiary'] }} </h3>
          <p class="info__benefits-subtitle mt-4">15.1 {{ site.data[page.lang]['escrow_agreement']['client_names_the'] }}  </p>
          <p class="info__benefits-subtitle mt-4">15.2 {{ site.data[page.lang]['escrow_agreement']['client_certifies'] }} </p>

        </div>
      </div>
    </div>

    
    <!-- Section -->
    {% include intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>