<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="solutions pb-100">
      <div class="header__content">
        <div class="header__bg-new">
          <img class="header__bg-top-left" src="/images/solutions/top-left.webp" alt="Top Left Background Shape"/>
          <img class="header__bg-bottom-right" src="/images/solutions/bottom-right.webp" alt="Bottom Right Background Shape"/>
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <h1 class="header__title text-align-start mt-4 mw-700">{{ site.data[page.lang]['escrow_agreements']['a_solid_legal_framework'] }}</h1>
                <p class="header__subtitle text-align-start mt-4 mw-570">{{ site.data[page.lang]['escrow_agreements']['battle_tested'] }}</p>
                <div class="d-flex flex-wrap resources mt-4">
                  <a class="button btn-cerulean3 mr-4 mb-4" href="#agreement-templates">
                    {{ site.data[page.lang]['escrow_agreements']['download_our_escrow'] }}
                  </a>
                  <div>
                    <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                    <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-12 content-center">
                <img class="image-style mw-530 mt-4" src="/images/landing/header-agreements.webp" alt="Escrow Agreements Illustration"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="resources pb-100">
      <div class="container section-medium">
        <p class="legal-hurdles__title pb-4">{{ site.data[page.lang]['escrow_agreements']['legal_hurdles'] }}</p>
        <div class="row mt-5">
          <div class="col-md-3 col-sm-12">
            <img class="mx-auto d-block my-2" src="/images/escrow-page/icons/expensive.svg" alt="Expensive Icon" loading="lazy"/>
            <p class="legal-hurdles__subtitle mw-260 mt-4 mx-auto">{{ site.data[page.lang]['escrow_agreements']['expensive_and_slow'] }}</p>
          </div>
          <div class="col-md-3 col-sm-12">
            <img class="mx-auto d-block my-2" src="/images/escrow-page/icons/language.svg" alt="Language Icon" loading="lazy"/>
            <p class="legal-hurdles__subtitle mt-4 mx-auto">{{ site.data[page.lang]['escrow_agreements']['language_not'] }}</p>
          </div>
          <div class="col-md-3 col-sm-12">
            <img class="mx-auto d-block my-2" src="/images/escrow-page/icons/too-slow.svg" alt="Too Slow Icon" loading="lazy"/>
            <p class="legal-hurdles__subtitle mt-4 mx-auto">{{ site.data[page.lang]['escrow_agreements']['too_slow'] }}</p>
          </div>
          <div class="col-md-3 col-sm-12">
            <img class="mx-auto d-block my-2" src="/images/escrow-page/icons/ambiguous.svg" alt="Ambiguous Icon" loading="lazy"/>
            <p class="legal-hurdles__subtitle mt-4 mx-auto">{{ site.data[page.lang]['escrow_agreements']['ambiguous_escrow'] }}</p>
          </div>
        </div>
      </div>

      <div class="software-escrow">
        <div class="framework__bg">
          <p class="framework__title">{{ site.data[page.lang]['escrow_agreements']['software_escrow_legal'] }}</p>
          <p class="framework__subtitle">{{ site.data[page.lang]['escrow_agreements']['a_legal_process'] }}</p>
        </div>

        <div class="container section-medium">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <img class="information__image content-center mt-5" src="/images/escrow-page/agreements-for.webp" alt="Illustration: Escrow Agreements for Every Situation" loading="lazy"/>
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="information__title">{{ site.data[page.lang]['escrow_agreements']['agreements_for'] }}</p>
              <p class="information__subtitle">{{ site.data[page.lang]['escrow_agreements']['theres_no'] }} <a class="text-bondi-blue text-underline" href="#agreement-templates">{{ site.data[page.lang]['escrow_agreements']['download_samples_here'] }}</a></p>
            </div>
          </div>
          <div class="row py-5 column-reverse-mobile">
            <div class="col-md-6 col-sm-12">
              <p class="information__title text-align-end">{{ site.data[page.lang]['escrow_agreements']['customisable_release'] }}</p>
              <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['escrow_agreements']['its_very'] }}</p>
            </div>
            <div class="col-md-6 col-sm-12 content-center">
              <img class="information__image mt-5" src="/images/escrow-page/customisable.webp" alt="Illustration: Customisable Release Conditions" loading="lazy"/>
            </div>
          </div>
          <div class="row py-5">
            <div class="col-md-6 col-sm-12">
              <img class="information__image content-center mt-5" src="/images/escrow-page/bi-tripartite.webp" alt="Illustration: Bi/Tripartite Agreements" loading="lazy"/>
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="information__title">{{ site.data[page.lang]['escrow_agreements']['bi_tripartite'] }}</p>
              <p class="information__subtitle">{{ site.data[page.lang]['escrow_agreements']['we_support_both'] }}</p>
            </div>
          </div>
          <div class="row py-5 column-reverse-mobile">
            <div class="col-md-6 col-sm-12">
              <p class="information__title text-align-end mw-420 ml-auto">{{ site.data[page.lang]['escrow_agreements']['legal_sla'] }}</p>
              <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['escrow_agreements']['many_companies'] }}</p>
            </div>
            <div class="col-md-6 col-sm-12 content-center">
              <img class="information__image mt-5" src="/images/escrow-page/legal-sla.webp" alt="Illustration: Legal SLA's for Custom Requirements" loading="lazy"/>
            </div>
          </div>
        </div>
        
      </div>

      <div class="mt-5 bg-alice-blue">
        <div class="container pt-150 position-relative z-index-1">
          <div class="software-escrow">
            <p class="framework__title">{{ site.data[page.lang]['escrow_agreements']['our_escrow_agreement'] }}</p>
            <p class="framework__subtitle mw-900 mx-auto mt-4">{{ site.data[page.lang]['escrow_agreements']['you_may_be'] }}</p>
          </div>
          
          <div class="row pt-5" id="agreement-templates">
            <div class="col-md-6 col-sm-12">
              <div class="escrow__agreement-box column-reverse-mobile">
                <div class="escrow__agreement-content">
                  <div>
                    <p class="escrow__agreement-title">{{ site.data[page.lang]['escrow_agreements']['software_licensing'] }}</p>
                    <p class="escrow__agreement-subtitle">{{ site.data[page.lang]['escrow_agreements']['use_for_all'] }}</p>
                  </div>
                  <a class="button btn-developer text-center my-2" data-toggle="modal" data-target="#exampleModal01">
                    {{ site.data[page.lang]['escrow_agreements']['download_sample'] }}
                  </a>
                </div>
                <img class="escrow__agreement-image-right" src="/images/escrow-page/software-licensing.webp" alt="Illustration: Software Licensing" loading="lazy"/>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="escrow__agreement-box column-reverse-mobile">
                <div class="escrow__agreement-content">
                  <div>
                    <p class="escrow__agreement-title">{{ site.data[page.lang]['escrow_agreements']['software_development'] }}</p>
                    <p class="escrow__agreement-subtitle">{{ site.data[page.lang]['escrow_agreements']['use_when_outsourcing'] }}</p>
                  </div>
                  <a class="button btn-client text-center my-2" data-toggle="modal" data-target="#exampleModal02">
                    {{ site.data[page.lang]['escrow_agreements']['download_sample'] }}
                  </a>
                </div>
                <img class="escrow__agreement-image-right" src="/images/escrow-page/software-development.webp" alt="Illustration: Software Development Outsourcing" loading="lazy"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12 content-center flex-column">
              <img class="image-style mw-260 mx-auto mh-50 mt-5" src="/images/escrow-page/icons/all-escrow.svg" alt="All Escrow Icon" loading="lazy"/>
              <p class="escrow__agreement-info mx-auto mt-4">{{ site.data[page.lang]['escrow_agreements']['all_escrow'] }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="escrow__agreement-box column-reverse-mobile">
                <div class="escrow__agreement-content">
                  <div>
                    <p class="escrow__agreement-title">{{ site.data[page.lang]['escrow_agreements']['compliance_regulations'] }}</p>
                    <p class="escrow__agreement-subtitle">{{ site.data[page.lang]['escrow_agreements']['use_when_applying'] }}</p>
                  </div>
                  <a class="button btn-developer text-center my-2" data-toggle="modal" data-target="#exampleModal03">
                    {{ site.data[page.lang]['escrow_agreements']['download_sample'] }}
                  </a>
                </div>
                <img class="escrow__agreement-image-right" src="/images/escrow-page/compliance.webp" alt="Illustration: Compliance & Regulations" loading="lazy"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="escrow__agreement-box column-reverse-mobile">
                <div class="escrow__agreement-content">
                  <div>
                    <p class="escrow__agreement-title">{{ site.data[page.lang]['escrow_agreements']['security_operational'] }}</p>
                    <p class="escrow__agreement-subtitle">{{ site.data[page.lang]['escrow_agreements']['use_when'] }}</p>
                  </div>
                  <a class="button btn-developer text-center my-2" data-toggle="modal" data-target="#exampleModal05">
                    {{ site.data[page.lang]['escrow_agreements']['download_sample'] }}
                  </a>
                </div>
                <img class="escrow__agreement-image-right" src="/images/escrow-page/security-operational.webp" alt="Illustration: Security & Operational Resilience" loading="lazy"/>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="escrow__agreement-box column-reverse-mobile">
                <div class="escrow__agreement-content">
                  <div>
                    <p class="escrow__agreement-title">{{ site.data[page.lang]['escrow_agreements']['transactions'] }}</p>
                    <p class="escrow__agreement-subtitle">{{ site.data[page.lang]['escrow_agreements']['use_when_ip'] }} </p>
                  </div>
                  <a class="button btn-client text-center my-2" data-toggle="modal" data-target="#exampleModal04">
                    {{ site.data[page.lang]['escrow_agreements']['download_sample'] }}
                  </a>
                </div>
                <img class="escrow__agreement-image-right" src="/images/escrow-page/transactions.webp" alt="Illustration: Transactions, M&A, Investment & Financing" loading="lazy"/>
              </div>
            </div>
          </div>


          
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal01" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-form p-0 bg-white">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['escrow_agreements']['download_this_template'] }}</p>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 pt-4 content-center flex-column align-items-center">
                        <img class="section__modal-image template-image" src="/images/escrow-page/software-licensing.webp" alt="Illustration: Software Licensing" loading="lazy"/>
                        <p class="section__modal-subtext mt-4">*{{ site.data[page.lang]['escrow_agreements']['template_available_only'] }}</p>
                      </div>
                      <div class="col-md-6 col-sm-12 pt-3">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                          hbspt.forms.create({
                            region: "na1",
                            portalId: "5365877",
                            formId: "b0202573-b4e8-4bac-aa5f-bede6fc2c4a9"
                          });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-form p-0 bg-white">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['escrow_agreements']['download_this_template'] }}</p>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 pt-4 content-center flex-column align-items-center">
                        <img class="section__modal-image template-image" src="/images/escrow-page/software-development.webp" alt="Illustration: Software Development Outsourcing" loading="lazy"/>
                        <p class="section__modal-subtext mt-4">*{{ site.data[page.lang]['escrow_agreements']['template_available_only'] }}</p>
                      </div>
                      <div class="col-md-6 col-sm-12 pt-3">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                          hbspt.forms.create({
                            region: "na1",
                            portalId: "5365877",
                            formId: "0f899fa9-bfaf-41a1-8675-e43211a1ec5b"
                          });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal03" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-form p-0 bg-white">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['escrow_agreements']['download_this_template'] }}</p>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 pt-4 content-center flex-column align-items-center">
                        <img class="section__modal-image template-image" src="/images/escrow-page/compliance.webp" alt="Illustration: Compliance & Regulations" loading="lazy"/>
                        <p class="section__modal-subtext mt-4">*{{ site.data[page.lang]['escrow_agreements']['template_available_only'] }}</p>
                      </div>
                      <div class="col-md-6 col-sm-12 pt-3">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                          hbspt.forms.create({
                            region: "na1",
                            portalId: "5365877",
                            formId: "03ece85a-d271-4f50-98f1-50de634210ee"
                          });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal04" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-form p-0 bg-white">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['escrow_agreements']['download_this_template'] }}</p>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 pt-4 content-center flex-column align-items-center">
                        <img class="section__modal-image template-image" src="/images/escrow-page/transactions.webp" alt="Illustration: Transactions, M&A, Investment & Financing" loading="lazy"/>
                        <p class="section__modal-subtext mt-4">*{{ site.data[page.lang]['escrow_agreements']['template_available_only'] }}</p>
                      </div>
                      <div class="col-md-6 col-sm-12 pt-3">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                          hbspt.forms.create({
                            region: "na1",
                            portalId: "5365877",
                            formId: "9baf8c90-e842-4d6b-92a1-a54735a86417"
                          });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal05" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-form p-0 bg-white">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['escrow_agreements']['download_this_template'] }}</p>
                    <div class="row">
                      <div class="col-md-6 col-sm-12 pt-4 content-center flex-column align-items-center">
                        <img class="section__modal-image template-image" src="/images/escrow-page/security-operational.webp" alt="Illustration: Security & Operational Resilience" loading="lazy"/>
                        <p class="section__modal-subtext mt-4">*{{ site.data[page.lang]['escrow_agreements']['template_available_only'] }}</p>
                      </div>
                      <div class="col-md-6 col-sm-12 pt-3">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                          hbspt.forms.create({
                            region: "na1",
                            portalId: "5365877",
                            formId: "7c72c4f4-0f9a-4004-8104-d6c8c183c4d5"
                          });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Section -->
      <div class="escrow__customised-bg">
        <div class="container">
          <img class="escrow__customised-right" src="/images/escrow-page/customised-bg.png" alt="Illustration: Customised Background" loading="lazy"/>
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h1 class="escrow__customised-title">{{ site.data[page.lang]['escrow_agreements']['customised_escrow'] }}</h1>
              <p class="escrow__customised-subtitle mt-4">{{ site.data[page.lang]['escrow_agreements']['want_to_give'] }} </p>
              <a class="button btn-yellow create-custom-software-escrow-agreement-href" href="create-custom-software-escrow-agreement.html">
                {{ site.data[page.lang]['escrow_agreements']['request_custom'] }}
              </a>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="escrow__customised-image" src="/images/escrow-page/customised-escrow.webp" alt="Illustration: Customised Escrow Agreement" loading="lazy"/>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="container section-large pricing">
      <h4 class="section__title text-align-start">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_agreement']['what_is_a_software'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_agreement']['a_software_escrow'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_agreement']['why_should_i'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_agreement']['a_software'] }}</li>
        
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_agreement']['how_does'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_agreement']['we_offer'] }} <a href="pricing.html" class="text-underline pricing-href ">{{ site.data[page.lang]['faq_pricing']['here'] }}</a>.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_agreement']['what_are_some'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_agreement']['common_triggering'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_agreement']['do_i_need'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_agreement']['no_we_take'] }}</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_agreement']['can_i_customize'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_agreement']['yes_codekeeper'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_agreement']['how_does_codekeeper'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['we_operate_within'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_agreement']['can_multiple'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_agreement']['yes_codekeeper_allows'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_agreement']['can_i_transfer'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['absolutely_we_are_here'] }}</li>
          
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-5">{{ site.data[page.lang]['faq']['if_you_have_any2'] }} </p>
    </div>
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}

  <script src="/js/faqDropdown.js"></script>
</body>