<!DOCTYPE html>
<html lang="en">

<head>
  <!--Required meta tags-->
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
  <title>EU React</title>
  <meta name="robots" content="noindex">
  <link href="./images/OS.png" rel="icon" sizes="16x16" type="image/png" />
  <!--Bootstrap CSS-->
  <link rel="stylesheet" href="./css/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
</head>

<body>
  <div class="eu-react">
    <div class="eu-header__background">
      <!-- Navigation -->
      <div class="d-flex align-items-center justify-content-between container-fluid nav-padding bg-white py-2 nav-box-shadow">
        <a class="navbar-brand" href="https://codekeeper.co/"><img class="header__logo" alt="Logo Codekeeper" src="/images/logos/Logo-codekeeper.svg"/></a>
        <a class="btn btn-primary-sm my-2" href="https://codekeeper.co/" >Learn More</a>
      </div>
      <!-- Header -->
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div>
              <h1 class="eu-header__title">Codekeeper SaaS Escrow</h1>
              <p class="eu-header__text mt-4">Our Goal:</p>
              <p class="eu-header__subtitle mt-4">Guaranteeing continuity by providing a service that can take over the tasks of a developer in case of bankruptcy.</p>
              <p class="eu-header__subtext mt-4 pb-2">That means maintaining the software and, if necessary, developing small additional functionalities. As a result, users of the software will thus have the assurance that they can continue to use their essential software applications.</p>
              <a class="btn btn-cerulean mt-4 mb-5" href="https://codekeeper.co/" >Learn More</a>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 d-flex align-items-center">
            <img class="image-style" alt="Header Image" src="/images/eu-react/header-image.webp"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="container section-medium">
      <div class="row d-flex align-items-center column-reverse-mobile mt-5 pb-5">
        <div class="col-md-6 col-sm-12">
          <img class="eu-info__image" alt="Image Section" src="/images/eu-react/protect-hosting.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="eu-info__title">Protect Hosting Environment(s)</p>
          <p class="eu-info__subtitle">Include the up and running applications into the escrow. We provide continuity guarantees to hosters or provide full mirror environments to deploy to.</p>
        </div>
      </div>
      <div class="row d-flex align-items-center mt-5 pb-5">
        <div class="col-md-6 col-sm-12">
          <p class="eu-info__title text-align-end">Include 3rd Party Dependencies</p>
          <p class="eu-info__subtitle text-align-end ml-auto">Bring crucial suppliers and services safely into the escrow, like payment services, auth services, security services and many others. </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="eu-info__image" alt="Image Section" src="/images/eu-react/include-3rd.webp"/>
        </div>
      </div>
      <div class="row d-flex align-items-center column-reverse-mobile mt-5 pb-5">
        <div class="col-md-6 col-sm-12">
          <img class="eu-info__image" alt="Image Section" src="/images/eu-react/designed-for.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="eu-info__title">Designed for Continuity</p>
          <p class="eu-info__subtitle">SaaS escrow is designed to eliminate downtime and provide continuity for your most crucial SaaS applications.</p>
        </div>
      </div>
      <div class="row d-flex align-items-center mt-5 pb-5">
        <div class="col-md-6 col-sm-12">
          <p class="eu-info__title text-align-end">Manage Escrows with Ease</p>
          <p class="eu-info__subtitle text-align-end ml-auto">The central dashboard allows you to quickly setup and manage all escrows for your organization. Both depositor and beneficiary on the same platform.</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="eu-info__image" alt="Image Section" src="/images/eu-react/manage-escrows.webp"/>
        </div>
      </div>
      <div class="row d-flex align-items-center column-reverse-mobile mt-5 pb-5">
        <div class="col-md-6 col-sm-12">
          <img class="eu-info__image" alt="Image Section" src="/images/eu-react/integrated-with.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="eu-info__title">Integrated with Developer Workflows</p>
          <p class="eu-info__subtitle">Recent version are always deposited within 24 hours, AES256 encrypted and fully automated. We support more than 50 integrations! </p>
        </div>
      </div>
      <div class="row d-flex align-items-center mt-5 pb-5">
        <div class="col-md-6 col-sm-12">
          <p class="eu-info__title text-align-end">Best priced full continuity protection</p>
          <p class="eu-info__subtitle text-align-end ml-auto">The recovery solution means that you store all required assets that are required to qucikly recover in case of a release event.</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="eu-info__image" alt="Image Section" src="/images/eu-react/best-priced.webp"/>
        </div>
      </div>
    </div>

    <div class="container-fluid eu-protect section-large pb-5">
      <p class="eu-protect__main-title">Critical SaaS assets you can protect</p>
      <p class="eu-protect__main-subtitle mx-auto">Include the up and running applications & any 3rd party dependencies into the escrow.</p>
      <a class="btn btn-cerulean mt-4 mb-5 mx-auto" href="https://codekeeper.co/" >Learn More</a>
      <div class="container mt-80">
        <div class="eu-protect__box mt-4">
          <img class="eu-protect__shape-right" alt="Image Section" src="/images/eu-react/shape-right.webp"/>
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <p class="eu-protect__title">SaaS Escrow Assets</p>
              <p class="eu-protect__text">3rd Party Dependencies</p>
              <p class="eu-protect__subtext">These days many applications need supporting 3rd party systems to run without problems. In order to make sure your application keeps working as it should you can include those suppliers into the SaaS escrow. We will work with those providers to keep them running during a release situation.</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="image-style mw-230" alt="Image Section" src="/images/eu-react/dependencies.webp"/>
            </div>
          </div>
        </div>
        <div class="eu-protect__box mt-4">
          <img class="eu-protect__shape-left" alt="Image Section" src="/images/eu-react/shape-left.webp"/>
          <div class="row column-reverse-mobile">
            <div class="col-md-4 col-sm-12">
              <img class="image-style mw-230" alt="Image Section" src="/images/eu-react/envinronment.webp"/>
            </div>
            <div class="col-md-8 col-sm-12">
              <p class="eu-protect__title">SaaS Escrow Assets</p>
              <p class="eu-protect__text">Hosting Environment Escrow</p>
              <p class="eu-protect__subtext">Some applications are so important zero downtime can be accepted. In those scenarios it’s a good idea to take the entire hosting environment into escrow. We work with the provider to take over if your supplier gets into trouble.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="container section-medium">
      <div class="row d-flex align-items-center column-reverse-mobile mt-5 pb-5">
        <div class="col-md-6 col-sm-12">
          <img class="eu-info__image" alt="Image Section" src="/images/eu-react/developers-love.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="eu-info__title">Developers love us!</p>
          <p class="eu-info__subtitle">Directly integrated with the tools developers use every day to write source code and fully automated. No longer spending time on making manual deposits into escrows.</p>
        </div>
      </div>
      <div class="row d-flex align-items-center mt-5 pb-5">
        <div class="col-md-6 col-sm-12">
          <p class="eu-info__title text-align-end">Easy Deposit Admin</p>
          <p class="eu-info__subtitle text-align-end ml-auto">No need to manage releases, versions and which repository belongs where. In our user interface you can easily add and manage your repositories. </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="eu-info__image" alt="Image Section" src="/images/eu-react/easy-deposit.webp"/>
        </div>
      </div>
      <div class="row d-flex align-items-center column-reverse-mobile mt-5 pb-5">
        <div class="col-md-6 col-sm-12">
          <img class="eu-info__image" alt="Image Section" src="/images/eu-react/integrations.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="eu-info__title">Integrations library</p>
          <p class="eu-info__subtitle">Recent versions are always deposited within 24 hours, End-to-end encrypted (AES256) and fully automated. We support more than 50 integrations! </p>
        </div>
      </div>
      <div class="row d-flex align-items-center mt-5 pb-5">
        <div class="col-md-6 col-sm-12">
          <p class="eu-info__title text-align-end">Many add-ons Available</p>
          <p class="eu-info__subtitle text-align-end ml-auto">Need local storage? Or a Data Processing Agreement for GDPR/HIPAA? No problem!<br> Have us <a class="text-bondi-blue text-underline" href="software-escrow-verification-process.html">verify and certifiy</a> the deposits.</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="eu-info__image" alt="Image Section" src="/images/eu-react/many-add-ons.webp"/>
        </div>
      </div>
    </div>


    <div class="container-fluid bg-cool-white section-medium content-center flex-column position-relative">
      <img class="eu-flag__shape-right" alt="Image Section" src="/images/eu-react/footer-shape-right.webp"/>
      <img class="eu-flag__shape-left" alt="Image Section" src="/images/eu-react/footer-shape-left.webp"/>
      <p class="eu-flag__text">Mede mogelijk gemaakt door de Europese Unie</p>
      <img class="mw-260 mx-auto mt-3" alt="Europese Unie Image" src="/images/eu-react/europese-unie.webp"/>
      <p class="eu-flag__title">Europese Unie</p>
      <p class="eu-flag__subtitle">Europees Fonds voor Regionale Ontwikkeling</p>
    </div>

    <div class="container-fluid eu-footer">
      <div>
        <a href="https://codekeeper.co/"><img class="mw-230 mb-3" alt="Codekeeper logo" src="/images/eu-react/logo-ck-white.svg"/></a>
        <p class="eu-footer__text">Codekeeper, Inc. - All rights reserved <script>document.write( new Date().getFullYear() );</script>.</p>
      </div>
      <div class="d-flex align-items-center">
        <a class="eu-footer__link" href="https://legal.codekeeper.co/page?page=TermsConditions">Terms of Service</a>
        <span class="mx-2 eu-footer__bullet">&#8226;</span>
        <a class="eu-footer__link" href="https://legal.codekeeper.co/page?page=PrivacyPolicy">Privacy Policy.</a>
      </div>
    </div>
    
    
  </div>
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/eu-react.html')) {
    document.title = "EU React"
    document.getElementsByTagName('meta')["description"].content = "noindex";
  }
  </script>
  <!--jQuery first then Bootstrap JS.-->
  <script type="text/javascript" src="./js/index.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.js" integrity="sha256-fNXJFIlca05BIO2Y5zh1xrShK3ME+/lYZ0j+ChxX2DA=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>