<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJR93GW" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header class="features-header">
    {% include navigation.html %}

    <div class="features-header__content container">
      <h1 class="features-header__content-title">{{ site.data[page.lang]['features']['the_tools_you'] }}</h1>
      <p class="features-header__content-text darker-grey">{{ site.data[page.lang]['features']['learn_how_tolq'] }}</p>
      <img class="features-header__content-img d-block mx-auto w-100" src="/images/feature-header.svg" alt="" />
      <img class="features-header__content-img-mob" src="/images/image.svg" alt="" />
    </div>
  </header>

  <section class="features-process container">
    <h2 class="features-process__title">{{ site.data[page.lang]['features']['we_manage_the'] }}</h2>

    <div class="features-process__row d-flex justify-content-between">
      <div class="features-process__col">
        <img src="/images/translator.svg" alt="" />
        <p class="features-process__col-title">{{ site.data[page.lang]['features']['translator_vetting'] }}</p>
        <p class="features-process__col-text dark-grey">{{ site.data[page.lang]['features']['all_translators_and'] }}</p>
      </div>
      <div class="features-process__col">
        <img src="/images/crm.svg" alt="" />
        <p class="features-process__col-title">{{ site.data[page.lang]['features']['quality_management'] }}</p>
        <p class="features-process__col-text dark-grey">{{ site.data[page.lang]['features']['we_monitor_quality'] }}</p>
      </div>
      <div class="features-process__col">
        <img src="/images/operations.svg" alt="" />
        <p class="features-process__col-title">{{ site.data[page.lang]['features']['operations_monitoring'] }}</p>
        <p class="features-process__col-text dark-grey">{{ site.data[page.lang]['features']['each_translation_task'] }}</p>
      </div>
    </div>
  </section>

  <section class="features-translation">
    <div class="container">
      <h2 class="features-translation__title">{{ site.data[page.lang]['features']['translation_process'] }}</h2>

      <div class="d-flex features-translation__row">
        <div class="features-translation__col -has-space">
          <p class="features-translation__col-title">{{ site.data[page.lang]['features']['translation_process'] }}</p>
          <h2 class="features-translation__col-subtitle">{{ site.data[page.lang]['features']['streamline_your'] }}</h2>
          <p class="features-translation__col-text darker-grey">{{ site.data[page.lang]['features']['using_state'] }}</p>

          <p class="features-translation__col-text darker-grey">{{ site.data[page.lang]['features']['our_machine'] }}</p>
        </div>
        <div>
          <img class="-has-shadow" src="/images/quality ai (1).svg" alt="" />
        </div>
      </div>

      <div class="d-flex features-translation__row -reverse">
        <div class="-has-space">
          <img class="-has-shadow" src="/images/verdicts (1).svg" alt="" />
        </div>
        <div class="features-translation__col">
          <p class="features-translation__col-title">{{ site.data[page.lang]['features']['translation_process'] }}</p>
          <h2 class="features-translation__col-subtitle">{{ site.data[page.lang]['features']['increase_agility'] }}</h2>
          <p class="features-translation__col-text darker-grey">{{ site.data[page.lang]['features']['after_your_content'] }}</p>

          <p class="features-translation__col-text darker-grey">{{ site.data[page.lang]['features']['want_human_quality'] }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="features-management container">
    <h2 class="features-translation__title">{{ site.data[page.lang]['features']['translation_management'] }}</h2>

    <div class="d-flex features-translation__row align-items-center">
      <div class="features-translation__col -has-space">
        <p class="features-translation__col-title">{{ site.data[page.lang]['features']['translation_management'] }}</p>
        <h2 class="features-translation__col-subtitle">{{ site.data[page.lang]['features']['manage_your_translation'] }}</h2>
        <p class="features-translation__col-text dark-grey">{{ site.data[page.lang]['features']['managing_translations'] }}</p>

        <p class="features-translation__col-text dark-grey">{{ site.data[page.lang]['features']['you_can_easily'] }}</p>
      </div>
      <div>
        <img class="-has-shadow" src="/images/filters (1).svg" alt="" />
      </div>
    </div>

    <div class="d-flex features-translation__row -reverse align-items-center">
      <div class="-has-space">
        <img class="-has-shadow" src="/images/translate request.svg" alt="" />
      </div>
      <div class="features-translation__col">
        <p class="features-translation__col-title">{{ site.data[page.lang]['features']['translation_management'] }}</p>
        <h2 class="features-translation__col-subtitle">{{ site.data[page.lang]['features']['use_workflows_to'] }}</h2>
        <p class="features-translation__col-text dark-grey">{{ site.data[page.lang]['features']['workflows_are_the'] }}:</p>

        <p class="features-translation__col-text dark-grey">
          <img class="features-translation__col-check" src="/images/tick.svg" alt="" />
          {{ site.data[page.lang]['features']['human_translation'] }}
        </p>
        <p class="features-translation__col-text dark-grey">
          <img class="features-translation__col-check" src="/images/tick.svg" alt="" />
          {{ site.data[page.lang]['features']['human_proofreading'] }}
        </p>
        <p class="features-translation__col-text dark-grey">
          <img class="features-translation__col-check" src="/images/tick.svg" alt="" />
          {{ site.data[page.lang]['features']['neural_machine'] }}
        </p>
        <p class="features-translation__col-text dark-grey">
          <img class="features-translation__col-check" src="/images/tick.svg" alt="" />
          {{ site.data[page.lang]['features']['nmt_post_editing'] }}
        </p>
        <p class="features-translation__col-text dark-grey">
          <img class="features-translation__col-check" src="/images/tick.svg" alt="" />
          {{ site.data[page.lang]['features']['statistical_machine'] }}
        </p>
      </div>
    </div>

    <div class="d-flex features-translation__row align-items-center">
      <div class="features-translation__col -has-space">
        <p class="features-translation__col-title">{{ site.data[page.lang]['features']['translation_management'] }}</p>
        <h2 class="features-translation__col-subtitle">{{ site.data[page.lang]['features']['translate_thousands'] }}</h2>
        <p class="features-translation__col-text dark-grey">{{ site.data[page.lang]['features']['translate_up_to'] }}</p>

        <p class="features-translation__col-text dark-grey">{{ site.data[page.lang]['features']['we_support_html'] }}</p>
      </div>
      <div>
        <img class="-has-shadow" src="/images/files (1).svg" alt="" />
      </div>
    </div>

    <div class="d-flex features-translation__row -reverse align-items-center">
      <div class="-has-space">
        <img class="-has-shadow" src="/images/api (1).svg" alt="" />
      </div>
      <div class="features-translation__col">
        <p class="features-translation__col-title">{{ site.data[page.lang]['features']['translation_management'] }}</p>
        <h2 class="features-translation__col-subtitle">{{ site.data[page.lang]['features']['get_more_done'] }}</h2>
        <p class="features-translation__col-text dark-grey">{{ site.data[page.lang]['features']['with_a_wide'] }}</p>

        <p class="features-translation__col-text dark-grey">{{ site.data[page.lang]['features']['if_you_dont'] }} <a
            href="contact.html">{{ site.data[page.lang]['features']['let_us_know'] }}</a> {{ site.data[page.lang]['features']['and_we'] }}
        </p>
      </div>
    </div>
  </section>

  <section class="features-quality">
    <div class="container">
      <h2 class="features-quality__title">{{ site.data[page.lang]['features']['quality_control'] }}</h2>

      <div class="d-flex features-translation__row align-items-center">

        <div class="features-translation__col -has-space">
          <p class="features-translation__col-title">{{ site.data[page.lang]['features']['quality_control'] }}</p>
          <h2 class="features-translation__col-subtitle">{{ site.data[page.lang]['features']['manage_all_of'] }}</h2>
          <p class="features-translation__col-text darker-grey">{{ site.data[page.lang]['features']['continuous_localization'] }}</p>

          <div class="d-flex align-items-start">
            <img class="features-translation__col-check" src="/images/tick.svg" class="mr-3" alt="" />
            <p class="features-translation__col-text darker-grey">

              <span class="-is-blue">{{ site.data[page.lang]['features']['style_guides'] }}</span> {{ site.data[page.lang]['features']['ensure_consistency'] }}</p>
          </div>

          <div class="d-flex align-items-start">
            <img class="features-translation__col-check" src="/images/tick.svg" class="mr-3" alt="" />
            <p class="features-translation__col-text darker-grey">

              <span class="-is-blue">{{ site.data[page.lang]['features']['glossary_and'] }}</span> {{ site.data[page.lang]['features']['ensure_your_translations'] }}</p>
          </div>
          <div class="d-flex align-items-start">
            <img class="features-translation__col-check" src="/images/tick.svg" class="mr-3" alt="" />
            <p class="features-translation__col-text darker-grey">

              <span class="-is-blue">{{ site.data[page.lang]['features']['translation_memory'] }}</span> {{ site.data[page.lang]['features']['ensures_you_never'] }}</p>
          </div>

        </div>
        <div>
          <img class="-has-shadow" src="/images/style guides (1).svg" alt="" />
        </div>
      </div>

      <div class="d-flex features-translation__row -reverse align-items-center">
        <div class="-has-space">
          <img class="-has-shadow" src="/images/chat (2).svg" alt="" />
        </div>

        <div class="features-translation__col">
          <p class="features-translation__col-title">{{ site.data[page.lang]['features']['quality_control'] }}</p>
          <h2 class="features-translation__col-subtitle">{{ site.data[page.lang]['features']['take_control_of'] }}</h2>
          <p class="features-translation__col-text darker-grey">{{ site.data[page.lang]['features']['tolqs_set_of'] }}</p>

          <div class="d-flex align-items-start">
            <img class="features-translation__col-check" src="/images/tick.svg" class="mr-3" alt="" />
            <p class="features-translation__col-text darker-grey">

              <span class="-is-blue">{{ site.data[page.lang]['features']['translator_chat'] }}</span> {{ site.data[page.lang]['features']['forget_messy'] }}</p>
          </div>

          <div class="d-flex align-items-start">
            <img class="features-translation__col-check" src="/images/tick.svg" class="mr-3" alt="" />
            <p class="features-translation__col-text darker-grey">

              <span class="-is-blue">{{ site.data[page.lang]['features']['in_context_view'] }}</span> {{ site.data[page.lang]['features']['eliminate_misunderstandings'] }}</p>
          </div>
          <div class="d-flex align-items-start">
            <img class="features-translation__col-check" src="/images/tick.svg" class="mr-3" alt="" />
            <p class="features-translation__col-text darker-grey">

              <span class="-is-blue">{{ site.data[page.lang]['features']['translations_review'] }}</span> {{ site.data[page.lang]['features']['not_satisfied'] }}</p>
          </div>
          <div class="d-flex align-items-start">
            <img class="features-translation__col-check" src="/images/tick.svg" class="mr-3" alt="" />
            <p class="features-translation__col-text darker-grey">

              <span class="-is-blue">{{ site.data[page.lang]['features']['mix_and_match'] }}</span> {{ site.data[page.lang]['features']['use_smart'] }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features-show container">
    <div class="features-show__container">
      <div>
        <p class="features-show__container-title">{{ site.data[page.lang]['features']['dont_just'] }}</p>
        <p class="features-show__container-subtitle mb-sm-2 mb-lg-0">{{ site.data[page.lang]['features']['let_us_show'] }}</p>
      </div>

      <div class="d-flex index-translators__btns">
        <a href="https://calendly.com/tolq" class="mr-sm-0 mr-lg-4">
          <button class="btn-initial btn-blue">{{ site.data[page.lang]['features']['book_a_demo'] }}</button>
        </a>

        <a href="https://clients.tolq.com/sign_up">
          <button class="btn-initial btn-outline">{{ site.data[page.lang]['features']['start_now'] }}</button>
        </a>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    {% include footer.html %}
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  {% include snippets.html %}
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5626357.js"></script>
<!-- End of HubSpot Embed Code -->
</html>