<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->
  <div class="features bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg">
        <div class="container">
          <h1 class="header__title mx-auto mt-4">{{ site.data[page.lang]['features']['features_main'] }}</h1>
          <p class="header__subtitle mx-auto mt-5">{{ site.data[page.lang]['features']['some_of_the_world'] }}</p>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="container d-flex justify-content-center">
      <img class="header__screen" src="/images/features-page/features-image.svg"/>
    </div>
    <div class="container section-medium">
      <h2 class="solutions__main-title mx-auto">{{ site.data[page.lang]['features']['our_solutions'] }}</h2>
      <p class="solutions__main-subtitle mx-auto mt-4">{{ site.data[page.lang]['features']['thanks_to_our'] }}</p>
      <div class="row mt-5">
        <div class="col-md-5 col-sm-12">
          <h2 class="solutions__title-fade mb-5 min-h-110">{{ site.data[page.lang]['features']['the_traditional_way'] }}</h2>
          <div class="d-flex justify-content-end mt-2">
            <div>
              <p class="solutions__subtitle-fade">{{ site.data[page.lang]['features']['manual_and_outdated'] }}</p>
              <p class="solutions__subtext-fade">{{ site.data[page.lang]['features']['traditional_escrows_require'] }}</p>
            </div>
            <img class="solutions__icon-fade" src="/images/features-page/circle-feather.svg"/>
          </div>
          <div class="d-flex justify-content-end mt-2">
            <div>
              <p class="solutions__subtitle-fade">{{ site.data[page.lang]['features']['recovery_problems'] }}</p>
              <p class="solutions__subtext-fade">{{ site.data[page.lang]['features']['incompatible_code_versions'] }}</p>
            </div>
            <img class="solutions__icon-fade" src="/images/features-page/circle-cancel.svg"/>
          </div>
          <div class="d-flex justify-content-end mt-2">
            <div>
              <p class="solutions__subtitle-fade">{{ site.data[page.lang]['features']['expensive_lawyer'] }}</p>
              <p class="solutions__subtext-fade">{{ site.data[page.lang]['features']['waiting_for_expensive'] }}</p>
            </div>
            <img class="solutions__icon-fade" src="/images/features-page/circle-folder.svg"/>
          </div>
        </div>
        <div class="col-md-2 col-sm-12">
          <div class="solutions__center">
            <div class="solutions__center-dot"></div>
            <div class="solutions__center-line"></div>
            <div class="solutions__center-dot2"></div>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <h2 class="solutions__title mb-5 min-h-110">{{ site.data[page.lang]['features']['the_codekeeper_source'] }}</h2>
          <div class="d-flex mt-2">
            <img class="solutions__icon" src="/images/features-page/circle-automated.svg"/>
            <div>
              <p class="solutions__subtitle">{{ site.data[page.lang]['features']['automated_and_up'] }}</p>
              <p class="solutions__subtext">{{ site.data[page.lang]['features']['codekeeper_integrates_directly'] }}</p>
            </div>
          </div>
          <div class="d-flex mt-2">
            <img class="solutions__icon" src="/images/features-page/circle-recovery.svg"/>
            <div>
              <p class="solutions__subtitle">{{ site.data[page.lang]['features']['quick_recovery'] }} </p>
              <p class="solutions__subtext">{{ site.data[page.lang]['features']['quick_recovery_in_case'] }}</p>
            </div>
          </div>
          <div class="d-flex mt-2">
            <img class="solutions__icon" src="/images/features-page/circle-support.svg"/>
            <div>
              <p class="solutions__subtitle">{{ site.data[page.lang]['features']['end_to_end_concierge'] }}</p>
              <p class="solutions__subtext">{{ site.data[page.lang]['features']['we_offer_complete'] }}</p>
            </div>
          </div>
        </div>
      </div>
      <a class="button btn-bondi-blue mx-auto mb-5" href="pricing.html">
        {{ site.data[page.lang]['features']['get_started'] }}
      </a>
    </div>
    <!-- Second Section -->
    <div class="bg-white py-3 px-3">
      <div class="advantages__section-container mx-auto">
        <div class="container">
          <h2 class="advantages__title">{{ site.data[page.lang]['features']['key_advantages'] }}</h2>
          <p class="advantages__subtitle mx-auto">{{ site.data[page.lang]['features']['codekeeper_ensures_you_have'] }}</p>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/features-page/icon-file-check.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['features']['free_escrow_agreement'] }} <img class="ml-1 mb-1" src="/images/features-page/circle-checkbox.svg"/></p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['features']['eliminate_risks_of'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/features-page/icon-usd.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['features']['best_price'] }} <img class="ml-1 mb-1" src="/images/features-page/circle-checkbox.svg"/></p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['features']['we_believe'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/features-page/icon-bill.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['features']['no_lawyer_fees_or'] }} <img class="ml-1 mb-1" src="/images/features-page/circle-checkbox.svg"/></p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['features']['a_free_and_legally'] }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/features-page/icon-code-branch.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['features']['repository_sync'] }} <img class="ml-1 mb-1" src="/images/features-page/circle-checkbox.svg"/></p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['features']['dont_waste'] }} </p>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/features-page/icon-strategy.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['features']['data_buckets'] }} <img class="ml-1 mb-1" src="/images/features-page/circle-checkbox.svg"/></p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['features']['data_escrow_allows'] }}</p>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/features-page/icon-user-exclamation.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['features']['concierge_support'] }} <img class="ml-1 mb-1" src="/images/features-page/circle-checkbox.svg"/></p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['features']['we_offer_complete'] }} </p>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/features-page/icon-cloud-database.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['features']['storage_limits'] }} <img class="ml-1 mb-1" src="/images/features-page/circle-checkbox.svg"/></p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['features']['we_apply_a_fair'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="bg-white section-medium">
      <div class="container">
        <h2 class="clients__title mt-5">{{ site.data[page.lang]['features']['our_escrow_deposit'] }}</h2>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="clients__item-box">
              <img class="clients__section-image" src="/images/homepage/source-code-escrow.svg"/>
              <p class="clients__section-title">{{ site.data[page.lang]['features']['source_code_escrow'] }}</p>
              <p class="clients__section-subtitle">{{ site.data[page.lang]['features']['a_source_code_repository'] }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="clients__item-box">
              <img class="clients__section-image" src="/images/homepage/data-escrow.svg"/>
              <p class="clients__section-title">{{ site.data[page.lang]['features']['data_escrow'] }}</p>
              <p class="clients__section-subtitle">{{ site.data[page.lang]['features']['data_escrow_allows_you'] }} </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="clients__item-box">
              <img class="clients__section-image" src="/images/homepage/information-escrow.svg"/>
              <p class="clients__section-title">{{ site.data[page.lang]['features']['information_escrow'] }}</p>
              <p class="clients__section-subtitle">{{ site.data[page.lang]['features']['store_intellectual'] }}  </p>
            </div>
          </div>
        </div>
        <a class="button btn-secondary-large mx-auto my-5" href="resources.html">
          {{ site.data[page.lang]['features']['learn_more'] }}
        </a>
        <p class="clients__info-text pt-4">{{ site.data[page.lang]['features']['our_source_code'] }}:</p>
        <div class="resources">
          <div class="applications__logos mt-5">
            <div class="applications__logo">
              <img class="applications__logo-image" src="/images/homepage/logos/bitbucket.svg"/>
              <p class="applications__logo-text">Bitbucket</p>
            </div>
            <div class="applications__logo">
              <img class="applications__logo-image" src="/images/homepage/logos/github.svg"/>
              <p class="applications__logo-text">GitHub</p>
            </div>
            <div class="applications__logo">
              <img class="applications__logo-image" src="/images/homepage/logos/gitlab.svg"/>
              <p class="applications__logo-text">GitLab</p>
            </div>
            <div class="applications__logo">
              <img class="applications__logo-image" src="/images/homepage/logos/git.svg"/>
              <p class="applications__logo-text">Git</p>
            </div>
            <div class="applications__logo">
              <img class="applications__logo-image" src="/images/homepage/logos/visual-studio.svg"/>
              <p class="applications__logo-text">Visual Studio</p>
            </div>
            <div class="applications__logo">
              <img class="applications__logo-image" src="/images/homepage/logos/google-cloud2.svg"/>
              <p class="applications__logo-text">Google Cloud</p>
            </div>
            <div class="applications__logo">
              <img class="applications__logo-image" src="/images/homepage/logos/azure2.svg"/>
              <p class="applications__logo-text">Microsoft Azure</p>
            </div>
            <div class="applications__logo">
              <img class="applications__logo-image" src="/images/homepage/logos/amazon2.svg"/>
              <p class="applications__logo-text">Amazon Web Services</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="bg-white">
      <div class="verification__container mx-auto">
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="/images/features-page/escrow-management.svg"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <h2 class="verification__title">{{ site.data[page.lang]['features']['escrow_management'] }}</h2>
            <p class="verification__subtitle ml-auto mt-3">{{ site.data[page.lang]['features']['need_to_provide'] }} </p>
            <a class="button btn-secondary-large ml-auto my-4" href="pricing.html">
              {{ site.data[page.lang]['features']['see_our_pricing'] }}
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="verification__icon" src="/images/features-page/icon-file.svg"/>
            <p class="verification__title2 mt-3">{{ site.data[page.lang]['features']['customizable_release'] }}</p>
            <p class="verification__text">{{ site.data[page.lang]['features']['specify_for_each'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="verification__icon" src="/images/features-page/icon-data.svg"/>
            <p class="verification__title2 mt-3">{{ site.data[page.lang]['features']['data_escrow'] }}</p>
            <p class="verification__text">{{ site.data[page.lang]['features']['we_have_storage'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="verification__icon" src="/images/features-page/icon-escrow.svg"/>
            <p class="verification__title2 mt-3">{{ site.data[page.lang]['features']['escrow_agreements'] }}</p>
            <p class="verification__text">{{ site.data[page.lang]['features']['in_addition_to'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="verification__guide">
      {% include escrow-introduction.html %}
    </div>
    <!-- Fifth Section -->
    <div class="bg-white">
      <div class="container section-medium resources">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="escrow__content px-3">
              <h2 class="escrow3__title">{{ site.data[page.lang]['features']['escrow_agreement_included'] }}</h2>
              <p class="escrow3__subtitle mt-4">{{ site.data[page.lang]['features']['a_legally_sound_escrow'] }}</p>
              <div class="d-flex flex-wrap align-items-center my-5">
                <a class="button btn-bondi-blue mr-4 my-4" href="pricing.html">
                  {{ site.data[page.lang]['features']['get_started'] }}
                </a>
                <a class="button escrow3__link mw-100 text-bondi-blue" data-toggle="modal" data-target="#exampleModal4">
                  {{ site.data[page.lang]['features']['download_sample'] }}
                </a>
                </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="/images/homepage/escrow-role.svg"/>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-image-content p-0 pt-5">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                  </div>
                  <div class="section__modal-form p-0">
                    <img class="section__modal-image" src="/images/resources-page/guide-sample.svg"/>
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      portalId: "5365877",
                      formId: "bce2ad68-43f6-4f71-842a-aa44edaf6489"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Sixth Section -->
    <div class="bg-white pt-5 px-3">
      <div class="people__section-container mx-auto people__guide-spacing">
        <div class="container">
          <h2 class="people__title">{{ site.data[page.lang]['includes']['security']['security'] }}</h2>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col">
                <img class="people__section-image mt-3" src="/images/homepage/data-security.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['includes']['security']['data_security'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['includes']['security']['our_data_centers'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col">
                <img class="people__section-image mt-3" src="/images/homepage/encryption.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['includes']['security']['end_to_end'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['includes']['security']['data_is_secured'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col">
                <img class="people__section-image mt-3" src="/images/homepage/secure-upload.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['includes']['security']['secure_upload'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['includes']['security']['if_you_prefer'] }}</p>
              </div>
            </div>
          </div>
          <a class="button btn-secondary-large mx-auto my-5" href="security.html">
            {{ site.data[page.lang]['includes']['security']['learn_more'] }}
          </a>
        </div>
      </div>
    </div>
    <div class="verification__guide">
      {% include security-guide.html %}
    </div>
    <!-- Seventh Section -->
    <div class="bg-white py-5">
      <div class="container d-flex flex-column align-items-center">
        <p class="protect__subtext">{{ site.data[page.lang]['features']['we_operate_within'] }}:</p>
        <img class="datacenter-image" src="/images/logos/datacenter-certifications.svg"/>
      </div>
    </div>
    <!-- Eight Section -->
    {% include secure-assets.html %}
    <!-- Footer -->
    {% include footer.html %}
    
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>