<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KJR93GW" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header class="index-header alice-blue-bg mh-700">
    {% include navigation.html %}

    <div class="features-header__content container">
      <h1 class="features-header__content-title">{{ site.data[page.lang]['features']['the_tools_you'] }}</h1>
      <p class="features-header__content-text mx-auto">{{ site.data[page.lang]['features']['learn_how_tolq'] }}</p>
      <div class="d-flex align-items-center justify-content-center">
        <a href="https://calendly.com/tolq">
          <button class="btn-initial btn-green index-header__content-btn">{{ site.data[page.lang]['navigation']['book_a_demo'] }}</button>
        </a>
      </div>
    </div>
  </header>
  <div class="d-flex justify-content-center">
    <img class="features-header__content-img mx-auto" src="/images/features/features-header.svg" alt="" />
  </div>

  <section class="container">
    <h2 class="features__section-title mw-600 text-center mx-auto mt-negative">{{ site.data[page.lang]['features']['we_manage_the'] }}</h2>
    <div class="row mt-5">
      <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
        <img class="" src="/images/features/translator-vetting.svg" alt="" />
        <p class="features__section-text">{{ site.data[page.lang]['features']['translator_vetting'] }}</p>
        <p class="features__section-subtext text-center mw-320 font-16">{{ site.data[page.lang]['features']['all_translators_and'] }}</p>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
        <img class="" src="/images/features/quality-management.svg" alt="" />
        <p class="features__section-text">{{ site.data[page.lang]['features']['quality_management'] }}</p>
        <p class="features__section-subtext text-center mw-320 font-16">{{ site.data[page.lang]['features']['we_monitor_quality'] }}</p>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
        <img class="" src="/images/features/operations-monitoring.svg" alt="" />
        <p class="features__section-text">{{ site.data[page.lang]['features']['operations_monitoring'] }}</p>
        <p class="features__section-subtext text-center mw-320 font-16">{{ site.data[page.lang]['features']['each_translation_task'] }}</p>
      </div>
    </div>
  </section>

  <section class="container">
    <h2 class="features__section-title text-center mt-0 pb-5">{{ site.data[page.lang]['features']['translation_process'] }}</h2>
    <div class="row py-5 column-reverse-mobile">
      <div class="col-12 col-md-5">
        <img class="image-style-mobile" src="/images/features/quality-dimension.svg" alt="" />
      </div>
      <div class="col-12 col-md-2 d-flex flex-column align-items-center">
        <img class="features__section-dotted-line" src="/images/features/dotted-line.svg" alt="" />
      </div>
      <div class="col-12 col-md-5">
        <p class="features__section-subtitle">{{ site.data[page.lang]['features']['streamline_your'] }}</p>
        <p class="features__section-subtext">{{ site.data[page.lang]['features']['using_state'] }}</p>
        <p class="features__section-subtext mb-4">{{ site.data[page.lang]['features']['our_machine'] }}</p>
      </div>
    </div>
    <div class="row pt-5 mt-negative2">
      <div class="col-12 col-md-5">
        <p class="features__section-subtitle text-right">{{ site.data[page.lang]['features']['increase_agility'] }}</p>
        <p class="features__section-subtext text-right">{{ site.data[page.lang]['features']['after_your_content'] }}</p>
        <p class="features__section-subtext text-right mb-4">{{ site.data[page.lang]['features']['want_human_quality'] }}</p>
      </div>
      <div class="col-12 col-md-2 d-flex flex-column align-items-center">
        
      </div>
      <div class="col-12 col-md-5">
        <img class="image-style-mobile" src="/images/features/verdicts.svg" alt="" />
      </div>
    </div>
  </section>

  <section class="alice-blue-bg">
    <div class="container">
      <h2 class="features__section-title text-center mt-0 pb-5">{{ site.data[page.lang]['features']['translation_management'] }}</h2>
      <div class="row py-5">
        <div class="col-12 col-md-6">
          <p class="features__section-subtitle mw-520">{{ site.data[page.lang]['features']['manage_your_translation'] }}</p>
          <p class="features__section-subtext mw-520">{{ site.data[page.lang]['features']['managing_translations'] }}</p>
          <p class="features__section-subtext mw-520 mb-4">{{ site.data[page.lang]['features']['you_can_easily'] }}</p>
        </div>
        <div class="col-12 col-md-6">
          <img class="image-style-mobile" src="/images/features/manage-translation.svg" alt="" />
        </div>
      </div>
      <div class="row py-5">
        <div class="col-12 col-md-6">
          <img class="image-style-mobile" src="/images/features/use-workflows.svg" alt="" />
        </div>
        <div class="col-12 col-md-6">
          <p class="features__section-subtitle mw-520">{{ site.data[page.lang]['features']['use_workflows_to'] }}</p>
          <p class="features__section-subtext mw-520">{{ site.data[page.lang]['features']['workflows_are_the'] }}:</p>
          <p class="features__section-subtext mt-4 mb-2 text-font-base">
            <img class="features-translation__col-check" src="/images/features/check-icon-small.svg" alt="" />
            {{ site.data[page.lang]['features']['human_translation'] }}
          </p>
          <p class="features__section-subtext mb-2 text-font-base">
            <img class="features-translation__col-check" src="/images/features/check-icon-small.svg" alt="" />
            {{ site.data[page.lang]['features']['human_proofreading'] }}
          </p>
          <p class="features__section-subtext mb-2 text-font-base">
            <img class="features-translation__col-check" src="/images/features/check-icon-small.svg" alt="" />
            {{ site.data[page.lang]['features']['neural_machine'] }}
          </p>
          <p class="features__section-subtext mb-2 text-font-base">
            <img class="features-translation__col-check" src="/images/features/check-icon-small.svg" alt="" />
            {{ site.data[page.lang]['features']['nmt_post_editing'] }}
          </p>
          <p class="features__section-subtext mb-2 text-font-base">
            <img class="features-translation__col-check" src="/images/features/check-icon-small.svg" alt="" />
            {{ site.data[page.lang]['features']['statistical_machine'] }}
          </p>
        </div>
      </div>

      <div class="row py-5">
        <div class="col-12 col-md-6">
          <p class="features__section-subtitle mw-520">{{ site.data[page.lang]['features']['translate_thousands'] }}</p>
          <p class="features__section-subtext mw-520">{{ site.data[page.lang]['features']['translate_up_to'] }}</p>
          <p class="features__section-subtext mw-520 mb-4">{{ site.data[page.lang]['features']['amongst_others'] }}</p>
        </div>
        <div class="col-12 col-md-6">
          <img class="image-style-mobile" src="/images/features/translate-file.svg" alt="" />
        </div>
      </div>
      <div class="row py-5">
        <div class="col-12 col-md-6">
          <img class="image-style-mobile" src="/images/features/generate-key.svg" alt="" />
        </div>
        <div class="col-12 col-md-6">
          <p class="features__section-subtitle mw-520">{{ site.data[page.lang]['features']['get_more_done'] }}</p>
          <p class="features__section-subtext mw-520">{{ site.data[page.lang]['features']['with_a_wide'] }}</p>
          <p class="features__section-subtext mw-520">{{ site.data[page.lang]['features']['if_you_dont'] }} <a
            href="contact.html">{{ site.data[page.lang]['features']['let_us_know'] }}</a> {{ site.data[page.lang]['features']['and_we'] }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Download Guide -->
  {% include download-guide.html %}

  <section class="bg-white">
    <div class="container">
      <h2 class="features__section-title text-center mt-0 pb-5">{{ site.data[page.lang]['features']['quality_control'] }}</h2>
      <div class="row py-5">
        <div class="col-12 col-md-6">
          <p class="features__section-subtitle mw-520 mt-4">{{ site.data[page.lang]['features']['manage_all_of'] }}</p>
          <img class="" src="/images/features/centralized-platform.svg" alt="" />
          <p class="features__section-subtext mw-520 mb-4">{{ site.data[page.lang]['features']['continuous_localization'] }}</p>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex mt-4">
            <img class="features__section-icon mr-2" src="/images/features/check-icon-large.svg" alt="" />
            <p class="features__section-subtext text-font-base">
              <span>{{ site.data[page.lang]['features']['style_guides'] }}</span> {{ site.data[page.lang]['features']['ensure_consistency'] }}
            </p>
          </div>
          <div class="d-flex">
            <img class="features__section-icon mr-2" src="/images/features/check-icon-large.svg" alt="" />
            <p class="features__section-subtext text-font-base">
              <span>{{ site.data[page.lang]['features']['glossary_and'] }}</span> {{ site.data[page.lang]['features']['ensure_your_translations'] }}
            </p>
          </div>
          <div class="d-flex">
            <img class="features__section-icon mr-2" src="/images/features/check-icon-large.svg" alt="" />
            <p class="features__section-subtext text-font-base">
              <span>{{ site.data[page.lang]['features']['translation_memory'] }}</span> {{ site.data[page.lang]['features']['ensures_you_never'] }}
            </p>
          </div>
        </div>
      </div>

      <div class="row py-5">
        <div class="col-12 col-md-6">
          <p class="features__section-subtitle mw-520 mt-4">{{ site.data[page.lang]['features']['take_control_of'] }}</p>
          <img class="image-style-mobile" src="/images/features/take-control.svg" alt="" />
          <p class="features__section-subtext mw-520 mb-4">{{ site.data[page.lang]['features']['tolqs_set_of'] }}</p>
        </div>
        <div class="col-12 col-md-6">
          <div class="d-flex mt-4">
            <img class="features__section-icon mr-2" src="/images/features/check-icon-large.svg" alt="" />
            <p class="features__section-subtext text-font-base">
              <span>{{ site.data[page.lang]['features']['translator_chat'] }}</span> {{ site.data[page.lang]['features']['forget_messy'] }}
            </p>
          </div>
          <div class="d-flex">
            <img class="features__section-icon mr-2" src="/images/features/check-icon-large.svg" alt="" />
            <p class="features__section-subtext text-font-base">
              <span>{{ site.data[page.lang]['features']['in_context_view'] }}</span> {{ site.data[page.lang]['features']['eliminate_misunderstandings'] }}
            </p>
          </div>
          <div class="d-flex">
            <img class="features__section-icon mr-2" src="/images/features/check-icon-large.svg" alt="" />
            <p class="features__section-subtext text-font-base">
              <span>{{ site.data[page.lang]['features']['translations_review'] }}</span> {{ site.data[page.lang]['features']['not_satisfied'] }}
            </p>
          </div>
          <div class="d-flex">
            <img class="features__section-icon mr-2" src="/images/features/check-icon-large.svg" alt="" />
            <p class="features__section-subtext text-font-base">
              <span>{{ site.data[page.lang]['features']['mix_and_match'] }}</span> {{ site.data[page.lang]['features']['use_smart'] }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Book a Demo -->
  {% include book-a-demo.html %}

  <!-- Footer -->
  <footer class="alice-blue-bg">
    {% include footer.html %}
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  {% include snippets.html %}
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5626357.js"></script>
<!-- End of HubSpot Embed Code -->
</html>