<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->
  <div class="resources bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg pb-4">
        <div class="container">
          <p class="product__title mx-auto mt-4">GitHub</p>
          <h1 class="header__title mx-auto mt-3">Reliable GitHub repository backup, set up in minutes</h1>
          <p class="header__subtitle mx-auto mt-4">Trusted by over 1,000 organizations across the globe</p>
          <a class="button btn-bondi-blue mt-4 mx-auto" href="pricing.html">
            GET STARTED
          </a>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="container pt-4">
      <p class="info__reading-title mx-auto mt-5">Effortless, intuitive configuration</p>
      <p class="info__subtitle mx-auto mt-4 mb-5 text-center">Codekeeper is made for developers and non-developers alike. Whether you write code, handle administrative tasks, or provide legal counsel, we help you set up your escrow quickly and easily.</p>
    </div>
    <!-- Section -->
    <div class="bg-white security">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title mt-5">Recurring GitHub repository backup</h2>
            <p class="how-it-works__subtitle mt-4">Create daily recurring backups of your public and private GitHub repositories. Don't worry about maintaining, executing or documenting your own backup script.</p>
            <a class="button btn-primary-lg mt-4" href="pricing.html">
              LEARN MORE
            </a>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-light-gray security">
      <div class="container py-5">
        <div class="row column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title2 ml-auto mt-5">Sync backups to S3 option</h2>
            <p class="how-it-works__subtitle2 mt-4 ml-auto">Sync backups to your own cloud storage (currently Amazon S3) to keep an offsite copy of your data and for longterm backup retention.</p>
            <a class="button btn-primary-lg mt-4 ml-auto" href="pricing.html">
              LEARN MORE
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-white security">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title mt-5">Audit Log for enterprise compliance</h2>
            <p class="how-it-works__subtitle mt-4">The audit log is a centralized stream of all system and user activity within your BackHub installation. Easily monitor your backups and account activity with this feature.</p>
            <a class="button btn-primary-lg mt-4" href="pricing.html">
              LEARN MORE
            </a>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-light-gray security">
      <div class="container py-5">
        <div class="row column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title2 ml-auto mt-5">Backup Issues, Milestones and more</h2>
            <p class="how-it-works__subtitle2 mt-4 ml-auto">Backups include not only the repository with all branches, but also all associated metadata, such as issues, milestones, pull requests, releases, wikis and more.</p>
            <a class="button btn-primary-lg mt-4 ml-auto" href="pricing.html">
              LEARN MORE
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-white security">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title mt-5">Daily Backup Snapshots</h2>
            <p class="how-it-works__subtitle mt-4">BackHub creates daily snapshots of all your backups. You can easily restore a previous state of your repository or metadata up to 30 days back in time.</p>
            <a class="button btn-primary-lg mt-4" href="pricing.html">
              LEARN MORE
            </a>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-light-gray security">
      <div class="container py-5">
        <div class="row column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title2 ml-auto mt-5">Clone from BackHub servers</h2>
            <p class="how-it-works__subtitle2 mt-4 ml-auto">You can clone any snapshot of your GitHub backup directly from BackHub. This means you can access your data anytime, even if GitHub is temporarily not available.</p>
            <a class="button btn-primary-lg mt-4 ml-auto" href="pricing.html">
              LEARN MORE
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-white security">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title mt-5">Restore Repositories</h2>
            <p class="how-it-works__subtitle mt-4">When you need to recover a repository, you can restore your repository including metadata, such as issues and milestones, directly back to GitHub via the GitHub API.</p>
            <a class="button btn-primary-lg mt-4" href="pricing.html">
              LEARN MORE
            </a>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-light-gray security">
      <div class="container py-5">
        <div class="row column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title2 ml-auto mt-5">Download GitHub repository and Metadata</h2>
            <p class="how-it-works__subtitle2 mt-4 ml-auto">You can download the GitHub repository or metadata directly from BackHub without having to restore it back to GitHub.</p>
            <a class="button btn-primary-lg mt-4 ml-auto" href="pricing.html">
              LEARN MORE
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-white security">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title mt-5">Automatic Backup Creation</h2>
            <p class="how-it-works__subtitle mt-4">BackHub checks your GitHub account on a daily basis for new repositories and automatically creates backups.</p>
            <a class="button btn-primary-lg mt-4" href="pricing.html">
              LEARN MORE
            </a>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-light-gray security">
      <div class="container py-5">
        <div class="row column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title2 ml-auto mt-5">Archive Repositories</h2>
            <p class="how-it-works__subtitle2 mt-4 ml-auto">Use BackHub as your repository archive, and at GitHub remove repositories on which you are no longer working.</p>
            <a class="button btn-primary-lg mt-4 ml-auto" href="pricing.html">
              LEARN MORE
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-white security">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h2 class="how-it-works__title mt-5">Share Backups among your Team</h2>
            <p class="how-it-works__subtitle mt-4">BackHub supports GitHub organizations. When you create backups for your organization, all owners and admins can access and restore these backups too.</p>
            <a class="button btn-primary-lg mt-4" href="pricing.html">
              LEARN MORE
            </a>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/features/management-screens.svg"/>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Section -->
    {% include secure-assets.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  
</body>