<body>
  <div class="guide-survey">
    <div class="bg-white">
      <!-- Navigation -->
      <div class="container">
        {% include navigation.html %}
      </div>
      <!-- Header -->
      <div class="header__container">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 d-flex justify-content-center">
              <div class="header__box">
                <h2 class="header__title mt-4">{{ site.data[page.lang]['guide_nps_survey']['get_started'] }}</h2>
                <p class="header__subtitle mt-4">{{ site.data[page.lang]['guide_nps_survey']['fill_out_your_contact'] }}</p>
                <div class="header__form">
                  <!--[if lte IE 8]>
                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                  <![endif]-->
                  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                  <script>
                    hbspt.forms.create({
                    portalId: "7622707",
                    formId: "5ee05909-f2c6-4e3e-af16-087bef7adf65"
                  });
                  </script>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 header__image-container">
              <img class="header__image" alt="Image NPS survey guide" src="images/Guide/Nps-Survey.svg"/>
            </div>
          </div>
        </div>
      </div>
      <!-- First Section -->
      <div class="container section-medium guide-customer">
        <h2 class="content__title">{{ site.data[page.lang]['guide_nps_survey']['in_this_guide'] }}:</h2>
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-2">
            <div class="content__box mt-5">
              <img class="content__image" alt="Icon book" src="images/Guide/Book.svg"/>
              <p class="content__text mx-auto mt-4">{{ site.data[page.lang]['guide_nps_survey']['learn_and_plan'] }}</p>
              <p class="content__subtext mx-auto">{{ site.data[page.lang]['guide_nps_survey']['learn_about_the_importance'] }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-2">
            <div class="content__box mt-5">
              <img class="content__image" alt="Icon pie-chart" src="images/Guide/Pie-chart.svg"/>
              <p class="content__text mx-auto mt-4">{{ site.data[page.lang]['guide_nps_survey']['how_to_calculate'] }}</p>
              <p class="content__subtext mx-auto">{{ site.data[page.lang]['guide_nps_survey']['learn_how_to_calculate'] }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-2">
            <div class="content__box mt-5">
              <img class="content__image" alt="Icon light" src="images/Guide/Light.svg"/>
              <p class="content__text mx-auto mt-4">{{ site.data[page.lang]['guide_nps_survey']['best_practice'] }}</p>
              <p class="content__subtext mx-auto">{{ site.data[page.lang]['guide_nps_survey']['learn_the_best_practices'] }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Second Section -->
      {% include get-answers.html %}
      <!-- Footer -->
      {% include footer.html %}
    </div>
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>

</html>