<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container section-large">
      <iframe class="video-player" src="https://www.youtube.com/embed/-QZjPdS-j7A?si=qQbIqceeabMfHFs-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="header__subtitle mt-5 mw-100 text-align-start">
        Hi. Welcome to Codekeeper. In this video, we'll learn how to configure a new software escrow agreement. Let's get started. 
        After you sign up, you will see this dashboard when logging into your account. We'll start by clicking the create new escrow button, and the escrow configuration window will open. The setup is done following these four steps on the sidebar, and we'll go through each one by one, starting with the basics. 
        First, you will configure the escrow role. Select whether you are the one who will deposit assets, or will receive source code repositories. In this case, I am the depositor. After specifying the role, you will select the type of agreement. Let's select tripartite, meaning the agreement will be signed by the depositor, Codekeeper as the escrow agent, and the beneficiary. Then click save and next. 
        After the basics, we are going to fill in all required details for both depositor and beneficiary, starting with my organization and signatory details. We'll need at least one representative for the entire escrow configuration process. On the beneficiary side, we hit this invite checkbox to invite the beneficiary to access the escrow information once the agreement is generated. Save and next. 
        This is the deposit step, where you can configure the deposit notifications for the beneficiary. In this process, we'll leave it as default. 
        Next and final step: within the agreement settings, we will configure the legal context, asset types, release conditions, liability and other agreement-related settings. In this example, we will go for a license- and development agreement. As deposit type, we select source code. Then, for release conditions, we select bankruptcy here.
        After all the details are set and entered correctly, we save them and get to see this pop-up message. Confirm by selecting “Generate agreement”. The escrow agreement has now been sent to Codekeeper for processing, and will be shared soon. When the agreement is ready for review and approval, you and the beneficiary will receive an email. 
        Visit our website to find out more about software escrow and book your free demo today. Thanks for watching.
      </p>
    </div>
    
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/how-to-configure-a-software-escrow-agreement-codekeeper.html')) {
    document.title = "How to Configure a Software Escrow Agreement - Codekeeper"
    document.getElementsByTagName('meta')["description"].content = "Learn to configure a software escrow agreement step by step. From defining roles to specifying agreement types, Codekeeper simplifies the process. We provide guidance without the need for lawyers and ensure secure storage. Explore Software Escrow by booking a free demo now.";
  }
  </script>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>