<body>
  <div class="feedbacks">
    <div class="bg-white">
      <!-- Navigation -->
      <div class="nav-fixed-mobile">
        <div class="container">
          {% include navigation.html %}
        </div>
      </div>
      <!-- Header -->
      <div class="header__container">
        <div class="mt-3">
          <h2 class="header__title">{{ site.data[page.lang]['how_it_works']['header'] }}</h2>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['how_it_works']['header_subtitle'] }}</p>
          <a class="button btn-white-lg mt-5 mb-4 mx-auto" href="https://app.feedbacklabs.com/signup">
            {{ site.data[page.lang]['how_it_works']['sign_up'] }}
          </a>
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <div class="d-flex align-items-center mr-4 my-3">
              <img class="" alt="Icon Check" src="/images/Homepage/icon-check-white.svg"/>
              <p class="text-fade-white mb-0 ml-1">{{ site.data[page.lang]['index']['14_day_free'] }}</p>
            </div>
            <div class="d-flex align-items-center my-3">
              <img class="" alt="Icon Check" src="/images/Homepage/icon-check-white.svg"/>
              <p class="text-fade-white mb-0 ml-1">{{ site.data[page.lang]['index']['cancel_anytime'] }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- First Section -->
      <div class="container homepage position-relative">
        <div class="line-center mt-4"></div>
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Channel Name" src="images/How-it-works/channel-name.svg"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="d-flex mt-3">
              <span class="info__number-left">1</span>
              <div>
                <p class="info__text">{{ site.data[page.lang]['how_it_works']['create_a_channel'] }}</p>
                <p class="info__subtext mt-4">{{ site.data[page.lang]['how_it_works']['from_your_dashboard'] }} </p>
                <p class="info__subtext mt-4 pb-3">{{ site.data[page.lang]['how_it_works']['dont_see_your'] }} <a href="contact.html">{{ site.data[page.lang]['how_it_works']['let_us_know'] }},<br> </a> {{ site.data[page.lang]['how_it_works']['and_well_make'] }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row section-medium">
          <div class="col-md-6 col-sm-12">
            <div class="d-flex justify-content-end mt-3">
              <div>
                <p class="info__text text-right">{{ site.data[page.lang]['how_it_works']['choose_how_you'] }}</p>
                <p class="info__subtext mt-3 pb-3 text-right">{{ site.data[page.lang]['how_it_works']['improve_your_response'] }}</p>
              </div>
              <span class="info__number-right">2</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Feedback Types" src="images/How-it-works/how-would-you.svg"/>
          </div>
        </div>
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Get-insights" src="images/How-it-works/customize-feedback2.svg"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="d-flex mt-3">
              <span class="info__number-left">3</span>
              <div>
                <p class="info__text">{{ site.data[page.lang]['how_it_works']['customize_the_look'] }}</p>
            <p class="info__subtext mt-4 pb-3">{{ site.data[page.lang]['how_it_works']['use_our_editor'] }} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row section-medium">
          <div class="col-md-6 col-sm-12">
            <div class="d-flex justify-content-end mt-3">
              <div>
                <p class="info__text text-right">{{ site.data[page.lang]['how_it_works']['ask_a_follow_up'] }}</p>
                <p class="info__subtext mt-3 pb-3 text-right">{{ site.data[page.lang]['how_it_works']['after_your_respondents'] }}</p>
              </div>
              <span class="info__number-right">4</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Feedback Types" src="images/How-it-works/extra-info2.svg"/>
          </div>
        </div>
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Get-insights" src="images/How-it-works/feedback-invite.svg"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="d-flex mt-3">
              <span class="info__number-left">5</span>
              <div>
                <p class="info__text">{{ site.data[page.lang]['how_it_works']['invite_people_to'] }}</p>
                <p class="info__subtext mt-4 pb-3">{{ site.data[page.lang]['how_it_works']['finally_add'] }} </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row section-medium">
          <div class="col-md-6 col-sm-12">
            <div class="d-flex justify-content-end mt-3">
              <div>
                <p class="info__text text-right">{{ site.data[page.lang]['how_it_works']['analyze_feedback'] }}</p>
                <p class="info__subtext mt-3 pb-3 text-right">{{ site.data[page.lang]['how_it_works']['monitor_all'] }}</p>
              </div>
              <span class="info__number-right">6</span>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Feedback Types" src="images/How-it-works/response.svg"/>
          </div>
        </div>
      </div>
      <div id="video13">
        <div id="video5" class="d-flex justify-content-center">
          <lottie-player id="lottie5" class="lottie" src="https://assets6.lottiefiles.com/private_files/lf30_asu9dK.json" background="transparent"  speed="1"></lottie-player>
        </div>
      </div>
      <!-- Second Section -->
      <div class="container homepage pt-5 mt-5">
        <div class="insights__content my-5">
          <div class="insights__content-text mr-3">
            <p class="insights__title mt-3">{{ site.data[page.lang]['how_it_works']['transform_your'] }}</p>
            <p class="insights__subtitle mt-3">{{ site.data[page.lang]['how_it_works']['leverage_feedbacklabs'] }} </p>
            <a class="button btn-secondary mt-4 mb-2" href="https://app.feedbacklabs.com/signup">
              {{ site.data[page.lang]['includes']['fb_insights']['get_started_free'] }}
            </a>
            <div class="d-flex flex-wrap align-items-center">
              <div class="d-flex align-items-center mr-4 my-3">
                <img class="" alt="Icon Check" src="/images/Homepage/icon-check.svg"/>
                <p class="text-fade-gray mb-0 ml-1">{{ site.data[page.lang]['index']['14_day_free'] }}</p>
              </div>
              <div class="d-flex align-items-center my-3">
                <img class="" alt="Icon Check" src="/images/Homepage/icon-check.svg"/>
                <p class="text-fade-gray mb-0 ml-1">{{ site.data[page.lang]['index']['cancel_anytime'] }}</p>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <img class="insights__image mt-0" alt="Image: Let them know" src="images/How-it-works/image-helps.svg"/>
          </div>
        </div>
        <h2 class="info__title text-center section-large">{{ site.data[page.lang]['how_it_works']['deliver_better_products'] }}</h2>
        <div class="row section_medium">
          <div class="col-md-6 col-sm-12">
            <div class="d-flex align-items-start mt-5">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['product_feedback'] }}</p>
                <p class="info__subtext">{{ site.data[page.lang]['how_it_works']['get_insights_into'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['ux_feedback'] }}</p>
                <p class="info__subtext">{{ site.data[page.lang]['how_it_works']['capture_user_insights'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['website_and_app'] }}</p>
                <p class="info__subtext">{{ site.data[page.lang]['how_it_works']['find_out_what'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['features_roadmap'] }}</p>
                <p class="info__subtext">{{ site.data[page.lang]['how_it_works']['what_features_should'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['quality_control'] }}</p>
                <p class="info__subtext pb-3">{{ site.data[page.lang]['how_it_works']['track_the_delivery'] }}</p>
              </div>
            </div>
            <a class="button btn-secondary-outline my-4" href="https://app.feedbacklabs.com/signup">
              {{ site.data[page.lang]['how_it_works']['get_answers'] }}
            </a>
          </div>
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Feedback Channels" src="/images/How-it-works/feedback-channel.svg"/>
          </div>
        </div>
        <h2 class="info__title text-center section-medium">{{ site.data[page.lang]['how_it_works']['prevent_churn'] }}</h2>
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Feedback Types" src="/images/How-it-works/date-picker.svg"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['incident_management'] }}</p>
                <p class="info__subtext">{{ site.data[page.lang]['how_it_works']['prevent_churn_and_save'] }} </p>
              </div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['churned_customers'] }} </p>
                <p class="info__subtext">{{ site.data[page.lang]['how_it_works']['uncover_what_changes'] }} </p>
              </div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['conversion_rate'] }} </p>
                <p class="info__subtext">{{ site.data[page.lang]['how_it_works']['run_surveys'] }} </p> 
              </div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['marketing'] }} </p>
                <p class="info__subtext pb-3">{{ site.data[page.lang]['how_it_works']['understand_prospects'] }} </p> 
              </div>
            </div>
            <a class="button btn-secondary-outline my-4" href="https://app.feedbacklabs.com/signup">
              {{ site.data[page.lang]['how_it_works']['get_answers'] }}
            </a>
          </div>
        </div>
        <h2 class="info__title text-center section-medium">{{ site.data[page.lang]['how_it_works']['keep_your_team'] }}</h2>
        <div class="row section_medium">
          <div class="col-md-6 col-sm-12">
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['employee_satisfaction'] }}</p>
                <p class="info__subtext">{{ site.data[page.lang]['how_it_works']['stop_losing'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['employee_engagement'] }}</p>
                <p class="info__subtext">{{ site.data[page.lang]['how_it_works']['empower_collaboration'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['productivity'] }}</p>
                <p class="info__subtext">{{ site.data[page.lang]['how_it_works']['identify_your_team'] }}</p>
              </div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="info__icon-check mt-1 mr-2" alt="Icon: Check circle" src="/images/How-it-works/check-icon.svg"/>
              <div>
                <p class="info__text mb-1">{{ site.data[page.lang]['how_it_works']['team_development'] }}</p>
                <p class="info__subtext pb-3">{{ site.data[page.lang]['how_it_works']['reveal_knowledge'] }}</p>
              </div>
            </div>
            <a class="button btn-secondary-outline my-4" href="https://app.feedbacklabs.com/signup">
              {{ site.data[page.lang]['how_it_works']['get_answers'] }}
            </a>
          </div>
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Feedback Channels" src="/images/How-it-works/feedback-questions.svg"/>
          </div>
        </div>
      </div>
      <!-- Section -->
      {% include get-answers.html %}
      <!-- Footer -->
      {% include footer.html %}
    </div>
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <!-- Animation -->
  <script>
    var video13 = document.getElementById('video13'), fraction = 0.6;
    var video5 = document.getElementById('video5');
    function checkScroll() {
      var x = video13.offsetLeft, y = video13.offsetTop, w = video13.offsetWidth, h = video13.offsetHeight, r = x + w, //right
      b = y + h, //bottom
      visibleX, visibleY, visible;
      visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
      visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));
      visible = visibleX * visibleY / (w * h);
      const player = document.getElementById('lottie5'),
          lottie = player.getLottie();
        if (visible > fraction) {
            lottie.loop = true;
            lottie.play();
        } else {
          lottie.play();
        }
    }
    checkScroll();
    window.addEventListener('scroll', checkScroll, false);
    window.addEventListener('resize', checkScroll, false);
  </script>
</body>

</html>
