<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container section-large">
      <iframe class="video-player" src="https://www.youtube.com/embed/GgOXn1KckZA?si=o0HQvT8nyqFW4xvo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="header__video-title mt-4">
        How to Deposit Your Assets Into Escrow
      </p>
      <p class="header__description-text mt-3 pb-4">
        Learn how to automate software escrow deposits effortlessly with Codekeeper. Activate integrations like GitHub to link your repositories, then make deposits with a few clicks. Your assets will be continuously updated and fully encrypted, ensuring seamless escrow management. Discover more about software escrow by booking your free demo today.
      </p>
      <div class="row">
        <div class="col-md-7 col-sm-12 faq">
          <div class="header__timestamp-border mt-5">
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:01</p>
              <p class="header__timestamp-text">Hi. Welcome back. </p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:02</p>
              <p class="header__timestamp-text">In this video, we'll explore how to deposit your assets into a fully signed software escrow. Let's dive in!</p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:08</p>
              <p class="header__timestamp-text">Whether you're part of a bipartite or tripartite agreement that includes a beneficiary, your escrow is ready to take deposits once all parties have signed. Navigate to the Signed Escrow and then to the Deposits Tab. To start adding assets, click on the Make deposit button.</p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:25</p>
              <p class="header__timestamp-text">We offer multiple deposit methods: OAuth Deposit, Custom Deposit, and Secure Upload. Although Secure Direct Upload is quick and straightforward and certainly a possibility, OAuth and Custom Deposits allows for daily update checks, ensuring your assets remain in sync.</p>
            </div>
            
            <div class="" id="questions">
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:40</p>
                <p class="header__timestamp-text"> First things first, to use OAuth or Custom Deposits, you’ll need to activate an integration to your source code platform. Clicking this link will take you to the integrations page, where you’ll be able to activate the integration to your source code platform by following the simple listed steps. 
                </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:55</p>
                <p class="header__timestamp-text">Now, let's start by connecting your assets. Once your integration is active, you can select your repository from a dropdown list. Select  your integrated platform and choose the desired asset for deposit. Repeat this process for all assets you want to deposit into the escrow.</p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:19</p>
                <p class="header__timestamp-text">With everything set, it’s time to activate the escrow. By activating, you will send out your selected notifications, and secure your assets under the agreed terms of the escrow agreement. Are you ready to activate your escrow? Go ahead and click the button here to finalize.</p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:34</p>
                <p class="header__timestamp-text">Then confirm by clicking "Activate." And there you go! Your escrow is pending activation. All assets with the taken status have been deposited into escrow, and the ones that are awaiting a deposit will be added within 24 hours.  </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:48</p>
                <p class="header__timestamp-text">Your assets are now secured within the escrow and continuously updated. Visit our website to learn more about our disaster recovery solutions and book your free demo today!</p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:59</p>
                <p class="header__timestamp-text">Thanks for watching.</p>
              </div>
            </div>
            <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border content-center" id="openQuestions">
              <span class="text-dark-cyan" id='show'>Show Transcript +</span>
              <span class="text-dark-cyan" id='hide'>Hide Transcript -</span>
            </p>
          </div>
          
          <div class="header__description-box mt-5 d-flex align-items-center justify-content-between flex-wrap">
            <p class="header__description-text my-3">
              Learn more about Codekeeper
            </p>
            <a class="button btn-cerulean3 how-it-works-href" href="how-it-works.html">
              Learn more
            </a>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/an-introduction-to-codekeeper-software-escrow-solutions.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/jf9P1GXFWdo?si=MFVktG84kH8keD_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">An Introduction to Codekeeper - Software Escrow Solutions</p>
          </a>
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/all-new-online-platform.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/bo5nKXqAwuk?si=qpAFBEbNBxrwwaSp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">All New Online Platform</p>
          </a>
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/how-to-configure-a-software-escrow-agreement.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/xUM9KZEl17Q?si=u-8hgdRvC1eiZvOG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">How to Configure a Software Escrow Agreement</p>
          </a>
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/what-is-a-software-escrow-agreement.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/U3j7Nuh12oU?si=RrZIGTbmUlUkPjTX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">What is a Software Escrow Agreement</p>
          </a>
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/what-is-software-escrow.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/mcj37dtxrYU?si=BYnoAEGUpMkt3P6s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">What is Software Escrow</p>
          </a>
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/how-to-configure-saas-escrow.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/M7L4qP-AjzA?si=IBaqizFeycZK5RAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">How to Configure SaaS Escrow</p>
          </a>
        </div>
      </div>

    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    $('#questions').hide();
    $('#hide').hide();

    $(".openLines").click(function(){      
        if ($('#hide').is(":visible")) {
          $('#hide').hide();
          $('#show').show();
        }
        else {
          $('#show').hide();
          $('#hide').show();
        }
        $('#questions').toggle(300);
        //  $("div").toggle(300);
    });
  </script>
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/how-to-deposit-your-assets-into-escrow.html')) {
    document.title = "How to Deposit Your Assets Into Escrow"
    document.getElementsByTagName('meta')["description"].content = "Learn how to automate software escrow deposits effortlessly with Codekeeper. Activate integrations like GitHub to link your repositories, then make deposits with a few clicks. Your assets will be continuously updated and fully encrypted, ensuring seamless escrow management. Discover more about software escrow by booking your free demo today.";
  }
  </script>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>