<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="solutions">
      <div class="header__content">
        <div class="header__bg-new position-relative">
          <img class="header__bg-left-shape" src="/images/how-it-works/header-shape-small.webp" alt="Small Background Image"/>
          <img class="header__bg-right-shape" src="/images/how-it-works/header-shape-large.webp" alt="Large Background Image"/>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h1 class="header__title text-align-start mt-4 text-first-capitalize">{{ site.data[page.lang]['how_it_works']['effortless_intuitive'] }}</h1>
                <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['how_it_works']['codekeeper_is_made'] }}</p>
                <div class="d-flex flex-wrap resources mt-4">
                  <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                    {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                  </a>
                  <div>
                    <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                    <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 content-center">
                <img class="image-style mw-530 mt-4" src="/images/how-it-works/header-image.webp" alt="Header Image"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- First Section -->
      <div class="escrow-works__bg">
        <div class="escrow-works__bg-shape"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <p class="escrow-works__title">{{ site.data[page.lang]['how_it_works']['how_does'] }}</p>
              <p class="escrow-works__subtitle">{{ site.data[page.lang]['how_it_works']['even_if'] }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="escrow-works__image" src="/images/how-it-works/how-it-works.webp" alt="Software Escrow Image"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Second Section -->
    <div class="container-fluid mb-200 resources">
      <div class="beneficiary__container mx-auto mt-negative-50 position-relative how-bg-gradient">
        <div class="container py-5">
          <p class="how-works__main-title mx-auto pb-5">{{ site.data[page.lang]['how_it_works']['how_to_activate'] }}</p>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="works__config mobile-centered">
                <div class="works__number-bg-step">
                  <div class="works__step">{{ site.data[page.lang]['how_it_works']['step_1'] }}</div>
                </div>
                <div>
                  <p class="how-works__text mt-1">{{ site.data[page.lang]['how_it_works']['sign_up_to'] }}</p>
                  <p class="how-works__subtext2">{{ site.data[page.lang]['how_it_works']['the_first_step'] }} <a class="text-bondi-blue pricing-href text-underline fw-bold" href="pricing.html">{{ site.data[page.lang]['how_it_works']['pricing_page'] }}</a> {{ site.data[page.lang]['how_it_works']['you_will_be'] }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 pr-5">
              <img class="works__image2 mt-5 ml-negative-80" src="/images/how-it-works/step-1.webp" alt="First Step Image"/>
            </div>
          </div>
          <div class="row column-reverse-mobile">
            <div class="col-md-6 col-sm-12">
              <div class="works__config2">
                <img class="works__image2 ml-negative-80" src="/images/how-it-works/step-2.webp" alt="Second Step Image"/>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="works__config3 mobile-centered">
                <div class="works__number-bg-step2">
                  <div class="works__step">{{ site.data[page.lang]['how_it_works']['step_2'] }}</div>
                </div>
                <div>
                  <p class="how-works__text mt-1">{{ site.data[page.lang]['how_it_works']['explore_dashboard'] }}</p>
                  <p class="how-works__subtext2">{{ site.data[page.lang]['how_it_works']['easily_manage_all'] }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="works__config4 mobile-centered">
                <div class="works__number-bg-step">
                  <div class="works__step">{{ site.data[page.lang]['how_it_works']['step_3'] }}</div>
                </div>
                <div>
                  <p class="how-works__text mt-1">{{ site.data[page.lang]['how_it_works']['manage_other_party'] }}</p>
                  <p class="how-works__subtext2">{{ site.data[page.lang]['how_it_works']['in_the_escrow'] }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="works__image2 ml-negative-80 mt-80" src="/images/how-it-works/step-3.webp" alt="Third Step Image"/>
            </div>
          </div>
          <div class="row column-reverse-mobile">
            <div class="col-md-6 col-sm-12">
              <div class="works__config7">
                <img class="works__image2 ml-negative-80" src="/images/how-it-works/step-4.webp" alt="Fourth Step Image"/>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="works__config3 mobile-centered">
                <div class="works__number-bg-step2">
                  <div class="works__step">{{ site.data[page.lang]['how_it_works']['step_4'] }}</div>
                </div>
                <div>
                  <p class="how-works__text mt-1">{{ site.data[page.lang]['how_it_works']['define_release'] }}</p>
                  <p class="how-works__subtext2">{{ site.data[page.lang]['how_it_works']['specify_for_each'] }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="works__config6 mobile-centered">
                <div class="works__number-bg-step">
                  <div class="works__step">{{ site.data[page.lang]['how_it_works']['step_5'] }}</div>
                </div>
                <div>
                  <p class="how-works__text mt-1">{{ site.data[page.lang]['how_it_works']['review_and_sign'] }}</p>
                  <p class="how-works__subtext2">{{ site.data[page.lang]['how_it_works']['once_the_basic'] }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="works__image2 mt-80" src="/images/how-it-works/step-5.webp" alt="Fifth Step Image"/>
            </div>
          </div>
          <div class="row column-reverse-mobile">
            <div class="col-md-6 col-sm-12">
              <div class="works__config8">
                <img class="works__image2 ml-negative-80" src="/images/how-it-works/step-6.webp" alt="Sixth Step Image"/>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="works__content mobile-centered border-none">
                <div class="works__number-bg-step3">
                  <div class="works__step">{{ site.data[page.lang]['how_it_works']['step_6'] }}</div>
                </div>
                <div>
                  <p class="how-works__text mt-1">{{ site.data[page.lang]['how_it_works']['deposit_your_assets'] }}</p>
                  <p class="how-works__subtext2">{{ site.data[page.lang]['how_it_works']['you_can_set'] }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-column align-items-center">
            <img class="how-works__active-icon" src="/images/how-it-works/icons/active-escrow.svg" alt="Active Escrow Icon"/>
            <p class="how-works__text mt-3 mr-3">{{ site.data[page.lang]['how_it_works']['active_escrow'] }}</p>
            <p class="how-works__subtext2 text-center mw-570">{{ site.data[page.lang]['how_it_works']['your_new_source'] }}</p>
            <p class="how-works__subtext2 text-center mt-2 text-bondi-blue">{{ site.data[page.lang]['how_it_works']['for_more_details'] }}</p>
            <a class="button btn-cerulean3 book-a-demo-href mx-auto mt-2" href="book-a-demo.html">
              {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="section-large pt-3 resources">
      <div class="container">
        <p class="deposit-assets__main-title pb-5">{{ site.data[page.lang]['how_it_works']['how_to_deposit'] }}</p>
        <p class="deposit-assets__title mt-5">{{ site.data[page.lang]['how_it_works']['fully_automated'] }}</p>
        <p class="deposit-assets__subtitle">{{ site.data[page.lang]['how_it_works']['recent_version'] }}</p>
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="resources">
              <div class="applications__logos mt-4 justify-content-start">
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image3 p-2" src="/images/homepage/logos/bitbucket-large.svg" alt="Bitbucket Logo"/>
                  <p class="applications__logo-text">Bitbucket</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image3 p-2" src="/images/homepage/logos/github-large.svg" alt="Github Logo"/>
                  <p class="applications__logo-text">GitHub</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image3 p-1" src="/images/homepage/logos/gitlab-large.svg" alt="Gitlab Logo"/>
                  <p class="applications__logo-text">GitLab</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image3 p-2" src="/images/homepage/logos/git-large.svg" alt="Git Logo"/>
                  <p class="applications__logo-text">Git</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image3 p-1" src="/images/homepage/logos/google-cloud-large.svg" alt="Google Cloud Logo"/>
                  <p class="applications__logo-text">Google<br> Cloud</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image3 p-1" src="/images/homepage/logos/azure-large.svg" alt="Azure Logo"/>
                  <p class="applications__logo-text">Microsoft Azure</p>
                </div>
                <div class="applications__logo mx-0">
                  <img class="applications__logo-image3 p-2" src="/images/homepage/logos/aws-large.svg" alt="Amazon Web Services Logo"/>
                  <p class="applications__logo-text">Amazon<br> Web<br> Services</p>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3" src="/images/how-it-works/icons/one.svg" alt="One Icon"/>
              <p class="deposit-assets__text">{{ site.data[page.lang]['how_it_works']['first_to_activate'] }}</p>
              <div class="deposit-assets__dotted-line"></div>
            </div>
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3" src="/images/how-it-works/icons/two.svg" alt="Two Icon"/>
              <p class="deposit-assets__text">{{ site.data[page.lang]['how_it_works']['once_on_the_page'] }}</p>
              <div class="deposit-assets__dotted-line"></div>
            </div>
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3" src="/images/how-it-works/icons/three.svg" alt="Three Icon"/>
              <p class="deposit-assets__text">{{ site.data[page.lang]['how_it_works']['once_you_click'] }}</p>
              <div class="deposit-assets__dotted-line"></div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3 z-index-1" src="/images/how-it-works/icons/four.svg" alt="Four Icon"/>
              <p class="deposit-assets__text">{{ site.data[page.lang]['how_it_works']['after_the_integration'] }}</p>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 software-escrow">
            <img class="w-100 mw-420 mt-5" src="/images/how-it-works/how-to-deposit.webp" alt="How to Deposit Image"/>
            <div class="d-flex align-items-start">
              <img class="mr-3 mw-35 mt-2" src="/images/source-code-escrow/icons/info.svg" alt="Info Icon"/>
              <!-- <i class="fa fa-info-circle mr-3" aria-hidden="true"></i> -->
              <p class="setting-up__text mb-0">{{ site.data[page.lang]['source_code_escrow']['for_non'] }} <a class="text-bondi-blue contact-href" href="contact.html">{{ site.data[page.lang]['source_code_escrow']['contact_us'] }}.</a></p>
            </div>
          </div>
        </div>
        <div class="deposit-assets__devider"></div>
        <div class="row">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/how-it-works/do-it-manually.webp" alt="Do it Manually Image"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="deposit-assets__title mt-5 mw-420">{{ site.data[page.lang]['how_it_works']['do_it_manually'] }}</p>
            <p class="deposit-assets__subtitle mw-530">{{ site.data[page.lang]['how_it_works']['if_you_prefer'] }}</p>
          </div>
        </div>
        <div class="deposit-assets__devider"></div>
        <p class="deposit-assets__title mw-530">{{ site.data[page.lang]['how_it_works']['what_can_and'] }}</p>
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12">
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3 mt-1" src="/images/how-it-works/icons/screens.svg" alt="Screens Icon"/>
              <p class="deposit-assets__subtitle mw-530">{{ site.data[page.lang]['how_it_works']['a_general_description'] }}</p>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3 mt-1" src="/images/how-it-works/icons/code.svg" alt="Code Icon"/>
              <p class="deposit-assets__subtitle mw-530">{{ site.data[page.lang]['how_it_works']['any_applications'] }}</p>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3 mt-1" src="/images/how-it-works/icons/encryption.svg" alt="Encryption Icon"/>
              <p class="deposit-assets__subtitle mw-530">{{ site.data[page.lang]['how_it_works']['encryption_information'] }}</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3 mt-1" src="/images/how-it-works/icons/source-code.svg" alt="Source Code Icon"/>
              <p class="deposit-assets__subtitle mw-530">{{ site.data[page.lang]['how_it_works']['source_code'] }}</p>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3 mt-1" src="/images/how-it-works/icons/build.svg" alt="Build Icon"/>
              <p class="deposit-assets__subtitle mw-530">{{ site.data[page.lang]['how_it_works']['build_instructions'] }}</p>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3 mt-1" src="/images/how-it-works/icons/key.svg" alt="Key Icon"/>
              <p class="deposit-assets__subtitle mw-530">{{ site.data[page.lang]['how_it_works']['key_developers'] }}</p>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3 mt-1" src="/images/how-it-works/icons/samples.svg" alt="Samples Icon"/>
              <p class="deposit-assets__subtitle mw-530">{{ site.data[page.lang]['how_it_works']['samples_of_any'] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="container section-large pricing">
      <h4 class="section__title text-align-start">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_how']['what_are_the'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_how']['sign_up_for'] }} <a href="pricing.html" class="text-underline pricing-href ">{{ site.data[page.lang]['faq_how']['plan'] }}</a><br>{{ site.data[page.lang]['faq_how']['set_up_your'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_how']['how_do_i'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_how']['to_add_your'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_how']['what_king_of'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_how']['you_can_configure'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_how']['how_does'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_how']['we_integrate'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_how']['how_can_i'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_how']['our_state'] }}</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_how']['can_i_control'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_how']['yes_you_can'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_how']['can_i_use'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_how']['yes_our_platform'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_how']['i_cant_find'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_how']['we_are_here2'] }}</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
    </div>
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}

  <script src="/js/faqDropdown.js"></script>
</body>