<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container section-large">
      <iframe class="video-player" src="https://www.youtube.com/embed/w1GlVo_Gv2U?si=VcncuEPTZ94sw8zP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="header__video-title mt-4">
        How to Deposit Your Assets Into Escrow (Automated)
      </p>
      <p class="header__description-text mt-3 pb-4">
        Learn how to automate software escrow deposits effortlessly with Codekeeper. Activate integrations like GitHub to link your repositories, then make deposits with a few clicks. Your assets will be continuously updated and fully encrypted, ensuring seamless escrow management. Discover more about software escrow by booking your free demo today.
      </p>
      <div class="row">
        <div class="col-md-7 col-sm-12 faq">
          <div class="header__timestamp-border mt-5">
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:01</p>
              <p class="header__timestamp-text">Hi. Welcome back. </p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:03</p>
              <p class="header__timestamp-text">In this video we'll learn how to deposit your assets to software escrow using automated integration method. Let's get started. </p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:12</p>
              <p class="header__timestamp-text">In order to set up automated deposits, we first have to activate your working integrations by selecting the Integrations menu on the sidebar. </p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:21</p>
              <p class="header__timestamp-text">In this case, we'll activate GitHub integration so you can link your repositories to our platform. Start by clicking the activate button, then we'll have this pop-up message to connect directly to GitHub by signing in and granting Codekeeper access to your repository. </p>
            </div>
            
            <div class="" id="questions">
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:38</p>
                <p class="header__timestamp-text"> After the integration is successfully connected, you'll see this pop-up confirmation message meaning your GitHub repositories are ready for the deposit process. You also can confirm that it's activated in the active Integrations section. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:53</p>
                <p class="header__timestamp-text">Now let's make a deposit into the existing escrow. Navigate to the deposits menu on the sidebar and you'll see all of your deposited assets in the escrow. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:03</p>
                <p class="header__timestamp-text">To add a new deposit, click the “make deposit button”, then select your existing signed or active escrow. For the deposit method dropdown, select Oauth deposit. Next, select your active integration. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:18</p>
                <p class="header__timestamp-text"> In this case, we are connected to GitHub. Now select the repository you want to deposit for this escrow. Then click confirm deposit, and there you go. Your repository is now added to the escrow - continuously updated and fully encrypted. You can repeat this process if you'd like to deposit all your repositories into the escrow. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:43</p>
                <p class="header__timestamp-text">Visit our website to find out more about software escrow and book your free demo today. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:49</p>
                <p class="header__timestamp-text">Thanks for watching.</p>
              </div>
            </div>
            <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border content-center" id="openQuestions">
              <span class="text-dark-cyan" id='show'>Show Transcript +</span>
              <span class="text-dark-cyan" id='hide'>Hide Transcript -</span>
            </p>
          </div>
          
          <div class="header__description-box mt-5 d-flex align-items-center justify-content-between flex-wrap">
            <p class="header__description-text my-3">
              Learn more about Codekeeper
            </p>
            <a class="button btn-cerulean3 how-it-works-href" href="how-it-works.html">
              Learn more
            </a>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <a class="d-flex mt-5 underline-none" href="/an-introduction-to-codekeeper-software-escrow-solutions.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/jf9P1GXFWdo?si=MFVktG84kH8keD_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">An Introduction to Codekeeper - Software Escrow Solutions</p>
          </a>
          <a class="d-flex mt-5 underline-none" href="/all-new-online-platform.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/bo5nKXqAwuk?si=qpAFBEbNBxrwwaSp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">All New Online Platform</p>
          </a>
          <a class="d-flex mt-5 underline-none" href="/how-to-configure-a-software-escrow-agreement.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/jf9P1GXFWdo?si=MFVktG84kH8keD_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">How to Configure a Software Escrow Agreement</p>
          </a>
          <!-- <a class="d-flex mt-5 underline-none" href="/how-to-deposit-your-assets-into-escrow.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/w1GlVo_Gv2U?si=VcncuEPTZ94sw8zP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">How to Deposit Your Assets Into Escrow (Automated)</p>
          </a> -->
          <a class="d-flex mt-5 underline-none" href="/what-is-a-software-escrow-agreement.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/U3j7Nuh12oU?si=RrZIGTbmUlUkPjTX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">What is a Software Escrow Agreement</p>
          </a>
          <a class="d-flex mt-5 underline-none" href="/what-is-software-escrow.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/mcj37dtxrYU?si=BYnoAEGUpMkt3P6s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">What is Software Escrow</p>
          </a>
        </div>
      </div>

    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    $('#questions').hide();
    $('#hide').hide();

    $(".openLines").click(function(){      
        if ($('#hide').is(":visible")) {
          $('#hide').hide();
          $('#show').show();
        }
        else {
          $('#show').hide();
          $('#hide').show();
        }
        $('#questions').toggle(300);
        //  $("div").toggle(300);
    });
  </script>
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/how-to-deposit-your-assets-into-escrow.html')) {
    document.title = "How to Deposit Your Assets Into Escrow (Automated)"
    document.getElementsByTagName('meta')["description"].content = "Learn how to automate software escrow deposits effortlessly with Codekeeper. Activate integrations like GitHub to link your repositories, then make deposits with a few clicks. Your assets will be continuously updated and fully encrypted, ensuring seamless escrow management. Discover more about software escrow by booking your free demo today.";
  }
  </script>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>