<body>
    <!--  Clickcease.com tracking-->
    <script type='text/javascript'>var script = document.createElement('script');
      script.async = true; script.type = 'text/javascript';
      var target = 'https://www.clickcease.com/monitor/stat.js';
      script.src = target;var elem = document.head;elem.appendChild(script);
      </script>
      <noscript>
      <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
      </noscript>
      <!--  Clickcease.com tracking-->
  
    <div class="contact bg-white">
      <!-- Navigation -->
      {% include navigation.html %}
      <!-- Header -->
      <div class="container section-large">
        <iframe class="video-player" src="https://www.youtube.com/embed/M7L4qP-AjzA?si=IBaqizFeycZK5RAU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p class="header__video-title mt-4">
          How to Configure SaaS Escrow
        </p>
        <p class="header__description-text mt-3 pb-4">
            In this video, we'll demonstrate how to configure SaaS Escrow within the Codekeeper Platform, ensuring advanced protection for your cloud-native applications. If you already have a Software Escrow Agreement for recovery, you can now enhance your continuity by adding SaaS Escrow as an additional layer of protection.
        </p>
  
        <div class="row">
          <div class="col-md-7 col-sm-12 faq">
            <div class="header__timestamp-border mt-5">
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:01</p>
                <p class="header__timestamp-text">Hi. Welcome to Codekeeper. In this video we’ll explore how to configure SaaS Escrow, providing next-level protection for cloud-native applications. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:09</p>
                <p class="header__timestamp-text">To begin, you'll need a Software Escrow Agreement. If you're not sure how to set this up, check out our video on “How to Configure a Software Escrow Agreement”. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:17</p>
                <p class="header__timestamp-text">SaaS Escrow can now be added as the next layer of protection. Let’s start the setup process. Click the “+New SaaS Escrow” button to initiate your SaaS Escrow configuration. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:30</p>
                <p class="header__timestamp-text">First, you'll be prompted to set up your environment. For our example, we’ll choose Google Cloud. Select the role that your provider plays in your application’s environment—it can be either the hosting provider or a third-party service provider.</p>
              </div>
              
              <div class="" id="questions">
                <div class="d-flex mt-4">
                  <p class="header__timestamp">00:42</p>
                  <p class="header__timestamp-text">Next, enter details about the service, such as its function in your environment and the pricing plan you are subscribed to. Provide the contact details of the support representative or account manager from your provider, the approximate monthly costs, and the desired Continuity Protection Period. This is how long we’ll keep the application up and running on behalf of your beneficiary. </p>
                </div>
                <div class="d-flex mt-4">
                  <p class="header__timestamp">01:03</p>
                  <p class="header__timestamp-text">Once all details are entered, click “Add Provider” to submit the information for review. Then click the "Activate SaaS Escrow" button.  Finally confirm, and click “OK”. The setup of the provider’s escrow protection is now pending. Our team will review the details and send instructions on creating a Codekeeper user for this provider via email.</p>
                </div>
                <div class="d-flex mt-4">
                  <p class="header__timestamp">01:24</p>
                  <p class="header__timestamp-text"> Once our user has been created and Codekeeper confirms that we have the necessary permissions to ensure continuity of your SaaS services, the status of your provider will change to Setup completed to show they’ve been secured in escrow. Once all providers have been secured, your SaaS escrow status will update to Active.  </p>
                </div>
                <div class="d-flex mt-4">
                  <p class="header__timestamp">01:39</p>
                  <p class="header__timestamp-text">This specific step ensures continuity of your SaaS services, providing all necessary tools to recover or maintain operations without interruption. </p>
                </div>
                <div class="d-flex mt-4">
                  <p class="header__timestamp">01:48</p>
                  <p class="header__timestamp-text">Should you encounter issues, we will make payments on your behalf to maintain hosting and support services until you recover, or your client can take over.</p>
                </div>
                <div class="d-flex mt-4">
                  <p class="header__timestamp">01:56</p>
                  <p class="header__timestamp-text">Visit our website to learn more about our disaster recovery solutions and book your free demo today! </p>
                </div>
                <div class="d-flex mt-4">
                  <p class="header__timestamp">02:32</p>
                  <p class="header__timestamp-text">Thanks for watching!</p>
                </div>
              </div>
              <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border content-center" id="openQuestions">
                <span class="text-dark-cyan" id='show'>Show Transcript +</span>
                <span class="text-dark-cyan" id='hide'>Hide Transcript -</span>
              </p>
            </div>
            <div class="header__description-box mt-5 d-flex align-items-center justify-content-between flex-wrap">
              <p class="header__description-text my-3">
                Learn more about Codekeeper
              </p>
              <a class="button btn-cerulean3 how-it-works-href" href="how-it-works.html">
                Learn more
              </a>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/an-introduction-to-codekeeper-software-escrow-solutions.html">
              <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/jf9P1GXFWdo?si=MFVktG84kH8keD_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <p class="header__timestamp-text">An Introduction to Codekeeper - Software Escrow Solutions</p>
            </a>
            <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/all-new-online-platform.html">
              <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/bo5nKXqAwuk?si=qpAFBEbNBxrwwaSp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <p class="header__timestamp-text">All New Online Platform</p>
            </a>
            <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/how-to-deposit-your-assets-into-escrow.html">
              <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/GgOXn1KckZA?si=o0HQvT8nyqFW4xvo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <p class="header__timestamp-text">How to Deposit Your Assets Into Escrow</p>
            </a>
            <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/what-is-a-software-escrow-agreement.html">
              <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/U3j7Nuh12oU?si=RrZIGTbmUlUkPjTX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <p class="header__timestamp-text">What is a Software Escrow Agreement</p>
            </a>
            <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/what-is-software-escrow.html">
              <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/mcj37dtxrYU?si=BYnoAEGUpMkt3P6s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              <p class="header__timestamp-text">What is Software Escrow</p>
            </a>
            <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/how-to-configure-a-software-escrow-agreement.html">
							<iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/xUM9KZEl17Q?si=u-8hgdRvC1eiZvOG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
							<p class="header__timestamp-text">How to Configure a Software Escrow Agreement</p>
						</a>
          </div>
        </div>
  
        
      </div>
      <!-- Footer -->
      {% include footer.html %}
    </div>
    {% include snippets.html %}
    <script>
      $('#questions').hide();
      $('#hide').hide();
  
      $(".openLines").click(function(){      
          if ($('#hide').is(":visible")) {
            $('#hide').hide();
            $('#show').show();
          }
          else {
            $('#show').hide();
            $('#hide').show();
          }
          $('#questions').toggle(300);
          //  $("div").toggle(300);
      });
    </script>
    <script>
      var pathname = location.pathname;
    
      if (pathname.includes('/how-to-configure-saas-escrow.html')) {
      document.title = "How to Configure SaaS Escrow"
      document.getElementsByTagName('meta')["description"].content = "Learn how to configure a SaaS escrow agreement with ease on Codekeeper. Follow four simple steps to set up roles, agreement types, and details for both the depositor and beneficiary. Save time and ensure a smooth escrow process. Book a free demo and discover more about software escrow.";
    }
    </script>
    <!-- Snippets -->
    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
  </body>