<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <div class="container-fluid resources px-0">
      <!-- Navigation -->
      {% include navigation.html %}
      <!-- Header -->
      <div class="header__bg-landing">
        <img class="header__bg-left" src="/images/landing/illustration-top.webp" alt="Background Image"/>
        <img class="header__bg-right" src="/images/landing/illustration-bottom.webp" alt="Background Image"/>
        <div class="container section-medium">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h1 class="header__title2 mt-4">{{ site.data[page.lang]['index']['eliminate'] }}</h1>
              <p class="header__subtitle2 my-4">{{ site.data[page.lang]['index']['we_provide_state'] }}</p>
              <div class="d-flex flex-wrap">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>

              <p class="header__subtext mt-4">{{ site.data[page.lang]['index']['we_support_all'] }} </p>
              <div class="resources">
                <div class="applications__logos mt-4 justify-content-start">
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/bitbucket-large.svg"/>
                    <p class="applications__logo-text">Bitbucket</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/github-large.svg"/>
                    <p class="applications__logo-text">GitHub</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/gitlab-large.svg"/>
                    <p class="applications__logo-text">GitLab</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/git-large.svg"/>
                    <p class="applications__logo-text">Git</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/google-cloud-large.svg"/>
                    <p class="applications__logo-text">Google<br> Cloud</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/azure-large.svg"/>
                    <p class="applications__logo-text">Microsoft Azure</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/aws-large.svg"/>
                    <p class="applications__logo-text">Amazon<br> Web<br> Services</p>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-6 col-sm-12">
              <img class="image-style" src="/images/landing/home-screen.webp" alt="Background Image"/>
            </div>
          </div>
        </div>
        <!-- <div class="my-5 d-flex">
          <a class="button btn-developer mr-2 features-href" href="features.html">
            I’m a Software Developer
          </a>
          <a class="button btn-client mr-2 features-href" href="features.html?client">
            I’m a Software Client
          </a>
        </div> -->
      </div>
      <!-- First Section -->
      <div class="container-fluid section-medium pricing">
        <p class="protect__subtext text-slate-gray fw-light">{{ site.data[page.lang]['index']['trusted_partner_of'] }}</p>
        <div class="tech-slideshow">
          <div class="slideshow-brands">
            <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
              <img class="protect__logos" src="/images/logos/axxiome.svg"/>
              <img class="protect__logos" src="/images/logos/intuit.svg"/>
              <img class="protect__logos" src="/images/logos/Bayer.svg"/>
              <img class="protect__logos" src="/images/logos/slate-digital.svg"/>
              <img class="protect__logos" src="/images/logos/colorado.svg"/>
              <img class="protect__logos" src="/images/logos/zynga.svg"/>
              <img class="protect__logos" src="/images/logos/gorenje.svg"/>
              <img class="protect__logos" src="/images/logos/axxiome.svg"/>
              <img class="protect__logos" src="/images/logos/intuit.svg"/>
              <img class="protect__logos" src="/images/logos/Bayer.svg"/>
              <img class="protect__logos" src="/images/logos/slate-digital.svg"/>
              <img class="protect__logos" src="/images/logos/colorado.svg"/>
              <img class="protect__logos" src="/images/logos/zynga.svg"/>
              <img class="protect__logos" src="/images/logos/gorenje.svg"/>
              <img class="protect__logos" src="/images/logos/axxiome.svg"/>
              <img class="protect__logos" src="/images/logos/intuit.svg"/>
              <img class="protect__logos" src="/images/logos/Bayer.svg"/>
              <img class="protect__logos" src="/images/logos/slate-digital.svg"/>
              <img class="protect__logos" src="/images/logos/colorado.svg"/>
              <img class="protect__logos" src="/images/logos/zynga.svg"/>
              <img class="protect__logos" src="/images/logos/gorenje.svg"/>
            </div>
            <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
              <img class="protect__logos" src="/images/logos/Pepsico_large.svg"/>
              <img class="protect__logos" src="/images/logos/general-electric.svg"/>
              <img class="protect__logos" src="/images/logos/mercedes-benz.svg"/>
              <img class="protect__logos" src="/images/logos/nestle.svg"/>
              <img class="protect__logos" src="/images/logos/Airbus.svg"/>
              <img class="protect__logos" src="/images/logos/the-economist.svg"/>
              <img class="protect__logos" src="/images/logos/Pepsico_large.svg"/>
              <img class="protect__logos" src="/images/logos/general-electric.svg"/>
              <img class="protect__logos" src="/images/logos/mercedes-benz.svg"/>
              <img class="protect__logos" src="/images/logos/nestle.svg"/>
              <img class="protect__logos" src="/images/logos/Airbus.svg"/>
              <img class="protect__logos" src="/images/logos/the-economist.svg"/>
              <img class="protect__logos" src="/images/logos/Pepsico_large.svg"/>
              <img class="protect__logos" src="/images/logos/general-electric.svg"/>
              <img class="protect__logos" src="/images/logos/mercedes-benz.svg"/>
              <img class="protect__logos" src="/images/logos/nestle.svg"/>
              <img class="protect__logos" src="/images/logos/Airbus.svg"/>
              <img class="protect__logos" src="/images/logos/the-economist.svg"/>
            </div>
          </div>
        </div>
      </div>

      <div class="software-escrow__bg-gray">
        <div class="container">
          <p class="software-escrow__main-title">{{ site.data[page.lang]['index']['does_software'] }}</p>
          <p class="software-escrow__main-subtitle mx-auto">{{ site.data[page.lang]['index']['codekeeper_was'] }}</p>
          
        </div>
      </div>

      <div class="software-escrow__bg-gray2 section-medium">
        <div class="container">
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
              <p class="software-escrow__title mt-4">{{ site.data[page.lang]['index']['everything_is'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['traditional_escrows'] }}</p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-4"><i class="fa fa-times text-light-red mr-2"></i>{{ site.data[page.lang]['index']['time_consuming'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-times text-light-red mr-2"></i>{{ site.data[page.lang]['index']['complex_deposit'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-times text-light-red mr-2"></i>{{ site.data[page.lang]['index']['expensive_lawyer'] }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="software-escrow__image" src="/images/landing/still-manual.webp" alt="Still Manual Image"/>
            </div>
          </div>
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-6 col-sm-12">
              <img class="software-escrow__image" src="/images/landing/certain-path.webp" alt="Certain Path Image"/>
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="software-escrow__title mt-4">{{ site.data[page.lang]['index']['no_certain'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['old_school'] }}</p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-4"><i class="fa fa-times text-light-red mr-2"></i>{{ site.data[page.lang]['index']['outdated_and'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-times text-light-red mr-2"></i>{{ site.data[page.lang]['index']['deployment_configuration'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-times text-light-red mr-2"></i>{{ site.data[page.lang]['index']['no_team'] }}</p>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
              <p class="software-escrow__title mt-4">{{ site.data[page.lang]['index']['you_are_losing'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['let_us_show'] }}</p>
              <div class="d-flex flex-wrap mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="software-escrow__image" src="/images/landing/losing-out.webp" alt="Losing out Image"/>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <p class="people-choose__main-title">{{ site.data[page.lang]['index']['why_people_choose'] }}</p>
        <p class="people-choose__main-subtitle mx-auto">{{ site.data[page.lang]['index']['one_centralized'] }}</p>
      </div>
      <div class="people-choose__bg">
        <div class="container">
          <div class="content-center mt-5">
            <img class="people-choose__image mx-auto" src="/images/landing/people-choose.webp" alt="Losing out Image"/>
          </div>
          <p class="people-choose__info mx-auto my-4">{{ site.data[page.lang]['index']['learn_more_about'] }}</p>
          <a class="button btn-cerulean3 solutions-href mx-auto" href="solutions.html">
            {{ site.data[page.lang]['index']['explore_our'] }}
          </a>
        </div>
      </div>

      <div class="pt-100">
        
        <div class="container">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-6 col-sm-12">
              <img class="software-escrow__image" src="/images/landing/designed-for.webp" alt="Design For Image"/>
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="software-escrow__title mt-4">{{ site.data[page.lang]['index']['design_for_software'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['multi_later_protection'] }}</p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-4"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['software_escrow'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['saas_escrow'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['custom_escrow'] }}</p>
            </div>
          </div>
        </div>
        <div class="software-escrow__bg-gray3"></div>
        <div class="container">
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
              <p class="software-escrow__title mt-4">{{ site.data[page.lang]['index']['automated_deposits'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['integrates_directly'] }}</p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-4"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['recent_version'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['50_plus'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['encryption_security'] }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="software-escrow__image" src="/images/landing/automated-deposits.webp" alt="Automated Deposits Image"/>
            </div>
          </div>
        </div>
        <div class="software-escrow__bg-gray3"></div>

        <div class="container">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-6 col-sm-12">
              <img class="software-escrow__image" src="/images/landing/legal-framework.webp" alt="Legal Framework Image"/>
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="software-escrow__title mt-4">{{ site.data[page.lang]['index']['a_solid_legal'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['a_legally_sound'] }}</p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-4"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['legal_work'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['quick_turn'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['ready_for'] }}</p>
            </div>
          </div>
        </div>
        <div class="software-escrow__bg-gray3"></div>
        <div class="container pb-200">
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
              <p class="software-escrow__title mt-4">{{ site.data[page.lang]['index']['assured_recovery'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['quick_recovery'] }}</p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-4"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['many'] }} <a class="text-underline verification-href text-bondi-blue" href="verification.html">{{ site.data[page.lang]['index']['verification'] }}</a> {{ site.data[page.lang]['index']['options_available'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['payment_guarantees'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['full_recovery'] }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="software-escrow__image" src="/images/landing/assured-recovery.webp" alt="Assured Recovery Image"/>
            </div>
          </div>
        </div>
        <div class="software-escrow__bg-gray3 mb-0"></div>
      </div>

      <div class="container">
        <div class="best-price__bg">
          <img class="best-price__small-shape" src="/images/landing/small-shape.webp" alt="Small Shape Image"/>
          <img class="best-price__medium-shape" src="/images/landing/medium-shape.webp" alt="Medium Shape Image"/>
          <img class="best-price__large-shape" src="/images/landing/large-shape.webp" alt="Large Shape Image"/>
          <div class="row mt-5">
            <div class="col-md-5 col-sm-12 content-center">
              <img class="best-price__image mb-3" src="/images/landing/best-price.webp" alt="Best Price Image"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="best-price__text">{{ site.data[page.lang]['index']['and_last'] }}</p>
              <p class="best-price__title">{{ site.data[page.lang]['index']['best_price_on'] }}</p>
              <p class="best-price__subtext"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['clear_and_simple'] }}</p>
              <p class="best-price__subtext"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['no_costs'] }}</p>
              <p class="best-price__subtext"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['save_up_to'] }}</p>
              <a class="button btn-yellow pricing-href my-4" href="pricing.html">
                {{ site.data[page.lang]['index']['explore_our_pricing'] }}
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="container section-large">
        <h2 class="mentions__title mt-5">{{ site.data[page.lang]['index']['as_seen_on'] }}</h2>
        <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['a_few_of_the'] }}</p>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="mentions__box">
              <img class="mentions__icon" src="/images/homepage/quotes.svg"/>
              <p class="mentions__text mt-4">{{ site.data[page.lang]['index']['excellent_service'] }}</p>
              <img class="mentions__logo" src="/images/logos/product-hunt.svg"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="mentions__box">
              <img class="mentions__icon" src="/images/homepage/quotes.svg"/>
              <p class="mentions__text mt-4">{{ site.data[page.lang]['index']['codekeeper_is_a_new'] }}</p>
              <img class="mentions__logo" src="/images/logos/fast-company.svg"/>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="mentions__box">
              <img class="mentions__icon" src="/images/homepage/quotes.svg"/>
              <p class="mentions__text mt-4">{{ site.data[page.lang]['index']['source_code_escrow_is'] }}</p>
              <img class="mentions__logo" src="/images/logos/hacker-news.svg"/>
            </div>
          </div>
        </div>
      </div>
      {% include demo-intro.html %}
    </div>
      
    <!-- Footer -->
    {% include footer.html %}
  </div>
  
  

  <!-- Snippets -->
  {% include snippets.html %}
  <script src="/js/easyResponsiveTabs.js"></script>
  <!--Plug-in Initialisation-->
	<script type="text/javascript">
    $(document).ready(function() {
        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
  </script>


<script>
  // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

<script>
  $( document ).ready(function() {
    $.ajax('https://ipapi.co/json')
    .then(
      function success(response) {
        if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
          $('.setup-fee').text('€249');
          $('.amazon-deposit').text('€29');
          $('#developer-monthly').text('€89');
          $('#team-monthly').text('€225');
          $('#business-monthly').text('€399');
          $('#enterprise-monthly').text('€1,399');
          $('.developer-monthly').text('€89');
          $('.team-monthly').text('€225');
          $('.business-monthly').text('€399');
          $('.enterprise-monthly').text('€1,399');
          $('#developer-yearly').text('€79');
          $('#team-yearly').text('€199');
          $('#business-yearly').text('€349');
          $('#enterprise-yearly').text('€1,299');
          $('.increased-repository').text('€19');
          $('.increased-storage').text('€5');
          $('.storage-selection').text('€9');
          $('.deposit-connections').text('€99');
          $('.release-processing').text('€199');
          $('.saas-continuity').text('€299');
          $('.verification-advanced').text('€2,495');
          $('.verification-complete').text('€3,995');
          $('.plan-eu').removeClass('d-none');
          $('.plan-us').remove();
          $('.plan-uk').remove();
          $('.plan-in').remove();
          $('.plan-au').remove();
          $('.plan-sg').remove();
          $('.plan-rsa').remove();
          $('.plan-ch').remove();
          $('.plan-ca').remove();
        }
        else if (response.currency === 'GBP') {
          $('.setup-fee').text('£199');
          $('.amazon-deposit').text('£29');
          $('#developer-monthly').text('£79');
          $('#team-monthly').text('£199');
          $('#business-monthly').text('£349');
          $('#enterprise-monthly').text('£1,099');
          $('.developer-monthly').text('£79');
          $('.team-monthly').text('£199');
          $('.business-monthly').text('£349');
          $('.enterprise-monthly').text('£1,099');
          $('#developer-yearly').text('£69');
          $('#team-yearly').text('£175');
          $('#business-yearly').text('£299');
          $('#enterprise-yearly').text('£999');
          $('.increased-repository').text('£14');
          $('.increased-storage').text('£4');
          $('.storage-selection').text('£7');
          $('.deposit-connections').text('£70');
          $('.release-processing').text('£149');
          $('.saas-continuity').text('£225');
          $('.verification-advanced').text('£1,799');
          $('.verification-complete').text('£2,995');
          $('.plan-uk').removeClass('d-none');
          $('.plan-us').remove();
          $('.plan-eu').remove();
          $('.plan-in').remove();
          $('.plan-au').remove();
          $('.plan-sg').remove();
          $('.plan-rsa').remove();
          $('.plan-ch').remove();
          $('.plan-ca').remove();
        }
        else if (response.currency === 'INR') {
          $('.setup-fee').text('₹15,000');
          $('.amazon-deposit').text('₹1,995');
          $('#developer-monthly').text('₹6,995');
          $('#team-monthly').text('₹17,995');
          $('#business-monthly').text('₹32,995');
          $('#enterprise-monthly').text('₹109,995');
          $('.developer-monthly').text('₹6,995');
          $('.team-monthly').text('₹17,995');
          $('.business-monthly').text('₹32,995');
          $('.enterprise-monthly').text('₹109,995');
          $('#developer-yearly').text('₹6,495');
          $('#team-yearly').text('₹15,995');
          $('#business-yearly').text('₹29,995');
          $('#enterprise-yearly').text('₹99,995');
          $('.increased-repository').text('₹1,415');
          $('.increased-storage').text('₹375');
          $('.storage-selection').text('₹670');
          $('.deposit-connections').text('₹7,380');
          $('.release-processing').text('₹12,500');
          $('.saas-continuity').text('₹19,995');
          $('.verification-advanced').text('₹179,995');
          $('.verification-complete').text('₹249,995');
          $('.plan-in').removeClass('d-none');
          $('.plan-us').remove();
          $('.plan-eu').remove();
          $('.plan-uk').remove();
          $('.plan-au').remove();
          $('.plan-sg').remove();
          $('.plan-rsa').remove();
          $('.plan-ch').remove();
          $('.plan-ca').remove();
        }
        else if (response.currency === 'AUD') {
          $('.setup-fee').text('A$299');
          $('.amazon-deposit').text('A$29');
          $('#developer-monthly').text('A$109');
          $('#team-monthly').text('A$275');
          $('#business-monthly').text('A$549');
          $('#enterprise-monthly').text('A$1,899');
          $('.developer-monthly').text('A$109');
          $('.team-monthly').text('A$275');
          $('.business-monthly').text('A$549');
          $('.enterprise-monthly').text('A$1,899');
          $('#developer-yearly').text('A$99');
          $('#team-yearly').text('A$249');
          $('#business-yearly').text('A$499');
          $('#enterprise-yearly').text('A$1,699');
          $('.increased-repository').text('A$25');
          $('.increased-storage').text('A$7');
          $('.storage-selection').text('A$12');
          $('.deposit-connections').text('A$130');
          $('.release-processing').text('A$250');
          $('.saas-continuity').text('A$349');
          $('.verification-advanced').text('A$2,995');
          $('.verification-complete').text('A$4,995');
          $('.plan-au').removeClass('d-none');
          $('.plan-us').remove();
          $('.plan-eu').remove();
          $('.plan-uk').remove();
          $('.plan-in').remove();
          $('.plan-sg').remove();
          $('.plan-rsa').remove();
          $('.plan-ch').remove();
          $('.plan-ca').remove();
        }

        else if (response.currency === 'SGD') {
          $('.setup-fee').text('$299');
          $('.amazon-deposit').text('$39');
          $('#developer-monthly').text('$109');
          $('#team-monthly').text('$275');
          $('#business-monthly').text('$549');
          $('#enterprise-monthly').text('$1,899');
          $('.developer-monthly').text('$109');
          $('.team-monthly').text('$275');
          $('.business-monthly').text('$549');
          $('.enterprise-monthly').text('$1,899');
          $('#developer-yearly').text('$99');
          $('#team-yearly').text('$249');
          $('#business-yearly').text('$499');
          $('#enterprise-yearly').text('$1,699');
          $('.increased-repository').text('$25');
          $('.increased-storage').text('$7');
          $('.storage-selection').text('$12');
          $('.deposit-connections').text('$130');
          $('.release-processing').text('$249');
          $('.saas-continuity').text('$399');
          $('.verification-advanced').text('$3,199');
          $('.verification-complete').text('$4,999');
          $('.plan-sg').removeClass('d-none');
          $('.plan-us').remove();
          $('.plan-eu').remove();
          $('.plan-uk').remove();
          $('.plan-in').remove();
          $('.plan-au').remove();
          $('.plan-rsa').remove();
          $('.plan-ch').remove();
          $('.plan-ca').remove();
        }

        else if (response.currency === 'ZAR') {
          $('.setup-fee').text('R3,499');
          $('.amazon-deposit').text('R399');
          $('#developer-monthly').text('R1,395');
          $('#team-monthly').text('R3,345');
          $('#business-monthly').text('R5,995');
          $('#enterprise-monthly').text('R21,995');
          $('.developer-monthly').text('R1,395');
          $('.team-monthly').text('R3,345');
          $('.business-monthly').text('R5,995');
          $('.enterprise-monthly').text('R21,995');
          $('#developer-yearly').text('R1,250');
          $('#team-yearly').text('R2,950');
          $('#business-yearly').text('R5,490');
          $('#enterprise-yearly').text('R19,995');
          $('.increased-repository').text('R270');
          $('.increased-storage').text('R70');
          $('.storage-selection').text('R130');
          $('.deposit-connections').text('R1,410');
          $('.release-processing').text('R2,799');
          $('.saas-continuity').text('R3,999');
          $('.verification-advanced').text('R34,999');
          $('.verification-complete').text('R54,999');
          $('.plan-rsa').removeClass('d-none');
          $('.plan-us').remove();
          $('.plan-eu').remove();
          $('.plan-uk').remove();
          $('.plan-in').remove();
          $('.plan-sg').remove();
          $('.plan-au').remove();
          $('.plan-ch').remove();
          $('.plan-ca').remove();
        }

        else if (response.currency === 'CHF') {
          $('.setup-fee').text('CHF275');
          $('.amazon-deposit').text('CHF29');
          $('#developer-monthly').text('CHF89');
          $('#team-monthly').text('CHF225');
          $('#business-monthly').text('CHF399');
          $('#enterprise-monthly').text('CHF1,349');
          $('.developer-monthly').text('CHF89');
          $('.team-monthly').text('CHF225');
          $('.business-monthly').text('CHF399');
          $('.enterprise-monthly').text('CHF1,349');
          $('#developer-yearly').text('CHF79');
          $('#team-yearly').text('CHF199');
          $('#business-yearly').text('CHF349');
          $('#enterprise-yearly').text('CHF1,199');
          $('.increased-repository').text('CHF18');
          $('.increased-storage').text('CHF5');
          $('.storage-selection').text('CHF8');
          $('.deposit-connections').text('CHF99');
          $('.release-processing').text('CHF219');
          $('.saas-continuity').text('CHF329');
          $('.verification-advanced').text('CHF2,749');
          $('.verification-complete').text('CHF4,399');
          $('.plan-ch').removeClass('d-none');
          $('.plan-us').remove();
          $('.plan-eu').remove();
          $('.plan-uk').remove();
          $('.plan-in').remove();
          $('.plan-au').remove();
          $('.plan-rsa').remove();
          $('.plan-sg').remove();
          $('.plan-ca').remove();
        }

        else if (response.currency === 'CAD') {
              $('.setup-fee').text('CAD299');
              $('.amazon-deposit').text('CAD39');
              $('#developer-monthly').text('CAD119');
              $('#team-monthly').text('CAD299');
              $('#business-monthly').text('CAD499');
              $('#enterprise-monthly').text('CAD1,849');
              $('.developer-monthly').text('CAD119');
              $('.team-monthly').text('CAD299');
              $('.business-monthly').text('CAD499');
              $('.enterprise-monthly').text('CAD1,849');
              $('#developer-yearly').text('CAD109');
              $('#team-yearly').text('CAD275');
              $('#business-yearly').text('CAD449');
              $('#enterprise-yearly').text('CAD1,649');
              $('.developer-yearly').text('CAD109');
              $('.team-yearly').text('CAD275');
              $('.business-yearly').text('CAD449');
              $('.enterprise-yearly').text('CAD1,649');
              $('.increased-repository').text('CAD25');
              $('.increased-storage').text('CAD7');
              $('.storage-selection').text('CAD12');
              $('.deposit-connections').text('CAD130');
              $('.release-processing').text('CAD249');
              $('.saas-continuity').text('CAD349');
              $('.verification-advanced').text('CAD2,995');
              $('.verification-complete').text('CAD4,995');
              $('.developer-monthly-saas').text('CAD139');
              $('.team-monthly-saas').text('CAD199');
              $('.business-monthly-saas').text('CAD329');
              $('.enterprise-monthly-saas').text('CAD669');
              $('.plan-ca').removeClass('d-none');
              $('.plan-us').remove();
              $('.plan-eu').remove();
              $('.plan-uk').remove();
              $('.plan-in').remove();
              $('.plan-sg').remove();
              $('.plan-rsa').remove();
              $('.plan-ch').remove();
              $('.plan-au').remove();
            }

        else {
          $('.plan-us').removeClass('d-none');
          $('.plan-eu').remove();
          $('.plan-uk').remove();
          $('.plan-in').remove();
          $('.plan-au').remove();
          $('.plan-sg').remove();
          $('.plan-rsa').remove();
          $('.plan-ch').remove();
          $('.plan-ca').remove();
        }
      },
      function fail(data, status) {
          console.log('Request failed.  Returned status of',
                      status);
      }
    )
    .catch((e) => console.log(e))
  });
</script>
</body>