<body>
  <div class="integrations">
    <!-- Header -->
    <div class="bg-light-gray">
      <div class="container">
        {% include navigation.html %}
        <div class="header__content">
          <h2 class="header__title text-center">{{ site.data[page.lang]['integrations']['integrations'] }}</h2>
          <p class="header__subtitle">{{ site.data[page.lang]['integrations']['make_legalsite'] }}</p>
          <a class="button btn-purple-lg m-3 mx-auto" href="https://app.legalsite.co/signup">
            {{ site.data[page.lang]['integrations']['get_started'] }}
          </a>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white pb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3 col-sm-12 px-0">
            <div class="sidebar__container pt-5 pb-5">
              <div class="d-flex align-items-center pl-5">
                <img class="" alt="Icon: Filter" src="images/integrations/filter-icon.svg"/>
                <p class="sidebar__title mb-0 ml-2">{{ site.data[page.lang]['integrations']['filter'] }}</p>
              </div>
              <div class="btn-group btn-group-toggle mt-4 d-flex flex-column" data-toggle="buttons">
                <label class="btn btn-sidebar" id="all">
                  <input type="radio" name="options" id="option1" autocomplete="off" checked> {{ site.data[page.lang]['integrations']['see_all'] }}
                </label>
                {% for integration in site.integrations %}
                <label class="btn btn-sidebar" id="{{ integration.integration_type }}">
                    <input type="radio" class="search" name="Zapier" id="option2" autocomplete="off"><span class="truncate">{{ integration.integration_type }}</span>
                  </label>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-12 pt-5">
            <div class="cont">
              <div class="container2 d-flex flex-column">
                <p class="header__subtitle">{{ site.data[page.lang]['integrations']['if_you_dont_see'] }}, <a href="contact.html">{{ site.data[page.lang]['integrations']['let_us_know'] }}.</a></p>
                <div class="row d-flex flex-wrap mt-5 mobile-center service__input-container" id="myUL">
                  <div id="test-list" class="w-100 pl-2">
                    <div class="input-group mb-3 service__input">
                      <input type="text" class="form-control service__input-form search p-4 shadow-none" placeholder="Type to search for a service..." aria-label="Type to search" aria-describedby="basic-addon2" />
                      <div class="input-group-append">
                        <button class="btn btn-purple service__search px-5 shadow-none" type="button"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                    <ul class="list">
                      {% for integration in site.integrations %}
                      <li><a data-name="{{ integration.integration_name }}" class="service__box page-link mt-5 mx-auto" href="">
                        <span class="type d-none">{{ integration.integration_type }}</span>
                        <span class="service__image-box">
                          <img alt="Logo: Integration" src="{{ integration.integration_logo_url }}"/>
                        </span>
                        <span class="service__title name">{{ integration.integration_name }}</span>
                        <p class="service__subtitle multine-ellipsis">{{ integration.integration_description }}</p>
                        <p class="d-none">{{ integration.integration_type }}</p>
                      </a></li>
                      {% endfor %}
                    </ul>
                    <ul class="pagination"></ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script>
    $('.page-link').each(function() {
      var serviceUrls = $(this).attr('data-name').toLowerCase().split(' ').join("_");
      var serviceUrl = serviceUrls.replace(/[^\w\s]/gi, '')

      if (serviceUrl.match(/^[a-z\.]+ [a-z]+/i)) {
        $(this).attr('href', 'integrations/' + serviceUrl.split(' ').join("_") + '.html');
      }
      else {
        $(this).attr('href', 'integrations/' + serviceUrl + '.html');
      }
    });
  </script>

  <script>
    $('#all').addClass('active');
    var seen = {};

    $('.btn-sidebar').each(function() {
      var txt = $(this).attr('id');

      if (seen[txt])
        $(this).remove();
      else
        seen[txt] = true;
    });

    var options = {
      valueNames: ['name', 'type'],
      page: 9,
      pagination: true
    };

    var featureList = new List('test-list', options);

    $('.btn-sidebar').click(function() {
      $('.btn-sidebar').removeClass('active');

      $('#all').removeClass('active');
      var category = $(this).attr('id');
      $('#' + category).addClass('active');
      featureList.filter(function(item) {
        if (item.values().type === category) {
            return true;
        } else {
            return false;
        }
      });
      return false;
    });

    $('#all').click(function() {
        $(this).addClass('active');
      featureList.filter();
        return false;
    });
  </script>
</body>