<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="integrations bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content solutions">
      <div class="header__bg-new">
        <img class="header__bg-top-left" src="/images/solutions/top-left.webp" alt="Background Image"/>
        <img class="header__bg-bottom-right" src="/images/solutions/bottom-right.webp" alt="Background Image"/>
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <h1 class="header__title text-align-start mt-5 mw-570">{{ site.data[page.lang]['integrations']['explore_our'] }}</h1>
              <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['integrations']['codekeeper_works_with'] }} </p>
            </div>
            <div class="col-md-5 col-sm-12 content-center">
              <img class="image-style mw-350 mt-4" src="/images/integration-page/integrations-header-image.webp" alt="Background Image"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="pb-5">
      <div class="container-fluid">
        <div class="col-12">
          <div class="cont">
            <div class="container2 mx-auto mt-2"> 
              <div class="row d-flex flex-wrap mt-5 mobile-center w-100" id="myUL">
                <div id="test-list" class="w-100">
                  <div class="mw-900 mx-auto d-flex flex-column align-items-center mt-5">
                    <div class="pt-3">
                      <div class="input-group mb-3 service__input mx-auto">
                        <input type="text" class="form-control service__input-form search p-4 shadow-none" placeholder="Search integrations" aria-label="Type to search" aria-describedby="basic-addon2" />
                        <div class="input-group-append bg-light-gray">
                          <button class="service__search btn px-5 shadow-none" type="button">
                            <img class="service__input-icon" src="/images/integration-page/search-icon.svg"/>
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="pt-0">
                      <div class="btn-group btn-group-toggle mt-2 d-flex align-items-center mx-auto" data-toggle="buttons">
                        <label class="btn btn-sidebar" id='all'>
                          <input type="radio" name="options" id="option1" autocomplete="off" checked> {{ site.data[page.lang]['integrations']['see_all'] }}
                        </label>
                        {% for integration in site.integrations %}
                        <label class="btn btn-sidebar" id="{{ integration.integration_type }}">
                          <input type="radio" class='search' name="Source Code Escrow" id="option2" autocomplete="off">{{ integration.integration_type }}
                        </label>
                        {% endfor %}
                      </div>
                    </div> -->
                    
                  </div>
                  
                  <ul class="list section-medium">
                    {% for integration in site.integrations %}
                    <li><a data-name="{{ integration.integration_name }}" class="service__box page-link mt-3 mx-auto" href="">
                      <span class="type d-none">{{ integration.integration_type }}</span>
                      <span class="service__image-box">
                        <img src="{{ integration.integration_logo_url }}"/>
                      </span>
                      <span class="service__title name">{{ integration.integration_name }}</span>
                      <p class="service__subtitle">{{ integration.integration_description }}</p>
                      <p class="d-none">{{ integration.integration_type }}</p>
                    </a></li>
                    {% endfor %}
                  </ul>
                  <!-- <ul class="pagination"></ul> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Section -->
        <div class="resources container">
          <div class="how-bg-gradient mt-4 mb-100 p-5">
            <div class="row pt-5">
              <div class="col-md-5 col-sm-12 content-center">
                <img class="best-price__image mw-260" src="../images/integration-page/preferred-platform.webp" alt="Best Price Image"/>
              </div>
              <div class="col-md-7 col-sm-12"> 
                <p class="best-price__title text-air-force-blue">{{ site.data[page.lang]['integrations']['your_preferred'] }}</p>
                <a class="button btn-cerulean3 contact-href my-4 text-uppercase" href="../contact.html">
                  {{ site.data[page.lang]['source_code_escrow']['contact_us'] }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="resources">
      <div class="best-price__bg mt-4 mb-100 border-radius-0">
        <div class="container resources section-medium">
          <img class="best-price__small-shape" src="../images/landing/small-shape.webp" alt="Small Shape Image"/>
          <img class="best-price__medium-shape" src="../images/landing/medium-shape.webp" alt="Medium Shape Image"/>
          <img class="best-price__large-shape" src="../images/landing/large-shape.webp" alt="Large Shape Image"/>
          <div class="row">
            <div class="col-md-7 col-sm-12"> 
              <p class="best-price__title2">{{ site.data[page.lang]['information_escrow']['industry_leading'] }}</p>
              <p class="best-price__text">{{ site.data[page.lang]['information_escrow']['you_dont_need_to'] }}</p>
              <a class="button btn-yellow pricing-href my-4" href="../pricing.html">
                {{ site.data[page.lang]['index']['explore_our_pricing'] }}
              </a>
            </div>
            <div class="col-md-5 col-sm-12 content-center">
              <img class="best-price__image mw-420" src="../images/integration-page/leading-features.webp" alt="Best Price Image"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-white software-escrow">
      <div class="datacenters__bg pt-5 mb-200">
        <div class="container d-flex flex-column align-items-center">
          <p class="scenario__title mx-auto mw-100 pb-3">{{ site.data[page.lang]['source_code_escrow']['securely_stored'] }}</p>
          <p class="protect__subtext text-dark-cyan">{{ site.data[page.lang]['features']['we_operate_within'] }}:</p>
          <img class="datacenter-image pb-5" src="/images/logos/datacenter-certifications.webp"/>
        </div>
        <div class="container">
          <div class="row mt-3">
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/data-security.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['data_security'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['our_data'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/encryption.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['end_to_end'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['data_is_secured'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/audit.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['deposit_audit'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['review_the'] }}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/upload-folder.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['secure_upload'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_you_prefer'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/gdpr.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['gdpr_compliance'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_your_deposits'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/hipaa.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['hipaa_compliance'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_your'] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script>
    $('.page-link').each(function() {
      var serviceUrl = $(this).attr('data-name').toLowerCase();

      if (serviceUrl.match(/^[a-z\.]+ [a-z]+/i)) {
        
        $(this).attr('href', 'integrations/' + serviceUrl.split(' ').join("_") + '.html');
      }
      else {
        $(this).attr('href', 'integrations/' + serviceUrl + '.html');
      }
    });
  </script>
  <script>
    $('#all').addClass('active');
    var seen = {};

    $('.btn-sidebar').each(function() {
      var txt = $(this).attr('id');
    
      if (seen[txt])
        $(this).remove();
      else
        seen[txt] = true;
    });
      
    var options = {
      valueNames: ['name', 'type'],
      page: 9,
      pagination: true
    };

    var featureList = new List('test-list', options);

    $('.btn-sidebar').click(function() {
      $('.btn-sidebar').removeClass('active');
  
      $('#all').removeClass('active');
      var category = $(this).attr('id');

      $('#' + category).addClass('active');
      $(this).addClass('active');
      featureList.filter(function(item) {
        if (item.values().type === category) {
            return true;
        } else {
            return false;
        }
      });
      return false;
    });

    $('#all').click(function() {
        $(this).addClass('active');
      featureList.filter();
        return false;
    });
  </script>
</body>