<body>
  <div class="integrations bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg">
        <div class="container section-medium">
          <h1 class="header__title mx-auto mt-4">{{ site.data[page.lang]['integrations']['integrations'] }}</h1>
          <p class="header__subtitle mx-auto mt-5">{{ site.data[page.lang]['integrations']['codekeeper_integrates'] }} <a class="text-underline text-white" href="contact.html">{{ site.data[page.lang]['integrations']['let_us_know'] }}</a> {{ site.data[page.lang]['integrations']['and_we_add'] }} </p>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white pb-5">
      <div class="container-fluid">
        <div class="col-12 pt-5">
          <div class="cont">
            <div class="container2 mx-auto"> 
              <div class="row d-flex flex-wrap mt-5 mobile-center w-100" id="myUL">
                <div id="test-list" class="w-100">
                  <div class="row">
                    <div class="col-md-6 col-sm-12 pt-4">
                      <div class="btn-group btn-group-toggle mt-4 d-flex align-items-center" data-toggle="buttons">
                        <label class="btn btn-sidebar" id='all'>
                          <input type="radio" name="options" id="option1" autocomplete="off" checked> {{ site.data[page.lang]['integrations']['see_all'] }}
                        </label>
                        {% for integration in site.integrations %}
                        <label class="btn btn-sidebar" id="{{ integration.integration_type }}">
                          <input type="radio" class='search' name="Source Code Escrow" id="option2" autocomplete="off">{{ integration.integration_type }}
                        </label>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-5">
                      <div class="input-group mb-3 service__input ml-auto">
                        <input type="text" class="form-control service__input-form search p-4 shadow-none" placeholder="Search integrations" aria-label="Type to search" aria-describedby="basic-addon2" />
                        <div class="input-group-append bg-light-gray">
                          <button class="service__search btn px-5 shadow-none" type="button">
                            <img class="service__input-icon" src="/images/integration-page/search-icon.svg"/>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <ul class="list mt-5">
                    {% for integration in site.integrations %}
                    <li><a data-name="{{ integration.integration_name }}" class="service__box page-link mt-3 mx-auto" href="">
                      <span class="type d-none">{{ integration.integration_type }}</span>
                      <span class="service__image-box">
                        <img src="{{ integration.integration_logo_url }}"/>
                      </span>
                      <span class="service__title name">{{ integration.integration_name }}</span>
                      <p class="service__subtitle">{{ integration.integration_description }}</p>
                      <p class="d-none">{{ integration.integration_type }}</p>
                    </a></li>
                    {% endfor %}
                  </ul>
                  <ul class="pagination"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="header__subtitle mx-auto mt-3">{{ site.data[page.lang]['integrations']['your_preferred'] }} <a class="text-underline text-white" href="contact.html">{{ site.data[page.lang]['integrations']['let_us_know2'] }}</a> {{ site.data[page.lang]['integrations']['and_we'] }} </p>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-white pb-5">
      <div class="container-fluid section-medium">
        <div class="steps__container mx-auto">
          <h1 class="steps__main-title">{{ site.data[page.lang]['integrations']['how_to_activate'] }}</h1>
          <div class="container steps__desktop">
            <div class="row">
              <div class="col-md-5 col-sm-12">
                <div class="steps__content">
                  <p class="steps__title ml-auto">{{ site.data[page.lang]['integrations']['step_1'] }}</p>
                  <p class="steps__subtitle ml-auto text-right">{{ site.data[page.lang]['integrations']['to_activate_an'] }} <a href="https://codekeeper.co/sign-up.html"> Codekeeper</a> {{ site.data[page.lang]['integrations']['and_go_to'] }}:</p>
                </div>
              </div>
              <div class="col-md-2 col-sm-12 d-flex flex-column align-items-center">
                <img class="steps__dot" src="/images/integration-page/integration-dot.svg"/>
                <div class="steps__dash mx-auto"></div>
              </div>
              <div class="col-md-5 col-sm-12">
                <img class="steps__image" src="/images/integration-page/step-1.svg"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-12 d-flex justify-content-end">
                <img class="steps__image2" src="/images/integration-page/step-2.svg"/>
              </div>
              <div class="col-md-2 col-sm-12 d-flex flex-column align-items-center">
                <img class="steps__dot" src="/images/integration-page/integration-dot.svg"/>
                <div class="steps__dash mx-auto"></div>
              </div>
              <div class="col-md-5 col-sm-12">
                <div class="steps__content">
                  <p class="steps__title">{{ site.data[page.lang]['integrations']['step_2'] }}</p>
                  <p class="steps__subtitle text-start">{{ site.data[page.lang]['integrations']['once_on_the'] }}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-sm-12">
                <div class="steps__content">
                  <p class="steps__title ml-auto">{{ site.data[page.lang]['integrations']['step_3'] }}</p>
                  <p class="steps__subtitle ml-auto text-right">{{ site.data[page.lang]['integrations']['once_you_click'] }}</p>
                </div>
              </div>
              <div class="col-md-2 col-sm-12 d-flex flex-column align-items-center">
                <img class="steps__dot" src="/images/integration-page/integration-dot.svg"/>
              </div>
              <div class="col-md-5 col-sm-12">
                <img class="steps__image3" src="/images/integration-page/step-3.svg"/>
              </div>
            </div>
            <p class="steps__text mt-5">{{ site.data[page.lang]['integrations']['if_you_dont'] }} <a href="https://codekeeper.co/sign-up.html"> {{ site.data[page.lang]['integrations']['codekeeper_account'] }}</a></p>
          </div>

          <div class="container steps__mobile">
            <p class="steps__title">{{ site.data[page.lang]['integrations']['step_1'] }}</p>
            <p class="steps__subtitle">{{ site.data[page.lang]['integrations']['to_activate_an'] }} <a href="https://codekeeper.co/sign-up.html"> Codekeeper</a> {{ site.data[page.lang]['integrations']['and_go_to'] }}:</p>
            <img class="steps__image mt-4" src="/images/integration-page/step-1.svg"/>
            <p class="steps__title mt-5">{{ site.data[page.lang]['integrations']['step_2'] }}</p>
            <p class="steps__subtitle text-start">{{ site.data[page.lang]['integrations']['once_on_the'] }}</p>
            <img class="steps__image2 mt-4" src="/images/integration-page/step-2.svg"/>
            <p class="steps__title mt-5">{{ site.data[page.lang]['integrations']['step_3'] }}</p>
            <p class="steps__subtitle">{{ site.data[page.lang]['integrations']['once_you_click'] }}</p>
            <img class="steps__image3 mt-4" src="/images/integration-page/step-3.svg"/>
            <p class="steps__text mt-5">{{ site.data[page.lang]['integrations']['if_you_dont'] }}  <a href="https://codekeeper.co/sign-up.html"> {{ site.data[page.lang]['integrations']['codekeeper_account'] }}</a></p>
          </div>
        </div>
        <div class="container mt-5">
          <h1 class="steps__main-title">{{ site.data[page.lang]['integrations']['more_assistance'] }}</h1>
          <p class="steps__text mt-4">{{ site.data[page.lang]['integrations']['if_you_need'] }}</p>
          <a class="button btn-secondary-large mx-auto my-4" href="contact.html">
            {{ site.data[page.lang]['integrations']['get_in_touch'] }}
          </a>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    {% include secure-assets.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script>
    $('.page-link').each(function() {
      var serviceUrl = $(this).attr('data-name').toLowerCase();

      if (serviceUrl.match(/^[a-z\.]+ [a-z]+/i)) {
        
        $(this).attr('href', 'integrations/' + serviceUrl.split(' ').join("_") + '.html');
      }
      else {
        $(this).attr('href', 'integrations/' + serviceUrl + '.html');
      }
    });
  </script>
  <script>
    $('#all').addClass('active');
    var seen = {};

    $('.btn-sidebar').each(function() {
      var txt = $(this).attr('id');
    
      if (seen[txt])
        $(this).remove();
      else
        seen[txt] = true;
    });
      
    var options = {
      valueNames: ['name', 'type'],
      page: 9,
      pagination: true
    };

    var featureList = new List('test-list', options);

    $('.btn-sidebar').click(function() {
      $('.btn-sidebar').removeClass('active');
  
      $('#all').removeClass('active');
      var category = $(this).attr('id');

      $('#' + category).addClass('active');
      $(this).addClass('active');
      featureList.filter(function(item) {
        if (item.values().type === category) {
            return true;
        } else {
            return false;
        }
      });
      return false;
    });

    $('#all').click(function() {
        $(this).addClass('active');
      featureList.filter();
        return false;
    });
  </script>
</body>