<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="bg-gradient-blue section-medium pt-150 mb-200">
      <div class="container">
        <div class="row pt-100">
          <div class="col-md-7 col-sm-12">
            <p class="switch__main-title mt-4">Get Started with Pay-by-Invoice</p>
            <p class="switch__main-subtitle">Complete the form to set up your pay-by-invoice profile and streamline your billing process.</p>
            <img class="mt-4 mw-260 ml-5" src="/images/switch/pay-by-invoice.webp" alt="Pay by Invoice Image"/>
          </div>
          <div class="col-md-5 col-sm-12 section__modal-form5">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
            <script>
              hbspt.forms.create({
                region: "na1",
                portalId: "5365877",
                formId: "f7c780aa-429f-44a4-916f-6878354a6a5a"
              });
            </script>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $( document ).ready(function() {
      $('.open-chat').click(function(){

        window.HubSpotConversations.widget.open();
      });
    });
  </script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

  <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/5365877.js"></script> -->
  <!-- End of HubSpot Embed Code -->
</body>