<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target; var elem = document.head; elem.appendChild(script);
  </script>
  <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx'
        alt='ClickCease' /></a>
  </noscript>
  <!--  Clickcease.com tracking-->

  <div class="pricing bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden resources">
      <div class="header__bg">
        <img class="header__shape-left" src="/images/pricing-page/shape-left.webp" alt="Left Background Image"/>
        <img class="header__shape-right" src="/images/pricing-page/shape-right.webp" alt="Right Background Image"/>
        <div class="container">
          <h1 class="header__title mx-auto max-w100 mt-5 pt-5">{{ site.data[page.lang]['pricing_plan']['choose_the_plan'] }}</h1>
        </div>
      </div>
    </div>
    <!-- Pricing Tabs -->
    {% include pricing-tabs.html %}
    <!-- Section -->
    <div class="resources">
      <div class="people-choose__bg pb-5 mt-150 min-h-300">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-12 d-flex justify-content-end mobile-centered">
              <img class="image-style mw-260" src="/images/pricing-page/custom-plan.webp" alt="Custom Plan Image" loading="lazy"/>
            </div>
            <div class="col-md-7 col-sm-12 mobile-centered">
              <p class="pricing-plan__custom-title"> {{ site.data[page.lang]['pricing']['custom_plan'] }}</p>
              <p class="pricing-plan__custom-subtitle"> {{ site.data[page.lang]['pricing_plan']['need_something'] }}</p>
              <p class="plan__text-tooltip mt-2 text-dark-cyan"><i class="fas fa-check text-bondi-blue mr-2"></i><span
                  class="tooltip-text">{{ site.data[page.lang]['pricing']['unlimited_escrow'] }}</span></p>
              <p class="plan__text-tooltip mt-2 text-dark-cyan"><i class="fas fa-check text-bondi-blue mr-2"></i><span
                  class="tooltip-text">{{ site.data[page.lang]['pricing']['fully_customized'] }}</span></p>
              <a class="button btn-bondi-blue2 text-uppercase my-4 contact-href" href="contact.html">
                {{ site.data[page.lang]['pricing']['contact_us'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="pricing-plan__complete-bg">
        <img class="pricing-plan__complete-bg-shape" src="/images/pricing-page/services-shape-right.webp" alt="Service Plan Image" loading="lazy"/>
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <p class="pricing-plan__complete-title"> {{ site.data[page.lang]['pricing_plan']['get_our_complete'] }}
              </p>
              <p class="pricing-plan__complete-subtitle"> {{ site.data[page.lang]['pricing']['we_have_many'] }}</p>
              <a class="button btn-bondi-blue2 text-uppercase my-4" data-toggle="modal" data-target="#exampleModal">
                {{ site.data[page.lang]['pricing_plan']['get_pricing_list'] }}
              </a>
            </div>
            <div class="col-md-5 col-sm-12">
              <img class="image-style mw-420" src="/images/pricing-page/complete-services.webp" alt="Complete Service Image" loading="lazy"/>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content section__modal mx-auto">
            <div class="modal-body p-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="m-0">
                <div class="section__modal-form p-0 ">
                  <p class="section__modal-title mt-3">{{ site.data[page.lang]['pricing']['get_our_price'] }}</p>
                  <div class="row english-guide">
                    <div class="col-md-6 col-sm-12">
                      <img class="section__modal-image pt-5" src="/images/resources-page/pricelist.svg" alt="Pricelist Image" loading="lazy"/>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-3">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                          region: "na1",
                          portalId: "5365877",
                          formId: "cd3b35ed-b4f2-4948-97fe-4212186f6b17"
                        });
                      </script>
                    </div>
                  </div>

                  <div class="row spanish-guide">
                    <div class="col-md-6 col-sm-12">
                      <img class="section__modal-image pt-5" src="/images/resources-page/pricelist.svg" alt="Pricelist Image" loading="lazy"/>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-3">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                          region: "na1",
                          portalId: "5365877",
                          formId: "cb04f974-f821-41da-959f-255e5f981eaf"
                        });
                      </script>
                    </div>
                  </div>

                  <div class="row german-guide">
                    <div class="col-md-6 col-sm-12">
                      <img class="section__modal-image pt-5" src="/images/resources-page/pricelist.svg" alt="Pricelist Image" loading="lazy"/>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-3">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                          region: "na1",
                          portalId: "5365877",
                          formId: "6a9fcf61-0bed-431d-8f1b-3d9e3ef08d1e"
                        });
                      </script>
                    </div>
                  </div>

                  <div class="row dutch-guide">
                    <div class="col-md-6 col-sm-12">
                      <img class="section__modal-image pt-5" src="/images/resources-page/pricelist.svg" alt="Pricelist Image" loading="lazy"/>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-3">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                          region: "na1",
                          portalId: "5365877",
                          formId: "3298428a-dcec-4eef-b682-9f5b62aeb19d"
                        });
                      </script>
                    </div>
                  </div>

                  <div class="row romanian-guide">
                    <div class="col-md-6 col-sm-12">
                      <img class="section__modal-image pt-5" src="/images/resources-page/pricelist.svg" alt="Pricelist Image" loading="lazy"/>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-3">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                          region: "na1",
                          portalId: "5365877",
                          formId: "36defdc7-6405-4992-8f49-e451b1d5a6c2"
                        });
                      </script>
                    </div>
                  </div>

                  <div class="row french-guide">
                    <div class="col-md-6 col-sm-12">
                      <img class="section__modal-image pt-5" src="/images/resources-page/pricelist.svg" alt="Pricelist Image" loading="lazy"/>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-3">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                          region: "na1",
                          portalId: "5365877",
                          formId: "69d35200-cf61-4276-ab76-ec3d2743e106"
                        });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="resources">
      <div class="escrow__customised-bg2 mt-0">
        <div class="container offer">
          <div class="offer__box-container">
            <img class="offer__bg-shape" src="/images/pricing-page/get-offer-shape.webp" alt="Get Offer Image" loading="lazy"/>
            <div class="row">
              <div class="col-md-4 col-sm-12 d-flex justify-content-center">
                <img class="image-style mw-300 mt-4" src="/images/pricing-page/offer-made.webp" alt="Offer Made Image" loading="lazy"/>
              </div>
              <div class="col-md-8 col-sm-12">
                <h2 class="offer__main-title2 mt-5">{{ site.data[page.lang]['pricing']['get_an_offer'] }}</h2>
                <p class="offer__main-subtitle2 mt-3">{{ site.data[page.lang]['pricing']['dont_see_a_plan'] }}</p>
                <span class="offer-btns">
                  <button class="button btn-cerulean mt-4 btn-offer-style open" id="openButton">
                    {{ site.data[page.lang]['pricing']['get_offer'] }}
                  </button>
                  <button class="button btn-cerulean mt-4 btn-offer-style open" id="closeButton">
                    {{ site.data[page.lang]['pricing']['hide_offer'] }}
                  </button>
                </span>
              </div>
            </div>
            <div class="bg-white py-5" id="offer">
              <div class="section__container mx-auto mt-5 offer__container english-guide">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                    portalId: "5365877",
                    formId: "681409cd-f59f-49d5-836b-527607996aaf"
                  });
                </script>
              </div>
              <div class="section__container mx-auto mt-5 offer__container spanish-guide">

                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                    region: "na1",
                    portalId: "5365877",
                    formId: "43a4244a-893f-46bf-8c61-34c3997057c1"
                  });
                </script>
              </div>
              <div class="section__container mx-auto mt-5 offer__container german-guide">

                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                    region: "na1",
                    portalId: "5365877",
                    formId: "dc19e2de-7490-4dc2-93af-33163dd2c5f5"
                  });
                </script>
              </div>
              <div class="section__container mx-auto mt-5 offer__container dutch-guide">

                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                    region: "na1",
                    portalId: "5365877",
                    formId: "68712126-4f0b-4277-84b9-65706aa3d9b6"
                  });
                </script>
              </div>
              <div class="section__container mx-auto mt-5 offer__container romanian-guide">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                    region: "na1",
                    portalId: "5365877",
                    formId: "932218e5-c58d-4390-95ca-d74a7218cf24"
                  });
                </script>
              </div>
              <div class="section__container mx-auto mt-5 offer__container french-guide">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                <script>
                  hbspt.forms.create({
                    region: "na1",
                    portalId: "5365877",
                    formId: "97bbbcf4-1870-455f-8f21-4efb64cbb758"
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <img class="escrow__customised-right-shape" src="/images/pricing-page/philosophy-right.webp"
            alt="Philosophy Image" loading="lazy"/>
          <!-- <img class="escrow__customised-left-shape" src="/images/pricing-page/philosophy-left.webp" alt="Image Background"/> -->
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h1 class="pricing-plan__philosophy-title mt-4">{{ site.data[page.lang]['pricing_plan']['ck_pricing'] }}
              </h1>
              <p class="pricing-plan__philosophy-subtitle mt-4">{{
                site.data[page.lang]['pricing_plan']['software_escrow_is'] }} </p>
              <p class="pricing-plan__philosophy-text mt-4">{{ site.data[page.lang]['pricing_plan']['we_use'] }} </p>
              <!-- <a class="button btn-yellow create-custom-software-escrow-agreement-href" href="create-custom-software-escrow-agreement.html">
                {{ site.data[page.lang]['escrow_agreements']['request_custom'] }}
              </a> -->
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="escrow__customised-image mw-300" src="/images/pricing-page/philosophy.webp"
                alt="Image Customised Escrow" loading="lazy"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="container section-large pricing pt-5">
      <h4 class="section__title text-align-start">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['what_payment_methods'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['we_support_all'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['can_i_change'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['yes_you_can'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['do_you_support'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['yes_we_do2'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['what_pricing_plans'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['you_can_find2'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['how_does_the'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['billing_cycles'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['are_there_any'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['as_long_as'] }}</li>

        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['how_secure_is'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['we_take_security'] }}</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['is_there_a_discount'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['yes_we_offer2'] }}. {{ site.data[page.lang]['faq_pricing']['by_selecting_annual'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['can_i_get_a_custom'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['we_understand_that2'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['are_there_any_fees'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['no_there_are'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['how_do_i_know'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['our_pricing_plans'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['will_i_get'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['yes_if_you'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['can_i_change_my'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['you_can_make'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['can_i_get_a_refund'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['no_we_do_not_offer'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_pricing']['how_do_i_contact'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_pricing']['we_would_love_to'] }} <a href="book-a-demo.html" class="text-underline book-a-demo-href ">{{ site.data[page.lang]['faq_pricing']['here2'] }}</a>.</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-5">{{ site.data[page.lang]['faq']['if_you_have_any2'] }} </p>
    </div>

    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
  
  <script src="/js/offerRequest.js"></script>
  <script src="/js/guideTranslation.js"></script>
  <script src="/js/faqDropdown.js"></script>
  <script src="/js/geolocationPricing.js"></script>
  <script src="/js/pricingCheckout.js"></script>

  <script>
    // Check if the page has not been reloaded
    if (!localStorage.getItem('pageReloaded')) {
        var yamlData = {{site.data.pricing.prices | jsonify }};
        localStorage.setItem('prices', JSON.stringify(yamlData));
        
        // Set a flag in localStorage to indicate that the page has been reloaded
        localStorage.setItem('pageReloaded', 'true');

        // Reload the page
        window.location.reload();
    } 
  </script>
</body>