<body>
  <div class="privacy">
    <!-- Header -->
    <div class="bg-light-gray">
      <div class="container">
        {% include navigation.html %}
        <div class="header__content">
          <h2 class="header__title text-center mt-5">{{ site.data[page.lang]['privacy_operations']['manage_your_privacy'] }}</h2>
          <p class="header__subtitle mt-3">{{ site.data[page.lang]['privacy_operations']['stay_ahead_of'] }}</p>
          <div class="d-flex flex-wrap justify-content-center mb-5">
            <a class="button btn-purple-lg m-3" href="https://app.legalsite.co/signup">
              {{ site.data[page.lang]['privacy_operations']['get_started'] }}
            </a>
            <a class="button btn-purple-outline m-3" href="pricing.html">
              {{ site.data[page.lang]['privacy_operations']['see_pricing'] }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="landing">
      <div class="bg-light-gray solution-container">
        <div class="container d-flex align-items-center justify-content-center">
          <img class="image-solution" alt="Image: Scalable Solution" src="images/privacy/Image-3.svg"/>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="landing">
      <div class="bg-white section-medium">
        <div class="container">
          <div class="row column-reverse-mobile">
            <div class="col-md-6 col-sm-12">
              <img class="image-style" alt="Image: Simple Tasks" src="images/privacy/Group-1.svg"/>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
              <div class="privacy__content">
                <h2 class="privacy__title mt-4">{{ site.data[page.lang]['privacy_operations']['solve_data_subject'] }}</h2>
                <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['privacy_operations']['centralize_and_take'] }}</p>
                <a class="button btn-gray-lg mt-4 mobile-center" href="https://app.legalsite.co/signup">
                  {{ site.data[page.lang]['privacy_operations']['get_started'] }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white section-medium">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 mt-3">
              <div class="privacy__content">
                <h2 class="privacy__title mt-4">{{ site.data[page.lang]['privacy_operations']['keep_track_of_your'] }}</h2>
                <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['privacy_operations']['use_your_legalsite'] }}</p>
                <a class="button btn-gray-lg mt-4 mobile-center" href="https://app.legalsite.co/signup">
                  {{ site.data[page.lang]['privacy_operations']['get_started'] }}
                </a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="image-style mt-4" alt="Image: Status" src="images/privacy/Group-3.svg"/>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white section-medium">
        <div class="container">
          <div class="row column-reverse-mobile">
            <div class="col-md-6 col-sm-12">
              <img class="image-style" alt="Image: Status Update" src="images/privacy/cookies-consent.svg"/>
            </div>
            <div class="col-md-6 col-sm-12 mt-3">
              <div class="privacy__content">
                <h2 class="privacy__title mt-4">{{ site.data[page.lang]['privacy_operations']['give_users_control'] }}</h2>
                <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['privacy_operations']['give_your_customers'] }} </p>
                <a class="button btn-gray-lg mt-4 mobile-center" href="https://app.legalsite.co/signup">
                  {{ site.data[page.lang]['privacy_operations']['get_started'] }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white section-medium">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12 mt-3">
              <div class="privacy__content">
                <h2 class="privacy__title mt-4">{{ site.data[page.lang]['privacy_operations']['integrate_legalsite'] }}</h2>
                <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['privacy_operations']['ensure_that_your'] }}</p>
                <a class="button btn-gray-lg mt-4 mobile-center" href="integrations.html">
                  {{ site.data[page.lang]['privacy_operations']['see_integrations'] }}
                </a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="image-style mt-4" alt="Image: Integrations" src="images/privacy/Image-5.svg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="bg-light-gray pt-5 overflow-hidden overflow-x-scroll">
      <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
          <h2 class="header__title mt-5 mb-5">{{ site.data[page.lang]['privacy_operations']['how_it_works'] }}</h2>
          <div class="tabs3 container mt-5">
            <!-- Tab 1 -->
            <section id="tab5">
              <div class="first__icons">
                <a href="#receive-request" class="not-clickable">
                  <div class="sixth__icon-container reset-active -is-active">
                    <img class="sixth__icon" alt="Icon: Receive Request" src="images/privacy/envelope-open.svg"/>
                    <p class="sixth__icon-text">{{ site.data[page.lang]['privacy_operations']['request_received'] }}</p>
                  </div>
                </a>
                <div class="border-bottom-purple"></div>
              </div>
              <div class="mt-5 tabs3__content first-show-tab -show w-100">
                <h3 class="sixth__title mt-5">{{ site.data[page.lang]['privacy_operations']['request_received'] }}</h3>
                <p class="sixth__subtitle">{{ site.data[page.lang]['privacy_operations']['review_manage_and'] }}</p>
                <div class="d-flex justify-content-center w-100 mt-5">
                  <img class="image-style sixth__image" alt="Image: Receive Request" src="images/privacy/Image-How1.svg"/>
                </div>
              </div>
            </section>
            <!-- Tab 2 -->
            <section id="tab6">
              <div class="first__icons">
                <a href="#internal-task" class="not-clickable">
                  <div class="sixth__icon-container">
                    <img class="sixth__icon" alt="Icon: Internal task" src="images/privacy/cloud-upload.svg"/>
                    <p class="sixth__icon-text">{{ site.data[page.lang]['privacy_operations']['internal_task'] }}</p>
                  </div>
                </a>
                <div class="border-bottom-purple"></div>
              </div>
              <div class="mt-5 tabs3__content w-100">
                <h3 class="sixth__title mt-5">{{ site.data[page.lang]['privacy_operations']['internal_task'] }}</h3>
                <p class="sixth__subtitle">{{ site.data[page.lang]['privacy_operations']['upload_the_requesters'] }}</p>
                <div class="d-flex justify-content-center w-100 mt-5">
                  <img class="image-style sixth__image" alt="Image: Internal task" src="images/privacy/Image-How2.svg"/>
                </div>
              </div>
            </section>
            <!-- Tab 3 -->
            <section id="tab7">
              <div class="first__icons">
                <a href="#external-task" class="not-clickable">
                  <div class="sixth__icon-container">
                    <img class="sixth__icon" alt="Icon: External Task" src="images/privacy/paper-plane-outline.svg"/>
                    <p class="sixth__icon-text">{{ site.data[page.lang]['privacy_operations']['external_task'] }}</p>
                  </div>
                </a>
                <div class="border-bottom-purple"></div>
              </div>
              <div class="mt-5 tabs3__content w-100">
                <h3 class="sixth__title mt-5">{{ site.data[page.lang]['privacy_operations']['external_task'] }}</h3>
                <p class="sixth__subtitle">{{ site.data[page.lang]['privacy_operations']['easily_send_requests'] }}</p>
                <div class="d-flex justify-content-center w-100 mt-5">
                  <img class="image-style sixth__image" alt="Image: External task" src="images/privacy/Image-How2.svg"/>
                </div>
              </div>
            </section>
            <!-- Tab 4 -->
            <section id="tab8">
              <div class="first__icons">
                <a href="#send-file" class="not-clickable">
                  <div class="sixth__icon-container">
                    <img class="sixth__icon" alt="Icon: Send Files" src="images/privacy/check-secure.svg"/>
                    <p class="sixth__icon-text">{{ site.data[page.lang]['privacy_operations']['send_files'] }}</p>
                  </div>
                </a>
                <div class="border-bottom-purple"></div>
              </div>
              <div class="mt-5 tabs3__content w-100">
                <h3 class="sixth__title mt-5">{{ site.data[page.lang]['privacy_operations']['send_files'] }}</h3>
                <p class="sixth__subtitle">{{ site.data[page.lang]['privacy_operations']['once_you_gather'] }}</p>
                <div class="d-flex justify-content-center w-100 mt-5">
                  <img class="image-style sixth__image" alt="Image: Send Files" src="images/privacy/Image-How4.svg"/>
                </div>
              </div>
            </section>
            <div class="sixth__dotted-line2"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="bg-white pt-5">
      <div class="container">
        <h2 class="header__title mt-5 text-center mx-auto">{{ site.data[page.lang]['privacy_operations']['how_to_handle'] }}</h2>
        <div class="row pt-5 column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <img class="image-style my-4" alt="Image: Data Subjects Requests" src="images/privacy/data-subject-requests.svg"/>
          </div>
          <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
            <div>
              <p class="comply__title mt-5">{{ site.data[page.lang]['privacy_operations']['data_subject_requests'] }}</p>
              <p class="comply__subtitle">{{ site.data[page.lang]['privacy_operations']['more_likely_than'] }}</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
          <img class="comply__direction-image" alt="Image: Direction One Way" src="images/privacy/one-way-line.svg"/>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
            <div>
              <p class="comply__title mt-5">{{ site.data[page.lang]['privacy_operations']['your_legal_obligations'] }}</p>
              <p class="comply__subtitle">{{ site.data[page.lang]['privacy_operations']['all_requests_are'] }}</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="image-style my-4" alt="Image: Data Subjects Requests" src="images/privacy/your-business-obligations.svg"/>
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
          <img class="comply__direction-image" alt="Image: Direction One Way" src="images/privacy/two-way-line.svg"/>
        </div>
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <img class="image-style my-4" alt="Image: Data Subjects Requests" src="images/privacy/data-processors-role.svg"/>
          </div>
          <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center">
            <div>
              <p class="comply__title mt-5">{{ site.data[page.lang]['privacy_operations']['data_processors_role'] }}</p>
              <p class="comply__subtitle">{{ site.data[page.lang]['privacy_operations']['data_subject_requests_encompass'] }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    <div class="bg-white pt-5">
      <div class="d-flex flex-column justify-content-center align-items-center text-center">
        <h2 class="header__title mt-5 text-center">{{ site.data[page.lang]['privacy_operations']['stop_wasting_resources'] }}</h2>
        <p class="header__subtitle text-center mt-4">{{ site.data[page.lang]['privacy_operations']['an_average_company'] }}</p>
      </div>
      <div class="bg-light-gray py-5 my-5">
        <div class="container">
          <img class="image-style m-3" alt="Image: Privacy Requests" src="images/privacy/data-requests-flow.svg"/>
        </div>
      </div>
    </div>
    <div class="bg-white pt-5">
      <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
          <h2 class="header__title mt-5 text-center">{{ site.data[page.lang]['privacy_operations']['take_control_of'] }}</h2>
          <p class="header__subtitle text-center mt-4 mb-5">{{ site.data[page.lang]['privacy_operations']['legalsite_gives_you'] }}</p>
          <img class="image-style m-3" alt="Image: Privacy Requests" src="images/privacy/privacy-flow.svg"/>
        </div>
      </div>
    </div>
    <!-- Sixth Section -->
    <div class="landing">
      <div class="bg-white section-medium overflow-x-scroll px-3 reset">
        <h2 class="header__title text-center my-5 mx-auto">{{ site.data[page.lang]['privacy_operations']['the_complete_compliance'] }}</h2>
        <div class="tabs container mt-5">
          <!-- Tab 1 -->
          <section id="tab1">
            <div class="first__icons">
              <a href="#easy-and-fast" class="not-clickable icons-container reset-active2 -is-active">
                <img class="first__icon" alt="Icon: Easy and Fast" src="images/features/bolt-icon.svg"/>
                <p class="first__icons-text">{{ site.data[page.lang]['privacy_operations']['easy_and_fast'] }}</p>
              </a>
              <div class="border-bottom-purple"></div>
            </div>
            <div class="row mt-5 tabs__content first-show-tab2 -show bg-white">
              <div class="col-md-6 col-sm-12 justify-content-center d-flex flex-column my-4 p-2 bg-white">
                <h3 class="first__title">{{ site.data[page.lang]['privacy_operations']['easy_and_fast'] }}</h3>
                <p class="first__subtitle mt-3">{{ site.data[page.lang]['privacy_operations']['easily_navigate'] }} </p>
                <a class="button btn-purple-lg mt-5 mb-5" href="pricing.html">
                  {{ site.data[page.lang]['privacy_operations']['get_started'] }}
                </a>
              </div>
              <div class="col-md-6 col-sm-12 bg-white">
                <img class="image-style" alt="Image: Easy and Fast" src="images/features/Image-Dashboard-1.svg"/>
              </div>
            </div>
          </section>
          <!-- Tab 2 -->
          <section id="tab2">
            <div class="first__icons">
              <a href="#always-up-to-date" class="not-clickable icons-container">
                <img class="first__icon" alt="Icon: Always up-to-date" src="images/features/file-check.svg"/>
                <p class="first__icons-text">{{ site.data[page.lang]['privacy_operations']['always_up_to'] }}</p>
              </a>
              <div class="border-bottom-purple"></div>
            </div>
            <div class="row mt-5 tabs__content bg-white">
              <div class="col-md-6 col-sm-12 justify-content-center d-flex flex-column my-4 p-2">
                <h3 class="first__title">{{ site.data[page.lang]['privacy_operations']['always_up_to'] }}</h3>
                <p class="first__subtitle mt-3">{{ site.data[page.lang]['privacy_operations']['global_privacy'] }} </p>
                <a class="button btn-purple-lg mb-5" href="https://app.legalsite.co/signup">
                  {{ site.data[page.lang]['privacy_operations']['get_started'] }}
                </a>
              </div>
              <div class="col-md-6 col-sm-12 bg-white">
                <img class="image-style" alt="Image: Always up-to-date" src="images/features/Image-Dashboard-2.svg"/>
              </div>
            </div>
          </section>
          <!-- Tab 3 -->
          <section id="tab3">
            <div class="first__icons">
              <a href="#all-in-one-solution" class="not-clickable icons-container">
                <img class="first__icon" alt="Icon: Comprehensive" src="images/features/check-circle.svg"/>
                <p class="first__icons-text">{{ site.data[page.lang]['privacy_operations']['comprehensive'] }}</p>
              </a>
              <div class="border-bottom-purple"></div>
            </div>
            <div class="row mt-5 tabs__content bg-white">
              <div class="col-md-6 col-sm-12 justify-content-center d-flex flex-column my-4 p-2">
                <h3 class="first__title">{{ site.data[page.lang]['privacy_operations']['comprehensive'] }}</h3>
                <p class="first__subtitle mt-3">{{ site.data[page.lang]['privacy_operations']['legalsite_includes'] }} </p>
                <a class="button btn-purple-lg mt-5 mb-5" href="pricing.html">
                  {{ site.data[page.lang]['privacy_operations']['get_started'] }}
                </a>
              </div>
              <div class="col-md-6 col-sm-12 bg-white pb-4">
                <img class="image-style" alt="Image: All in one solution" src="images/features/Image-Dashboard-3.svg"/>
              </div>
            </div>
          </section>
          <!-- Tab 4 -->
          <section id="tab4">
            <div class="first__icons">
              <a href="#no-coding-required" class="not-clickable icons-container">
                <img class="first__icon" alt="Icon: No code required" src="images/features/code.svg"/>
                <p class="first__icons-text">{{ site.data[page.lang]['privacy_operations']['no_code_required'] }}</p>
              </a>
              <div class="border-bottom-purple"></div>
            </div>
            <div class="row mt-5 tabs__content bg-white">
              <div class="col-md-6 col-sm-12 justify-content-center d-flex flex-column my-4 p-2">
                <h3 class="first__title">{{ site.data[page.lang]['privacy_operations']['no_code_required'] }}</h3>
                <p class="first__subtitle mt-3">{{ site.data[page.lang]['privacy_operations']['legalsite_helps_you'] }}</p>
                <a class="button btn-purple-lg mt-5 mb-5" href="https://app.legalsite.co/signup">
                  {{ site.data[page.lang]['privacy_operations']['get_started'] }}
                </a>
              </div>
              <div class="col-md-6 col-sm-12 bg-white">
                <img class="image-style" alt="Image: No coding required" src="images/features/Image-Dashboard-4.svg"/>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- Seventh Section -->
    <div class="bg-light-gray py-5 d-flex justify-content-center align-items-center reset2">
      <div class="container bg-white ninth__box">
        <div class="ninth__top-bar"></div>
        <div class="row px-3 ninth__content">
          <div class="col-md-5 col-sm-12 d-flex justify-content-center">
            <img class="ninth__image" alt="Image: Checklist" src="images/features/image-shield.png" srcset="images/features/image-shield.png 2x, images/features/image-shield.png 3x" />
          </div>
          <div class="col-md-6 col-sm-12 d-flex flex-column align-items-center">
            <h2 class="ninth__title">{{ site.data[page.lang]['legal_pages']['startup_launch'] }}: {{ site.data[page.lang]['legal_pages']['legal_checklist'] }}</h2>
            <p class="ninth__subtitle">{{ site.data[page.lang]['privacy_operations']['getting_ready_to'] }}</p>
            <a class="button btn-purple-lg mt-3" href="checklist.html">
              {{ site.data[page.lang]['privacy_operations']['download_now'] }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Eight Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    $('.not-clickable').click(function(event) {
      event.preventDefault();
    });

    $('.sixth__icon-container').mouseover(function() {
      $('.sixth__icon-container').removeClass('-is-active');
      $('.tabs3__content').removeClass('-show');
      $(this).addClass('-is-active');
      $(this).parent().parent().siblings().addClass('-show');
    });

    $('.icons-container').mouseover(function() {
      $('.icons-container').removeClass('-is-active');
      $('.tabs__content').removeClass('-show');
      $(this).addClass('-is-active');
      $(this).parent().siblings().addClass('-show');
    });

    $('.reset').mouseover(function() {
      $('.sixth__icon-container').removeClass('-is-active');
      $('.tabs3__content').removeClass('-show');
      $('.first-show-tab').addClass('-show');
      $('.reset-active').addClass('-is-active');
    });

    $('.reset2').mouseover(function() {
      $('.icons-container').removeClass('-is-active');
      $('.tabs__content').removeClass('-show');
      $('.first-show-tab2').addClass('-show');
      $('.reset-active2').addClass('-is-active');
    });
  </script>
</body>