<body>
  <header class="features-header">
    <img src="/images/scale.svg" class="position-absolute scale" alt="" />
    <img src="/images/cart.svg" class="position-absolute cart" alt="" />
    <img src="/images/stars.svg" class="position-absolute stars" alt="" />
    <img src="/images/percentage.svg" class="position-absolute percentage" alt="" />
    <img src="/images/world.svg" class="position-absolute world" alt="" />
    <img src="/images/chart.svg" class="position-absolute chart" alt="" />
    {% include navigation.html %}

    <div class="features-header__content -is-solution container d-flex flex-column">
      <div class="features-header__nav">
        <div class="features-header__nav-item -active">
          {{ site.data[page.lang]['product_catalog']['product_catalog'] }}
        </div>
        <a class="features-header__nav-item" href="customer-service.html">{{ site.data[page.lang]['product_catalog']['customer_service'] }}</a>
        <a class="features-header__nav-item" href="marketing.html">{{ site.data[page.lang]['product_catalog']['marketing'] }}</a>
      </div>
      <h1 class="features-header__content-title">{{ site.data[page.lang]['product_catalog']['boost_your'] }}</h1>
      <p class="features-header__content-text mb-4 darker-grey">{{ site.data[page.lang]['product_catalog']['break_into'] }}</p>
      <a href="https://calendly.com/tolq" class="mx-auto mt-2">
        <button class="btn-initial btn-blue">{{ site.data[page.lang]['product_catalog']['book_a_demo'] }}</button>
      </a>
    </div>
  </header>

  <section class="customer-connect">
    <div class="container">
      <div class="row customer-apps__row -reverse mb-5" id="video20">
        <div class="col-lg customer-apps__col">
          <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['connect_your'] }}</h3>
          <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['use_zapier'] }}</p>
        </div>

        <div class="col-lg customer-apps__col">
          <div id="video21">
            <lottie-player id="lottie20" src="https://assets7.lottiefiles.com/private_files/lf30_PVzyXR.json" background="transparent"  speed="1"></lottie-player>
          </div>
        </div>
      </div>

      <div class="row customer-apps__row pt-5 mb-5" id="video12">
        <div class="col-lg customer-apps__col">
          <div id="video1">
            <lottie-player id="lottie1" src="https://assets4.lottiefiles.com/private_files/lf30_RVJTLU.json" background="transparent"  speed="1"></lottie-player>
          </div>
        </div>

        <div class="col-lg customer-apps__col">
          <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['integrate_with'] }}</h3>
          <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['keep_all_of'] }}</p>
        </div>
      </div>

      <div class="row customer-apps__row -reverse pt-5" id="video13">
        <div class="col-lg customer-apps__col">
          <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['translate_products'] }}</h3>
          <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['do_you_keep'] }} </p>
        </div>

        <div class="col-lg customer-apps__col">
          <div id="video2">
            <lottie-player id="lottie" src="https://assets10.lottiefiles.com/private_files/lf30_v4G79o.json" background="transparent"  speed="1"></lottie-player>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="customer-provider container">
    <h2 class="customer-provider__title">{{ site.data[page.lang]['product_catalog']['improve_your'] }}</h2>


    <div class="d-flex align-items-center customer-provider__slide">
      <div class="customer-provider__nav">
        <p class="first slide-active d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['human_ai'] }} <img src="/images/arrow.svg" alt="" />
        </p>
        <p class="second d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['translation_memory'] }} <img src="/images/arrow.svg" alt="" /></p>
        <p class="third d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['glossary'] }} <img src="/images/arrow.svg" alt="" /></p>
        <p class="fourth d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['tone_of_voice'] }} <img src="/images/arrow.svg" alt="" /></p>
        <p class="fifth d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['mixed_proficiencies'] }} <img src="/images/arrow.svg" alt="" /></p>
        <p class="sixth d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['quick_turnaround'] }} <img src="/images/arrow.svg" alt="" /></p>
        <p class="seventh d-flex justify-content-between">{{ site.data[page.lang]['product_catalog']['quality_check'] }} <img src="/images/arrow.svg" alt="" /></p>
      </div>

      <div class="my-slider">
        <div>
          <div class="d-flex customer-provider__nav-content">
            <div class="customer-provider__nav-text">
              <p>{{ site.data[page.lang]['product_catalog']['human_ai'] }}</p>
              <p>{{ site.data[page.lang]['product_catalog']['tolqs_human_powered'] }}</p>
            </div>
            <img class="w-100" src="/images/human.svg" alt="" />
          </div>
        </div>

        <div>
          <div class="d-flex customer-provider__nav-content">
            <div class="customer-provider__nav-text">
              <p>{{ site.data[page.lang]['product_catalog']['translation_memory'] }}</p>
              <p>{{ site.data[page.lang]['product_catalog']['the_more_translations'] }}</p>
            </div>
            <img class="w-100" src="/images/TM.svg" alt="" />
          </div>
        </div>

        <div>
          <div class="d-flex customer-provider__nav-content">
            <div class="customer-provider__nav-text">
              <p>{{ site.data[page.lang]['product_catalog']['glossary'] }}</p>
              <p>{{ site.data[page.lang]['product_catalog']['instruct_your'] }}</p>
            </div>
            <img class="w-100" src="/images/gloss.svg" alt="" />
          </div>
        </div>

        <div>
          <div class="d-flex customer-provider__nav-content">
            <div class="customer-provider__nav-text">
              <p>{{ site.data[page.lang]['product_catalog']['tone_of_voice'] }}</p>
              <p>{{ site.data[page.lang]['product_catalog']['let_your_brand'] }}</p>
            </div>
            <img class="w-100" src="/images/tone.svg" alt="" />
          </div>
        </div>

        <div>
          <div class="d-flex customer-provider__nav-content">
            <div class="customer-provider__nav-text">
              <p>{{ site.data[page.lang]['product_catalog']['mixed_proficiencies'] }}</p>
              <p>{{ site.data[page.lang]['product_catalog']['want_to_save'] }}</p>
            </div>
            <img class="w-100" src="/images/mixed2.svg" alt="" />
          </div>
        </div>

        <div>
          <div class="d-flex customer-provider__nav-content">
            <div class="customer-provider__nav-text">
              <p>{{ site.data[page.lang]['product_catalog']['quick_turnaround_times'] }}</p>
              <p>{{ site.data[page.lang]['product_catalog']['tolq_offers_fast'] }}</p>
            </div>
            <img class="w-100" src="/images/tolq.svg" alt="" />
          </div>
        </div>

        <div>
          <div class="d-flex customer-provider__nav-content">
            <div class="customer-provider__nav-text">
              <p>{{ site.data[page.lang]['product_catalog']['quality_check'] }}</p>
              <p>{{ site.data[page.lang]['product_catalog']['translators_are'] }}</p>
            </div>
            <img class="w-100" src="/images/qc.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="customer-provider__mobile">
      <div class="row customer-apps__row -reverse">
        <div class="col-lg customer-apps__col">
          <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['human_ai'] }}</h3>
          <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['tolqs_human_powered'] }}</p>
        </div>

        <div class="col-lg customer-apps__col">
          <img src="/images/human.svg" alt="" />
        </div>
      </div>

      <div class="row customer-apps__row -reverse">
        <div class="col-lg customer-apps__col">
          <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['translation_memory'] }}</h3>
          <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['the_more_translations'] }}</p>
        </div>

        <div class="col-lg customer-apps__col">
          <img src="/images/TM.svg" alt="" />
        </div>
      </div>

      <div class="row customer-apps__row -reverse">
        <div class="col-lg customer-apps__col">
          <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['glossary'] }}</h3>
          <p class="customer-apps__col-text darker-grey mb-5">{{ site.data[page.lang]['product_catalog']['instruct_your'] }}</p>
        </div>

        <div class="col-lg customer-apps__col mb-5">
          <img src="/images/gloss.svg" alt="" />
        </div>
      </div>

      <div class="row customer-apps__row -reverse">
        <div class="col-lg customer-apps__col">
          <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['tone_of_voice'] }}</h3>
          <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['let_your_brand'] }}</p>
        </div>

        <div class="col-lg customer-apps__col mb-5">
          <img src="/images/tone.svg" alt="" />
        </div>
      </div>

      <div class="row customer-apps__row -reverse">
        <div class="col-lg customer-apps__col">
          <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['mixed_proficiencies'] }}</h3>
          <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['want_to_save'] }}</p>
        </div>

        <div class="col-lg customer-apps__col">
          <img src="/images/mixed2.svg" alt="" />
        </div>
      </div>

      <div class="row customer-apps__row -reverse">
        <div class="col-lg customer-apps__col">
          <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['quick_turnaround_times'] }}</h3>
          <p class="customer-apps__col-text darker-grey mb-5">{{ site.data[page.lang]['product_catalog']['tolq_offers_fast'] }}</p>
        </div>

        <div class="col-lg customer-apps__col">
          <img src="/images/tolq.svg" alt="" />
        </div>
      </div>

      <div class="row customer-apps__row -reverse">
        <div class="col-lg customer-apps__col">
          <h3 class="customer-apps__col-title">{{ site.data[page.lang]['product_catalog']['quality_check'] }}</h3>
          <p class="customer-apps__col-text darker-grey">{{ site.data[page.lang]['product_catalog']['translators_are'] }}</p>
        </div>

        <div class="col-lg customer-apps__col">
          <img src="/images/qc.svg" alt="" />
        </div>
      </div>
    </div>
  </section>

  <section class="customer-apps">
    <div class="">
      <h2 class="customer-provider__title mt-0 mb-3 container">{{ site.data[page.lang]['product_catalog']['integrate_with_your'] }}</h2>
      <p class="features-header__content-text mb-4 darker-grey container">{{ site.data[page.lang]['product_catalog']['make_your'] }}</p>

      <div class="tech-slideshow">
        <div class="slideshow-brands">
          <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
            <img class="protect__logos" src="/images/ebay.svg" />
            <img class="protect__logos" src="/images/amazon.svg" />
            <img class="protect__logos" src="/images/woo.svg" />
            <img class="protect__logos" src="/images/gumroad.svg" />
            <img class="protect__logos" src="/images/office 2.svg" />
            <img class="protect__logos" src="/images/magento.svg" />
            <img class="protect__logos" src="/images/shopify.svg" />
            <img class="protect__logos" src="/images/zendesk.svg" />
            <img class="protect__logos" src="/images/ebay.svg" />
            <img class="protect__logos" src="/images/amazon.svg" />
            <img class="protect__logos" src="/images/woo.svg" />
            <img class="protect__logos" src="/images/gumroad.svg" />
            <img class="protect__logos" src="/images/office 2.svg" />
            <img class="protect__logos" src="/images/magento.svg" />
            <img class="protect__logos" src="/images/shopify.svg" />
            <img class="protect__logos" src="/images/zendesk.svg" />
            <img class="protect__logos"
              src="/images/ebay.svg" />
            <img class="protect__logos" src="/images/amazon.svg" />
            <img class="protect__logos" src="/images/woo.svg" />
            <img class="protect__logos" src="/images/gumroad.svg" />
            <img class="protect__logos" src="/images/office 2.svg" />
            <img class="protect__logos" src="/images/magento.svg" />
            <img class="protect__logos" src="/images/shopify.svg" />
            <img class="protect__logos" src="/images/zendesk.svg" />

          </div>
          <div class="second-slideshow">
            <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
              <img class="protect__logos" src="/images/magento.svg" />
              <img class="protect__logos" src="/images/shopify.svg" />
              <img class="protect__logos" src="/images/kajabi.svg" />
              <img class="protect__logos" src="/images/zendesk.svg" />
              <img class="protect__logos" src="/images/zapier.svg" />
              <img class="protect__logos" src="/images/docs.svg" />
              <img class="protect__logos" src="/images/doors.svg" />
              <img class="protect__logos" src="/images/woo.svg" />
              <img class="protect__logos" src="/images/magento.svg" />
              <img class="protect__logos" src="/images/shopify.svg" />
              <img class="protect__logos" src="/images/kajabi.svg" />
              <img class="protect__logos" src="/images/zendesk.svg" />
              <img class="protect__logos" src="/images/zapier.svg" />
              <img class="protect__logos" src="/images/docs.svg" />
              <img class="protect__logos" src="/images/doors.svg" />
              <img class="protect__logos" src="/images/woo.svg" />
              <img class="protect__logos" src="/images/magento.svg" />
              <img class="protect__logos" src="/images/shopify.svg" />
              <img class="protect__logos" src="/images/kajabi.svg" />
              <img class="protect__logos" src="/images/zendesk.svg" />
              <img class="protect__logos" src="/images/zapier.svg" />
              <img class="protect__logos" src="/images/docs.svg" />
              <img class="protect__logos" src="/images/doors.svg" />
              <img class="protect__logos" src="/images/woo.svg" />

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features-show container">
    <div class="row customer-apps__row">
      <div class="d-flex justify-content-between w-100 customer-apps__action">
        <div class="d-flex flex-column customer-apps__see">
          <p>{{ site.data[page.lang]['product_catalog']['see_tolq_in'] }}</p>
          <p>{{ site.data[page.lang]['product_catalog']['learn_what_tolq'] }}</p>
          <a href="https://calendly.com/tolq">
            <button class="btn-initial btn-blue">{{ site.data[page.lang]['product_catalog']['book_a_demo'] }}</button>
          </a>
        </div>


        <div class="wrapper">
          <div class="line"></div>
          <div class="wordwrapper">
            <div class="word">{{ site.data[page.lang]['product_catalog']['or'] }}</div>
          </div>

        </div>
        <div class="d-flex flex-column customer-apps__see">
          <p>{{ site.data[page.lang]['product_catalog']['contact'] }}</p>
          <p>{{ site.data[page.lang]['product_catalog']['dont_you_see'] }}</p>
          <a href="contact.html">
            <button class="btn-initial btn-outline">{{ site.data[page.lang]['product_catalog']['contact_us'] }}</button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="-is-gray">
    {% include footer.html %}
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  {% include snippets.html %}
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script>
  $(document).ready(function () {
    $('.index-partners__tabs-title').on('click', function () {
      $('.index-partners__tabs-title').removeClass('-is-selected');
      $('.index-partners__tabs-text').removeClass('-is-visible');
      $('.index-partners__tabs-border').removeClass('-selected');

      if ($(this).hasClass('-is-selected') && $(this).siblings().hasClass('-is-visible') && $(this).parent()
        .parent().next().hasClass('-selected')) {
        return;
      }
      $(this).addClass('-is-selected');
      $(this).siblings().addClass('-is-visible');
      $(this).parent().parent().next().addClass('-selected')
    });

    $('.index-enterprise__col').mouseover(function (e) {
      $('.index-enterprise__col').removeClass('-is-active')
      if ($(this).hasClass('-is-active')) {
        return;
      }
      $(this).addClass('-is-active');
    });

    $('.translators-financial__col').mouseover(function (e) {
      $('.translators-financial__col').removeClass('-is-active')
      if ($(this).hasClass('-is-active')) {
        return;
      }
      $(this).addClass('-is-active');
    });
  });
</script>

<script>
  var slider = tns({
    container: '.my-slider',
    items: 1,
    controls: false,
    mode: 'gallery',
    speed: 0,
    responsive: {
      900: {
        items: 1
      }
    }
  });

  var info = slider.getInfo(),
    indexPrev = info.indexCached,
    indexCurrent = info.index;

  $('.first').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(0);
      $(this).addClass('slide-active');
    },
});

$('.second').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(1);
      $(this).addClass('slide-active');
    },
});

$('.third').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(2);
      $(this).addClass('slide-active');
    },
});

$('.fourth').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(3);
      $(this).addClass('slide-active');
    },
});

$('.fifth').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(4);
      $(this).addClass('slide-active');
    },
});

$('.sixth').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(5);
      $(this).addClass('slide-active');
    },
});

$('.seventh').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(6);
      $(this).addClass('slide-active');
    },
});

$('.eight').on({
    mouseenter: function () {
      $('.slide-active').removeClass('slide-active');
      slider.goTo(7);
      $(this).addClass('slide-active');
    },
});

$("button[data-nav='0']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(0);
      $('.first').addClass('slide-active');
});

$("button[data-nav='1']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(1);
      $('.second').addClass('slide-active');
});
$("button[data-nav='2']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(2);
      $('.third').addClass('slide-active');
});
$("button[data-nav='3']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(3);
      $('.fourth').addClass('slide-active');
});
$("button[data-nav='4']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(4);
      $('.fifth').addClass('slide-active');
});
$("button[data-nav='5']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(5);
      $('.sixth').addClass('slide-active');
});
$("button[data-nav='6']").click(function(){
  $('.slide-active').removeClass('slide-active');
      slider.goTo(6);
      $('.seventh').addClass('slide-active');
});
</script>

<script>
  var video20 = document.getElementById('video20'), fraction = 0.6;
  var video21 = document.getElementById('video21');

  function checkScroll() {
    var x = video20.offsetLeft, y = video20.offsetTop, w = video20.offsetWidth, h = video20.offsetHeight, r = x + w, //right
    b = y + h, //bottom
    visibleX, visibleY, visible;

    visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
    visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));

    visible = visibleX * visibleY / (w * h);

    const player = document.getElementById('lottie20'),
        lottie = player.getLottie();

    if (visible > fraction) {
      lottie.loop = true;
      lottie.play();
    } else {
      lottie.stop();
    }
  }

  checkScroll();
  window.addEventListener('scroll', checkScroll, false);
  window.addEventListener('resize', checkScroll, false);
</script>

<script>
  var video = document.getElementById('video12'), fraction = 0.6;
  var video1 = document.getElementById('video1');

  function checkScroll() {
    var x = video.offsetLeft, y = video.offsetTop, w = video.offsetWidth, h = video.offsetHeight, r = x + w, //right
    b = y + h, //bottom
    visibleX, visibleY, visible;

    visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
    visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));

    visible = visibleX * visibleY / (w * h);

    const player = document.getElementById('lottie1'),
        lottie = player.getLottie();

    if (visible > fraction) {
      lottie.loop = true;
      lottie.play();
    } else {
      lottie.stop();
    }
  }

  checkScroll();
  window.addEventListener('scroll', checkScroll, false);
  window.addEventListener('resize', checkScroll, false);
</script>

<script>
  var video13 = document.getElementById('video13'), fraction = 0.6;
  var video2 = document.getElementById('video2');

  function checkScroll() {
    var x = video13.offsetLeft, y = video13.offsetTop, w = video13.offsetWidth, h = video13.offsetHeight, r = x + w, //right
    b = y + h, //bottom
    visibleX, visibleY, visible;

    visibleX = Math.max(0, Math.min(w, window.pageXOffset + window.innerWidth - x, r - window.pageXOffset));
    visibleY = Math.max(0, Math.min(h, window.pageYOffset + window.innerHeight - y, b - window.pageYOffset));

    visible = visibleX * visibleY / (w * h);

    const player = document.getElementById('lottie'),
        lottie = player.getLottie();

    if (visible > fraction) {
      lottie.loop = true;
      lottie.play();
    } else {
      lottie.stop();
    }
  }

  checkScroll();
  window.addEventListener('scroll', checkScroll, false);
  window.addEventListener('resize', checkScroll, false);
</script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5626357.js"></script>
<!-- End of HubSpot Embed Code -->

</html>