<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content mb-5">
      <div class="header__bg-source-code">
        <img class="header__shape-top" src="/images/recovery/recovery-top.webp" alt="Background Image"/>
        <img class="header__shape-bottom" src="/images/recovery/recovery-bottom.webp" alt="Background Image"/>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <p class="header__info">{{ site.data[page.lang]['recovery']['software'] }}</p>
              <h1 class="header__title text-align-start mt-4">{{ site.data[page.lang]['recovery']['ready_for_recovery'] }}</h1>
              <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['recovery']['when_your'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12 content-center flex-column">
              <img class="image-style mw-530" src="/images/recovery/header-recovery.webp" alt="Header Image"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="how-works__box">
        <div class="how-works__box-container">
          <div class="how-works__box-content">
            <p class="how-works__box-title">{{ site.data[page.lang]['recovery']['how_does'] }}</p>
            <p class="how-works__box-subtitle">{{ site.data[page.lang]['recovery']['its_a_simple'] }}</p>
            <img class="how-works__box-steps mt-4" src="/images/recovery/steps-recovery.svg" alt="Image"/>
            <div class="d-flex mt-2">
              <p class="how-works__box-text">{{ site.data[page.lang]['recovery']['store'] }}</p>
              <p class="how-works__box-text">{{ site.data[page.lang]['recovery']['release'] }}</p>
              <p class="how-works__box-text">{{ site.data[page.lang]['recovery']['redeploy'] }}</p>
            </div>
          </div>
          <div class="how-works__box-bg">
            <img class="image-style mw-530" src="/images/recovery/recovery-how.webp" alt="Image"/>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-large pb-0">
      <p class="header__info text-center"><img class="mr-2 mb-1" src="/images/software-escrow/icons/ready-for-recovery.svg"/>{{ site.data[page.lang]['software_escrow']['ready_for_recovery'] }}</p>
      <p class="information__main-title mb-4 mw-900 mx-auto pb-5">{{ site.data[page.lang]['continuity']['who_does_what'] }}</p>
      <div class="table-responsive">
        <table class="table my-5">
          <thead>
            <tr>
              <th scope="col" class="difference__table-title border-none break-spaces">{{ site.data[page.lang]['continuity']['role_responsabilities'] }}</th>
              <th scope="col" class="difference__table-recovery border-none text-center break-spaces px-5">{{ site.data[page.lang]['continuity']['depositor'] }}</th>
              <th scope="col" class="difference__table-ck border-none text-center break-spaces px-5">Codekeeper</th>
              <th scope="col" class="difference__table-continuity border-none text-center break-spaces px-5">{{ site.data[page.lang]['continuity']['beneficiary'] }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white">
              <th class="difference__table-text border-none break-spaces fw-light" scope="row"><strong class="fw-bold">{{ site.data[page.lang]['continuity']['prepare_deposit_materials'] }}</strong>: {{ site.data[page.lang]['continuity']['source_code_data'] }}</th>
              <td class="text-center pt-4 border-none bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
              <td class="text-center pt-4 border-none bg-recovery">-</td>
              <td class="text-center pt-4 border-none bg-recovery">-</td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['continuity']['take_deposit'] }}</th>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
              <td class="text-center pt-4 bg-recovery">-</td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['continuity']['update_deposited'] }}</th>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery">-</td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['continuity']['store_updated'] }}</th>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
              <td class="text-center pt-4 bg-recovery">-</td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['recovery']['request_release'] }}</th>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['continuity']['release_conditions'] }}</th>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
              <td class="text-center pt-4 bg-recovery">-</td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['continuity']['release_materials'] }}</th>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
              <td class="text-center pt-4 bg-recovery">-</td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['recovery']['receive_released'] }}</th>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['recovery']['redeploy_materials'] }}</th>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['recovery']['support_redeployment'] }}</th>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
              <td class="text-center pt-4 bg-recovery">-</td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['recovery']['protect_hosting'] }}</th>
              <td class="text-center pt-4 bg-recovery">-</td>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg"/></td>
              <td class="text-center pt-4 bg-recovery">-</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="software-escrow section-large">
      <div class="framework__bg">
        <p class="header__info text-center"><img class="mr-2 mb-1" src="/images/software-escrow/icons/ready-for-recovery.svg"/>{{ site.data[page.lang]['software_escrow']['ready_for_recovery'] }}</p>
        <p class="information__main-title mb-4">{{ site.data[page.lang]['recovery']['recovery_support'] }}</p>
      </div>

      <div class="container section-medium pb-0">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <img class="information__image content-center mt-5" src="/images/recovery/recovery-ready.webp"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="information__title">{{ site.data[page.lang]['recovery']['ready_to_help'] }}</p>
            <p class="information__subtitle">{{ site.data[page.lang]['recovery']['codekeeper_has'] }}</p>
          </div>
        </div>
        <div class="row py-5 column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <p class="information__title text-align-end">{{ site.data[page.lang]['recovery']['recovery_heroes'] }}</p>
            <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['recovery']['internally_we'] }}: {{ site.data[page.lang]['recovery']['redeploy_maintenance'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12 content-center">
            <img class="information__image mt-5" src="/images/recovery/recovery-heroes.webp"/>
          </div>
        </div>
        
      </div>
    </div>

    <div class="software-escrow section-large bg-azure-blue mb-100">
      <p class="header__info text-center"><img class="mr-2 mb-1" src="/images/software-escrow/icons/ready-for-recovery.svg"/>{{ site.data[page.lang]['software_escrow']['ready_for_recovery'] }}</p>
      <p class="information__main-title mb-4">{{ site.data[page.lang]['recovery']['software_escrow'] }}</p>
      <img class="mw-260 mt-5 mx-auto d-block" src="/images/software-escrow/protect-image.webp"/>
      <div class="more-about__bg-shape"></div>
      <div class="container mt-negative-180">
        <div class="row pt-5">
          <div class="col-md-4 col-sm-12 content-center">
            <div class="more-about__box mt-4">
              <img class="more-about__icon" src="/images/recovery/icons/protect.svg"/>
              <p class="more-about__title">{{ site.data[page.lang]['recovery']['protect_critical'] }}</p>
              <p class="more-about__subtitle">{{ site.data[page.lang]['recovery']['automated_deposit'] }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 content-center">
            <div class="more-about__box mt-4">
              <img class="more-about__icon" src="/images/recovery/icons/easy.svg"/>
              <p class="more-about__title">{{ site.data[page.lang]['recovery']['easy_escrow'] }}</p>
              <p class="more-about__subtitle">{{ site.data[page.lang]['recovery']['the_central'] }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 content-center">
            <div class="more-about__box mt-4">
              <img class="more-about__icon" src="/images/recovery/icons/quick.svg"/>
              <p class="more-about__title">{{ site.data[page.lang]['recovery']['quick'] }}</p>
              <p class="more-about__subtitle">{{ site.data[page.lang]['recovery']['quick_recovery'] }}</p>
            </div>
          </div>
        </div>
        <a class="button btn-cerulean3 software-escrow-href mx-auto mt-5" href="software-escrow.html">
          {{ site.data[page.lang]['solutions']['more_about_software'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i>
        </a>
      </div>
    </div> 

    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $('#questions').hide();
    $('#hide').hide();

    $(".openLines").click(function(){      
        if ($('#hide').is(":visible")) {
          $('#hide').hide();
          $('#show').show();
        }
        else {
          $('#show').hide();
          $('#hide').show();
        }
        $('#questions').toggle(300);
        //  $("div").toggle(300);
    });
  </script>

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    $( document ).ready(function() {
      $.ajax('https://ipapi.co/json')
      .then(
        function success(response) {
          if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
            $('.software-escrow-monthly').text('€89');
            $('.saas-escrow-monthly').text('€199');
          }
          else if (response.currency === 'GBP') {
            
            $('.software-escrow-monthly').text('£79');
            $('.saas-escrow-monthly').text('£149');
          }
          else if (response.currency === 'INR') {
            $('.software-escrow-monthly').text('₹6,995');
            $('.saas-escrow-monthly').text('₹12,500');
          }
          else if (response.currency === 'AUD') {
            $('.software-escrow-monthly').text('A$109');
            $('.saas-escrow-monthly').text('A$250');
          }

          else if (response.currency === 'SGD') {
            $('.software-escrow-monthly').text('$109');
            $('.saas-escrow-monthly').text('$249');
          }

          else if (response.currency === 'ZAR') {
            $('.software-escrow-monthly').text('R1,395');
            $('.saas-escrow-monthly').text('R2,799');
          }

          else if (response.currency === 'CHF') {
            $('.software-escrow-monthly').text('CHF89');
            $('.saas-escrow-monthly').text('CHF219');
          }

          else if (response.currency === 'CAD') {
            $('.software-escrow-monthly').text('CAD110');
            $('.saas-escrow-monthly').text('CAD249');
          }
        },
        function fail(data, status) {
            console.log('Request failed.  Returned status of',
                        status);
        }
      )
      .catch((e) => console.log(e))
    });
  </script>

  <script>
    $( document ).ready(function() {
      $('.open-chat').click(function(){

        window.HubSpotConversations.widget.open();
      });
    });
  </script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

  <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/5365877.js"></script> -->
  <!-- End of HubSpot Embed Code -->
</body>