<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="pricing bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="plan__header overflow-hidden"></div>
    <h1 class="plan__header-title mx-auto pb-200">Repository Backups Pricing</h1>
    <!-- Pricing Tabs -->
    {% include pricing-tabs.html %}
    <!-- Section -->
    <div class="resources">
      <div class="people-choose__bg pb-5 mt-150 min-h-300">
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-12 d-flex justify-content-end mobile-centered">
              <img class="image-style mw-260" src="/images/pricing-page/custom-plan.webp" alt="Custom Plan Image"/>
            </div>
            <div class="col-md-7 col-sm-12 mobile-centered">
              <p class="pricing-plan__custom-title"> {{ site.data[page.lang]['pricing']['custom_plan'] }}</p>
              <p class="pricing-plan__custom-subtitle"> {{ site.data[page.lang]['pricing_plan']['need_something'] }}</p>
              <p class="plan__text-tooltip mt-2 text-dark-cyan"><i class="fas fa-check text-bondi-blue mr-2"></i><span
                  class="tooltip-text">{{ site.data[page.lang]['pricing']['unlimited_escrow'] }}</span></p>
              <p class="plan__text-tooltip mt-2 text-dark-cyan"><i class="fas fa-check text-bondi-blue mr-2"></i><span
                  class="tooltip-text">{{ site.data[page.lang]['pricing']['fully_customized'] }}</span></p>
              <a class="button btn-bondi-blue2 text-uppercase my-4 contact-href" href="contact.html">
                {{ site.data[page.lang]['pricing']['contact_us'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="container section-medium">
      <div class="plan__divider"></div>
      <p class="protect__subtext mt-5">{{ site.data[page.lang]['pricing']['trusted_by'] }}</p>
      <!-- Slideshow Brands -->
      {% include slideshow-brands.html %}
    </div>
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
  <!-- Segment -->
  <script>
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
    analytics.load("kS7MfzQKC6q4Z256S4COmij9oHjObrrL");
    analytics.page();
    }}();
  </script>
  <!-- End Segment -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-100639203-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-100639203-1');
  </script>
  <!-- End of Google Analytics -->
  <script src="/js/geolocationPricing.js"></script>
  <script src="/js/pricingCheckout.js"></script>
</body>