<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="resources bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg pb-4">
        <div class="container">
          <p class="product__title mx-auto mt-4">{{ site.data[page.lang]['resources']['resources_guides'] }}</p>
          <div class="product__header-devider mx-auto"></div>
          <h1 class="header__title mx-auto mt-3">{{ site.data[page.lang]['resources']['discover_our_escrow'] }}</h1>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['resources']['arm_yourself'] }}</p>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white py-5">
      <div class="container">
        <div class="row column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/resources-page/guide-introduction.webp"/>
          </div>
          <div class="col-md-7 col-sm-12 d-flex align-items-center justify-content-center">
            <div>
              <p class="section__text mb-1 mt-5">{{ site.data[page.lang]['resources']['ebook'] }}</p>
              <h3 class="section__title">{{ site.data[page.lang]['resources']['introduction_to_software'] }}: {{ site.data[page.lang]['resources']['a_guide'] }}</h3>
              <p class="section__subtitle mt-4">{{ site.data[page.lang]['resources']['this_hands_on'] }} </p>
              <a class="button btn-cerulean mt-4 mb-5" data-toggle="modal" data-target="#exampleModal">
                {{ site.data[page.lang]['resources']['download_ebook'] }}
              </a>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-image-content p-0 pt-5">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                  </div>
                  <div class="section__modal-form p-0 ">
                    <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      portalId: "5365877",
                      formId: "31e6f358-0537-4c45-aa72-b9cc697f4a71"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div>
                  <!-- <div class="section__modal-form p-0 spanish-guide">
                    <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "179065e1-f3f9-46f4-81ec-efab51308dd7"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                  <!-- <div class="section__modal-form p-0 german-guide">
                    <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "047ec24f-67b1-43a8-a6b3-02f533758e95"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                  <!-- <div class="section__modal-form p-0 dutch-guide">
                    <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp"/>
                    
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "22833ac7-23a5-4725-95ea-71d25737ca21"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12 d-flex align-items-center justify-content-center">
            <div>
              <p class="section__text mb-1 mt-5">{{ site.data[page.lang]['resources']['ebook'] }}</p>
              <h3 class="section__title">{{ site.data[page.lang]['includes']['anatomy_escrow']['expert_insights'] }}: {{ site.data[page.lang]['includes']['anatomy_escrow']['software_escrow'] }}</h3>
              <p class="section__subtitle mt-4">{{ site.data[page.lang]['resources']['download_this_codekeeper_guide'] }} </p>
              <a class="button btn-cerulean mt-4 mb-5" data-toggle="modal" data-target="#exampleModal2">
                {{ site.data[page.lang]['resources']['download_ebook'] }}
              </a>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/resources-page/expert-insights.webp"/>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-image-content p-0 pt-5">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                  </div>
                  <div class="section__modal-form p-0">
                    <img class="section__modal-image" src="/images/resources-page/expert-insights.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "08adf3fe-f24d-4ef7-a1cf-2b2288ceb09c"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div>
                  <!-- <div class="section__modal-form p-0 spanish-guide">
                    <img class="section__modal-image" src="/images/resources-page/expert-insights.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "9c5cba6e-851b-43d3-9f3a-5f41a6005ecc"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                  <!-- <div class="section__modal-form p-0 german-guide">
                    <img class="section__modal-image" src="/images/resources-page/expert-insights.webp"/>
                    
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "16f69a88-bd57-4c48-b983-2173fc8b7a94"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                  <!-- <div class="section__modal-form p-0 dutch-guide">
                    <img class="section__modal-image" src="/images/resources-page/expert-insights.webp"/>
                    
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "93946554-5afd-403c-9112-02acd2f267cf"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="bg-white py-5">
      <div class="container">
        <div class="row column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/resources-page/guide-sample.webp"/>
          </div>
          <div class="col-md-7 col-sm-12 d-flex align-items-center justify-content-center">
            <div>
              <p class="section__text mb-1 mt-3">{{ site.data[page.lang]['resources']['sample'] }}</p>
              <h3 class="section__title">{{ site.data[page.lang]['resources']['sample_software_escrow'] }}</h3>
              <p class="section__subtitle mt-4">{{ site.data[page.lang]['resources']['this_annotated_software'] }} </p>
              <a class="button btn-cerulean mt-4 mb-5" data-toggle="modal" data-target="#exampleModal4">
                {{ site.data[page.lang]['resources']['download_ebook'] }}
              </a>
            </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-image-content p-0 pt-5">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                  </div>
                  <div class="section__modal-form p-0">
                    <img class="section__modal-image" src="/images/resources-page/guide-sample.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      portalId: "5365877",
                      formId: "bce2ad68-43f6-4f71-842a-aa44edaf6489"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div>
                  <!-- <div class="section__modal-form p-0 spanish-guide">
                    <img class="section__modal-image" src="/images/resources-page/guide-sample.webp"/>
                    
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "7ed62b5f-41d8-4968-8bfb-b3e88334cc7e"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                  <!-- <div class="section__modal-form p-0 german-guide">
                    <img class="section__modal-image" src="/images/resources-page/guide-sample.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "39f6f598-5b94-49dc-9589-944cf52d5ddb"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                  <!-- <div class="section__modal-form p-0 dutch-guide">
                    <img class="section__modal-image" src="/images/resources-page/guide-sample.webp"/>
                    
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "5e1f4742-22b5-4e75-9f72-419e20ff3b2d"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="bg-white py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12 d-flex align-items-center justify-content-center">
            <div>
              <p class="section__text mb-1 mt-3">{{ site.data[page.lang]['resources']['ebook'] }}</p>
              <h3 class="section__title">{{ site.data[page.lang]['resources']['information_security'] }}</h3>
              <p class="section__subtitle mt-4">{{ site.data[page.lang]['resources']['the_integrity_and_security'] }} </p>
              <a class="button btn-cerulean mt-4 mb-5" data-toggle="modal" data-target="#exampleModal3">
                {{ site.data[page.lang]['resources']['download_ebook'] }}
              </a>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/resources-page/guide-information.webp"/>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-image-content p-0 pt-5">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                  </div>
                  <div class="section__modal-form p-0">
                    <img class="section__modal-image" src="/images/resources-page/guide-information.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      portalId: "5365877",
                      formId: "4ecdb6ad-f33c-4059-bc23-89c465ae1216"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div>
                  <!-- <div class="section__modal-form p-0 spanish-guide">
                    <img class="section__modal-image" src="/images/resources-page/guide-information.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "f61292bb-a3fb-4cec-b9ed-2f31332a0b7c"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                  <!-- <div class="section__modal-form p-0 german-guide">
                    <img class="section__modal-image" src="/images/resources-page/guide-information.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "efaf21e9-bc83-45cd-9acb-3c43adc205b0"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                  <!-- <div class="section__modal-form p-0 dutch-guide">
                    <img class="section__modal-image" src="/images/resources-page/guide-information.webp"/>

                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      region: "na1",
                      portalId: "5365877",
                      formId: "0ab39215-8554-4186-bf89-acb969fd3894"
                    });
                    </script>
                    <p class="section__modal-subtext mt-5">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    <div class="discover__content-bg">
      <div class="container">
        <h3 class="discover__title text-white">{{ site.data[page.lang]['resources']['discover_more'] }}</h3>
        <p class="discover__subtitle mt-4 mx-auto text-white">{{ site.data[page.lang]['resources']['check_out_our'] }} </p>
        <div class="discover__content mx-auto mt-5">
          <div class="row">
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="discover__box what-is-source-code-escrow-href" href="what-is-source-code-escrow.html">
                <img class="discover__box-image" src="/images/resources-page/icon-source-code.svg"/>
                <p class="discover__box-text">{{ site.data[page.lang]['resources']['source_code_escrow'] }} </p>
              </a>
            </div>
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="discover__box what-is-data-escrow-href" href="what-is-data-escrow.html">
                <img class="discover__box-image" src="/images/resources-page/icon-data-escrow.svg"/>
                <p class="discover__box-text">{{ site.data[page.lang]['resources']['data_escrow'] }} </p>
              </a>
            </div>
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="discover__box what-is-saas-escrow-href" href="what-is-saas-escrow.html">
                <img class="discover__box-image" src="/images/resources-page/icon-saas-escrow.svg"/>
                <p class="discover__box-text">{{ site.data[page.lang]['resources']['saas_escrow'] }} </p>
              </a>
            </div>
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="discover__box what-is-information-escrow-href" href="what-is-information-escrow.html">
                <img class="discover__box-image" src="/images/resources-page/icon-information-escrow.svg"/>
                <p class="discover__box-text">{{ site.data[page.lang]['resources']['information_escrow'] }} </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <!-- <div class="container section-medium pb-0">
      <h2 class="mentions__title my-5 text-center">{{ site.data[page.lang]['index']['recent_updates'] }}</h2>
      <div class="row">
        <div class="col-md-4 col-sm-12 content-center">
          <div class="people__section-col3">
            <div class="p-3">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img class="mr-1" src="/images/resources-page/likes-icon.svg"/>
                  <p class="people__section-subtitle mb-0 fw-600">124</p>
                </div>
                <div class="d-flex align-items-center">
                  <p class="people__section-subtitle mb-0">2h</p>
                  <img class="ml-1" src="/images/resources-page/linkedin-icon.svg"/>
                </div>
              </div>
              <p class="people__section-subtitle2 mb-0 mt-3">This week we’re talking about Getting the Best Out of Your Software Suppliers.
                We get it! Working with a supplier can be anxiety-provoking; you’re putting someone else in control of a major component of y...</p>
            </div>
            <img class="people__section-image2" src="/images/resources-page/updates-1.webp"/>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 content-center">
          <div class="people__section-col3">
            <div class="p-3">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img class="mr-1" src="/images/resources-page/likes-icon.svg"/>
                  <p class="people__section-subtitle mb-0 fw-600">156</p>
                </div>
                <div class="d-flex align-items-center">
                  <p class="people__section-subtitle mb-0">1w</p>
                  <img class="ml-1" src="/images/resources-page/linkedin-icon.svg"/>
                </div>
              </div>
              <p class="people__section-subtitle2 mb-0 mt-3">Come find us at TechEx Events today, let's talk about #cybersecurity and #dataescrow.<br><br> #dataescrow #saasescrow #saas #Techinnovation #techex #cybersecurity... </p>
            </div>
            <img class="people__section-image2" src="/images/resources-page/updates-2.webp"/>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 content-center">
          <div class="people__section-col3">
            <div class="p-3">
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <img class="mr-1" src="/images/resources-page/likes-icon.svg"/>
                  <p class="people__section-subtitle mb-0 fw-600">93</p>
                </div>
                <div class="d-flex align-items-center">
                  <p class="people__section-subtitle mb-0">2w</p>
                  <img class="ml-1" src="/images/resources-page/linkedin-icon.svg"/>
                </div>
              </div>
              <p class="people__section-subtitle2 mb-0 mt-3">Codekeeper.co explains why accessing your source code is a must, and how not being able to can lead to serious consequences.<br><br> Read all about it in the New chapter of “...</p>
            </div>
            <img class="people__section-image2" src="/images/resources-page/updates-3.webp"/>
          </div>
        </div>
      </div>
      <p class="people__section-subtitle2 mt-5 mw-100 text-center">{{ site.data[page.lang]['index']['stay_up_to'] }} </p>
      <a class="button btn-cerulean2 mx-auto mb-5 mt-3" href="https://www.linkedin.com/company/codekeeper/">
        {{ site.data[page.lang]['index']['visit_page'] }}
      </a>
    </div> -->
    <!-- Sixth Section -->
    <div class="container-fluid section-large pricing">
      <p class="protect__subtext">{{ site.data[page.lang]['pricing']['trusted_by'] }}.</p>
      <div class="tech-slideshow">
        <div class="slideshow-brands">
          <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
            <img class="protect__logos" src="/images/logos/axxiome.webp"/>
            <img class="protect__logos" src="/images/logos/intuit.webp"/>
            <img class="protect__logos" src="/images/logos/Bayer.webp"/>
            <img class="protect__logos" src="/images/logos/slate-digital.webp"/>
            <img class="protect__logos" src="/images/logos/colorado.webp"/>
            <img class="protect__logos" src="/images/logos/zynga.webp"/>
            <img class="protect__logos" src="/images/logos/gorenje.webp"/>
            <img class="protect__logos" src="/images/logos/axxiome.webp"/>
            <img class="protect__logos" src="/images/logos/intuit.webp"/>
            <img class="protect__logos" src="/images/logos/Bayer.webp"/>
            <img class="protect__logos" src="/images/logos/slate-digital.webp"/>
            <img class="protect__logos" src="/images/logos/colorado.webp"/>
            <img class="protect__logos" src="/images/logos/zynga.webp"/>
            <img class="protect__logos" src="/images/logos/gorenje.webp"/>
            <img class="protect__logos" src="/images/logos/axxiome.webp"/>
            <img class="protect__logos" src="/images/logos/intuit.webp"/>
            <img class="protect__logos" src="/images/logos/Bayer.webp"/>
            <img class="protect__logos" src="/images/logos/slate-digital.webp"/>
            <img class="protect__logos" src="/images/logos/colorado.webp"/>
            <img class="protect__logos" src="/images/logos/zynga.webp"/>
            <img class="protect__logos" src="/images/logos/gorenje.webp"/>
          </div>
          <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
            <img class="protect__logos" src="/images/logos/Pepsico_large.webp"/>
            <img class="protect__logos" src="/images/logos/general-electric.webp"/>
            <img class="protect__logos" src="/images/logos/mercedes-benz.webp"/>
            <img class="protect__logos" src="/images/logos/nestle.webp"/>
            <img class="protect__logos" src="/images/logos/Airbus.webp"/>
            <img class="protect__logos" src="/images/logos/the-economist.webp"/>
            <img class="protect__logos" src="/images/logos/Pepsico_large.webp"/>
            <img class="protect__logos" src="/images/logos/general-electric.webp"/>
            <img class="protect__logos" src="/images/logos/mercedes-benz.webp"/>
            <img class="protect__logos" src="/images/logos/nestle.webp"/>
            <img class="protect__logos" src="/images/logos/Airbus.webp"/>
            <img class="protect__logos" src="/images/logos/the-economist.webp"/>
            <img class="protect__logos" src="/images/logos/Pepsico_large.webp"/>
            <img class="protect__logos" src="/images/logos/general-electric.webp"/>
            <img class="protect__logos" src="/images/logos/mercedes-benz.webp"/>
            <img class="protect__logos" src="/images/logos/nestle.webp"/>
            <img class="protect__logos" src="/images/logos/Airbus.webp"/>
            <img class="protect__logos" src="/images/logos/the-economist.webp"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Sixth Section -->
    <div class="software__content overflow-hidden">
      <div class="software__bg">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h2 class="software__title mt-5">{{ site.data[page.lang]['resources']['see_codekeeper'] }} </h2>
              <p class="software__subtitle mt-4">{{ site.data[page.lang]['resources']['discover_the_features'] }} </p>
              <a data-toggle="modal" data-target="#meetingModal" class="button btn-yellow my-5 outline-none underline-none text-center">
                {{ site.data[page.lang]['resources']['schedule_a_demo'] }} 
              </a>
              <div class="modal fade meeting-modal" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                  <div class="modal-content bg-transparent border-0">
                    <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/danny70?embed=true"></div>
                    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="software__image" src="/images/homepage/ipad-screen.webp"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>