<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="resources">
      <div class="header__content overflow-hidden">
        <div class="header__bg-new">
          <img class="header__bg-top-left" src="/images/landing/header-top-left.svg" alt="Background Image"/>
          <img class="header__bg-top-right" src="/images/landing/header-top-right.svg" alt="Background Image"/>
          <img class="header__bg-bottom-left" src="/images/landing/header-bottom-left.svg" alt="Background Image"/>
          <img class="header__bg-bottom-right" src="/images/landing/header-bottom-right.svg" alt="Background Image"/>
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <h1 class="header__title text-primary text-align-start mw-530 mt-4">{{ site.data[page.lang]['resources']['discover_our_escrow'] }}</h1>
                <p class="header__subtitle mt-4 mw-530 text-align-start">{{ site.data[page.lang]['resources']['arm_yourself'] }}</p>
              </div>
              <div class="col-md-5 col-sm-12">
                <img class="image-style mw-350" src="/images/landing/header-resources.webp" alt="Resources Header Image"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="container mt-negative-100 pb-100 resources">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="guide__box">
            <div class="guide__box-header">
              <img class="guide__box-image" src="/images/resources-page/guide-introduction.webp" alt="Guide Introduction Image"/>
            </div>
            <div class="guide__box-content">
              <h3 class="guide__box-title">{{ site.data[page.lang]['resources']['introduction_to_software'] }}: {{ site.data[page.lang]['resources']['a_guide'] }}</h3>
              <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['resources']['this_hands_on'] }} </p>

              <div class="guide__box-footer">
                <div class="guide__box-badge">{{ site.data[page.lang]['resources']['ebook'] }}</div>
                <a class="button btn-primary-medium" data-toggle="modal" data-target="#exampleModal">
                  {{ site.data[page.lang]['resources']['download_ebook'] }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="guide__box">
            <div class="guide__box-header">
              <img class="guide__box-image" src="/images/resources-page/expert-insights.webp" alt="Expert Insights Image"/>
            </div>
            <div class="guide__box-content">
              <h3 class="guide__box-title">{{ site.data[page.lang]['includes']['anatomy_escrow']['expert_insights'] }}: {{ site.data[page.lang]['includes']['anatomy_escrow']['software_escrow'] }}</h3>
              <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['resources']['download_this_codekeeper_guide'] }} </p>

              <div class="guide__box-footer">
                <div class="guide__box-badge">{{ site.data[page.lang]['resources']['ebook'] }}</div>
                <a class="button btn-primary-medium" data-toggle="modal" data-target="#exampleModal2">
                  {{ site.data[page.lang]['resources']['download_ebook'] }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="guide__box">
            <div class="guide__box-header">
              <img class="guide__box-image" src="/images/resources-page/guide-sample.webp" alt="Guide Sample Image"/>
            </div>
            <div class="guide__box-content">
              <h3 class="guide__box-title">{{ site.data[page.lang]['resources']['sample_software_escrow'] }}</h3>
              <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['resources']['this_annotated_software'] }} </p>

              <div class="guide__box-footer">
                <div class="guide__box-badge">{{ site.data[page.lang]['resources']['sample'] }}</div>
                <a class="button btn-primary-medium" data-toggle="modal" data-target="#exampleModal4">
                  {{ site.data[page.lang]['resources']['download_sample'] }}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="guide__box">
            <div class="guide__box-header">
              <img class="guide__box-image" src="/images/resources-page/guide-information.webp" alt="Guide Information Image"/>
            </div>
            <div class="guide__box-content">
              <h3 class="guide__box-title">{{ site.data[page.lang]['resources']['information_security'] }}</h3>
              <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['resources']['the_integrity_and_security'] }} </p>

              <div class="guide__box-footer">
                <div class="guide__box-badge">{{ site.data[page.lang]['resources']['ebook'] }}</div>
                <a class="button btn-primary-medium" data-toggle="modal" data-target="#exampleModal3">
                  {{ site.data[page.lang]['resources']['download_ebook'] }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content section__modal mx-auto">
            <div class="modal-body p-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="m-0">
                
                <div class="section__modal-form p-0 ">
                  <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp" alt="Guide Introduction Image"/>
                      <p class="section__modal-subtext mt-0">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-3">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                        portalId: "5365877",
                        formId: "31e6f358-0537-4c45-aa72-b9cc697f4a71"
                      });
                      </script>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content section__modal mx-auto">
            <div class="modal-body p-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="m-0">
                <div class="section__modal-form p-0 ">
                  <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <img class="section__modal-image" src="/images/resources-page/expert-insights.webp" alt="Expert Insights Image"/>
                      <p class="section__modal-subtext mt-0">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-3">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                        region: "na1",
                        portalId: "5365877",
                        formId: "08adf3fe-f24d-4ef7-a1cf-2b2288ceb09c"
                      });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content section__modal mx-auto">
            <div class="modal-body p-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="m-0">
                <div class="section__modal-form p-0 ">
                  <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_sample'] }}</p>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <img class="section__modal-image" src="/images/resources-page/guide-sample.webp" alt="Guide Sample Image"/>
                      <p class="section__modal-subtext mt-0">*{{ site.data[page.lang]['resources']['sample_available_only'] }}</p>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-3">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                        portalId: "5365877",
                        formId: "bce2ad68-43f6-4f71-842a-aa44edaf6489"
                      });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content section__modal mx-auto">
            <div class="modal-body p-0">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="m-0">
                <div class="section__modal-form p-0 ">
                  <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <img class="section__modal-image" src="/images/resources-page/guide-information.webp" alt="Guide Information Image"/>
                      <p class="section__modal-subtext mt-0">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                    </div>
                    <div class="col-md-6 col-sm-12 pt-3">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                        portalId: "5365877",
                        formId: "4ecdb6ad-f33c-4059-bc23-89c465ae1216"
                      });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="container section-large pricing pt-5">
      <h4 class="section__title text-align-start">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_resources']['do_you_have'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_resources']['you_can'] }} <a href="https://blog.codekeeper.co/" class="text-underline ">{{ site.data[page.lang]['faq_resources']['blog'] }}</a> {{ site.data[page.lang]['faq_resources']['for_additional'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_resources']['i_tried'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_resources']['if_you_are2'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_resources']['how_can_i'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_resources']['you_can_stay2'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_resources']['i_cant'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_resources']['our_experts'] }}</li>
      </ul>
      <p class="section__text mt-5 mb-5">{{ site.data[page.lang]['faq']['if_you_have_any2'] }} </p>
    </div>
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
  
  <script src="/js/faqDropdown.js"></script>
</body>