<body>
  <div class="feedbacks">
    <div class="bg-white">
      <!-- Navigation -->
      <div class="nav-fixed-mobile">
        <div class="container">
          {% include navigation.html %}
        </div>
      </div>
      <!-- Header -->
      <div class="header__container">
        <div class="mt-3">
          <h2 class="header__title">{{ site.data[page.lang]['resources']['feedbacklabs_resources'] }}</h2>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['resources']['arm_yourself_with'] }}</p>
          <a class="button btn-white-lg mt-5 mb-4 mx-auto" href="https://app.feedbacklabs.com/signup">
            {{ site.data[page.lang]['resources']['sign_up'] }}
          </a>
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <div class="d-flex align-items-center mr-4 my-3">
              <img class="" alt="Icon Check" src="/images/Homepage/icon-check-white.svg"/>
              <p class="text-fade-white mb-0 ml-1">{{ site.data[page.lang]['index']['14_day_free'] }}</p>
            </div>
            <div class="d-flex align-items-center my-3">
              <img class="" alt="Icon Check" src="/images/Homepage/icon-check-white.svg"/>
              <p class="text-fade-white mb-0 ml-1">{{ site.data[page.lang]['index']['cancel_anytime'] }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- First Section -->
      <div class="container pt-5 feedbacks">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p class="resources__text mt-4">{{ site.data[page.lang]['resources']['ebook'] }}</p>
            <h2 class="resources__title">{{ site.data[page.lang]['resources']['getting_started_with'] }}</h2>
            <p class="resources__subtext mt-4">{{ site.data[page.lang]['resources']['this_introductory'] }} </p>            
            <a class="button btn-secondary-outline my-4" data-toggle="modal" data-target="#exampleModal">
              {{ site.data[page.lang]['resources']['get_free_guide'] }}
            </a>
          </div>
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="resources__image my-4 ml-auto" alt="Image: Getting started" src="images/Feedback-types/getting-started-with-customer.svg"/>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="row m-0">
                  <div class="col-md-6 col-sm-12 section__modal-form p-0">
                    <p class="section__modal-title mb-4 mt-4">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      portalId: "7622707",
                      formId: "2763cbfa-36e5-467a-943c-9b44577305a8"
                    });
                    </script>
                  </div>
                  <div class="col-md-6 col-sm-12 section__modal-image p-0">
                    <img class="image-style mt-3" alt="Image: Getting started" src="images/Feedback-types/getting-started-with-customer.svg"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Second Section -->
      <div class="container pt-5 feedbacks">
        <div class="row column-reverse-mobile pt-5">
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-start align-items-center">
            <img class="resources__image my-4" alt="Image: Beginner guide to nps" src="images/Feedback-types/beginner-guide-to-nps.svg"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="resources__text mt-4">{{ site.data[page.lang]['resources']['ebook'] }}</p>
            <h2 class="resources__title">{{ site.data[page.lang]['resources']['net_promoter_score'] }}<sup>SM</sup>: <br>{{ site.data[page.lang]['resources']['a_beginners_guide'] }}</h2>
            <p class="resources__subtext mt-4">{{ site.data[page.lang]['resources']['download_this_beginners_guide'] }} </p>            
            <a class="button btn-secondary-outline my-4" data-toggle="modal" data-target="#exampleModal2">
              {{ site.data[page.lang]['resources']['get_free_guide'] }}
            </a>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="row m-0">
                  <div class="col-md-6 col-sm-12 section__modal-form p-0">
                    <p class="section__modal-title mb-4 mt-4">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      portalId: "7622707",
                      formId: "46e8c979-6006-4a4a-82dd-e27824f6ce5a"
                    });
                    </script>
                  </div>
                  <div class="col-md-6 col-sm-12 section__modal-image p-0">
                    <img class="image-style mt-3" alt="Image: Getting started" src="images/Feedback-types/beginner-guide-to-nps.svg"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Third Section -->
      <div class="container pt-5 feedbacks">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p class="resources__text mt-4">{{ site.data[page.lang]['resources']['ebook'] }}</p>
            <h2 class="resources__title">{{ site.data[page.lang]['resources']['5_star_survey'] }}:<br> {{ site.data[page.lang]['resources']['a_how_to'] }}</h2>
            <p class="resources__subtext mt-4">{{ site.data[page.lang]['resources']['this_guide_is'] }} </p>
            <a class="button btn-secondary-outline my-4" data-toggle="modal" data-target="#exampleModal3">
              {{ site.data[page.lang]['resources']['get_free_guide'] }}
            </a>
          </div>
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="resources__image my-4 ml-auto" alt="Image: Guide 5 Star Survey" src="images/Feedback-types/5-star-survey-how.svg"/>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="row m-0">
                  <div class="col-md-6 col-sm-12 section__modal-form p-0">
                    <p class="section__modal-title mb-4 mt-4">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                    <!--[if lte IE 8]>
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
                    <![endif]-->
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                    <script>
                      hbspt.forms.create({
                      portalId: "7622707",
                      formId: "b99ef87f-35c6-431c-a960-cfd594c31df0"
                    });
                    </script>
                  </div>
                  <div class="col-md-6 col-sm-12 section__modal-image p-0">
                    <img class="image-style mt-3" alt="Image: Getting started" src="images/Feedback-types/5-star-survey-how.svg"  />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Fourth Section -->
      <div class="d-flex align-items-center justify-content-center guide-customer section-medium">
        <div class="header__form-box py-5">
          <p class="header__form-title">{{ site.data[page.lang]['resources']['what_would_you'] }}</p>
          <p class="header__form-subtitle">{{ site.data[page.lang]['resources']['let_us_know_what'] }}</p>
          <p class="header__form-subtitle">{{ site.data[page.lang]['resources']['please_fill_out'] }}</p>
          <div class="header__form">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              portalId: "7622707",
              formId: "d0cc0cf0-ab1b-4d07-9386-3d32ff9c08db"
            });
            </script>
          </div>
        </div>
      </div>
      {% include get-answers.html %}
      <!-- Footer -->
      {% include footer.html %}
    </div>
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>

</html>
