<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="resources">
      <div class="header__bg-landing">
        <img class="header__bg-logo-shape" src="/images/landing/logo-bg-shape.webp" alt="CK Logo Background"/>
        <div class="container section-medium">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <p class="header__subtitle2 mt-5 font-16 text-bondi-blue">&mdash; &nbsp; W E L C O M E</p>
              <h1 class="header__title2 mt-3">Risk Assessment</h1>
              <p class="header__subtitle2 my-4 font-24 text-dark-cyan">Outlining Risks Associated with Software-Dependent Operations.</p>
              <div class="d-flex">
                <img class="image-style mw-35 mt-1 mr-3" src="/images/landing/shield-icon.webp" alt="Shield Icon"/>
                <div>
                  <p class="header__subtitle2 font-20 text-slate-gray">Explore the crucial role of escrow services in protecting your business from software unavailability.</p>
                  <a class="button btn-cerulean3 my-4" href="#start-risk-assessment">
                    Start Assessment
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="image-style mh-400" src="/images/landing/dashboard-image.webp" alt="Dashboard Image"/>
              <p class="header__subtext mt-2 text-center">We support all popular developer platforms. 50+ Integrations available. </p>
              <!-- Developer Platforms -->
              {% include developer-platforms.html %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white section-medium pt-200 mb-5" id="start-risk-assessment">
      <div class="container">
        <p class="switch__main-title my-5 text-center mw-100 font-35 line-height-40">What is your role in relation to the software in question?</p>
        <!-- <p class="switch__main-subtitle text-center mw-100 pb-4">Please fill out the questionnaire below</p> -->
        <div class="pricing">
          <div class="pricing-tabs container-fluid mt-5">
            <div class="pricing-container mx-auto">
              <div class="nav nav-pills mb-3 d-flex justify-content-center mt-5" id="pills-tab" role="tablist">
                <a class="nav-link space-no-wrap" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                  aria-controls="pills-profile" aria-selected="false">Beneficiary</a>
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                  aria-controls="pills-home" aria-selected="true">Depositor</a>
      
              </div>
              <div class="tab-content mt-5" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="contact">
                    <div class="mw-700 mx-auto section__assessment mt-5">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                          region: "na1",
                          portalId: "5365877",
                          formId: "3cd31c45-046a-404c-ae1a-86db705b9c3c"
                        });
                      </script>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <div class="contact">
                    <div class="mw-700 mx-auto section__assessment mt-5">
                      <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
                      <script>
                        hbspt.forms.create({
                          region: "na1",
                          portalId: "5365877",
                          formId: "c3525191-4529-4f75-833b-16e7a91f2a56"
                        });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
      
    <!-- Section -->
    <div class="resources">
      <div class="intro-guide__container mt-0 pt-150 min-h-600">
        <img class="intro-guide__shape-left" src="/images/landing/experts-small-shape.webp" alt="Small Background Image"/>
        <img class="intro-guide__shape-right" src="/images/landing/experts-large-shape.webp" alt="Large Background Image"/>
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-12">
              <img class="image-style" src="/images/landing/our-experts.webp" alt="Our Expert Image"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="intro-guide__main-title mt-4">Book a 1-on-1 Demo</p>
              <p class="intro-guide__main-subtitle text-slate-gray">Book a demo with one of our experts who will be more than happy to show you around our platform and answer any questions you might have.</p>
              <a class="button btn-cerulean3 my-4" href="book-a-demo.html">
                Book a Demo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
</body>