<body>
  <div class="feedbacks">
    <div class="bg-white">
      <!-- Navigation -->
      <div class="nav-fixed-mobile">
        <div class="container">
          {% include navigation.html %}
        </div>
      </div>
      <!-- Header -->
      <div class="header__container">
        <div class="mt-3">
          <h2 class="header__title">{{ site.data[page.lang]['roadmap_finder']['drive_product'] }}</h2>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['roadmap_finder']['incorporate_customer'] }}</p>
          <a class="button btn-white-lg mt-5 mb-4 mx-auto" href="https://app.feedbacklabs.com/signup">
            {{ site.data[page.lang]['roadmap_finder']['sign_up'] }}
          </a>
          <div class="d-flex flex-wrap align-items-center justify-content-center">
            <div class="d-flex align-items-center mr-4 my-3">
              <img class="" alt="Icon Check" src="/images/Homepage/icon-check-white.svg"/>
              <p class="text-fade-white mb-0 ml-1">{{ site.data[page.lang]['index']['14_day_free'] }}</p>
            </div>
            <div class="d-flex align-items-center my-3">
              <img class="" alt="Icon Check" src="/images/Homepage/icon-check-white.svg"/>
              <p class="text-fade-white mb-0 ml-1">{{ site.data[page.lang]['index']['cancel_anytime'] }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- First Section -->
      <div class="container pt-5 homepage">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h2 class="info__title mt-4">{{ site.data[page.lang]['roadmap_finder']['what_is_a'] }}</h2>
            <p class="info__subtext mt-4">{{ site.data[page.lang]['roadmap_finder']['a_product_roadmap'] }}</p>
            <a class="button btn-secondary-outline my-4" href="https://app.feedbacklabs.com/signup">
              {{ site.data[page.lang]['roadmap_finder']['get_answers'] }}
            </a>
          </div>
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Persona Finder" src="images/Feedback-types/persona-finder-1.svg"/>
          </div>
        </div>
        <div class="section-medium">
          <h2 class="info__title text-center mt-4 mb-5">{{ site.data[page.lang]['roadmap_finder']['how_to_use_it'] }}</h2>
          <div class="container works mt-5">
            <div class="works__content">
              <div>
                <!-- Tab 1 -->
                <div class="works__section2 -is-active" id="section1">
                  <div class="works__content-text">
                    <div class="d-flex align-items-center mt-5">
                      <i class="works__icon far fa-check-circle"></i>
                      <p class="works__title">{{ site.data[page.lang]['roadmap_finder']['select_the_feedback_type'] }}</p>
                    </div>
                    <p class="works__subtitle">{{ site.data[page.lang]['roadmap_finder']['personas_are_a_crucial'] }}</p>
                  </div>
                </div>
                <!-- Tab 2 -->
                <div class="works__section2 mt-4" id="section2">
                  <div class="works__content-text">
                    <div class="d-flex align-items-center">
                      <i class="works__icon far fa-question-circle"></i>
                      <p class="works__title">{{ site.data[page.lang]['roadmap_finder']['ask_questions'] }}</p>
                    </div>
                    <p class="works__subtitle">{{ site.data[page.lang]['roadmap_finder']['ask_your_users'] }}</p>
                  </div>
                </div>
                <!-- Tab 3 -->
                <div class="works__section2 mt-4" id="section3">
                  <div class="works__content-text">
                    <div class="d-flex align-items-center">
                      <i class="works__icon far fa-star"></i>
                      <p class="works__title">{{ site.data[page.lang]['roadmap_finder']['get_feedback'] }}</p>
                    </div>
                    <p class="works__subtitle">{{ site.data[page.lang]['roadmap_finder']['with_feedbacklabs_you'] }}</p>
                  </div>
                </div>
              </div>
              <div class="ml-5 mt-5">
                <img id="img1" class="works__image2 first-show-tab -show" alt="Image: Roadmap Finder" src="images/Feedback-types/roadmap-finder-how.svg"/>
                <img id="img2" class="works__image2" alt="Image: Roadmap Finder" src="images/Feedback-types/question-roadmap.svg"/>
                <img id="img3" class="works__image2" alt="Image: Roadmap Finder" src="images/Feedback-types/response-image.svg"/>
              </div>
            </div>
            <div class="works__content-mobile">
              <!-- Tab 1 -->
              <div class="works__section2">
                <div class="works__content-text">
                  <div class="d-flex align-items-center mt-5">
                    <i class="works__icon far fa-check-circle"></i>
                    <p class="works__title">{{ site.data[page.lang]['roadmap_finder']['select_the_feedback_type'] }}</p>
                  </div>
                  <p class="works__subtitle">{{ site.data[page.lang]['roadmap_finder']['personas_are_a_crucial'] }}</p>
                  <div class="item-center mt-4">
                    <img class="works__image2" alt="Image: Roadmap Finder" src="images/Feedback-types/roadmap-finder-how.svg"/>
                  </div>
                </div>
              </div>
              <!-- Tab 2 -->
              <div class="works__section2">
                <div class="works__content-text">
                  <div class="d-flex align-items-center mt-5">
                    <i class="works__icon far fa-question-circle"></i>
                    <p class="works__title">{{ site.data[page.lang]['roadmap_finder']['ask_questions'] }}</p>
                  </div>
                  <p class="works__subtitle">{{ site.data[page.lang]['roadmap_finder']['ask_your_users'] }}</p>
                  <div class="item-center mt-4">
                    <img class="works__image2" alt="Image: Roadmap Finder" src="images/Feedback-types/roadmap-finder-1.svg"/>
                  </div>
                </div>
              </div>
              <!-- Tab 3 -->
              <div class="works__section2">
                <div class="works__content-text">
                  <div class="d-flex align-items-center mt-5">
                    <i class="works__icon far fa-star"></i>
                    <p class="works__title">{{ site.data[page.lang]['roadmap_finder']['get_feedback'] }}</p>
                  </div>
                  <p class="works__subtitle">{{ site.data[page.lang]['roadmap_finder']['with_feedbacklabs_you'] }}</p>
                  <div class="item-center mt-4">
                    <img class="works__image2" alt="Image: Roadmap Finder" src="images/Feedback-types/roadmap-finder-2.svg"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row column-reverse-mobile pt-5">
          <div class="col-md-6 col-sm-12 mt-3 d-flex justify-content-center align-items-center">
            <img class="info__image my-4" alt="Image: Persona Finder" src="images/Feedback-types/persona-finder-2.svg"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <h2 class="info__title mt-4">{{ site.data[page.lang]['roadmap_finder']['how_roadmap_finder'] }} </h2>
            <p class="info__subtext mt-4">{{ site.data[page.lang]['roadmap_finder']['whether_you_create'] }}</p>
            <a class="button btn-secondary-outline my-4" href="https://app.feedbacklabs.com/signup">
              {{ site.data[page.lang]['roadmap_finder']['get_answers'] }}
            </a>
          </div>
        </div>
      </div>
      <!-- Second Section -->
      <div class="container py-5">
        <div class="survey__start">
          <p class="survey__start-title mt-2">Map out the strategic direction for your product</p>
          <p class="survey__start-subtitle mt-4">Try FeedbackLabs <span>free for 14 days</span>. Quick setup, no need to talk to sales, and you can cancel anytime.</p>
          <p class="survey__start-subtitle mt-3"><span>Sign up today</span> and send your first <span>roadmap survey</span> in minutes:</p>
          {% include start-now.html %}
        </div>
      </div>
      <!-- Third Section -->
      {% include feedback-guide.html %}
      <!-- Fourth Section -->
      {% include get-answers.html %}
      <!-- Footer -->
      {% include footer.html %}
    </div>
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    $('.not-clickable').click(function(event) {
      event.preventDefault();
    });
    $('#section1').click(function() {
      $('.works__section2').removeClass('-is-active');
      $('.works__image2').removeClass('-show');
      $('#img1').addClass('-show');
      $(this).addClass('-is-active');
    });
    $('#section2').click(function() {
      $('.works__section2').removeClass('-is-active');
      $('.works__image2').removeClass('-show');
      $('#img2').addClass('-show');
      $(this).addClass('-is-active');
    });
    $('#section3').click(function() {
      $('.works__section2').removeClass('-is-active');
      $('.works__image2').removeClass('-show');
      $('#img3').addClass('-show');
      $(this).addClass('-is-active');
    });
  </script>
</body>

</html>
