<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="resources bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg pb-4">
        <div class="container">
          <p class="product__title mx-auto mt-4">{{ site.data[page.lang]['saas_escrow_product']['add_ons'] }}</p>
          <div class="product__header-devider mx-auto"></div>
          <h1 class="header__title mx-auto mt-3">{{ site.data[page.lang]['saas_escrow_product']['protect_critical'] }}</h1>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['saas_escrow_product']['provide_saas'] }}</p>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white">
      <div class="container section-medium">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="applications__box">
              <p class="applications__header-title">{{ site.data[page.lang]['saas_escrow_product']['saas_applications'] }}</p>
              <p class="applications__header-text"><span class="applications__header-text saas-continuity"><sup>$</sup>299</span><span>/ {{ site.data[page.lang]['saas_escrow_product']['environment'] }}</span></p>
              <p class="applications__header-subtext">+ <span class="applications__header-subtext deposit-connections">$99</span><span>/ {{ site.data[page.lang]['saas_escrow_product']['application'] }}</span></p>
              <p class="applications__header-subtitle">{{ site.data[page.lang]['saas_escrow_product']['hosting_costs'] }} </p>
              <div class="applications__border"></div>
              <p class="applications__content-title">{{ site.data[page.lang]['saas_escrow_product']['saas_cloud'] }}</p>
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <p class="applications__content-text"><img class="mr-2" src="/images/homepage/check-icon-small.svg"/>Amazon Web Services</p>
                  <p class="applications__content-text"><img class="mr-2" src="/images/homepage/check-icon-small.svg"/>Google Cloud </p>
                  <p class="applications__content-text"><img class="mr-2" src="/images/homepage/check-icon-small.svg"/>Microsoft Azure </p>
                  <p class="applications__content-text"><img class="mr-2" src="/images/homepage/check-icon-small.svg"/>IBM Cloud Services</p>
                  <p class="applications__content-text"><img class="mr-2" src="/images/homepage/check-icon-small.svg"/>Oracle Cloud</p>
                </div>
                <div class="col-md-6 col-sm-12">
                  <p class="applications__content-text"><img class="mr-2" src="/images/homepage/check-icon-small.svg"/>Alibaba Cloud</p>
                  <p class="applications__content-text"><img class="mr-2" src="/images/homepage/check-icon-small.svg"/>RackSpace Cloud</p>
                  <p class="applications__content-text"><img class="mr-2" src="/images/homepage/check-icon-small.svg"/>Digital Ocean</p>
                  <p class="applications__content-text"><img class="mr-2" src="/images/homepage/check-icon-small.svg"/>Heroku</p>
                </div>
              </div>
              <p class="applications__content-text mt-3">{{ site.data[page.lang]['saas_escrow_product']['do_you_need'] }} <a class="text-underline contact-href" href="contact.html">{{ site.data[page.lang]['saas_escrow_product']['contact_us'] }}</a></p>
              <p class="applications__content-subtext">*{{ site.data[page.lang]['saas_escrow_product']['this_add'] }}</p>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="applications__image my-4" src="/images/homepage/saas-applications.webp"/>
            <p class="applications__header-title">{{ site.data[page.lang]['saas_escrow_product']['speedy'] }}</p>
            <p class="applications__content-text2 mt-3">{{ site.data[page.lang]['saas_escrow_product']['lower_your'] }}</p>
            <a class="button btn-cerulean my-4 pricing-href" href="pricing.html">
              {{ site.data[page.lang]['index']['get_started'] }}
            </a>
          </div>
          
        </div>
        <div class="applications__logos mt-5">
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/amazon.svg"/>
            <p class="applications__logo-text">Amazon Web Services</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/google-cloud.svg"/>
            <p class="applications__logo-text">Google Cloud</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/ibm-cloud.svg"/>
            <p class="applications__logo-text">IBM Cloud</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/azure.svg"/>
            <p class="applications__logo-text">Microsoft Azure</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/oracle-cloud.svg"/>
            <p class="applications__logo-text">Oracle Cloud</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/alibaba-cloud.svg"/>
            <p class="applications__logo-text">Alibaba Cloud</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/digital-ocean.svg"/>
            <p class="applications__logo-text">DigitalOcean</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/rockspace.svg"/>
            <p class="applications__logo-text">Rockspace</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/heroku.svg"/>
            <p class="applications__logo-text">Heroku</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="how__container my-5">
      <div class="container">
        <p class="how__title pb-3">{{ site.data[page.lang]['saas_escrow_product']['how_our'] }}</p>
        <div class="how__content mt-5">
          <div class="how__col">
            <p class="how__col-number">1</p>
            <p class="how__col-text">{{ site.data[page.lang]['saas_escrow_product']['the_developer'] }}</p>
          </div>
          <div class="how__col">
            <p class="how__col-number">2</p>
            <p class="how__col-text">{{ site.data[page.lang]['saas_escrow_product']['codekeeper_provisions'] }} </p>
          </div>
          <div class="how__col">
            <p class="how__col-number">3</p>
            <p class="how__col-text">{{ site.data[page.lang]['saas_escrow_product']['the_developer_deploys'] }}</p>
          </div>
          <div class="how__col">
            <p class="how__col-number">4</p>
            <p class="how__col-text">{{ site.data[page.lang]['saas_escrow_product']['optional'] }}: {{ site.data[page.lang]['saas_escrow_product']['codekeeper_checks'] }}</p>
          </div>
          <div class="how__col">
            <p class="how__col-number">5</p>
            <p class="how__col-text">{{ site.data[page.lang]['saas_escrow_product']['results'] }}: {{ site.data[page.lang]['saas_escrow_product']['in_a_default'] }}</p>
          </div>
        </div>
        <a class="button btn-yellow mt-5 pricing-href" href="pricing.html">
          {{ site.data[page.lang]['index']['get_started'] }}
        </a>
      </div>
    </div>
    <!-- Third Section -->
    <div class="bg-white">
      <div class="container section-medium">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="escrow__content px-3">
              <h2 class="escrow3__title mt-5">{{ site.data[page.lang]['saas_escrow_product']['learn_more_about'] }}</h2>
              <p class="escrow3__subtitle mt-4">{{ site.data[page.lang]['saas_escrow_product']['learn_how_saas'] }}</p>
              <a class="button btn-cerulean my-5 what-is-saas-escrow-href" href="what-is-saas-escrow.html">
                {{ site.data[page.lang]['data_escrow_product']['learn_more'] }}
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="image-style p-lg-5 p-2" src="/images/resources-page/who-is-saas-escrow.webp"/>
          </div>
        </div>
      </div>
      <div class="container py-5">
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="/images/features-page/escrow-management.webp"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <h2 class="protect__title ml-auto">{{ site.data[page.lang]['saas_escrow_product']['secure_your'] }}</h2>
            <p class="protect__subtitle ml-auto mt-3">{{ site.data[page.lang]['data_escrow_product']['add_an_additional'] }}</p>
            <a class="button btn-cerulean ml-auto my-5 security-href" href="security.html">
              {{ site.data[page.lang]['data_escrow_product']['learn_more'] }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="bg-white section-large px-3 features">
      <div class="advantages__section-container mx-auto">
        <div class="container">
          <h2 class="advantages__title">{{ site.data[page.lang]['data_escrow_product']['trusted_by'] }}</h2>
          <p class="advantages__subtitle mx-auto">{{ site.data[page.lang]['data_escrow_product']['take_advantage'] }}</p>
          <div class="row mt-5">
            <div class="col-md-4 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/verification-page/platform-icon.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['data_escrow_product']['platform'] }}</p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['data_escrow_product']['we_help_global'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/verification-page/framework-icon.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['data_escrow_product']['frameworks'] }}</p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['data_escrow_product']['codekeeper_supports'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/verification-page/availability-icon.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['data_escrow_product']['availability'] }}</p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['data_escrow_product']['securely_store'] }}
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/verification-page/scalability-icon.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['data_escrow_product']['scalability'] }}</p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['data_escrow_product']['scale_your'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/verification-page/flexibility-icon.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['data_escrow_product']['flexibility'] }}</p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['data_escrow_product']['organize_your'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="advantages__section-col">
                <img class="advantages__section-image" src="/images/verification-page/integrations-icon.svg"/>
                <p class="advantages__section-title">{{ site.data[page.lang]['data_escrow_product']['integrations'] }}</p>
                <p class="advantages__section-subtitle">{{ site.data[page.lang]['data_escrow_product']['whether_you_use'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    <div class="pricing">
      <div class="section-medium offer">
        <h2 class="offer__main-title">{{ site.data[page.lang]['data_escrow_product']['industry_leading'] }}</h2>
        <p class="offer__main-subtitle mt-4 mx-auto mw-100">{{ site.data[page.lang]['data_escrow_product']['you_dont_need_to'] }}</p>
        <span class="offer-btns">
          <button class="button btn-cerulean mx-auto mt-4 btn-offer-style open" id="openButton">
            {{ site.data[page.lang]['data_escrow_product']['get_offer'] }}
          </button>
          <button class="button btn-cerulean mx-auto mt-4 btn-offer-style open" id="closeButton">
            {{ site.data[page.lang]['data_escrow_product']['hide_offer'] }}
          </button>
        </span>
        <div class="bg-white py-5" id="offer">
          <div class="section__container mx-auto mt-5 offer__container english-guide">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              portalId: "5365877",
              formId: "681409cd-f59f-49d5-836b-527607996aaf"
            });
            </script>
          </div>
          <div class="section__container mx-auto mt-5 offer__container spanish-guide">
  
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "43a4244a-893f-46bf-8c61-34c3997057c1"
            });
            </script>
          </div>
          <div class="section__container mx-auto mt-5 offer__container german-guide">
  
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "dc19e2de-7490-4dc2-93af-33163dd2c5f5"
            });
            </script>
          </div>
          <div class="section__container mx-auto mt-5 offer__container dutch-guide">
  
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "68712126-4f0b-4277-84b9-65706aa3d9b6"
            });
            </script>
          </div>
          <div class="section__container mx-auto mt-5 offer__container romanian-guide">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "932218e5-c58d-4390-95ca-d74a7218cf24"
            });
            </script>
          </div>
        </div>
      </div>
    </div>
    <!-- Sixth Section -->
    <div class="pt-5 px-3 position-relative">
      <div class="people__section-container mx-auto">
        <div class="container">
          <h2 class="people__title">{{ site.data[page.lang]['data_escrow_product']['best_in_class'] }}</h2>
          <p class="people__subtitle mx-auto">{{ site.data[page.lang]['data_escrow_product']['we_build_the'] }}</p>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col">
                <img class="people__section-image mt-3" src="/images/homepage/data-security.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['includes']['security']['data_security'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['includes']['security']['our_data_centers'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col">
                <img class="people__section-image mt-3" src="/images/homepage/encryption.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['includes']['security']['end_to_end'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['includes']['security']['data_is_secured'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col">
                <img class="people__section-image mt-3" src="/images/homepage/secure-upload.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['includes']['security']['secure_upload'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['includes']['security']['if_you_prefer'] }}</p>
              </div>
            </div>
          </div>
          <a class="button btn-cerulean mx-auto my-5 security-href" href="security.html">
            {{ site.data[page.lang]['includes']['security']['learn_more'] }}
          </a>
        </div>
      </div>
    </div>
    <div class="mt-negative-50">
      {% include anatomy-escrow.html %}
    </div>
    <!-- Seventh Section -->
    <!-- <div class="bg-white py-5">
      <div class="container d-flex flex-column align-items-center">
        <p class="protect__subtext">{{ site.data[page.lang]['saas_escrow_product']['we_operate_within'] }}:</p>
        <img class="datacenter-image" src="/images/logos/datacenter-certifications.webp"/>
      </div>
    </div> -->
    <!-- Eight Section -->
    {% include secure-assets.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $('#offer').hide();
    $('#closeButton').hide();

    $(".offer-btns").click(function(e){   
        e.stopPropagation();   
        if ($('#closeButton').is(":visible")) {
          $('#closeButton').hide();
          $('#openButton').show();
        }
        else {
          $('#openButton').hide();
          $('#closeButton').show();
        }
        $('#offer').toggle(300);
    });
  </script>

  <script>
    $( document ).ready(function() {
      $.ajax('https://ipapi.co/json')
      .then(
        function success(response) {
          if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
            $('.saas-continuity').text('€299');
            $('.saas-recovery').text('€599');
            $('.saas-replication').text('€899');
            $('.setup-fee').text('€249');
            $('#developer-monthly').text('€79');
            $('.deposit-connections').text('€99');
          }
          else if (response.currency === 'GBP') {
            $('.saas-continuity').text('£225');
            $('.saas-recovery').text('£449');
            $('.saas-replication').text('£699');
            $('.setup-fee').text('£199');
            $('#developer-monthly').text('£59');
            $('.deposit-connections').text('£70');
          }
          else if (response.currency === 'INR') {
            $('.saas-continuity').text('₹19,995');
            $('.saas-recovery').text('₹39,995');
            $('.saas-replication').text('₹59,995');
            $('.setup-fee').text('₹15,000');
            $('#developer-monthly').text('₹5,000');
            $('.deposit-connections').text('₹7,380');
          }
          else if (response.currency === 'AUD') {
            $('.saas-continuity').text('A$349');
            $('.saas-recovery').text('A$699');
            $('.saas-replication').text('A$995');
            $('.setup-fee').text('A$299');
            $('#developer-monthly').text('A$99');
            $('.deposit-connections').text('A$130');
          }
          else if (response.currency === 'SGD') {
            $('.saas-continuity').text('$399');
            $('.saas-recovery').text('$799');
            $('.saas-replication').text('$999');
            $('.setup-fee').text('$299');
            $('#developer-monthly').text('$99');
            $('.deposit-connections').text('$130');
          }
          else if (response.currency === 'ZAR') {
            $('.saas-continuity').text('R3,999');
            $('.saas-recovery').text('R7,999');
            $('.saas-replication').text('R12,999');
            $('.setup-fee').text('R3,499');
            $('#developer-monthly').text('R1,099');
            $('.deposit-connections').text('R1,410');
          }
          else if (response.currency === 'CHF') {
            $('.saas-continuity').text('CHF329');
            $('.saas-recovery').text('CHF659');
            $('.saas-replication').text('CHF999');
            $('.setup-fee').text('CHF275');
            $('#developer-monthly').text('CHF89');
          }
          else if (response.currency === 'CAD') {
            $('.saas-continuity').text('CA$349');
            $('.saas-recovery').text('CA$749');
            $('.saas-replication').text('CA$1099');
            $('.setup-fee').text('CA$299');
            $('#developer-monthly').text('CA$99');
            $('.deposit-connections').text('CA$130');
          }
        },
        function fail(data, status) {
            console.log('Request failed.  Returned status of',
                        status);
        }
      )
      .catch((e) => console.log(e))
    });
  </script>
</body>