<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-saas-escrow">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <p class="header__info text-secondary-light"><img class="mr-2 mb-1" src="/images/software-escrow/icons/continuity-arrows.svg" alt="Continuity Arrow Icon"/>{{ site.data[page.lang]['saas_escrow']['ready_for_continuity'] }}</p>
              <h1 class="header__title text-align-start mt-4">{{ site.data[page.lang]['saas_escrow']['saas_escrow_next'] }} </h1>
              <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['saas_escrow']['we_provide'] }}</p>
              <div class="d-flex flex-wrap resources mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 content-center flex-column">
              <img class="image-style mw-530 mt-4" src="/images/saas-escrow/hero-saas-escrow.webp" alt="SaaS Escrow Image"/>
              <p class="header__subtext mx-auto mt-2">{{ site.data[page.lang]['saas_escrow']['we_support_all'] }}</p>
              <div class="resources">
                <div class="applications__logos mt-4">
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/bitbucket-large.svg" alt="Bitbucket Logo"/>
                    <p class="applications__logo-text">Bitbucket</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/github-large.svg" alt="Github Logo"/>
                    <p class="applications__logo-text">GitHub</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/gitlab-large.svg" alt="Gitlab Logo"/>
                    <p class="applications__logo-text">GitLab</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/git-large.svg" alt="Git Logo"/>
                    <p class="applications__logo-text">Git</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/google-cloud-large.svg" alt="Google Cloud Logo"/>
                    <p class="applications__logo-text">Google<br> Cloud</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/azure-large.svg" alt="Microsoft Azure Logo"/>
                    <p class="applications__logo-text">Microsoft Azure</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/aws-large.svg" alt="Amazon Web Services Logo"/>
                    <p class="applications__logo-text">Amazon<br> Web<br> Services</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid section-medium pricing">
      <p class="protect__subtext text-slate-gray fw-light">{{ site.data[page.lang]['index']['trusted_partner_of'] }}</p>
      <!-- Slideshow Brands -->
      {% include slideshow-brands.html %}
    </div>

    <div class="container section-large">
      <p class="scenario__title mx-auto pb-5">{{ site.data[page.lang]['saas_escrow']['how_prepared_are'] }}</p>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-first.svg" alt="First Scenario Icon"/>
          <p class="scenario__subtitle mx-auto">{{ site.data[page.lang]['saas_escrow']['scenario_1'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['saas_escrow']['after_reinstalling'] }}</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-second.svg" alt="Second Scenario Icon"/>
          <p class="scenario__subtitle mx-auto">{{ site.data[page.lang]['saas_escrow']['scenario_2'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['saas_escrow']['prolonged_downtime'] }}</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-third.svg" alt="Third Scenario Icon"/>
          <p class="scenario__subtitle mx-auto">{{ site.data[page.lang]['saas_escrow']['scenario_3'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['saas_escrow']['e_commerce_is'] }}</p>
        </div>
      </div>
      <p class="scenario__subtext mx-auto">{{ site.data[page.lang]['saas_escrow']['these_are_just'] }}</p>
    </div>

    <div class="section-large bg-alice-blue">
      <div class="container">
        <p class="header__info text-center text-secondary-light"><img class="mr-2 mb-1" src="/images/software-escrow/icons/continuity-arrows.svg" alt="Continuity Arrows Icon"/>{{ site.data[page.lang]['saas_escrow']['ready_for_continuity'] }}</p>
        <p class="information__main-title">{{ site.data[page.lang]['saas_escrow']['saas_escrow'] }}</p>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <img class="information__image content-center" src="/images/saas-escrow/protect-hosting.webp" alt="Protect Hosting Image"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="information__title">{{ site.data[page.lang]['saas_escrow']['protect_hosting'] }}</p>
            <p class="information__subtitle">{{ site.data[page.lang]['saas_escrow']['include_the_up'] }}</p>
          </div>
        </div>
        <div class="row mt-5 column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <p class="information__title text-align-end">{{ site.data[page.lang]['saas_escrow']['include_3rd_party'] }}</p>
            <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['saas_escrow']['bring_crucial'] }} </p>
          </div>
          <div class="col-md-6 col-sm-12 content-center">
            <img class="information__image" src="/images/saas-escrow/include-party.webp" alt="Include Party Image"/>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12">
            <img class="information__image content-center" src="/images/saas-escrow/designed-for.webp" alt="Designed For Continuity Image"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="information__title">{{ site.data[page.lang]['saas_escrow']['designed_for'] }}</p>
            <p class="information__subtitle">{{ site.data[page.lang]['saas_escrow']['saas_escrow_is_designed'] }} </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-large">
      <div class="container">
        <p class="information__text pb-5">{{ site.data[page.lang]['saas_escrow']['with'] }} <a href="features.html" class="features-href text-bondi-blue">{{ site.data[page.lang]['saas_escrow']['all_features'] }}</a> {{ site.data[page.lang]['saas_escrow']['from'] }} <a href="software-escrow.html" class="software-escrow-href text-bondi-blue">{{ site.data[page.lang]['saas_escrow']['software_escrow'] }}</a> {{ site.data[page.lang]['saas_escrow']['included'] }}:</p>
        <div class="row mt-5 column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <p class="information__title text-align-end">{{ site.data[page.lang]['saas_escrow']['manage_escrows'] }}</p>
            <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['saas_escrow']['the_central_dashboard'] }} </p>
          </div>
          <div class="col-md-6 col-sm-12 content-center">
            <img class="information__image" src="/images/saas-escrow/manage-escrows.webp" alt="Manage Escrow Image"/>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12">
            <img class="information__image content-center" src="/images/saas-escrow/integrated-with.webp" alt="Integrated Image"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="information__title">{{ site.data[page.lang]['saas_escrow']['integrated_with'] }}</p>
            <p class="information__subtitle">{{ site.data[page.lang]['saas_escrow']['recent_version'] }} </p>
          </div>
        </div>
        <div class="row mt-5 column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <p class="information__title text-align-end mt-5">{{ site.data[page.lang]['saas_escrow']['best_priced'] }}</p>
            <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['saas_escrow']['the_recovery_solution'] }}</p>
            <div class="d-flex justify-content-end align-items-center solutions">
              <p class="select-level__price mr-4">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span class="saas-escrow-monthly">$199</span>/{{ site.data[page.lang]['solutions']['month'] }}</p>
              <a class="button btn-cerulean3 pricing-href" href="pricing.html">{{ site.data[page.lang]['saas_escrow']['view_our_pricing'] }}</a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 content-center">
            <img class="information__image" src="/images/saas-escrow/best-priced.webp" alt="Best Priced Image"/>
          </div>
        </div>
      </div>
    </div>

    <div class="we-support__bg2">
      <p class="we-support__title mx-auto">{{ site.data[page.lang]['saas_escrow']['we_support_most'] }}</p>
      <p class="we-support__subtitle mx-auto mt-4">{{ site.data[page.lang]['saas_escrow']['make_it_easy'] }}</p>
      <div class="resources">
        <div class="applications__logos mt-5">
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/bitbucket.svg" alt="Bitbucket Logo"/>
            <p class="applications__logo-text">Bitbucket</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/github.svg" alt="Github Logo"/>
            <p class="applications__logo-text">GitHub</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/gitlab-large.svg" alt="Gitlab Logo"/>
            <p class="applications__logo-text">GitLab</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/git.svg" alt="Git Logo"/>
            <p class="applications__logo-text">Git</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/google-cloud-large.svg" alt="Google Cloud Logo"/>
            <p class="applications__logo-text">Google Cloud</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/azure-large.svg" alt="Microsoft Azure Logo"/>
            <p class="applications__logo-text">Microsoft Azure</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/amazon2.svg" alt="Amazon Web Services Logo"/>
            <p class="applications__logo-text">Amazon Web Services</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-large">
      <p class="difference__main-title">{{ site.data[page.lang]['software_escrow']['saas_escrow_and'] }}</p>
      <div class="table-responsive">
        <table class="table my-5">
          <thead>
            <tr>
              <th scope="col" class="difference__table-title border-none break-spaces">{{ site.data[page.lang]['saas_escrow']['feature_comparison'] }}</th>
              <th scope="col" class="difference__table-recovery border-none text-center break-spaces"> <img class="mr-2 mb-1" src="/images/software-escrow/icons/recovery-white.svg" alt="Recovery White Icon"/>{{ site.data[page.lang]['saas_escrow']['ready_for_recovery'] }}</th>
              <th scope="col" class="difference__table-continuity border-none text-center break-spaces"><img class="mr-2 mb-1" src="/images/software-escrow/icons/continuity-white.svg" alt="Continuity White Icon"/>{{ site.data[page.lang]['saas_escrow']['ready_for_continuity'] }}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white">
              <th class="difference__table-text border-none break-spaces" scope="row">{{ site.data[page.lang]['saas_escrow']['securely_handle'] }}</th>
              <td class="text-center pt-4 border-none bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
              <td class="text-center pt-4 border-none bg-continuity"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['saas_escrow']['solid_escrow'] }}</th>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
              <td class="text-center pt-4 bg-continuity"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['saas_escrow']['legal_process'] }}</th>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
              <td class="text-center pt-4 bg-continuity"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['saas_escrow']['automated_and'] }}</th>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
              <td class="text-center pt-4 bg-continuity"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['saas_escrow']['integrated_with'] }}</th>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
              <td class="text-center pt-4 bg-continuity"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['saas_escrow']['ready_for_recovery'] }}</th>
              <td class="text-center pt-4 bg-recovery"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
              <td class="text-center pt-4 bg-continuity"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['saas_escrow']['protect_hosting'] }}</th>
              <td class="text-center pt-4 bg-recovery"></td>
              <td class="text-center pt-4 bg-continuity"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['saas_escrow']['include_3rd'] }}</th>
              <td class="text-center pt-4 bg-recovery"></td>
              <td class="text-center pt-4 bg-continuity"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
            </tr>
            <tr class="bg-white">
              <th class="difference__table-text break-spaces" scope="row">{{ site.data[page.lang]['saas_escrow']['ready_for_continuity'] }}</th>
              <td class="text-center pt-4 bg-recovery"></td>
              <td class="text-center pt-4 bg-continuity"><img class="mb-2" src="/images/software-escrow/icons/icon-check.svg" alt="Check Icon"/></td>
            </tr>
          </tbody>
        </table>
        <p class="difference__table-subtext">{{ site.data[page.lang]['saas_escrow']['do_you_have'] }} <a href="contact.html" class="text-underline contact-href text-bondi-blue">{{ site.data[page.lang]['saas_escrow']['customer_service'] }}</a> {{ site.data[page.lang]['saas_escrow']['to_get_custom'] }}</p>
      </div>
    </div>

    <div class="container section-large pt-5">
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12">
          <p class="header__info text-secondary-light mt-4">{{ site.data[page.lang]['source_code_escrow']['saas_escrow_assets'] }}</p>
          <p class="easy__main-title">{{ site.data[page.lang]['software_escrow']['securely_store_these'] }}</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="easy__box">
            <img class="easy__icon" src="/images/software-escrow/icons/hosting-environment.svg" alt="Hosting Environment Icon"/>
            <p class="easy__title">{{ site.data[page.lang]['software_escrow']['hosting_environment'] }}</p>
            <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['zero_downtime'] }}</p>
            <a class="easy__link hosting-environment-escrow-href" href="hosting-environment-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="easy__box">
            <img class="easy__icon" src="/images/software-escrow/icons/3rd-party.svg" alt="3rd Party Icon"/>
            <p class="easy__title">{{ site.data[page.lang]['software_escrow']['3rd_party'] }}</p>
            <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['keep_your'] }}</p>
            <a class="easy__link 3rd-party-dependencies-href" href="3rd-party-dependencies.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="your-protection__bg2">
      <img class="your-protection__shape-left" src="/images/software-escrow/protection-left2.webp" alt="Left Background Image"/>
      <img class="your-protection__shape-right" src="/images/software-escrow/protection-right2.webp" alt="Right Background Image"/>
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <p class="header__info"><img class="mr-2 mb-1" src="/images/software-escrow/icons/recovery-icon.svg" alt="Recovery Icon"/>{{ site.data[page.lang]['saas_escrow']['ready_for_recovery'] }}</p>
            <p class="your-protection__title my-4">{{ site.data[page.lang]['saas_escrow']['looking_to_lower'] }}</p>
            <div class="py-3">
              <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/protect-critical.svg" alt="Protect Critical Icon"/>{{ site.data[page.lang]['saas_escrow']['protect_critical'] }}</p>
              <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/escrow-management.svg" alt="Escrow Management Icon"/>{{ site.data[page.lang]['saas_escrow']['easy_escrow'] }}</p>
              <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/quick-recovery.svg" alt="Quick Recovery Icon"/>{{ site.data[page.lang]['saas_escrow']['quick_recovery'] }}</p>
            </div>
            <div class="d-flex justify-content-start align-items-center solutions flex-wrap">
              <p class="select-level__price mr-4">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span class="software-escrow-monthly">$89</span>/{{ site.data[page.lang]['solutions']['month'] }}</p>
              <a class="button btn-cerulean3 software-escrow-href" href="software-escrow.html">{{ site.data[page.lang]['saas_escrow']['more_about'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 content-center">
            <img class="your-protection__image mt-5" src="/images/software-escrow/protect-image.webp" alt="Protect Assets Image"/>
          </div>
        </div>

      </div>
    </div>

    <div class="container section-large pricing">
      <h4 class="section__title text-align-start">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_saas']['what_is_saas'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_saas']['saas_escrow_is'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_saas']['how_does_saas'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_saas']['saas_escrow_tipically'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_saas']['what_are_the_benefits'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_saas']['saas_escrow_offers'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_saas']['how_much_does_saas'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_saas']['saas_escrow_pricing'] }} <a href="pricing.html" class="text-underline pricing-href ">{{ site.data[page.lang]['faq_pricing']['here'] }}</a>.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['what_are_the_supported'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq']['we_support_over'] }} <a href="integrations.html" class="text-underline integrations-href ">{{ site.data[page.lang]['faq_contact']['here'] }}</a>.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_saas']['how_do_i_get'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_saas']['to_get_started'] }} <a href="book-a-demo.html" class="text-underline book-a-demo-href ">{{ site.data[page.lang]['faq']['book_a_demo'] }}</a> {{ site.data[page.lang]['faq']['with_one_of'] }} <a href="pricing.html" class="text-underline pricing-href ">{{ site.data[page.lang]['faq_pricing']['here'] }}</a>.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['how_can_i_be_sure'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq']['your_escrow_agreement_includes'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['what_happens_to_my'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq']['codekeeper_has'] }}</li>
        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['how_secure_are_the'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['we_operate_within'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['do_you_offer'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['absolutely_we_offer'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['what_if_i_need'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['no_problem_we_offer'] }} <a href="software-verification-report-automated.html" class="text-underline automated-verification-href ">{{ site.data[page.lang]['faq']['verification_page'] }}</a>.</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['can_i_transfer'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['absolutely_we_are_here'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['does_codekeeper_have'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['no_to_ensure_complete'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['does_the_beneficiary'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['no_the_beneficiary_will'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['how_are_release_events'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['criteria_that'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['what_happens_in_the'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['in_the_event_of'] }}</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-5">{{ site.data[page.lang]['faq']['if_you_have_any2'] }} </p>
    </div>
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
  
  <script src="/js/faqDropdown.js"></script>
  <script src="/js/monthlyEscrowPricing.js"></script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>