<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

    <!-- Leadinfo tracking code -->
<script>
  (function(l,e,a,d,i,n,f,o){if(!l[i]){l.GlobalLeadinfoNamespace=l.GlobalLeadinfoNamespace||[];
  l.GlobalLeadinfoNamespace.push(i);l[i]=function(){(l[i].q=l[i].q||[]).push(arguments)};l[i].t=l[i].t||n;
  l[i].q=l[i].q||[];o=e.createElement(a);f=e.getElementsByTagName(a)[0];o.async=1;o.src=d;f.parentNode.insertBefore(o,f);}
  }(window,document,"script","https://cdn.leadinfo.net/ping.js","leadinfo","LI-615C0E87ED394"));
  </script>
  <div class="security bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg section-medium">
        <div class="container">
          <h1 class="header__title mx-auto">{{ site.data[page.lang]['security']['security'] }}</h1>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['security']['secure_system'] }}</p>
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-center">
      <img class="header__screen" src="/images/features-page/security-image.svg"/>
    </div>
    <!-- First Section -->
    <div class="pt-5 px-3 position-relative">
      <div class="people__section-container mx-auto">
        <div class="container">
          <h2 class="people__title">{{ site.data[page.lang]['security']['our_security'] }}</h2>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/data-security.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['data_security'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['our_data_centers'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/encryption.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['end_to_end'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['data_is_secured'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/secure-upload.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['secure_upload'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['if_you_prefer'] }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/logs.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['deposit_audit'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['review_the_deposit'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/union.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['gdpr_compliance'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['if_your_deposits'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/heart-hand.svg"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['hipaa_compliance'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['if_your_deposits_contain'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="infrastructure__content-bg mt-negative-150">
      <div class="container section-medium">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h2 class="infrastructure__title">{{ site.data[page.lang]['security']['infrastructure'] }}</h2>
            <p class="infrastructure__subtitle mt-4">{{ site.data[page.lang]['security']['we_provide_different'] }}:</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['network_firewalls'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['encryption_in_transit'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['connectivity_options'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style my-4" src="/images/homepage/infrastructure-image.svg"/>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-7 col-sm-12 mt-5">
            <h2 class="infrastructure__title">{{ site.data[page.lang]['security']['data_encryption'] }}</h2>
            <p class="infrastructure__subtitle mt-4">{{ site.data[page.lang]['security']['we_utilize_encryption'] }}:</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['data_encryption2'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['flexible_key_management'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['encrypted_message'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12 mt-5">
            <h2 class="infrastructure__title">{{ site.data[page.lang]['security']['ddos_mitigation'] }}</h2>
            <p class="infrastructure__subtitle2 mt-4 text-white">{{ site.data[page.lang]['security']['you_can_use'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="px-3 position-relative mt-negative-150">
      <div class="people__section-container mx-auto">
        <div class="container section-small">
          <div class="row pb-5">
            <div class="col-md-6 col-sm-12">
              <h2 class="infrastructure__title text-sherpa-blue">{{ site.data[page.lang]['security']['certifications'] }}</h2>
              <p class="infrastructure__subtitle mt-4">{{ site.data[page.lang]['security']['we_operate_compliant'] }}:</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['cloud_security'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['global_quality'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['security_management'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['cloud_specific'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['personal_data'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['payment_card'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['audit_controls'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['security_availability'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['general_controls'] }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="image-style" src="/images/homepage/certification-image.svg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-negative-50">
      {% include security-guide.html %}
    </div>
    <!-- Fourth Section -->
    <div class="bg-white section-medium">
      <div class="container pricing">
        <h4 class="section__title">{{ site.data[page.lang]['security']['data_center_security'] }}</h4>
        <p class="section__text mt-4 text-center">{{ site.data[page.lang]['security']['our_data_center_partners'] }}</p>
        <ul class="faq mt-5 pl-0">
          <li class="q d-flex align-items-center justify-content-between">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['secure_design'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['site_selection'] }}
          </li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['business_continuity'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['business_continuity_plan'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['physical_access'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['employee_data_center'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['monitoring_logging'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['data_center_access'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['surveillance_detection'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['cctv_physical'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['device_management'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['asset_management'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['operational_support'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['power_our_data'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['infrastructure_maintenance'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['equipment_maintenance'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['goverance_risk'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['ongoing_data'] }}</li>
        </ul>
      </div>
    </div>
    <!-- Fifth Section -->
    {% include secure-assets.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
    
    // Question handler
      $('li.q').on(action, function(){
    
        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)
        
        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();
      
        // Grab img from clicked question
        var img = $(this).children('img');
    
        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');
    
        // toggle rotate class
        img.toggleClass('rotate');
    
      });
    });
  </script>
</body>