<body>
  <div class="security bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg section-medium">
        <div class="container">
          <h1 class="header__title mx-auto">{{ site.data[page.lang]['security']['security'] }}</h1>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['security']['secure_system'] }}</p>
          <a class="button btn-white-lg mt-4 mx-auto" href="pricing.html">
            {{ site.data[page.lang]['security']['get_started'] }}
          </a>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="pb-5">
      <div class="security2__container mx-auto">
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="security2__icon" src="/images/icons/lock-access.svg"/>
            <p class="security2__title2 mt-5">{{ site.data[page.lang]['security']['data_security'] }}</p>
            <div class="section-divider my-3"></div>
            <p class="security2__text">{{ site.data[page.lang]['security']['our_data_centers'] }} </p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="security2__icon" src="/images/icons/processor.svg"/>
            <p class="security2__title2 mt-5">{{ site.data[page.lang]['security']['end_to_end'] }}</p>
            <div class="section-divider my-3"></div>
            <p class="security2__text">{{ site.data[page.lang]['security']['data_is_secured'] }}  </p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="security2__icon" src="/images/icons/folder-upload.svg"/>
            <p class="security2__title2 mt-5">{{ site.data[page.lang]['security']['secure_upload'] }}</p>
            <div class="section-divider my-3"></div>
            <p class="security2__text">{{ site.data[page.lang]['security']['if_you_prefer'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-white">
      <div class="container section-medium">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="section-divider my-3"></div>
            <h2 class="infrastructure__title">{{ site.data[page.lang]['security']['infrastructure'] }}</h2>
            <p class="infrastructure__subtitle mt-4">{{ site.data[page.lang]['security']['we_provide_different'] }}:</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['network_firewalls'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['encryption_in_transit'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['connectivity_options'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="/images/security/infrastructure.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="bg-white">
      <div class="container section-medium">
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="/images/security/mitigation.svg"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="section-divider my-3 ml-auto"></div>
            <h2 class="mitigation__title ml-auto">{{ site.data[page.lang]['security']['ddos_mitigation'] }}</h2>
            <p class="mitigation__subtitle mt-4 ml-auto">{{ site.data[page.lang]['security']['you_can_use'] }} </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Forth Section -->
    <div class="bg-white">
      <div class="container section-medium">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="section-divider my-3"></div>
            <h2 class="infrastructure__title">{{ site.data[page.lang]['security']['data_encryption'] }}</h2>
            <p class="infrastructure__subtitle mt-4">{{ site.data[page.lang]['security']['we_utilize_encryption'] }}:</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['data_encryption2'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['flexible_key_management'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['encrypted_message'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="/images/security/encryption.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    {% include security-guide.html %}
    <!-- Sixth Section -->
    <div class="bg-white">
      <div class="container section-medium">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="section-divider my-3"></div>
            <h2 class="infrastructure__title">{{ site.data[page.lang]['security']['certifications'] }}</h2>
            <p class="infrastructure__subtitle mt-4">{{ site.data[page.lang]['security']['we_operate_compliant'] }}:</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['cloud_security'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['global_quality'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['security_management'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['cloud_specific'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['personal_data'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['payment_card'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['audit_controls'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['security_availability'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-forest-green mr-2"></i>{{ site.data[page.lang]['security']['general_controls'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="image-style" src="/images/security/certifications-logos.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Seventh Section -->
    <div class="bg-white section-medium">
      <div class="container pricing">
        <h4 class="section__title">{{ site.data[page.lang]['security']['data_center_security'] }}</h4>
        <p class="section__text mt-4 text-center">{{ site.data[page.lang]['security']['our_data_center_partners'] }}</p>
        <ul class="faq mt-5 pl-0">
          <li class="q d-flex align-items-center justify-content-between">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['secure_design'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['site_selection'] }}
          </li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['business_continuity'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['business_continuity_plan'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['physical_access'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['employee_data_center'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['monitoring_logging'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['data_center_access'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['surveillance_detection'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['cctv_physical'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['device_management'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['asset_management'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['operational_support'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['power_our_data'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['infrastructure_maintenance'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['equipment_maintenance'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['goverance_risk'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['ongoing_data'] }}</li>
        </ul>
      </div>
    </div>
    <!-- Eight Section -->
    <div class="bg-white py-5">
      <div class="container d-flex flex-column align-items-center">
        <p class="protect__subtext">{{ site.data[page.lang]['security']['we_operate_inside'] }}:</p>
        <img class="datacenter-image" src="/images/logos/datacenter-certifications.svg"/>
      </div>
    </div>
    <!-- Ninth Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
    
    // Question handler
      $('li.q').on(action, function(){
    
        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)
        
        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();
      
        // Grab img from clicked question
        var img = $(this).children('img');
    
        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');
    
        // toggle rotate class
        img.toggleClass('rotate');
    
      });
    });
  </script>
</body>