<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="security bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg section-medium">
        <div class="container">
          <h1 class="header__title mx-auto">{{ site.data[page.lang]['security']['security'] }}</h1>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['security']['secure_system'] }}</p>
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-center">
      <img class="header__screen" src="/images/features-page/security-image.webp" alt="Security Header Image"/>
    </div>
    <!-- First Section -->
    <div class="pt-5 px-3 position-relative">
      <div class="people__section-container mx-auto">
        <div class="container">
          <h2 class="people__title">{{ site.data[page.lang]['security']['our_security'] }}</h2>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/data-security.svg" alt="Data Security Icon"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['data_security'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['our_data_centers'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/encryption.svg" alt="Encryption Icon"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['end_to_end'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['data_is_secured'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/secure-upload.svg" alt="Secure Upload Icon"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['secure_upload'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['if_you_prefer'] }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/logs.svg" alt="Logs Icon"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['deposit_audit'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['review_the_deposit'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/union.svg" alt="Union Icon"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['gdpr_compliance'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['if_your_deposits'] }}</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="people__section-col2">
                <img class="people__section-image mt-3" src="/images/homepage/heart-hand.svg" alt="Heart Hand Icon"/>
                <p class="people__section-title">{{ site.data[page.lang]['security']['hipaa_compliance'] }}</p>
                <p class="people__section-subtitle">{{ site.data[page.lang]['security']['if_your_deposits_contain'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="infrastructure__content-bg mt-negative-150">
      <div class="container section-medium">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h2 class="infrastructure__title">{{ site.data[page.lang]['security']['infrastructure'] }}</h2>
            <p class="infrastructure__subtitle mt-4">{{ site.data[page.lang]['security']['we_provide_different'] }}:</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['network_firewalls'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['encryption_in_transit'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['connectivity_options'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style my-4" src="/images/homepage/infrastructure-image.webp" alt="Infrastructure Image"/>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-7 col-sm-12 mt-5">
            <h2 class="infrastructure__title">{{ site.data[page.lang]['security']['data_encryption'] }}</h2>
            <p class="infrastructure__subtitle mt-4">{{ site.data[page.lang]['security']['we_utilize_encryption'] }}:</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['data_encryption2'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['flexible_key_management'] }}</p>
            <p class="infrastructure__text"><i class="fas fa-circle fa-xs text-white mr-2"></i>{{ site.data[page.lang]['security']['encrypted_message'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12 mt-5">
            <h2 class="infrastructure__title">{{ site.data[page.lang]['security']['ddos_mitigation'] }}</h2>
            <p class="infrastructure__subtitle2 mt-4 text-white">{{ site.data[page.lang]['security']['you_can_use'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="px-3 position-relative mt-negative-150">
      <div class="people__section-container mx-auto">
        <div class="container section-small">
          <div class="row pb-5">
            <div class="col-md-6 col-sm-12">
              <h2 class="infrastructure__title text-sherpa-blue">{{ site.data[page.lang]['security']['certifications'] }}</h2>
              <p class="infrastructure__subtitle text-air-force-blue mt-4">{{ site.data[page.lang]['security']['we_operate_compliant'] }}:</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['cloud_security'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['global_quality'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['security_management'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['cloud_specific'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['personal_data'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['payment_card'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['audit_controls'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['security_availability'] }}</p>
              <p class="infrastructure__text2"><i class="fas fa-circle fa-xs text-bondi-blue mr-2"></i>{{ site.data[page.lang]['security']['general_controls'] }}</p>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="image-style" src="/images/homepage/certification-image.webp" alt="Certification Image"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-negative-50">
      {% include security-guide.html %}
    </div>
    <!-- Fourth Section -->
    <div class="bg-white section-medium">
      <div class="container pricing">
        <h4 class="section__title">{{ site.data[page.lang]['security']['data_center_security'] }}</h4>
        <p class="section__text mt-4 text-center">{{ site.data[page.lang]['security']['our_data_center_partners'] }}</p>
        <ul class="faq mt-5 pl-0">
          <li class="q d-flex align-items-center justify-content-between">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['secure_design'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['site_selection'] }}
          </li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['business_continuity'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['business_continuity_plan'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['physical_access'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['employee_data_center'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['monitoring_logging'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['data_center_access'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['surveillance_detection'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['cctv_physical'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['device_management'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['asset_management'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['operational_support'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['power_our_data'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['infrastructure_maintenance'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['equipment_maintenance'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['security']['goverance_risk'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['security']['ongoing_data'] }}</li>
        </ul>
      </div>
    </div>

    <!-- Fifth Section -->
    <div class="container section-large pricing">
      <h4 class="section__title text-align-center">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_security']['what_is_the'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_security']['to_ensure'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_security']['how_does'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_security']['using_a_combination'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_security']['what_type'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_security']['industry_standard'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_security']['where_is_my'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_security']['your_source_code'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_security']['how_does_codekeeper'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_security']['we_implement'] }}</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_security']['can_i_trust'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_security']['yes_we_are'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_security']['does_codekeeper'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_security']['yes_we_conduct'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_security']['how'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_security']['in_the_unlikely'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_security']['who_can_i'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_security']['we_are2'] }}</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
    </div>
    <!-- Sixth Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
  <script src="/js/faqDropdown.js"></script>
</body>