<body>
  <div class="share">
    <!-- Header -->
    <div class="bg-light-gray">
      <div class="container">
        {% include navigation.html %}
        <div class="share__header-content">
          <h2 class="header__title text-center mt-3">{{ site.data[page.lang]['share_legalsite']['share_legalsite'] }}</h2>
          <p class="share__subtitle mt-3">{{ site.data[page.lang]['share_legalsite']['know_someone'] }}</p>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white py-5">
      <div class="container">
        <div class="share__forms mx-auto pb-5">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
          <script>
            hbspt.forms.create({
            portalId: "6250848",
            formId: "5c974b8e-2aec-489e-b00f-7327f3ef6b65"
          });
          </script>
          <p class="share__subtitle mt-5">{{ site.data[page.lang]['share_legalsite']['you_can_also'] }}</p>
          <input type="text" class="form-control share__input mt-4" value="www.legalsite.co" id="myInput" aria-label="Email">
          <a class="button btn-purple-lg mx-auto mt-4" onclick="myFunction()">
            {{ site.data[page.lang]['share_legalsite']['copy_link'] }}
          </a>
          <p id="copy-link" class="share__copy-link mt-2 mx-auto">{{ site.data[page.lang]['share_legalsite']['copied_link'] }}</p>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-light-gray landing py-5">
      <div class="container">
        <div class="guide__box p-2 my-5">
          <div class="row">
            <div class="col-md-7 col-sm-12 mt-5">
              <p class="guide__title mt-3 mb-1 mx-auto">{{ site.data[page.lang]['share_legalsite']['employee_privacy'] }}</p>
              <p class="guide__subtext mx-auto">{{ site.data[page.lang]['share_legalsite']['get_your_team'] }}</p>
              <p class="guide__subtitle m-2 mx-auto">{{ site.data[page.lang]['share_legalsite']['download_our_guide'] }}</p>
              <a class="button btn-purple-lg mx-auto mb-5 mt-4" href="employee-privacy.html">
                {{ site.data[page.lang]['share_legalsite']['download_free_guide'] }}
              </a>
            </div>
            <div class="col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
              <div class="guide__square my-5">
                <img class="guide__square-image" alt="Image: Employee" src="images/privacy/image-team.png" srcset="images/privacy/image-team@2x.png, images/pricing/image-team@3x.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("myInput");

      /* Select the text field */
      copyText.select(); 
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/

      /* Copy the text inside the text field */
      document.execCommand("copy");

      // $('#copy-link').show();
      $('#copy-link').fadeIn('slow', function(){
        $('#copy-link').delay(1000).fadeOut(); 
      });

      /* Alert the copied text */
      // alert("Copied the text: " + copyText.value);
    }
  </script>
  <script>
    var scntDiv = $('#p_scents');
    var i = $('#p_scents p').length + 1;

    $('#copy-link').hide();
    
    $('body').on('click', '#addScnt', function() {
      $('<p><label for="p_scnts"><input type="text" class="form-control share__input mt-1" id="p_scnt" size="20" name="p_scnt_' + i +'" value="" placeholder="E-mail address" /></label> <a href="#" id="remScnt">Remove</a></p>').appendTo(scntDiv);
      i++;
      return false;
    });
    
    $('body').on('click', '#remScnt', function() { 
      if( i > 2 ) {
              $(this).parents('p').remove();
              i--;
      }
      return false;
    });
  </script>
</body>