<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="registration bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container-fluid sign-up__content">
      <div class="row">
        <div class="col-md-6 col-sm-12 bg-light-gray sign-up__box">
          <img class="sign-up__image" src="/images/Dashboard-escrow.webp" alt="Dashboard Escrow Image"/>
          <div class="sign-up__partners mt-3">
            <p class="sign-up__text text-center">{{ site.data[page.lang]['check_email']['trusted_partner'] }}</p>
            <img class="image-style" src="/images/homepage/partner-logos.svg" alt="Partner Logos"/>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 bg-white sign-up__box">
          <div class="my-5 content-center flex-column">
            <h1 class="sign-up__title">{{ site.data[page.lang]['check_email']['check_your_email'] }}</h1>
            <p class="sign-up__subtitle mt-3">{{ site.data[page.lang]['check_email']['we_have_sent'] }}</p>
            <img class="sign-up__image2 mx-auto" src="/images/homepage/email-image.svg" alt="Email Image"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script>
    hbspt.forms.create({
    portalId: "5365877",
    formId: "c40c5263-c8b7-4e5f-8084-3e475bf2d97d",
    onFormReady: function($form) {
      $form.hide()
      $('input[name=accept_terms_conditions]')[0].checked = true;
      $form[0].submit();
    },
  });
  </script>

  <!-- Snippets -->
  {% include snippets.html %}
</body>