<body>
  <div class="resources bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg">
        <div class="container">
          <h1 class="header__title mx-auto mt-5">{{ site.data[page.lang]['software_source']['software_and_source'] }}</h1>
          <p class="header__subtitle mx-auto mt-5">{{ site.data[page.lang]['software_source']['learn_more_about'] }}</p>
          <a class="button btn-white-lg mt-4 mx-auto" href="pricing.html">
            {{ site.data[page.lang]['software_source']['get_started'] }}
          </a>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white info__bg">
    </div>
    <div class="container">
      <div class="info__box">
        <div>
          <p class="info__title">{{ site.data[page.lang]['software_source']['what_is_a_source'] }}</p>
          <p class="info__subtitle mx-auto mt-4">{{ site.data[page.lang]['software_source']['source_code_or_software'] }}</p>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-light-gray section-medium px-2">
      <p class="info__title2">{{ site.data[page.lang]['software_source']['source_code_escrow'] }}</p>
      <p class="info__subtitle mx-auto mt-4">{{ site.data[page.lang]['software_source']['software_escrow_and'] }}</p>
    </div>
    <!-- Third Section -->
    <div class="bg-white section-medium px-2">
      <p class="info__title2">{{ site.data[page.lang]['software_source']['what_materials_are'] }}</p>
      <p class="info__subtitle mx-auto mt-4">{{ site.data[page.lang]['software_source']['deposit_materials_vary'] }}:</p>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">{{ site.data[page.lang]['software_source']['a_general_description'] }}</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">{{ site.data[page.lang]['software_source']['source_code_common'] }}</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">{{ site.data[page.lang]['software_source']['any_application'] }}</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">{{ site.data[page.lang]['software_source']['build_instructions'] }}</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">{{ site.data[page.lang]['software_source']['encryption_information'] }}</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">{{ site.data[page.lang]['software_source']['key_developers'] }}</p>
      </div>
      <div class="info__box-content mx-auto mt-2">
        <p class="info__bull">&bull; </p>
        <p class="info__subtitle">{{ site.data[page.lang]['software_source']['samples_of_any'] }}</p>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="bg-light-gray section-large">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="section-divider mt-5"></div>
            <h3 class="info__benefits-title">{{ site.data[page.lang]['software_source']['benefits_for_software'] }}</h3>
            <div class="info__benefits-content mt-4">
              <p class="info__bull">&bull; </p>
              <p class="info__benefits-subtitle mt-1">{{ site.data[page.lang]['software_source']['offering_source_code'] }}</p>
            </div>
            <div class="info__benefits-content mt-2">
              <p class="info__bull">&bull; </p>
              <p class="info__benefits-subtitle mt-1">{{ site.data[page.lang]['software_source']['if_your_business'] }}</p>
            </div>
            <div class="info__benefits-content mt-2">
              <p class="info__bull">&bull; </p>
              <p class="info__benefits-subtitle mt-1">{{ site.data[page.lang]['software_source']['you_establish'] }}</p>
            </div>
            <div class="info__benefits-content mt-2">
              <p class="info__bull">&bull; </p>
              <p class="info__benefits-subtitle mt-1">{{ site.data[page.lang]['software_source']['you_increase_security'] }}</p>
            </div>
            <div class="info__benefits-content mt-2">
              <p class="info__bull">&bull; </p>
              <p class="info__benefits-subtitle mt-1">{{ site.data[page.lang]['software_source']['software_escrow_helps'] }}</p>
            </div>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style mb-5" src="/images/guide/benefits-vendors.svg"/>
          </div>
        </div>
        <div class="row mt-5 column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style mb-5" src="/images/guide/benefits-licensees.svg"/>
          </div>
          <div class="col-md-7 col-sm-12 d-flex justify-content-end">
            <div>
              <div class="section-divider mt-5"></div>
              <h3 class="info__benefits-title">{{ site.data[page.lang]['software_source']['benefits_for'] }}</h3>
              <div class="info__benefits-content mt-4">
                <p class="info__bull">&bull; </p>
                <p class="info__benefits-subtitle mt-1">{{ site.data[page.lang]['software_source']['source_code_escrow_projects'] }}</p>
              </div>
              <div class="info__benefits-content mt-2">
                <p class="info__bull">&bull; </p>
                <p class="info__benefits-subtitle mt-1">{{ site.data[page.lang]['software_source']['you_receive_the'] }}</p>
              </div>
              <div class="info__benefits-content mt-2">
                <p class="info__bull">&bull; </p>
                <p class="info__benefits-subtitle mt-1">{{ site.data[page.lang]['software_source']['you_reduce_the_chance'] }}</p>
              </div>
              <div class="info__benefits-content mt-2">
                <p class="info__bull">&bull; </p>
                <p class="info__benefits-subtitle mt-1">{{ site.data[page.lang]['software_source']['you_can_mitigate'] }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    <div class="bg-white section-medium px-2">
      <p class="info__title2">{{ site.data[page.lang]['software_source']['how_does'] }}</p>
      <p class="info__subtitle mx-auto mt-4">{{ site.data[page.lang]['software_source']['with_the_help'] }}</p>
      <a class="button btn-primary-lg mt-4 mx-auto" href="pricing.html">
        {{ site.data[page.lang]['software_source']['see_our_pricing'] }}
      </a>
    </div>
    <!-- Sixth Section -->
    <div class="bg-light-gray section-medium px-2">
      <div class="container">
        <h3 class="info__reading-title mx-auto">{{ site.data[page.lang]['software_source']['further_reading'] }}</h3>
        <p class="info__reading-subtitle mx-auto mt-4">{{ site.data[page.lang]['software_source']['check_out_this'] }} <a class="underline-none" href="https://blog.codekeeper.co">{{ site.data[page.lang]['software_source']['codekeeper_blog'] }}</a> {{ site.data[page.lang]['software_source']['for_everything'] }}</p>
        <div class="row my-5">
          <div class="col-md-7 col-sm-12 px-0">
            <img class="info__reading-image" src="/images/guide/further-reading.svg"/>
          </div>
          <div class="col-md-5 col-sm-12 bg-white p-4">
            <a class="info__reading-text mx-auto" href="https://blog.codekeeper.co/software-escrow-101">{{ site.data[page.lang]['software_source']['the_ultimate_guide'] }}: {{ site.data[page.lang]['software_source']['everything_you_need'] }}</a>
          </div>
        </div>
        <a class="button btn-primary-lg mt-4 mx-auto" href="https://blog.codekeeper.co">
          {{ site.data[page.lang]['software_source']['see_all_articles'] }}
        </a>
      </div>
    </div>
    <!-- Section -->
    {% include get-started.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
</body>