<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-software-escrow">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <p class="header__info"><img class="mr-2 mb-1" src="/images/software-escrow/icons/ready-for-recovery.svg"/>Ready for Recovery</p>
              <h1 class="header__title text-align-start mt-4"><strong>Software Escrow</strong> securely store your software assets, ready for quick recovery</h1>
              <p class="header__subtitle text-align-start mt-4">We provides state-of-the-art <strong>automated integrations</strong> with all developer tools. Easy for developers, peace of mind for software clients.</p>
              <div class="d-flex flex-wrap resources mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 content-center flex-column">
              <img class="image-style mw-530 mt-4" src="/images/software-escrow/hero-software-escrow.webp" alt="Background Image"/>
              <p class="header__subtext mx-auto mt-2">We support all popular developer platforms. 50+ Integrations available.</p>
              <div class="resources">
                <div class="applications__logos mt-4">
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/bitbucket-large.svg"/>
                    <p class="applications__logo-text">Bitbucket</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/github-large.svg"/>
                    <p class="applications__logo-text">GitHub</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3" src="/images/homepage/logos/gitlab-large.svg"/>
                    <p class="applications__logo-text">GitLab</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/git-large.svg"/>
                    <p class="applications__logo-text">Git</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3" src="/images/homepage/logos/google-cloud-large.svg"/>
                    <p class="applications__logo-text">Google<br> Cloud</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/azure-large.svg"/>
                    <p class="applications__logo-text">Microsoft Azure</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/aws-large.svg"/>
                    <p class="applications__logo-text">Amazon<br> Web<br> Services</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid section-medium pricing">
      <p class="protect__subtext text-slate-gray fw-light">{{ site.data[page.lang]['index']['trusted_partner_of'] }}</p>
      <div class="tech-slideshow">
        <div class="slideshow-brands">
          <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
            <img class="protect__logos" src="/images/logos/axxiome.webp"/>
            <img class="protect__logos" src="/images/logos/intuit.webp"/>
            <img class="protect__logos" src="/images/logos/Bayer.webp"/>
            <img class="protect__logos" src="/images/logos/slate-digital.webp"/>
            <img class="protect__logos" src="/images/logos/colorado.webp"/>
            <img class="protect__logos" src="/images/logos/zynga.webp"/>
            <img class="protect__logos" src="/images/logos/gorenje.webp"/>
            <img class="protect__logos" src="/images/logos/axxiome.webp"/>
            <img class="protect__logos" src="/images/logos/intuit.webp"/>
            <img class="protect__logos" src="/images/logos/Bayer.webp"/>
            <img class="protect__logos" src="/images/logos/slate-digital.webp"/>
            <img class="protect__logos" src="/images/logos/colorado.webp"/>
            <img class="protect__logos" src="/images/logos/zynga.webp"/>
            <img class="protect__logos" src="/images/logos/gorenje.webp"/>
            <img class="protect__logos" src="/images/logos/axxiome.webp"/>
            <img class="protect__logos" src="/images/logos/intuit.webp"/>
            <img class="protect__logos" src="/images/logos/Bayer.webp"/>
            <img class="protect__logos" src="/images/logos/slate-digital.webp"/>
            <img class="protect__logos" src="/images/logos/colorado.webp"/>
            <img class="protect__logos" src="/images/logos/zynga.webp"/>
            <img class="protect__logos" src="/images/logos/gorenje.webp"/>
          </div>
          <div class="d-flex align-items-center justify-content-around mt-4 flex-wrap">
            <img class="protect__logos" src="/images/logos/Pepsico_large.webp"/>
            <img class="protect__logos" src="/images/logos/general-electric.webp"/>
            <img class="protect__logos" src="/images/logos/mercedes-benz.webp"/>
            <img class="protect__logos" src="/images/logos/nestle.webp"/>
            <img class="protect__logos" src="/images/logos/Airbus.webp"/>
            <img class="protect__logos" src="/images/logos/the-economist.webp"/>
            <img class="protect__logos" src="/images/logos/Pepsico_large.webp"/>
            <img class="protect__logos" src="/images/logos/general-electric.webp"/>
            <img class="protect__logos" src="/images/logos/mercedes-benz.webp"/>
            <img class="protect__logos" src="/images/logos/nestle.webp"/>
            <img class="protect__logos" src="/images/logos/Airbus.webp"/>
            <img class="protect__logos" src="/images/logos/the-economist.webp"/>
            <img class="protect__logos" src="/images/logos/Pepsico_large.webp"/>
            <img class="protect__logos" src="/images/logos/general-electric.webp"/>
            <img class="protect__logos" src="/images/logos/mercedes-benz.webp"/>
            <img class="protect__logos" src="/images/logos/nestle.webp"/>
            <img class="protect__logos" src="/images/logos/Airbus.webp"/>
            <img class="protect__logos" src="/images/logos/the-economist.webp"/>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-large">
      <p class="scenario__title mx-auto pb-5">How prepared are you for the worst possible scenarios?</p>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-1.svg"/>
          <p class="scenario__subtitle mx-auto">Scenario 1</p>
          <p class="scenario__text mx-auto">Your supplier got sued and instantly went bankrupt. You lost thousands of lines of code!</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-2.svg"/>
          <p class="scenario__subtitle mx-auto">Scenario 2</p>
          <p class="scenario__text mx-auto">You go into the office as usual, to find all your systems are locked by a ransomware attack.</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-3.svg"/>
          <p class="scenario__subtitle mx-auto">Scenario 3</p>
          <p class="scenario__text mx-auto">Your developer decides he wants more money than agreed and holds your software hostage.</p>
        </div>
      </div>
      <p class="scenario__subtext mx-auto">These are just some of the scenarios that happen on daily basis that wipe out entire companies because they loose control over the source codes and the data that powers their business.</p>
    </div>

    <div class="section-large risks__bg">
      <div class="container">
        <p class="risks__title">Risks you can avoid today!</p>
        <p class="risks__subtitle">Modern business moves at a high pace and your software systems are of critical importance. Don’t get caught by a catastrophe when it’s easy to avoid these risks.</p>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12">
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/counter-party.svg"/>Counter Party Risk</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/bankruptcy.svg"/>Bankruptcy</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/stolen-data.svg"/>Stolen Data</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/lawsuits.svg"/>Lawsuits</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/unplanned-downtime.svg"/>Unplanned Downtime</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/catastrophic-events.svg"/>Catastrophic events</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/backup-recovery.svg"/>Backup recovery problems</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/misrepresentation.svg"/>Misrepresentation</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/hacking.svg"/>Hacking</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/ransomware.svg"/>Ransomware</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/sabotage.svg"/>Sabotage</p>
            <p class="risks__text">And many more</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="risks__box">
        <img class="risks__box-shape" src="/images/software-escrow/protect-shape.webp"/>
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <p class="risks__box-text">It’s time to protect your source code and data. Software escrow is the easy and affordable way to protect yourself against risks.</p>
            <div class="d-flex flex-wrap mt-4">
              <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
              </a>
              <div>
                <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="risks__box-image" src="/images/software-escrow/protect-image.webp"/>
          </div>
        </div>
      </div>
    </div>

    <div class="section-large container">
      <p class="header__info text-center"><img class="mr-2 mb-1" src="/images/software-escrow/icons/ready-for-recovery.svg"/>Ready for Recovery</p>
      <p class="information__main-title">Software Escrow</p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center" src="/images/software-escrow/manage-escrows.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">Manage Escrows with Ease</p>
          <p class="information__subtitle">The central dashboard allows you to quickly setup and manage all escrows for your organization. Both depositor and beneficiary on the same platform.</p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end">Designed for Recovery</p>
          <p class="information__subtitle text-align-end ml-auto">The recovery solution means that you store all required assets that are required to qucikly recover in case of a release event.</p>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image" src="/images/software-escrow/designed-for-recovery.webp"/>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center" src="/images/software-escrow/integrated-with.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">Integrated with Developer Workflows</p>
          <p class="information__subtitle">Recent version are always deposited within 24 hours, AES256 encrypted and fully automated. We support more than 50 integrations! </p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end mt-5">Most affordable Escrow option</p>
          <p class="information__subtitle text-align-end ml-auto">The recovery solution means that you store all required assets that are required to qucikly recover in case of a release event.</p>
          <div class="d-flex justify-content-end align-items-center solutions">
            <p class="select-level__price mr-4">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span>$89</span>/{{ site.data[page.lang]['solutions']['month'] }}</p>
            <a class="button btn-cerulean3 pricing-href" href="pricing.html">View Our Pricing</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image" src="/images/software-escrow/most-affordable.webp"/>
        </div>
      </div>
    </div>

    <div class="we-support__bg">
      <p class="we-support__title mx-auto">We support most commercially available environments. 50+ Integrations available.</p>
      <p class="we-support__subtitle mx-auto mt-4">Make it easy for your developers to keep the deposited source code and data up-to-date using our library of integration options.</p>
      <div class="resources">
        <div class="applications__logos mt-5">
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/bitbucket.svg"/>
            <p class="applications__logo-text">Bitbucket</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/github.svg"/>
            <p class="applications__logo-text">GitHub</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/gitlab.svg"/>
            <p class="applications__logo-text">GitLab</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/git.svg"/>
            <p class="applications__logo-text">Git</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/google-cloud2.svg"/>
            <p class="applications__logo-text">Google Cloud</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/azure2.svg"/>
            <p class="applications__logo-text">Microsoft Azure</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/amazon2.svg"/>
            <p class="applications__logo-text">Amazon Web Services</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-large">
      <p class="header__info">Easy & Automated</p>
      <p class="easy__main-title">Securely store these assets, ready for quick recovery</p>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12">
          <div class="easy__box">
            <img class="easy__icon" src="/images/software-escrow/icons/data-source.svg"/>
            <p class="easy__title">Source code</p>
            <p class="easy__subtitle">Make sure source code is deposited as part of your escrow so you can redeploy when needed.</p>
            <a class="easy__link festures-href" href="features.html">Learn more <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="easy__box">
            <img class="easy__icon" src="/images/software-escrow/icons/data.svg"/>
            <p class="easy__title">Data</p>
            <p class="easy__subtitle">Most applications require your data to work well. Deposit databases or backups to make sure you don’t loose track of data.</p>
            <a class="easy__link festures-href" href="features.html">Learn more <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="easy__box">
            <img class="easy__icon" src="/images/software-escrow/icons/documents.svg"/>
            <p class="easy__title">Documents</p>
            <p class="easy__subtitle">Deposit all kinds of intellectual property, sensitive information, and other critical documents.</p>
            <a class="easy__link festures-href" href="features.html">Learn more <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12">
          <div class="easy__box">
            <img class="easy__icon" src="/images/software-escrow/icons/technology.svg"/>
            <p class="easy__title">Technology & Designs</p>
            <p class="easy__subtitle">Use the escrow to deposit intellectual property that has been developed.</p>
            <a class="easy__link festures-href" href="features.html">Learn more <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="easy__box">
            <img class="easy__icon" src="/images/software-escrow/icons/credentials.svg"/>
            <p class="easy__title">Credentials</p>
            <p class="easy__subtitle">One of the most important aspects in getting back up and running. Deposit credentials with ease.</p>
            <a class="easy__link festures-href" href="features.html">Learn more <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white">
      <div class="container d-flex flex-column align-items-center">
        <p class="protect__subtext">{{ site.data[page.lang]['features']['we_operate_within'] }}:</p>
        <img class="datacenter-image" src="/images/logos/datacenter-certifications.webp"/>
      </div>
    </div>

    <div class="your-protection__bg">
      <img class="your-protection__shape-left" src="/images/software-escrow/protection-left.webp" alt="Background Image"/>
      <img class="your-protection__shape-right" src="/images/software-escrow/protection-right.webp" alt="Background Image"/>
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <p class="header__info text-secondary-light"><img class="mr-2 mb-1" src="/images/software-escrow/icons/ready-for-continuity.svg"/>Ready for Continuity</p>
            <p class="your-protection__title my-4">Take your protection to the next level with <strong>SaaS Escrow</strong></p>
            <p class="your-protection__subtitle">Includes all <strong>Software Escrow</strong> features, with additionally:</p>
            <div class="d-flex flex-wrap">
              <p class="your-protection__subtitle fw-bold mr-3"><img class="mr-2 mb-1" src="/images/software-escrow/icons/protect-hosting.svg"/>Protected Hosting Environment</p>
              <p class="your-protection__subtitle fw-bold"><img class="mr-2 mb-1" src="/images/software-escrow/icons/immediate.svg"/>Immediate Recovery</p>
            </div>
            <div class="d-flex justify-content-start align-items-center solutions flex-wrap">
              <p class="select-level__price mr-4">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span>$199</span>/{{ site.data[page.lang]['solutions']['month'] }}</p>
              <a class="button btn-cerulean3 saas-escrow-href" href="saas-escrow.html">More about SaaS Escrow <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 content-center">
            <img class="your-protection__image mt-5" src="/images/software-escrow/protect-image.webp" alt="Background Image"/>
          </div>
        </div>

      </div>
    </div>

    <div class="container section-large pricing">
      <h4 class="section__title text-align-start">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['do_you_also'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['all_accounts_include'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['can_you_tell'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['deposited_source_code'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['can_you_provide_us'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['click'] }} <a href="resources.html" class="text-underline resources-href ">{{ site.data[page.lang]['pricing']['here'] }}</a> {{ site.data[page.lang]['pricing']['to_access_our'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['what_payment_methods'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['we_support_all'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['will_i_get'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['yes_if_you'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['when_does_the_escrow'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['once_you_sign_up'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['does_codekeeper_have'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['no_to_ensure'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['where_is_the_code'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['we_back_up_all'] }}</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['in_which_countries'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['we_have_offices'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['do_you_offer'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['we_offer_different2'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['what_types_of_escrow'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['agreements_for_all'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['can_i_change'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['you_can_make_changes'] }} <a href="mailto: support@codekeeper.co" class="text-underline">{{ site.data[page.lang]['pricing']['send_us_an_email'] }}</a> {{ site.data[page.lang]['pricing']['with_your_new'] }} </li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['how_secure_is'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__modal-subtext">{{ site.data[page.lang]['pricing']['protecting_the_data'] }} <a href="security.html" class="text-underline security-href">{{ site.data[page.lang]['pricing']['learn_more_about'] }}</a></li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['how_long_has'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['codekeeper_was_founded'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['is_there_someone'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['if_you_are_interested'] }} <a href="contact.html" class="text-underline contact-href">{{ site.data[page.lang]['pricing']['here'] }}</a>. {{ site.data[page.lang]['pricing']['if_you_are_an_existing'] }} <a href="mailto: support@codekeeper.co" class="text-underline">{{ site.data[page.lang]['pricing']['email_us'] }}</a> {{ site.data[page.lang]['pricing']['at_any_time'] }}</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-0 text-center">{{ site.data[page.lang]['pricing']['have_not_found'] }}</p>
      <p class="section__text text-center fw-bold"><a href="contact.html" class="text-underline contact-href">{{ site.data[page.lang]['pricing']['contact_us'] }}</a></p>
    </div>

    <!-- Section -->
    <div class="resources">
      <div class="container section-large">
        <img class="image-style" src="/images/landing/companies.webp"/>
      </div>

      <div class="container content-center">
        <p class="people-choose__main-title mw-800 text-bondi-blue pt-5">{{ site.data[page.lang]['index']['these_companies'] }}</p>
      </div>
      <div class="people-choose__bg">
        <div class="container">
          <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['index']['software_escrow_secures'] }}</p>
          <a class="button btn-cerulean3 pricing-href mx-auto px-5 mt-5" href="pricing.html">
            {{ site.data[page.lang]['includes']['intro']['get_started'] }}
          </a>
          <p class="software-escrow__text mt-4 text-center"><i class="fa fa-check-circle text-light-green mr-2"></i>{{ site.data[page.lang]['index']['best_price'] }}</p>
          <p class="software-escrow__text text-center"><i class="fa fa-check-circle text-light-green mr-2"></i>{{ site.data[page.lang]['index']['no_hidden_costs'] }}</p>
        </div>
      </div>


      <div class="mt-150 position-relative">
        <div class="container">
          <div class="intro-guide__bg">
            <img class="intro-guide__image" src="/images/landing/shape-intro.webp" alt="Shape Intro Image"/>
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <p class="intro-guide__title">{{ site.data[page.lang]['includes']['escrow_introduction']['introduction_to_software'] }}: {{ site.data[page.lang]['includes']['escrow_introduction']['a_guide'] }}</p>
                <div class="d-flex align-items-center">
                  <p class="intro-guide__badge">{{ site.data[page.lang]['index']['e_book'] }}</p>
                  <p class="intro-guide__text">{{ site.data[page.lang]['index']['12_pages'] }}</p>
                </div>
                <p class="intro-guide__subtitle">{{ site.data[page.lang]['includes']['escrow_introduction']['learn_how'] }}</p>
                <a class="button btn-secondary-large mt-4" data-toggle="modal" data-target="#exampleModal33">
                  {{ site.data[page.lang]['includes']['intro']['download_guide'] }}
                </a>
              </div>
              <div class="col-md-5 col-sm-12">
                <img class="intro-guide__illustration mt-4" src="/images/landing/intro-guide-image.webp" alt="Intro Guide Image"/>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal33" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content section__modal mx-auto">
              <div class="modal-body p-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="m-0">
                  <div class="section__modal-form p-0 ">
                    <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_ebook'] }}</p>
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <img class="section__modal-image" src="/images/resources-page/guide-introduction.webp"/>
                        <p class="section__modal-subtext mt-0">*{{ site.data[page.lang]['pricing']['ebook_available_only'] }}</p>
                      </div>
                      <div class="col-md-6 col-sm-12 pt-3">
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
                        <script>
                          hbspt.forms.create({
                          portalId: "5365877",
                          formId: "31e6f358-0537-4c45-aa72-b9cc697f4a71"
                        });
                        </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <div class="intro-guide__container">
        <img class="intro-guide__shape-left" src="/images/landing/experts-small-shape.webp" alt="Background Image"/>
        <img class="intro-guide__shape-right" src="/images/landing/experts-large-shape.webp" alt="Background Image"/>
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-12">
              <img class="image-style" src="/images/landing/our-experts.webp" alt="Our Expert Image"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="intro-guide__main-title mt-4">{{ site.data[page.lang]['index']['a_session_with'] }}</p>
              <p class="intro-guide__main-subtitle">{{ site.data[page.lang]['index']['schedule_a_session'] }}</p>
              <a class="button btn-cerulean3 book-a-demo-href my-4" href="book-a-demo.html">
                {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $('#questions').hide();
    $('#hide').hide();

    $(".openLines").click(function(){      
        if ($('#hide').is(":visible")) {
          $('#hide').hide();
          $('#show').show();
        }
        else {
          $('#show').hide();
          $('#hide').show();
        }
        $('#questions').toggle(300);
        //  $("div").toggle(300);
    });
  </script>

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    $( document ).ready(function() {
      $('.open-chat').click(function(){

        window.HubSpotConversations.widget.open();
      });
    });
  </script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

  <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/5365877.js"></script> -->
  <!-- End of HubSpot Embed Code -->
</body>