<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-saas-escrow">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="d-flex align-items-center">
                <img class="mr-2 mb-1" src="/images/landing/icons/data-custodian-shield.svg" alt="Software Custodian Shield Icon" />
                <p class="header__info text-dark-cyan font-35 mb-2">{{ site.data[page.lang]['software_custodian']['software_custodian'] }}</p>
              </div>
              <h1 class="header__title text-align-start mt-4">{{ site.data[page.lang]['software_custodian']['end_to_end'] }}</h1>
              <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['software_custodian']['software_custodian_allows'] }}</p>
              
              <div class="d-flex flex-wrap resources mt-5">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{
                    site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 content-center flex-column">
              <img class="image-style mw-530 mt-4" src="/images/software-custodian/software-custodian-header.webp" alt="Illustration Depicting the Software Lifecycle Dashboard"/>
              <p class="header__subtext mx-auto mt-2">{{ site.data[page.lang]['software_escrow']['we_support_all'] }}
              </p>
              <div class="resources">
                <div class="applications__logos mt-4">
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/bitbucket-large.svg"
                      alt="Bitbucket Logo" />
                    <p class="applications__logo-text">Bitbucket</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/github-large.svg"
                      alt="Github Logo" />
                    <p class="applications__logo-text">GitHub</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/gitlab-large.svg"
                      alt="Gitlab Logo" />
                    <p class="applications__logo-text">GitLab</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/google-cloud-large.svg"
                      alt="Google Cloud Logo" />
                    <p class="applications__logo-text">Google<br> Cloud</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/azure-large.svg"
                      alt="Microsoft Azure Logo" />
                    <p class="applications__logo-text">Microsoft Azure</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/aws-large.svg"
                      alt="Amazon Web Services Logo" />
                    <p class="applications__logo-text">Amazon<br> Web<br> Services</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid section-medium pricing">
      <p class="protect__subtext text-slate-gray fw-light">{{ site.data[page.lang]['index']['trusted_partner_of'] }}</p>
      <!-- Slideshow Brands -->
      {% include slideshow-brands.html %}
    </div>

    <div class="resources">
      <div class="software-escrow__bg-gray min-h-600 pb-100">
        <div class="container d-flex align-items-center flex-column">
          <p class="software-escrow__main-title pt-5 mw-900 mx-auto">{{ site.data[page.lang]['software_custodian']['do_you_have'] }} </p>
          <img class="image-style mw-110 mx-auto my-4" src="/images/software-custodian/have-full-control.svg" alt="Full control over your Software Illustration"/>
          <p class="software-escrow__main-subtitle text-center mt-3 mb-2 font-24 line-height-34 mw-800">{{ site.data[page.lang]['software_custodian']['navigate_the_intricate'] }} </p>
          <p class="software-escrow__main-subtitle text-center mt-4 font-24 line-height-34 pb-5 mw-770">{{ site.data[page.lang]['software_custodian']['its_not_just'] }}</p>
        </div>
      </div>
    </div>
    

    <div class="section-large">
      <div class="container">
        <p class="scenario__subtext mx-auto mt-2 font-24 fw-light text-dark-cyan">{{ site.data[page.lang]['software_escrow2']['do_these_hurdles'] }} </p>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/software-custodian/icons/vendor-complexity.svg"
              alt="Vendor Complexity Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['software_custodian']['vendor_complexity'] }}:</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['software_custodian']['faced_with'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/software-custodian/icons/access-anxiety.svg"
              alt="Access Anxiety Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['software_custodian']['access_anxiety'] }}:</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['software_custodian']['how_confident'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/software-custodian/icons/compliance-challenges.svg"
              alt="Compliance Challenges Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['software_custodian']['compliance_challenges'] }}:</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['software_custodian']['is_ensuring'] }}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-2 col-sm-12"></div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/software-custodian/icons/collaborative.svg"
              alt="Collaborative Oversight Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['software_custodian']['collaborative_oversight'] }}:</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['software_custodian']['when_managing'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/software-custodian/icons/readiness.svg"
              alt="Compliance Readiness Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['software_custodian']['compliance_readiness'] }}: </p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['software_custodian']['can_you_effectively'] }}</p>
          </div>
          <div class="col-md-2 col-sm-12"></div>
        </div>
        <p class="scenario__subtext mx-auto mt-5 pt-4 font-24 fw-600 text-secondary text-italic mw-1000">{{ site.data[page.lang]['software_custodian']['software_custodian_doesnt'] }} </p>
        <p class="scenario__subtext mx-auto mt-5 font-24 fw-600 text-secondary text-italic mw-800">{{ site.data[page.lang]['software_custodian']['our_comprehensive_disaster'] }} </p>
      </div>
    </div>

    <div class="bg-white section-large pt-2 resources">
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12">
            <p class="software-escrow__title mt-4">{{ site.data[page.lang]['software_custodian']['how_do_you'] }}  </p>
            <p class="software-escrow__subtitle">{{ site.data[page.lang]['software_custodian']['laws_and_regulations'] }}</p>
            <div class="software-escrow__devider"></div>
            <div class="d-flex mt-4">
              <i class="fa fa-times text-light-red mr-3 mt-2"></i>
              <p class="software-escrow__text">{{ site.data[page.lang]['software_custodian']['inaccessible_data'] }} </p>
            </div>
            <div class="d-flex mt-3">
              <i class="fa fa-times text-light-red mr-3 mt-2"></i>
              <p class="software-escrow__text">{{ site.data[page.lang]['software_custodian']['audit_failure'] }} </p>
            </div>
            <div class="d-flex mt-3 mb-4">
              <i class="fa fa-times text-light-red mr-3 mt-2"></i>
              <p class="software-escrow__text">{{ site.data[page.lang]['software_custodian']['data_custody'] }}  </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="software-escrow__image" src="/images/software-custodian/data-compliance.webp" alt="Illustration: Guarantee Data Compliance" loading="lazy"/>
          </div>
        </div>
        <div class="row column-reverse-mobile mt-5">
          <div class="col-md-6 col-sm-12">
            <img class="software-escrow__image" src="/images/software-custodian/keeps-track.webp" alt="Illustration: Who keeps track of which data" loading="lazy"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="software-escrow__title mt-4">{{ site.data[page.lang]['software_custodian']['who_keeps_track'] }} </p>
            <p class="software-escrow__subtitle">{{ site.data[page.lang]['software_custodian']['dealing_with_many'] }}</p>
            <div class="software-escrow__devider"></div>
            <div class="d-flex mt-4">
              <i class="fa fa-times text-light-red mr-3 mt-2"></i>
              <p class="software-escrow__text">{{ site.data[page.lang]['software_custodian']['when_your_client'] }}</p>
            </div>
            <div class="d-flex mt-3">
              <i class="fa fa-times text-light-red mr-3 mt-2"></i>
              <p class="software-escrow__text">{{ site.data[page.lang]['software_custodian']['do_you_check'] }} </p>
            </div>
            <div class="d-flex mt-3">
              <i class="fa fa-times text-light-red mr-3 mt-2"></i>
              <p class="software-escrow__text">{{ site.data[page.lang]['software_custodian']['without_controlling'] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gradient-blue4 min-h-700 section-large">
      <div class="container resources">
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12">
            <p class="best-price__text mw-520 text-dark-cyan fw-light font-28 line-height-38">{{ site.data[page.lang]['software_custodian']['in_a_regulatory'] }}</p>
            <p class="best-price__text mw-520 text-dark-cyan fw-light mt-4 font-28 line-height-38">{{ site.data[page.lang]['software_custodian']['we_understand_the'] }}</p>
            <p class="best-price__text mw-520 text-dark-cyan fw-light mt-4 font-28 line-height-38">{{ site.data[page.lang]['software_custodian']['our_software_custodian'] }}</p>
            <p class="best-price__text mw-520 text-bondi-blue font-28 line-height-38 mt-4 fw-600 text-italic">{{ site.data[page.lang]['software_custodian']['your_data_is'] }} </p>
            <p class="best-price__text mw-520 text-bondi-blue font-28 line-height-38 mt-4 fw-600 text-italic">{{ site.data[page.lang]['software_custodian']['lets_transform'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="software-escrow__image" src="/images/landing/our-team.webp" alt="Illustration: Dedicated team focussed on software escrow" loading="lazy"/>
          </div>
        </div>

        <div class="content-center flex-column py-5">
          <p class="best-price__title text-bondi-blue fw-light overflow-wrap-break-mobile mw-700 text-center mx-auto my-5 pt-5">{{ site.data[page.lang]['software_custodian']['these_companies_already'] }}</p>
          <img class="image-style" src="/images/landing/companies.webp" alt="Illustration representing companies that benefit from the service" loading="lazy"/>
        </div>
        
      </div>
    </div>

    <div class="resources bg-secondary-dark position-relative">
      <img class="header__bg-bottom-left-small" src="/images/software-custodian/navigate-shape-small.webp" alt="Background Illustration of the bottom left section"/>
      <img class="header__bg-bottom-right-large" src="/images/software-custodian/navigate-shape-large.webp" alt="Background Illustration of the bottom right section"/>
      <div class="container section-large">
        <p class="deposit-assets__subtitle text-white font-24">{{ site.data[page.lang]['software_custodian']['your_software_custodian'] }}</p>
        <p class="deposit-assets__title text-white mw-570">{{ site.data[page.lang]['software_custodian']['navigate_the_software'] }}:</p>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3" src="/images/landing/icons/step-circle-icon.svg" alt="Circle Icon" loading="lazy"/>
              <div>
                <p class="deposit-assets__subtitle text-white font-24 fw-bold mb-2">{{ site.data[page.lang]['how_it_works']['step_1'] }}: {{ site.data[page.lang]['software_escrow2']['demo_discovery'] }}</p>
                <p class="deposit-assets__text mw-520 font-24 fw-light text-white">{{ site.data[page.lang]['software_custodian']['begin_with_a'] }}</p>
              </div>
              <div class="deposit-assets__dotted-line3"></div>
            </div>
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3" src="/images/landing/icons/step-circle-icon.svg" alt="Circle Icon" loading="lazy"/>
              <div>
                <p class="deposit-assets__subtitle text-white font-24 fw-bold mb-2">{{ site.data[page.lang]['how_it_works']['step_2'] }}: {{ site.data[page.lang]['software_escrow2']['plan_selection'] }}</p>
                <p class="deposit-assets__text mw-520 font-24 fw-light text-white">{{ site.data[page.lang]['software_custodian']['choose_a_service'] }}</p>
              </div>
              <div class="deposit-assets__dotted-line3"></div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3" src="/images/landing/icons/step-circle-icon.svg" alt="Circle Icon" loading="lazy"/>
              <div>
                <p class="deposit-assets__subtitle text-white font-24 fw-bold mb-2">{{ site.data[page.lang]['how_it_works']['step_3'] }}: {{ site.data[page.lang]['software_custodian']['implement_integrate'] }}</p>
                <p class="deposit-assets__text mb-5 mw-520 font-24 fw-light text-white">{{ site.data[page.lang]['software_custodian']['seamlessly_integrate'] }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 software-escrow">
            <img class="w-100 mw-520 mt-4" src="/images/software-custodian/navigate-to-software.webp" alt="Navigate the Software Lifecycle Illustration" loading="lazy"/>
          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center mt-5 mb-3">
          <a class="button btn-yellow mr-4 my-4 text-center z-index-1 pricing-href" href="pricing.html">
            {{ site.data[page.lang]['software_escrow2']['see_pricing'] }}
          </a>
          <p class="deposit-assets__text font-18 fw-400 mw-100 text-white mb-0 my-3 z-index-1">{{ site.data[page.lang]['index']['we_are_around'] }}</p>
        </div>
      </div>
    </div>

    <div class="resources">
      <div class="container pt-100">
        <p class="header__info text-secondary-light text-center pt-5"><img class="mr-2 mb-1" src="/images/software-escrow/icons/continuity-arrows.svg" alt="Arrows Icon" loading="lazy"/>{{ site.data[page.lang]['software_custodian']['ready_for'] }}</p>
        <p class="people-choose__main-title overflow-wrap-break-mobile pt-1">{{ site.data[page.lang]['software_custodian']['software_custodian'] }}</p>
        <p class="people-choose__main-subtitle mx-auto pt-2 mw-900"> {{ site.data[page.lang]['software_custodian']['invite_your_clients'] }}</p>
      </div>
      <div class="people-choose__bg">
        <div class="container">
          <div class="content-center mt-5">
            <img class="people-choose__image mx-auto" src="/images/software-custodian/software-custodian-illustration.webp" alt="Illustration: Dashboard to secure your Software Operations Accountability" loading="lazy"/>
          </div>
          <p class="people-choose__info mx-auto my-4 pt-3">{{ site.data[page.lang]['software_custodian']['the_central_dashboard'] }}</p>
          <a class="button btn-cerulean2 pricing-href mx-auto" href="pricing.html">
            {{ site.data[page.lang]['index']['explore_our_pricing'] }}
          </a>
        </div>
      </div>
    </div>

    <div class="section-large resources">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <img class="software-escrow__image content-center" src="/images/software-custodian/life-cycle-control.webp"
              alt="Illustration Designed for Life Cycle Control" loading="lazy" />
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="information__title">{{ site.data[page.lang]['software_custodian']['designed_for_life'] }}</p>
            <p class="information__subtitle text-slate-gray fw-400">{{ site.data[page.lang]['software_custodian']['use_all_disaster'] }}</p>
            <div class="software-escrow__devider"></div>
            <p class="software-escrow__text mt-4 font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['software_backup'] }}</p>
            <p class="software-escrow__text font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['software_escrow_for'] }}</p>
            <p class="software-escrow__text font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['saas_escrow_for'] }} </p>
            <p class="software-escrow__text font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['extend_with'] }} </p>
          </div>
        </div>
        <div class="row mt-5 column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <p class="information__title">{{ site.data[page.lang]['software_custodian']['data_operations'] }} </p>
            <p class="information__subtitle text-slate-gray fw-400">{{ site.data[page.lang]['software_custodian']['as_custodian_we'] }} </p>
            <div class="software-escrow__devider"></div>
            <p class="software-escrow__text mt-4 font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['gdpr_other'] }}</p>
            <p class="software-escrow__text font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['service_level'] }}</p>
            <p class="software-escrow__text font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['certified_removal'] }} </p>
            <p class="software-escrow__text font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['data_migration'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="software-escrow__image content-center" src="/images/software-custodian/data-operations.webp"
              alt="Illustration Data Operations & SLA Performance" loading="lazy" />
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12">
            <img class="software-escrow__image content-center" src="/images/software-custodian/certificate.webp"
              alt="Software Custodian Certificate Illustration" loading="lazy" />
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="information__title">{{ site.data[page.lang]['software_custodian']['software_custodian_certificate'] }}</p>
            <p class="information__subtitle text-slate-gray fw-400">{{ site.data[page.lang]['software_custodian']['naming_us'] }}</p>
            <div class="software-escrow__devider"></div>
            <p class="software-escrow__text mt-4 font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['use_for_disaster'] }}</p>
            <p class="software-escrow__text font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['use_for_certification'] }}</p>
            <p class="software-escrow__text font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['proposal_and'] }} </p>
          </div>
        </div>
        <div class="row mt-5 column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <p class="information__title">{{ site.data[page.lang]['software_custodian']['regulated_markets'] }}</p>
            <p class="information__subtitle text-slate-gray fw-400">{{ site.data[page.lang]['software_custodian']['several_industries'] }} </p>
            <div class="software-escrow__devider"></div>
            <p class="software-escrow__text mt-4 font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['finance'] }}</p>
            <p class="software-escrow__text font-18 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['healthcare_life'] }}</p>
            <p class="software-escrow__text font-18 text-dark-cyan mb-4"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['government_defense'] }} </p>

          </div>
          <div class="col-md-6 col-sm-12">
            <img class="software-escrow__image content-center" src="/images/software-custodian/regulated-markets.webp"
              alt="Regulated Markets Illustration" loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    
    <div class="section-large bg-gradient-dark-blue2 resources">
      <div class="container">
        <div class="content-center">
          <img class="pt-2" src="/images/landing/icons/data-custodian-shield.svg" alt="Software Custodian Shield Icon" loading="lazy"/>
        </div>
        <p class="people-choose__main-title overflow-wrap-break-mobile pt-2">{{ site.data[page.lang]['software_custodian']['software_custodian'] }}</p>
        <p class="people-choose__main-subtitle mx-auto pt-2 mw-770 text-dark-cyan">{{ site.data[page.lang]['software_custodian']['end_to'] }}</p>
        <a class="button btn-cerulean2 pricing-href mx-auto mt-4" href="pricing.html">
          {{ site.data[page.lang]['software_escrow2']['view_pricing'] }}
        </a>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="mentions__box2 light-box-shadow py-5 px-3">
              <div class="content-center">
                <img class="my-1 mx-auto" src="/images/disaster-recovery/icons/software-escrow-shield-icon.svg" alt="Software Escrow Shield Icon" loading="lazy"/>
              </div>
              <p class="we-support__title mx-auto">{{ site.data[page.lang]['saas_escrow2']['software_escrow_included'] }} </p>
              <p class="we-support__subtitle mx-auto mt-4 font-16 line-height-24 pb-2">{{ site.data[page.lang]['software_custodian']['securely_store'] }} </p>
              <div class="content-center">
                <img class="software-escrow__image mx-auto mw-300" src="/images/software-custodian/software-escrow-included.webp" alt="Illustration: Secure Storage of Source Code - Heart of Your Organization" loading="lazy"/>
              </div>
              <a class="button btn-secondary-large software-escrow-href mx-auto mt-4" href="software-escrow.html">
                {{ site.data[page.lang]['software_escrow']['learn_more'] }}
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="mentions__box2 light-box-shadow py-5 px-3">
              <div class="content-center">
                <img class="my-1 mx-auto" src="/images/disaster-recovery/icons/software-backups-shield-icon.svg" alt="Software Backup Shield Icon" loading="lazy"/>
              </div>
              <p class="we-support__title mx-auto">{{ site.data[page.lang]['saas_escrow2']['software_backup_included'] }}</p>
              <p class="we-support__subtitle mx-auto mt-4 font-16 line-height-24 pb-2">{{ site.data[page.lang]['software_backup']['source_code_and_application'] }} </p>
              <div class="content-center pt-2">
                <img class="software-escrow__image mx-auto mw-300" src="/images/software-custodian/software-backup-included.webp" alt="Illustration: Secure Storage of Source Code - Heart of Your Organization" loading="lazy"/>
              </div>
              <a class="button btn-secondary-large software-backup-href mx-auto mt-4" href="software-backup.html">
                {{ site.data[page.lang]['software_escrow']['learn_more'] }}
              </a>
            </div>
          </div>
        </div>
        <div class="row mb-negative-300">
          <div class="col-md-6 col-sm-12">
            <div class="mentions__box2 light-box-shadow py-5 px-3">
              <div class="content-center">
                <img class="my-1 mx-auto" src="/images/landing/icons/saas-escrow-shield.svg" alt="SaaS Escrow Shield Icon" loading="lazy"/>
              </div>
              <p class="we-support__title mx-auto">{{ site.data[page.lang]['software_custodian']['saas_escrow_included'] }} </p>
              <p class="we-support__subtitle mx-auto mt-4 font-16 line-height-24 pb-2">{{ site.data[page.lang]['software_custodian']['securely_store'] }}</p>
              <div class="content-center">
                <img class="software-escrow__image mx-auto mw-300" src="/images/software-custodian/saas-escrow-included.webp" alt="Illustration: SaaS Escrow to Securely store your Software Assets" loading="lazy"/>
              </div>
              <a class="button btn-secondary-large saas-escrow-href mx-auto mt-4" href="saas-escrow.html">
                {{ site.data[page.lang]['software_escrow']['learn_more'] }}
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="mentions__box2 light-box-shadow py-5 px-3">
              <p class="we-support__title mx-auto mw-420">{{ site.data[page.lang]['software_escrow2']['we_support_most'] }}</p>
              <p class="we-support__subtitle mx-auto fw-700 mt-4">{{ site.data[page.lang]['software_escrow2']['50_plus'] }} </p>
              <p class="we-support__subtitle mx-auto mt-2 mw-490">{{ site.data[page.lang]['software_escrow']['make_it_easy'] }}</p>
              <div class="resources">
                <div class="applications__logos mt-2">
                  <div class="applications__logo">
                    <img class="applications__logo-image" src="/images/homepage/logos/bitbucket.svg" alt="Bitbucket Logo"
                      loading="lazy" />
                    <p class="applications__logo-text">Bitbucket</p>
                  </div>
                  <div class="applications__logo">
                    <img class="applications__logo-image" src="/images/homepage/logos/github.svg" alt="Github Logo"
                      loading="lazy" />
                    <p class="applications__logo-text">GitHub</p>
                  </div>
                  <div class="applications__logo">
                    <img class="applications__logo-image" src="/images/homepage/logos/gitlab-large.svg" alt="Gitlab Logo"
                      loading="lazy" />
                    <p class="applications__logo-text">GitLab</p>
                  </div>
                  
                </div>
                <div class="applications__logos mt-negative-80 mb-1">
                  <div class="applications__logo">
                    <img class="applications__logo-image" src="/images/homepage/logos/google-cloud-large.svg"
                      alt="Google Cloud Logo" loading="lazy" />
                    <p class="applications__logo-text">Google Cloud</p>
                  </div>
                  <div class="applications__logo">
                    <img class="applications__logo-image" src="/images/homepage/logos/azure-large.svg"
                      alt="Microsoft Azure Logo" loading="lazy" />
                    <p class="applications__logo-text">Microsoft Azure</p>
                  </div>
                  <div class="applications__logo">
                    <img class="applications__logo-image" src="/images/homepage/logos/amazon2.svg"
                      alt="Amazon Web Services Logo" loading="lazy" />
                    <p class="applications__logo-text">Amazon Web Services</p>
                  </div>
                </div>

                <a class="button btn-secondary-large book-a-demo-href mx-auto" href="book-a-demo.html">
                  {{ site.data[page.lang]['software_backup']['explore_features'] }}
                </a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="section-large software-escrow bg-paper-white">
      <div class="container pt-100">
        <p class="scenario__subtext mx-auto pt-4 font-24 fw-400 text-light-red">{{ site.data[page.lang]['software_custodian']['dont_let'] }}</p>
        <p class="scenario__title mx-auto py-3 mw-1000 font-35 line-height-38">{{ site.data[page.lang]['software_custodian']['full_life'] }}</p>
        <p class="scenario__subtext mx-auto mt-2 font-24 fw-light mw-800">{{ site.data[page.lang]['software_custodian']['when_accountability'] }} </p>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/software-custodian/icons/disruption.svg"
              alt="Operational Disruption Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['software_custodian']['operational_disruption'] }}</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['software_custodian']['each_gap'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/software-custodian/icons/noncompliance.svg"
              alt="Regulatory Noncompliance Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['software_custodian']['regulatory_noncompliance'] }}</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['software_custodian']['without_a_vigilant'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/software-custodian/icons/stakeholder.svg"
              alt="Stakeholder Mistrust Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['software_custodian']['stakeholder_mistrust'] }}</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['software_custodian']['a_single_oversight'] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="resources section-large">
      <div class="position-relative">
        <div class="container resources ">
          <p class="people-choose__main-title text-dark-cyan fw-light pt-2 overflow-wrap-break-mobile mw-800 mx-auto">{{ site.data[page.lang]['software_custodian']['full_lifecycle'] }}</p>
          <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['software_custodian']['take_control_over'] }}</p>
        </div>
        <div class="container pt-50">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-5 col-sm-12">
              <img class="software-escrow__image mb-5" src="/images/software-custodian/software-custodian-illustration.webp" alt="Illustration: Software Custodian Dashboard" loading="lazy"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title mb-1 overflow-wrap-break-mobile">{{ site.data[page.lang]['software_custodian']['software_custodian'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['software_escrow2']['register_and_start_your'] }}  </p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-3"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['control_your'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_custodian']['multi_layer'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_escrow2']['you_have_a_solid_legal'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_escrow2']['fully_automated'] }}</p>
              <div class="d-flex flex-wrap mt-4 mb-sm-50">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-3" href="book-a-demo.html">
                  {{ site.data[page.lang]['saas_escrow2']['review_features'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="resources bg-gradient-blue5 section-large">
      <div class="container d-flex align-items-center flex-column">
        <img class="my-1" src="/images/landing/icons/saas-escrow-shield.svg" alt="SaaS Escrow Shield Icon" loading="lazy"/>
        <h2 class="intro__title2 mt-2 text-center mw-100">{{ site.data[page.lang]['software_custodian']['looking_to_lower'] }}</h2>
        <p class="intro__subtitle2 mt-3 text-center mw-700">{{ site.data[page.lang]['software_escrow2']['next_level_protection'] }}</p>
        <div class="solutions content-center flex-column mt-4">
          <p class="select-level__price">{{ site.data[page.lang]['solutions']['start_from'] }}<span
              class="enterprise-yearly mx-2">{{ site.data.pricing.prices.enterprise_yearly.USD }}</span>/{{
                site.data[page.lang]['software_backup']['per_application'] }}</p>
          <a class="button btn-cerulean saas-escrow-href px-5 mx-auto" href="saas-escrow.html">
            {{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>


    <!-- Section -->
    {% include demo-intro-simple.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
  
  <script src="/js/faqDropdown.js"></script>
  <script src="/js/monthlyEscrowPricing.js"></script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

  <script>
    // Check if the page has not been reloaded
    if (!localStorage.getItem('pageReloaded')) {
        var yamlData = {{site.data.pricing.prices | jsonify }};
        localStorage.setItem('prices', JSON.stringify(yamlData));
        
        // Set a flag in localStorage to indicate that the page has been reloaded
        localStorage.setItem('pageReloaded', 'true');

        // Reload the page
        window.location.reload();
    } 
  </script>
</body>