<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target; var elem = document.head; elem.appendChild(script);
  </script>
  <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx'
        alt='ClickCease' /></a>
  </noscript>
  <!--  Clickcease.com tracking-->

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-software-escrow">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <p class="header__info"><img class="mr-2 mb-1" src="/images/software-escrow/icons/ready-for-recovery.svg"
                  alt="Ready for Recovery Icon" />Software Backup
              </p>
              <h1 class="header__title text-align-start mt-4">Source code and application data backup made easy</h1>
              <p class="header__subtitle text-align-start mt-4">Effortless, automated backups for all your software source code repositories and databases across major developer platforms.</p>
              <div class="d-flex flex-wrap resources mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{
                    site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 content-center flex-column">
              <img class="image-style mw-530 mt-4" src="/images/software-escrow/hero-software-escrow.webp"
                alt="Software Escrow Storage and Recovery Illustration" />              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid section-medium pricing">
      <p class="protect__subtext text-slate-gray fw-light">{{ site.data[page.lang]['index']['trusted_partner_of'] }}</p>
      <!-- Slideshow Brands -->
      {% include slideshow-brands.html %}
    </div>

    <div class="container section-large">
      <p class="scenario__title mx-auto pb-5">Do You Know Which Digital Assets are at Risk?</p>
      <p class="scenario__subtext mx-auto mt-2 font-18 fw-400">Understanding Your Digital Landscape. <br>In a world driven by software, understanding and protecting your digital assets is critical. 
        But how well do you really know them? And are they up to date?</p>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-1.svg"
            alt="Supplier Bankruptcy Scenario Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto font-24">Asset Awareness</p>
          <p class="scenario__text mx-auto">Can you list all your digital assets and their locations?</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-2.svg"
            alt="Ransomware Attack Scenario Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto font-24">Risk Assessment</p>
          <p class="scenario__text mx-auto">Are you aware of the risks each asset faces?</p>
        </div>
        <div class="col-md-4 col-sm-12">
          <img class="mx-auto d-block my-2" src="/images/software-escrow/icons/scenario-3.svg"
            alt="Developer Hostage Scenario Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto font-24">Preparedness</p>
          <p class="scenario__text mx-auto">Do you have a solution in place if these assets are compromised?</p>
        </div>
      </div>
      
    </div>

    <div class="section-large risks__bg">
      <div class="container">
        <p class="risks__title">{{ site.data[page.lang]['software_escrow']['risks_you_can'] }}</p>
        <p class="risks__subtitle">{{ site.data[page.lang]['software_escrow']['modern_business'] }}</p>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12">
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/counter-party.svg"
                alt="Counter Party Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['counter_party'] }}
            </p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/bankruptcy.svg"
                alt="Bankruptcy Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['bankruptcy'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/stolen-data.svg"
                alt="Stolen Data Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['stolen_data'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/lawsuits.svg"
                alt="Lawsuits Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['lawsuits'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/unplanned-downtime.svg"
                alt="Uplanned Downtime Icon" loading="lazy" />{{
              site.data[page.lang]['software_escrow']['unplanned_downtime'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/catastrophic-events.svg"
                alt="Catastrophic Events Icon" loading="lazy" />{{
              site.data[page.lang]['software_escrow']['catastrophic_events'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/backup-recovery.svg"
                alt="Backup Recovery Icon" loading="lazy" />{{
              site.data[page.lang]['software_escrow']['backup_recovery'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/misrepresentation.svg"
                alt="Misrepresentation Icon" loading="lazy" />{{
              site.data[page.lang]['software_escrow']['misrepresentation'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/hacking.svg" alt="Hacking Icon"
                loading="lazy" />{{ site.data[page.lang]['software_escrow']['hacking'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/ransomware.svg"
                alt="Ransomware Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['ransomware'] }}</p>
            <p class="risks__text"><img class="mr-3" src="/images/software-escrow/icons/sabotage.svg"
                alt="Sabotage Icon" loading="lazy" />{{ site.data[page.lang]['software_escrow']['sabotage'] }}</p>
            <p class="risks__text">{{ site.data[page.lang]['software_escrow']['and_many'] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="risks__box">
        <img class="risks__box-shape" src="/images/software-escrow/protect-shape.webp"
          alt="Abstract protective shape in the background" loading="lazy" />
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <p class="risks__box-text">{{ site.data[page.lang]['software_escrow']['its_time_to'] }}</p>
            <div class="d-flex flex-wrap mt-4">
              <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
              </a>
              <div>
                <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                <a class="header__link pricing-href" href="pricing.html">{{
                  site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right"
                    aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="risks__box-image" src="/images/software-escrow/protect-image.webp"
              alt="Software escrow protection illustration" loading="lazy" />
          </div>
        </div>
      </div>
    </div>

    <div class="section-large container">
      <p class="header__info text-center"><img class="mr-2 mb-1"
          src="/images/software-escrow/icons/ready-for-recovery.svg" alt="Ready for Recovery Icon" loading="lazy" />{{
        site.data[page.lang]['software_escrow']['ready_for_recovery'] }}</p>
      <p class="information__main-title">{{ site.data[page.lang]['software_escrow']['software_escrow'] }}</p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center" src="/images/software-escrow/manage-escrows.webp"
            alt="Dashboard interface for managing escrows" loading="lazy" />
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">{{ site.data[page.lang]['software_escrow']['manage_escrows'] }}</p>
          <p class="information__subtitle">{{ site.data[page.lang]['software_escrow']['the_central_dashboard'] }}</p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end">{{
            site.data[page.lang]['software_escrow']['designed_for_recovery'] }}</p>
          <p class="information__subtitle text-align-end ml-auto">{{
            site.data[page.lang]['software_escrow']['the_recovery_solution'] }}</p>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image" src="/images/software-escrow/designed-for-recovery.webp"
            alt="Recovery Solution Illustration" loading="lazy" />
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center" src="/images/software-escrow/integrated-with.webp"
            alt="Integration with developer workflows illustration" loading="lazy" />
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">{{ site.data[page.lang]['software_escrow']['integrated_with'] }}</p>
          <p class="information__subtitle">{{ site.data[page.lang]['software_escrow']['recent_version'] }} </p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end mt-5">{{
            site.data[page.lang]['software_escrow']['most_affordable'] }}</p>
          <p class="information__subtitle text-align-end ml-auto">{{
            site.data[page.lang]['software_escrow']['the_recovery_solution'] }}</p>
          <div class="d-flex justify-content-end align-items-center solutions">
            <p class="select-level__price mr-4">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span
                class="software-escrow-monthly">{{ site.data.pricing.prices.software_escrow_monthly.USD }}</span>/{{
              site.data[page.lang]['solutions']['month'] }}</p>
            <a class="button btn-cerulean3 pricing-href" href="pricing.html">{{
              site.data[page.lang]['software_escrow']['view_our_pricing'] }}</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image" src="/images/software-escrow/most-affordable.webp"
            alt="Affordable Pricing Illustration" loading="lazy" />
        </div>
      </div>
    </div>

    <div class="resources section-large">
      <div class="position-relative">
        <div class="container resources ">
          <p class="people-choose__main-title text-dark-cyan fw-light pt-2 overflow-wrap-break-mobile">{{ site.data[page.lang]['index']['disaster_recovery_planning'] }}</p>
          <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['index']['ensure_your_place'] }}</p>
          <div class="content-center mt-4">
            <img class="software-escrow__image mw-530" src="/images/landing/disaster-recovery-planning.webp" alt="Illustration: Disaster Recovery Planning for Guaranteed Continuity" loading="lazy"/>
          </div>
        </div>
        
        <div class="container pt-50">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-5 col-sm-12">
              <img class="software-escrow__image mb-5" src="/images/landing/disaster-recovery-dashboard-toolkit.webp" alt="Illustration: Disaster Recovery Planning Toolkit" loading="lazy"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title mb-1 overflow-wrap-break-mobile">{{ site.data[page.lang]['index']['disaster_recovery_planning_toolkit'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['index']['register_for_free'] }}</p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-3"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['information_assets_list'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['internal_and_external'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['risk_register'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['risk_mitigation'] }}</p>
              <div class="d-flex flex-wrap mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-3" href="book-a-demo.html">
                  {{ site.data[page.lang]['index']['download_risk_assessment'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="resources mb-100">
      <div class="container-fluid px-0">
        <div class="intro__bg">
          <div class="intro__col-green bg-gradient-blue2">
            <div class="intro__col-green-spacing">
              <img class="intro__image pb-3" src="/images/landing/get-started.webp" alt="Get Started Illustration" loading="lazy"/>
              <h2 class="intro__title2 mt-4">Take your protection to the next level with <strong>Software backup</strong></h2>
              <p class="intro__subtitle2 mt-3">{{ site.data[page.lang]['includes']['intro']['software_escrow'] }}</p>
              <a class="button btn-bondi-blue my-4 mr-4 pricing-href" href="pricing.html">
                {{ site.data[page.lang]['includes']['intro']['get_started'] }}
              </a>
            </div>
          </div>
          <div class="intro__col bg-gradient-blue3">
            <div class="intro__col-spacing">
              <img class="intro__image pb-3" src="/images/landing/get-started.webp" alt="Get Started Illustration" loading="lazy"/>
              <h2 class="intro__title2 mt-4">Take your protection to the next level with <strong>Software Escrow</strong></h2>
              <p class="intro__subtitle2 mt-3">{{ site.data[page.lang]['includes']['intro']['software_escrow'] }}</p>
              <a class="button btn-bondi-blue my-4 mr-4 pricing-href" href="pricing.html">
                {{ site.data[page.lang]['includes']['intro']['get_started'] }}
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
  <script src="/js/faqDropdown.js"></script>
  <script src="/js/monthlyEscrowPricing.js"></script>
  <script src="/js/geolocationPricing.js"></script>
  <script src="/js/pricingCheckout.js"></script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
  <script>
    // Check if the page has not been reloaded
    if (!localStorage.getItem('pageReloaded')) {
      var yamlData = {{ site.data.pricing.prices | jsonify
    }};
    localStorage.setItem('prices', JSON.stringify(yamlData));

    // Set a flag in localStorage to indicate that the page has been reloaded
    localStorage.setItem('pageReloaded', 'true');

    // Reload the page
    window.location.reload();
    } 
  </script>
</body>