<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="solutions">
      <div class="header__content">
        <div class="header__bg-new">
          <img class="header__bg-top-left2" src="/images/verification-page/top-left.webp" alt="Left Background Image"/>
          <img class="header__bg-right-shape2" src="/images/verification-page/verification-shape.webp" alt="Verification Background Image"/>
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <h1 class="header__title text-align-start mt-4 text-secondary mw-100 overflow-wrap-break">{{ site.data[page.lang]['manual_verification']['manual_verification'] }}<sup class="header__add-on">Add-on</sup></h1>
                <p class="header__subtitle text-align-start mt-4 font-35 line-height-40">{{ site.data[page.lang]['manual_verification']['in_depth'] }}</p>
                <p class="header__subtitle text-align-start mt-4 mw-570">{{ site.data[page.lang]['manual_verification']['dive_deep'] }}</p>
                <div class="d-flex flex-wrap resources mt-4">
                  <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                    {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                  </a>
                  <div>
                    <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                    <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-12 content-center">
                <img class="image-style mw-530 mt-4" src="/images/verification-page/manual-verification.webp" alt="Manual Verification Image"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="resources section-large">
      <div class="container">
        <div class="row mb-negative-200 column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style mw-530 my-4" src="/images/verification-page/manual-code.webp" alt="Manual Code Image"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="header__subtitle mt-4 font-35 line-height-40 text-dark-cyan text-align-start overflow-wrap-break">{{ site.data[page.lang]['manual_verification']['comprehensive_manual'] }}</p>
            <p class="header__subtitle mt-4 font-16 text-slate-gray text-align-start">{{ site.data[page.lang]['manual_verification']['when_it_comes'] }}</p>
          </div>
        </div>
      </div>
      <div class="people-choose__bg"></div>
    </div>
    <!-- Section -->
    <div class="resources pb-200">
      <div class="container">
        <p class="header__subtitle mt-4 font-35 line-height-40 text-dark-cyan mw-100">{{ site.data[page.lang]['automated_verification']['key_features'] }}</p>
        <div class="row mt-5">
          <div class="col-md-3 col-sm-12 mt-4 d-flex align-items-center flex-column">
            <img class="image-160 mb-4" src="/images/verification-page/icons/in-depth-review.svg" alt="In Depth Review Icon"/>
            <p class="header__subtitle font-20 text-dark-cyan mw-200">{{ site.data[page.lang]['manual_verification']['in_depth_review'] }}</p>
          </div>
          <div class="col-md-3 col-sm-12 mt-4 d-flex align-items-center flex-column">
            <img class="image-160 mb-4" src="/images/verification-page/icons/ensures-regularity.svg" alt="Ensure Regularity Icon"/>
            <p class="header__subtitle font-20 text-dark-cyan mw-200">{{ site.data[page.lang]['manual_verification']['ensures_regularity'] }}</p>
          </div>
          <div class="col-md-3 col-sm-12 mt-4 d-flex align-items-center flex-column">
            <img class="image-160 mb-4" src="/images/verification-page/icons/potential-problems.svg" alt="Potential Problems Icon"/>
            <p class="header__subtitle font-20 text-dark-cyan mw-260">{{ site.data[page.lang]['manual_verification']['identifies_and'] }}</p>
          </div>
          <div class="col-md-3 col-sm-12 mt-4 d-flex align-items-center flex-column">
            <img class="image-160 mb-4" src="/images/verification-page/icons/improves-overall.svg" alt="Improves Overall Icon"/>
            <p class="header__subtitle font-20 text-dark-cyan">{{ site.data[page.lang]['manual_verification']['improves_overall'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="pricing clients__content-bg3 section-large position-relative">
      <img class="clients__bg-left2" src="/images/verification-page/bg-bottom-left2.webp" alt="Left Background Image"/>
      <img class="clients__bg-right2" src="/images/verification-page/bg-top-right2.webp" alt="Right Background Image"/>
      <div class="container">
        <p class="verify__section-main-title3 pb-3">{{ site.data[page.lang]['manual_verification']['our_manual'] }}</p>
        <div class="row">
          <div class="col-lg-6 col-md-12 mt-4">
            <div class="verify__section-box min-h-320">
              <p class="verify__section-title pb-3 text-dark-cyan">{{ site.data[page.lang]['verification']['verification_advanced2'] }}</p>
              <p class="verify__col-subtitle text-slate-gray fw-400 mw-100 min-h-auto mb-0">{{ site.data[page.lang]['manual_verification']['includes_source'] }}</p>
              <p class="verify__col-text"><span class="verify__col-text verification-advanced text-secondary">{{ site.data.pricing.prices.verification_advanced.USD }}</span><span>/ {{ site.data[page.lang]['verification']['report'] }}</span></p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 mt-4">
            <div class="verify__section-box min-h-320">
              <p class="verify__section-title pb-3 text-dark-cyan">{{ site.data[page.lang]['verification']['verification_complete2'] }}</p>
              <p class="verify__col-subtitle text-slate-gray fw-400 mw-100 min-h-auto mb-0">{{ site.data[page.lang]['manual_verification']['everything_in'] }}</p>
              <img class="my-2" src="/images/verification-page/icons/plus-icon.svg" alt="Plus Icon"/>
              <p class="verify__col-subtitle text-slate-gray fw-400 mw-100 min-h-auto pb-1">{{ site.data[page.lang]['manual_verification']['testing_of'] }}</p>
              <p class="verify__col-text"><span class="verify__col-text verification-complete text-secondary">{{ site.data.pricing.prices.verification_complete.USD }}<span>/ {{ site.data[page.lang]['verification']['report'] }}</span></p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap mt-5 content-center">
          <p class="section__text text-center text-white fw-400">{{ site.data[page.lang]['automated_verification']['need_a_custom'] }}&nbsp;</p>
          <p class="section__text text-center fw-bold text-first-capitalize"><a href="contact.html" class="text-underline contact-href text-yellow fw-400">{{ site.data[page.lang]['verification']['let_us_know'] }}</a></p>
        </div>
        <div class="content-center">
          <a class="button btn-yellow-small book-a-demo-href mb-4" href="book-a-demo.html">
            {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
          </a>
        </div>
      </div>
    </div>
    <div class="resources section-large">
      <div class="container">
        <p class="header__subtitle mt-4 font-35 line-height-40 text-dark-cyan mw-100 text-align-start">{{ site.data[page.lang]['manual_verification']['safeguarding'] }}:<br><strong>{{ site.data[page.lang]['manual_verification']['an_array'] }}</strong></p>
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/bankruptcy.svg" alt="Bankruptcy Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['banckruptcy'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['ensure_the'] }}</p>
          </div>
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/suspicios.svg" alt="Suspicios Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['suspicion'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['detect_potential'] }}</p>
          </div>
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/violation.svg" alt="Violation of Licensing Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['violation_of'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['verify_whether'] }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/intellectual.svg" alt="Intellectual Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['intellectual'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['confirm_or'] }}</p>
          </div>
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/non-responsive.svg" alt="Non Responsive Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['non_responsive'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['verify_the_code'] }}</p>
          </div>
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/change.svg" alt="Change Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['change_in'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['check_code'] }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/long-term.svg" alt="Long Term Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['long_term'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['regularly_verify'] }}</p>
          </div>
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/supplier.svg" alt="Supplier Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['supplier'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['ascertain_the'] }}</p>
          </div>
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/lack-of.svg" alt="Lack of Updates Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['lack_of'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['confirm_the'] }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/quality.svg" alt="Quality Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['quality'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['verify_source'] }}</p>
          </div>
          <div class="col-lg-4 col-md-12">
            <img class="mb-3 mt-5" src="/images/verification-page/icons/third-party.svg" alt="Third Party Icon"/>
            <p class="clients__content-title text-dark-cyan fw-600">{{ site.data[page.lang]['manual_verification']['third_party'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['manual_verification']['confirm_continued'] }}</p>
          </div>
          <div class="col-lg-4 col-md-12">
          </div>
        </div>
  
      </div>
    </div>
    
    <!-- Section -->
    <div class="clients__content-bg2 position-relative">
      <img class="clients__bg-right3" src="/images/verification-page/top-left.webp" alt="Left Background Image"/>
      <div class="container">
        <h2 class="clients__title mt-3 font-35 text-align-start">{{ site.data[page.lang]['verification']['secure_your_code'] }}</h2>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="d-flex align-items-center">
              <img class="clients__content-image" src="/images/verification-page/deposit-icon2.svg" alt="Deposit Icon"/>
              <div class="clients__content-line2"></div>
            </div>
            <p class="clients__content-title text-dark-cyan">{{ site.data[page.lang]['verification']['deposit'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['verification']['escrow_deposits_sometimes'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="d-flex align-items-center">
              <img class="clients__content-image" src="/images/verification-page/verify-icon2.svg" alt="Verify Icon"/>
              <div class="clients__content-line2"></div>
            </div>
            <p class="clients__content-title text-dark-cyan">{{ site.data[page.lang]['verification']['verify'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['verification']['different_levels'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="clients__content-image" src="/images/verification-page/release-icon2.svg" alt="Release Icon"/>
            <p class="clients__content-title text-dark-cyan">{{ site.data[page.lang]['verification']['release'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['verification']['verification_provides'] }}</p>
          </div>
        </div>
        <p class="clients__content-title text-dark-cyan font-24 fw-400 mt-5">{{ site.data[page.lang]['automated_verification']['add_verification_to'] }}</p>
        <div class="d-flex flex-wrap resources mt-4">
          <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
            {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
          </a>
          <div>
            <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
            <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="section-large pricing book-demo container">
      <p class="questions__title">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</p>
      <ul class="faq mt-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between bg-white">
          <p class="section__subtitle mt-3 text-dark-cyan">{{ site.data[page.lang]['manual_verification']['what_is_manual'] }} </p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text bg-white">{{ site.data[page.lang]['manual_verification']['manual_code'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border bg-white">
          <p class="section__subtitle mt-3 text-dark-cyan">{{ site.data[page.lang]['manual_verification']['why_should'] }} </p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text bg-white">{{ site.data[page.lang]['manual_verification']['manual_code_verification'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border bg-white">
          <p class="section__subtitle mt-3 text-dark-cyan">{{ site.data[page.lang]['manual_verification']['how_long'] }} </p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text bg-white">{{ site.data[page.lang]['manual_verification']['the_duration'] }}</li>
      </ul>
      <p class="section__text mt-5 mb-5">{{ site.data[page.lang]['pricing']['have_not_found'] }} <a class="text-bondi-blue contact-href fw-bold" href="contact.html">{{ site.data[page.lang]['pricing']['contact_us'] }}</a></p>
    </div>
    <!-- Section -->
    <div class="container resources pb-200">
      <div class="best-price__bg2">
        <img class="best-price__small-shape3" src="/images/verification-page/secure-shape-small.webp" alt="Small Shape Image"/>
        <img class="best-price__large-shape3" src="/images/verification-page/secure-shape-large.webp" alt="Large Shape Image"/>
        <div class="row mt-3">
          <div class="col-md-5 col-sm-12 content-center">
            <img class="best-price__image mb-3 mw-200" src="/images/verification-page/secure-your-code.webp" alt="Secure Your Code Image"/>
          </div>
          <div class="col-md-7 col-sm-12"> 
            <p class="best-price__title2 mt-4">{{ site.data[page.lang]['manual_verification']['invest_in'] }}</p>
            <div class="d-flex align-items-center flex-wrap">
              <a class="button btn-yellow pricing-href my-4" href="pricing.html">
                {{ site.data[page.lang]['index']['explore_our_pricing'] }}
              </a>
              <a class="header__link book-a-demo-href text-white ml-3 font-16" href="book-a-demo.html">{{ site.data[page.lang]['automated_verification']['or_book'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}

  <script src="/js/faqDropdown.js"></script>

<script>
  var pathname = location.pathname;
  var pricesData = localStorage.getItem('prices');
  var prices = JSON.parse(pricesData);
  
  $( document ).ready(function() {
    $.ajax('https://ipapi.co/json')
    .then(
      function success(response) {
        if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
            if (pathname.includes('/fr/')) {
              $('.verification-advanced').text(prices.verification_advanced.EUR-FR);
              $('.verification-complete').text(prices.verification_complete.EUR-FR);
            }
            else {
              $('.verification-advanced').text(prices.verification_advanced.EUR);
              $('.verification-complete').text(prices.verification_complete.EUR);
            }
        }
        else if (response.currency === 'GBP') {
          $('.verification-advanced').text(prices.verification_advanced.GBP);
          $('.verification-complete').text(prices.verification_complete.GBP);
        }
        else if (response.currency === 'INR') {
          $('.verification-advanced').text(prices.verification_advanced.INR);
          $('.verification-complete').text(prices.verification_complete.INR);
        }
        else if (response.currency === 'AUD') {
          $('.verification-advanced').text(prices.verification_advanced.AUD);
          $('.verification-complete').text(prices.verification_complete.AUD);
        }
        else if (response.currency === 'SGD') {
          $('.verification-advanced').text(prices.verification_advanced.SGD);
          $('.verification-complete').text(prices.verification_complete.SGD);
        }
        else if (response.currency === 'ZAR') {
          $('.verification-advanced').text(prices.verification_advanced.ZAR);
          $('.verification-complete').text(prices.verification_complete.ZAR);
        }
        else if (response.currency === 'CHF') {
          $('.verification-advanced').text(prices.verification_advanced.CHF);
          $('.verification-complete').text(prices.verification_complete.CHF);
        }
        else if (response.currency === 'CAD') {
          $('.verification-advanced').text(prices.verification_advanced.CAD);
          $('.verification-complete').text(prices.verification_complete.CAD);
        }
      },
      function fail(data, status) {
          console.log('Request failed.  Returned status of',
                      status);
      }
    )
    .catch((e) => console.log(e))
  });
</script>
<script>
  var yamlData = {{site.data.pricing.prices | jsonify }};

  localStorage.setItem('prices', JSON.stringify(yamlData));
</script>

</body>