<body>
    <!--  Clickcease.com tracking-->
    <script type='text/javascript'>var script = document.createElement('script');
      script.async = true; script.type = 'text/javascript';
      var target = 'https://www.clickcease.com/monitor/stat.js';
      script.src = target;var elem = document.head;elem.appendChild(script);
      </script>
      <noscript>
      <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
      </noscript>
      <!--  Clickcease.com tracking-->
  
    <div class="bg-white solutions">
      <!-- Navigation -->
      {% include navigation.html %}
      <!-- Header -->
      <div class="header__content">
        <div class="header__bg-new">
          <img class="header__bg-top-left" src="/images/solutions/top-left.webp" alt="Background Image"/>
          <img class="header__bg-bottom-right" src="/images/solutions/bottom-right.webp" alt="Background Image"/>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h1 class="header__title text-align-start mt-4">{{ site.data[page.lang]['solutions']['state_of_the_art'] }}</h1>
                <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['solutions']['go_for_quick'] }}</p>
                <div class="d-flex flex-wrap resources mt-4">
                  <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="software-escrow-demo.html">
                    {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                  </a>
                  <div>
                    <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                    <a class="header__link pricing-href" href="how-much-does-software-escrow-cost.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 content-center">
                <img class="image-style mw-530 mt-4" src="/images/solutions/solutions-image.webp" alt="Background Image"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-150 bg-white">
        <div class="container mb-negative-200">
          <p class="select-level__main-title mt-4 pb-4">{{ site.data[page.lang]['solutions']['select_your_level'] }}</p>
          <p class="select-level__main-subtitle mt-4 pb-4 mx-auto">{{ site.data[page.lang]['solutions']['based_on_your'] }}: </p>
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
              <div class="select-level__col">
                <div class="select-level__bg">
                  <p class="select-level__badge-recovery mx-auto"><img class="mr-2" src="/images/solutions/icons/recovery-icon.svg" alt="Icon"/>{{ site.data[page.lang]['solutions']['ready_for_recovery'] }}</p>
                  <p class="select-level__title mt-5 pb-4">{{ site.data[page.lang]['solutions']['software_escrow'] }}</p>
                </div>
                <img class="select-level__image" src="/images/solutions/software-escrow.webp" alt="Software Escrow"/>
                <div class="select-level__content">
                  <div class="d-flex align-items-start mt-3">
                    <img class="mr-2" src="/images/solutions/icons/software-assets.svg" alt="Icon"/>
                    <div>
                      <p class="select-level__text mb-1">{{ site.data[page.lang]['solutions']['protect_critical'] }}</p>
                      <p class="select-level__subtext">{{ site.data[page.lang]['solutions']['automated_deposit'] }}</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start mt-3">
                    <img class="mr-2" src="/images/solutions/icons/escrow-management.svg" alt="Icon"/>
                    <div>
                      <p class="select-level__text mb-1">{{ site.data[page.lang]['solutions']['easy_escrow'] }}</p>
                      <p class="select-level__subtext">{{ site.data[page.lang]['solutions']['the_central_dashboard'] }}</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start mt-3">
                    <img class="mr-2" src="/images/solutions/icons/quick-recovery.svg" alt="Icon"/>
                    <div>
                      <p class="select-level__text mb-1">{{ site.data[page.lang]['solutions']['quick_recovery'] }}</p>
                      <p class="select-level__subtext">{{ site.data[page.lang]['solutions']['quick_recovery_in_case'] }} </p>
                    </div>
                  </div>
                  <div class="select-level__devider"></div>
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <p class="select-level__price">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span class="software-escrow-monthly">$89</span>/{{ site.data[page.lang]['solutions']['month'] }}</p>
                    <a class="button btn-cerulean3 software-escrow-href" href="what-is-software-escrow.html">
                      {{ site.data[page.lang]['solutions']['more_about_software'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="select-level__col">
                <div class="select-level__bg2">
                  <p class="select-level__badge-continuity mx-auto"><img class="mr-2" src="/images/solutions/icons/continuity-icon.svg" alt="Icon"/>{{ site.data[page.lang]['solutions']['ready_for_continuity'] }}</p>
                  <p class="select-level__title mt-5 pb-4">{{ site.data[page.lang]['solutions']['saas_escrow'] }}</p>
                </div>
                <img class="select-level__image" src="/images/solutions/saas-escrow.webp" alt="Saas Escrow"/>
                <div class="select-level__content">
                  
                  <p class="select-level__subtitle mx-auto">{{ site.data[page.lang]['solutions']['include_all'] }}</p>
                  <img class="mx-auto d-block mb-4" src="/images/solutions/icons/plus.svg" alt="Icon"/>
                  <div class="d-flex align-items-start mt-3">
                    <img class="mr-2" src="/images/solutions/icons/hosting.svg" alt="Icon"/>
                    <div>
                      <p class="select-level__text mb-1">{{ site.data[page.lang]['solutions']['protect_hosting'] }}</p>
                      <p class="select-level__subtext">{{ site.data[page.lang]['solutions']['include_the'] }}</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-start mt-3">
                    <img class="mr-2" src="/images/solutions/icons/immediate-recovery.svg" alt="Icon"/>
                    <div>
                      <p class="select-level__text mb-1">{{ site.data[page.lang]['solutions']['immediate_recovery'] }}</p>
                      <p class="select-level__subtext">{{ site.data[page.lang]['solutions']['no_downtime'] }} </p>
                    </div>
                  </div>
                  <div class="select-level__devider"></div>
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <p class="select-level__price">{{ site.data[page.lang]['solutions']['start_from'] }}<br><span class="saas-escrow-monthly">$199</span>/{{ site.data[page.lang]['solutions']['month'] }}</p>
                    <a class="button btn-cerulean3 saas-escrow-href" href="saas-escrow.html">
                      {{ site.data[page.lang]['solutions']['more_about_saas'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-large bg-alice-blue pt-400">
        <div class="features__container mx-auto">
          <p class="features__title">{{ site.data[page.lang]['solutions']['all_our_escrow'] }}</p>
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
              <img class="features__icon mt-5" src="/images/solutions/icons/automated-deposits.svg" alt="Icon"/>
              <p class="features__text mt-4">{{ site.data[page.lang]['solutions']['automated_deposits'] }}</p>
              <p class="features__subtext">{{ site.data[page.lang]['solutions']['integrate_directly'] }}</p>
              <a class="features__link how-it-works-href" href="how-does-software-escrow-work.html">{{ site.data[page.lang]['solutions']['learn_how_it'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="features__icon mt-5" src="/images/solutions/icons/legal-framework.svg" alt="Icon"/>
              <p class="features__text mt-4">{{ site.data[page.lang]['solutions']['a_solid_legal'] }}</p>
              <p class="features__subtext">{{ site.data[page.lang]['solutions']['a_legally_sound'] }}</p>
              <a class="features__link escrow-agreement-href" href="software-escrow-agreement.html">{{ site.data[page.lang]['solutions']['see_our_agreement'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
              <img class="features__icon mt-5" src="/images/solutions/icons/verification-options.svg" alt="Icon"/>
              <p class="features__text mt-4">{{ site.data[page.lang]['solutions']['verification_options'] }}</p>
              <p class="features__subtext">{{ site.data[page.lang]['solutions']['software_escrow_verification'] }} </p>
              <a class="features__link verification-href" href="software-escrow-verification-process.html">{{ site.data[page.lang]['solutions']['see_our_verification'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="features__icon mt-5" src="/images/solutions/icons/integrations-available.svg" alt="Icon"/>
              <p class="features__text mt-4">{{ site.data[page.lang]['solutions']['50_plus'] }}</p>
              <p class="features__subtext">{{ site.data[page.lang]['solutions']['make_it_easy'] }}</p>
              <a class="features__link integrations-href" href="software-escrow-deposit-integrations.html">{{ site.data[page.lang]['solutions']['see_our_integrations'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="section-large bg-white">
        <div class="container">
          <p class="more-about__main-title mt-4">{{ site.data[page.lang]['solutions']['find_out_more'] }}</p>
          <div class="row mt-4">
            <div class="col-md-6 col-sm-12">
              <div class="more-about__col">
                <img class="more-about__shape" src="/images/solutions/icons/gray-shape.svg" alt="Icon"/>
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="more-about__title pb-3">{{ site.data[page.lang]['solutions']['ready_for_recovery'] }}</p>
                    <p class="more-about__subtitle mt-2 pb-4">{{ site.data[page.lang]['solutions']['find_out_how'] }}</p>
                  </div>
                  <img class="more-about__icon" src="/images/solutions/icons/recovery.svg" alt="Icon"/>
                </div>
                <a class="more-about__link recovery-href" href="recovery.html">{{ site.data[page.lang]['solutions']['more_about_ready'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="more-about__col">
                <img class="more-about__shape" src="/images/solutions/icons/gray-shape.svg" alt="Icon"/>
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="more-about__title pb-3">{{ site.data[page.lang]['solutions']['ready_for_continuity'] }}</p>
                    <p class="more-about__subtitle mt-2 pb-4">{{ site.data[page.lang]['solutions']['find_out'] }}</p>
                  </div>
                  <img class="more-about__icon" src="/images/solutions/icons/continuity.svg" alt="Icon"/>
                </div>
                <a class="more-about__link continuity-href" href="continuity.html">{{ site.data[page.lang]['solutions']['more_about'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Section -->
      {% include demo-intro.html %}
      <!-- Footer -->
      {% include footer.html %}
    </div>
  
    <!-- Snippets -->
    {% include snippets.html %}
  
    <script>
      // Accordian Action
      var action = 'click';
      var speed = "500";
      $(document).ready(function(){
        $('.plan__box').mouseover(function(e){
          $('.plan__box').removeClass('-active')
          if ($(this).hasClass('-active')) {
            return;
          }
          $(this).addClass('-active');
  
        });
      // Question handler
        $('li.q').on(action, function(){
  
          // gets next element
          // opens .a of selected question
          $(this).next().slideToggle(speed)
  
          // selects all other answers and slides up any open answer
          .siblings('li.a').slideUp();
  
          // Grab img from clicked question
          var img = $(this).children('img');
  
          // remove Rotate class from all images except the active
          $('img').not(img).removeClass('rotate');
  
          // toggle rotate class
          img.toggleClass('rotate');
  
        });
      });
    </script>
  
    <script>
      $( document ).ready(function() {
        $('.open-chat').click(function(){
  
          window.HubSpotConversations.widget.open();
        });
      });
    </script>

    <script>
      $( document ).ready(function() {
        $.ajax('https://ipapi.co/json')
        .then(
          function success(response) {
            if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
              $('.software-escrow-monthly').text('€89');
              $('.saas-escrow-monthly').text('€199');
            }
            else if (response.currency === 'GBP') {
              
              $('.software-escrow-monthly').text('£79');
              $('.saas-escrow-monthly').text('£149');
            }
            else if (response.currency === 'INR') {
              $('.software-escrow-monthly').text('₹6,995');
              $('.saas-escrow-monthly').text('₹12,500');
            }
            else if (response.currency === 'AUD') {
              $('.software-escrow-monthly').text('A$109');
              $('.saas-escrow-monthly').text('A$250');
            }

            else if (response.currency === 'SGD') {
              $('.software-escrow-monthly').text('$109');
              $('.saas-escrow-monthly').text('$249');
            }

            else if (response.currency === 'ZAR') {
              $('.software-escrow-monthly').text('R1,395');
              $('.saas-escrow-monthly').text('R2,799');
            }

            else if (response.currency === 'CHF') {
              $('.software-escrow-monthly').text('CHF89');
              $('.saas-escrow-monthly').text('CHF219');
            }

            else if (response.currency === 'CAD') {
              $('.software-escrow-monthly').text('CAD119');
              $('.saas-escrow-monthly').text('CAD299');
            }
          },
          function fail(data, status) {
              console.log('Request failed.  Returned status of',
                          status);
          }
        )
        .catch((e) => console.log(e))
      });
    </script>
  
    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
  
    <!-- Start of HubSpot Embed Code -->
      <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/5365877.js"></script> -->
    <!-- End of HubSpot Embed Code -->
  </body>