<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="solutions">
      <div class="header__content">
        <div class="header__bg-new">
          <img class="header__bg-top-left2" src="/images/verification-page/top-left.webp" alt="Left Background Image"/>
          <img class="header__bg-right-shape2" src="/images/verification-page/verification-shape.webp" alt="Verification Background Image"/>
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <h1 class="header__title text-align-start mt-4 text-secondary mw-100 overflow-wrap-break">{{ site.data[page.lang]['automated_verification']['automated_verification'] }}<sup class="header__add-on">Add-on</sup></h1>
                <p class="header__subtitle text-align-start mt-4 font-35 line-height-40">{{ site.data[page.lang]['automated_verification']['fast_reliable'] }}</p>
                <p class="header__subtitle text-align-start mt-4 mw-570">{{ site.data[page.lang]['automated_verification']['experience_our'] }}</p>
                <div class="d-flex flex-wrap resources mt-4">
                  <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                    {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                  </a>
                  <div>
                    <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                    <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-12 content-center">
                <img class="image-style mw-530 mt-4" src="/images/verification-page/verify-header.webp" alt="Verification Header Image"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="resources section-large">
      <div class="container">
        <div class="row mb-negative-200 column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style mw-530 my-4" src="/images/verification-page/automated-code.webp" alt="Automated Code Image"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="header__subtitle mt-4 font-35 line-height-40 text-dark-cyan text-align-start overflow-wrap-break">{{ site.data[page.lang]['automated_verification']['unparalleled_automated'] }}</p>
            <p class="header__subtitle mt-4 font-16 text-slate-gray text-align-start">{{ site.data[page.lang]['automated_verification']['in_the_digital'] }}</p>
          </div>
        </div>
      </div>
      <div class="people-choose__bg"></div>
    </div>
    <!-- Section -->
    <div class="resources pb-200">
      <div class="container">
        <p class="header__subtitle mt-4 font-35 line-height-40 text-dark-cyan mw-100">{{ site.data[page.lang]['automated_verification']['key_features'] }}</p>
        <div class="row mt-5">
          <div class="col-md-3 col-sm-12 mt-4 d-flex align-items-center flex-column">
            <img class="image-160 mb-4" src="/images/verification-page/icons/fast-and-efficient.svg" alt="Fast and Efficent Icon"/>
            <p class="header__subtitle font-20 text-dark-cyan mw-200">{{ site.data[page.lang]['automated_verification']['fast_and'] }}</p>
          </div>
          <div class="col-md-3 col-sm-12 mt-4 d-flex align-items-center flex-column">
            <img class="image-160 mb-4" src="/images/verification-page/icons/cost-effective.svg" alt="Cost Effective Icon"/>
            <p class="header__subtitle font-20 text-dark-cyan mw-200">{{ site.data[page.lang]['automated_verification']['cost_effective'] }}</p>
          </div>
          <div class="col-md-3 col-sm-12 mt-4 d-flex align-items-center flex-column">
            <img class="image-160 mb-4" src="/images/verification-page/icons/ensures-code.svg" alt="Ensure Code Icon"/>
            <p class="header__subtitle font-20 text-dark-cyan mw-260">{{ site.data[page.lang]['automated_verification']['ensures_code'] }}</p>
          </div>
          <div class="col-md-3 col-sm-12 mt-4 d-flex align-items-center flex-column">
            <img class="image-160 mb-4" src="/images/verification-page/icons/reduces-risks.svg" alt="Reduce Risks Icon"/>
            <p class="header__subtitle font-20 text-dark-cyan mw-200">{{ site.data[page.lang]['automated_verification']['reduces'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="pricing clients__content-bg section-large position-relative">
      <img class="clients__bg-left2" src="/images/verification-page/bg-bottom-left.webp" alt="Left Background Image"/>
      <img class="clients__bg-right2" src="/images/verification-page/bg-top-right.webp" alt="Right Background Image"/>
      <div class="container">
        <p class="verify__section-main-title3 pb-3">{{ site.data[page.lang]['automated_verification']['our_automated'] }}</p>
        <div class="row mt-4">
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box">
              <p class="verify__col-title text-dark-cyan">{{ site.data[page.lang]['verification']['content_verification'] }}</p>
              <p class="verify__col-subtitle text-slate-gray fw-400">{{ site.data[page.lang]['automated_verification']['provides_a_profile'] }}</p>
              <p class="verify__col-text fw-400"><span class="verify__col-text activity-verification text-secondary"><sup>$</sup>19</span><span>/ {{ site.data[page.lang]['verification']['repository_month'] }}</span></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box">
              <p class="verify__col-title text-dark-cyan">{{ site.data[page.lang]['verification']['activity_verification'] }}</p>
              <p class="verify__col-subtitle text-slate-gray fw-400">{{ site.data[page.lang]['automated_verification']['offers_a_profile'] }}</p>
              <p class="verify__col-text fw-400"><span class="verify__col-text activity-verification text-secondary"><sup>$</sup>19</span><span>/ {{ site.data[page.lang]['verification']['repository_month'] }}</span></p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box">
              <p class="verify__col-title text-dark-cyan">{{ site.data[page.lang]['verification']['saas_verification'] }}</p>
              <p class="verify__col-subtitle text-slate-gray fw-400">{{ site.data[page.lang]['automated_verification']['checks_the'] }}</p>
              <p class="verify__col-text fw-400"><span class="verify__col-text saas-verification text-secondary"><sup>$</sup>29</span><span>/ {{ site.data[page.lang]['verification']['repository_month'] }}</span></p>
            </div>
          </div>
        </div>
        <div class="d-flex flex-wrap mt-5 content-center">
          <p class="section__text text-center text-white fw-400">{{ site.data[page.lang]['automated_verification']['need_a_custom'] }}&nbsp;</p>
          <p class="section__text text-center fw-bold text-first-capitalize"><a href="contact.html" class="text-underline contact-href text-yellow fw-400">{{ site.data[page.lang]['verification']['let_us_know'] }}</a></p>
        </div>
        <div class="content-center">
          <a class="button btn-yellow-small book-a-demo-href mb-4" href="book-a-demo.html">
            {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
          </a>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="clients__content-bg2 position-relative">
      <img class="clients__bg-right3" src="/images/verification-page/top-left.webp" alt="Left Background Image"/>
      <div class="container">
        <h2 class="clients__title mt-3 font-35 text-align-start">{{ site.data[page.lang]['verification']['secure_your_code'] }}</h2>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="d-flex align-items-center">
              <img class="clients__content-image" src="/images/verification-page/deposit-icon2.svg" alt="Deposit Icon"/>
              <div class="clients__content-line2"></div>
            </div>
            <p class="clients__content-title text-dark-cyan">{{ site.data[page.lang]['verification']['deposit'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['verification']['escrow_deposits_sometimes'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="d-flex align-items-center">
              <img class="clients__content-image" src="/images/verification-page/verify-icon2.svg" alt="Verify Icon"/>
              <div class="clients__content-line2"></div>
            </div>
            <p class="clients__content-title text-dark-cyan">{{ site.data[page.lang]['verification']['verify'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['verification']['different_levels'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="clients__content-image" src="/images/verification-page/release-icon2.svg" alt="Release Icon"/>
            <p class="clients__content-title text-dark-cyan">{{ site.data[page.lang]['verification']['release'] }}</p>
            <p class="clients__content-subtitle text-slate-gray">{{ site.data[page.lang]['verification']['verification_provides'] }}</p>
          </div>
        </div>
        <p class="clients__content-title text-dark-cyan font-24 fw-400 mt-5">{{ site.data[page.lang]['automated_verification']['add_verification_to'] }}</p>
        <div class="d-flex flex-wrap resources mt-4">
          <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
            {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
          </a>
          <div>
            <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
            <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="section-large pricing book-demo container">
      <p class="questions__title">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</p>
      <ul class="faq mt-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between bg-white">
          <p class="section__subtitle mt-3 text-dark-cyan">{{ site.data[page.lang]['automated_verification']['what_is_automated'] }} </p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text bg-white">{{ site.data[page.lang]['automated_verification']['automated_code'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border bg-white">
          <p class="section__subtitle mt-3 text-dark-cyan">{{ site.data[page.lang]['automated_verification']['why_should'] }} </p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text bg-white">{{ site.data[page.lang]['automated_verification']['automated_code_verification'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border bg-white">
          <p class="section__subtitle mt-3 text-dark-cyan">{{ site.data[page.lang]['automated_verification']['how_long'] }} </p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon"/>
        </li>
        <li class="a section__text bg-white">{{ site.data[page.lang]['automated_verification']['the_duration'] }}</li>
      </ul>
      <p class="section__text mt-5 mb-5">{{ site.data[page.lang]['pricing']['have_not_found'] }} <a class="text-bondi-blue contact-href fw-bold" href="contact.html">{{ site.data[page.lang]['pricing']['contact_us'] }}</a></p>
    </div>
    <!-- Section -->
    <div class="container resources pb-200">
      <div class="best-price__bg2">
        <img class="best-price__small-shape3" src="/images/verification-page/secure-shape-small.webp" alt="Small Shape Image"/>
        <img class="best-price__large-shape3" src="/images/verification-page/secure-shape-large.webp" alt="Large Shape Image"/>
        <div class="row mt-3">
          <div class="col-md-5 col-sm-12 content-center">
            <img class="best-price__image mb-3 mw-200" src="/images/verification-page/secure-your-code.webp" alt="Secure Your Code Image"/>
          </div>
          <div class="col-md-7 col-sm-12"> 
            <p class="best-price__title2 mt-4">{{ site.data[page.lang]['automated_verification']['secure_your'] }}</p>
            <div class="d-flex align-items-center flex-wrap">
              <a class="button btn-yellow pricing-href my-4" href="pricing.html">
                {{ site.data[page.lang]['index']['explore_our_pricing'] }}
              </a>
              <a class="header__link book-a-demo-href text-white ml-3 font-16" href="book-a-demo.html">{{ site.data[page.lang]['automated_verification']['or_book'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $('#questions').hide();
    $('#hide').hide();

    $(".openLines").click(function(){      
        if ($('#hide').is(":visible")) {
          $('#hide').hide();
          $('#show').show();
        }
        else {
          $('#show').hide();
          $('#hide').show();
        }
        $('#questions').toggle(300);
        //  $("div").toggle(300);
    });
  </script>

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    $('#offer').hide();
    $('#closeButton').hide();

    $(".offer-btns").click(function(e){   
        e.stopPropagation();   
        if ($('#closeButton').is(":visible")) {
          $('#closeButton').hide();
          $('#openButton').show();
        }
        else {
          $('#openButton').hide();
          $('#closeButton').show();
        }
        $('#offer').toggle(300);
    });
  </script>

<script>
  var pathname = location.pathname;
  
  $( document ).ready(function() {
    $.ajax('https://ipapi.co/json')
    .then(
      function success(response) {
        if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
          $('.saas-continuity').text('€299');
          $('.saas-recovery').text('€599');
          $('.saas-replication').text('€899');
          $('.setup-fee').text('€249');
          $('#developer-monthly').text('€79');
          $('.saas-verification').text('€29');
          $('.activity-verification').text('€19');
          $('.verification-advanced').text('€2,495');
          $('.verification-complete').text('€3,995');
            if (pathname.includes('/fr/')) {
              $('.verification-advanced').text('€2495');
              $('.verification-complete').text('€3995');
            }
            else {
              $('.verification-advanced').text('€2,495');
              $('.verification-complete').text('€3,995');
            }
        }
        else if (response.currency === 'GBP') {
          $('.saas-continuity').text('£225');
          $('.saas-recovery').text('£449');
          $('.saas-replication').text('£699');
          $('.setup-fee').text('£199');
          $('#developer-monthly').text('£59');
          $('.saas-verification').text('£29');
          $('.activity-verification').text('£19');
          $('.verification-advanced').text('£1,799');
          $('.verification-complete').text('£2,995');
        }
        else if (response.currency === 'INR') {
          $('.saas-continuity').text('₹19,995');
          $('.saas-recovery').text('₹39,995');
          $('.saas-replication').text('₹59,995');
          $('.setup-fee').text('₹15,000');
          $('#developer-monthly').text('₹5,000');
          $('.saas-verification').text('₹1,995');
          $('.activity-verification').text('₹1,995');
          $('.verification-advanced').text('₹179,995');
          $('.verification-complete').text('₹249,995');
        }
        else if (response.currency === 'AUD') {
          $('.saas-continuity').text('A$349');
          $('.saas-recovery').text('A$699');
          $('.saas-replication').text('A$995');
          $('.setup-fee').text('A$299');
          $('#developer-monthly').text('A$99');
          $('.saas-verification').text('A$29');
          $('.activity-verification').text('A$29');
          $('.verification-advanced').text('A$2,995');
          $('.verification-complete').text('A$4,995');
        }
        else if (response.currency === 'SGD') {
          $('.saas-continuity').text('$399');
          $('.saas-recovery').text('$799');
          $('.saas-replication').text('$999');
          $('.setup-fee').text('$299');
          $('#developer-monthly').text('$99');
          $('.saas-verification').text('$39');
          $('.activity-verification').text('$39');
          $('.verification-advanced').text('$3,199');
          $('.verification-complete').text('$4,999');
        }
        else if (response.currency === 'ZAR') {
          $('.saas-continuity').text('R3,999');
          $('.saas-recovery').text('R7,999');
          $('.saas-replication').text('R12,999');
          $('.setup-fee').text('R3,499');
          $('#developer-monthly').text('R1,099');
          $('.saas-verification').text('R399');
          $('.activity-verification').text('R399');
          $('.verification-advanced').text('R34,999');
          $('.verification-complete').text('R54,999');
        }
        else if (response.currency === 'CHF') {
          $('.saas-continuity').text('CHF329');
          $('.saas-recovery').text('CHF659');
          $('.saas-replication').text('CHF999');
          $('.setup-fee').text('CHF275');
          $('#developer-monthly').text('CHF89');
          $('.saas-verification').text('CHF29');
          $('.activity-verification').text('CHF29');
          $('.verification-advanced').text('CHF2,749');
          $('.verification-complete').text('CHF4,399');
        }
        else if (response.currency === 'CAD') {
          $('.saas-continuity').text('CAD349');
          $('.saas-recovery').text('CAD749');
          $('.saas-replication').text('CAD1,099');
          $('.setup-fee').text('CAD299');
          $('#developer-monthly').text('CAD119');
          $('.saas-verification').text('CAD39');
          $('.activity-verification').text('CAD39');
          $('.verification-advanced').text('CAD2,995');
          $('.verification-complete').text('CAD4,995');
        }
      },
      function fail(data, status) {
          console.log('Request failed.  Returned status of',
                      status);
      }
    )
    .catch((e) => console.log(e))
  });
</script>

</body>