<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target; var elem = document.head; elem.appendChild(script);
  </script>
  <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx'
        alt='ClickCease' /></a>
  </noscript>
  <!--  Clickcease.com tracking-->

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-software-escrow">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <div class="d-flex align-items-center">
                <img class="mr-2 mb-1" src="/images/disaster-recovery/icons/software-backups-shield-icon.svg" alt="Software Backup Shield Icon" />
                <p class="header__info text-dark-cyan font-35 mb-2">{{ site.data[page.lang]['index']['software_backup'] }}</p>
              </div>
              
              <h1 class="header__title text-align-start mt-4">{{ site.data[page.lang]['software_backup']['source_code_and_application'] }}</h1>
              <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['software_backup']['effortless_automated_backups'] }}</p>
              <div class="d-flex flex-wrap resources mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{
                    site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 content-center flex-column">
              <img class="image-style mw-530 mt-4" src="/images/disaster-recovery/software-backups-header.webp" alt="Software Backup Header Illustration" />
              <div class="d-flex flex-wrap">
                <div class="d-flex align-items-center flex-column m-2 mr-3">
                  <img class="mb-1" src="/images/disaster-recovery/icons/unlimited-repo.svg" alt="Unlimited Repositories Icon" />
                  <p class="header__text text-center line-height-14">{{ site.data[page.lang]['software_backup']['unlimited_repositories'] }}</p>
                </div>
                <div class="d-flex align-items-center flex-column m-2">
                  <img class="mb-1" src="/images/disaster-recovery/icons/unlimited-data.svg" alt="Unlimited Data Storage Icon" />
                  <p class="header__text text-center line-height-14">{{ site.data[page.lang]['software_backup']['unlimited_data_storage'] }}</p>
                </div>
                <div class="d-flex align-items-center flex-column m-2">
                  <img class="mb-1" src="/images/disaster-recovery/icons/automated-backup.svg" alt="Automated Backup Process Icon" />
                  <p class="header__text text-center line-height-14">{{ site.data[page.lang]['software_backup']['automated_backup'] }}</p>
                </div>
                <div class="d-flex align-items-center flex-column m-2">
                  <img class="mb-1" src="/images/disaster-recovery/icons/customizable-backup.svg" alt="Customizable Backup Schedules Icon" />
                  <p class="header__text text-center line-height-14">{{ site.data[page.lang]['software_backup']['customizable_backup'] }}</p>
                </div>

              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid section-medium pricing">
      <p class="protect__subtext text-slate-gray fw-light">{{ site.data[page.lang]['software_backup']['trusted_partner_of'] }}</p>
      <!-- Slideshow Brands -->
      {% include slideshow-brands.html %}
    </div>

    <div class="pricing section-medium">
      <div class="pricing-tabs container-fluid mt-200">
        <div class="pricing-container mx-auto">
          <div class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
            <a class="nav-link active space-no-wrap" id="pills-intro-tab" data-toggle="pill" href="#pills-intro" role="tab"
              aria-controls="pills-intro" aria-selected="false">Introduction</a>
            <a class="nav-link" id="pills-features-tab" data-toggle="pill" href="#pills-features" role="tab"
              aria-controls="pills-features" aria-selected="true">Features</a>
            <a class="nav-link" id="pills-pricing-tab" data-toggle="pill" href="#pills-pricing" role="tab"
              aria-controls="pills-pricing" aria-selected="true">Pricing</a>
      
          </div>
          <div class="tab-content mt-5" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-intro" role="tabpanel" aria-labelledby="pills-intro-tab">
              Introduction
            </div>
            <div class="tab-pane fade" id="pills-features" role="tabpanel" aria-labelledby="pills-features-tab">
              Features
            </div>
            <div class="tab-pane fade" id="pills-pricing" role="tabpanel" aria-labelledby="pills-pricing-tab">
              Pricing
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-large pt-5">
      <p class="scenario__title mx-auto pb-5 mw-900">{{ site.data[page.lang]['software_backup']['are_your_source_code'] }}</p>
      <p class="scenario__subtext mx-auto mt-2 font-18 fw-400 mb-sm-50">{{ site.data[page.lang]['software_backup']['in_the_realm_of'] }}</p>
      <div class="row mt-5">
        <div class="col-md-4 col-sm-12 mb-sm-50">
          <img class="mx-auto d-block my-2" src="/images/disaster-recovery/icons/reliability.svg"
            alt="Reliability Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto font-24">{{ site.data[page.lang]['software_backup']['reliability'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['software_backup']['are_your_backups'] }}</p>
        </div>
        <div class="col-md-4 col-sm-12 mb-sm-50">
          <img class="mx-auto d-block my-2" src="/images/disaster-recovery/icons/consistency.svg"
            alt="Consistency Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto font-24">{{ site.data[page.lang]['software_backup']['consistency'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['software_backup']['is_your_backup_routine'] }}</p>
        </div>
        <div class="col-md-4 col-sm-12 mb-sm-50">
          <img class="mx-auto d-block my-2" src="/images/disaster-recovery/icons/capacity.svg"
            alt="Capacity Icon" loading="lazy" />
          <p class="scenario__subtitle mx-auto font-24">{{ site.data[page.lang]['software_backup']['capacity'] }}</p>
          <p class="scenario__text mx-auto">{{ site.data[page.lang]['software_backup']['can_your_current'] }}</p>
        </div>
      </div>
    </div>

    <div class="depositing__bg2 section-medium">
      
      <div class="section-medium container pt-5">
        <p class="risks__title text-center">{{ site.data[page.lang]['software_backup']['software_backups'] }}</p>
        <p class="risks__subtitle text-center mw-100 mb-100">{{ site.data[page.lang]['software_backup']['effortless_automated'] }}:</p>
        <div class="row mt-5 mb-sm-50">
          <div class="col-md-5 col-sm-12">
            <img class="information__image content-center" src="/images/disaster-recovery/automated-backup-solutions.webp"
              alt="Automated Backup Solutions Illustration" loading="lazy" />
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="information__title text-bondi-blue">{{ site.data[page.lang]['software_backup']['automated_backup_solutions'] }}</p>
            <p class="information__subtitle">{{ site.data[page.lang]['software_backup']['say_goodbye_to'] }}</p>
            <a class="easy__link text-secondary-link source-code-escrow-href font-18" href="source-code-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="row mt-5 mb-sm-50 column-reverse-mobile">
          <div class="col-md-7 col-sm-12">
            <p class="information__title text-align-end text-bondi-blue">{{ site.data[page.lang]['software_backup']['unified_backup'] }}</p>
            <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['software_backup']['centralize_backups'] }}</p>
            <div class="d-flex justify-content-end">
              <a class="easy__link text-secondary-link source-code-escrow-href font-18" href="source-code-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 content-center">
            <img class="information__image" src="/images/disaster-recovery/unified-backup.webp"
              alt="Unified Backup Management Illustration" loading="lazy" />
          </div>
        </div>
        <div class="row mt-5 mb-sm-50">
          <div class="col-md-5 col-sm-12">
            <img class="information__image content-center" src="/images/disaster-recovery/unlimited-storage.webp"
              alt="Unlimited Storage Space Illustration" loading="lazy" />
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="information__title text-bondi-blue">{{ site.data[page.lang]['software_backup']['unlimited_storage_space'] }}</p>
            <p class="information__subtitle">{{ site.data[page.lang]['software_backup']['never_worry_about'] }}</p>
            <a class="easy__link text-secondary-link source-code-escrow-href ml-auto font-18" href="source-code-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="row mt-5 mb-sm-50 column-reverse-mobile">
          <div class="col-md-7 col-sm-12">
            <p class="information__title text-align-end text-bondi-blue">{{ site.data[page.lang]['software_backup']['simplified_recovery'] }}</p>
            <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['software_backup']['retrieve_lost_code'] }}</p>
            <div class="d-flex justify-content-end">
              <a class="easy__link text-secondary-link source-code-escrow-href font-18" href="source-code-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-5 col-sm-12 content-center">
            <img class="information__image" src="/images/disaster-recovery/simplified-recovery.webp"
              alt="Simplified Recovery Process Illustration" loading="lazy" />
          </div>
        </div>
        <div class="row mt-5 mb-sm-50">
          <div class="col-md-5 col-sm-12">
            <img class="information__image content-center" src="/images/disaster-recovery/advanced-security.webp"
              alt="Advanced Security Protocols Illustration" loading="lazy" />
          </div>
          <div class="col-md-7 col-sm-12">
            <p class="information__title text-bondi-blue">{{ site.data[page.lang]['software_backup']['advanced_security'] }}</p>
            <p class="information__subtitle">{{ site.data[page.lang]['software_backup']['protect_your_digital'] }}</p>
            <a class="easy__link text-secondary-link source-code-escrow-href font-18" href="source-code-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-angle-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="section-large pt-3 resources">
      <div class="container">
        <p class="deposit-assets__subtitle text-bondi-blue mt-5 font-24">{{ site.data[page.lang]['software_backup']['the_path_to_backup'] }}</p>
        <p class="deposit-assets__title mw-570">{{ site.data[page.lang]['software_backup']['your_roadmap_to'] }}:</p>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3" src="/images/integration-page/integration-circle.svg" alt="Circle Icon" loading="lazy"/>
              <div>
                <p class="deposit-assets__subtitle text-bondi-blue fw-bold mb-2">{{ site.data[page.lang]['how_it_works']['step_1'] }}</p>
                <p class="deposit-assets__text mw-520 font-24 fw-light">{{ site.data[page.lang]['software_backup']['set_up_and_integrate'] }}</p>
              </div>
              <div class="deposit-assets__dotted-line"></div>
            </div>
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3" src="/images/integration-page/integration-circle.svg" alt="Circle Icon" loading="lazy"/>
              <div>
                <p class="deposit-assets__subtitle text-bondi-blue fw-bold mb-2">{{ site.data[page.lang]['how_it_works']['step_2'] }}</p>
                <p class="deposit-assets__text mw-520 font-24 fw-light">{{ site.data[page.lang]['software_backup']['activate_automated'] }}</p>
              </div>
              <div class="deposit-assets__dotted-line"></div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3" src="/images/integration-page/integration-circle.svg" alt="Circle Icon" loading="lazy"/>
              <div>
                <p class="deposit-assets__subtitle text-bondi-blue fw-bold mb-2">{{ site.data[page.lang]['how_it_works']['step_3'] }}</p>
                <p class="deposit-assets__text mb-5 mw-520 font-24 fw-light">{{ site.data[page.lang]['software_backup']['access_and_manage'] }}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 software-escrow">
            <img class="w-100 mw-420" src="/images/disaster-recovery/your-roadmap.webp" alt="Your Roadmap to Complete Code Safety With Codekeeper Backups Illustration" loading="lazy"/>
          </div>
        </div>
        <div class="d-flex flex-wrap align-items-center mt-5">
          <a class="button btn-cerulean book-a-demo-href mr-4 my-4" href="book-a-demo.html">
            {{ site.data[page.lang]['software_backup']['explore_features'] }}
          </a>
          <p class="deposit-assets__text font-18 fw-400 mw-100 text-slate-gray mb-0 my-3">{{ site.data[page.lang]['software_backup']['we_are_around_to'] }}</p>
        </div>
       
      </div>
    </div>

    <div class="container resources">
      <div class="best-price__bg3 my-5 section-medium">
        <img class="best-price__shape-top-right2" src="/images/disaster-recovery/top-right-shape.webp" alt="Gray decorative shape positioned at the top right corner" loading="lazy">
        <img class="best-price__shape-bottom-left2" src="/images/disaster-recovery/bottom-left-shape.webp" alt="Gray decorative shape positioned at the bottom left corner" loading="lazy">
        <p class="deposit-assets__subtitle text-light-red">{{ site.data[page.lang]['software_backup']['the_risks_of'] }}</p>
        <p class="deposit-assets__title">{{ site.data[page.lang]['software_backup']['dont_compromise_your'] }}</p>
        <p class="deposit-assets__subtitle mb-sm-50">{{ site.data[page.lang]['software_backup']['neglecting_efficient'] }}:</p>

        <div class="row my-4">
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="my-2" src="/images/disaster-recovery/icons/code-loss.svg"
            alt="Irrecoverable Code Loss Icon" loading="lazy" />
            <p class="deposit-assets__subtitle font-22 fw-600 mb-1">{{ site.data[page.lang]['software_backup']['irrecoverable_code'] }} </p>
            <p class="deposit-assets__subtitle font-14 text-slate-gray line-height-20">{{ site.data[page.lang]['software_backup']['risk_losing'] }} </p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="my-2" src="/images/disaster-recovery/icons/compliance-failures.svg"
            alt="Compliance Failures Icon" loading="lazy" />
            <p class="deposit-assets__subtitle font-22 fw-600 mb-1">{{ site.data[page.lang]['software_backup']['compliance_failures'] }} </p>
            <p class="deposit-assets__subtitle font-14 text-slate-gray line-height-20">{{ site.data[page.lang]['software_backup']['face_legal_and'] }} </p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="my-2" src="/images/disaster-recovery/icons/security-vulnerabilities.svg"
            alt="Security Vulnerabilities Icon" loading="lazy" />
            <p class="deposit-assets__subtitle font-22 fw-600 mb-1">{{ site.data[page.lang]['software_backup']['security_vulnerabilities'] }} </p>
            <p class="deposit-assets__subtitle font-14 text-slate-gray line-height-20">{{ site.data[page.lang]['software_backup']['expose_your_code'] }} </p>
          </div>
        </div>
      </div>
    </div>

    <div class="resources">
      <div class="people-choose__bg min-h-600">
        <p class="people-choose__main-subtitle2 mx-auto pt-150 text-bondi-blue">{{ site.data[page.lang]['software_backup']['secured_streamlined'] }}</p>
        <p class="people-choose__main-title text-dark-cyan fw-light pt-0">{{ site.data[page.lang]['software_backup']['your_future_with'] }}</p>
        <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['software_backup']['experience_a_world'] }}:</p>
      </div>
      <div class="pricing container mt-negative-280">
        <div class="row mt-4">
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column">
              <img class="my-2" src="/images/disaster-recovery/icons/your-code.svg" alt="Code is Continuously Protected Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24">{{ site.data[page.lang]['software_backup']['your_code_is'] }}:</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 text-slate-gray">{{ site.data[page.lang]['software_backup']['automatic_up_to_date'] }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column">
              <img class="my-2" src="/images/disaster-recovery/icons/your-compliance.svg" alt="Compliance Needs are Met Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24">{{ site.data[page.lang]['software_backup']['your_compliance_needs'] }}</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 text-slate-gray">{{ site.data[page.lang]['software_backup']['align_effortlessly'] }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column">
              <img class="my-2" src="/images/disaster-recovery/icons/your-peace.svg" alt="Peace of Mind is Assured Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24">{{ site.data[page.lang]['software_backup']['your_peace_of'] }}</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 text-slate-gray">{{ site.data[page.lang]['software_backup']['know_that_your'] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="resources section-large">
      <div class="position-relative">
        <div class="container resources ">
          <p class="people-choose__main-title text-dark-cyan fw-light pt-2 overflow-wrap-break-mobile mw-570 mx-auto">{{ site.data[page.lang]['software_backup']['begin_your_journey'] }}</p>
          <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['software_backup']['take_the_first_step'] }}</p>
          <div class="content-center mt-5">
            <img class="software-escrow__image mw-530" src="/images/disaster-recovery/begin-journey.webp" alt="Illustration: Begin Your Journey to Uncompromised Security" loading="lazy"/>
          </div>
          <p class="people-choose__main-subtitle2 mx-auto mt-4">{{ site.data[page.lang]['software_backup']['secure_your_source'] }}</p>

          <div class="d-flex flex-column align-items-center mt-4">
            <a class="button btn-cerulean pricing-href mb-4" href="pricing.html">
              {{ site.data[page.lang]['software_backup']['see_pricing_details'] }}
            </a>
            <div class="d-flex flex-column align-items-center">
              <p class="header__text">{{ site.data[page.lang]['software_backup']['or_explore'] }}</p>
              <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['software_backup']['more_features'] }} <i class="fa fa-angle-right pt-1"
                  aria-hidden="true"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="resources">
      <div class="container-fluid px-0">
        <div class="intro__bg">
          <div class="intro__col-green bg-gradient-blue2">
            <div class="intro__col-green-spacing">
              <img class="my-1" src="/images/disaster-recovery/icons/disaster-recovery-shield-icon.svg" alt="Disaster Recovery Planner Shield Icon" loading="lazy"/>
              <h2 class="intro__title2 mt-2">{{ site.data[page.lang]['software_backup']['looking_to_lower'] }}</h2>
              <p class="intro__subtitle2 mt-3">{{ site.data[page.lang]['software_backup']['take_control_of'] }} </p>
              <div class="solutions">
                <p class="select-level__price mt-5 text-capitalize"><span>{{ site.data[page.lang]['pricing']['free'] }}</span></p>
                <a class="button btn-cerulean disaster-recovery-planner-href px-5" href="disaster-recovery-planner.html">
                  {{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="intro__col bg-gradient-blue3">
            <div class="intro__col-spacing">
              <img class="my-1" src="/images/disaster-recovery/icons/software-escrow-shield-icon.svg" alt="Software Escrow Shield Icon" loading="lazy"/>
              <h2 class="intro__title2 mt-2">{{ site.data[page.lang]['disaster_recovery']['take_your_protection'] }}</h2>
              <p class="intro__subtitle2 mt-3">{{ site.data[page.lang]['disaster_recovery']['securely_store_your_software'] }}</p>
              <div class="solutions mt-4">
                <p class="select-level__price mr-4">{{ site.data[page.lang]['software_backup']['from'] }}<br><span
                    class="enterprise-yearly">{{ site.data.pricing.prices.enterprise_yearly.USD }}</span>/{{
                  site.data[page.lang]['software_backup']['per_application'] }}</p>
                <a class="button btn-cerulean software-escrow-href px-5" href="software-escrow.html">
                  {{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Section -->
    {% include demo-intro-simple.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}
  <script src="/js/faqDropdown.js"></script>
  <script src="/js/monthlyEscrowPricing.js"></script>
  <script src="/js/geolocationPricing.js"></script>
  <script src="/js/pricingCheckout.js"></script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
  <script>
    // Check if the page has not been reloaded
    if (!localStorage.getItem('pageReloaded')) {
      var yamlData = {{ site.data.pricing.prices | jsonify
    }};
    localStorage.setItem('prices', JSON.stringify(yamlData));

    // Set a flag in localStorage to indicate that the page has been reloaded
    localStorage.setItem('pageReloaded', 'true');

    // Reload the page
    window.location.reload();
    } 
  </script>
</body>