<body>
    <!--  Clickcease.com tracking-->
    <script type='text/javascript'>var script = document.createElement('script');
      script.async = true; script.type = 'text/javascript';
      var target = 'https://www.clickcease.com/monitor/stat.js';
      script.src = target;var elem = document.head;elem.appendChild(script);
      </script>
      <noscript>
      <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
      </noscript>
      <!--  Clickcease.com tracking-->
  
    <div class="bg-white solutions">
      <!-- Navigation -->
      {% include navigation.html %}
      <!-- Header -->
      <div class="header__content">
        <div class="header__bg-new">
          <img class="header__bg-top-left" src="/images/solutions/top-left.webp" alt="Top Left Background Shape"/>
          <img class="header__bg-bottom-shape" src="/images/verification-page/verification-header-bg.webp" alt="Background Shape for Header Section"/>
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <h1 class="header__title text-align-start mt-4">{{ site.data[page.lang]['solutions']['state_of'] }}</h1>
                <p class="header__subtitle text-align-start mt-4 mw-570">{{ site.data[page.lang]['solutions']['in_an_interconnected'] }} </p>
                <div class="d-flex flex-wrap resources mt-4">
                  <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                    {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                  </a>
                  <div>
                    <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                    <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-12 content-center">
                <img class="image-style mw-530 mt-4" src="/images/solutions/recovery-solutions-image.webp" alt="State-of-the-art Escrow Solutions for (SaaS) Software Illustration"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="more-about__background">
        <img class="more-about__bottom-shape" src="/images/solutions/solutions-shape-left.webp" alt="Background Shape Illustration"/>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <img class="image-style mw-420 m-4 pt-4 pr-5" src="/images/solutions/provide-recovery-solutions.webp" alt="Provide Recovery Solutions Illustration"/>
            </div>
            <div class="col-md-8 col-sm-12">
              <p class="more-about__subtitle text-white font-28 line-height-40 mw-645 pt-5 ml-auto fw-light">{{ site.data[page.lang]['solutions']['whether_you'] }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="solutions-gradient-devider"></div>
      <div class="bg-white pb-100 software-escrow">
        <div class="container">
          <div class="content-center">
            <img class="image-style mw-700 solutions-screen-spacing z-index-1" src="/images/solutions/recovery-made-easy.webp" alt="Disaster recovery made easy Illustration"/>
          </div>
          <p class="information__main-title font-50 line-height-60 mb-2 mt-4">{{ site.data[page.lang]['solutions']['disaster_recovery_made'] }}</p>
          <p class="header__info text-center fw-light text-slate-gray pb-5">{{ site.data[page.lang]['solutions']['are_these_sectors'] }} </p>
          <div class="row mt-5">
            <div class="col-md-6 col-sm-12">
              <img class="information__image content-center my-4"
                src="/images/solutions/companies.webp" alt="Illustration ofSoftware / SaaS Companies"
                loading="lazy" />
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="information__title mt-1">{{ site.data[page.lang]['solutions']['software_saas_companies'] }} </p>
              <p class="information__subtitle">{{ site.data[page.lang]['solutions']['seamless_protection'] }}</p>
              <p class="information__subtitle fw-600"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['solutions']['protect_intellectual'] }}</p>
              <p class="information__subtitle fw-600"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['solutions']['maintain_uptime'] }}</p>
              <p class="information__subtitle fw-600"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['solutions']['secure_client'] }}</p>
            </div>
          </div>
          <div class="row mt-5 column-reverse-mobile pt-5">
            <div class="col-md-6 col-sm-12">
              <p class="information__title text-align-end mt-1">{{ site.data[page.lang]['solutions']['regulated_industries'] }} </p>
              <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['solutions']['compliance_and'] }} </p>
              <p class="information__subtitle text-align-end ml-auto fw-600">{{ site.data[page.lang]['solutions']['meet_stringent'] }}<i
                  class="fa fa-check text-light-green ml-2"></i></p>
              <p class="information__subtitle text-align-end ml-auto fw-600">{{ site.data[page.lang]['solutions']['ensure_patient'] }}<i
                  class="fa fa-check text-light-green ml-2"></i></p>
              <p class="information__subtitle text-align-end ml-auto fw-600">{{ site.data[page.lang]['solutions']['manage_audit'] }}<i
                  class="fa fa-check text-light-green ml-2"></i></p>
            </div>
            <div class="col-md-6 col-sm-12 content-center">
              <img class="information__image my-4" src="/images/solutions/regulated-industries.webp"
                alt="Illustration of Regulated Industries" loading="lazy" />
            </div>
          </div>
          <div class="row mt-5 pt-5">
            <div class="col-md-6 col-sm-12">
              <img class="information__image content-center my-4"
                src="/images/solutions/government.webp"
                alt="Illustration Government Bodies" loading="lazy" />
            </div>
            <div class="col-md-6 col-sm-12">
              <p class="information__title mt-1">{{ site.data[page.lang]['solutions']['govern_bodies'] }} </p>
              <p class="information__subtitle">{{ site.data[page.lang]['solutions']['robust_recovery'] }} </p>
              <p class="information__subtitle fw-600"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['solutions']['secure_sensitive'] }}</p>
              <p class="information__subtitle fw-600"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['solutions']['uphold_public'] }}</p>
              <p class="information__subtitle fw-600"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['solutions']['ensure_governance'] }}</p>
            </div>
          </div>
          <div class="row mt-5 column-reverse-mobile pt-5">
            <div class="col-md-6 col-sm-12">
              <p class="information__title text-align-end mt-1">{{ site.data[page.lang]['solutions']['infrastructure_societal'] }} </p>
              <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['solutions']['guardianship'] }}</p>
              <p class="information__subtitle text-align-end ml-auto fw-600">{{ site.data[page.lang]['solutions']['safeguard_essential'] }}<i
                  class="fa fa-check text-light-green ml-2"></i></p>
              <p class="information__subtitle text-align-end ml-auto fw-600">{{ site.data[page.lang]['solutions']['minimize_the_inpact'] }}<i class="fa fa-check text-light-green ml-2"></i></p>
              <p class="information__subtitle text-align-end ml-auto fw-600">{{ site.data[page.lang]['solutions']['ensure_rapid_recovery'] }}<i
                  class="fa fa-check text-light-green ml-2"></i></p>
            </div>
            <div class="col-md-6 col-sm-12 content-center">
              <img class="information__image my-4" src="/images/solutions/infrastrusture.webp"
                alt="Illustration of Infrastructure / Societal Impact" loading="lazy" />
            </div>
          </div>

        </div>
      </div>

      <div class="pricing">
        <div class="pricing-container mx-auto pb-100 software-escrow px-3">
          <div class="row mt-3">
            <div class="col-md-4 col-sm-12">
              <img class="mt-4" src="/images/solutions/icons/educational.svg" alt="Educational Institutions Icon"
                loading="lazy" />
              <p class="datacenters__title mt-2">{{ site.data[page.lang]['solutions']['educational_institutions'] }}</p>
              <p class="datacenters__subtitle mw-340">{{ site.data[page.lang]['solutions']['ensuring_academic'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-4" src="/images/solutions/icons/phone.svg" alt="Telecommunications Icon"
                loading="lazy" />
              <p class="datacenters__title mt-2">{{ site.data[page.lang]['solutions']['telecommunications'] }}</p>
              <p class="datacenters__subtitle mw-340">{{ site.data[page.lang]['solutions']['keeping_communication'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-4" src="/images/solutions/icons/health.svg" alt="Healthcare Providers Icon"
                loading="lazy" />
              <p class="datacenters__title mt-2">{{ site.data[page.lang]['solutions']['healthcare_providers'] }}</p>
              <p class="datacenters__subtitle mw-340">{{ site.data[page.lang]['solutions']['protect_patient'] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <img class="mt-4" src="/images/solutions/icons/e-commerce.svg" alt="E-commerce Platforms Icon"
                loading="lazy" />
              <p class="datacenters__title mt-2">{{ site.data[page.lang]['solutions']['ecommerce_platforms'] }}</p>
              <p class="datacenters__subtitle mw-340">{{ site.data[page.lang]['solutions']['ensuring_transactional'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-4" src="/images/solutions/icons/manufacturing.svg" alt="Manufacturing Sector Icon"
                loading="lazy" />
              <p class="datacenters__title mt-2">{{ site.data[page.lang]['solutions']['manufacturing_sector'] }}</p>
              <p class="datacenters__subtitle mw-340">{{ site.data[page.lang]['solutions']['safeguarding_production'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-4" src="/images/solutions/icons/energy.svg" alt="Energy and Utilities Icon"
                loading="lazy" />
              <p class="datacenters__title mt-2">{{ site.data[page.lang]['solutions']['energy_and'] }}</p>
              <p class="datacenters__subtitle mw-340">{{ site.data[page.lang]['solutions']['ensuring_stability'] }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <img class="mt-4" src="/images/solutions/icons/legal.svg" alt="Legal Services Icon"
                loading="lazy" />
              <p class="datacenters__title mt-2">{{ site.data[page.lang]['solutions']['legal_and'] }}</p>
              <p class="datacenters__subtitle mw-340">{{ site.data[page.lang]['solutions']['protecting_client'] }}</p>
            </div>
            <div class="col-md-8 col-sm-12 pt-4">

              <p class="datacenters__subtitle text-bondi-blue mt-5 mw-100 text-center text-italic font-24 line-height-34 mw-700 mx-auto">{{ site.data[page.lang]['solutions']['these_sectors'] }}</p>
            </div>

          </div>
        </div>
      </div>

      <div class="bg-gradient-blue-new section-large software-escrow">
        <div class="pricing">
          <div class="pricing-container mx-auto px-3">
            <div class="content-center">
              <img class="mt-1" src="/images/solutions/icons/ck-icon.svg" alt="Codekeeper Icon" loading="lazy" />
            </div>
            <p class="datacenters__subtitle text-bondi-blue mt-5 mw-100 text-center text-italic font-24 line-height-34 mw-770 mx-auto">{{ site.data[page.lang]['solutions']['these_tailored'] }}</p>
            <p class="information__main-title mb-4 mt-5">{{ site.data[page.lang]['solutions']['select_your_level'] }}</p>
            <p class="header__info text-center fw-light mw-770 mx-auto text-slate-gray font-20 line-height-28">{{ site.data[page.lang]['solutions']['based_on_your'] }}: </p>
            <div class="py-5 resources">
              <div class="mt-2">
                <div class="software-escrow">
                  <p class="information__main-title text-bondi-blue font-35 mb-0">{{ site.data[page.lang]['solutions']['ready_for_recovery'] }}</p>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">
                      <div class="mentions__box2 light-box-shadow p-5 mt-3 position-relative overflow-hidden mw-645">
                        <img class="framework__shape-left" src="/images/solutions/software-backup-bg.webp" alt="Background Shape" loading="lazy" />
                        <div class="d-flex align-items-center">
                          <img class="mr-2 mb-1 mw-55" src="/images/landing/icons/software-backup-shield.svg" alt="Software Backup Shield Icon" />
                          <p class="software-escrow__title mb-2">{{ site.data[page.lang]['index']['software_backup'] }}</p>
                        </div>
                        <p class="software-escrow__subtitle mt-3">{{ site.data[page.lang]['software_backup']['source_code_and_application'] }}.</p>
                        <div class="min-h-150 mt-4">
                          <p class="software-escrow__text mt-3 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['fully_automated_source'] }}</p>
                          <p class="software-escrow__text text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['integrations_with_all'] }}</p>
                          <p class="software-escrow__text text-dark-cyan mb-2"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['unlimited_repositories'] }}</p>
                        </div>
                        <img class="software-escrow__image mx-auto mw-300 min-h-240 mt-1 position-relative z-index-1" src="/images/software-custodian/software-backup-included2.webp" alt="Illustration: Software Backup Dashboard" loading="lazy"/>
                        <a class="button btn-cerulean3 software-backup-href mt-4 px-5 position-relative z-index-1" href="software-backup.html">
                          {{ site.data[page.lang]['software_escrow']['learn_more'] }}
                        </a>
                        
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <div class="mentions__box2 light-box-shadow p-5 mt-3 position-relative overflow-hidden mw-645">
                        <img class="framework__shape-left" src="/images/solutions/software-escrow-bg.webp" alt="Background Shape" loading="lazy" />
                        <div class="d-flex align-items-center">
                          <img class="mr-2 mb-1 mw-55" src="/images/landing/icons/software-escrow-shield.svg" alt="Software Escrow Shield Icon" />
                          <p class="software-escrow__title mb-2">{{ site.data[page.lang]['index']['software_escrow'] }}</p>
                        </div>
                        <p class="software-escrow__subtitle mt-3 mw-600">{{ site.data[page.lang]['software_custodian']['securely_store'] }}</p>
                        <div class="min-h-150 mt-4">
                          <p class="software-escrow__text mt-3 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['most_recent_version'] }}</p>
                          <p class="software-escrow__text text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['software_escrow_agreement'] }}</p>
                          <p class="software-escrow__text text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['50_plus'] }}</p>
                          <p class="software-escrow__text text-dark-cyan mb-2"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['encryption_security'] }}</p>
                        </div>
                        
                        <img class="software-escrow__image mx-auto mw-300 min-h-240 mt-1 position-relative z-index-1" src="/images/software-custodian/software-escrow-included2.webp" alt="Illustration: Software Escrow Dashboard" loading="lazy"/>
                        <a class="button btn-cerulean3 software-escrow-href mt-4 px-5 position-relative z-index-1" href="software-escrow.html">
                          {{ site.data[page.lang]['software_escrow']['learn_more'] }}
                        </a>
                      </div>
                    </div>
                  </div>
                  <p class="information__main-title text-bondi-blue font-35 mb-0 mt-5 text-secondary-light">{{ site.data[page.lang]['solutions']['ready_for_continuity'] }}</p>
                  <div class="mentions__box2 light-box-shadow p-5 mw-100 w-100 min-h-400 mt-3 position-relative overflow-hidden">
                    <img class="framework__shape-right" src="/images/solutions/saas-escrow-bg.webp" alt="Background Shape" loading="lazy" />
                    <div class="row">
                      <div class="col-md-6 col-sm-12 pb-3">
                        <div class="d-flex align-items-center">
                          <img class="mr-2 mb-1 mw-55" src="/images/landing/icons/saas-escrow-shield.svg" alt="SaaS Escrow Shield Icon" />
                          <p class="software-escrow__title mb-2">{{ site.data[page.lang]['index']['saas_escrow'] }}</p>
                        </div>
                        <p class="software-escrow__subtitle">{{ site.data[page.lang]['compare_solutions']['next_level_protection'] }}</p>
                        <p class="software-escrow__text mt-3 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['we_keep_your_applications'] }}</p>
                        <p class="software-escrow__text text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['support_any_hosting'] }}</p>
                        <p class="software-escrow__text text-dark-cyan mb-4"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['support_for_3rd_party'] }}</p>
                        <a class="button btn-cerulean3 saas-escrow-href mt-4 px-5" href="saas-escrow.html">
                          {{ site.data[page.lang]['software_escrow']['learn_more'] }}
                        </a>
                      </div>
                      <div class="col-md-6 col-sm-12 content-center">
                        <img class="software-escrow__image mw-300 position-relative z-index-1" src="/images/landing/saas-escrow-illustration.webp" alt="Illustration: Next Level Protection for Cloud-Native Applications" loading="lazy"/>
                      </div>
                    </div>
                  </div>
                  <p class="information__main-title text-bondi-blue font-35 mb-0 mt-5 text-secondary-dark">{{ site.data[page.lang]['solutions']['full_lifecycle'] }}</p>
                  <div class="mentions__box2 light-box-shadow p-5 mw-100 w-100 min-h-400 mt-3 position-relative overflow-hidden">
                    <img class="framework__shape-right" src="/images/solutions/software-custodian-bg.webp" alt="Background Shape" loading="lazy" />
                    <div class="row">
                      <div class="col-md-6 col-sm-12 pb-3">
                        <div class="d-flex align-items-center">
                          <img class="mr-2 mb-1 mw-55" src="/images/landing/icons/data-custodian-shield.svg" alt="Data Custodian Shield Icon" />
                          <p class="software-escrow__title mb-2">{{ site.data[page.lang]['software_custodian']['software_custodian'] }}</p>
                        </div>
                        <p class="software-escrow__subtitle">{{ site.data[page.lang]['compare_solutions']['full_life_cycle_of'] }}</p>
                        <p class="software-escrow__text mt-3 text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['we_manage_your'] }}</p>
                        <p class="software-escrow__text text-dark-cyan"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['support_for_all_major'] }}</p>
                        <p class="software-escrow__text text-dark-cyan mb-4"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['index']['guaranteed_compliance'] }}</p>
                        <a class="button btn-cerulean3 software-custodian-href mt-4 px-5" href="software-custodian.html">
                          {{ site.data[page.lang]['software_escrow']['learn_more'] }}
                        </a>
                      </div>
                      <div class="col-md-6 col-sm-12 content-center">
                        <img class="software-escrow__image mw-300 position-relative z-index-1" src="/images/landing/data-custodian-illustration.webp" alt="Illustration: Data Custodian for Full Compliance and Control" loading="lazy"/>
                      </div>
                    </div>
                  </div>
                </div>
      
              </div>
            </div>
          </div>
        </div>
      </div>
      

      
      <!-- Section -->
      <div class="container section-large pricing">
        <h4 class="section__title text-align-center">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
        <ul class="faq mt-5 pb-5 pl-0">
          <li class="q d-flex align-items-center justify-content-between">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_solutions']['who_is'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_solutions']['we_are'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_solutions']['what_deposit'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_solutions']['our_state'] }} <a href="integrations.html" class="text-underline integrations-href ">{{ site.data[page.lang]['faq_pricing']['here'] }}</a>.</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_solutions']['what_is_your'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_solutions']['our_software_escrow'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_solutions']['what_is_your_saas'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_solutions']['our_saas_escrow'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_solutions']['do_you_provide'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_solutions']['yes_all_our'] }}</li>

          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_solutions']['how_do_i'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_solutions']['to_get_started'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_solutions']['is_codekeeper_suitable'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_solutions']['yes_we_offer'] }}</li>

          <div class="" id="questions">
            <li class="q d-flex align-items-center justify-content-between q-border">
              <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_solutions']['how_secure_is'] }}</p>
              <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
            </li>
            <li class="a section__text">{{ site.data[page.lang]['faq']['we_operate_within'] }}</li>
            <li class="q d-flex align-items-center justify-content-between q-border">
              <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_solutions']['what_kind_of'] }}</p>
              <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
            </li>
            <li class="a section__text">{{ site.data[page.lang]['faq_solutions']['we_offer_comprehensive'] }}</li>
            <li class="q d-flex align-items-center justify-content-between q-border">
              <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['can_i_transfer'] }}</p>
              <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
            </li>
            <li class="a section__text">{{ site.data[page.lang]['faq']['absolutely_we_are_here'] }}</li>
            <li class="q d-flex align-items-center justify-content-between q-border">
              <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_solutions']['do_you_offer'] }}</p>
              <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
            </li>
            <li class="a section__text">{{ site.data[page.lang]['faq_solutions']['absolutely_we'] }}</li>
            <li class="q d-flex align-items-center justify-content-between q-border">
              <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_integrations']['i_cant'] }}</p>
              <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
            </li>
            <li class="a section__text">{{ site.data[page.lang]['faq_resources']['our_experts'] }}</li>
          </div>
          <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
            <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
            <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
          </p>
        </ul>
        <p class="section__text mt-5 mb-5">{{ site.data[page.lang]['faq']['if_you_have_any2'] }} </p>
      </div>
      <!-- Section -->
      {% include demo-recovery2.html %}
      <!-- Footer -->
      {% include footer.html %}
    </div>
    <!-- Snippets -->
    {% include snippets.html %}
    {% include title-tags.html %}

    <script src="/js/faqDropdown.js"></script>
    <script src="/js/monthlyEscrowPricing.js"></script>
  
    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

    <script>
      // Check if the page has not been reloaded
      if (!localStorage.getItem('pageReloaded')) {
          var yamlData = {{site.data.pricing.prices | jsonify }};
          localStorage.removeItem('prices');
          localStorage.setItem('prices', JSON.stringify(yamlData));
          
          // Set a flag in localStorage to indicate that the page has been reloaded
          localStorage.setItem('pageReloaded', 'true');
  
          // Reload the page
          window.location.reload();
      } 
    </script>
  </body>