<body>
  <div class="resources bg-white">
    <!-- Navigation -->
    {% include navigation-marketing.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg pb-4">
        <div class="container">
          <p class="product__title mx-auto mt-4">{{ site.data[page.lang]['source_escrow_product']['source_code_escrow'] }}</p>
          <h1 class="header__title mx-auto mt-3">{{ site.data[page.lang]['data_escrow_product']['future_proof'] }}</h1>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['data_escrow_product']['ensure'] }}</p>
          <a class="button btn-white-lg mt-4 mx-auto" href="pricing.html">
            {{ site.data[page.lang]['data_escrow_product']['get_started'] }}
          </a>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="container pt-4">
      <p class="info__reading-title mx-auto mt-5">{{ site.data[page.lang]['data_escrow_product']['safe_backups'] }}</p>
      <p class="info__subtitle mx-auto mt-4 mb-5 text-center">{{ site.data[page.lang]['data_escrow_product']['whether_you'] }} <a href="contact.html">{{ site.data[page.lang]['data_escrow_product']['or_request'] }}</a></p>
    </div>
    <div class="pb-5 security my-4">
      <div class="security2__container mx-auto mt-5">
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-4 d-flex flex-column align-items-center">
            <img class="product__icon" src="/images/icons/verification-data.svg"/>
            <p class="product__text mt-5">{{ site.data[page.lang]['data_escrow_product']['data_snapshot'] }}</p>
            <div class="product__devider my-3 mx-auto"></div>
            <div class="d-flex mt-3">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['take_a_snapshot'] }} </p>
            </div>
            <div class="d-flex">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['uploads_data_at'] }} </p>
            </div>
            <div class="d-flex">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['securely_stores'] }} </p>
            </div>
            <div class="d-flex">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['quick_accessibile'] }} </p>
            </div>
            <a class="button btn-primary-lg mx-auto my-4" href="pricing.html">
              {{ site.data[page.lang]['data_escrow_product']['get_started'] }}
            </a>
          </div>
          <div class="col-md-4 col-sm-12 mt-4 d-flex flex-column align-items-center">
            <img class="product__icon" src="/images/icons/verification-basic.svg"/>
            <p class="product__text mt-5">{{ site.data[page.lang]['data_escrow_product']['database'] }}</p>
            <div class="product__devider my-3 mx-auto"></div>
            <div class="d-flex mt-3">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['maintains_two'] }} </p>
            </div>
            <div class="d-flex">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['connects_to'] }} </p>
            </div>
            <div class="d-flex">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['creates_mirrors'] }} </p>
            </div>
            <div class="d-flex">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['quickly_brings'] }} </p>
            </div>
            <a class="button btn-primary-lg mx-auto my-4" href="pricing.html">
              {{ site.data[page.lang]['data_escrow_product']['get_started'] }}
            </a>
          </div>
          <div class="col-md-4 col-sm-12 mt-4 d-flex flex-column align-items-center">
            <img class="product__icon" src="/images/icons/verification-advanced.svg"/>
            <p class="product__text mt-5">{{ site.data[page.lang]['data_escrow_product']['repository_connection'] }}</p>
            <div class="product__devider my-3 mx-auto"></div>
            <div class="d-flex mt-3">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['seamlessly_connects'] }} </p>
            </div>
            <div class="d-flex">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['takes_secure'] }} </p>
            </div>
            <div class="d-flex">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['securely_stores'] }} </p>
            </div>
            <div class="d-flex">
              <i class="fas fa-check text-forest-green m-2"></i>
              <p class="product__subtext">{{ site.data[page.lang]['data_escrow_product']['available_round'] }} </p>
            </div>
            <a class="button btn-primary-lg mx-auto my-4" href="pricing.html">
              {{ site.data[page.lang]['data_escrow_product']['get_started'] }}
            </a>
          </div>
        </div>
        <div class="product__devider2 mt-4 mx-auto"></div>
        <div class="d-flex flex-column align-items-center">
          <p class="product__subtext2 mt-4 mb-1">{{ site.data[page.lang]['data_escrow_product']['dont_see_a'] }} </p>
          <a class="product__link mt-1" href="contact.html">{{ site.data[page.lang]['data_escrow_product']['let_us_know'] }} </a>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-white security">
      <div class="container section-medium">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="section-divider my-3"></div>
            <h2 class="infrastructure__title2">{{ site.data[page.lang]['data_escrow_product']['data_snapshot'] }}</h2>
            <p class="infrastructure__subtitle mt-2">{{ site.data[page.lang]['data_escrow_product']['your_data_is_always'] }}</p>
            <a class="button btn-primary-lg my-4" href="pricing.html">
              {{ site.data[page.lang]['data_escrow_product']['get_started'] }}
            </a>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/security/infrastructure.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="bg-white security">
      <div class="container py-5">
        <div class="row column-reverse-mobile">
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/security/mitigation.svg"/>
          </div>
          <div class="col-md-7 col-sm-12">
            <div class="section-divider my-3 ml-auto"></div>
            <h2 class="mitigation__title2 ml-auto">{{ site.data[page.lang]['data_escrow_product']['database'] }}</h2>
            <p class="mitigation__subtitle2 mt-2 ml-auto">{{ site.data[page.lang]['data_escrow_product']['database_mirroring'] }} </p>
            <a class="button btn-primary-lg ml-auto my-4" href="pricing.html">
              {{ site.data[page.lang]['data_escrow_product']['get_started'] }}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Forth Section -->
    <div class="bg-white security pb-300">
      <div class="container section-medium">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="section-divider my-3"></div>
            <h2 class="infrastructure__title2">{{ site.data[page.lang]['data_escrow_product']['repository_connection'] }}</h2>
            <p class="infrastructure__subtitle mt-2">{{ site.data[page.lang]['data_escrow_product']['if_you_store'] }}</p>
            <a class="button btn-primary-lg my-4" href="pricing.html">
              {{ site.data[page.lang]['data_escrow_product']['get_started'] }}
            </a>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style" src="/images/security/encryption.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Fifth Section -->
    <div class="bg-light-gray py-5 pricing">
      <div class="container pb-5">
        <div class="info__box2 mx-auto">
          <div class="row column-reverse-mobile">
            <div class="col-md-6 col-sm-12">
              <img class="image-style" src="/images/cards.svg"/>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="section-divider mt-5 mb-4 ml-auto"></div>
              <h2 class="verification__title3">{{ site.data[page.lang]['source_escrow_product']['secure_your_source'] }}</h2>
              <p class="verification__subtitle3 ml-auto mt-4">{{ site.data[page.lang]['data_escrow_product']['add_an_additional'] }} </p>
              <div class="d-flex justify-content-end mt-5">
                <a class="verification__link" href="verification.html">{{ site.data[page.lang]['data_escrow_product']['learn_more'] }} <i class="fas fa-arrow-right ml-2"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container pb-5">
        <h2 class="info__reading-title mt-5 mx-auto text-forest-green fw-bold">{{ site.data[page.lang]['data_escrow_product']['trusted_by'] }}</h2>
        <p class="info__reading-subtitle mt-4 mx-auto">{{ site.data[page.lang]['data_escrow_product']['take_advantage'] }}</p>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12 mt-4 content-center">
            <div>
              <img src="/images/features/included.svg"/>
              <p class="details__title mt-3">{{ site.data[page.lang]['data_escrow_product']['platform'] }}</p>
              <p class="details__text">{{ site.data[page.lang]['data_escrow_product']['we_help_global'] }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-4 content-center">
            <div>
              <img src="/images/features/secure-vaults.svg"/>
              <p class="details__title mt-3">{{ site.data[page.lang]['data_escrow_product']['frameworks'] }}</p>
              <p class="details__text">{{ site.data[page.lang]['data_escrow_product']['codekeeper_supports'] }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-4 content-center">
            <div>
              <img src="/images/features/escrow-agreements.svg"/>
              <p class="details__title mt-3">{{ site.data[page.lang]['data_escrow_product']['availability'] }}</p>
              <p class="details__text">{{ site.data[page.lang]['data_escrow_product']['securely_store'] }}</p>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12 mt-4 content-center">
            <div>
              <img src="/images/features/legal-options.svg"/>
              <p class="details__title mt-3">{{ site.data[page.lang]['data_escrow_product']['scalability'] }}</p>
              <p class="details__text">{{ site.data[page.lang]['data_escrow_product']['scale_your'] }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-4 content-center">
            <div>
              <img src="/images/features/storage-locations.svg"/>
              <p class="details__title mt-3">{{ site.data[page.lang]['data_escrow_product']['flexibility'] }}</p>
              <p class="details__text">{{ site.data[page.lang]['data_escrow_product']['organize_your'] }}</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-4 content-center">
            <div>
              <img src="/images/features/data-escrow.svg"/>
              <p class="details__title mt-3">{{ site.data[page.lang]['data_escrow_product']['integrations'] }}</p>
              <p class="details__text">{{ site.data[page.lang]['data_escrow_product']['whether_you_use'] }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-large offer">
        <h2 class="offer__main-title mt-5">{{ site.data[page.lang]['data_escrow_product']['industry_leading'] }}</h2>
        <p class="offer__main-subtitle mt-4 mx-auto mw-100">{{ site.data[page.lang]['data_escrow_product']['you_dont_need_to'] }}</p>
        <span class="offer-btns">
          <button class="button btn-primary-lg mx-auto mt-4 btn-offer-style open" id="openButton">
            {{ site.data[page.lang]['data_escrow_product']['get_offer'] }}
          </button>
          <button class="button btn-primary-lg mx-auto mt-4 btn-offer-style open" id="closeButton">
            {{ site.data[page.lang]['data_escrow_product']['hide_offer'] }}
          </button>
        </span>
        <div class="bg-light-gray py-5" id="offer">
          <div class="section__container mx-auto mt-5 offer__container">
            <!--[if lte IE 8]>
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
            <![endif]-->
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
            <script>
              hbspt.forms.create({
              portalId: "5365877",
              formId: "681409cd-f59f-49d5-836b-527607996aaf"
            });
            </script>
          </div>
        </div>
      </div>
    </div>
    <!-- Sixth Section -->
    <div class="pb-5 security section-medium mb-5">
      <div class="section-divider mt-5 mx-auto"></div>
      <h3 class="info__reading-title mx-auto">{{ site.data[page.lang]['data_escrow_product']['best_in_class'] }}</h3>
      <p class="info__reading-subtitle2 mx-auto mt-4 pb-5">{{ site.data[page.lang]['data_escrow_product']['we_build_the'] }}</p>
      <div class="security2__container mx-auto mt-5">
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="security2__icon" src="/images/icons/lock-access.svg"/>
            <p class="security2__title2 mt-5">{{ site.data[page.lang]['security']['data_security'] }}</p>
            <div class="section-divider my-3"></div>
            <p class="security2__text">{{ site.data[page.lang]['data_escrow_product']['safeguard_the'] }} </p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="security2__icon" src="/images/icons/processor.svg"/>
            <p class="security2__title2 mt-5">{{ site.data[page.lang]['security']['end_to_end'] }}</p>
            <div class="section-divider my-3"></div>
            <p class="security2__text">{{ site.data[page.lang]['data_escrow_product']['maintain_the'] }} </p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="security2__icon" src="/images/icons/folder-upload.svg"/>
            <p class="security2__title2 mt-5">{{ site.data[page.lang]['security']['secure_upload'] }}</p>
            <div class="section-divider my-3"></div>
            <p class="security2__text">{{ site.data[page.lang]['data_escrow_product']['automate_your'] }}</p>
          </div>
        </div>
        <a class="button btn-primary-lg mx-auto my-2" href="security.html">
          {{ site.data[page.lang]['data_escrow_product']['learn_more'] }}
        </a>
      </div>
    </div>
    <!-- Seventh Section -->
    <div class="bg-light-gray section-medium px-2">
      <div class="container">
        <h3 class="info__reading-title mx-auto">{{ site.data[page.lang]['data_escrow_product']['your_free_business'] }}</h3>
        <p class="info__reading-subtitle mx-auto mt-4">{{ site.data[page.lang]['data_escrow_product']['arm_yourself'] }}</p>
        <div class="section-medium">
          {% include escrow-introduction.html %}
        </div>
      </div>
    </div>
    <!-- Section -->
    {% include secure-assets.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $('#offer').hide();
    $('#closeButton').hide();

    $(".offer-btns").click(function(e){   
        e.stopPropagation();   
        if ($('#closeButton').is(":visible")) {
          $('#closeButton').hide();
          $('#openButton').show();
        }
        else {
          $('#openButton').hide();
          $('#closeButton').show();
        }
        $('#offer').toggle(300);
    });
  </script>
</body>