<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

    <!-- Leadinfo tracking code -->
<script>
  (function(l,e,a,d,i,n,f,o){if(!l[i]){l.GlobalLeadinfoNamespace=l.GlobalLeadinfoNamespace||[];
  l.GlobalLeadinfoNamespace.push(i);l[i]=function(){(l[i].q=l[i].q||[]).push(arguments)};l[i].t=l[i].t||n;
  l[i].q=l[i].q||[];o=e.createElement(a);f=e.getElementsByTagName(a)[0];o.async=1;o.src=d;f.parentNode.insertBefore(o,f);}
  }(window,document,"script","https://cdn.leadinfo.net/ping.js","leadinfo","LI-615C0E87ED394"));
  </script>
  <div class="start-guide bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg">
        <div class="container py-5">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h1 class="header__title mb-5 mt-5 mr-1">{{ site.data[page.lang]['start_guide']['introduction_to_software'] }}: {{ site.data[page.lang]['start_guide']['a_guide'] }}</h1>
              <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
              <script>
                hbspt.forms.create({
                portalId: "5365877",
                formId: "3e496ecf-ed6c-439f-97d2-fc4a5950f6d8"
              });
              </script>
            </div>
            <div class="col-md-6 col-sm-12 py-4">
              <img class="image-style" src="/images/resources/Introduction.svg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-white section-medium">
      <div class="container">
        <div class="section-divider my-3 mx-auto"></div>
        <h2 class="discover__title mx-auto mb-5">{{ site.data[page.lang]['start_guide']['what_you will'] }}</h2>
        <p class="discover__subtitle mx-auto mb-5">{{ site.data[page.lang]['start_guide']['access_our_guide'] }}</p>
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="discover__icon" src="/images/features/icons/terms.svg"/>
            <p class="discover__title2 mt-5">{{ site.data[page.lang]['start_guide']['benefits_of_software'] }}</p>
            <div class="section-divider my-3"></div>
            <p class="discover__text">{{ site.data[page.lang]['start_guide']['learn_about_what'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="discover__icon" src="/images/features/icons/support.svg"/>
            <p class="discover__title2 mt-5">{{ site.data[page.lang]['start_guide']['explanations_of_agreement'] }}</p>
            <div class="section-divider my-3"></div>
            <p class="discover__text">{{ site.data[page.lang]['start_guide']['explanations_of_the_different'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <img class="discover__icon" src="/images/features/icons/bill.svg"/>
            <p class="discover__title2 mt-5">{{ site.data[page.lang]['start_guide']['process_overview'] }}</p>
            <div class="section-divider my-3"></div>
            <p class="discover__text">{{ site.data[page.lang]['start_guide']['a_flow_chart'] }} </p>
          </div>
        </div>
        <a class="button btn-primary-xl mt-5 mx-auto start-guide-href" href="start-guide.html">
          {{ site.data[page.lang]['start_guide']['download_free_guide'] }}
        </a>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-white py-5">
      <div class="container">
        <div class="schedule__box">
          <div class="row">
            <div class="col-md-7 col-sm-12 mt-4">
              <h2 class="schedule__title mt-4">{{ site.data[page.lang]['start_guide']['see_codekeeper'] }}</h2>
              <p class="schedule__subtitle mt-4">{{ site.data[page.lang]['start_guide']['discover_how'] }}</p>
              <a data-toggle="modal" data-target="#meetingModal" class="button btn-primary-xl mt-5 mb-4 outline-none">
                {{ site.data[page.lang]['start_guide']['schedule_a_demo'] }}
              </a>

              <div class="modal fade meeting-modal" id="meetingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                  <div class="modal-content bg-transparent border-0">
                    <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/danny70?embed=true"></div>
                    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-sm-12 mt-4">
              <img class="image-style" src="/images/guide/schedule.svg"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}
</body>