<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="bg-alice-blue2 section-medium pt-150">
      <div class="container">
        <div class="row pt-100">
          <div class="col-md-6 col-sm-12">
            <p class="switch__main-title mt-4">Switch to Codekeeper Today!</p>
            <p class="switch__main-subtitle">Locked into an existing agreement with another provider? We can help you make the switch today.</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <img class="image-style mw-420 mt-3" src="/images/switch/switch-header-image.webp" alt="Header Dashboard Image"/>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-bondi-blue section-large position-relative">
      <img class="switch__left-shape" src="/images/switch/switch-small-shape.webp" alt="Left Background Image"/>
      <img class="switch__right-shape" src="/images/switch/switch-large-shape.webp" alt="Right Background Image"/>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <p class="switch__box-title pb-4 text-white">How does it work?</p>
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3 z-index-1" src="/images/switch/one.svg" alt="One Icon"/>
              <div>
                <p class="switch__box-text text-white fw-400">Apply for a buy-out agreement</p>
                <p class="switch__main-subtitle mt-2 text-white">Simply fill out this form with your details and proof of your current contract. This can be a copy of your current contract or a screenshot thereof.</p>
              </div>
              <div class="deposit-assets__dotted-line2"></div>
            </div>
            <div class="d-flex align-items-start mt-3 position-relative">
              <img class="mr-3 z-index-1" src="/images/switch/two.svg" alt="Two Icon"/>
              <div>
                <p class="switch__box-text text-white fw-400">Create your Codekeeper account</p>
                <p class="switch__main-subtitle mt-2 text-white">Once approved, you will have access to create your account on the Codekeeper platform. Our team of experts will be standing at the ready to help you with the process.</p>
              </div>
              <div class="deposit-assets__dotted-line2"></div>
            </div>
            <div class="d-flex align-items-start mt-3">
              <img class="mr-3 z-index-1" src="/images/switch/check.svg" alt="Check Icon"/>
              <div>
                <p class="switch__box-text text-white fw-400">Get full access to our state-of-the-art platform</p>
                <p class="switch__main-subtitle mt-2 text-white">You will now have full access to our platform and will only start paying when your previous contract was set to run out. </p>
              </div>
            </div>
            <img class="mt-4 mw-260 ml-5" src="/images/switch/switch-screen.webp" alt="Screen Image"/>
          </div>
          <div class="col-md-6 col-sm-12 section__modal-form3 mt-5">
            <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
            <script>
              hbspt.forms.create({
                region: "na1",
                portalId: "5365877",
                formId: "e321f6fb-3f49-498d-8920-d7333cfdd705"
              });
            </script>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="resources section-large">
      <div class="container">
        <div class="row column-reverse-mobile mt-5">
          <div class="col-md-6 col-sm-12 content-center">
            <img class="software-escrow__image" src="/images/switch/respected-brands.webp" alt="Respected Brands Image"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="people-choose__main-subtitle text-align-start mw-490 my-5">Thousands of well-respected brands and companies around the world prefer Codekeeper as their software escrow provider of choice. </p>
          </div>
        </div>
      </div>
      <div class="container pt-5">
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12">
            <p class="people-choose__main-subtitle ml-auto text-align-end mw-490 my-5">Make the switch to Codekeeper today and only start paying when the contract with your current provider ends. </p>
          </div>
          <div class="col-md-6 col-sm-12 content-center">
            <img class="software-escrow__image" src="/images/switch/make-the-switch.webp" alt="Make the switch Image"/>
          </div>
        </div>
      </div>
      <div class="container pt-5">
        <div class="row column-reverse-mobile mt-5">
          <div class="col-md-6 col-sm-12 content-center">
            <img class="software-escrow__image" src="/images/switch/developers-and.webp" alt="Developers and end-users Image"/>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="people-choose__main-subtitle text-align-start mw-490 my-5">Developers and end-users alike love to work with us because of our superior service and state-of-the-art online platform. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="bg-alice-blue2 section-large mb-200">
      <div class="container">
        <p class="switch__box-title pb-4">What you’ll get today: </p>
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-4">
            <div class="switch__box">
              <img class="switch__box-icon" src="/images/switch/icons/icon-cost.svg" alt="Cost Icon"/>
              <p class="switch__box-text mt-3">No extra costs involved </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <div class="switch__box">
              <img class="switch__box-icon" src="/images/switch/icons/icon-transfer.svg" alt="Transfer Icon"/>
              <p class="switch__box-text mt-3">A hassle-free transfer </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <div class="switch__box">
              <img class="switch__box-icon" src="/images/switch/icons/icon-setup.svg" alt="Setup Icon"/>
              <p class="switch__box-text mt-3">Quick and easy setup </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-4">
            <div class="switch__box">
              <img class="switch__box-icon" src="/images/switch/icons/icon-automatic.svg" alt="Automatic Icon"/>
              <p class="switch__box-text mt-3">Automatic depositing </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <div class="switch__box">
              <img class="switch__box-icon" src="/images/switch/icons/icon-unlimited.svg" alt="Unlimited Icon"/>
              <p class="switch__box-text mt-3">Unlimited deposits </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mt-4">
            <div class="switch__box">
              <img class="switch__box-icon" src="/images/switch/icons/icon-support.svg" alt="Support Icon"/>
              <p class="switch__box-text mt-3">Specialized support </p>
            </div>
          </div>
        </div>
        <div class="row pb-4">
          <div class="col-md-4 col-sm-12 mt-4">
            <div class="switch__box">
              <img class="switch__box-icon" src="/images/switch/icons/icon-automated.svg" alt="Automated Icon"/>
              <p class="switch__box-text mt-3">Seamless automated repository integration </p>
            </div>
          </div>
          <div class="col-md-8 col-sm-12 mt-4">
            <div class="switch__box">
              <img class="switch__box-icon" src="/images/switch/icons/icon-subscription.svg" alt="Subscription Icon"/>
              <p class="switch__box-text mt-3">Subscription options that ensure that you will only ever pay for what you need and use </p>
            </div>
          </div>
        </div>
        <p class="switch__box-subtitle mt-5">Securing your business continuity has never been easier. </p>
      </div>
    </div>
    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>