<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="resources">
      <div class="header__bg-landing">
        <img class="header__bg-logo-shape" src="/images/landing/logo-bg-shape.webp" alt="Logo CK Background Image"/>
        <div class="container section-medium">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <p class="header__subtitle2 my-4 font-16 text-bondi-blue">&mdash; &nbsp; W E L C O M E</p>
              <h1 class="header__title2 mt-3">Technical Assessment</h1>
              <p class="header__subtitle2 my-4 font-24 text-dark-cyan">Expert Strategies: Transforming Your Technical Needs into Actionable Solutions.</p>
              <div class="d-flex">
                <img class="image-style mw-35 mt-1 mr-3" src="/images/landing/shield-icon.webp" alt="Shield Icon"/>
                <div>
                  <p class="header__subtitle2 font-20 text-slate-gray">Fill out the questionnaire below to help us better understand your specific needs and technical requirements.</p>
                  <a class="button btn-cerulean3 my-4" href="#start-assessment">
                    Start Assessment
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="image-style mh-400" src="/images/landing/dashboard-image.webp" alt="Dashboard Image"/>
              <p class="header__subtext mt-2 text-center">We support all popular developer platforms. 50+ Integrations available. </p>
              <!-- Developer Platforms -->
              {% include developer-platforms.html %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white section-medium pt-200 mb-5" id="start-assessment">
      <div class="container">
        
        <div class="mw-700 mx-auto section__assessment mt-5">
          <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
          <script>
            hbspt.forms.create({
              region: "na1",
              portalId: "5365877",
              formId: "1b2c7f80-84a3-4c81-986e-260919243efb"
            });
          </script>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="resources">
      <div class="intro-guide__container mt-0 pt-150 min-h-600">
        <img class="intro-guide__shape-left" src="/images/landing/experts-small-shape.webp" alt="Small Background Image"/>
        <img class="intro-guide__shape-right" src="/images/landing/experts-large-shape.webp" alt="Large Background Image"/>
        <div class="container">
          <div class="row">
            <div class="col-md-5 col-sm-12">
              <img class="image-style" src="/images/landing/our-experts.webp" alt="Our Expert Image"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="intro-guide__main-title mt-4">Book a 1-on-1 Demo</p>
              <p class="intro-guide__main-subtitle text-slate-gray">Book a demo with one of our experts who will be more than happy to show you around our platform and answer any questions you might have.</p>
              <a class="button btn-cerulean3 my-4" href="book-a-demo.html">
                Book a Demo
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}

</body>