<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="resources">
      <div class="header__bg-landing">
        <img class="header__bg-logo-shape" src="/images/landing/logo-bg-shape.webp" alt="Logo CK Background Image"/>
        <div class="container section-medium">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <p class="header__subtitle2 my-4 font-16 text-bondi-blue">&mdash; &nbsp; W E L C O M E</p>
              <h1 class="header__title2 mt-3">Technical Assessment</h1>
              <p class="header__subtitle2 my-4 font-24 text-dark-cyan">Expert Strategies: Transforming Your Technical Needs into Actionable Solutions.</p>
              <div class="d-flex">
                <img class="image-style mw-35 mt-1 mr-3" src="/images/landing/shield-icon.webp" alt="Shield Icon"/>
                <div>
                  <p class="header__subtitle2 font-20 text-slate-gray">Interact with our Chatbot to help us better understand your specific needs and technical requirements.</p>
                  <a class="button btn-cerulean3 my-4" href="#hs-chat-open">
                    Start Assessment
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="image-style mh-400" src="/images/landing/dashboard-image.webp" alt="Dashboard Image"/>
              <p class="header__subtext mt-2 text-center">We support all popular developer platforms. 50+ Integrations available. </p>
              <!-- Developer Platforms -->
              {% include developer-platforms.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $( document ).ready(function() {
      $('.open-chat').click(function(){

        window.HubSpotConversations.widget.open();
      });
    });
  </script>

</body>