<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-source-code">
        <img class="header__source-shape" src="/images/source-code-escrow/header-shape.webp" alt="Background Image"/>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <p class="header__info">{{ site.data[page.lang]['source_code_escrow']['software_escrow_assets'] }}</p>
              <h1 class="header__title text-align-start mt-4">Technology & Designs Escrow</h1>
              <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['source_code_escrow']['in_software_escrow'] }}</p>
              <div class="d-flex flex-wrap resources mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 content-center flex-column">
              <img class="image-style mw-530 mt-4" src="/images/source-code-escrow/header-escrow-image.webp" alt="Header Image"/>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white section-large">
      <p class="we-support__title mx-auto">{{ site.data[page.lang]['software_escrow']['we_support_most'] }}</p>
      <p class="we-support__subtitle mx-auto mt-4">{{ site.data[page.lang]['software_escrow']['make_it_easy'] }}</p>
      <div class="resources">
        <div class="applications__logos mt-5">
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/bitbucket.svg"/>
            <p class="applications__logo-text">Bitbucket</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/github.svg"/>
            <p class="applications__logo-text">GitHub</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/gitlab-large.svg"/>
            <p class="applications__logo-text">GitLab</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/git.svg"/>
            <p class="applications__logo-text">Git</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/google-cloud-large.svg"/>
            <p class="applications__logo-text">Google Cloud</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/azure-large.svg"/>
            <p class="applications__logo-text">Microsoft Azure</p>
          </div>
          <div class="applications__logo">
            <img class="applications__logo-image" src="/images/homepage/logos/amazon2.svg"/>
            <p class="applications__logo-text">Amazon Web Services</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-large bg-gradient-gray">
      <div class="container">
        <p class="depositing__title pb-3">{{ site.data[page.lang]['source_code_escrow']['does_depositing'] }}</p>
        <div class="row mt-5">
          <div class="col-md-6 col-sm-12">
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/time-consuming.svg"/>{{ site.data[page.lang]['source_code_escrow']['time_consuming'] }}</p>
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/complex-deposit.svg"/>{{ site.data[page.lang]['source_code_escrow']['complex_deposit'] }}</p>
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/spending-hours.svg"/>{{ site.data[page.lang]['source_code_escrow']['developers_spending'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/outdated-deposit.svg"/>{{ site.data[page.lang]['source_code_escrow']['outdated_and'] }}</p>
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/missing-repositories.svg"/>{{ site.data[page.lang]['source_code_escrow']['missing'] }}</p>
            <p class="depositing__subtitle"><img class="mr-2 pb-1" src="/images/source-code-escrow/icons/unsupported-source.svg"/>{{ site.data[page.lang]['source_code_escrow']['unsupported_source'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="depositing__bg"></div>

    <div class="depositing__margin container">
      <p class="header__info text-center">{{ site.data[page.lang]['source_code_escrow']['why_people'] }}</p>
      <p class="information__main-title">{{ site.data[page.lang]['source_code_escrow']['source_code_escrow'] }}</p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center mt-4" src="/images/source-code-escrow/developers-love.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">{{ site.data[page.lang]['source_code_escrow']['developers_love'] }}</p>
          <p class="information__subtitle">{{ site.data[page.lang]['source_code_escrow']['directly_integrated'] }}</p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile pt-5">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end">{{ site.data[page.lang]['source_code_escrow']['easy_deposit'] }}</p>
          <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['source_code_escrow']['no_need_to'] }}</p>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image mt-4" src="/images/source-code-escrow/easy-deposit.webp"/>
        </div>
      </div>
      <div class="row mt-5 pt-5">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center mt-4" src="/images/source-code-escrow/integrations-library.webp"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">{{ site.data[page.lang]['source_code_escrow']['integrations_library'] }}</p>
          <p class="information__subtitle">{{ site.data[page.lang]['source_code_escrow']['recent_version'] }} </p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile pt-5">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end">{{ site.data[page.lang]['source_code_escrow']['many_add_ons'] }}</p>
          <p class="information__subtitle text-align-end ml-auto mb-0">{{ site.data[page.lang]['source_code_escrow']['need_local'] }}</p>
          <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['source_code_escrow']['have_us'] }} <a href="verification.html" class="text-bondi-blue text-underline verification-href">{{ site.data[page.lang]['source_code_escrow']['verify_and'] }}</a> {{ site.data[page.lang]['source_code_escrow']['the_deposits'] }}</p>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image mt-4" src="/images/source-code-escrow/many-add-ons.webp"/>
        </div>
      </div>
    </div>

    <div class="easy__bg">

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <p class="header__info mt-2">{{ site.data[page.lang]['software_escrow']['easy_automated'] }}</p>
            <p class="easy__main-title">{{ site.data[page.lang]['source_code_escrow']['other_critical'] }}</p>
            <p class="easy__main-subtitle">{{ site.data[page.lang]['source_code_escrow']['automated_deposits_of'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/data.svg"/>
              <p class="easy__title">{{ site.data[page.lang]['software_escrow']['data'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['most_applications'] }}</p>
              <a class="easy__link data-escrow-href" href="data-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
          
        </div>
        <div class="row mt-2">
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/documents.svg"/>
              <p class="easy__title">{{ site.data[page.lang]['software_escrow']['documents'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['deposit_all_kinds'] }}</p>
              <a class="easy__link data-escrow-href" href="data-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/credentials.svg"/>
              <p class="easy__title">{{ site.data[page.lang]['software_escrow']['credentials'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['one_of_the'] }}</p>
              <a class="easy__link data-escrow-href" href="data-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/technology.svg"/>
              <p class="easy__title">{{ site.data[page.lang]['software_escrow']['technology_designs'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['use_the_escrows'] }}</p>
              <a class="easy__link data-escrow-href" href="data-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="setting-up__container mx-auto pb-300">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <p class="setting-up__title mt-5">{{ site.data[page.lang]['source_code_escrow']['how_it_works'] }}</p>
              <p class="setting-up__subtitle">{{ site.data[page.lang]['source_code_escrow']['setting_up'] }}</p>
            </div>
            <div class="col-md-5 col-sm-12">
              <img class="image-style" src="/images/source-code-escrow/how-it-works.webp"/>
            </div>
          </div>
          <div class="setting-up__devider mx-auto my-5"></div>
          <div class="row pt-5">
            <div class="col-md-5 col-sm-12">
              <img class="image-style pr-5" src="/images/source-code-escrow/select-integration.webp"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="setting-up__title-small mt-4">{{ site.data[page.lang]['source_code_escrow']['select_the'] }}</p>
              <p class="setting-up__subtitle">{{ site.data[page.lang]['source_code_escrow']['use_oauth'] }}</p>
              <a class="easy__link festures-href" href="features.html">{{ site.data[page.lang]['source_code_escrow']['more_details'] }} <i class="fa fa-xs fa-caret-right" aria-hidden="true"></i></a>
              <div class="resources">
                <div class="applications__logos mt-4">
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/bitbucket-large.svg"/>
                    <p class="applications__logo-text">Bitbucket</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/github-large.svg"/>
                    <p class="applications__logo-text">GitHub</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/gitlab-large.svg"/>
                    <p class="applications__logo-text">GitLab</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/git-large.svg"/>
                    <p class="applications__logo-text">Git</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/google-cloud-large.svg"/>
                    <p class="applications__logo-text">Google<br> Cloud</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/homepage/logos/azure-large.svg"/>
                    <p class="applications__logo-text">Microsoft Azure</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-2" src="/images/homepage/logos/aws-large.svg"/>
                    <p class="applications__logo-text">Amazon<br> Web<br> Services</p>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <img class="mr-3" src="/images/source-code-escrow/icons/info.svg"/>
                <!-- <i class="fa fa-info-circle mr-3" aria-hidden="true"></i> -->
                <p class="setting-up__text mb-0">{{ site.data[page.lang]['source_code_escrow']['for_non'] }} <a class="text-bondi-blue contact-href" href="contact.html">{{ site.data[page.lang]['source_code_escrow']['contact_us'] }}</a></p>
              </div>
            </div>
          </div>
          <div class="setting-up__devider mx-auto my-5"></div>
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <p class="setting-up__title-small mt-4">{{ site.data[page.lang]['source_code_escrow']['or_go_manual'] }}</p>
              <p class="setting-up__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_you_prefer_manual'] }}</p>
            </div>
            <div class="col-md-5 col-sm-12">
              <img class="image-style" src="/images/source-code-escrow/go-manual.webp"/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container resources">
      <div class="best-price__bg">
        <img class="best-price__small-shape" src="/images/landing/small-shape.webp" alt="Small Shape Image"/>
        <img class="best-price__medium-shape" src="/images/landing/medium-shape.webp" alt="Medium Shape Image"/>
        <img class="best-price__large-shape" src="/images/landing/large-shape.webp" alt="Large Shape Image"/>
        <div class="row mt-3">
          <div class="col-md-5 col-sm-12 content-center">
            <img class="best-price__image mb-3" src="/images/landing/best-price.webp" alt="Best Price Image"/>
          </div>
          <div class="col-md-7 col-sm-12"> 
            <p class="best-price__title">{{ site.data[page.lang]['information_escrow']['industry_leading'] }}</p>
            <p class="best-price__text">{{ site.data[page.lang]['information_escrow']['you_dont_need_to'] }}</p>
            <a class="button btn-yellow pricing-href my-4" href="pricing.html">
              {{ site.data[page.lang]['index']['explore_our_pricing'] }}
            </a>
          </div>
        </div>
      </div>
    </div>


    <div class="datacenters__bg">
      <div class="container d-flex flex-column align-items-center">
        <p class="scenario__title mx-auto mw-100 pb-3">{{ site.data[page.lang]['source_code_escrow']['securely_stored'] }}</p>
        <p class="protect__subtext text-dark-cyan">{{ site.data[page.lang]['features']['we_operate_within'] }}:</p>
        <img class="datacenter-image pb-5" src="/images/logos/datacenter-certifications.webp"/>
      </div>
      <div class="container">
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/data-security.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['data_security'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['our_data'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/encryption.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['end_to_end'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['data_is_secured'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/audit.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['deposit_audit'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['review_the'] }}</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/upload-folder.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['secure_upload'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_you_prefer'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/gdpr.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['gdpr_compliance'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_your_deposits'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="mt-5" src="/images/source-code-escrow/icons/hipaa.svg"/>
            <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['hipaa_compliance'] }}</p>
            <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_your'] }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container section-large pricing">
      <h4 class="section__title text-align-start">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['do_you_also'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['all_accounts_include'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['can_you_tell'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['deposited_source_code'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['can_you_provide_us'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['click'] }} <a href="resources.html" class="text-underline resources-href ">{{ site.data[page.lang]['pricing']['here'] }}</a> {{ site.data[page.lang]['pricing']['to_access_our'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['what_payment_methods'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['we_support_all'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['will_i_get'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['yes_if_you'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['when_does_the_escrow'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['once_you_sign_up'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['does_codekeeper_have'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['no_to_ensure'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['where_is_the_code'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['pricing']['we_back_up_all'] }}</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['in_which_countries'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['we_have_offices'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['do_you_offer'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['we_offer_different2'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['what_types_of_escrow'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['agreements_for_all'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['can_i_change'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['you_can_make_changes'] }} <a href="mailto: support@codekeeper.co" class="text-underline">{{ site.data[page.lang]['pricing']['send_us_an_email'] }}</a> {{ site.data[page.lang]['pricing']['with_your_new'] }} </li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['how_secure_is'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__modal-subtext">{{ site.data[page.lang]['pricing']['protecting_the_data'] }} <a href="security.html" class="text-underline security-href">{{ site.data[page.lang]['pricing']['learn_more_about'] }}</a></li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['how_long_has'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['codekeeper_was_founded'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['pricing']['is_there_someone'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['pricing']['if_you_are_interested'] }} <a href="contact.html" class="text-underline contact-href">{{ site.data[page.lang]['pricing']['here'] }}</a>. {{ site.data[page.lang]['pricing']['if_you_are_an_existing'] }} <a href="mailto: support@codekeeper.co" class="text-underline">{{ site.data[page.lang]['pricing']['email_us'] }}</a> {{ site.data[page.lang]['pricing']['at_any_time'] }}</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-0 text-center">{{ site.data[page.lang]['pricing']['have_not_found'] }}</p>
      <p class="section__text text-center fw-bold"><a href="contact.html" class="text-underline contact-href">{{ site.data[page.lang]['pricing']['contact_us'] }}</a></p>
    </div>

    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>

  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $('#questions').hide();
    $('#hide').hide();

    $(".openLines").click(function(){      
        if ($('#hide').is(":visible")) {
          $('#hide').hide();
          $('#show').show();
        }
        else {
          $('#show').hide();
          $('#hide').show();
        }
        $('#questions').toggle(300);
        //  $("div").toggle(300);
    });
  </script>

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    $( document ).ready(function() {
      $.ajax('https://ipapi.co/json')
      .then(
        function success(response) {
          if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
            $('.software-escrow-monthly').text('€89');
            $('.saas-escrow-monthly').text('€199');
          }
          else if (response.currency === 'GBP') {
            
            $('.software-escrow-monthly').text('£79');
            $('.saas-escrow-monthly').text('£149');
          }
          else if (response.currency === 'INR') {
            $('.software-escrow-monthly').text('₹6,995');
            $('.saas-escrow-monthly').text('₹12,500');
          }
          else if (response.currency === 'AUD') {
            $('.software-escrow-monthly').text('A$109');
            $('.saas-escrow-monthly').text('A$250');
          }

          else if (response.currency === 'SGD') {
            $('.software-escrow-monthly').text('$109');
            $('.saas-escrow-monthly').text('$249');
          }

          else if (response.currency === 'ZAR') {
            $('.software-escrow-monthly').text('R1,395');
            $('.saas-escrow-monthly').text('R2,799');
          }

          else if (response.currency === 'CHF') {
            $('.software-escrow-monthly').text('CHF89');
            $('.saas-escrow-monthly').text('CHF219');
          }

          else if (response.currency === 'CAD') {
            $('.software-escrow-monthly').text('CA$110');
            $('.saas-escrow-monthly').text('CA$249');
          }
        },
        function fail(data, status) {
            console.log('Request failed.  Returned status of',
                        status);
        }
      )
      .catch((e) => console.log(e))
    });
  </script>

  <script>
    $( document ).ready(function() {
      $('.open-chat').click(function(){

        window.HubSpotConversations.widget.open();
      });
    });
  </script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

  <!-- Start of HubSpot Embed Code -->
    <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/5365877.js"></script> -->
  <!-- End of HubSpot Embed Code -->
</body>