<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->
    <script>
      var prices = {{ site.data.pricing.prices | jsonify }};
    </script>

  <div class="bg-white software-escrow">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content">
      <div class="header__bg-source-code">
        <img class="header__source-shape" src="/images/source-code-escrow/header-shape.webp" alt="Header Background Shape"/>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <p class="header__info">{{ site.data[page.lang]['source_code_escrow']['software_escrow_assets'] }}</p>
              <h1 class="header__title text-align-start mt-4">{{ site.data[page.lang]['source_code_escrow']['technology_designs'] }}</h1>
              <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['ip_escrow']['how_do_you'] }}</p>
              <div class="d-flex flex-wrap resources mt-4">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                  {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>            
            </div>
            <div class="col-md-4 col-sm-12 content-center flex-column">
              <img class="image-style mw-530 mt-4" src="/images/escrow-assets/technology-designs-escrow.webp" alt="Technology Designs Escrow Illustration"/>   
            </div>
          </div>
          <div class="resources">
            <p class="header__subtext mt-4">{{ site.data[page.lang]['source_code_escrow']['supported_platforms'] }} </p>
            <div class="applications__logos mt-4 justify-content-start">
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Photoshop.svg" alt="Photoshop Icon"/>
                <p class="applications__logo-text">Adobe Photoshop</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Illustrator.svg" alt="Illustrator Icon"/>
                <p class="applications__logo-text">Adobe Illustrator</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/After effect.svg" alt="After Effect Icon"/>
                <p class="applications__logo-text">Adobe After Effects</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Sketch.svg" alt="Sketch Icon"/>
                <p class="applications__logo-text">Sketch</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Figma.svg" alt="Figma Icon"/>
                <p class="applications__logo-text">Figma</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/AutoCAD.svg" alt="AutoCAD Icon"/>
                <p class="applications__logo-text">AutoCAD</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Fusion-361.svg" alt="Fusion 361 Icon"/>
                <p class="applications__logo-text">Fusion 360</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Cinema-4D.svg" alt="Cinema 4D Icon"/>
                <p class="applications__logo-text">Cinema 4D</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Unreal.svg" alt="Unreal Icon"/>
                <p class="applications__logo-text">Unreal Engine</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Unity.svg" alt="Unity Icon"/>
                <p class="applications__logo-text">Unity</p>
              </div>
              <div class="applications__logo mx-0">
                <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Affinity.svg" alt="Affinity Icon"/>
                <p class="applications__logo-text">Affinity Designer</p>
              </div>
              <a class="easy__link integrations-href mb-5 pb-3 ml-4" href="integrations.html">{{ site.data[page.lang]['source_code_escrow']['and_many_more'] }} <i class="fa fa-xs fa-caret-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-large bg-white">
      <div class="container">
        <p class="depositing__title pb-3 text-center mb-4">{{ site.data[page.lang]['source_code_escrow']['does_depositing_design'] }}</p>
        <!-- Section -->
        {% include depositing-code.html %}
      </div>
    </div>
    <div class="depositing__bg"></div>

    <div class="depositing__margin container">
      <p class="header__info text-center">{{ site.data[page.lang]['source_code_escrow']['why_people'] }}</p>
      <p class="information__main-title">{{ site.data[page.lang]['source_code_escrow']['technology_designs'] }}</p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center mt-4" src="/images/source-code-escrow/developers-love.webp" alt="Illustration of Happy Developers Embracing Codekeeper" loading="lazy"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">{{ site.data[page.lang]['source_code_escrow']['developers_love'] }}</p>
          <p class="information__subtitle">{{ site.data[page.lang]['ip_escrow']['fully_automated'] }}</p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile pt-5">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end">{{ site.data[page.lang]['source_code_escrow']['easy_deposit'] }}</p>
          <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['ip_escrow']['no_need_to'] }}</p>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image mt-4" src="/images/source-code-escrow/easy-deposit.webp" alt="Illustration of User-Friendly Interface for Easy Deposit Administration" loading="lazy"/>
        </div>
      </div>
      <div class="row mt-5 pt-5">
        <div class="col-md-6 col-sm-12">
          <img class="information__image content-center mt-4" src="/images/source-code-escrow/integrations-library.webp" alt="Illustration of Integrations Library" loading="lazy"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <p class="information__title">{{ site.data[page.lang]['source_code_escrow']['integrations_library'] }}</p>
          <p class="information__subtitle">{{ site.data[page.lang]['ip_escrow']['you_can_rest'] }} </p>
        </div>
      </div>
      <div class="row mt-5 column-reverse-mobile pt-5">
        <div class="col-md-6 col-sm-12">
          <p class="information__title text-align-end">{{ site.data[page.lang]['source_code_escrow']['many_add_ons'] }}</p>
          <p class="information__subtitle text-align-end ml-auto mb-0">{{ site.data[page.lang]['source_code_escrow']['need_local'] }}</p>
          <p class="information__subtitle text-align-end ml-auto">{{ site.data[page.lang]['source_code_escrow']['have_us'] }} <a href="verification.html" class="text-bondi-blue text-underline verification-href fw-bold">{{ site.data[page.lang]['source_code_escrow']['verify_and'] }}</a> {{ site.data[page.lang]['ip_escrow']['the_deposits'] }}</p>
        </div>
        <div class="col-md-6 col-sm-12 content-center">
          <img class="information__image mt-4" src="/images/source-code-escrow/many-add-ons.webp" alt="Illustration of Various Add-ons Available" loading="lazy"/>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="setting-up__container mx-auto pb-300">
        <div class="container">
          <p class="setting-up__title mt-5 text-center">{{ site.data[page.lang]['source_code_escrow']['how_it_works'] }}</p>
          <p class="setting-up__subtitle text-center mx-auto mw-800 mb-5">{{ site.data[page.lang]['source_code_escrow']['setting_up'] }}</p>
          <div class="row pt-5">
            <div class="col-md-5 col-sm-12">
              <img class="image-style pr-5" src="/images/source-code-escrow/integrate-platform.webp" alt="Platform Integration Options: Diverse and Comprehensive" loading="lazy"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="setting-up__title-small mt-4">{{ site.data[page.lang]['source_code_escrow']['integrate_the_platform'] }}</p>
              <p class="setting-up__subtitle">{{ site.data[page.lang]['source_code_escrow']['we_support_most'] }} <a class="text-bondi-blue integrations-href fw-bold" href="integrations.html">{{ site.data[page.lang]['source_code_escrow']['see_all_integrations'] }}</a></p>
              <div class="resources">
                <div class="applications__logos mt-5 justify-content-start">
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Photoshop.svg" alt="Photoshop Icon" loading="lazy"/>
                    <p class="applications__logo-text">Adobe Photoshop</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Illustrator.svg" alt="Illustrator Icon" loading="lazy"/>
                    <p class="applications__logo-text">Adobe Illustrator</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/After effect.svg" alt="After Effect Icon" loading="lazy"/>
                    <p class="applications__logo-text">Adobe After Effects</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Sketch.svg" alt="Sketch Icon" loading="lazy"/>
                    <p class="applications__logo-text">Sketch</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Figma.svg" alt="Figma Icon" loading="lazy"/>
                    <p class="applications__logo-text">Figma</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/AutoCAD.svg" alt="AutoCAD Icon" loading="lazy"/>
                    <p class="applications__logo-text">AutoCAD</p>
                  </div>
                </div>
                <div class="applications__logos justify-content-start">
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Fusion-361.svg" alt="Fusion 361 Icon" loading="lazy"/>
                    <p class="applications__logo-text">Fusion 360</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Cinema-4D.svg" alt="Cinema 4D Icon" loading="lazy"/>
                    <p class="applications__logo-text">Cinema 4D</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Unreal.svg" alt="Unreal Icon" loading="lazy"/>
                    <p class="applications__logo-text">Unreal Engine</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Unity.svg" alt="Unity Icon" loading="lazy"/>
                    <p class="applications__logo-text">Unity</p>
                  </div>
                  <div class="applications__logo mx-0">
                    <img class="applications__logo-image3 p-1" src="/images/escrow-assets/icons/Affinity.svg" alt="Affinity Icon" loading="lazy"/>
                    <p class="applications__logo-text">Affinity Designer</p>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center pb-4">
                <img class="mr-3 mw-35" src="/images/source-code-escrow/icons/info.svg" alt="Info Icon" loading="lazy"/>
                <!-- <i class="fa fa-info-circle mr-3" aria-hidden="true"></i> -->
                <p class="setting-up__text mb-0">{{ site.data[page.lang]['source_code_escrow']['for_non'] }} <a class="text-bondi-blue contact-href fw-bold" href="contact.html">{{ site.data[page.lang]['source_code_escrow']['contact_us'] }}.</a></p>
              </div>
              <a class="easy__link solutions-href" href="solutions.html">{{ site.data[page.lang]['source_code_escrow']['more_details'] }} <i class="fa fa-xs fa-caret-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="setting-up__devider mx-auto my-5"></div>
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <p class="setting-up__title-small mt-4">{{ site.data[page.lang]['ip_escrow']['or_go_manual'] }}</p>
              <p class="setting-up__subtitle">{{ site.data[page.lang]['ip_escrow']['make_use_of'] }}</p>
            </div>
            <div class="col-md-5 col-sm-12">
              <img class="image-style" src="/images/source-code-escrow/go-manual.webp" alt="Illustration for Secure Manual Upload Process: Hassle-free and Reliable" loading="lazy"/>
            </div>
          </div>
          <div class="setting-up__devider mx-auto my-5"></div>
          <div class="row">
            <div class="col-md-5 col-sm-12 content-center">
              <img class="image-style mw-260" src="/images/source-code-escrow/contact-us.webp" alt="Personalized Assistance from Our Expert Team Illustration" loading="lazy"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="setting-up__title-small mt-4">{{ site.data[page.lang]['source_code_escrow']['not_covering_your'] }}</p>
              <p class="setting-up__subtitle">{{ site.data[page.lang]['ip_escrow']['our_team_is'] }}</p>
              <a class="button btn-secondary-large contact-href" href="contact.html">
                {{ site.data[page.lang]['pricing']['contact_us'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container resources">
      <div class="best-price__bg">
        <img class="best-price__small-shape" src="/images/landing/small-shape.webp" alt="Small Background Shape" loading="lazy"/>
        <img class="best-price__medium-shape" src="/images/landing/medium-shape.webp" alt="Medium Background Shape" loading="lazy"/>
        <img class="best-price__large-shape" src="/images/landing/large-shape.webp" alt="Large Background Shape" loading="lazy"/>
        <div class="row mt-3">
          <div class="col-md-5 col-sm-12 content-center">
            <img class="best-price__image mb-3" src="/images/landing/best-price.webp" alt="Get Affordable Industry-Leading Features Illustration" loading="lazy"/>
          </div>
          <div class="col-md-7 col-sm-12"> 
            <p class="best-price__title">{{ site.data[page.lang]['ip_escrow']['industry_leading'] }}</p>
            <p class="best-price__text">{{ site.data[page.lang]['information_escrow']['you_dont_need_to'] }}</p>
            <a class="button btn-yellow pricing-href my-4" href="pricing.html">
              {{ site.data[page.lang]['index']['explore_our_pricing'] }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    {% include best-datacenters.html %}

    <div class="container section-large pricing">
      <h4 class="section__title text-align-start">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_ip']['what_is_ip'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_ip']['ip_escrow_is'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_ip']['why_do_i'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_ip']['ip_escrow_is_important'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_ip']['what_are_the_benefits'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_ip']['protection_of'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_ip']['what_types_of_ip'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_ip']['ip_escrow_can'] }}.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_ip']['how_much_does'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_ip']['ip_escrow_pricing'] }} <a href="pricing.html" class="text-underline pricing-href ">{{ site.data[page.lang]['faq_pricing']['here'] }}</a>.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['what_are_the_supported'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq']['we_support_over'] }} <a href="integrations.html" class="text-underline integrations-href ">{{ site.data[page.lang]['faq_contact']['here'] }}</a>.</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_ip']['how_do_i_get'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_ip']['to_get_started_with'] }} <a href="book-a-demo.html" class="text-underline book-a-demo-href ">{{ site.data[page.lang]['faq']['book_a_demo'] }}</a> {{ site.data[page.lang]['faq']['with_one_of'] }} <a href="pricing.html" class="text-underline pricing-href ">{{ site.data[page.lang]['faq_pricing']['here'] }}</a>.</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['what_happens_to_my'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['codekeeper_has'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_ip']['what_is_the_difference'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_ip']['ip_escrow_is_focused'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['how_secure_are_the'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['we_operate_within'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_ip']['can_i_transfer'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['absolutely_we_are_here'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['does_codekeeper_have'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq']['no_to_ensure_complete'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_ip']['what_are_some'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_ip']['examples_of_ip'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq']['what_happens_in_the'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_data']['once_the_release'] }}</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-5">{{ site.data[page.lang]['faq']['if_you_have_any2'] }} </p>
    </div>

    <div class="easy__bg">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <p class="header__info mt-2">{{ site.data[page.lang]['software_escrow']['easy_automated'] }}</p>
            <p class="easy__main-title">{{ site.data[page.lang]['source_code_escrow']['other_critical'] }}</p>
            <p class="easy__main-subtitle">{{ site.data[page.lang]['source_code_escrow']['automated_deposits_of'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/data-source.svg" alt="Data Source Icon" loading="lazy"/>
              <p class="easy__title">{{ site.data[page.lang]['source_code_escrow']['source_code_escrow'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['make_sure'] }}</p>
              <a class="easy__link source-code-escrow-href" href="source-code-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/data.svg" alt="Data Icon" loading="lazy"/>
              <p class="easy__title">{{ site.data[page.lang]['software_escrow']['data'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['most_applications'] }}</p>
              <a class="easy__link data-escrow-href" href="data-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/documents.svg" alt="Documents Icon" loading="lazy"/>
              <p class="easy__title">{{ site.data[page.lang]['software_escrow']['documents'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['deposit_all_kinds'] }}</p>
              <a class="easy__link document-escrow-href" href="document-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="easy__box mt-4">
              <img class="easy__icon" src="/images/software-escrow/icons/credentials.svg" alt="Credentials Icon" loading="lazy"/>
              <p class="easy__title">{{ site.data[page.lang]['software_escrow']['credentials'] }}</p>
              <p class="easy__subtitle">{{ site.data[page.lang]['software_escrow']['one_of_the'] }}</p>
              <a class="easy__link credentials-escrow-href" href="credentials-escrow.html">{{ site.data[page.lang]['software_escrow']['learn_more'] }} <i class="fa fa-xs fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    {% include ready-for-recovery.html %}

    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}

  <script src="/js/faqDropdown.js"></script>
  <script src="/js/monthlyEscrowPricing.js"></script>

  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>

  <script>
    localStorage.removeItem('prices');
  </script>

  <script>
    var prices = {{ site.data.pricing.prices | jsonify }};
  </script>
</body>