<body>
  <header class="features-header">
    {% include navigation.html %}

    <div class="features-header__content container">
      <h1 class="features-header__content-title">{{ site.data[page.lang]['translators']['join_our'] }}</h1>
      <p class="features-header__content-text mb-5 darker-grey">{{ site.data[page.lang]['translators']['become_a_part'] }}</p>
        <div class="w-100 d-flex justify-content-center features-header__content-btns  mb-5">
          <a href="https://translators.tolq.com/sign_in">
            <button class="btn-initial btn-blue">{{ site.data[page.lang]['translators']['login'] }}</button>
          </a>
          <a href="https://translators.tolq.com/sign_up">
            <button class="btn-initial btn-outline">{{ site.data[page.lang]['translators']['become_a'] }}</button>
          </a>
        </div>
      <img class="features-header__content-img -translators d-block mx-auto w-100" src="/images/translator-header.svg" alt="" />
      <img class="features-header__content-img-mob w-100 pb-5" src="/images/translator-header.svg" alt="" />
    </div>
  </header>

  <section class="translators-projects container">
    <h2 class="translators-projects__title">{{ site.data[page.lang]['translators']['work_on'] }}</h2>

    <p class="translators-projects__text dark-grey">{{ site.data[page.lang]['translators']['our_translators'] }}</p>

    <p class="translators-projects__text -has-margin dark-grey">{{ site.data[page.lang]['translators']['whether_you'] }}</p>

    <div class="d-flex flex-wrap justify-content-between">
      <div class="index-partners__tabs">
        <div class="d-flex">
          <span class="index-partners__tabs-index pt-0"><img src="/images/inbox.svg" alt="" /></span>
          <div>
            <p class="index-partners__tabs-title pt-0 -is-selected">{{ site.data[page.lang]['translators']['task_inbox'] }}</p>
            <p class="index-partners__tabs-text -is-visible dark-grey">{{ site.data[page.lang]['translators']['with_tolq'] }}</p>
          </div>
        </div>

        <div class="index-partners__tabs-border -selected"></div>

        <div class="d-flex">
          <span class="index-partners__tabs-index"><img src="/images/speech-bubble(1).svg" alt="" /></span>
          <div>
            <p class="index-partners__tabs-title">{{ site.data[page.lang]['translators']['powerful_platform'] }}</p>
            <p class="index-partners__tabs-text dark-grey">{{ site.data[page.lang]['translators']['as_a_translator'] }}</p>
          </div>
        </div>

        <div class="index-partners__tabs-border"></div>

        <div class="d-flex">
          <span class="index-partners__tabs-index"><img src="/images/mail(3).svg" alt="" /></span>
          <div>
            <p class="index-partners__tabs-title">{{ site.data[page.lang]['translators']['flexible_work'] }}</p>
            <p class="index-partners__tabs-text dark-grey">{{ site.data[page.lang]['translators']['manage_your'] }}</p>
          </div>
        </div>
      </div>

      <div class="index-partners__tabs-img">
        <img src="/images/projects.svg" alt="" />
      </div>
    </div>
  </section>

  <section class="index-enterprise">
    <div class="container">
      <h2 class="index-enterprise__title mx-auto">{{ site.data[page.lang]['translators']['tools_that'] }}</h2>
      <p class="index-enterprise__text mt-4 darker-grey">{{ site.data[page.lang]['translators']['tolq_gives'] }}</p>
      <div class="index-enterprise__row d-flex justify-content-between">
        <div class="index-enterprise__col bg-white">
          <img src="/images/style-guide.svg" alt="" />
          <p class="index-enterprise__col-title">{{ site.data[page.lang]['translators']['style_guides'] }}</p>
          <p class="index-enterprise__col-text darker-grey">{{ site.data[page.lang]['translators']['available_right'] }}</p>
        </div>
        <div class="index-enterprise__col bg-white">
          <img src="/images/match.svg" alt="" />
          <p class="index-enterprise__col-title">{{ site.data[page.lang]['translators']['ai_autocomplete'] }}</p>
          <p class="index-enterprise__col-text darker-grey">{{ site.data[page.lang]['translators']['by_leveraging'] }}</p>
        </div>
        <div class="index-enterprise__col bg-white">
          <img src="/images/helper.svg" alt="" />
          <p class="index-enterprise__col-title">{{ site.data[page.lang]['translators']['translation_helper'] }}</p>
          <p class="index-enterprise__col-text darker-grey">{{ site.data[page.lang]['translators']['make_use'] }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="translators-how container">
    <h2 class="translators-how__title">{{ site.data[page.lang]['translators']['how_it_works'] }}</h2>
    <p class="translators-how__text dark-grey">{{ site.data[page.lang]['translators']['getting_started'] }}</p>

    <div class="row">
      <div class="col-md d-flex translators-how__col">
        <div class="translators-how__no">
          1
        </div>
        <div>
          <p class="translators-how__subtitle">{{ site.data[page.lang]['translators']['register'] }}</p>
          <p class="translators-how__subtext dark-grey">{{ site.data[page.lang]['translators']['sign_up_for'] }} </p>
        </div>
      </div>
      <div class="col-md d-flex translators-how__col">
        <div class="translators-how__no">
          2
        </div>
        <div>
          <p class="translators-how__subtitle">{{ site.data[page.lang]['translators']['qualify'] }}</p>
          <p class="translators-how__subtext dark-grey">{{ site.data[page.lang]['translators']['you_are_tested'] }}</p>
        </div>
      </div>
      <div class="col-md d-flex translators-how__col">
        <div class="translators-how__no">
          3
        </div>
        <div>
          <p class="translators-how__subtitle">{{ site.data[page.lang]['translators']['earn'] }}</p>
          <p class="translators-how__subtext dark-grey">{{ site.data[page.lang]['translators']['once_youre_approved'] }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="translators-financial">
    <div class="container">
      <h2 class="translators-financial__title">{{ site.data[page.lang]['translators']['how_it_works_financially'] }}</h2>
      <p class="translators-financial__text darker-grey">{{ site.data[page.lang]['translators']['tolq_automates'] }}</p>


      <div class="row justify-content-center">
        <div class="col-lg d-flex translators-financial__col">
          <img src="/images/rates.svg" alt="" />
          <p class="translators-financial__col-title">{{ site.data[page.lang]['translators']['rates'] }}</p>
          <p class="translators-financial__col-text dark-grey">{{ site.data[page.lang]['translators']['we_pay_fixed'] }}</p>
        </div>
        <div class="col-lg d-flex translators-financial__col">
          <img src="/images/balance.svg" alt="" />
          <p class="translators-financial__col-title">{{ site.data[page.lang]['translators']['balance'] }}</p>
          <p class="translators-financial__col-text dark-grey">{{ site.data[page.lang]['translators']['when_the_client'] }}</p>
        </div>
        <div class="col-lg d-flex translators-financial__col">
          <img src="/images/pay.svg" alt="" />
          <p class="translators-financial__col-title">{{ site.data[page.lang]['translators']['payout'] }}</p>
          <p class="translators-financial__col-text dark-grey">{{ site.data[page.lang]['translators']['once_earnings'] }}</p>
        </div>
        <div class="col-lg d-flex translators-financial__col">
          <img src="/images/invoice.svg" alt="" />
          <p class="translators-financial__col-title">{{ site.data[page.lang]['translators']['invoices'] }}</p>
          <p class="translators-financial__col-text dark-grey">{{ site.data[page.lang]['translators']['all_financial'] }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="index-translators container">
    <div class="mr-lg-4 mr-sm-0">
      <p class="index-translators__title">{{ site.data[page.lang]['translators']['were_here'] }}</p>
      <p class="index-translators__text dark-grey">{{ site.data[page.lang]['translators']['we_are_not'] }}</p>

      <p class="index-translators__text dark-grey">{{ site.data[page.lang]['translators']['whether_its_about'] }}</p>

      <div class="d-flex index-translators__btns">
        <a href="mailto:support@tolq.com" class="mr-sm-0 mr-md-4">
          <button class="btn-initial btn-blue">{{ site.data[page.lang]['translators']['contact_us'] }}</button>
        </a>
      </div>
    </div>
    <img src="/images/contact.svg" alt="" />
  </section>

  <section class="features-show container pt-0">
    <div class="features-show__container">
      <div>
        <p class="features-show__container-title mb-0 -is-translation">{{ site.data[page.lang]['translators']['start_translating'] }}</p>
      </div>

      <div class="d-flex index-translators__btns">

        <a href="https://translators.tolq.com/sign_up">
          <button class="btn-initial btn-outline">{{ site.data[page.lang]['translators']['become_a_translator'] }}</button>
        </a>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    {% include footer.html %}
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  {% include snippets.html %}
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    $('.index-partners__tabs-title').on('click', function () {
      $('.index-partners__tabs-title').removeClass('-is-selected');
      $('.index-partners__tabs-text').removeClass('-is-visible');
      $('.index-partners__tabs-border').removeClass('-selected');

      if ($(this).hasClass('-is-selected') && $(this).siblings().hasClass('-is-visible') && $(this).parent()
        .parent().next().hasClass('-selected')) {
        return;
      }
      $(this).addClass('-is-selected');
      $(this).siblings().addClass('-is-visible');
      $(this).parent().parent().next().addClass('-selected')
    });
  });
</script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5626357.js"></script>
<!-- End of HubSpot Embed Code -->

</html>