<body>

  <header class="index-header alice-blue-bg mh-700">
    {% include navigation.html %}

    <div class="features-header__content container">
      <h1 class="features-header__content-title">{{ site.data[page.lang]['translators']['join_our'] }}</h1>
      <p class="features-header__content-text mx-auto">{{ site.data[page.lang]['translators']['become_a_part'] }}</p>
    </div>
  </header>
  <div class="d-flex justify-content-center">
    <img class="features-header__content-img mx-auto -translators" src="/images/translators/translators-header.svg" alt="" />
  </div>

  <section class="container mt-5">
    <h2 class="features__section-title mw-600 text-center mx-auto">{{ site.data[page.lang]['translators']['work_on'] }}</h2>
    <p class="features-header__content-text mw-600 mx-auto mt-5">{{ site.data[page.lang]['translators']['our_translators'] }}</p>
    <p class="features-header__content-text mw-600 mx-auto">{{ site.data[page.lang]['translators']['whether_you'] }}</p>
    <div class="row mt-5">
      <div class="col-12 col-md-4 d-flex flex-column mt-4">
        <div class="d-flex align-items-center">
          <img class="mr-2" src="/images/translators/task-inbox.svg" alt="" />
          <p class="features__section-text mb-0">{{ site.data[page.lang]['translators']['task_inbox'] }}</p>
        </div>
        <p class="features__section-subtext mt-4 mw-320 font-16">{{ site.data[page.lang]['translators']['with_tolq'] }}</p>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column mt-4">
        <div class="d-flex align-items-center">
          <img class="mr-2" src="/images/translators/powerful-platform.svg" alt="" />
          <p class="features__section-text mb-0">{{ site.data[page.lang]['translators']['powerful_platform'] }}</p>
        </div>
        <p class="features__section-subtext mt-4 mw-320 font-16">{{ site.data[page.lang]['translators']['as_a_translator'] }}</p>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column mt-4">
        <div class="d-flex align-items-center">
          <img class="mr-2" src="/images/translators/flexible-work.svg" alt="" />
          <p class="features__section-text mb-0">{{ site.data[page.lang]['translators']['flexible_work'] }}</p>
        </div>
        <p class="features__section-subtext mt-4 mw-320 font-16">{{ site.data[page.lang]['translators']['manage_your'] }}</p>
      </div>
    </div>
  </section>

  <img class="image-style" src="/images/translators/waves-light.svg" alt="" />

  <section class="container mt-negative-large">
    <h2 class="features__section-title mw-600 text-center mx-auto">{{ site.data[page.lang]['translators']['tools_that'] }}</h2>
    <p class="features-header__content-text mw-600 mx-auto mt-5">{{ site.data[page.lang]['translators']['tolq_gives'] }}</p>
    <div class="row mt-5">
      <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
        <img class="mb-2" src="/images/translators/style-guides.svg" alt="" />
        <p class="features__section-text mb-0">{{ site.data[page.lang]['translators']['style_guides'] }}</p>
        <p class="features__section-subtext mt-4 mw-320 font-16 text-center">{{ site.data[page.lang]['translators']['available_right'] }}</p>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
        <img class="mb-2" src="/images/translators/ai-autocomplete.svg" alt="" />
        <p class="features__section-text mb-0">{{ site.data[page.lang]['translators']['ai_autocomplete'] }}</p>
        <p class="features__section-subtext mt-4 mw-320 font-16 text-center">{{ site.data[page.lang]['translators']['by_leveraging'] }}</p>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column align-items-center mt-4">
        <img class="mb-2" src="/images/translators/translation-helper.svg" alt="" />
        <p class="features__section-text mb-0">{{ site.data[page.lang]['translators']['translation_helper'] }}</p>
        <p class="features__section-subtext mt-4 mw-320 font-16 text-center">{{ site.data[page.lang]['translators']['make_use'] }}</p>
      </div>
    </div>
  </section>

  <div class="index-learn__bg2">
    <div class="container">
      <p class="index-learn__title">{{ site.data[page.lang]['translators']['how_it_works'] }}</p>
      <p class="index-learn__subtitle">{{ site.data[page.lang]['translators']['getting_started'] }}</p>
      <img class="index-learn__works-line" src="/images/translators/works-line.svg" alt="" />
      <div class="row">
        <div class="col-12 col-md-4 mt-4">
          <p class="features__section-text mb-0 text-white">1. {{ site.data[page.lang]['translators']['register'] }}</p>
          <p class="features__section-subtext mt-4 mw-320 text-white">{{ site.data[page.lang]['translators']['sign_up_for'] }}</p>
        </div>
        <div class="col-12 col-md-4 mt-4">
          <p class="features__section-text mb-0 text-white">2. {{ site.data[page.lang]['translators']['qualify'] }}</p>
          <p class="features__section-subtext mt-4 mw-320 text-white">{{ site.data[page.lang]['translators']['you_are_tested'] }}</p>
        </div>
        <div class="col-12 col-md-4 mt-4">
          <p class="features__section-text mb-0 text-white">3. {{ site.data[page.lang]['translators']['earn'] }}</p>
          <p class="features__section-subtext mt-4 mw-320 text-white">{{ site.data[page.lang]['translators']['once_youre_approved'] }}</p>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <h2 class="features__section-title">{{ site.data[page.lang]['translators']['how_it_works_financially'] }}</h2>
    <p class="features-header__content-text text-align-start mw-600 mt-4">{{ site.data[page.lang]['translators']['tolq_automates'] }}</p>
    <div class="row">
      <div class="col-12 col-md-3 d-flex align-items-center mt-4">
        <div class="translators-how__box">
          <img class="" src="/images/translators/rates.svg" alt="" />
          <p class="features__section-text text-center mt-3">{{ site.data[page.lang]['translators']['rates'] }}</p>
          <p class="features__section-subtext2 mt-3">{{ site.data[page.lang]['translators']['we_pay_fixed'] }}</p>
        </div>
      </div>
      <div class="col-12 col-md-3 d-flex align-items-center mt-4">
        <div class="translators-how__box">
          <img class="" src="/images/translators/balance.svg" alt="" />
          <p class="features__section-text text-center mt-3">{{ site.data[page.lang]['translators']['balance'] }}</p>
          <p class="features__section-subtext2 mt-3">{{ site.data[page.lang]['translators']['when_the_client'] }}</p>
        </div>
      </div>
      <div class="col-12 col-md-3 d-flex align-items-center mt-4">
        <div class="translators-how__box">
          <img class="" src="/images/translators/payout.svg" alt="" />
          <p class="features__section-text text-center mt-3">{{ site.data[page.lang]['translators']['payout'] }}</p>
          <p class="features__section-subtext2 mt-3">{{ site.data[page.lang]['translators']['once_earnings'] }}</p>
        </div>
      </div>
      <div class="col-12 col-md-3 d-flex align-items-center mt-4">
        <div class="translators-how__box">
          <img class="" src="/images/translators/invoices.svg" alt="" />
          <p class="features__section-text text-center mt-3">{{ site.data[page.lang]['translators']['invoices'] }}</p>
          <p class="features__section-subtext2 mt-3">{{ site.data[page.lang]['translators']['all_financial'] }}</p>
        </div>
      </div>
    </div>
  </section>


  <section class="container">
    <div class="index-learn__bg3">
      <h2 class="features__section-title2 text-center mt-4 mx-auto">{{ site.data[page.lang]['translators']['start_translating'] }}</h2>
      <a href="https://translators.tolq.com/sign_up" class="d-flex justify-content-center mt-4">
        <button class="btn-initial btn-small">{{ site.data[page.lang]['translators']['become_a_translator'] }}</button>
      </a>
    </div>
  </section>

  <img class="image-style" src="/images/translators/waves-light.svg" alt="" />

  <section class="container mt-negative-large">
    <div class="row">
      <div class="col-12 col-md-7 mt-5">
        <h2 class="features__section-title">{{ site.data[page.lang]['translators']['were_here'] }}</h2>
        <p class="features-header__content-text text-align-start mw-520 mt-4">{{ site.data[page.lang]['translators']['we_are_not'] }}</p>
        <p class="features-header__content-text text-align-start mw-520 mt-2 mb-4">{{ site.data[page.lang]['translators']['whether_its_about'] }}</p>
        <a href="mailto:support@tolq.com" class="mt-5">
          <button class="btn-initial btn-medium">{{ site.data[page.lang]['translators']['contact_us'] }}</button>
        </a>
      </div>
      <div class="col-12 col-md-5 mt-4">
        <img class="image-style" src="/images/translators/help.svg" alt="" />
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="alice-blue-bg">
    {% include footer.html %}
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  {% include snippets.html %}
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    $('.index-partners__tabs-title').on('click', function () {
      $('.index-partners__tabs-title').removeClass('-is-selected');
      $('.index-partners__tabs-text').removeClass('-is-visible');
      $('.index-partners__tabs-border').removeClass('-selected');

      if ($(this).hasClass('-is-selected') && $(this).siblings().hasClass('-is-visible') && $(this).parent()
        .parent().next().hasClass('-selected')) {
        return;
      }
      $(this).addClass('-is-selected');
      $(this).siblings().addClass('-is-visible');
      $(this).parent().parent().next().addClass('-selected')
    });
  });
</script>
<!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5626357.js"></script>
<!-- End of HubSpot Embed Code -->

</html>