<body>
  <div class="share">
    <!-- Header -->
    <div class="bg-white">
      <div class="container">
        {% include navigation.html %}
          <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <h2 class="header__title mt-5 mw-100">{{ site.data[page.lang]['upgrade_plan']['take_your'] }}</h2>
            <p class="header__subtitle text-center mt-4">{{ site.data[page.lang]['upgrade_plan']['upgrade_your_plan'] }}: <br>
              {{ site.data[page.lang]['upgrade_plan']['free_onboarding'] }}</p>
            <div class="d-flex flex-wrap justify-content-center mb-5">
              <a class="button btn-purple-lg m-3" href="pricing.html">
                {{ site.data[page.lang]['upgrade_plan']['upgrade_now'] }}
              </a>
              <a class="button btn-gray-lg m-3" href="privacy-compliance.html">
                {{ site.data[page.lang]['upgrade_plan']['learn_more'] }}
              </a>
            </div>
          </div>
          <img class="image-style" alt="Image: Dashboard Upgrade" src="images/landing/Dashboard-upgrade.svg"/>
      </div>
    </div>
    <!-- First Section -->
    <div class="bg-light-gray section-medium landing">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h2 class="privacy__title mt-4">{{ site.data[page.lang]['upgrade_plan']['free_onboarding_support'] }}</h2>
            <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['upgrade_plan']['upgrade_now_and'] }}</p>
            <div class="d-flex mt-2">
              <img class="mr-2" alt="Icon: Arrow Right" src="images/landing/circle-arrow-right.svg"/>
              <div>
                <p class="privacy__subtitle2 fw-bold mb-0 mt-4">{{ site.data[page.lang]['upgrade_plan']['integrations'] }}</p>
                <p class="privacy__subtitle2 mb-0">{{ site.data[page.lang]['upgrade_plan']['work_integrations'] }}</p>
              </div>
            </div>
            <div class="d-flex mt-2">
              <img class="mr-2" alt="Icon: Arrow Right" src="images/landing/circle-arrow-right.svg"/>
              <div>
                <p class="privacy__subtitle2 fw-bold mb-0 mt-4">{{ site.data[page.lang]['upgrade_plan']['compliance'] }}</p>
                <p class="privacy__subtitle2 mb-0">{{ site.data[page.lang]['upgrade_plan']['work_compliance'] }}</p>
              </div>
            </div>
            <div class="d-flex mt-2">
              <img class="mr-2" alt="Icon: Arrow Right" src="images/landing/circle-arrow-right.svg"/>
              <div>
                <p class="privacy__subtitle2 fw-bold mb-0 mt-4">{{ site.data[page.lang]['upgrade_plan']['inbox'] }}</p>
                <p class="privacy__subtitle2 mb-0">{{ site.data[page.lang]['upgrade_plan']['work_inbox'] }}</p>
              </div>
            </div>
            <a class="button btn-purple-lg mb-4 mt-5 mobile-center" href="pricing.html">
              {{ site.data[page.lang]['upgrade_plan']['upgrade_now'] }}
            </a>
          </div>
          <div class="col-md-6 col-sm-12 mt-5">
            <img class="image-style" alt="Image: Free Support" src="images/landing/Free-support.svg"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="bg-white section-medium landing">
      <div class="container">
        <div class="row column-reverse-mobile">
          <div class="col-md-6 col-sm-12">
            <img class="image-style" alt="Image: Data Subjects" src="images/landing/Data-subjects.svg"/>
          </div>
          <div class="col-md-6 col-sm-12 mt-3">
            <div class="privacy__content">
              <h2 class="privacy__title mt-4">{{ site.data[page.lang]['upgrade_plan']['and_more_data'] }}</h2>
              <p class="privacy__subtitle mt-4">{{ site.data[page.lang]['upgrade_plan']['have_you_reached'] }}</p>
              <a class="button btn-purple-lg my-4 mobile-center" href="pricing.html">
                {{ site.data[page.lang]['upgrade_plan']['upgrade_now'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="bg-white section-large landing">
      <div class="container">
        <div class="text-center">
          <h2 class="header__title mx-auto">{{ site.data[page.lang]['upgrade_plan']['and_many_other'] }}</h2>
          <p class="header__subtitle mx-auto text-center mt-4">{{ site.data[page.lang]['upgrade_plan']['privacy_regulations_have'] }}:</p>
          <div class="row mt-5">
            <div class="col-md-4 col-sm-12 mt-5">
              <img class="first__icons mx-auto" alt="Icon: VIP support" src="images/landing/icon-3.svg"/>
              <p class="first__text fw-500 mt-4">{{ site.data[page.lang]['upgrade_plan']['vip_support'] }}</p>
              <p class="first__subtext mx-auto">{{ site.data[page.lang]['upgrade_plan']['upgrade_to_have'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
              <img class="first__icons mx-auto" alt="Icon: Remove LegalSite branding" src="images/landing/icon-2.svg"/>
              <p class="first__text fw-500 mt-4">{{ site.data[page.lang]['upgrade_plan']['remove_legalsite'] }}</p>
              <p class="first__subtext mx-auto">{{ site.data[page.lang]['upgrade_plan']['take_your_legalsite'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
              <img class="first__icons mx-auto" alt="Icon: Complete toolkit" src="images/landing/icon-6.svg"/>
              <p class="first__text fw-500 mt-4">{{ site.data[page.lang]['upgrade_plan']['complete_toolkit'] }}</p>
              <p class="first__subtext mx-auto">{{ site.data[page.lang]['upgrade_plan']['your_legalsite_with'] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="bg-light-gray landing py-5">
      <div class="container">
        <div class="guide__box p-2 my-5">
          <div class="row">
            <div class="col-md-7 col-sm-12 mt-5">
              <p class="guide__title mt-3 mb-1 mx-auto">{{ site.data[page.lang]['upgrade_plan']['employee_privacy'] }}</p>
              <p class="guide__subtitle m-2 mx-auto">{{ site.data[page.lang]['upgrade_plan']['download_our_guide'] }}</p>
              <a class="button btn-purple-lg mx-auto mb-5 mt-4" href="employee-privacy.html">
                {{ site.data[page.lang]['upgrade_plan']['download_free_guide'] }}
              </a>
            </div>
            <div class="col-md-5 col-sm-12 d-flex justify-content-center align-items-center">
              <div class="guide__square my-5">
                <img class="guide__square-image" alt="Image: Employee" src="images/privacy/image-team.png" srcset="images/privacy/image-team@2x.png, images/pricing/image-team@3x.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    function myFunction() {
      /* Get the text field */
      var copyText = document.getElementById("myInput");

      /* Select the text field */
      copyText.select(); 
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/

      /* Copy the text inside the text field */
      document.execCommand("copy");

      // $('#copy-link').show();
      $('#copy-link').fadeIn('slow', function(){
        $('#copy-link').delay(1000).fadeOut(); 
      });

      /* Alert the copied text */
      // alert("Copied the text: " + copyText.value);
    }
  </script>
  <script>
    var scntDiv = $('#p_scents');
    var i = $('#p_scents p').length + 1;

    $('#copy-link').hide();
    
    $('body').on('click', '#addScnt', function() {
      $('<p><label for="p_scnts"><input type="text" class="form-control share__input mt-1" id="p_scnt" size="20" name="p_scnt_' + i +'" value="" placeholder="E-mail address" /></label> <a href="#" id="remScnt">Remove</a></p>').appendTo(scntDiv);
      i++;
      return false;
    });
    
    $('body').on('click', '#remScnt', function() { 
      if( i > 2 ) {
              $(this).parents('p').remove();
              i--;
      }
      return false;
    });
  </script>
</body>