<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="solutions">
      <div class="header__content">
        <div class="header__bg-new">
          <img class="header__bg-top-left2" src="/images/verification-page/top-left.webp" alt="Background Image"/>
          <img class="header__bg-bottom-shape" src="/images/verification-page/verification-header-bg.webp" alt="Background Image"/>
          <div class="container">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <div class="resources">
                  <p class="header__link">{{ site.data[page.lang]['verification']['verification_solutions'] }}</p>
                </div>
                <h1 class="header__title text-align-start mt-4 mw-420">{{ site.data[page.lang]['verification']['peace_of_mind'] }}</h1>
                <p class="header__subtitle text-align-start mt-4">{{ site.data[page.lang]['verification']['learn_how_software'] }}</p>
                <div class="d-flex flex-wrap resources mt-4">
                  <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-4" href="book-a-demo.html">
                    {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
                  </a>
                  <div>
                    <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                    <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
              <div class="col-md-5 col-sm-12 content-center">
                <img class="image-style mw-530 mt-4" src="/images/verification-page/verification-header-image.webp" alt="Verification Image"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container pricing mt-150">
      <h2 class="verify__main-text2 text-center mw-490 mx-auto">{{ site.data[page.lang]['verification']['codekeeper_verification'] }}</h2>
      <p class="verify__main-subtext2 mt-3 text-center mx-auto mw-700">{{ site.data[page.lang]['verification']['we_offer_four'] }}</p>
    </div>
    <!-- First Section -->
    <div class="pricing bg-white pb-300">
      <div class="verify__bg-blue"></div>
    
      <div class="container mt-negative-250">
        <div class="row mt-4">
          <div class="col-lg-6 col-md-12 content-center mt-4">
            <div class="verify__col-box2 mw-100">
              <img class="image-style mw-260 mh-150 mt-4" src="/images/verification-page/automated-verification.webp" alt="Verification Image"/>
              <p class="verify__col-title text-center mt-4 text-secondary">{{ site.data[page.lang]['verification']['automated_verification_services'] }}</p>
              <p class="verify__col-title2 text-center">{{ site.data[page.lang]['verification']['fast'] }}</p>
              <p class="verify__col-subtitle2 text-center mw-100 px-3">{{ site.data[page.lang]['verification']['experience_our'] }}</p>
              <a class="button btn-cerulean3 automated-verification-href my-3" href="software-verification-report-automated.html">
                {{ site.data[page.lang]['verification']['learn_more'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 content-center mt-4">
            <div class="verify__col-box2 mw-100">
              <img class="image-style mw-260 mh-150 mt-4" src="/images/verification-page/manual-verification.webp" alt="Verification Image"/>
              <p class="verify__col-title text-center mt-4 text-secondary">{{ site.data[page.lang]['verification']['manual_verification_services'] }}</p>
              <p class="verify__col-title2 text-center">{{ site.data[page.lang]['verification']['in_depth'] }}</p>
              <p class="verify__col-subtitle2 text-center mw-100 px-3">{{ site.data[page.lang]['verification']['dive_deep'] }}</p>
              <a class="button btn-cerulean3 manual-verification-href my-3" href="software-verification-report-manual.html">
                {{ site.data[page.lang]['verification']['learn_more'] }} <i class="fa fa-xs fa-arrow-right ml-2" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- <p class="section__text mt-5 mb-0 text-center">{{ site.data[page.lang]['verification']['need_a_different'] }}</p>
        <p class="section__text text-center fw-bold text-first-capitalize"><a href="contact.html" class="text-underline contact-href">{{ site.data[page.lang]['verification']['let_us_know'] }}</a></p> -->
      </div>

      <div class="container mt-large">
        <div class="row mt-4">
          <div class="col-lg-6 col-md-12 mt-4">
            <p class="verify__col-title mt-4">{{ site.data[page.lang]['verification']['do_i_need'] }}</p>
            <img class="image-style mw-490 mh-400 pb-100" src="/images/verification-page/software-escrow-deposit.webp" alt="Verification Image"/>
          </div>
          <div class="col-lg-6 col-md-12 mt-4">
            <div class="d-flex mt-4 align-items-start">
              <img class="mr-3 pt-1 mt-2" src="/images/verification-page/bullet.svg"/>
              <p class="verify__col-subtitle2">{{ site.data[page.lang]['verification']['verification_services_are'] }}</p>
            </div>
            <div class="d-flex mt-4 align-items-start">
              <img class="mr-3 pt-1 mt-2" src="/images/verification-page/bullet.svg"/>
              <p class="verify__col-subtitle2">{{ site.data[page.lang]['verification']['verification_services_offered'] }}</p>
            </div>
            <div class="d-flex mt-4 align-items-start">
              <img class="mr-3 pt-1 mt-2" src="/images/verification-page/bullet.svg"/>
              <p class="verify__col-subtitle2">{{ site.data[page.lang]['verification']['the_level_of'] }}</p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="clients__content-bg mt-negative-80 position-relative">
      <img class="clients__bg-left" src="/images/verification-page/bg-bottom-left.webp" alt="Background Image"/>
      <img class="clients__bg-right" src="/images/verification-page/bg-top-right.webp" alt="Background Image"/>
      <div class="container">
        <h2 class="clients__title mt-3 text-white">{{ site.data[page.lang]['verification']['secure_your_code'] }}</h2>
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="d-flex align-items-center">
              <img class="clients__content-image" src="/images/verification-page/icon-deposit.svg"/>
              <div class="clients__content-line"></div>
            </div>
            <p class="clients__content-title">{{ site.data[page.lang]['verification']['deposit'] }}</p>
            <p class="clients__content-subtitle">{{ site.data[page.lang]['verification']['escrow_deposits_sometimes'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="d-flex align-items-center">
              <img class="clients__content-image" src="/images/verification-page/icon-verify.svg"/>
              <div class="clients__content-line"></div>
            </div>
            <p class="clients__content-title ">{{ site.data[page.lang]['verification']['verify'] }}</p>
            <p class="clients__content-subtitle">{{ site.data[page.lang]['verification']['different_levels'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12">
            <img class="clients__content-image" src="/images/verification-page/icon-release.svg"/>
            <p class="clients__content-title">{{ site.data[page.lang]['verification']['release'] }}</p>
            <p class="clients__content-subtitle">{{ site.data[page.lang]['verification']['verification_provides'] }}</p>
            <p class="clients__content-title mt-5">{{ site.data[page.lang]['verification']['add_verification'] }}</p>
            <div class="d-flex flex-wrap mb-5">
              <a class="button btn-yellow-small pricing-href mr-4 mb-4" href="pricing.html">
                {{ site.data[page.lang]['index']['get_started'] }}
              </a>
              <div class="resources">
                <p class="header__text text-white">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                <a class="header__link pricing-href text-yellow" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <!-- Section -->
    <div class="software-escrow">
      <div class="datacenters__bg pb-300">
        <div class="container d-flex flex-column align-items-center">
          <p class="scenario__title mx-auto mw-100 pb-3">{{ site.data[page.lang]['source_code_escrow']['securely_stored'] }}</p>
          <p class="protect__subtext text-dark-cyan">{{ site.data[page.lang]['features']['we_operate_within'] }}:</p>
          <img class="datacenter-image pb-5" src="/images/logos/datacenter-certifications.webp"/>
        </div>
        <div class="container">
          <div class="row mt-3">
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/data-security.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['data_security'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['our_data'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/encryption.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['end_to_end'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['data_is_secured'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/audit.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['deposit_audit'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['review_the'] }}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/upload-folder.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['secure_upload'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_you_prefer'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/gdpr.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['gdpr_compliance'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_your_deposits'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <img class="mt-5" src="/images/source-code-escrow/icons/hipaa.svg"/>
              <p class="datacenters__title mt-4">{{ site.data[page.lang]['source_code_escrow']['hipaa_compliance'] }}</p>
              <p class="datacenters__subtitle">{{ site.data[page.lang]['source_code_escrow']['if_your'] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container resources mb-200">
      <div class="best-price__bg">
        <img class="best-price__small-shape" src="/images/landing/small-shape.webp" alt="Small Shape Image"/>
        <img class="best-price__medium-shape" src="/images/landing/medium-shape.webp" alt="Medium Shape Image"/>
        <img class="best-price__large-shape" src="/images/landing/large-shape.webp" alt="Large Shape Image"/>
        <div class="row mt-3">
          <div class="col-md-5 col-sm-12 content-center">
            <img class="best-price__image mb-3" src="/images/landing/best-price.webp" alt="Best Price Image"/>
          </div>
          <div class="col-md-7 col-sm-12"> 
            <p class="best-price__title">{{ site.data[page.lang]['information_escrow']['industry_leading'] }}</p>
            <p class="best-price__text">{{ site.data[page.lang]['information_escrow']['you_dont_need_to'] }}</p>
            <a class="button btn-yellow pricing-href my-4" href="pricing.html">
              {{ site.data[page.lang]['index']['explore_our_pricing'] }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="container section-large pricing">
      <h4 class="section__title text-align-center">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_is_source'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['verification_is'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_levels'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['we_offer'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['why_is_code'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['code_verification'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['how_does'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['our_verification'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_types'] }}</p>
          <img src="/images/integrations/icon-down.svg"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['codekeeper_verification'] }}</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['can_codekeeper'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['yes_our_verification'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['how_often'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['the_frequency'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['is_my_code'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['yes_we_take'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['can_i_use'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['yes_we_support'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['how_long'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['the_duration'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_happens'] }}</p>
            <img src="/images/integrations/icon-down.svg"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['if_verification'] }}</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-5">{{ site.data[page.lang]['faq']['if_you_have_any2'] }} </p>
    </div>


    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $('#questions').hide();
    $('#hide').hide();

    $(".openLines").click(function(){      
        if ($('#hide').is(":visible")) {
          $('#hide').hide();
          $('#show').show();
        }
        else {
          $('#show').hide();
          $('#hide').show();
        }
        $('#questions').toggle(300);
        //  $("div").toggle(300);
    });
  </script>

  <script>
    // Accordian Action
    var action = 'click';
    var speed = "500";
    $(document).ready(function(){
      $('.plan__box').mouseover(function(e){
        $('.plan__box').removeClass('-active')
        if ($(this).hasClass('-active')) {
          return;
        }
        $(this).addClass('-active');

      });
    // Question handler
      $('li.q').on(action, function(){

        // gets next element
        // opens .a of selected question
        $(this).next().slideToggle(speed)

        // selects all other answers and slides up any open answer
        .siblings('li.a').slideUp();

        // Grab img from clicked question
        var img = $(this).children('img');

        // remove Rotate class from all images except the active
        $('img').not(img).removeClass('rotate');

        // toggle rotate class
        img.toggleClass('rotate');

      });
    });
  </script>

  <script>
    $('#offer').hide();
    $('#closeButton').hide();

    $(".offer-btns").click(function(e){   
        e.stopPropagation();   
        if ($('#closeButton').is(":visible")) {
          $('#closeButton').hide();
          $('#openButton').show();
        }
        else {
          $('#openButton').hide();
          $('#closeButton').show();
        }
        $('#offer').toggle(300);
    });
  </script>

</body>