<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="solutions">
      <div class="header__content">
        <div class="header__bg-new bg-gradient-faded-gray">
          <img class="header__bg-top-left2" src="/images/verification-page/top-left.webp" alt="Left Background Shape"/>
          <img class="header__bg-right-shape2" src="/images/verification-page/verification-solutions-shape.webp" alt="Verification Background Shape"/>
          <div class="mw-1300 mx-auto px-3">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <h1 class="header__title text-align-start mt-4 text-secondary mw-100 overflow-wrap-break">{{ site.data[page.lang]['verification']['verification_solutions'] }}<sup class="header__add-on">Add-on</sup></h1>
                <p class="header__subtitle text-align-start mt-4 font-35 line-height-40 mw-100">Certify your disaster preparedness for next level certainty about your recovery process</p>
                <p class="header__subtitle text-align-start mt-4 mw-570">Our suite of services ensures that your software and data assets are thoroughly verified, enhancing your recovery strategy with both automated precision and expert insight.</p>
                <img class="image-style mw-320 max-h-100 mt-4" src="/images/verification-page/verification-solutions.webp" alt="Illustration of Verification Solutions" loading="lazy"/>
              </div>
              <div class="col-md-5 col-sm-12 content-center">
                <img class="image-style mw-530 mt-4" src="/images/verification-page/verification-solutions-header.webp" alt="Verification Solutions Header Illustration"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="resources">
      <div class="software-escrow__bg-gray min-h-600 pb-100">
        <div class="container section-large pb-5 software-escrow">
          <p class="scenario__title mx-auto pb-5 mw-770">Is Your Recovery Guaranteed?</p>
          <p class="scenario__subtext mx-auto mt-2 font-18 fw-400 mw-1000">When the unexpected strikes, the real test begins. Are you equipped with all necessary components for a fail-safe recovery?
            Codekeeper's Verification Solutions confront this question head-on.</p>
          <div class="row mt-5">
            <div class="col-md-4 col-sm-12 mb-sm-50">
              <img class="mx-auto d-block my-2" src="/images/verification-page/icons/depositor-diligence.svg"
                alt="Depositor Diligence Icon" loading="lazy" />
              <p class="scenario__subtitle mx-auto font-24 text-dark-cyan fw-light">Depositor Diligence</p>
              <p class="scenario__text mx-auto font-16 line-height-24 mw-320">How do you verify that the depositor has included everything essential for a full system restoration?</p>
            </div>
            <div class="col-md-4 col-sm-12 mb-sm-50">
              <img class="mx-auto d-block my-2" src="/images/verification-page/icons/data-check.svg"
                alt="Comprehensiveness Check Icon" loading="lazy" />
              <p class="scenario__subtitle mx-auto font-24 text-dark-cyan fw-light">Comprehensiveness Check</p>
              <p class="scenario__text mx-auto font-16 line-height-24 mw-320">Can you be sure that no critical data, code, or documentation has been omitted?</p>
            </div>
            <div class="col-md-4 col-sm-12 mb-sm-50">
              <img class="mx-auto d-block my-2" src="/images/verification-page/icons/recovery-readiness.svg"
                alt="Recovery Readiness Icon" loading="lazy" />
              <p class="scenario__subtitle mx-auto font-24 text-dark-cyan fw-light">Recovery Readiness</p>
              <p class="scenario__text mx-auto font-16 line-height-24 mw-320">Is the deposited material up-to-date and capable of restoring your operations without a hitch?</p>
            </div>
          </div>
          <p class="scenario__subtext mx-auto mt-5 font-20 text-italic fw-light mw-570">With Codekeeper, bridge the gap between hope and certainty. 
            Ensure that your safety net is complete and your recovery undisrupted.</p>
        </div>
      </div>
    </div>

    <div class="bg-gradient-blue-bottom section-large pt-5 software-escrow">
      <div class="mw-1300 mx-auto px-3">

        <div class="row mt-5 column-reverse-mobile py-5">
          <div class="col-md-7 col-sm-12">
            <p class="information__subtitle fw-light font-28 line-height-40 mt-3 mw-700">In the realm of software disaster recovery preparedness, certainty is paramount.</p>
            <p class="information__subtitle fw-light font-28 line-height-40 mt-3 mw-700">Codekeeper's Verification Solutions bring that certainty to the forefront, utilizing the latest in automated technology to provide continuous and thorough verification of your software assets.</p>
            <p class="information__subtitle fw-light font-28 line-height-40 mt-3 mw-700">Our process doesn't just stop at generating reports; we delve deeper, offering specialized human oversight to catch what technology alone may miss.</p>
          </div>
          <div class="col-md-5 col-sm-12 content-center">
            <img class="information__image mt-4" src="/images/verification-page/verification-solutions-precess.webp"
              alt="Illustration of Customizable backup assets" loading="lazy" />
          </div>
        </div>

        <div class="row mt-5 resources pricing">
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column mw-420">
              <img class="mt-negative-80" src="/images/verification-page/icons/continuous.svg" alt="Continuous Automated Verification Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24 fw-light text-center">Continuous Automated<br> Verification</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 fw-600 mw-260">Our system tirelessly scans and analyzes your deposits, ensuring nothing is amiss.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column mw-420">
              <img class="mt-negative-80" src="/images/verification-page/icons/specialized.svg" alt="Specialized Human Insight Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24 fw-light mw-260 mx-auto text-center">Specialized Human<br> Insight</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 fw-600 mw-260">Beyond automated checks, our experts apply a rigorous human touch to test and confirm your recovery assets' integrity.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column mw-420">
              <img class="mt-negative-80" src="/images/verification-page/icons/dedicated.svg" alt="Dedicated Technical Specialists Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24 fw-light text-center">Dedicated Technical<br> Specialists</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 fw-600 mw-300">Navigating issues or compliance concerns? Our specialists are well-versed in the needs of developers, offering tailored assistance to maintain your compliance smoothly.</p>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center mt-5">
          <img class="mr-3" src="/images/verification-page/icons/ck-logo-icon.svg" alt="Codekeeper Logo Icon" loading="lazy" />
          <p class="information__subtitle fw-400 mt-3 mw-900 text-bondi-blue text-italic font-24 line-height-34">With Codekeeper, you secure more than just a service; you gain a vigilant partner dedicated to the security and readiness of your software recovery plan.</p>
        </div>

      </div>
    </div>

    <!-- Second Section -->
    <div class="container-fluid resources">
      <div class="beneficiary__container mx-auto mt-negative-50 mb-negative-50 position-relative bg-white">
        <div class="container py-5">
          <p class="how-works__main-title mx-auto pb-5">Your Verification Action Plan</p>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="works__config mobile-centered">
                <div class="works__number-bg-step">
                  <div class="works__step2">{{ site.data[page.lang]['how_it_works']['step_1'] }}</div>
                </div>
                <div>
                  <p class="how-works__text fw-light">Select your protection level</p>
                  <p class="how-works__subtext2 font-20">Based on our risk analysis select either automated or human level of verification, and how often it should be executed.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 pr-5">
              <img class="works__image2 mt-5 ml-negative-80"
                src="/images/verification-page/select-protection.webp" alt="Illustration of protection level"
                loading="lazy" />
            </div>
          </div>
          <div class="row column-reverse-mobile">
            <div class="col-md-6 col-sm-12">
              <div class="works__config2">
                <img class="works__image2 ml-negative-80" src="/images/verification-page/digital-assets.webp"
                  alt="Illustration of digital assets" loading="lazy" />
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="works__config3 mobile-centered">
                <div class="works__number-bg-step2">
                  <div class="works__step2">{{ site.data[page.lang]['how_it_works']['step_2'] }}</div>
                </div>
                <div>
                  <p class="how-works__text fw-light">Select the digital assets </p>
                  <p class="how-works__subtext2 font-20">In your account select the assets (source code, data, environments etc.) on which the verification should be performed. You can also set the protocol for human verification.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="works__config4 mobile-centered">
                <div class="works__number-bg-step">
                  <div class="works__step2">{{ site.data[page.lang]['how_it_works']['step_3'] }}</div>
                </div>
                <div>
                  <p class="how-works__text fw-light text-transform-none">Review Verification Reports in your account</p>
                  <p class="how-works__subtext2 font-20">The Codekeeper verification specialists perform the verification and deliver a report for you to review, right inside your account or via email.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="works__image2 ml-negative-80 mt-80" src="/images/verification-page/review-verification.webp"
                alt="Illustration of Verification Reports" loading="lazy" />
            </div>
          </div>

          <div class="d-flex flex-column align-items-center">
            <img class="how-works__active-icon" src="/images/how-it-works/icons/active-escrow.svg"
              alt="Active Escrow Icon" loading="lazy" />
            <p class="how-works__text mt-3 mr-3 mb-2 text-transform-none">Certified Ready for Recovery</p>
            <p class="how-works__subtext2 text-center mw-570">You have set up all you need to make sure your organization is fully ready to implement your disaster recovery plan.</p>
            <p class="how-works__subtext2 text-center text-bondi-blue">{{
              site.data[page.lang]['how_it_works']['for_more_details'] }}</p>
            <a class="button btn-cerulean3 book-a-demo-href mx-auto mt-2" href="book-a-demo.html">
              {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="resources">
      <div class="container pt-100">
        <p class="people-choose__info text-secondary-light text-center pt-5 font-24 fw-700 mx-auto"><img class="mr-2 mb-1" src="/images/software-escrow/icons/continuity-arrows.svg" alt="Arrows Icon" loading="lazy"/>Certified Recovery</p>
        <p class="people-choose__main-title overflow-wrap-break-mobile pt-1">Deposit Verification</p>
        <p class="people-choose__main-subtitle mx-auto pt-2 mw-700">Guarantee recovery by using automated and human verification directly integrated with your Software and Saas Escrow</p>
      </div>
      <div class="people-choose__bg bg-gradient-blue-sky">
        <div class="container">
          <div class="content-center mt-5">
            <img class="people-choose__image mx-auto" src="/images/verification-page/deposit-verification.webp" alt="Illustration: Deposit Verification" loading="lazy"/>
          </div>
          <p class="people-choose__info mx-auto my-4 fw-light">Reports available right from your dashboard and via email.</p>
          <a class="button btn-cerulean2 pricing-href mx-auto" href="pricing.html">
            {{ site.data[page.lang]['index']['explore_our_pricing'] }}
          </a>
        </div>
      </div>
    </div>

    <div class="pricing">
      <div class="mw-1300 mx-auto px-3 section-medium">
        <div class="row mt-4">
          <div class="col-lg-6 col-md-12 mt-4">
            <p class="verify__col-title mt-4 mw-490">{{ site.data[page.lang]['verification']['do_i_need'] }}</p>
            <img class="image-style mw-490 mh-400 pb-100" src="/images/verification-page/software-escrow-deposit.webp" alt="Dashboard displaying software escrow deposit verification, ensuring integrity and security Illustration." loading="lazy"/>
          </div>
          <div class="col-lg-6 col-md-12 mt-4">
            <div class="d-flex mt-4 align-items-start">
              <img class="mr-3 pt-1 mt-2" src="/images/verification-page/bullet.svg" alt="Bullet Icon" loading="lazy"/>
              <p class="verify__col-subtitle2 mw-530">{{ site.data[page.lang]['verification']['verification_services_are'] }}</p>
            </div>
            <div class="d-flex mt-4 align-items-start">
              <img class="mr-3 pt-1 mt-2" src="/images/verification-page/bullet.svg" alt="Bullet Icon" loading="lazy"/>
              <p class="verify__col-subtitle2 mw-530">{{ site.data[page.lang]['verification']['verification_services_offered'] }}</p>
            </div>
            <div class="d-flex mt-4 align-items-start">
              <img class="mr-3 pt-1 mt-2" src="/images/verification-page/bullet.svg" alt="Bullet Icon" loading="lazy"/>
              <p class="verify__col-subtitle2 mw-530">{{ site.data[page.lang]['verification']['the_level_of'] }}</p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="section-large pt-4 bg-gradient-blue-bottom3 resources">
      <div class="mw-1300 px-3 mx-auto">
        <p class="verify-guide__main-title">Verification Levels</p>
        <p class="verify-guide__main-subtitle">Based on your business case you can select different levels of protection that provide the insights you need in your disaster recovery readiness.</p>
        
        <div class="verify-guide__content">
          <div class="verify-guide__sidebar mt-5">
            <div class="verify-guide__gradient-line">
              <img class="verify-guide__circle-light" src="/images/verification-page/icons/circle-light.svg" alt="Circle Light Icon" loading="lazy"/>
              <img class="verify-guide__circle-dark" src="/images/verification-page/icons/circle-dark.svg" alt="Circle Dark Icon" loading="lazy"/>
              <p class="verify-guide__first-text">Deposit<br> Profile</p>
              <p class="verify-guide__second-text">Running<br> Application</p>
              <p class="verify-guide__third-text">Testing<br> Features</p>
            </div>
          </div>

          <div class="verify-guide__sidebar-mobile mt-5">
            <div class="d-flex justify-content-between">
              <p class="verify-guide__first-text position-relative">Deposit<br> Profile</p>
              <p class="verify-guide__second-text position-relative">Running<br> Application</p>
              <p class="verify-guide__third-text position-relative mr-3">Testing<br> Features</p>
            </div>
            <div class="verify-guide__gradient-line-mobile">
              <img class="verify-guide__circle-light2" src="/images/verification-page/icons/circle-light.svg" alt="Circle Light Icon" loading="lazy"/>
              <img class="verify-guide__circle-dark2" src="/images/verification-page/icons/circle-dark.svg" alt="Circle Dark Icon" loading="lazy"/>
            </div>
          </div>

          <div>
            <div class="verify-guide__bg mt-5">
              <div class="verify-guide__badge-automated">
                <p class="verify-guide__badge-text">Automated</p>
                <img class="ml-3" src="/images/verification-page/icons/automated-icon-white.svg" alt="Automated Icon" loading="lazy"/>
              </div>
              <img class="verify-guide__shape" src="/images/verification-page/verify-shape1.webp" alt="Illustration: Shape Content Verification" loading="lazy"/>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <p class="verify-guide__title">Content Verification</p>
                  <p class="verify-guide__subtitle">Provides a profile of the content under deposit in report form.</p>
                  <p class="verify-guide__text mt-2 mb-1"><i class="fa fa-check text-light-green mr-2"></i>Insight into relevance of material</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>Overview of the asset size and the number of people working on it</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>Adds transparency to development process</p>
                  <div class="solutions mt-4">
                    <p class="select-level__price mr-4 text-slate-gray">{{ site.data[page.lang]['software_backup']['from'] }}<br><span
                        class="software-backup-certified fw-700">{{
                          site.data.pricing.prices.software_backup_certified.USD }}</span> {{
                          site.data[page.lang]['software_backup']['per_application'] }}</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <img class="verify-guide__illustration mt-4" src="/images/verification-page/content-verification.webp" alt="Illustration: Content Verification Sample" loading="lazy"/>
                  <a class="button btn-cerulean2 mt-4">
                    Download Sample
                  </a>
                </div>
              </div>
            </div>
    
            <div class="verify-guide__bg mt-5">
              <div class="verify-guide__badge-automated">
                <p class="verify-guide__badge-text">Automated</p>
                <img class="ml-3" src="/images/verification-page/icons/automated-icon-white.svg" alt="Automated Icon" loading="lazy"/>
              </div>
              <img class="verify-guide__shape" src="/images/verification-page/verify-shape2.webp" alt="Illustration: Shape Content Verification" loading="lazy"/>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <p class="verify-guide__title">Activity Verification</p>
                  <p class="verify-guide__subtitle">Offers a profile of the development activity (changes) on the source code or data.</p>
                  <p class="verify-guide__text mt-2 mb-1"><i class="fa fa-check text-light-green mr-2"></i>Insight into the project's progression</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>Overview of update or modification frequency</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>Demonstrates ongoing development and maintenance efforts</p>
                  <div class="solutions mt-4">
                    <p class="select-level__price mr-4 text-slate-gray">{{ site.data[page.lang]['software_backup']['from'] }}<br><span
                        class="software-backup-certified fw-700">{{
                          site.data.pricing.prices.software_backup_certified.USD }}</span> {{
                          site.data[page.lang]['software_backup']['per_application'] }}</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <img class="verify-guide__illustration mt-4" src="/images/verification-page/activity-verification.webp" alt="Illustration: Activity Verification Sample" loading="lazy"/>
                  <a class="button btn-cerulean2 mt-4">
                    Download Sample
                  </a>
                </div>
              </div>
            </div>
    
            <div class="verify-guide__bg mt-5">
              <div class="verify-guide__badge-advanced">
                <p class="verify-guide__badge-text">Human Specialized</p>
                <img class="ml-3" src="/images/verification-page/icons/human-icon-white.svg" alt="Human Specialized Icon" loading="lazy"/>
              </div>
              <img class="verify-guide__shape" src="/images/verification-page/verify-shape3.webp" alt="Illustration: Shape Verification Advanced" loading="lazy"/>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <p class="verify-guide__title">Verification Advanced</p>
                  <p class="verify-guide__subtitle">Additional certainty using a human powered process.</p>
                  <p class="verify-guide__text mt-2 mb-1"><i class="fa fa-check text-light-green mr-2"></i>Human Powered Verification</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>Configure the application environment</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>Verify the application runs successfully</p>
                  <div class="solutions mt-4 d-flex flex-wrap">
                    <p class="select-level__price mr-4 text-slate-gray">{{ site.data[page.lang]['software_backup']['from'] }}<br><span
                        class="verification-advanced fw-700">{{ site.data.pricing.prices.verification_advanced.USD }}</span></p>
                        <p class="select-level__price text-italic mw-320 mt-4 text-slate-gray">Per application per report. Discount available for regular scheduled verification.</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <img class="verify-guide__illustration mt-4" src="/images/verification-page/verification-advanced.webp" alt="Illustration: Verification Advanced Sample" loading="lazy"/>
                  <a class="button btn-cerulean2 mt-4">
                    Download Sample
                  </a>
                </div>
              </div>
            </div>
    
            <div class="verify-guide__bg mt-5">
              <div class="verify-guide__badge-complete">
                <p class="verify-guide__badge-text">Technical Specialists</p>
                <img class="ml-3" src="/images/verification-page/icons/person-check-icon-white.svg" alt="Technical Specialists Icon" loading="lazy"/>
              </div>
              <img class="verify-guide__shape" src="/images/verification-page/verify-shape4.webp" alt="Illustration: Shape Verification Advanced" loading="lazy"/>
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <p class="verify-guide__title">Verification Complete</p>
                  <p class="verify-guide__subtitle mw-420">Increase the scope to include application functionality and usage scenarios.</p>
                  <p class="verify-guide__text mt-2 mb-1"><i class="fa fa-check text-light-green mr-2"></i>Human Powered Verification</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>Configure environment & run the application</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>Check up to 20 features (custom scenarios optional)</p>
                  <div class="solutions mt-4 d-flex flex-wrap">
                    <p class="select-level__price mr-4 text-slate-gray">{{ site.data[page.lang]['software_backup']['from'] }}<br><span
                        class="verification-complete fw-700">{{ site.data.pricing.prices.verification_complete.USD }}</span></p>
                        <p class="select-level__price text-italic mw-320 mt-4 text-slate-gray">Per application per report. Discount available for regular scheduled verification.</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <img class="verify-guide__illustration mt-4" src="/images/verification-page/verification-complete.webp" alt="Illustration: Verification Complete Sample" loading="lazy"/>
                  <a class="button btn-cerulean2 mt-4">
                    Download Sample
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>
        
      </div>
    </div>

    <div class="section-large bg-gradient-blue7 resources">
      <div class="container software-escrow">
        <p class="people-choose__main-title overflow-wrap-break-mobile pt-2">Certain Quick Recovery</p>
        <p class="people-choose__main-subtitle mx-auto pt-2 mw-770 text-dark-cyan">Deposit verification helps you guarantee smooth recovery when a release of the source code or data is triggered.</p>
        <a class="button btn-cerulean2 pricing-href mx-auto mt-4" href="pricing.html">
          {{ site.data[page.lang]['software_escrow2']['view_pricing'] }}
        </a>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="mentions__box2 light-box-shadow py-5 px-3">
              <div class="content-center">
                <img class="my-1 mx-auto" src="/images/disaster-recovery/icons/software-escrow-shield-icon.svg" alt="Software Escrow Shield Icon" loading="lazy"/>
              </div>
              <p class="we-support__title mx-auto"><span class="fw-600">Software Escrow </span><br>Required</p>
              <p class="we-support__subtitle mx-auto mt-4 font-16 line-height-24 pb-2">{{ site.data[page.lang]['software_escrow2']['securely_store_your'] }} </p>
              <div class="content-center">
                <img class="software-escrow__image mx-auto mw-270" src="/images/software-custodian/software-escrow-included.webp" alt="Illustration: Software Escrow Dashboard" loading="lazy"/>
              </div>
              <a class="button btn-secondary-large software-escrow-href mx-auto mt-4" href="software-escrow.html">
                {{ site.data[page.lang]['software_escrow']['learn_more'] }}
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="mentions__box2 light-box-shadow py-5 px-3">
              <div class="content-center">
                <img class="my-1 mx-auto" src="/images/disaster-recovery/icons/software-backups-shield-icon.svg" alt="Software Backup Shield Icon" loading="lazy"/>
              </div>
              <p class="we-support__title mx-auto"><span class="fw-600">Software Backup </span><br>Required </p>
              <p class="we-support__subtitle mx-auto mt-4 font-16 line-height-24 pb-2">{{ site.data[page.lang]['software_backup']['source_code_and_application'] }} </p>
              <div class="content-center pt-2">
                <img class="software-escrow__image mx-auto mw-270" src="/images/software-custodian/software-backup-included.webp" alt="Illustration: Software Backup Dashboard" loading="lazy"/>
              </div>
              <a class="button btn-secondary-large software-backup-href mx-auto mt-4" href="software-backup.html">
                {{ site.data[page.lang]['software_escrow']['learn_more'] }}
              </a>
            </div>
          </div>
        </div>
        <div class="row mb-negative-300">

          <div class="mentions__box2 light-box-shadow py-5 px-3 mw-100 w-100 min-h-400">
            <p class="we-support__title text-center mw-100">{{ site.data[page.lang]['software_escrow2']['we_support_most'] }} </p>
            <p class="we-support__subtitle mx-auto fw-700 mt-4 font-24">{{ site.data[page.lang]['software_escrow2']['50_plus'] }} </p>
            <p class="we-support__subtitle mx-auto mt-2 mw-400 font-16 line-height-24">{{ site.data[page.lang]['software_escrow']['make_it_easy'] }}</p>
            <div class="resources">
              <div class="applications__logos mt-5 pb-4">
                
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/github.svg" alt="Github Logo"
                    loading="lazy" />
                  <p class="applications__logo-text">GitHub</p>
                </div>
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/bitbucket.svg" alt="Bitbucket Logo"
                    loading="lazy" />
                  <p class="applications__logo-text">Bitbucket</p>
                </div>
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/gitlab-large.svg" alt="Gitlab Logo"
                    loading="lazy" />
                  <p class="applications__logo-text">GitLab</p>
                </div>
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/amazon2.svg"
                    alt="Amazon Web Services Logo" loading="lazy" />
                  <p class="applications__logo-text">AWS</p>
                </div>
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/azure-large.svg"
                    alt="Microsoft Azure Logo" loading="lazy" />
                  <p class="applications__logo-text">Azure</p>
                </div>
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/google-cloud-large.svg"
                    alt="Google Cloud Logo" loading="lazy" />
                  <p class="applications__logo-text">GCP</p>
                </div>
                
              </div>

              <a class="button btn-secondary-large integrations-href mx-auto mt-negative-80" href="integrations.html">
                {{ site.data[page.lang]['software_backup']['explore_features'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="section-large software-escrow bg-paper-white">
      <div class="container pt-100">
        <p class="scenario__subtext mx-auto pt-4 font-24 fw-400 text-light-red">Don’t let your customers down, verify your deposited material</p>
        <p class="scenario__title mx-auto py-3 mw-1000 font-35 line-height-38">Software verification doesn’t have to be complex or expensive</p>
        <p class="scenario__subtext mx-auto mt-2 font-24 fw-light mw-800">When your clients depend on you for their business operations you can’t afford not being able to recover quickly.</p>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/landing/icons/loss-of-revenue.svg"
              alt="Loss of revenue Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['index']['loss_of_revenue'] }}</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['index']['every_minute_of'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/landing/icons/legal-repercussions.svg"
              alt="Legal Repercussions Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['index']['legal_repercussions'] }}</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['index']['face_legal_and'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/landing/icons/compromised-data.svg"
              alt="Compromised Data Integrity Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{ site.data[page.lang]['index']['compromised_data'] }}</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['index']['a_breach_can'] }}</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Section -->
    <div class="container section-large pb-5 pricing">
      <h4 class="section__title text-align-center">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_is_source'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['verification_is'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_levels'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['we_offer'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['why_is_code'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['code_verification'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['how_does'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['our_verification'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_types'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['codekeeper_verification'] }}</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['can_codekeeper'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['yes_our_verification'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['how_often'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['the_frequency'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['is_my_code'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['yes_we_take'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['can_i_use'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['yes_we_support'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['how_long'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['the_duration'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_happens'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy"/>
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['if_verification'] }}</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-5 text-center">{{ site.data[page.lang]['pricing']['have_not_found'] }} <a class="text-bondi-blue contact-href fw-bold text-transform-none text-underline" href="contact.html">{{ site.data[page.lang]['pricing']['contact_us'] }}</a> </p>
    </div>
    <!-- Section -->
    <div class="resources py-5 bg-gradient-blue-bottom2">
      <div class="position-relative">
        <div class="container resources ">
          <p class="people-choose__main-title text-dark-cyan fw-light pt-2 overflow-wrap-break-mobile mw-100">Ready for Recovery using Deposit Verification </p>
          <p class="people-choose__main-subtitle2 mx-auto mt-4">Leverage our source code verification services to ensure your software remains uninterrupted, no matter what happens. </p>
        </div>
        <div class="container pt-50">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-5 col-sm-12">
              <img class="software-escrow__image mb-5" src="/images/verification-page/deposit-verification.webp" alt="Illustration: Deposit Verification" loading="lazy"/>
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title mb-1 overflow-wrap-break-mobile">Deposit Verification</p>
              <p class="software-escrow__subtitle">Add this to your Codekeeper account today.  </p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-3"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['saas_escrow2']['your_software_keeps'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['saas_escrow2']['your_operations_are'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_escrow2']['you_have_a_solid_legal'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{ site.data[page.lang]['software_escrow2']['fully_automated'] }} </p>
              <div class="d-flex flex-wrap mt-4 mb-sm-50">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-3" href="book-a-demo.html">
                  Contact Sales
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{ site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="section-medium">
            <img class="image-style" src="/images/landing/companies.webp" alt="Illustration: Trusted Partner Companies" loading="lazy"/>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script src="/js/monthlyEscrowPricing.js"></script>
  <script src="/js/faqDropdown.js"></script>

  <script>
    var pathname = location.pathname;
    var pricesData = localStorage.getItem('prices');
    var prices = JSON.parse(pricesData);
    
    $( document ).ready(function() {
      $.ajax('https://ipapi.co/json')
      .then(
        function success(response) {
          if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
              if (pathname.includes('/fr/')) {
                $('.verification-advanced').text(prices.verification_advanced.EUR_FRENCH);
                $('.verification-complete').text(prices.verification_complete.EUR_FRENCH);
              }
              else {
                $('.verification-advanced').text(prices.verification_advanced.EUR);
                $('.verification-complete').text(prices.verification_complete.EUR);
              }
          }
          else if (response.currency === 'GBP') {
            $('.verification-advanced').text(prices.verification_advanced.GBP);
            $('.verification-complete').text(prices.verification_complete.GBP);
          }
          else if (response.currency === 'INR') {
            $('.verification-advanced').text(prices.verification_advanced.INR);
            $('.verification-complete').text(prices.verification_complete.INR);
          }
          else if (response.currency === 'AUD') {
            $('.verification-advanced').text(prices.verification_advanced.AUD);
            $('.verification-complete').text(prices.verification_complete.AUD);
          }
          else if (response.currency === 'SGD') {
            $('.verification-advanced').text(prices.verification_advanced.SGD);
            $('.verification-complete').text(prices.verification_complete.SGD);
          }
          else if (response.currency === 'ZAR') {
            $('.verification-advanced').text(prices.verification_advanced.ZAR);
            $('.verification-complete').text(prices.verification_complete.ZAR);
          }
          else if (response.currency === 'CHF') {
            $('.verification-advanced').text(prices.verification_advanced.CHF);
            $('.verification-complete').text(prices.verification_complete.CHF);
          }
          else if (response.currency === 'CAD') {
            $('.verification-advanced').text(prices.verification_advanced.CAD);
            $('.verification-complete').text(prices.verification_complete.CAD);
          }
        },
        function fail(data, status) {
            console.log('Request failed.  Returned status of',
                        status);
        }
      )
      .catch((e) => console.log(e))
    });
  </script>

  <script>
    // Check if the page has not been reloaded
    if (!localStorage.getItem('pageReloaded')) {
      var yamlData = {{ site.data.pricing.prices | jsonify
    }};
    localStorage.setItem('prices', JSON.stringify(yamlData));

    // Set a flag in localStorage to indicate that the page has been reloaded
    localStorage.setItem('pageReloaded', 'true');

    // Reload the page
    window.location.reload();
    } 
  </script>
</body>