<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target; var elem = document.head; elem.appendChild(script);
  </script>
  <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx'
        alt='ClickCease' /></a>
  </noscript>
  <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="solutions">
      <div class="header__content">
        <div class="header__bg-new bg-gradient-faded-gray">
          <img class="header__bg-top-left2" src="/images/verification-page/top-left.webp" alt="Left Background Shape" />
          <img class="header__bg-right-shape2" src="/images/verification-page/verification-solutions-shape.webp"
            alt="Verification Background Shape" />
          <div class="mw-1300 mx-auto px-3">
            <div class="row">
              <div class="col-md-7 col-sm-12">
                <div class="d-flex flex-wrap align-items-center">
                  <h1 class="header__title text-align-start my-1 text-secondary mw-100 overflow-wrap-break mr-3">{{
                    site.data[page.lang]['verification']['verification_solutions'] }}</h1>
                  <sup class="header__add-on2">{{
                    site.data[page.lang]['pricing']['add_on'] }}</sup>
                </div>
                
                <p class="header__subtitle text-align-start mt-4 font-35 line-height-40 mw-100">{{
                  site.data[page.lang]['verification_page']['certify_your'] }}</p>
                <p class="header__subtitle text-align-start mt-4 mw-570">{{
                  site.data[page.lang]['verification_page']['our_suite_of'] }}</p>
                <img class="image-style mw-320 max-h-100 mt-4"
                  src="/images/verification-page/verification-solutions.webp"
                  alt="Illustration of Verification Solutions" loading="lazy" />
              </div>
              <div class="col-md-5 col-sm-12 content-center">
                <img class="image-style mw-530 mt-4" src="/images/verification-page/verification-solutions-header.webp"
                  alt="Verification Solutions Header Illustration" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Section -->
    <div class="resources">
      <div class="software-escrow__bg-gray min-h-600 pb-100">
        <div class="container section-large pb-5 software-escrow">
          <p class="scenario__title mx-auto pb-5 mw-770">{{
            site.data[page.lang]['verification_page']['is_your_recovery'] }}</p>
          <p class="scenario__subtext mx-auto mt-2 font-18 fw-400 mw-1000">{{
            site.data[page.lang]['verification_page']['when_the_unexpected'] }}</p>
          <div class="row mt-5">
            <div class="col-md-4 col-sm-12 mb-sm-50">
              <img class="mx-auto d-block my-2" src="/images/verification-page/icons/depositor-diligence.svg"
                alt="Depositor Diligence Icon" loading="lazy" />
              <p class="scenario__subtitle mx-auto font-24 text-dark-cyan fw-light">{{
                site.data[page.lang]['verification_page']['depositor_diligence'] }}</p>
              <p class="scenario__text mx-auto font-16 line-height-24 mw-320">{{
                site.data[page.lang]['verification_page']['how_do_you_verify'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12 mb-sm-50">
              <img class="mx-auto d-block my-2" src="/images/verification-page/icons/data-check.svg"
                alt="Comprehensiveness Check Icon" loading="lazy" />
              <p class="scenario__subtitle mx-auto font-24 text-dark-cyan fw-light">{{
                site.data[page.lang]['verification_page']['comprehensiveness_check'] }}</p>
              <p class="scenario__text mx-auto font-16 line-height-24 mw-320">{{
                site.data[page.lang]['verification_page']['can_you_be_sure'] }}</p>
            </div>
            <div class="col-md-4 col-sm-12 mb-sm-50">
              <img class="mx-auto d-block my-2" src="/images/verification-page/icons/recovery-readiness.svg"
                alt="Recovery Readiness Icon" loading="lazy" />
              <p class="scenario__subtitle mx-auto font-24 text-dark-cyan fw-light">{{
                site.data[page.lang]['verification_page']['recovery_readiness'] }}</p>
              <p class="scenario__text mx-auto font-16 line-height-24 mw-320">{{
                site.data[page.lang]['verification_page']['is_the_deposited'] }}</p>
            </div>
          </div>
          <p class="scenario__subtext mx-auto mt-5 font-20 text-italic fw-light mw-570">{{
            site.data[page.lang]['verification_page']['with_codekeeper_bridge_the'] }}</p>
        </div>
      </div>
    </div>

    <div class="bg-gradient-blue-bottom section-large pt-5 software-escrow">
      <div class="mw-1300 mx-auto px-3">

        <div class="row mt-5 column-reverse-mobile py-5">
          <div class="col-md-7 col-sm-12">
            <p class="information__subtitle fw-light font-28 line-height-40 mt-3 mw-700">{{
              site.data[page.lang]['verification_page']['in_the_realm_of'] }}</p>
            <p class="information__subtitle fw-light font-28 line-height-40 mt-3 mw-700">{{
              site.data[page.lang]['verification_page']['codekeepers_verification'] }}</p>
            <p class="information__subtitle fw-light font-28 line-height-40 mt-3 mw-700">{{
              site.data[page.lang]['verification_page']['our_process'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12 content-center">
            <img class="information__image mt-4" src="/images/verification-page/verification-solutions-precess.webp"
              alt="Illustration of Customizable backup assets" loading="lazy" />
          </div>
        </div>

        <div class="row mt-5 resources pricing">
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column mw-420">
              <img class="mt-negative-80" src="/images/verification-page/icons/continuous.svg"
                alt="Continuous Automated Verification Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24 fw-light text-center">{{
                site.data[page.lang]['verification_page']['continuous_automated'] }}</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 fw-600 mw-260">{{
                site.data[page.lang]['verification_page']['our_system_tirelessly'] }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column mw-420">
              <img class="mt-negative-80" src="/images/verification-page/icons/specialized.svg"
                alt="Specialized Human Insight Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24 fw-light mw-260 mx-auto text-center">
                {{ site.data[page.lang]['verification_page']['specilalized_human'] }}</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 fw-600 mw-260">{{
                site.data[page.lang]['verification_page']['beyond_automated'] }}</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 content-center mt-4">
            <div class="verify__col-box align-items-center d-flex flex-column mw-420">
              <img class="mt-negative-80" src="/images/verification-page/icons/dedicated.svg"
                alt="Dedicated Technical Specialists Icon" loading="lazy" />
              <p class="people-choose__main-subtitle2 mx-auto mt-4 fw-bold font-24 fw-light text-center">{{
                site.data[page.lang]['verification_page']['dedicated_technical'] }}</p>
              <p class="people-choose__main-subtitle2 mx-auto text-center font-16 line-height-24 fw-600 mw-300">{{
                site.data[page.lang]['verification_page']['navigating_issues'] }}</p>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center mt-5">
          <img class="mr-3" src="/images/verification-page/icons/ck-logo-icon.svg" alt="Codekeeper Logo Icon"
            loading="lazy" />
          <p class="information__subtitle fw-400 mt-3 mw-900 text-bondi-blue text-italic font-24 line-height-34">{{
            site.data[page.lang]['verification_page']['with_codekeeper_you'] }}</p>
        </div>

      </div>
    </div>

    <!-- Second Section -->
    <div class="container-fluid resources">
      <div class="beneficiary__container mx-auto mt-negative-50 mb-negative-50 position-relative bg-white">
        <div class="container py-5">
          <p class="how-works__main-title mx-auto pb-5">{{
            site.data[page.lang]['verification_page']['your_verification_action'] }}</p>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="works__config mobile-centered">
                <div class="works__number-bg-step">
                  <div class="works__step2">{{ site.data[page.lang]['how_it_works']['step_1'] }}</div>
                </div>
                <div>
                  <p class="how-works__text fw-light">{{
                    site.data[page.lang]['verification_page']['select_your_protection'] }}</p>
                  <p class="how-works__subtext2 font-20">{{
                    site.data[page.lang]['verification_page']['based_on_our_risk'] }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 pr-5">
              <img class="works__image2 mt-5 ml-negative-80" src="/images/verification-page/select-protection.webp"
                alt="Illustration of protection level" loading="lazy" />
            </div>
          </div>
          <div class="row column-reverse-mobile">
            <div class="col-md-6 col-sm-12">
              <div class="works__config2">
                <img class="works__image2 ml-negative-80" src="/images/verification-page/digital-assets.webp"
                  alt="Illustration of digital assets" loading="lazy" />
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="works__config3 mobile-centered">
                <div class="works__number-bg-step2">
                  <div class="works__step2">{{ site.data[page.lang]['how_it_works']['step_2'] }}</div>
                </div>
                <div>
                  <p class="how-works__text fw-light">{{ site.data[page.lang]['verification_page']['select_the_digital']
                    }} </p>
                  <p class="how-works__subtext2 font-20">{{ site.data[page.lang]['verification_page']['in_your_account']
                    }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="works__config4 mobile-centered">
                <div class="works__number-bg-step">
                  <div class="works__step2">{{ site.data[page.lang]['how_it_works']['step_3'] }}</div>
                </div>
                <div>
                  <p class="how-works__text fw-light text-transform-none">{{
                    site.data[page.lang]['verification_page']['review_verification_reports'] }}</p>
                  <p class="how-works__subtext2 font-20">{{
                    site.data[page.lang]['verification_page']['the_codekeeper_verification'] }}</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <img class="works__image2 ml-negative-80 mt-80" src="/images/verification-page/review-verification.webp"
                alt="Illustration of Verification Reports" loading="lazy" />
            </div>
          </div>

          <div class="d-flex flex-column align-items-center">
            <img class="how-works__active-icon" src="/images/how-it-works/icons/active-escrow.svg"
              alt="Active Escrow Icon" loading="lazy" />
            <p class="how-works__text mt-3 mr-3 mb-2 text-transform-none">{{
              site.data[page.lang]['verification_page']['certified_ready_for'] }}</p>
            <p class="how-works__subtext2 text-center mw-570">{{
              site.data[page.lang]['verification_page']['you_have_set_up'] }}</p>
            <p class="how-works__subtext2 text-center text-bondi-blue">{{
              site.data[page.lang]['how_it_works']['for_more_details'] }}</p>
            <a class="button btn-cerulean3 book-a-demo-href mx-auto mt-2" href="book-a-demo.html">
              {{ site.data[page.lang]['book_demo']['book_a_demo'] }}
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="resources">
      <div class="container pt-100">
        <p class="people-choose__info text-secondary-light text-center pt-5 font-24 fw-700 mx-auto"><img
            class="mr-2 mb-1" src="/images/software-escrow/icons/continuity-arrows.svg" alt="Arrows Icon"
            loading="lazy" />{{ site.data[page.lang]['verification_page']['certified_recovery'] }}</p>
        <p class="people-choose__main-title overflow-wrap-break-mobile pt-1">{{
          site.data[page.lang]['verification_page']['deposit_verification'] }}</p>
        <p class="people-choose__main-subtitle mx-auto pt-2 mw-700">{{
          site.data[page.lang]['verification_page']['guarantee_recovery'] }}</p>
      </div>
      <div class="people-choose__bg bg-gradient-blue-sky">
        <div class="container">
          <div class="content-center mt-5">
            <img class="people-choose__image mx-auto" src="/images/verification-page/deposit-verification.webp"
              alt="Illustration: Deposit Verification" loading="lazy" />
          </div>
          <p class="people-choose__info mx-auto my-4 fw-light">{{
            site.data[page.lang]['verification_page']['reports_available_right'] }}</p>
          <a class="button btn-cerulean2 pricing-href mx-auto" href="pricing.html">
            {{ site.data[page.lang]['index']['explore_our_pricing'] }}
          </a>
        </div>
      </div>
    </div>

    <div class="pricing">
      <div class="mw-1300 mx-auto px-3 section-medium">
        <div class="row mt-4">
          <div class="col-lg-6 col-md-12 mt-4">
            <p class="verify__col-title mt-4 mw-490">{{ site.data[page.lang]['verification']['do_i_need'] }}</p>
            <img class="image-style mw-490 mh-400 pb-100" src="/images/verification-page/software-escrow-deposit.webp"
              alt="Dashboard displaying software escrow deposit verification, ensuring integrity and security Illustration."
              loading="lazy" />
          </div>
          <div class="col-lg-6 col-md-12 mt-4">
            <div class="d-flex mt-4 align-items-start">
              <img class="mr-3 pt-1 mt-2" src="/images/verification-page/bullet.svg" alt="Bullet Icon" loading="lazy" />
              <p class="verify__col-subtitle2 mw-530">{{
                site.data[page.lang]['verification']['verification_services_are'] }}</p>
            </div>
            <div class="d-flex mt-4 align-items-start">
              <img class="mr-3 pt-1 mt-2" src="/images/verification-page/bullet.svg" alt="Bullet Icon" loading="lazy" />
              <p class="verify__col-subtitle2 mw-530">{{
                site.data[page.lang]['verification']['verification_services_offered'] }}</p>
            </div>
            <div class="d-flex mt-4 align-items-start">
              <img class="mr-3 pt-1 mt-2" src="/images/verification-page/bullet.svg" alt="Bullet Icon" loading="lazy" />
              <p class="verify__col-subtitle2 mw-530">{{ site.data[page.lang]['verification']['the_level_of'] }}</p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="section-large pt-4 bg-gradient-blue-bottom3 resources">
      <div class="mw-1300 px-3 mx-auto">
        <p class="verify-guide__main-title">{{ site.data[page.lang]['verification_page']['verification_levels'] }}</p>
        <p class="verify-guide__main-subtitle">{{ site.data[page.lang]['verification_page']['based_on_your'] }}</p>

        <div class="verify-guide__content">
          <div class="verify-guide__sidebar mt-5">
            <div class="verify-guide__gradient-line">
              <img class="verify-guide__circle-light" src="/images/verification-page/icons/circle-light.svg"
                alt="Circle Light Icon" loading="lazy" />
              <img class="verify-guide__circle-dark" src="/images/verification-page/icons/circle-dark.svg"
                alt="Circle Dark Icon" loading="lazy" />
              <p class="verify-guide__first-text">{{ site.data[page.lang]['verification_page']['deposit_profile'] }}</p>
              <p class="verify-guide__second-text">{{ site.data[page.lang]['verification_page']['running_application']
                }}</p>
              <p class="verify-guide__third-text">{{ site.data[page.lang]['verification_page']['testing_features'] }}
              </p>
            </div>
          </div>

          <div class="verify-guide__sidebar-mobile mt-5">
            <div class="d-flex justify-content-between">
              <p class="verify-guide__first-text position-relative">{{
                site.data[page.lang]['verification_page']['deposit_profile'] }}</p>
              <p class="verify-guide__second-text position-relative">{{
                site.data[page.lang]['verification_page']['running_application'] }}</p>
              <p class="verify-guide__third-text position-relative mr-3">{{
                site.data[page.lang]['verification_page']['testing_features'] }}</p>
            </div>
            <div class="verify-guide__gradient-line-mobile">
              <img class="verify-guide__circle-light2" src="/images/verification-page/icons/circle-light.svg"
                alt="Circle Light Icon" loading="lazy" />
              <img class="verify-guide__circle-dark2" src="/images/verification-page/icons/circle-dark.svg"
                alt="Circle Dark Icon" loading="lazy" />
            </div>
          </div>

          <div>
            <div class="verify-guide__bg mt-5">
              <div class="verify-guide__badge-automated">
                <p class="verify-guide__badge-text">{{ site.data[page.lang]['verification_page']['automated'] }}</p>
                <img class="ml-3" src="/images/verification-page/icons/automated-icon-white.svg" alt="Automated Icon"
                  loading="lazy" />
              </div>
              <img class="verify-guide__shape" src="/images/verification-page/verify-shape1.webp"
                alt="Illustration: Shape Content Verification" loading="lazy" />
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <p class="verify-guide__title">{{ site.data[page.lang]['verification_page']['content_verification'] }}
                  </p>
                  <p class="verify-guide__subtitle">{{ site.data[page.lang]['verification_page']['provide_a_profile'] }}
                  </p>
                  <p class="verify-guide__text mt-2 mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['insight_into'] }}</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['overview_of_the_asset'] }}</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['adds_transparency'] }}</p>
                  <div class="solutions mt-4">
                    <p class="select-level__price mr-4 text-slate-gray">{{
                      site.data[page.lang]['software_backup']['from'] }}<br><span
                        class="software-backup-certified fw-700">{{
                        site.data.pricing.prices.software_backup_certified.USD }}</span> {{
                      site.data[page.lang]['software_backup']['per_application'] }}</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <img class="verify-guide__illustration mt-4" src="/images/verification-page/content-verification.webp"
                    alt="Illustration: Content Verification Sample" loading="lazy" />
                  <a class="button btn-cerulean2 mt-4" data-toggle="modal" data-target="#exampleModal001">
                    {{ site.data[page.lang]['verification_page']['download_sample'] }}
                  </a>
                </div>
              </div>
            </div>

            <div class="verify-guide__bg mt-5">
              <div class="verify-guide__badge-automated">
                <p class="verify-guide__badge-text">{{ site.data[page.lang]['verification_page']['automated'] }}</p>
                <img class="ml-3" src="/images/verification-page/icons/automated-icon-white.svg" alt="Automated Icon"
                  loading="lazy" />
              </div>
              <img class="verify-guide__shape" src="/images/verification-page/verify-shape2.webp"
                alt="Illustration: Shape Content Verification" loading="lazy" />
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <p class="verify-guide__title">{{ site.data[page.lang]['verification_page']['activity_verification']
                    }}</p>
                  <p class="verify-guide__subtitle">{{ site.data[page.lang]['verification_page']['offers_a_profile'] }}
                  </p>
                  <p class="verify-guide__text mt-2 mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['insight_into_the'] }}</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['overview_of_update'] }}</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['demonstrates_ongoing'] }}</p>
                  <div class="solutions mt-4">
                    <p class="select-level__price mr-4 text-slate-gray">{{
                      site.data[page.lang]['software_backup']['from'] }}<br><span
                        class="software-backup-certified fw-700">{{
                        site.data.pricing.prices.software_backup_certified.USD }}</span> {{
                      site.data[page.lang]['software_backup']['per_application'] }}</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <img class="verify-guide__illustration mt-4"
                    src="/images/verification-page/activity-verification.webp"
                    alt="Illustration: Activity Verification Sample" loading="lazy" />
                  <a class="button btn-cerulean2 mt-4" data-toggle="modal" data-target="#exampleModal002">
                    {{ site.data[page.lang]['verification_page']['download_sample'] }}
                  </a>
                </div>
              </div>
            </div>

            <div class="verify-guide__bg mt-5">
              <div class="verify-guide__badge-advanced">
                <p class="verify-guide__badge-text">{{ site.data[page.lang]['verification_page']['human_specialized'] }}
                </p>
                <img class="ml-3" src="/images/verification-page/icons/human-icon-white.svg"
                  alt="Human Specialized Icon" loading="lazy" />
              </div>
              <img class="verify-guide__shape" src="/images/verification-page/verify-shape3.webp"
                alt="Illustration: Shape Verification Advanced" loading="lazy" />
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <p class="verify-guide__title">{{ site.data[page.lang]['verification_page']['verification_advanced']
                    }}</p>
                  <p class="verify-guide__subtitle">{{ site.data[page.lang]['verification_page']['additional_certainty']
                    }}</p>
                  <p class="verify-guide__text mt-2 mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['human_powered'] }}</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['configure_the_application'] }}</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['verify_the_application'] }}</p>
                  <div class="solutions mt-4 d-flex flex-wrap">
                    <p class="select-level__price mr-4 text-slate-gray">{{
                      site.data[page.lang]['software_backup']['from'] }}<br><span
                        class="verification-advanced fw-700">{{ site.data.pricing.prices.verification_advanced.USD
                        }}</span></p>
                    <p class="select-level__price text-italic mw-320 mt-4 text-slate-gray">{{
                      site.data[page.lang]['verification_page']['per_application_per_report'] }}</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <img class="verify-guide__illustration mt-4"
                    src="/images/verification-page/verification-advanced.webp"
                    alt="Illustration: Verification Advanced Sample" loading="lazy" />
                  <a class="button btn-cerulean2 mt-4" data-toggle="modal" data-target="#exampleModal003">
                    {{ site.data[page.lang]['verification_page']['download_sample'] }}
                  </a>
                </div>
              </div>
            </div>

            <div class="verify-guide__bg mt-5">
              <div class="verify-guide__badge-complete">
                <p class="verify-guide__badge-text">{{
                  site.data[page.lang]['verification_page']['technical_specialists'] }}</p>
                <img class="ml-3" src="/images/verification-page/icons/person-check-icon-white.svg"
                  alt="Technical Specialists Icon" loading="lazy" />
              </div>
              <img class="verify-guide__shape" src="/images/verification-page/verify-shape4.webp"
                alt="Illustration: Shape Verification Advanced" loading="lazy" />
              <div class="row">
                <div class="col-md-8 col-sm-12">
                  <p class="verify-guide__title">{{ site.data[page.lang]['verification_page']['verification_complete']
                    }}</p>
                  <p class="verify-guide__subtitle mw-420">{{
                    site.data[page.lang]['verification_page']['increase_the_scope'] }}</p>
                  <p class="verify-guide__text mt-2 mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['human__powered_verification'] }}</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['configure_environment'] }}</p>
                  <p class="verify-guide__text mb-1"><i class="fa fa-check text-light-green mr-2"></i>{{
                    site.data[page.lang]['verification_page']['check_up_to'] }}</p>
                  <div class="solutions mt-4 d-flex flex-wrap">
                    <p class="select-level__price mr-4 text-slate-gray">{{
                      site.data[page.lang]['software_backup']['from'] }}<br><span
                        class="verification-complete fw-700">{{ site.data.pricing.prices.verification_complete.USD
                        }}</span></p>
                    <p class="select-level__price text-italic mw-320 mt-4 text-slate-gray">{{
                      site.data[page.lang]['verification_page']['per_application_per_report'] }}</p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12">
                  <img class="verify-guide__illustration mt-4"
                    src="/images/verification-page/verification-complete.webp"
                    alt="Illustration: Verification Complete Sample" loading="lazy" />
                  <a class="button btn-cerulean2 mt-4" data-toggle="modal" data-target="#exampleModal004">
                    {{ site.data[page.lang]['verification_page']['download_sample'] }}
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal001" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content section__modal mx-auto">
                <div class="modal-body p-0">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="m-0">
                    <div class="section__modal-form p-0 ">
                      <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_sample']
                        }}</p>
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <img class="section__modal-image" src="/images/verification-page/content-verification.webp"
                            alt="Illustration: Content Verification Sample" loading="lazy" />
                          <p class="section__modal-subtext mt-0">*{{
                            site.data[page.lang]['resources']['sample_available_only'] }}</p>
                        </div>
                        <div class="col-md-6 col-sm-12 pt-3">
                          <script charset="utf-8" type="text/javascript"
                            src="//js.hsforms.net/forms/embed/v2.js"></script>
                          <script>
                            hbspt.forms.create({
                              region: "na1",
                              portalId: "5365877",
                              formId: "d3a2ece7-0b3a-4886-a0f4-bacf7d1a25c6"
                            });
                          </script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal002" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content section__modal mx-auto">
                <div class="modal-body p-0">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="m-0">
                    <div class="section__modal-form p-0 ">
                      <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_sample']
                        }}</p>
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <img class="section__modal-image" src="/images/verification-page/activity-verification.webp"
                            alt="Illustration: Activity Verification Sample" loading="lazy" />
                          <p class="section__modal-subtext mt-0">*{{
                            site.data[page.lang]['resources']['sample_available_only'] }}</p>
                        </div>
                        <div class="col-md-6 col-sm-12 pt-3">
                          <script charset="utf-8" type="text/javascript"
                            src="//js.hsforms.net/forms/embed/v2.js"></script>
                          <script>
                            hbspt.forms.create({
                              region: "na1",
                              portalId: "5365877",
                              formId: "ca93caae-a5a1-4aaa-bd45-b36f7cb0f0d6"
                            });
                          </script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal003" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content section__modal mx-auto">
                <div class="modal-body p-0">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="m-0">
                    <div class="section__modal-form p-0 ">
                      <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_sample']
                        }}</p>
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <img class="section__modal-image" src="/images/verification-page/verification-advanced.webp"
                            alt="Illustration: Verification Advanced Sample" loading="lazy" />
                          <p class="section__modal-subtext mt-0">*{{
                            site.data[page.lang]['resources']['sample_available_only'] }}</p>
                        </div>
                        <div class="col-md-6 col-sm-12 pt-3">
                          <script charset="utf-8" type="text/javascript"
                            src="//js.hsforms.net/forms/embed/v2.js"></script>
                          <script>
                            hbspt.forms.create({
                              region: "na1",
                              portalId: "5365877",
                              formId: "7ecc18d1-5741-4490-8a17-86b2a477822b"
                            });
                          </script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal004" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content section__modal mx-auto">
                <div class="modal-body p-0">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="m-0">
                    <div class="section__modal-form p-0 ">
                      <p class="section__modal-title mt-3">{{ site.data[page.lang]['resources']['download_this_sample']
                        }}</p>
                      <div class="row">
                        <div class="col-md-6 col-sm-12">
                          <img class="section__modal-image" src="/images/verification-page/verification-complete.webp"
                            alt="Illustration: Verification Complete Sample" loading="lazy" />
                          <p class="section__modal-subtext mt-0">*{{
                            site.data[page.lang]['resources']['sample_available_only'] }}</p>
                        </div>
                        <div class="col-md-6 col-sm-12 pt-3">
                          <script charset="utf-8" type="text/javascript"
                            src="//js.hsforms.net/forms/embed/v2.js"></script>
                          <script>
                            hbspt.forms.create({
                              region: "na1",
                              portalId: "5365877",
                              formId: "062e28cc-da1f-48f2-92db-859dec446ce3"
                            });
                          </script>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-large bg-gradient-blue7 resources">
      <div class="container software-escrow">
        <p class="people-choose__main-title overflow-wrap-break-mobile pt-2">{{
          site.data[page.lang]['verification_page']['certain_quick_recovery'] }}</p>
        <p class="people-choose__main-subtitle mx-auto pt-2 mw-770 text-dark-cyan">{{
          site.data[page.lang]['verification_page']['deposit_verification_helps'] }}</p>
        <a class="button btn-cerulean2 pricing-href mx-auto mt-4" href="pricing.html">
          {{ site.data[page.lang]['software_escrow2']['view_pricing'] }}
        </a>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="mentions__box2 light-box-shadow py-5 px-3">
              <div class="content-center">
                <img class="my-1 mx-auto" src="/images/disaster-recovery/icons/software-escrow-shield-icon.svg"
                  alt="Software Escrow Shield Icon" loading="lazy" />
              </div>
              <p class="we-support__title mx-auto">{{
                site.data[page.lang]['verification_page']['software_escrow_required'] }}</p>
              <p class="we-support__subtitle mx-auto mt-4 font-16 line-height-24 pb-2">{{
                site.data[page.lang]['software_escrow2']['securely_store_your'] }} </p>
              <div class="content-center">
                <img class="software-escrow__image mx-auto mw-270"
                  src="/images/software-custodian/software-escrow-included.webp"
                  alt="Illustration: Software Escrow Dashboard" loading="lazy" />
              </div>
              <a class="button btn-secondary-large software-escrow-href mx-auto mt-4" href="software-escrow.html">
                {{ site.data[page.lang]['software_escrow']['learn_more'] }}
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="mentions__box2 light-box-shadow py-5 px-3">
              <div class="content-center">
                <img class="my-1 mx-auto" src="/images/disaster-recovery/icons/software-backups-shield-icon.svg"
                  alt="Software Backup Shield Icon" loading="lazy" />
              </div>
              <p class="we-support__title mx-auto">{{
                site.data[page.lang]['verification_page']['software_backup_required'] }} </p>
              <p class="we-support__subtitle mx-auto mt-4 font-16 line-height-24 pb-2">{{
                site.data[page.lang]['software_backup']['source_code_and_application'] }} </p>
              <div class="content-center pt-2">
                <img class="software-escrow__image mx-auto mw-270"
                  src="/images/software-custodian/software-backup-included.webp"
                  alt="Illustration: Software Backup Dashboard" loading="lazy" />
              </div>
              <a class="button btn-secondary-large software-backup-href mx-auto mt-4" href="software-backup.html">
                {{ site.data[page.lang]['software_escrow']['learn_more'] }}
              </a>
            </div>
          </div>
        </div>
        <div class="row mb-negative-300">

          <div class="mentions__box2 light-box-shadow py-5 px-3 mw-100 w-100 min-h-400">
            <p class="we-support__title text-center mw-100">{{
              site.data[page.lang]['software_escrow2']['we_support_most'] }} </p>
            <p class="we-support__subtitle mx-auto fw-700 mt-4 font-24">{{
              site.data[page.lang]['software_escrow2']['50_plus'] }} </p>
            <p class="we-support__subtitle mx-auto mt-2 mw-400 font-16 line-height-24">{{
              site.data[page.lang]['software_escrow']['make_it_easy'] }}</p>
            <div class="resources">
              <div class="applications__logos mt-5 pb-4">

                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/github.svg" alt="Github Logo"
                    loading="lazy" />
                  <p class="applications__logo-text">GitHub</p>
                </div>
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/bitbucket.svg" alt="Bitbucket Logo"
                    loading="lazy" />
                  <p class="applications__logo-text">Bitbucket</p>
                </div>
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/gitlab-large.svg" alt="Gitlab Logo"
                    loading="lazy" />
                  <p class="applications__logo-text">GitLab</p>
                </div>
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/amazon2.svg"
                    alt="Amazon Web Services Logo" loading="lazy" />
                  <p class="applications__logo-text">AWS</p>
                </div>
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/azure-large.svg"
                    alt="Microsoft Azure Logo" loading="lazy" />
                  <p class="applications__logo-text">Azure</p>
                </div>
                <div class="applications__logo">
                  <img class="applications__logo-image" src="/images/homepage/logos/google-cloud-large.svg"
                    alt="Google Cloud Logo" loading="lazy" />
                  <p class="applications__logo-text">GCP</p>
                </div>

              </div>

              <a class="button btn-secondary-large integrations-href mx-auto mt-negative-80" href="integrations.html">
                {{ site.data[page.lang]['software_backup']['explore_features'] }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="section-large software-escrow bg-paper-white">
      <div class="container pt-100">
        <p class="scenario__subtext mx-auto pt-4 font-24 fw-400 text-light-red">{{
          site.data[page.lang]['verification_page']['dont_let_your'] }}</p>
        <p class="scenario__title mx-auto py-3 mw-1000 font-35 line-height-38">{{
          site.data[page.lang]['verification_page']['software_verification_doesnt'] }}</p>
        <p class="scenario__subtext mx-auto mt-2 font-24 fw-light mw-800">{{
          site.data[page.lang]['verification_page']['when_your_clients'] }}</p>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/landing/icons/loss-of-revenue.svg" alt="Loss of revenue Icon"
              loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{
              site.data[page.lang]['index']['loss_of_revenue'] }}</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['index']['every_minute_of'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/landing/icons/legal-repercussions.svg"
              alt="Legal Repercussions Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{
              site.data[page.lang]['index']['legal_repercussions'] }}</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['index']['face_legal_and'] }}</p>
          </div>
          <div class="col-md-4 col-sm-12 mb-sm-50">
            <img class="mx-auto d-block my-2" src="/images/landing/icons/compromised-data.svg"
              alt="Compromised Data Integrity Icon" loading="lazy" />
            <p class="scenario__subtitle mx-auto font-22 text-dark-cyan fw-600">{{
              site.data[page.lang]['index']['compromised_data'] }}</p>
            <p class="scenario__text2 mx-auto">{{ site.data[page.lang]['index']['a_breach_can'] }}</p>
          </div>
        </div>
      </div>
    </div>


    <!-- Section -->
    <div class="container section-large pb-5 pricing">
      <h4 class="section__title text-align-center">{{ site.data[page.lang]['pricing']['frequently_asked'] }}</h4>
      <ul class="faq mt-5 pb-5 pl-0">
        <li class="q d-flex align-items-center justify-content-between">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_is_source'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['verification_is'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_levels'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['we_offer'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['why_is_code'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['code_verification'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['how_does'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['our_verification'] }}</li>
        <li class="q d-flex align-items-center justify-content-between q-border">
          <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_types'] }}</p>
          <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
        </li>
        <li class="a section__text">{{ site.data[page.lang]['faq_verification']['codekeeper_verification'] }}</li>

        <div class="" id="questions">
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['can_codekeeper'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['yes_our_verification'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['how_often'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['the_frequency'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['is_my_code'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['yes_we_take'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['can_i_use'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['yes_we_support'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['how_long'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['the_duration'] }}</li>
          <li class="q d-flex align-items-center justify-content-between q-border">
            <p class="section__subtitle mt-3">{{ site.data[page.lang]['faq_verification']['what_happens'] }}</p>
            <img src="/images/integrations/icon-down.svg" alt="Down Icon" loading="lazy" />
          </li>
          <li class="a section__text">{{ site.data[page.lang]['faq_verification']['if_verification'] }}</li>
        </div>
        <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border" id="openQuestions">
          <span id='show'>{{ site.data[page.lang]['pricing']['show_more_questions'] }}</span>
          <span id='hide'>{{ site.data[page.lang]['pricing']['show_less_questions'] }}</span>
        </p>
      </ul>
      <p class="section__text mt-5 mb-5 text-center">{{ site.data[page.lang]['pricing']['have_not_found'] }} <a
          class="text-bondi-blue contact-href fw-bold text-transform-none text-underline" href="contact.html">{{
          site.data[page.lang]['pricing']['contact_us'] }}</a> </p>
    </div>
    <!-- Section -->
    <div class="resources py-5 bg-gradient-blue-bottom2">
      <div class="position-relative">
        <div class="container resources ">
          <p class="people-choose__main-title text-dark-cyan fw-light pt-2 overflow-wrap-break-mobile mw-100">{{
            site.data[page.lang]['verification_page']['ready_for_recovery_using'] }} </p>
          <p class="people-choose__main-subtitle2 mx-auto mt-4">{{
            site.data[page.lang]['verification_page']['leverage_our_source_code'] }} </p>
        </div>
        <div class="container pt-50">
          <div class="row column-reverse-mobile mt-5">
            <div class="col-md-5 col-sm-12">
              <img class="software-escrow__image mb-5" src="/images/verification-page/deposit-verification.webp"
                alt="Illustration: Deposit Verification" loading="lazy" />
            </div>
            <div class="col-md-7 col-sm-12">
              <p class="software-escrow__title mb-1 overflow-wrap-break-mobile">{{
                site.data[page.lang]['verification_page']['deposit_verification'] }}</p>
              <p class="software-escrow__subtitle">{{ site.data[page.lang]['verification_page']['add_this_to_your'] }}
              </p>
              <div class="software-escrow__devider"></div>
              <p class="software-escrow__text mt-3"><i class="fa fa-check text-light-green mr-2"></i>{{
                site.data[page.lang]['saas_escrow2']['your_software_keeps'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{
                site.data[page.lang]['saas_escrow2']['your_operations_are'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{
                site.data[page.lang]['software_escrow2']['you_have_a_solid_legal'] }}</p>
              <p class="software-escrow__text"><i class="fa fa-check text-light-green mr-2"></i>{{
                site.data[page.lang]['software_escrow2']['fully_automated'] }} </p>
              <div class="d-flex flex-wrap mt-4 mb-sm-50">
                <a class="button btn-cerulean3 book-a-demo-href mr-4 mb-3" href="book-a-demo.html">
                  {{ site.data[page.lang]['verification_page']['contact_sales'] }}
                </a>
                <div>
                  <p class="header__text">{{ site.data[page.lang]['index']['or_explore'] }}</p>
                  <a class="header__link pricing-href" href="pricing.html">{{
                    site.data[page.lang]['index']['pricing_options'] }} <i class="fa fa-angle-right"
                      aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="section-medium">
            <img class="image-style" src="/images/landing/companies.webp" alt="Illustration: Trusted Partner Companies"
              loading="lazy" />
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script src="/js/monthlyEscrowPricing.js"></script>
  <script src="/js/faqDropdown.js"></script>

  <script>
    var pathname = location.pathname;
    var pricesData = localStorage.getItem('prices');
    var prices = JSON.parse(pricesData);

    $(document).ready(function () {
      $.ajax('https://ipapi.co/json')
        .then(
          function success(response) {
            if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
              if (pathname.includes('/fr/')) {
                $('.verification-advanced').text(prices.verification_advanced.EUR_FRENCH);
                $('.verification-complete').text(prices.verification_complete.EUR_FRENCH);
              }
              else {
                $('.verification-advanced').text(prices.verification_advanced.EUR);
                $('.verification-complete').text(prices.verification_complete.EUR);
              }
            }
            else if (response.currency === 'GBP') {
              $('.verification-advanced').text(prices.verification_advanced.GBP);
              $('.verification-complete').text(prices.verification_complete.GBP);
            }
            else if (response.currency === 'INR') {
              $('.verification-advanced').text(prices.verification_advanced.INR);
              $('.verification-complete').text(prices.verification_complete.INR);
            }
            else if (response.currency === 'AUD') {
              $('.verification-advanced').text(prices.verification_advanced.AUD);
              $('.verification-complete').text(prices.verification_complete.AUD);
            }
            else if (response.currency === 'SGD') {
              $('.verification-advanced').text(prices.verification_advanced.SGD);
              $('.verification-complete').text(prices.verification_complete.SGD);
            }
            else if (response.currency === 'ZAR') {
              $('.verification-advanced').text(prices.verification_advanced.ZAR);
              $('.verification-complete').text(prices.verification_complete.ZAR);
            }
            else if (response.currency === 'CHF') {
              $('.verification-advanced').text(prices.verification_advanced.CHF);
              $('.verification-complete').text(prices.verification_complete.CHF);
            }
            else if (response.currency === 'CAD') {
              $('.verification-advanced').text(prices.verification_advanced.CAD);
              $('.verification-complete').text(prices.verification_complete.CAD);
            }
          },
          function fail(data, status) {
            console.log('Request failed.  Returned status of',
              status);
          }
        )
        .catch((e) => console.log(e))
    });
  </script>

<script>
  localStorage.removeItem('prices');
</script>

<script>
  var prices = {{ site.data.pricing.prices | jsonify }};
</script>
</body>