<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="resources">
      <div class="header__content overflow-hidden">
        <div class="header__bg-new2">
          <div class="container pb-100">
            <h1 class="header__title mt-4 text-dark-cyan">{{ site.data[page.lang]['video_guides']['learn_about'] }}</h1>
            <p class="header__subtitle mt-4 mw-850 mx-auto text-dark-cyan">{{ site.data[page.lang]['video_guides']['explore_our'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Section -->
    <div class="container mt-negative-180 pb-200 resources">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <a class="underline-none darken-effect" href="/an-introduction-to-codekeeper-software-escrow-solutions.html">
            <div class="guide__box">
              <div class="guide__box-header2">
                <img class="guide__box-image2" src="/images/video-guides/an-introduction-to-ck.webp" alt="An Introduction to Codekeeper Software Escrow Solutions Illustration" loading="lazy"/>
              </div>
              <div class="guide__box-content">
                <h3 class="guide__box-title min-h-auto">{{ site.data[page.lang]['video_guides']['an_introduction'] }}</h3>
                <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['video_guides']['revolutionize_software'] }} </p>

                <div class="guide__box-footer flex-wrap">
                  <div class="guide__box-time d-flex align-items-center"><img class="mr-2" src="/images/video-guides/clock.svg" alt="Clock Icon" loading="lazy"/>1:45</div>
                  <p class="guide__box-info-text my-2">*{{ site.data[page.lang]['video_guides']['video_available'] }} </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-12">
          <a class="underline-none darken-effect" href="/how-to-configure-a-software-escrow-agreement.html">
            <div class="guide__box">
              <div class="guide__box-header2">
                <img class="guide__box-image2" src="/images/video-guides/how-to-configure.webp" alt="How to Configure a Software Escrow Agreement Illustration" loading="lazy"/>
              </div>
              <div class="guide__box-content">
                <h3 class="guide__box-title min-h-auto">{{ site.data[page.lang]['video_guides']['how_to_configure'] }}</h3>
                <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['video_guides']['learn_how_to_configure'] }} </p>

                <div class="guide__box-footer flex-wrap">
                  <div class="guide__box-time d-flex align-items-center"><img class="mr-2" src="/images/video-guides/clock.svg" alt="Clock Icon" loading="lazy"/>2:36</div>
                  <p class="guide__box-info-text my-2">*{{ site.data[page.lang]['video_guides']['video_available'] }} </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <a class="underline-none darken-effect" href="/how-to-deposit-your-assets-into-escrow.html">
            <div class="guide__box">
              <div class="guide__box-header2">
                <img class="guide__box-image2" src="/images/video-guides/how-to-deposit.webp" alt="How to Deposit Your Assets Into Escrow Illustration" loading="lazy"/>
              </div>
              <div class="guide__box-content">
                <h3 class="guide__box-title min-h-auto">{{ site.data[page.lang]['video_guides']['how_to_deposit'] }}</h3>
                <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['video_guides']['learn_how_to_automate'] }} </p>

                <div class="guide__box-footer flex-wrap">
                  <div class="guide__box-time d-flex align-items-center"><img class="mr-2" src="/images/video-guides/clock.svg" alt="Clock Icon" loading="lazy"/>2:02</div>
                  <p class="guide__box-info-text my-2">*{{ site.data[page.lang]['video_guides']['video_available'] }} </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-12">
          <a class="underline-none darken-effect" href="/what-is-a-software-escrow-agreement.html">
            <div class="guide__box">
              <div class="guide__box-header2">
                <img class="guide__box-image2" src="/images/video-guides/what-is-a-software-escrow.webp" alt="What is a Software Escrow Agreement Illustration" loading="lazy"/>
              </div>
              <div class="guide__box-content">
                <h3 class="guide__box-title min-h-auto">{{ site.data[page.lang]['video_guides']['what_is_a'] }}</h3>
                <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['video_guides']['discover_how'] }} </p>

                <div class="guide__box-footer flex-wrap">
                  <div class="guide__box-time d-flex align-items-center"><img class="mr-2" src="/images/video-guides/clock.svg" alt="Clock Icon" loading="lazy"/>1:42</div>
                  <p class="guide__box-info-text my-2">*{{ site.data[page.lang]['video_guides']['video_available'] }} </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <a class="underline-none darken-effect" href="/all-new-online-platform.html">
            <div class="guide__box min-h-auto">
              <div class="guide__box-header2">
                <img class="guide__box-image2" src="/images/video-guides/all-new-online-platform.webp" alt="All New Online Platform Illustration" loading="lazy"/>
              </div>
              <div class="guide__box-content">
                <h3 class="guide__box-title min-h-auto">{{ site.data[page.lang]['video_guides']['all_new'] }}</h3>
                <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['video_guides']['exciting_news'] }} </p>

                <div class="guide__box-footer flex-wrap">
                  <div class="guide__box-time d-flex align-items-center"><img class="mr-2" src="/images/video-guides/clock.svg" alt="Clock Icon" loading="lazy"/>1:23</div>
                  <p class="guide__box-info-text my-2">*{{ site.data[page.lang]['video_guides']['video_available'] }} </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-12">
          <a class="underline-none darken-effect" href="/what-is-software-escrow.html">
            <div class="guide__box min-h-auto">
              <div class="guide__box-header2">
                <img class="guide__box-image2" src="/images/video-guides/what-is-software-escrow.webp" alt="What is Software Escrow Illustration" loading="lazy"/>
              </div>
              <div class="guide__box-content">
                <h3 class="guide__box-title min-h-auto">{{ site.data[page.lang]['video_guides']['what_is_software'] }}</h3>
                <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['video_guides']['discover_the_importance'] }} </p>

                <div class="guide__box-footer flex-wrap">
                  <div class="guide__box-time d-flex align-items-center"><img class="mr-2" src="/images/video-guides/clock.svg" alt="Clock Icon" loading="lazy"/>1:51</div>
                  <p class="guide__box-info-text my-2">*{{ site.data[page.lang]['video_guides']['video_available'] }} </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <a class="underline-none darken-effect" href="/how-to-configure-saas-escrow.html">
            <div class="guide__box">
              <div class="guide__box-header2">
                <img class="guide__box-image2" src="/images/video-guides/how-to-configure-saas.webp" alt="How to Configure SaaS Escrow Agreement Illustration" loading="lazy"/>
              </div>
              <div class="guide__box-content">
                <h3 class="guide__box-title min-h-auto">{{ site.data[page.lang]['video_guides']['how_to_configure_saas'] }}</h3>
                <p class="guide__box-subtitle mt-4">{{ site.data[page.lang]['video_guides']['in_this_video_we'] }} </p>

                <div class="guide__box-footer flex-wrap">
                  <div class="guide__box-time d-flex align-items-center"><img class="mr-2" src="/images/video-guides/clock.svg" alt="Clock Icon" loading="lazy"/>2:04</div>
                  <p class="guide__box-info-text my-2">*{{ site.data[page.lang]['video_guides']['video_available'] }} </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-12">
          
        </div>
      </div>
    </div>

    <!-- Section -->
    {% include demo-intro.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  {% include title-tags.html %}

</body>