<body>
  <div class="resources bg-alice-blue">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="header__content overflow-hidden">
      <div class="header__bg2 pb-4">
        <div class="container">
          <p class="product__title mx-auto text-air-force-blue mt-4">Guide & Informations</p>
          <div class="product__header-devider mx-auto"></div>
          <h1 class="header__title mx-auto text-cerulean mt-3">{{ site.data[page.lang]['data_escrow']['data_escrow'] }}</h1>
          <p class="header__subtitle mx-auto mt-4">{{ site.data[page.lang]['data_escrow']['learn_how'] }}</p>
        </div>
      </div>
    </div>
    <!-- First Section -->
    <div class="container section-medium">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <p class="info__source-title mt-4">{{ site.data[page.lang]['data_escrow']['what_is_data'] }}</p>
          <p class="info__source-subtitle mt-4 mb-5">{{ site.data[page.lang]['data_escrow']['without_the'] }}</p>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="info__box-definition mx-auto mt-5">
            <p class="info__definition-title">{{ site.data[page.lang]['data_escrow']['definition'] }}</p>
            <p class="info__definition-subtitle mt-2">{{ site.data[page.lang]['data_escrow']['data_escrow_is'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Second Section -->
    <div class="info__section-container mx-auto">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <h2 class="info__section-title mt-5">{{ site.data[page.lang]['data_escrow']['who_is_data'] }}</h2>
            <p class="info__section-subtitle">{{ site.data[page.lang]['data_escrow']['any_company'] }}</p>
          </div>
          <div class="col-md-5 col-sm-12">
            <img class="image-style mt-4 p-4" src="/images/resources-page/data-escrow-image.svg"/>
          </div>
        </div>
        <div class="info__section-devider"></div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h2 class="info__section-title mt-3">{{ site.data[page.lang]['data_escrow']['why_do_people'] }}</h2>
            <p class="info__section-subtitle2">{{ site.data[page.lang]['data_escrow']['when_you_build'] }}</p>
          </div>
          <div class="col-md-6 col-sm-12">
            <h2 class="info__section-title mt-3">{{ site.data[page.lang]['data_escrow']['what_can_cause'] }}</h2>
            <p class="info__section-subtitle3">{{ site.data[page.lang]['data_escrow']['data_loss'] }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Third Section -->
    <div class="container section-medium">
      <div class="row column-reverse-mobile">
        <div class="col-md-6 col-sm-12">
          <img class="image-style" src="/images/features-page/escrow-management.svg"/>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2 class="protect__title ml-auto">{{ site.data[page.lang]['data_escrow']['data_escrow_for_agile'] }}</h2>
          <p class="protect__subtitle ml-auto mt-3">{{ site.data[page.lang]['data_escrow']['discover_how'] }}</p>
          <a class="button btn-secondary-large ml-auto my-5" href="resources.html">
            {{ site.data[page.lang]['index']['learn_more'] }}
          </a>
        </div>
      </div>
    </div>
    <!-- Fourth Section -->
    <div class="section-small px-3 features my-5">
      <div class="explore__section-container2 mx-auto">
        <div class="container">
          <h2 class="discover__title">{{ site.data[page.lang]['data_escrow']['how_does'] }}</h2>
          <p class="discover__subtitle2 mx-auto mt-4">{{ site.data[page.lang]['data_escrow']['as_a_trusted'] }}</p>
        </div>
      </div>
      <div class="verification__guide">
        {% include sample-escrow.html %}
      </div>
      <a class="button btn-secondary-lg mb-5 mx-auto" href="resources.html">
        {{ site.data[page.lang]['source_escrow']['see_all_resources'] }}
      </a>
    </div>
    <!-- Fifth Section -->
    <div class="section-medium px-3 features my-5">
      <div class="explore__section-container mx-auto">
        <div class="container">
          <h2 class="discover__title">{{ site.data[page.lang]['resources']['explore_the_codekeeper'] }}</h2>
          <p class="discover__subtitle mx-auto mt-4">{{ site.data[page.lang]['resources']['visit_our_blog'] }}</p>
          <div class="row mt-4">
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="explore__box" href="https://blog.codekeeper.co/reducing-enterprise-risk-using-source-code" target="_blank">
                <img class="explore__box-image" src="/images/resources-page/blog-image1.svg"/>
                <p class="explore__box-text">Reducing Enterprise Risk using Source Code Escrow </p>
              </a>
            </div>
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="explore__box" href="https://blog.codekeeper.co/5-tips-for-securing-your-development-outsourcing" target="_blank">
                <img class="explore__box-image" src="/images/resources-page/blog-image2.svg"/>
                <p class="explore__box-text">5 Tips for securing your development outsourcing </p>
              </a>
            </div>
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="explore__box" href="https://blog.codekeeper.co/best-practices-for-software-escrow-in-licensing-agreements" target="_blank">
                <img class="explore__box-image" src="/images/resources-page/blog-image3.svg"/>
                <p class="explore__box-text">Best Practices for Software Escrow in Licensing Agreements</p>
              </a>
            </div>
            <div class="col-md-3 col-sm-12 content-center mt-4">
              <a class="explore__box" href="https://blog.codekeeper.co/how-i-saved-55000-on-outsourcing" target="_blank">
                <img class="explore__box-image" src="/images/resources-page/blog-image4.svg"/>
                <p class="explore__box-text">How I Saved $50,000 on Outsourcing </p>
              </a>
            </div>
          </div>
          <a class="button btn-bondi-blue my-5 mx-auto" href="https://blog.codekeeper.co" target="_blank">
            {{ site.data[page.lang]['resources']['see_all_articles'] }} 
          </a>
        </div>
      </div>
    </div>
    <!-- Sixth Section -->
    {% include secure-assets.html %}
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}

  <script>
    $( document ).ready(function() {
      $.ajax('https://ipapi.co/json')
      .then(
        function success(response) {
          if (response.timezone && (response.timezone).includes('Europe') && (response.currency !== 'GBP') && (response.currency !== 'CHF')) {
            $('.setup-fee').text('€249');
            $('#developer-monthly').text('€79');
          }
          else if (response.currency === 'GBP') {
            $('.setup-fee').text('£199');
            $('#developer-monthly').text('£59');
          }
          else if (response.currency === 'INR') {
            $('.setup-fee').text('₹15,000');
            $('#developer-monthly').text('₹5,000');
          }
          else if (response.currency === 'AUD') {
            $('.setup-fee').text('A$299');
            $('#developer-monthly').text('A$99');
          }
          else if (response.currency === 'SGD') {
            $('.setup-fee').text('$299');
            $('#developer-monthly').text('$99');
          }
          else if (response.currency === 'ZAR') {
            $('.setup-fee').text('R3,499');
            $('#developer-monthly').text('R1,099');
          }
          else if (response.currency === 'CHF') {
            $('.setup-fee').text('CHF275');
            $('#developer-monthly').text('CHF89');
          }
          else if (response.currency === 'CAD') {
            $('.setup-fee').text('CA$299');
            $('#developer-monthly').text('CA$99');
          }
        },
        function fail(data, status) {
            console.log('Request failed.  Returned status of',
                        status);
        }
      )
      .catch((e) => console.log(e))
    });
  </script>
</body>