<body>
  <!--  Clickcease.com tracking-->
  <script type='text/javascript'>var script = document.createElement('script');
    script.async = true; script.type = 'text/javascript';
    var target = 'https://www.clickcease.com/monitor/stat.js';
    script.src = target;var elem = document.head;elem.appendChild(script);
    </script>
    <noscript>
    <a href='https://www.clickcease.com' rel='nofollow'><img src='https://monitor.clickcease.com/stats/stats.aspx' alt='ClickCease'/></a>
    </noscript>
    <!--  Clickcease.com tracking-->

  <div class="contact bg-white">
    <!-- Navigation -->
    {% include navigation.html %}
    <!-- Header -->
    <div class="container section-large">
      <iframe class="video-player" src="https://www.youtube.com/embed/mcj37dtxrYU?si=BYnoAEGUpMkt3P6s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="header__video-title mt-4">
        What is Software Escrow
      </p>
      <p class="header__description-text mt-3 pb-4">
        Discover the importance of software escrow in safeguarding your business continuity. Codekeeper simplifies the process without the need for lawyers, offering end-to-end encryption. Trusted by Fortune 500 companies, don't miss out on this vital protection. Book a free demo and learn more about software escrow today.
      </p>

      <div class="row">
        <div class="col-md-7 col-sm-12 faq">
          <div class="header__timestamp-border mt-5">
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:01</p>
              <p class="header__timestamp-text">Hi there. I'm Jonathan from Codekeeper. </p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:04</p>
              <p class="header__timestamp-text">You may have wondered before: what is software escrow, and how does it work exactly? </p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:10</p>
              <p class="header__timestamp-text">In this video, we will be walking you through a simple explanation of how software escrow can help protect your business continuity in the event of a disaster. </p>
            </div>
            <div class="d-flex mt-4">
              <p class="header__timestamp">00:20</p>
              <p class="header__timestamp-text">Software escrow is a service provided by agents like Codekeeper that allows you to place mission-critical software that your business relies on on a daily basis into escrow. </p>
            </div>
            
            <div class="" id="questions">
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:31</p>
                <p class="header__timestamp-text">Let's say your software provider goes out of business, or is bought out by your competitor. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:36</p>
                <p class="header__timestamp-text">Now you have no access to the software you need to run your business. What do you do? This is where software escrow comes in.  </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:46</p>
                <p class="header__timestamp-text">When you place your mission-critical software into escrow, you will always have access to it in unforeseen circumstances.This means your business can operate as usual, without risking any loss in revenue. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">00:58</p>
                <p class="header__timestamp-text">We help you set up an escrow agreement, negotiate the terms of the agreement, and step in as a mediator when a release event is triggered. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:07</p>
                <p class="header__timestamp-text">No need for lawyers or unnecessary fees. We ensure that your source code is kept safe by implementing end-to-end encryption protocols. Encryption keys are kept safe in our vaults and only come out when a release event is triggered. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:23</p>
                <p class="header__timestamp-text">We are the chosen software escrow provider of various Fortune500 companies and pride ourselves in providing an all-inclusive concierge service offering. Now the question remains, can you really afford not to invest in software escrow?   </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:41</p>
                <p class="header__timestamp-text">Visit our website to find out more about software escrow and book your free demo today. </p>
              </div>
              <div class="d-flex mt-4">
                <p class="header__timestamp">01:47</p>
                <p class="header__timestamp-text">Thanks for watching.</p>
              </div>
            </div>
            <p class="questions-text mt-1 pt-4 btn-offer-style openLines q-border content-center" id="openQuestions">
              <span class="text-dark-cyan" id='show'>Show Transcript +</span>
              <span class="text-dark-cyan" id='hide'>Hide Transcript -</span>
            </p>
          </div>
          <div class="header__description-box mt-5 d-flex align-items-center justify-content-between flex-wrap">
            <p class="header__description-text my-3">
              Learn more about Codekeeper
            </p>
            <a class="button btn-cerulean3 how-it-works-href" href="how-it-works.html">
              Learn more
            </a>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/an-introduction-to-codekeeper-software-escrow-solutions.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/jf9P1GXFWdo?si=MFVktG84kH8keD_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">An Introduction to Codekeeper - Software Escrow Solutions</p>
          </a>
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/all-new-online-platform.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/bo5nKXqAwuk?si=qpAFBEbNBxrwwaSp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">All New Online Platform</p>
          </a>
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/how-to-configure-a-software-escrow-agreement.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/xUM9KZEl17Q?si=u-8hgdRvC1eiZvOG" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">How to Configure a Software Escrow Agreement</p>
          </a>
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/how-to-deposit-your-assets-into-escrow.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/GgOXn1KckZA?si=o0HQvT8nyqFW4xvo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">How to Deposit Your Assets Into Escrow (Automated)</p>
          </a>
          <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/what-is-a-software-escrow-agreement.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/U3j7Nuh12oU?si=RrZIGTbmUlUkPjTX" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">What is a Software Escrow Agreement</p>
          </a>
          <!-- <a class="d-flex mt-5 underline-none wrap-on-mobile" href="/what-is-software-escrow.html">
            <iframe class="video-player-small mr-3" src="https://www.youtube.com/embed/mcj37dtxrYU?si=BYnoAEGUpMkt3P6s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="header__timestamp-text">What is Software Escrow</p>
          </a> -->
        </div>
      </div>
      
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </div>
  <!-- Snippets -->
  {% include snippets.html %}
  <script>
    $('#questions').hide();
    $('#hide').hide();

    $(".openLines").click(function(){      
        if ($('#hide').is(":visible")) {
          $('#hide').hide();
          $('#show').show();
        }
        else {
          $('#show').hide();
          $('#hide').show();
        }
        $('#questions').toggle(300);
        //  $("div").toggle(300);
    });
  </script>
  <script>
    var pathname = location.pathname;
  
    if (pathname.includes('/what-is-software-escrow.html')) {
    document.title = "What is Software Escrow"
    document.getElementsByTagName('meta')["description"].content = "Discover the importance of software escrow in safeguarding your business continuity. Codekeeper simplifies the process without the need for lawyers, offering end-to-end encryption. Trusted by Fortune 500 companies, don't miss out on this vital protection. Book a free demo and learn more about software escrow today.";
  }
  </script>
  <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
</body>