
.btn-primary {
  @include button-variant($sinbad, $sinbad, $active-background: darken($sinbad, 7.5%), $active-border: darken($sinbad, 10%));
  color: $white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 230px;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  &:hover {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}

.btn-secondary {
  @include button-variant($dark-blue, $dark-blue, $active-background: darken($dark-blue, 7.5%), $active-border: darken($dark-blue, 10%));
  color: $white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 253px;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  &:hover {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}

.btn-secondary-sm {
  @include button-variant($dark-blue, $dark-blue, $active-background: darken($dark-blue, 7.5%), $active-border: darken($dark-blue, 10%));
  color: $white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 200px;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  letter-spacing: 0px;
  &:hover {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}

.btn-white {
  @include button-variant($white, $white, $active-background: darken($white, 7.5%), $active-border: darken($white, 10%));
  color: $dark-blue !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 253px;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  &:hover {
    color: $dark-blue;
    text-decoration: none;
    cursor: pointer;
  }
}

.btn-white-lg {
  @include button-variant($white, $white, $active-background: darken($white, 7.5%), $active-border: darken($white, 10%));
  color: #2D4379 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 326px;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  letter-spacing: 0px;
  &:hover {
    color: $dark-blue;
    text-decoration: none;
    cursor: pointer;
  }
}

.btn-primary-md {
  @include button-variant($sinbad, $sinbad, $active-background: darken($sinbad, 7.5%), $active-border: darken($sinbad, 10%));
  color: $white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 223px;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  &:hover {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}

.btn-primary-lg {
  @include button-variant($sinbad, $sinbad, $active-background: darken($sinbad, 7.5%), $active-border: darken($sinbad, 10%));
  color: $white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 253px;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  &:hover {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}

.btn-secondary-outline {
  @include button-variant(transparent, transparent, $active-background: darken($white, 4.5%), $active-border: darken($white, 10%));
  color: $dark-blue !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid $dark-blue !important;
  font-weight: bold;
  font-family: 'Muli', sans-serif !important;
  font-size: 18px;
  &:hover {
    color: $dark-blue !important;
    background-color: darken($white, 4.5%);
    text-decoration: none;
    cursor: pointer;
  }
}

.btn-outline-sm {
  @include button-variant(transparent, transparent, $active-background: darken($white, 4.5%), $active-border: darken($white, 10%));
  color: $night-blue !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid $night-blue !important;
  font-weight: bold;
  font-family: 'Muli', sans-serif !important;
  font-size: 18px;
  letter-spacing: 0px;
  &:hover {
    color: $white !important;
    background-color: $night-blue;
    text-decoration: none;
    cursor: pointer;
  }
}