.btn-white-default {
  @include button-variant($white, $white, $active-background: darken($white, 7.5%), $active-border: darken($white, 10%));
  color: $gray-500;
  &:hover {
    color: $gray-500;
    text-decoration: none;
  }
}

.btn-primary {
  @include button-variant($turquoise, $turquoise, $active-background: darken($turquoise, 7.5%), $active-border: darken($turquoise, 10%));
  color: $white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: max-content;
  min-width: 225px;
  padding: 0 20px;
  border-radius: 30px;
  font-weight: bold;
  font-family: 'Gilroy Bold', sans-serif;
  font-size: 22px;
  &:hover {
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
}